Repository werdnum/family-assistant: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt, biome-format, eslint

ruff-check:
  name: ruff-check
  entry: ruff check --fix --preview
  language: system

ruff-format:
  name: ruff-format
  entry: ruff format --preview
  language: system

basedpyright:
  name: basedpyright
  entry: basedpyright
  language: system
  pass_filenames: false

code-conformance:
  name: code-conformance
  entry: .ast-grep/check-conformance.py
  language: system
  pass_filenames: true

mdformat:
  name: mdformat
  entry: mdformat --wrap 100
  language: system

yamlfmt:
  name: yamlfmt
  language: golang
  entry: yamlfmt
  additional_dependencies:
  - github.com/google/yamlfmt/cmd/yamlfmt@v0.17.0

biome-format:
  name: biome-format
  entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx @biomejs/biome format --write "${files[@]}"' --
  language: system
  pass_filenames: true

eslint:
  name: eslint
  entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx eslint --fix "${files[@]}"' --
  language: system
  pass_filenames: true

Address review round 2: tighten profile handling on deferred/approved paths
  src/family_assistant/task_worker.py
  src/family_assistant/web/routers/automations_api.py
  tests/functional/automations/test_automations_execution.py
  tests/functional/web/api/test_automations_crud_api.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Document web API and schedule_action provenance in the design doc
  docs/design/automation_provenance.md
Due: mdformat

Address review: make profile-consistency guarantee hold on all paths
  alembic/versions/2026_06_11-add_confirmation_processing_profile.py
  src/family_assistant/services/confirmation_service.py
  src/family_assistant/services/deferred_tool_confirmation.py
  src/family_assistant/storage/confirmation_requests.py
  src/family_assistant/storage/repositories/confirmation_requests.py
  src/family_assistant/storage/repositories/schedule_automations.py
  src/family_assistant/task_worker.py
  src/family_assistant/tools/automations.py
  src/family_assistant/web/routers/automations_api.py
  tests/functional/automations/test_automations_crud.py
  tests/functional/automations/test_automations_execution.py
  tests/functional/web/api/test_automations_crud_api.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Inherit automation owner as acting user during script execution
  src/family_assistant/task_worker.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Address review round 3: gate PATCH script validation, record confirmation origin
  alembic/versions/2026_06_11-add_confirmation_origin.py
  src/family_assistant/services/confirmation_service.py
  src/family_assistant/services/deferred_tool_confirmation.py
  src/family_assistant/storage/confirmation_requests.py
  src/family_assistant/storage/repositories/confirmation_requests.py
  src/family_assistant/task_worker.py
  src/family_assistant/web/routers/automations_api.py
  tests/functional/automations/test_automations_execution.py
  tests/functional/web/api/test_automations_crud_api.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Validate stored-script configs on tool updates
  src/family_assistant/tools/automations.py
  tests/functional/automations/test_automations_crud.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Address review round 5: stored-script profile validation, script payload interface
  docs/design/automation_provenance.md
  src/family_assistant/actions.py
  src/family_assistant/tools/automations.py
  src/family_assistant/tools/tasks.py
  src/family_assistant/web/routers/automations_api.py
  tests/functional/automations/test_automations_execution.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Wake pool workers on enqueue commit, not before the row is visible
  src/family_assistant/storage/repositories/tasks.py
  tests/functional/tasks/test_task_worker_pool.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Fix OTEL env auto-configuration
  src/family_assistant/__init__.py
  src/family_assistant/config_loader.py
  src/family_assistant/otel_env.py
  tests/unit/test_config_loader.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Fix OTEL env auto-configuration (#899)
  src/family_assistant/__init__.py
  src/family_assistant/config_loader.py
  src/family_assistant/otel_env.py
  tests/unit/test_config_loader.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Disable OTel auto exporters during startup
  src/family_assistant/__init__.py
  src/family_assistant/config_loader.py
  src/family_assistant/otel_env.py
  tests/unit/test_config_loader.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

fix(storage): atomic SQLite upserts and stop StaticPool clobbering writes
  src/family_assistant/storage/base.py
  src/family_assistant/storage/vector.py
  tests/functional/indexing/test_indexing_events.py
  tests/functional/vector_search/test_vector_storage.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

fix(web): commit streaming turn before publishing turn_ended
  src/family_assistant/web/turn_producer.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

fix(frontend): guard self-turn reload and retry transient subscribe errors
  frontend/src/chat/ChatApp.tsx
  frontend/src/chat/__tests__/ChatApp.test.tsx
  frontend/src/chat/__tests__/ResumableStreaming.test.tsx
  frontend/src/chat/__tests__/useLiveMessageUpdates.test.tsx
  frontend/src/chat/useLiveMessageUpdates.ts
  frontend/src/chat/useStreamingResponse.js
  frontend/src/test/mocks/handlers.ts
Due: biome-format, eslint

test(web): run mobile chat input visibility test with function-scoped fixture
  tests/functional/web/ui/test_chat_basic.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

test(indexing): poll semantic query in notes e2e to fix postgres flake
  tests/functional/indexing/test_notes_basic.py
  tests/helpers.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Disable OTel auto exporters during startup (#900)
  src/family_assistant/__init__.py
  src/family_assistant/config_loader.py
  src/family_assistant/otel_env.py
  tests/unit/test_config_loader.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Use prebuilt yamlfmt in pre-commit
  .pre-commit-config.yaml
Due: yamlfmt

test(indexing): wait for spawned embed tasks in e2e tests to fix postgres flakes
  tests/functional/indexing/test_document_advanced.py
  tests/functional/indexing/test_document_basic.py
  tests/functional/indexing/test_notes_basic.py
  tests/helpers.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Fix layout jump when hovering over assistant message content
  frontend/src/chat/Thread.tsx
Due: biome-format, eslint

Add Playwright regression test for message hover layout jump
  frontend/src/chat/Thread.tsx
  tests/functional/web/ui/test_chat_hover_layout.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, biome-format, eslint

Fix action bar layout shift when hovering non-last messages (#904)
  frontend/src/chat/Thread.tsx
  tests/functional/web/ui/test_chat_hover_layout.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, biome-format, eslint

Fix delegated profile rows in web chat
  src/family_assistant/storage/repositories/message_history.py
  src/family_assistant/web/routers/chat_api.py
  tests/functional/web/ui/test_conversation_messages.py
  tests/functional/web/ui/test_conversations_list.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Fix delegated profile rows in web chat (#905)
  src/family_assistant/storage/repositories/message_history.py
  src/family_assistant/web/routers/chat_api.py
  tests/functional/web/ui/test_conversation_messages.py
  tests/functional/web/ui/test_conversations_list.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Use zero-code OpenTelemetry configuration
  Dockerfile
  defaults.yaml
  deploy/README.md
  docs/design/opentelemetry-observability.md
  pyproject.toml
  src/family_assistant/__init__.py
  src/family_assistant/__main__.py
  src/family_assistant/config_loader.py
  src/family_assistant/config_models.py
  src/family_assistant/observability.py
  src/family_assistant/otel_env.py
  tests/unit/test_config_loader.py
  tests/unit/test_observability.py
  uv.lock
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt

iOS: auto-reconnect chat live-updates stream after a drop
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatViewModel.swift
  ios/FamilyAssistant/FamilyAssistantTests/ChatViewModelTests.swift
Due: none

iOS: validate stream connection before returning, so backoff actually grows
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatAPIClient.swift
  ios/FamilyAssistant/FamilyAssistantTests/ChatAPIClientTests.swift
Due: none

fix(ios): keep TestFlight build numbers monotonic after Xcode Cloud cutover
  docs/design/ios_testflight_delivery.md
  ios/FamilyAssistant/ci_scripts/ci_pre_xcodebuild.sh
  ios/testflight-release.sh
Due: mdformat

fix(ios): bump MARKETING_VERSION to 1.1 so TestFlight installs auto-builds
  docs/design/ios_testflight_delivery.md
  ios/FamilyAssistant/FamilyAssistant.xcodeproj/project.pbxproj
  ios/FamilyAssistant/ci_scripts/ci_pre_xcodebuild.sh
  ios/testflight-release.sh
Due: mdformat

Add OpenAI-compatible embedding provider (works with OpenRouter)
  AGENTS.md
  defaults.yaml
  src/family_assistant/assistant.py
  src/family_assistant/config_loader.py
  src/family_assistant/config_models.py
  src/family_assistant/embeddings.py
  tests/unit/test_openai_embedding_generator.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt

Only send dimensions to OpenAI embeddings when explicitly configured
  AGENTS.md
  src/family_assistant/assistant.py
  tests/unit/test_openai_embedding_generator.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Route annotation requests to highlight_image, not transform_image
  defaults.yaml
Due: yamlfmt

Instruct artist profile to use transform_image for reference images
  defaults.yaml
  docs/user/image_tools.md
Due: mdformat, yamlfmt

Detect explicit embedding_dimensions from raw config inputs
  src/family_assistant/config_loader.py
  tests/unit/test_config_loader.py
  tests/unit/test_openai_embedding_generator.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Add TestFlight/App Review sandbox, running entirely on OpenRouter
  deploy/testflight-sandbox/.env.example
  deploy/testflight-sandbox/README.md
  deploy/testflight-sandbox/config.yaml
  deploy/testflight-sandbox/dex/Dockerfile
  deploy/testflight-sandbox/dex/config.yaml
  deploy/testflight-sandbox/docker-compose.yaml
  deploy/testflight-sandbox/render.yaml
Due: mdformat, yamlfmt

fix(sandbox): dex hashFromEnv + asyncpg DATABASE_URL scheme
  deploy/testflight-sandbox/dex/config.yaml
  deploy/testflight-sandbox/docker-compose.yaml
Due: yamlfmt

fix(sandbox): dex gomplate templating, CONFIG_FILE env, postgres asyncpg
  deploy/testflight-sandbox/dex/config.yaml
  deploy/testflight-sandbox/render.yaml
  src/family_assistant/__main__.py
  src/family_assistant/storage/base.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, yamlfmt

Path conditions:
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  basedpyright: any of: \.py$
  code-conformance: any of: \.py$
  mdformat: any of: \.(md|markdown|mdown)$, but not: (?x)^( 
  docs/python-telegram-bot-abridged\.md|
  docs/python-telegram-bot-abridged-filtered\.md
)$

  yamlfmt: any of: \.(yaml|yml)$
  biome-format: any of: ^frontend/.*\.(js|jsx|ts|tsx|json)$, but not: ^frontend/(dev-dist/|package-lock\.json$)
  eslint: any of: ^frontend/.*\.(js|jsx|ts|tsx)$
