Repository werdnum/family-assistant: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt, biome-format, eslint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-check
        name: ruff-check
        entry: ruff check --fix --preview
        language: system
        types: [python]
      - id: ruff-format
        name: ruff-format
        entry: ruff format --preview
        language: system
        types: [python]
  - repo: local
    hooks:
      - id: basedpyright
        name: basedpyright
        entry: basedpyright
        language: system
        types: [python]
        pass_filenames: false
      - id: code-conformance
        name: code-conformance
        entry: .ast-grep/check-conformance.py
        language: system
        types: [python]
        pass_filenames: true
  - repo: local
    hooks:
      - id: mdformat
        name: mdformat
        entry: mdformat --wrap 100
        language: system
        types: [markdown]
        exclude: "(?x)^( \n  docs/python-telegram-bot-abridged\\.md|\n  docs/python-telegram-bot-abridged-filtered\\.md\n)$\n"
  - repo: local
    hooks:
      - id: yamlfmt
        name: yamlfmt
        language: golang
        entry: yamlfmt
        additional_dependencies:
          - github.com/google/yamlfmt/cmd/yamlfmt@v0.17.0
        types: [yaml]
  - repo: local
    hooks:
      - id: biome-format
        name: biome-format
        entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx @biomejs/biome format --write "${files[@]}"' --
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx|json)$
        exclude: ^frontend/(dev-dist/|package-lock\.json$)
        pass_filenames: true
      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx eslint --fix "${files[@]}"' --
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx)$
        pass_filenames: true

Make TurnControl tests robust under full-suite parallel load
  frontend/src/chat/__tests__/TurnControl.test.tsx
Due: biome-format, eslint

Address Codex round 3: surface stop failures, classify steer outcomes, serialize fallback
  frontend/src/chat/ChatApp.tsx
  frontend/src/chat/Thread.tsx
  frontend/src/chat/__tests__/TurnControl.test.tsx
  frontend/src/chat/chatControls.ts
  frontend/src/chat/useStreamingResponse.js
  tests/functional/web/api/test_chat_turn_control.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, biome-format, eslint

Address Codex round 4: defer follow-ups past hook cleanup, recover un-echoed steers
  frontend/src/chat/ChatApp.tsx
  frontend/src/chat/__tests__/TurnControl.test.tsx
Due: biome-format, eslint

Clear queued/awaiting steer state on conversation change
  frontend/src/chat/ChatApp.tsx
Due: biome-format, eslint

Address Codex round 5: gate steer recovery on real completion, retry Stop 404s, recover all steers
  frontend/src/chat/ChatApp.tsx
  frontend/src/chat/__tests__/TurnControl.test.tsx
  frontend/src/chat/useStreamingResponse.js
Due: biome-format, eslint

Address Codex round 6: retry steer 404s, guard deferred follow-up on conversation switch
  frontend/src/chat/ChatApp.tsx
  frontend/src/chat/__tests__/TurnControl.test.tsx
  frontend/src/chat/useStreamingResponse.js
Due: biome-format, eslint

Address Codex round 7: don't resend steers after Stop/failure
  frontend/src/chat/ChatApp.tsx
  frontend/src/chat/__tests__/TurnControl.test.tsx
Due: biome-format, eslint

Address Codex round 8: persist a durable row for stopped turns
  src/family_assistant/web/turn_producer.py
  tests/functional/web/api/test_chat_turn_control.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Fix CI flake: reject-confirmations tests use a completed turn
  tests/functional/web/api/test_chat_turn_control.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Address Codex round 10: persist stopped reply before publishing turn_ended
  src/family_assistant/web/turn_producer.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Address Codex round 11: don't wedge a turn cancelled before its producer runs; reject confirmations as turn owner
  src/family_assistant/web/conversation_stream_hub.py
  src/family_assistant/web/routers/chat_api.py
  tests/functional/web/api/test_chat_turn_control.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Address Codex round 12: profile-tag stopped replies; persist user message before the cancellable producer
  src/family_assistant/processing/service.py
  src/family_assistant/web/routers/chat_api.py
  src/family_assistant/web/turn_producer.py
  tests/functional/web/api/test_chat_turn_control.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Address Codex round 13: serialize user insert with turn registration; persist stopped marker on pre-start cancel
  src/family_assistant/web/conversation_stream_hub.py
  src/family_assistant/web/routers/chat_api.py
  src/family_assistant/web/turn_producer.py
  tests/functional/web/api/test_chat_turn_control.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Address Codex round 14 + de-flake turn-control tests
  src/family_assistant/web/conversation_stream_hub.py
  tests/functional/web/api/test_chat_turn_control.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Address Codex round 15: end the hub turn if the pre-producer user insert fails
  src/family_assistant/web/routers/chat_api.py
  tests/functional/web/api/test_chat_turn_control.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Address Codex round 16: report durably-incomplete retries instead of silently showing the prompt
  frontend/src/chat/__tests__/ResumableStreaming.test.tsx
  frontend/src/chat/useStreamingResponse.js
  src/family_assistant/storage/repositories/message_history.py
  src/family_assistant/web/routers/chat_api.py
  tests/functional/web/api/test_chat_turn_control.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, biome-format, eslint

Address Codex round 17: only a terminal assistant row marks a retry complete
  src/family_assistant/storage/repositories/message_history.py
  src/family_assistant/web/routers/chat_api.py
  tests/functional/web/api/test_chat_turn_control.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Add Playwright e2e tests for web chat Stop and Steer
  tests/functional/web/ui/test_chat_stop_steer.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Gate the user-row reuse lookup to the web path (fix backend-sqlite regressions)
  src/family_assistant/processing/service.py
  src/family_assistant/web/turn_producer.py
  tests/functional/web/api/test_resumable_streaming.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

UCP: follow discovery redirects and support checkout-only merchants
  docs/user/USER_GUIDE.md
  src/family_assistant/services/ucp.py
  src/family_assistant/skills/builtin/shopping.md
  src/family_assistant/tools/shopping.py
  tests/unit/services/test_ucp_service.py
  tests/unit/tools/test_shopping_tools.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Address Codex: nest direct-checkout line items under `checkout`
  .claude/settings.json
  src/family_assistant/tools/shopping.py
  tests/unit/tools/test_shopping_tools.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Validate UCP request bodies against vendored spec schemas
  pyproject.toml
  src/family_assistant/tools/shopping.py
  tests/data/ucp/2026-04-08/SOURCE.md
  tests/data/ucp/2026-04-08/cart.json
  tests/data/ucp/2026-04-08/checkout.json
  tests/data/ucp/2026-04-08/mcp.openrpc.json
  tests/data/ucp/2026-04-08/types/line_item.json
  tests/unit/tools/test_shopping_tools.py
  tests/unit/tools/test_shopping_ucp_contract.py
  uv.lock
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Restore .claude/settings.json plugin config swept in by a broad git add
  .claude/settings.json
Due: none

Address Codex: clear checkout-only flag on endpoint fallback
  src/family_assistant/tools/shopping.py
  tests/unit/tools/test_shopping_tools.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Address Codex: treat a malformed redirect Location as a discovery miss
  src/family_assistant/services/ucp.py
  tests/unit/services/test_ucp_service.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

fix(ios): keep chat thread mounted across background to dodge suspend watchdog
  docs/design/ios-chat-layout-watchdog-crash.md
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatViewModel.swift
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatViews.swift
  ios/FamilyAssistant/FamilyAssistantTests/ChatViewModelTests.swift
Due: mdformat

Address Codex: bound the discovery redirect chain by one timeout budget
  src/family_assistant/services/ucp.py
  tests/unit/services/test_ucp_service.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Address Codex: bound the browser UCP probe redirect chain too
  src/family_assistant/tools/browser_dom.py
  tests/unit/tools/test_browser_dom.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Address Codex: convert the cart via cart_id on checkout handoff
  src/family_assistant/tools/shopping.py
  tests/unit/services/test_ucp_service.py
  tests/unit/tools/test_shopping_tools.py
  tests/unit/tools/test_shopping_ucp_contract.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Test the redirect budget through a public clock seam, not the private helper
  src/family_assistant/services/ucp.py
  tests/unit/services/test_ucp_service.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Address Codex: justify the cross-origin redirect coverage pragma
  tests/unit/services/test_ucp_service.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Harden iOS chat turn-control state and dedup steer helpers
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatViewModel.swift
Due: none

Add iOS chat stop and steer controls
  docs/user/USER_GUIDE.md
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatAPIClient.swift
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatViewModel.swift
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatViews.swift
  ios/FamilyAssistant/FamilyAssistant/Chat/SSEParser.swift
  ios/FamilyAssistant/FamilyAssistantTests/ChatAPIClientTests.swift
  ios/FamilyAssistant/FamilyAssistantTests/ChatViewModelTests.swift
  ios/FamilyAssistant/FamilyAssistantTests/SSEParserTests.swift
  prompts.yaml
Due: mdformat, yamlfmt

Address Codex review: scope steer echo/tracking to avoid cross-turn corruption
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatViewModel.swift
  ios/FamilyAssistant/FamilyAssistantTests/ChatViewModelTests.swift
Due: none

Address Codex re-review: four follow-up steer/stop edge cases
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatViewModel.swift
  ios/FamilyAssistant/FamilyAssistantTests/ChatViewModelTests.swift
Due: none

Reduce tool-schema bloat and expand on-demand defaults
  defaults.yaml
  prompts.yaml
  src/family_assistant/assistant.py
  src/family_assistant/processing/service.py
  src/family_assistant/tools/communication.py
  src/family_assistant/tools/notes.py
  src/family_assistant/tools/services.py
  src/family_assistant/web/routers/context_viewer.py
  src/family_assistant/web/routers/gemini_live_api.py
  tests/unit/processing/test_processing_fail_fast.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, yamlfmt

Decouple delegation catalog from per-profile prompt text
  prompts.yaml
  src/family_assistant/assistant.py
  src/family_assistant/processing/service.py
  src/family_assistant/web/routers/asterisk_live_api.py
  src/family_assistant/web/routers/context_viewer.py
  src/family_assistant/web/routers/gemini_live_api.py
  tests/unit/processing/test_processing_fail_fast.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, yamlfmt
