Repository werdnum/family-assistant: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, basedpyright, mdformat, biome-format, eslint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-check
        name: ruff-check
        entry: ruff check --fix --preview
        language: system
        types: [python]
      - id: ruff-format
        name: ruff-format
        entry: ruff format --preview
        language: system
        types: [python]
  - repo: local
    hooks:
      - id: basedpyright
        name: basedpyright
        entry: basedpyright
        language: system
        types: [python]
        pass_filenames: false
  - repo: local
    hooks:
      - id: mdformat
        name: mdformat
        entry: mdformat --wrap 100
        language: system
        types: [markdown]
        exclude: "(?x)^( \n  docs/python-telegram-bot-abridged\\.md|\n  docs/python-telegram-bot-abridged-filtered\\.md\n)$\n"
  - repo: https://github.com/google/yamlfmt
    rev: v0.17.0
    hooks:
      - id: yamlfmt
  - repo: local
    hooks:
      - id: biome-format
        name: biome-format
        entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx @biomejs/biome format --write "${files[@]}"' --
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx|json)$
        pass_filenames: true
      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx eslint --fix "${files[@]}"' --
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx)$
        pass_filenames: true

Fix code quality issues found in review
  frontend/src/chat/DynamicToolUI.tsx
  frontend/src/chat/__tests__/DynamicToolUI.test.tsx
  src/family_assistant/processing.py
Due: ruff-check, ruff-format, basedpyright, biome-format, eslint

Address PR review feedback for attachment handling
  frontend/src/chat/DynamicToolUI.tsx
  frontend/src/pages/History/components/MessageDisplay.jsx
  frontend/src/types/attachments.ts
Due: biome-format, eslint

Improve documentation for _get_file_extension_from_mime_type
  src/family_assistant/processing.py
Due: ruff-check, ruff-format, basedpyright

Fix React key warnings in tool UI attachment rendering
  frontend/src/chat/DynamicToolUI.tsx
  frontend/src/chat/ToolUI.jsx
  frontend/src/chat/__tests__/ChatApp.test.tsx
  frontend/src/chat/__tests__/DynamicToolUI.test.tsx
  frontend/src/chat/__tests__/ToolUI.test.jsx
Due: biome-format, eslint

Replace DIY hash with string-hash library for attachment keys
  frontend/package-lock.json
  frontend/package.json
  frontend/src/chat/__tests__/DynamicToolUI.test.tsx
  frontend/src/types/attachments.ts
Due: biome-format, eslint

Implement multimodal tool result support for chat and history UIs
  frontend/src/chat/ChatApp.tsx
  frontend/src/chat/DynamicToolUI.tsx
  frontend/src/chat/ToolUI.jsx
  frontend/src/chat/ToolWithConfirmation.tsx
  frontend/src/chat/types.ts
  frontend/src/chat/useStreamingResponse.js
  frontend/src/pages/History/components/MessageDisplay.jsx
  src/family_assistant/processing.py
  src/family_assistant/web/routers/chat_api.py
Due: ruff-check, ruff-format, basedpyright, biome-format, eslint

Remove notes tool from tools requiring confirmation
  config.yaml
Due: none

Update config.yaml
  config.yaml
Due: none

Enable Pylint lint groups and fix Ruff violations
  .claude/check_main_branch_commit.py
  .claude/format-files.py
  .claude/review-hook.py
  contrib/scrape_mcp.py
  pyproject.toml
  scripts/mark_postgres_tests.py
  scripts/migrate_tests_to_db_engine.py
  scripts/review-changes.py
  src/family_assistant/assistant.py
  src/family_assistant/events/processor.py
  src/family_assistant/indexing/processors/text_processors.py
  src/family_assistant/llm/__init__.py
  src/family_assistant/processing.py
  src/family_assistant/web/app_creator.py
  tests/conftest.py
  tests/functional/indexing/test_document_indexing.py
  tests/functional/web/pages/history_page.py
  tests/functional/web/test_template_utils.py
Due: ruff-check, ruff-format, basedpyright

Commit revuew suggestion:
  src/family_assistant/indexing/processors/text_processors.py
Due: ruff-check, ruff-format, basedpyright

review feedback: remove redundant != ""
  tests/functional/web/test_event_listeners_api.py
Due: ruff-check, ruff-format, basedpyright

Ensure tool execution records include processing profile
  src/family_assistant/processing.py
  src/family_assistant/task_worker.py
  src/family_assistant/tools/types.py
  tests/functional/telegram/test_telegram_send_message_tool.py
Due: ruff-check, ruff-format, basedpyright

Update types.py - formatting
  src/family_assistant/tools/types.py
Due: ruff-check, ruff-format, basedpyright

fix(processing): ensure reply thread history is complete
  src/family_assistant/processing.py
  tests/functional/test_processing_profiles.py
Due: ruff-check, ruff-format, basedpyright

Fix syntax
  src/family_assistant/tools/types.py
Due: ruff-check, ruff-format, basedpyright

Run ruff format automatically in lint hook
  .claude/lint-hook.py
Due: ruff-check, ruff-format, basedpyright

replace singleton set membership check with equality check
  .claude/lint-hook.py
Due: ruff-check, ruff-format, basedpyright

Centralize attachment size limits in config.yaml
  docs/design/multimodal-manipulation.md
Due: mdformat

Implement configurable attachment limits across tools and services
  config.yaml
  src/family_assistant/assistant.py
  src/family_assistant/services/attachments.py
  src/family_assistant/tools/documents.py
  src/family_assistant/tools/home_assistant.py
  src/family_assistant/tools/types.py
Due: ruff-check, ruff-format, basedpyright
