Repository werdnum/family-assistant: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt, biome-format, eslint

ruff-check:
  name: ruff-check
  entry: ruff check --fix --preview
  language: system

ruff-format:
  name: ruff-format
  entry: ruff format --preview
  language: system

basedpyright:
  name: basedpyright
  entry: basedpyright
  language: system
  pass_filenames: false

code-conformance:
  name: code-conformance
  entry: .ast-grep/check-conformance.py
  language: system
  pass_filenames: true

mdformat:
  name: mdformat
  entry: mdformat --wrap 100
  language: system

yamlfmt:
  name: yamlfmt
  language: golang
  entry: yamlfmt
  additional_dependencies:
  - github.com/google/yamlfmt/cmd/yamlfmt@v0.17.0

biome-format:
  name: biome-format
  entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx @biomejs/biome format --write "${files[@]}"' --
  language: system
  pass_filenames: true

eslint:
  name: eslint
  entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx eslint --fix "${files[@]}"' --
  language: system
  pass_filenames: true

Address fourth Codex review round
  docs/design/agentic-credential-autofill.md
Due: mdformat

Correct F1 with live-API evidence: degradation, not breakage
  docs/design/thinking-propagation-openai-anthropic.md
Due: mdformat

Propagate reasoning state for Anthropic and make Responses opt-in
  defaults.yaml
  frontend/src/pages/History/components/MessageDisplay.jsx
  frontend/src/pages/History/components/__tests__/MessageDisplay.test.jsx
  src/family_assistant/llm/__init__.py
  src/family_assistant/llm/providers/anthropic_client.py
  src/family_assistant/llm/providers/openai_client.py
  src/family_assistant/processing/llm_loop.py
  tests/cassettes/llm/test_anthropic_streaming_thinking_round_trip.yaml
  tests/integration/llm/test_streaming.py
  tests/unit/llm/providers/test_anthropic_thinking.py
  tests/unit/llm/providers/test_openai_responses_input.py
  tests/unit/storage/test_thinking_block_persistence.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, yamlfmt, biome-format, eslint

Retier profile models by task shape and set reasoning effort
  .agents/skills/gemini-api-dev/SKILL.md
  defaults.yaml
  src/family_assistant/config_models.py
  src/family_assistant/tools/video_backends.py
  src/family_assistant/tools/video_generation.py
  tests/integration/test_gemini_omni_video_generation.py
  tests/unit/tools/test_video_backends.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt

Document reasoning configuration and record what was built
  docs/design/thinking-propagation-openai-anthropic.md
  docs/operations/CONFIGURATION_REFERENCE.md
Due: mdformat

Document the model tiering for operators
  AGENTS.md
  docs/operations/CONFIGURATION_REFERENCE.md
Due: mdformat

Keep default_assistant on Gemini: OpenAI adapter drops non-image media
  AGENTS.md
  defaults.yaml
Due: mdformat, yamlfmt

Correct an overstated ordering constraint; pin the shipped opt-in
  docs/design/thinking-propagation-openai-anthropic.md
  src/family_assistant/llm/providers/anthropic_client.py
  tests/unit/llm/providers/test_anthropic_thinking.py
  tests/unit/llm/test_shipped_reasoning_config.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Drop the history note from the MessageDisplay test comment
  frontend/src/pages/History/components/__tests__/MessageDisplay.test.jsx
Due: biome-format, eslint

Refresh provider model skills and Omni cassette
  .agents/skills/anthropic-api-dev/SKILL.md
  .agents/skills/anthropic-api-dev/agents/openai.yaml
  .agents/skills/anthropic-api-dev/references/current-models.json
  .agents/skills/gemini-api-dev/SKILL.md
  .agents/skills/gemini-api-dev/references/current-models.json
  .agents/skills/openai-api-dev/SKILL.md
  .agents/skills/openai-api-dev/agents/openai.yaml
  .agents/skills/openai-api-dev/references/current-models.json
  .github/workflows/refresh-provider-model-skills.yml
  scripts/CLAUDE.md
  scripts/refresh-provider-model-skills.py
  src/family_assistant/config_models.py
  src/family_assistant/tools/video_backends.py
  src/family_assistant/tools/video_generation.py
  tests/cassettes/llm/test_omni_flash_video_generation.yaml
  tests/integration/test_gemini_omni_video_generation.py
  tests/unit/tools/test_video_backends.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt

Address reasoning propagation review feedback
  defaults.yaml
  docs/design/thinking-propagation-openai-anthropic.md
  src/family_assistant/llm/providers/anthropic_client.py
  src/family_assistant/llm/providers/openai_client.py
  tests/integration/llm/test_streaming.py
  tests/unit/llm/providers/test_anthropic_thinking.py
  tests/unit/llm/providers/test_openai_responses_input.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt

Address follow-up reasoning review feedback
  src/family_assistant/llm/providers/anthropic_client.py
  src/family_assistant/llm/providers/openai_client.py
  tests/unit/llm/providers/test_anthropic_thinking.py
  tests/unit/llm/providers/test_openai_responses_input.py
  tests/unit/storage/test_thinking_block_persistence.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Default direct OpenAI models to the Responses API
  defaults.yaml
  docs/design/thinking-propagation-openai-anthropic.md
  docs/operations/CONFIGURATION_REFERENCE.md
  src/family_assistant/llm/providers/openai_client.py
  tests/cassettes/llm/test_basic_completion[openai-gpt-4.1-nano].yaml
  tests/cassettes/llm/test_basic_completion[openai-gpt-5.2].yaml
  tests/cassettes/llm/test_basic_streaming[openai-gpt-4.1-nano].yaml
  tests/cassettes/llm/test_model_parameters[openai-gpt-4.1-nano].yaml
  tests/cassettes/llm/test_multi_turn_conversation[openai-gpt-4.1-nano].yaml
  tests/cassettes/llm/test_multiple_tool_options[openai-gpt-4.1-nano].yaml
  tests/cassettes/llm/test_no_tool_needed[openai-gpt-4.1-nano].yaml
  tests/cassettes/llm/test_parallel_tool_calls[openai-gpt-4.1-nano].yaml
  tests/cassettes/llm/test_provider_specific_openai_features.yaml
  tests/cassettes/llm/test_real_provider_fallback[google-gemini-2.5-flash-lite-openai-gpt-4.1-nano].yaml
  tests/cassettes/llm/test_real_provider_fallback[google-gemini-2.5-flash-lite-openai-gpt-5.2].yaml
  tests/cassettes/llm/test_real_provider_fallback[openai-gpt-4.1-nano-google-gemini-2.5-flash-lite].yaml
  tests/cassettes/llm/test_reasoning_info_included[openai-gpt-4.1-nano].yaml
  tests/cassettes/llm/test_single_tool_call[openai-gpt-4.1-nano].yaml
  tests/cassettes/llm/test_streaming_content_accumulation[openai-gpt-4.1-nano].yaml
  tests/cassettes/llm/test_streaming_reasoning_info[openai-gpt-4.1-nano].yaml
  tests/cassettes/llm/test_streaming_with_multi_turn_conversation[openai-gpt-4.1-nano].yaml
  tests/cassettes/llm/test_streaming_with_system_message[openai-gpt-4.1-nano].yaml
  tests/cassettes/llm/test_streaming_with_tool_calls[openai-gpt-4.1-nano].yaml
  tests/cassettes/llm/test_system_message_handling[openai-gpt-4.1-nano].yaml
  tests/cassettes/llm/test_tool_call_id_format[openai-gpt-4.1-nano].yaml
  tests/cassettes/llm/test_tool_call_with_conversation_history[openai-gpt-4.1-nano].yaml
  tests/cassettes/llm/test_tool_message_with_image_attachment[openai-gpt-4.1-nano].yaml
  tests/cassettes/llm/test_tool_message_with_pdf_attachment[openai-gpt-4.1-nano].yaml
  tests/cassettes/llm/test_tool_response_handling[openai-gpt-4.1-nano].yaml
  tests/integration/llm/test_tool_calling.py
  tests/unit/llm/providers/test_openai_responses_input.py
  tests/unit/llm/providers/test_provider_usage_instrumentation.py
  tests/unit/llm/test_shipped_reasoning_config.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt

Stop sending provider metadata to Chat Completions, run cassette in CI
  docs/user/interfaces.md
  src/family_assistant/llm/providers/openai_client.py
  tests/integration/llm/test_streaming.py
  tests/unit/llm/providers/test_openai_chat_completions_messages.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Fix two consequences of defaulting to the Responses API
  src/family_assistant/llm/providers/openai_client.py
  tests/unit/llm/providers/test_openai_responses_input.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Enable adaptive thinking for the Anthropic profiles
  defaults.yaml
  docs/operations/CONFIGURATION_REFERENCE.md
  tests/unit/llm/test_shipped_reasoning_config.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt

Render each media type as what the Responses API accepts
  src/family_assistant/llm/providers/openai_client.py
  tests/unit/llm/providers/test_openai_responses_input.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Add a multimodal profile to hand unreadable attachments to
  defaults.yaml
  src/family_assistant/llm/content_parts.py
  src/family_assistant/llm/messages.py
  src/family_assistant/llm/providers/openai_client.py
  src/family_assistant/processing/attachments.py
  tests/unit/llm/providers/test_openai_responses_input.py
  tests/unit/llm/test_shipped_media_handoff.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, yamlfmt

Move the default assistant to Terra and isolate the media profile
  AGENTS.md
  defaults.yaml
  docs/operations/CONFIGURATION_REFERENCE.md
  docs/user/attachments.md
  src/family_assistant/assistant.py
  src/family_assistant/config_loader.py
  src/family_assistant/config_models.py
  src/family_assistant/llm/providers/openai_client.py
  tests/unit/llm/providers/test_openai_chat_completions_messages.py
  tests/unit/llm/test_shipped_media_handoff.py
  tests/unit/test_config_loader.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt

Keep web uploads readable and stop exempting unhandled fields
  defaults.yaml
  src/family_assistant/config_loader.py
  src/family_assistant/llm/providers/openai_client.py
  tests/unit/llm/providers/test_openai_responses_input.py
  tests/unit/llm/test_llm_multimodal_processing.py
  tests/unit/llm/test_shipped_media_handoff.py
  tests/unit/test_config_loader.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, yamlfmt

Correct how the two surfaces deliver media
  defaults.yaml
Due: yamlfmt

Let a profile withhold a globally granted tool
  AGENTS.md
  defaults.yaml
  docs/operations/CONFIGURATION_REFERENCE.md
  src/family_assistant/assistant.py
  src/family_assistant/config_loader.py
  src/family_assistant/config_models.py
  src/family_assistant/tools/__init__.py
  src/family_assistant/tools/policy.py
  tests/unit/llm/test_shipped_media_handoff.py
  tests/unit/test_config_loader.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt

Mark Gemini ids derived from a page slug as unverified
  .agents/skills/gemini-api-dev/references/current-models.json
  scripts/CLAUDE.md
  scripts/refresh-provider-model-skills.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Delete the Omni cassette so the failure names what to re-record
  tests/cassettes/llm/test_omni_flash_video_generation.yaml
Due: yamlfmt

Re-record the Omni cassette and make it replayable
  .github/workflows/ci-with-devcontainer.yml
  tests/cassettes/llm/test_omni_flash_video_generation.yaml
  tests/integration/test_gemini_omni_video_generation.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, yamlfmt

Make the tool exclusion win, and move the examples where they stay put
  defaults.yaml
  src/family_assistant/assistant.py
  src/family_assistant/llm/providers/openai_client.py
  tests/unit/tools/test_global_tools_policy.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, yamlfmt

Cover the shipped models on the paths this branch changed
  tests/cassettes/llm/test_anthropic_streaming_thinking_round_trip.yaml
  tests/integration/llm/test_shipped_model_media_input.py
  tests/integration/llm/test_streaming.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, yamlfmt

Drop thinking from Anthropic requests that force a tool choice
  defaults.yaml
  src/family_assistant/llm/providers/anthropic_client.py
  tests/unit/llm/providers/test_anthropic_thinking.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, yamlfmt

Name the missing cassette instead of failing on a connection error
  tests/integration/llm/test_shipped_model_media_input.py
  tests/integration/llm/test_streaming.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Admit audio uploads, and stop a shipped chain overriding the operator
  defaults.yaml
  src/family_assistant/assistant.py
  src/family_assistant/config_loader.py
  src/family_assistant/config_models.py
  tests/unit/llm/test_shipped_media_handoff.py
  tests/unit/test_config_loader.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, yamlfmt

Let voice notes and web media actually reach the handoff
  frontend/src/chat/__tests__/attachmentAdapter.test.js
  frontend/src/chat/attachmentAdapter.js
  frontend/src/components/assistant-ui/attachment.tsx
  src/family_assistant/telegram/handler.py
  tests/functional/telegram/test_telegram_voice_routing.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, biome-format, eslint

Match exclusions as globs, and recheck voice size before download
  docs/user/attachments.md
  src/family_assistant/config_models.py
  src/family_assistant/telegram/handler.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Bound media by the multimodal limit, and give a profile's calendar to its tools
  docs/user/attachments.md
  src/family_assistant/assistant.py
  src/family_assistant/config_models.py
  src/family_assistant/services/attachment_registry.py
  src/family_assistant/telegram/handler.py
  tests/functional/attachments/test_attachment_size_limits.py
  tests/unit/calendar_config/test_profile_calendar_provider.py
  tests/unit/llm/test_shipped_media_handoff.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Let an operator null a retry chain, and stop discarding generated media
  src/family_assistant/config_loader.py
  src/family_assistant/services/attachment_registry.py
  src/family_assistant/telegram/handler.py
  tests/functional/attachments/test_attachment_size_limits.py
  tests/functional/telegram/test_telegram_media_size_limits.py
  tests/unit/test_config_loader.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Fix the call sites the new required argument broke
  src/family_assistant/scripting/apis/attachments.py
  tests/functional/attachments/test_attachment_workflows.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Delete the PDF cassette this branch made stale
  tests/cassettes/llm/test_tool_message_with_pdf_attachment[openai-gpt-4.1-nano].yaml
Due: yamlfmt

Classify web media by type, and stop counting denials as grants
  frontend/src/chat/__tests__/attachmentAdapter.test.js
  frontend/src/chat/attachmentAdapter.js
  src/family_assistant/config_models.py
  src/family_assistant/services/attachment_registry.py
  src/family_assistant/web/routers/chat_api.py
  tests/functional/attachments/test_attachment_size_limits.py
  tests/unit/llm/test_shipped_media_handoff.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, biome-format, eslint

Correct the last stale PDF justification
  tests/functional/telegram/test_telegram_media_size_limits.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Describe injected media in text, for the provider that drops the bytes
  src/family_assistant/llm/providers/openai_client.py
  tests/unit/llm/test_shipped_media_handoff.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Record the six handed-off cassettes, and let the thinking one produce thinking
  tests/cassettes/gemini/integration.llm.test_shipped_model_media_input/test_media_analyst_provider_can_actually_read_audio/mldev.json
  tests/cassettes/llm/test_anthropic_streaming_thinking_round_trip.yaml
  tests/cassettes/llm/test_shipped_default_retry_pair_completes_a_turn.yaml
  tests/cassettes/llm/test_shipped_openai_model_accepts_the_unreadable_media_note.yaml
  tests/cassettes/llm/test_shipped_openai_model_calls_a_tool.yaml
  tests/cassettes/llm/test_shipped_openai_model_reads_an_injected_pdf.yaml
  tests/cassettes/llm/test_tool_message_with_pdf_attachment[openai-gpt-4.1-nano].yaml
  tests/integration/llm/test_streaming.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, yamlfmt

Path conditions:
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  basedpyright: any of: \.py$
  code-conformance: any of: \.py$
  mdformat: any of: \.(md|markdown|mdown)$, but not: (?x)^( 
  docs/python-telegram-bot-abridged\.md|
  docs/python-telegram-bot-abridged-filtered\.md
)$

  yamlfmt: any of: \.(yaml|yml)$
  biome-format: any of: ^frontend/.*\.(js|jsx|ts|tsx|json)$, but not: ^frontend/(dev-dist/|package-lock\.json$)
  eslint: any of: ^frontend/.*\.(js|jsx|ts|tsx)$
