Repository werdnum/family-assistant: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt, biome-format, eslint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-check
        name: ruff-check
        entry: ruff check --fix --preview
        language: system
        types: [python]
      - id: ruff-format
        name: ruff-format
        entry: ruff format --preview
        language: system
        types: [python]
  - repo: local
    hooks:
      - id: basedpyright
        name: basedpyright
        entry: basedpyright
        language: system
        types: [python]
        pass_filenames: false
      - id: code-conformance
        name: code-conformance
        entry: .ast-grep/check-conformance.py
        language: system
        types: [python]
        pass_filenames: true
  - repo: local
    hooks:
      - id: mdformat
        name: mdformat
        entry: mdformat --wrap 100
        language: system
        types: [markdown]
        exclude: "(?x)^( \n  docs/python-telegram-bot-abridged\\.md|\n  docs/python-telegram-bot-abridged-filtered\\.md\n)$\n"
  - repo: local
    hooks:
      - id: yamlfmt
        name: yamlfmt
        language: golang
        entry: yamlfmt
        additional_dependencies:
          - github.com/google/yamlfmt/cmd/yamlfmt@v0.17.0
        types: [yaml]
  - repo: local
    hooks:
      - id: biome-format
        name: biome-format
        entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx @biomejs/biome format --write "${files[@]}"' --
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx|json)$
        exclude: ^frontend/(dev-dist/|package-lock\.json$)
        pass_filenames: true
      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx eslint --fix "${files[@]}"' --
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx)$
        pass_filenames: true

Address Codex review on the dev container guide and doc accuracy
  .devcontainer/CLAUDE.devcontainer.md
  .devcontainer/setup-workspace.sh
  docs/operations/CONFIGURATION_REFERENCE.md
  scripts/CLAUDE.md
  src/family_assistant/web/CLAUDE.md
  tests/functional/calendar/CLAUDE.md
Due: mdformat

Address the second Codex pass: two real bugs plus doc accuracy
  .devcontainer/CLAUDE.devcontainer.md
  AGENTS.md
  docs/CODE_REFERENCE.md
  docs/operations/CONFIGURATION_REFERENCE.md
  pyproject.toml
  scripts/wait-for-server.sh
  tests/CLAUDE.md
  tests/functional/automations/CLAUDE.md
Due: mdformat

Address the third Codex pass: four inaccurate claims
  docs/operations/CONFIGURATION_REFERENCE.md
  src/family_assistant/web/CLAUDE.md
  tests/functional/calendar/CLAUDE.md
  tests/functional/indexing/CLAUDE.md
Due: mdformat

Stop invalidating the prompt cache on every request
  docs/design/prompt-caching.md
  src/family_assistant/llm/messages.py
  src/family_assistant/llm/providers/anthropic_client.py
  src/family_assistant/llm/providers/google_genai_client.py
  src/family_assistant/llm/providers/openai_client.py
  src/family_assistant/llm/retrying_client.py
  src/family_assistant/llm/utils/usage_telemetry.py
  src/family_assistant/processing/deep_research_service.py
  src/family_assistant/processing/llm_loop.py
  src/family_assistant/processing/service.py
  tests/functional/home_assistant/test_camera_tool.py
  tests/functional/home_assistant/test_list_entities_tool.py
  tests/unit/llm/providers/test_anthropic_client.py
  tests/unit/processing/test_llm_loop_system_prompt_stability.py
  tests/unit/processing/test_processing_fail_fast.py
  tests/unit/processing/test_system_prompt_cache_prefix.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Report token usage on the Gemini and OpenAI streaming paths
  docs/design/prompt-caching.md
  src/family_assistant/llm/providers/google_genai_client.py
  src/family_assistant/llm/providers/openai_client.py
  tests/unit/llm/providers/test_provider_usage_instrumentation.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

docs: split the user guide into per-topic files
  AGENTS.md
  README.md
  docs/operations/CONFIGURATION_REFERENCE.md
  docs/user/FAQ.md
  docs/user/FEATURES.md
  docs/user/QUICK_START.md
  docs/user/USER_GUIDE.md
  docs/user/attachments.md
  docs/user/automations.md
  docs/user/browser_automation.md
  docs/user/calendar.md
  docs/user/confirmations-and-safety.md
  docs/user/documents-and-search.md
  docs/user/email.md
  docs/user/google-workspace.md
  docs/user/image_tools.md
  docs/user/interfaces.md
  docs/user/media.md
  docs/user/notes-and-skills.md
  docs/user/research-and-browsing.md
  docs/user/shopping.md
  docs/user/slash-commands.md
  docs/user/smart-home.md
  docs/user/troubleshooting.md
  frontend/src/tool-test-bench/ToolTestBench.jsx
  prompts.yaml
  src/family_assistant/tools/documents.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt, biome-format, eslint

Fix CI cassettes and address review feedback
  docs/design/prompt-caching.md
  src/family_assistant/llm/providers/anthropic_client.py
  src/family_assistant/llm/providers/google_genai_client.py
  src/family_assistant/llm/providers/openai_client.py
  src/family_assistant/llm/retrying_client.py
  src/family_assistant/processing/llm_loop.py
  tests/cassettes/gemini/functional.web.api.test_thought_signature_persistence/test_multiturn_conversation_non_streaming_preserves_thought_signatures[postgres]/mldev.json
  tests/cassettes/gemini/functional.web.api.test_thought_signature_persistence/test_multiturn_conversation_non_streaming_preserves_thought_signatures[sqlite]/mldev.json
  tests/cassettes/gemini/functional.web.api.test_thought_signature_persistence/test_multiturn_conversation_with_tool_calls_preserves_thought_signatures[postgres]/mldev.json
  tests/cassettes/gemini/functional.web.api.test_thought_signature_persistence/test_multiturn_conversation_with_tool_calls_preserves_thought_signatures[sqlite]/mldev.json
  tests/cassettes/gemini/functional.web.api.test_thought_signature_persistence/test_streaming_multiturn_with_tool_calls_reproduces_bug[postgres]/mldev.json
  tests/cassettes/gemini/functional.web.api.test_thought_signature_persistence/test_streaming_multiturn_with_tool_calls_reproduces_bug[sqlite]/mldev.json
  tests/unit/llm/providers/test_anthropic_client.py
  tests/unit/llm/providers/test_provider_usage_instrumentation.py
  tests/unit/processing/test_llm_loop_system_prompt_stability.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Exclude the final-iteration instruction from context pruning
  src/family_assistant/processing/llm_loop.py
  tests/unit/processing/test_llm_loop_system_prompt_stability.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

docs: correct claims flagged in review
  docs/user/attachments.md
  docs/user/calendar.md
  docs/user/confirmations-and-safety.md
  docs/user/documents-and-search.md
  docs/user/interfaces.md
Due: mdformat

docs: correct second round of review findings
  docs/operations/CONFIGURATION_REFERENCE.md
  docs/user/attachments.md
  docs/user/automations.md
  docs/user/confirmations-and-safety.md
  docs/user/research-and-browsing.md
  docs/user/slash-commands.md
  prompts.yaml
Due: mdformat, yamlfmt

Complete OpenAI usage extraction
  docs/design/prompt-caching.md
  src/family_assistant/llm/messages.py
  src/family_assistant/llm/providers/openai_client.py
  tests/unit/llm/providers/test_provider_usage_instrumentation.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

docs: correct third round of review findings
  docs/operations/CONFIGURATION_REFERENCE.md
  docs/user/attachments.md
  docs/user/automations.md
  docs/user/calendar.md
  docs/user/documents-and-search.md
  docs/user/notes-and-skills.md
  docs/user/troubleshooting.md
  prompts.yaml
Due: mdformat, yamlfmt

docs: correct fourth round of review findings
  docs/user/automations.md
  docs/user/email.md
  docs/user/media.md
  docs/user/notes-and-skills.md
  docs/user/research-and-browsing.md
  prompts.yaml
  src/family_assistant/tools/documents.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt

docs: correct errors found by codebase fact-check sweep
  docs/user/attachments.md
  docs/user/automations.md
  docs/user/confirmations-and-safety.md
  docs/user/smart-home.md
Due: mdformat

Show assistant image attachments inline in the web chat
  frontend/src/chat/AssistantResponseImages.tsx
  frontend/src/chat/Thread.tsx
  frontend/src/chat/__tests__/ChatApp.test.tsx
  frontend/src/chat/__tests__/StreamingAndToolCall.test.tsx
  frontend/src/chat/__tests__/responseImages.test.ts
  frontend/src/chat/responseImages.ts
  src/family_assistant/web/routers/chat_api.py
  tests/functional/web/api/test_chat_attachments.py
  tests/functional/web/ui/test_chat_attachments.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, biome-format, eslint

docs: apply two corrections to interfaces.md as well
  docs/user/interfaces.md
Due: mdformat

Stop refetching attachment metadata the stream already sent
  frontend/src/chat/__tests__/StreamingAndToolCall.test.tsx
  frontend/src/chat/useStreamingResponse.js
Due: biome-format, eslint

iOS: show the assistant's images in the reply, not behind the tool arrow
  docs/user/attachments.md
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatModels.swift
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatViews.swift
  ios/FamilyAssistant/FamilyAssistantTests/ToolRenderingTests.swift
Due: mdformat

iOS: scope the attachment image cache to its session, and load overflow lazily
  ios/FamilyAssistant/FamilyAssistant/Auth/AuthManager.swift
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatViewModel.swift
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatViews.swift
  ios/FamilyAssistant/FamilyAssistantTests/ToolRenderingTests.swift
Due: none

iOS: tie the attachment image cache to the auth epoch, not just logout
  ios/FamilyAssistant/FamilyAssistant/Auth/AuthManager.swift
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatViewModel.swift
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatViews.swift
  ios/FamilyAssistant/FamilyAssistantTests/ToolRenderingTests.swift
Due: none

Record response attachments only on the row that ends the turn
  src/family_assistant/processing/service.py
  tests/functional/web/api/test_chat_attachments.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Assert the persisted reference resolves to a renderable image
  tests/functional/web/api/test_chat_attachments.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Record a turn's response attachments on its assistant row
  src/family_assistant/processing/service.py
  tests/functional/web/api/test_chat_attachments.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Upgrade ruff to 0.16.0
  .devcontainer/merge-settings.py
  .devcontainer/throttle_backspaces.py
  pyproject.toml
  scripts/mark_postgres_tests_simple.py
  scripts/validate_cassettes.py
  src/family_assistant/tools/CLAUDE.md
  uv.lock
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Hold the line on PLW0717 with a shrink-only suppression budget
  .lint-budget.toml
  .pre-commit-config.yaml
  AGENTS.md
  scripts/CLAUDE.md
  scripts/check_suppression_budget.py
  scripts/format-and-lint.sh
  tests/unit/test_check_suppression_budget.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt

Count budgets directly in the self-check test
  tests/unit/test_check_suppression_budget.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Close two holes in the suppression budget check
  .lint-budget.toml
  scripts/check_suppression_budget.py
  tests/unit/test_check_suppression_budget.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Narrow six PLW0717 try clauses instead of suppressing them
  .ast-grep/add-exemptions.py
  .ast-grep/check-conformance.py
  .lint-budget.toml
  AGENTS.md
  pyproject.toml
  scripts/mark_postgres_tests_simple.py
  scripts/review-changes.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Count suppressed violations, not suppression directives
  .lint-budget.toml
  AGENTS.md
  scripts/CLAUDE.md
  scripts/check_suppression_budget.py
  tests/unit/test_check_suppression_budget.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Upgrade configured models to current generations
  .agents/skills/gemini-api-dev/SKILL.md
  defaults.yaml
  docs/design/processing_profiles.md
  src/family_assistant/config_models.py
  src/family_assistant/llm/retrying_client.py
  src/family_assistant/tools/image_backends.py
  tests/functional/web/api/test_debug_api.py
  tests/unit/test_config_loader.py
  tests/unit/tools/test_image_generation_tools.py
  tests/unit/web/test_debug_api_helpers.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt

Disable thinking for claude-sonnet-5 until blocks can be replayed
  .agents/skills/gemini-api-dev/SKILL.md
  defaults.yaml
Due: mdformat, yamlfmt

Re-evaluate the browser credential broker design around Keychute and cookie jars
  docs/design/agentic-credential-autofill.md
Due: mdformat

Raise default_assistant iteration ceiling to 50
  defaults.yaml
Due: yamlfmt

Address Codex review: post-fill lockdown, refresh-only V1, per-jar credential binding
  docs/design/agentic-credential-autofill.md
Due: mdformat

Document thinking/reasoning propagation gaps for OpenAI and Anthropic
  docs/design/thinking-propagation-openai-anthropic.md
Due: mdformat

Address second Codex review round
  docs/design/agentic-credential-autofill.md
Due: mdformat

Address third Codex review round
  docs/design/agentic-credential-autofill.md
Due: mdformat

Clear the auth-failure latch by explicit human action, not rotation detection
  docs/design/agentic-credential-autofill.md
Due: mdformat
