Repository werdnum/family-assistant: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt, biome-format, eslint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-check
        name: ruff-check
        entry: ruff check --fix --preview
        language: system
        types: [python]
      - id: ruff-format
        name: ruff-format
        entry: ruff format --preview
        language: system
        types: [python]
  - repo: local
    hooks:
      - id: basedpyright
        name: basedpyright
        entry: basedpyright
        language: system
        types: [python]
        pass_filenames: false
      - id: code-conformance
        name: code-conformance
        entry: .ast-grep/check-conformance.py
        language: system
        types: [python]
        pass_filenames: true
  - repo: local
    hooks:
      - id: mdformat
        name: mdformat
        entry: mdformat --wrap 100
        language: system
        types: [markdown]
        exclude: "(?x)^( \n  docs/python-telegram-bot-abridged\\.md|\n  docs/python-telegram-bot-abridged-filtered\\.md\n)$\n"
  - repo: local
    hooks:
      - id: yamlfmt
        name: yamlfmt
        language: golang
        entry: yamlfmt
        additional_dependencies:
          - github.com/google/yamlfmt/cmd/yamlfmt@v0.17.0
        types: [yaml]
  - repo: local
    hooks:
      - id: biome-format
        name: biome-format
        entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx @biomejs/biome format --write "${files[@]}"' --
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx|json)$
        exclude: ^frontend/(dev-dist/|package-lock\.json$)
        pass_filenames: true
      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx eslint --fix "${files[@]}"' --
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx)$
        pass_filenames: true

Web: keep the composer draft when switching processing profile
  frontend/src/chat/ChatApp.tsx
  frontend/src/chat/__tests__/ChatApp.test.tsx
Due: biome-format, eslint

iOS: keep the composer draft when switching processing profile
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatViewModel.swift
  ios/FamilyAssistant/FamilyAssistantTests/ChatViewModelTests.swift
Due: none

Switch profile in place when the conversation has nothing in it yet
  frontend/src/chat/ChatApp.tsx
  frontend/src/chat/__tests__/ChatApp.test.tsx
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatViewModel.swift
  ios/FamilyAssistant/FamilyAssistantTests/ChatViewModelTests.swift
Due: biome-format, eslint

Address review: steer-text leak, launch-draft sentinel, docs, test isolation
  docs/user/interfaces.md
  frontend/src/chat/ChatApp.tsx
  frontend/src/chat/__tests__/ChatApp.test.tsx
  frontend/src/chat/__tests__/TurnControl.test.tsx
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatViewModel.swift
Due: mdformat, biome-format, eslint

Use hasOwnProperty.call instead of Object.hasOwn in the picker stubs
  frontend/src/chat/__tests__/ChatApp.test.tsx
  frontend/src/chat/__tests__/TurnControl.test.tsx
Due: biome-format, eslint

Fix regressions found reviewing the turn-context move
  docs/design/prompt-cache-turn-context.md
  frontend/src/shared/ContextPage.tsx
  src/family_assistant/assistant.py
  src/family_assistant/llm/__init__.py
  src/family_assistant/llm/messages.py
  src/family_assistant/llm/providers/google_genai_client.py
  src/family_assistant/processing/deep_research_service.py
  src/family_assistant/processing/llm_loop.py
  src/family_assistant/processing/service.py
  src/family_assistant/processing/utils.py
  src/family_assistant/templates/context_viewer.html.j2
  src/family_assistant/web/routers/chat_api.py
  src/family_assistant/web/routers/context_viewer.py
  tests/functional/home_assistant/test_list_entities_tool.py
  tests/functional/telegram/test_message_history_limit.py
  tests/functional/web/ui/test_chat_hover_layout.py
  tests/functional/web/ui/test_conversations_list.py
  tests/mocks/mock_llm.py
  tests/unit/llm/test_empty_input_validation.py
  tests/unit/processing/test_deep_research_service.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, biome-format, eslint

Enable aggregated context in the retryable-turn test
  tests/functional/web/api/test_chat_streaming.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Pin the clock in the Gemini replay tests and re-record
  tests/cassettes/gemini/functional.web.api.test_thought_signature_persistence/test_multiturn_conversation_non_streaming_preserves_thought_signatures[postgres]/mldev.json
  tests/cassettes/gemini/functional.web.api.test_thought_signature_persistence/test_multiturn_conversation_non_streaming_preserves_thought_signatures[sqlite]/mldev.json
  tests/cassettes/gemini/functional.web.api.test_thought_signature_persistence/test_multiturn_conversation_with_tool_calls_preserves_thought_signatures[postgres]/mldev.json
  tests/cassettes/gemini/functional.web.api.test_thought_signature_persistence/test_multiturn_conversation_with_tool_calls_preserves_thought_signatures[sqlite]/mldev.json
  tests/cassettes/gemini/functional.web.api.test_thought_signature_persistence/test_streaming_multiturn_with_tool_calls_reproduces_bug[postgres]/mldev.json
  tests/cassettes/gemini/functional.web.api.test_thought_signature_persistence/test_streaming_multiturn_with_tool_calls_reproduces_bug[sqlite]/mldev.json
  tests/functional/web/api/test_thought_signature_persistence.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Address code-review findings on the turn-context move
  .lint-budget.toml
  defaults.yaml
  docs/design/prompt-cache-turn-context.md
  prompts.yaml
  src/family_assistant/context_providers.py
  src/family_assistant/processing/attachments.py
  src/family_assistant/processing/deep_research_service.py
  src/family_assistant/processing/service.py
  src/family_assistant/processing/turn_context.py
  src/family_assistant/tools/communication.py
  src/family_assistant/tools/notes.py
  src/family_assistant/tools/workspace_files.py
  src/family_assistant/web/routers/asterisk_live_api.py
  src/family_assistant/web/routers/context_viewer.py
  src/family_assistant/web/routers/diagnostics_api.py
  src/family_assistant/web/routers/gemini_live_api.py
  tests/functional/web/api/test_chat_streaming.py
  tests/unit/processing/test_deep_research_service.py
  tests/unit/processing/test_processing_fail_fast.py
  tests/unit/processing/test_system_prompt_cache_prefix.py
  tests/unit/processing/test_turn_context.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt

Re-record Gemini cassettes for the changed tool descriptions
  tests/cassettes/gemini/functional.web.api.test_thought_signature_persistence/test_multiturn_conversation_non_streaming_preserves_thought_signatures[postgres]/mldev.json
  tests/cassettes/gemini/functional.web.api.test_thought_signature_persistence/test_multiturn_conversation_non_streaming_preserves_thought_signatures[sqlite]/mldev.json
  tests/cassettes/gemini/functional.web.api.test_thought_signature_persistence/test_multiturn_conversation_with_tool_calls_preserves_thought_signatures[postgres]/mldev.json
  tests/cassettes/gemini/functional.web.api.test_thought_signature_persistence/test_multiturn_conversation_with_tool_calls_preserves_thought_signatures[sqlite]/mldev.json
  tests/cassettes/gemini/functional.web.api.test_thought_signature_persistence/test_streaming_multiturn_with_tool_calls_reproduces_bug[postgres]/mldev.json
  tests/cassettes/gemini/functional.web.api.test_thought_signature_persistence/test_streaming_multiturn_with_tool_calls_reproduces_bug[sqlite]/mldev.json
Due: none

Give Anthropic the conversation cache breakpoints
  docs/design/prompt-cache-turn-context.md
  docs/design/prompt-caching.md
  src/family_assistant/llm/providers/anthropic_client.py
  tests/integration/llm/vcr_helpers.py
  tests/unit/llm/providers/test_anthropic_client.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Bound final iOS resync list refresh
  docs/design/ios-state-sync-improvements.md
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatViewModel.swift
  ios/FamilyAssistant/FamilyAssistant/Chat/ResyncOrchestrator.swift
  ios/FamilyAssistant/FamilyAssistantTests/ChatViewModelTests.swift
  ios/FamilyAssistant/FamilyAssistantTests/ResyncOrchestratorTests.swift
Due: mdformat

Retry full resync snapshot after failure
  docs/design/ios-state-sync-improvements.md
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatViewModel.swift
  ios/FamilyAssistant/FamilyAssistant/Chat/ResyncOrchestrator.swift
  ios/FamilyAssistant/FamilyAssistantTests/ChatViewModelTests.swift
  ios/FamilyAssistant/FamilyAssistantTests/ResyncOrchestratorTests.swift
Due: mdformat

Stop the conversation list from starving the database
  alembic/versions/2026_08_08-add_message_history_conversation_owner_index.py
  docs/operations/CONFIGURATION_REFERENCE.md
  src/family_assistant/storage/base.py
  src/family_assistant/storage/message_history.py
  src/family_assistant/storage/repositories/message_history.py
  src/family_assistant/web/app_creator.py
  src/family_assistant/web/cancel_on_disconnect.py
  tests/functional/storage/test_message_history_querying.py
  tests/functional/storage/test_statement_cancellation.py
  tests/functional/web/test_cancel_on_disconnect.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Take the handler down when the middleware itself is cancelled
  src/family_assistant/web/cancel_on_disconnect.py
  tests/functional/web/test_cancel_on_disconnect.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Address review findings on the cancellation and timeout layers
  docs/operations/CONFIGURATION_REFERENCE.md
  src/family_assistant/storage/__init__.py
  src/family_assistant/storage/base.py
  src/family_assistant/web/cancel_on_disconnect.py
  tests/functional/storage/test_statement_cancellation.py
  tests/functional/web/test_cancel_on_disconnect.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Decide cancellation from observed writes, not a path allowlist
  src/family_assistant/request_side_effects.py
  src/family_assistant/storage/database.py
  src/family_assistant/web/cancel_on_disconnect.py
  tests/functional/storage/test_statement_cancellation.py
  tests/functional/web/test_cancel_on_disconnect.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Exempt the app-auth callbacks, and check the list instead of trusting it
  src/family_assistant/web/cancel_on_disconnect.py
  tests/functional/web/test_cancel_on_disconnect.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Re-encode and retry an image OpenAI's edit endpoint refuses
  src/family_assistant/tools/image_backends.py
  tests/unit/tools/test_image_generation_tools.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Make a substituted input something the assistant has to say up front
  defaults.yaml
  prompts.yaml
Due: yamlfmt

Tell a delegated profile the ids of the attachments it was handed
  src/family_assistant/processing/attachments.py
  src/family_assistant/processing/service.py
  src/family_assistant/processing/utils.py
  tests/unit/processing/test_processing_history_formatting.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Put the attachment block on the trigger, not on an injection message
  src/family_assistant/processing/service.py
  tests/unit/processing/test_processing_history_formatting.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

docs: design conversation share links
  docs/design/conversation-share-links.md
Due: mdformat

feat: share conversations with authorized users
  alembic/versions/2026_08_10-add_conversation_shares.py
  docs/design/conversation-share-links.md
  docs/user/interfaces.md
  frontend/src/chat/ChatApp.tsx
  frontend/src/chat/ShareConversationButton.tsx
  frontend/src/chat/SharedConversationPage.tsx
  frontend/src/chat/__tests__/ShareConversationButton.test.tsx
  frontend/src/chat/__tests__/SharedConversationPage.test.tsx
  frontend/src/shared/AppRouter.jsx
  frontend/src/test/mocks/handlers.ts
  src/family_assistant/storage/__init__.py
  src/family_assistant/storage/conversation_shares.py
  src/family_assistant/storage/database.py
  src/family_assistant/storage/repositories/__init__.py
  src/family_assistant/storage/repositories/conversation_shares.py
  src/family_assistant/web/routers/chat_api.py
  src/family_assistant/web/routers/vite_pages.py
  tests/functional/web/api/test_chat_messages.py
  tests/unit/web/test_auth_public_paths.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, biome-format, eslint

fix: preserve conversation share error states
  frontend/src/chat/ShareConversationButton.tsx
  frontend/src/chat/SharedConversationPage.tsx
  frontend/src/chat/__tests__/ShareConversationButton.test.tsx
  frontend/src/chat/__tests__/SharedConversationPage.test.tsx
Due: biome-format, eslint

fix: wait for persisted conversation before sharing
  frontend/src/chat/ChatApp.tsx
  frontend/src/chat/ShareConversationButton.tsx
  frontend/src/chat/__tests__/ChatApp.test.tsx
  frontend/src/chat/__tests__/ShareConversationButton.test.tsx
  frontend/src/chat/__tests__/TurnControl.test.tsx
Due: biome-format, eslint

Add Keychute-brokered HTTP to scripts
  defaults.yaml
  docs/design/keychute-script-http.md
  docs/operations/CONFIGURATION_REFERENCE.md
  docs/user/scripting.md
  src/family_assistant/config_models.py
  src/family_assistant/scripting/apis/keychute.py
  src/family_assistant/task_worker.py
  src/family_assistant/tools/execute_script.py
  tests/functional/tools/test_execute_script.py
  tests/unit/scripting/test_keychute_api.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt

Commit PostgreSQL startup migrations
  docs/operations/CONFIGURATION_REFERENCE.md
  src/family_assistant/storage/__init__.py
  tests/functional/storage/test_statement_cancellation.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Use Keychute HTTP API directly
  defaults.yaml
  docs/design/keychute-script-http.md
  docs/operations/CONFIGURATION_REFERENCE.md
  src/family_assistant/config_models.py
  src/family_assistant/scripting/apis/keychute.py
  tests/functional/tools/test_execute_script.py
  tests/unit/scripting/test_keychute_api.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt

Address Keychute script validation review
  src/family_assistant/scripting/apis/keychute.py
  src/family_assistant/tools/automations.py
  src/family_assistant/tools/execute_script.py
  src/family_assistant/tools/stored_scripts.py
  src/family_assistant/web/routers/automations_api.py
  tests/cassettes/gemini/functional.web.api.test_thought_signature_persistence/test_multiturn_conversation_non_streaming_preserves_thought_signatures[postgres]/mldev.json
  tests/cassettes/gemini/functional.web.api.test_thought_signature_persistence/test_multiturn_conversation_non_streaming_preserves_thought_signatures[sqlite]/mldev.json
  tests/cassettes/gemini/functional.web.api.test_thought_signature_persistence/test_multiturn_conversation_with_tool_calls_preserves_thought_signatures[postgres]/mldev.json
  tests/cassettes/gemini/functional.web.api.test_thought_signature_persistence/test_multiturn_conversation_with_tool_calls_preserves_thought_signatures[sqlite]/mldev.json
  tests/cassettes/gemini/functional.web.api.test_thought_signature_persistence/test_streaming_multiturn_with_tool_calls_reproduces_bug[postgres]/mldev.json
  tests/cassettes/gemini/functional.web.api.test_thought_signature_persistence/test_streaming_multiturn_with_tool_calls_reproduces_bug[sqlite]/mldev.json
  tests/functional/automations/test_automations_crud.py
  tests/functional/scripting/test_stored_scripts.py
  tests/functional/tools/test_execute_script.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Gate and simulate Keychute script egress
  docs/design/keychute-script-http.md
  docs/user/scripting.md
  src/family_assistant/scripting/apis/keychute.py
  src/family_assistant/tools/execute_script.py
  src/family_assistant/tools/infrastructure.py
  src/family_assistant/tools/script_testing.py
  tests/functional/tools/test_script_testing.py
  tests/unit/scripting/test_keychute_api.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

docs(testflight-sandbox): note the Kubernetes variant
  deploy/testflight-sandbox/README.md
Due: mdformat

docs(testflight-sandbox): cover Kubernetes teardown
  deploy/testflight-sandbox/README.md
Due: mdformat

ios: add the App Store privacy manifest
  ios/CLAUDE.md
  ios/FamilyAssistant/FamilyAssistant.xcodeproj/project.pbxproj
  ios/FamilyAssistant/FamilyAssistant/PrivacyInfo.xcprivacy
  ios/FamilyAssistant/README.md
Due: mdformat

feat(web): serve an unauthenticated privacy policy at /privacy
  docs/design/ios_testflight_delivery.md
  docs/operations/CONFIGURATION_REFERENCE.md
  src/family_assistant/templates/privacy_policy.html.j2
  src/family_assistant/web/app_creator.py
  src/family_assistant/web/auth.py
  src/family_assistant/web/routers/legal.py
  tests/unit/web/test_privacy_policy_page.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

ios: correct the file-timestamp required-reason code
  ios/FamilyAssistant/FamilyAssistant/PrivacyInfo.xcprivacy
  ios/FamilyAssistant/README.md
Due: mdformat

docs(privacy): match the policy to controls that actually exist
  src/family_assistant/templates/privacy_policy.html.j2
Due: none

docs(privacy): qualify training, storage and inbound-email disclosures
  src/family_assistant/templates/privacy_policy.html.j2
Due: none

docs(privacy): drop storage-medium detail from the retention wording
  src/family_assistant/templates/privacy_policy.html.j2
Due: none
