Repository werdnum/family-assistant: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt, biome-format, eslint

ruff-check:
  name: ruff-check
  entry: ruff check --fix --preview
  language: system

ruff-format:
  name: ruff-format
  entry: ruff format --preview
  language: system

basedpyright:
  name: basedpyright
  entry: basedpyright
  language: system
  pass_filenames: false

code-conformance:
  name: code-conformance
  entry: .ast-grep/check-conformance.py
  language: system
  pass_filenames: true

mdformat:
  name: mdformat
  entry: mdformat --wrap 100
  language: system

yamlfmt:
  name: yamlfmt
  language: golang
  entry: yamlfmt
  additional_dependencies:
  - github.com/google/yamlfmt/cmd/yamlfmt@v0.17.0

biome-format:
  name: biome-format
  entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx @biomejs/biome format --write "${files[@]}"' --
  language: system
  pass_filenames: true

eslint:
  name: eslint
  entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx eslint --fix "${files[@]}"' --
  language: system
  pass_filenames: true

Refresh MCP tool lists from the health check
  docs/operations/MONITORING.md
  src/family_assistant/tools/mcp.py
  tests/unit/tools/test_mcp_tool_refresh.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Re-evaluate a profile's sink before every model call
  docs/design/interactions-agent-taint-and-attachments.md
  docs/operations/CONFIGURATION_REFERENCE.md
  src/family_assistant/processing/llm_loop.py
  tests/unit/security/test_runtime_taint.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Back off failing deliveries, and record what shipped
  docs/design/delegation-delivery-fail-forward.md
  docs/user/interfaces.md
  src/family_assistant/task_worker.py
  tests/functional/automations/test_delegation_fail_forward.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Skip the fail-forward stage when there is no profile to ask
  src/family_assistant/task_worker.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Compare descriptors, not definitions, when refreshing MCP tools
  src/family_assistant/tools/mcp.py
  tests/unit/tools/test_mcp_tool_refresh.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Follow tools/list pagination when discovering MCP tools
  src/family_assistant/tools/mcp.py
  tests/unit/tools/test_mcp_reconnect_backoff.py
  tests/unit/tools/test_mcp_tool_filtering.py
  tests/unit/tools/test_mcp_tool_refresh.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Key the MCP tool comparison by name, not list order
  src/family_assistant/tools/mcp.py
  tests/unit/tools/test_mcp_tool_refresh.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Update the tests that encoded the old delivery contract
  tests/functional/email_intake/test_email_actions.py
  tests/functional/storage/test_statement_cancellation.py
  tests/functional/tasks/test_confirmation_tool_execution.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Configure the Antigravity sandbox environment and inject egress credentials
  docs/design/antigravity-environment-and-credentials.md
  src/family_assistant/assistant.py
  src/family_assistant/config_models.py
  src/family_assistant/llm/antigravity_egress.py
  src/family_assistant/llm/providers/google_genai_client.py
  tests/llm/test_google_antigravity.py
  tests/unit/llm/test_antigravity_egress.py
  tests/unit/llm/test_shipped_coder_profile.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Make the last resort actually short, and keep the result reachable
  prompts.yaml
  src/family_assistant/task_worker.py
  tests/functional/automations/test_delegation_fail_forward.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, yamlfmt

Document the Antigravity environment block and its Rule of Two effect
  AGENTS.md
  docs/design/gemini-antigravity-managed-agent.md
  docs/operations/CONFIGURATION_REFERENCE.md
  docs/user/slash-commands.md
Due: mdformat

Fail forward on the finishing task, not just the hourly cleanup
  src/family_assistant/task_worker.py
  tests/functional/automations/test_delegation_fail_forward.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Release the egress resolver's HTTP client when the LLM client closes
  src/family_assistant/llm/providers/google_genai_client.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Credit the App installation's own scope in the Rule of Two analysis
  docs/design/antigravity-environment-and-credentials.md
  docs/operations/CONFIGURATION_REFERENCE.md
Due: mdformat

Measure the delivery backoff in elapsed time, not attempts
  alembic/versions/2026_08_17-527b07ec550b_add_delegation_notify_stage_tracking.py
  src/family_assistant/storage/delegation_runs.py
  src/family_assistant/storage/repositories/delegation_runs.py
  src/family_assistant/task_worker.py
  tests/functional/automations/test_delegation_fail_forward.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Mint a GitHub token per run instead of caching across runs
  docs/design/antigravity-environment-and-credentials.md
  docs/operations/CONFIGURATION_REFERENCE.md
  src/family_assistant/llm/antigravity_egress.py
  tests/unit/llm/test_antigravity_egress.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Record the result before anything only points at it
  src/family_assistant/task_worker.py
  tests/functional/automations/test_delegation_fail_forward.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Propose risk-adjudicated taint enforcement design
  docs/design/risk-adjudicated-taint-enforcement.md
Due: mdformat

Stop at gave_up, and keep a rewrite through a hiccup
  src/family_assistant/task_worker.py
  tests/functional/automations/test_delegation_fail_forward.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Address Codex review: judge argument isolation, floor mechanics, temporal serialization
  docs/design/risk-adjudicated-taint-enforcement.md
Due: mdformat

Address second Codex round: tier-filter the provenance digest, harden provenance matching
  docs/design/risk-adjudicated-taint-enforcement.md
Due: mdformat

Address third Codex round: middle-tier egress floors, MCP description channel, probe availability
  docs/design/risk-adjudicated-taint-enforcement.md
Due: mdformat

Address fourth Codex round: withdraw the floor-relaxing provenance exception
  docs/design/risk-adjudicated-taint-enforcement.md
Due: mdformat

Add persistent-artifact provenance section
  docs/design/risk-adjudicated-taint-enforcement.md
Due: mdformat

Address fifth Codex round: full-capability reuse, observe-mode judge, PR #1111 link
  docs/design/risk-adjudicated-taint-enforcement.md
Due: mdformat

Drop the column the backoff fix added when rewinding the migration
  tests/functional/storage/test_statement_cancellation.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Address sixth Codex round: merge rank, judge filter scheduling, calendar provenance
  docs/design/risk-adjudicated-taint-enforcement.md
Due: mdformat

Address seventh Codex round: home-actuation floor, permanent calendar fallback
  docs/design/risk-adjudicated-taint-enforcement.md
Due: mdformat

Restructure around a complexity budget: lean core first, judge contingent
  docs/design/risk-adjudicated-taint-enforcement.md
Due: mdformat

Address eighth Codex round: sensitive-read qualifiers, probe confirmation bound
  docs/design/risk-adjudicated-taint-enforcement.md
Due: mdformat

Address ninth Codex round: server-render public issue bodies
  docs/design/risk-adjudicated-taint-enforcement.md
Due: mdformat

Address tenth Codex round: floor destructive artifact writes in the lean core
  docs/design/risk-adjudicated-taint-enforcement.md
Due: mdformat

Address eleventh Codex round: probe deferral, overwrite reversibility, grant records
  docs/design/risk-adjudicated-taint-enforcement.md
Due: mdformat

Address twelfth Codex round: email trigger tier selection, executable-persistence floor
  docs/design/risk-adjudicated-taint-enforcement.md
Due: mdformat

Address thirteenth Codex round: callback tag, honest deferral semantics
  docs/design/risk-adjudicated-taint-enforcement.md
Due: mdformat

Address fourteenth Codex round: activation, cover device classes, phase-4 floors
  docs/design/risk-adjudicated-taint-enforcement.md
Due: mdformat

Address fifteenth Codex round: registration check accepts audited reads
  docs/design/risk-adjudicated-taint-enforcement.md
Due: mdformat

Address sixteenth Codex round: opaque-domain entity list, counter serialization
  docs/design/risk-adjudicated-taint-enforcement.md
Due: mdformat

Revert the coder profile's taint-policy enforce override
  defaults.yaml
  docs/design/interactions-agent-taint-and-attachments.md
  docs/operations/CONFIGURATION_REFERENCE.md
  tests/unit/llm/test_shipped_coder_profile.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt

Address seventeenth Codex round: per-field stamping, browser-layer grants, redact monotonicity, counter deltas
  docs/design/risk-adjudicated-taint-enforcement.md
Due: mdformat

Path conditions:
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  basedpyright: any of: \.py$
  code-conformance: any of: \.py$
  mdformat: any of: \.(md|markdown|mdown)$, but not: (?x)^( 
  docs/python-telegram-bot-abridged\.md|
  docs/python-telegram-bot-abridged-filtered\.md
)$

  yamlfmt: any of: \.(yaml|yml)$
  biome-format: any of: ^frontend/.*\.(js|jsx|ts|tsx|json)$, but not: ^frontend/(dev-dist/|package-lock\.json$)
  eslint: any of: ^frontend/.*\.(js|jsx|ts|tsx)$
