Repository werdnum/family-assistant: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt, biome-format, eslint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-check
        name: ruff-check
        entry: ruff check --fix --preview
        language: system
        types: [python]
      - id: ruff-format
        name: ruff-format
        entry: ruff format --preview
        language: system
        types: [python]
  - repo: local
    hooks:
      - id: basedpyright
        name: basedpyright
        entry: basedpyright
        language: system
        types: [python]
        pass_filenames: false
      - id: code-conformance
        name: code-conformance
        entry: .ast-grep/check-conformance.py
        language: system
        types: [python]
        pass_filenames: true
  - repo: local
    hooks:
      - id: mdformat
        name: mdformat
        entry: mdformat --wrap 100
        language: system
        types: [markdown]
        exclude: "(?x)^( \n  docs/python-telegram-bot-abridged\\.md|\n  docs/python-telegram-bot-abridged-filtered\\.md\n)$\n"
  - repo: local
    hooks:
      - id: yamlfmt
        name: yamlfmt
        language: golang
        entry: yamlfmt
        additional_dependencies:
          - github.com/google/yamlfmt/cmd/yamlfmt@v0.17.0
        types: [yaml]
  - repo: local
    hooks:
      - id: biome-format
        name: biome-format
        entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx @biomejs/biome format --write "${files[@]}"' --
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx|json)$
        exclude: ^frontend/(dev-dist/|package-lock\.json$)
        pass_filenames: true
      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx eslint --fix "${files[@]}"' --
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx)$
        pass_filenames: true

fix: Improve format fallbacks for Instagram and other sites
  .claude/settings.json
  frontend/package-lock.json
  src/family_assistant/tools/media_download.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

fix: Separate devcontainer roles for backend and claude containers
  .devcontainer/docker-compose.yml
  .devcontainer/setup-git-auth.sh
  .devcontainer/setup-workspace.sh
Due: yamlfmt

fix: Use .ready marker file to prevent race condition
  .devcontainer/setup-workspace.sh
Due: none

feat: Add download_media tool using yt-dlp
  defaults.yaml
  pyproject.toml
  src/family_assistant/tools/__init__.py
  src/family_assistant/tools/media_download.py
  tests/unit/tools/test_media_download_tools.py
  uv.lock
Due: ruff-check, ruff-format, basedpyright, code-conformance, yamlfmt

fix: Address PR review comments for download_media tool
  src/family_assistant/tools/media_download.py
  tests/unit/tools/test_media_download_tools.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

fix: Pass llm_parameters as model_parameters correctly to LLM clients
  src/family_assistant/assistant.py
  src/family_assistant/llm/factory.py
  tests/integration/llm/test_google_computer_use_integration.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

chore: Remove unnecessary test skip workaround
  tests/integration/llm/test_google_computer_use_integration.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

feat: Add generic webhook events endpoint
  src/family_assistant/assistant.py
  src/family_assistant/config_models.py
  src/family_assistant/events/__init__.py
  src/family_assistant/events/webhook_source.py
  src/family_assistant/web/models.py
  src/family_assistant/web/routers/webhooks.py
  tests/functional/web/api/test_webhook_events.py
  tests/unit/events/test_event_source_deduplication.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

feat: Support event_type and source as query parameters in webhook endpoint
  src/family_assistant/web/models.py
  src/family_assistant/web/routers/webhooks.py
  tests/functional/web/api/test_webhook_events.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

fix: Prevent payload extra fields from overwriting system-generated values
  src/family_assistant/web/routers/webhooks.py
  tests/functional/web/api/test_webhook_events.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

feat: Improve webhook event summary display in events view
  frontend/src/pages/Events/components/EventCard.jsx
Due: biome-format, eslint

docs: Add AI Worker Sandbox design document
  docs/design/ai-worker-sandbox.md
Due: mdformat

docs: Add end-to-end use cases and bridge tools to worker sandbox design
  docs/design/ai-worker-sandbox.md
Due: mdformat

docs: Simplify worker sandbox with unified storage on workspace volume
  docs/design/ai-worker-sandbox.md
Due: mdformat
