Repository werdnum/family-assistant: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, basedpyright, mdformat, biome-format, eslint

ruff-check:
  name: ruff-check
  entry: ruff check --fix --preview
  language: system

ruff-format:
  name: ruff-format
  entry: ruff format --preview
  language: system

basedpyright:
  name: basedpyright
  entry: basedpyright
  language: system
  pass_filenames: false

mdformat:
  name: mdformat
  entry: mdformat --wrap 100
  language: system

biome-format:
  name: biome-format
  entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx @biomejs/biome format --write "${files[@]}"' --
  language: system
  pass_filenames: true

eslint:
  name: eslint
  entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx eslint --fix "${files[@]}"' --
  language: system
  pass_filenames: true

fix: Restore access time tracking with proper service layer pattern
  .claude/settings.json
  src/family_assistant/services/attachment_registry.py
  src/family_assistant/web/routers/attachments_api.py
  tests/functional/web/conftest.py
  tests/functional/web/test_chat_ui_attachment_response.py
Due: ruff-check, ruff-format, basedpyright

Fix dependabot config to reduce PR spam
  .github/dependabot.yml
Due: none

Update test_telegram_send_message_tool.py
  tests/functional/telegram/test_telegram_send_message_tool.py
Due: ruff-check, ruff-format, basedpyright

simplify test assertion
  tests/functional/telegram/test_telegram_send_message_tool.py
Due: ruff-check, ruff-format, basedpyright

Clarify send-to-self error message
  src/family_assistant/tools/communication.py
  tests/functional/telegram/test_telegram_send_message_tool.py
Due: ruff-check, ruff-format, basedpyright

Improve send_message_to_user error message for self-messaging
  src/family_assistant/tools/communication.py
  tests/functional/telegram/test_telegram_send_message_tool.py
Due: ruff-check, ruff-format, basedpyright

fix: Eliminate fixed waits from frontend tests and fix test isolation
  AGENTS.md
  REVIEW_GUIDELINES.md
  frontend/src/chat/__tests__/ChatApp.test.tsx
  frontend/src/chat/__tests__/ConversationSidebar.test.tsx
  frontend/src/chat/__tests__/ErrorHandling.test.tsx
  frontend/src/chat/__tests__/StreamingAndToolCall.test.tsx
  frontend/src/chat/__tests__/ToolWithConfirmation.test.tsx
  frontend/src/chat/__tests__/attachmentAdapter.test.js
  frontend/src/test/mocks/localStorageMock.ts
  frontend/src/test/utils/renderChatApp.tsx
  frontend/src/test/utils/waitHelpers.ts
  frontend/vitest.config.js
Due: mdformat, biome-format, eslint

feat: Optimize Playwright test performance with session-scoped fixtures
  .claude/agents/external-research-specialist.md
  docs/design/playwright-fixture-optimization.md
  tests/functional/web/conftest.py
  tests/functional/web/test_chat_ui_attachment_response.py
  tests/functional/web/test_documentation_ui.py
  tests/functional/web/test_enhanced_fixtures_simple.py
  tests/functional/web/test_page_layout.py
  tests/functional/web/test_page_object_basic.py
  tests/functional/web/test_profiles_api.py
  tests/functional/web/test_settings_ui.py
  tests/functional/web/test_tools_ui_playwright.py
  tests/functional/web/test_ui_endpoints_playwright.py
Due: ruff-check, ruff-format, basedpyright, mdformat

fix: Use file-based database for session-scoped fixtures to support pytest-xdist
  tests/functional/web/conftest.py
Due: ruff-check, ruff-format, basedpyright

feat: Optimize CI triggering with path-based conditionals and split Playwright tests
  .github/workflows/ci-with-devcontainer.yml
Due: none

fix: Add pull-requests read permission for paths-filter action
  .github/workflows/ci-with-devcontainer.yml
Due: none

fix: Track and cancel only owned background tasks to prevent pytest-xdist interference
  src/family_assistant/assistant.py
  tests/functional/web/conftest.py
Due: ruff-check, ruff-format, basedpyright

fix: Revert paths-filter to v3 (correct version)
  .claude/test-verification-core.sh
  .github/workflows/ci-with-devcontainer.yml
Due: none

fix: Correct CI skip logic to only skip when ALL files are docs-only
  .github/workflows/ci-with-devcontainer.yml
Due: none

fix: Use robust directory copy pattern for frontend assets in CI
  .github/workflows/ci-with-devcontainer.yml
Due: none

fix: Make CI workflow changes trigger tests and fix path filters
  .github/workflows/ci-with-devcontainer.yml
Due: none

fix: Increase delay between messages in frontend test for CI reliability
  frontend/src/chat/__tests__/ChatApp.test.tsx
Due: biome-format, eslint

Path conditions:
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  basedpyright: any of: \.py$
  mdformat: any of: \.(md|markdown|mdown)$, but not: (?x)^( 
  docs/python-telegram-bot-abridged\.md|
  docs/python-telegram-bot-abridged-filtered\.md
)$

  biome-format: any of: ^frontend/.*\.(js|jsx|ts|tsx|json)$
  eslint: any of: ^frontend/.*\.(js|jsx|ts|tsx)$
