Repository werdnum/family-assistant: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt, biome-format, eslint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-check
        name: ruff-check
        entry: ruff check --fix --preview
        language: system
        types: [python]
      - id: ruff-format
        name: ruff-format
        entry: ruff format --preview
        language: system
        types: [python]
  - repo: local
    hooks:
      - id: basedpyright
        name: basedpyright
        entry: basedpyright
        language: system
        types: [python]
        pass_filenames: false
      - id: code-conformance
        name: code-conformance
        entry: .ast-grep/check-conformance.py
        language: system
        types: [python]
        pass_filenames: true
  - repo: local
    hooks:
      - id: mdformat
        name: mdformat
        entry: mdformat --wrap 100
        language: system
        types: [markdown]
        exclude: "(?x)^( \n  docs/python-telegram-bot-abridged\\.md|\n  docs/python-telegram-bot-abridged-filtered\\.md\n)$\n"
  - repo: local
    hooks:
      - id: yamlfmt
        name: yamlfmt
        language: golang
        entry: yamlfmt
        additional_dependencies:
          - github.com/google/yamlfmt/cmd/yamlfmt@v0.17.0
        types: [yaml]
  - repo: local
    hooks:
      - id: biome-format
        name: biome-format
        entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx @biomejs/biome format --write "${files[@]}"' --
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx|json)$
        exclude: ^frontend/(dev-dist/|package-lock\.json$)
        pass_filenames: true
      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx eslint --fix "${files[@]}"' --
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx)$
        pass_filenames: true

Fix Claude Code binary path for native installer location
  .devcontainer/claude-wrapper.sh
  .devcontainer/setup-workspace.sh
Due: none

Add iOS TestFlight release script
  ios/.gitignore
  ios/ExportOptions.plist
  ios/testflight-release.sh
Due: none

Fix iOS chat list selection sticking after back navigation
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatViewModel.swift
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatViews.swift
  ios/FamilyAssistant/FamilyAssistantTests/ChatViewModelTests.swift
  ios/FamilyAssistant/FamilyAssistantUITests/FamilyAssistantUITests.swift
Due: none

Restore conversation selection when deep-linking to the active thread
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatViewModel.swift
  ios/FamilyAssistant/FamilyAssistantTests/ChatViewModelTests.swift
Due: none

Render per-file attachments + scope delivery acks to turn owner (Codex review)
  frontend/src/chat/__tests__/StreamingAndToolCall.test.tsx
  frontend/src/chat/useStreamingResponse.js
  src/family_assistant/web/conversation_stream_hub.py
  src/family_assistant/web/routers/chat_api.py
  tests/unit/web/test_conversation_stream_hub.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, biome-format, eslint

Carry reasoning_info through to turn_ended (Codex review)
  src/family_assistant/web/turn_producer.py
  tests/functional/web/api/test_resumable_streaming.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Surface failed turn_ended errors in the web client (Codex review)
  frontend/src/chat/__tests__/ErrorHandling.test.tsx
  frontend/src/chat/useStreamingResponse.js
Due: biome-format, eslint

Require explicit client ack to suppress disconnect push (Codex review)
  frontend/src/chat/useStreamingResponse.js
  frontend/src/test/mocks/handlers.ts
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatAPIClient.swift
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatViewModel.swift
  ios/FamilyAssistant/FamilyAssistant/Chat/SSEParser.swift
  src/family_assistant/web/routers/chat_api.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, biome-format, eslint

Filter send-and-watch streams to their own turn (Codex review)
  frontend/src/chat/__tests__/StreamingAndToolCall.test.tsx
  frontend/src/chat/useStreamingResponse.js
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatViewModel.swift
  ios/FamilyAssistant/FamilyAssistant/Chat/SSEParser.swift
  ios/FamilyAssistant/FamilyAssistant/UITesting/UITestConfiguration.swift
Due: biome-format, eslint

Route out-of-band live-update tickles to the right conversation (Codex review)
  frontend/src/chat/useLiveMessageUpdates.ts
  src/family_assistant/web/web_chat_interface.py
  tests/functional/web/api/test_resumable_streaming.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, biome-format, eslint

Harden stream auth + follow-reconnect (pre-commit review)
  frontend/src/chat/useLiveMessageUpdates.ts
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatAPIClient.swift
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatViewModel.swift
  src/family_assistant/web/app_creator.py
  src/family_assistant/web/conversation_stream_hub.py
  src/family_assistant/web/routers/chat_api.py
  src/family_assistant/web/web_chat_interface.py
  tests/functional/web/api/test_resumable_streaming.py
  tests/unit/web/test_conversation_stream_hub.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, biome-format, eslint

Apply ruff formatting after rebase onto main
  src/family_assistant/web/routers/chat_api.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Mark flaky task-worker llm_callback tests for rerun (#889)
  tests/functional/calendar/test_reminders.py
  tests/functional/scripting/test_script_error_notification.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Simplify hub to single-user; harden resume/ack/stream edges (review)
  docs/design/resumable_streaming.md
  frontend/src/chat/useStreamingResponse.js
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatViewModel.swift
  src/family_assistant/web/conversation_stream_hub.py
  src/family_assistant/web/routers/chat_api.py
  tests/functional/web/api/test_resumable_streaming.py
  tests/unit/web/test_conversation_stream_hub.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, biome-format, eslint

Address xhigh review: durable turn idempotency + hub/stream hardening
  docs/design/resumable_streaming.md
  frontend/src/chat/conversationStream.ts
  frontend/src/chat/useLiveMessageUpdates.ts
  frontend/src/chat/useStreamingResponse.js
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatAPIClient.swift
  src/family_assistant/web/conversation_stream_hub.py
  src/family_assistant/web/routers/chat_api.py
  src/family_assistant/web/turn_producer.py
  src/family_assistant/web/web_chat_interface.py
  tests/functional/web/api/test_resumable_streaming.py
  tests/functional/web/ui/test_attachment_processing.py
  tests/unit/web/test_conversation_stream_hub.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, biome-format, eslint

Hub: fix implicit-ack push suppression, dedup publish block, drop dead API
  src/family_assistant/web/conversation_stream_hub.py
  tests/unit/web/test_conversation_stream_hub.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Producer: end turn on cancel, gate errors, attach source; extract confirm wait
  src/family_assistant/services/confirmation_wait.py
  src/family_assistant/telegram/ui.py
  src/family_assistant/web/turn_producer.py
  src/family_assistant/web/web_chat_interface.py
  tests/functional/web/api/test_turn_producer_resilience.py
  tests/unit/services/test_confirmation_wait.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

chat_api: drain race, shutdown, event_types, identity-aware ownership, idempotency
  src/family_assistant/web/models.py
  src/family_assistant/web/routers/chat_api.py
  tests/functional/web/api/test_resumable_streaming.py
  tests/functional/web/conftest.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Frontend: attachment source, stream_dropped recovery, acks, notify restore
  frontend/src/chat/ChatApp.tsx
  frontend/src/chat/__tests__/ErrorHandling.test.tsx
  frontend/src/chat/__tests__/NotificationRestore.test.tsx
  frontend/src/chat/__tests__/ResumableStreaming.test.tsx
  frontend/src/chat/__tests__/StreamingAndToolCall.test.tsx
  frontend/src/chat/__tests__/StreamingErrorRecovery.test.tsx
  frontend/src/chat/__tests__/ToolWithConfirmation.test.tsx
  frontend/src/chat/__tests__/useLiveMessageUpdates.test.tsx
  frontend/src/chat/conversationStream.ts
  frontend/src/chat/useLiveMessageUpdates.ts
  frontend/src/chat/useStreamingResponse.js
  frontend/src/test/mocks/handlers.ts
Due: biome-format, eslint

iOS: event-name-first decode, fix VM/SSE leak, acks, after-pagination
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatAPIClient.swift
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatViewModel.swift
  ios/FamilyAssistant/FamilyAssistant/Chat/SSEParser.swift
  ios/FamilyAssistant/FamilyAssistantTests/ChatAPIClientTests.swift
  ios/FamilyAssistant/FamilyAssistantTests/ChatViewModelTests.swift
  ios/FamilyAssistant/FamilyAssistantTests/SSEParserTests.swift
Due: none

docs: document resumable streaming endpoints, replace deleted ones
  docs/api/README.md
  docs/architecture-diagram.md
Due: mdformat

Frontend: fix typecheck on ResumableStreaming test sse() return type
  frontend/src/chat/__tests__/ResumableStreaming.test.tsx
Due: biome-format, eslint

iOS: fix build — call live-events helpers through weak self?, not bound self
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatViewModel.swift
Due: none

iOS test: echo posted turn_id in send-watch ack mock
  ios/FamilyAssistant/FamilyAssistantTests/ChatViewModelTests.swift
Due: none

iOS test: mark throwing jsonObject call with try? in turn_id echo mock
  ios/FamilyAssistant/FamilyAssistantTests/ChatViewModelTests.swift
Due: none

iOS: don't boot real UI while hosting unit tests
  ios/FamilyAssistant/FamilyAssistant/FamilyAssistantApp.swift
  ios/FamilyAssistant/FamilyAssistant/UITesting/UITestConfiguration.swift
Due: none

Add Xcode Cloud TestFlight delivery (build-number hook + design doc)
  docs/design/ios_testflight_delivery.md
  ios/FamilyAssistant/ci_scripts/ci_pre_xcodebuild.sh
Due: mdformat

iOS test: give Documents launch deep link a generous CI timeout
  ios/FamilyAssistant/FamilyAssistantUITests/FamilyAssistantUITests.swift
Due: none

iOS: fix compiler warnings (unneeded await, unused withLock result)
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatViews.swift
  ios/FamilyAssistant/FamilyAssistant/UITesting/UITestConfiguration.swift
Due: none

iOS TestFlight: pass ASC API key to the archive step too
  ios/testflight-release.sh
Due: none

iOS test: de-flake openMoreSettings More-tab navigation
  ios/FamilyAssistant/FamilyAssistantUITests/FamilyAssistantUITests.swift
Due: none

iOS: report native errors and uncaught exceptions to /api/errors/
  docs/design/ios_error_reporting.md
  docs/user/USER_GUIDE.md
  ios/FamilyAssistant/FamilyAssistant.xcodeproj/project.pbxproj
  ios/FamilyAssistant/FamilyAssistant/Auth/AuthManager.swift
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatViewModel.swift
  ios/FamilyAssistant/FamilyAssistant/ErrorReporting/ErrorReporter.swift
  ios/FamilyAssistant/FamilyAssistant/FamilyAssistantApp.swift
  ios/FamilyAssistant/FamilyAssistant/Notes/NoteDetailView.swift
  ios/FamilyAssistant/FamilyAssistant/Notes/NoteEditorView.swift
  ios/FamilyAssistant/FamilyAssistant/Notes/NotesListView.swift
  ios/FamilyAssistant/FamilyAssistant/Notifications/ConfirmationModalView.swift
  ios/FamilyAssistant/FamilyAssistant/Notifications/NotificationManager.swift
  ios/FamilyAssistant/FamilyAssistantTests/ErrorReporterTests.swift
Due: mdformat

Run a configurable pool of in-process TaskWorkers
  src/family_assistant/assistant.py
  src/family_assistant/config_models.py
  src/family_assistant/storage/repositories/tasks.py
  src/family_assistant/storage/tasks.py
  src/family_assistant/task_worker.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Give pool workers dedicated engines; add pool tests
  src/family_assistant/assistant.py
  src/family_assistant/storage/tasks.py
  src/family_assistant/task_worker.py
  tests/functional/tasks/test_task_worker_pool.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Document the multi task-worker pool
  docs/architecture-diagram.md
  docs/design/multi-task-worker-pool.md
Due: mdformat

Fix otel span test for per-task-type timeout resolution
  tests/unit/test_otel_processing_spans.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Stamp automation provenance from the web API and schedule_action tool
  src/family_assistant/actions.py
  src/family_assistant/events/processor.py
  src/family_assistant/tools/automations.py
  src/family_assistant/tools/tasks.py
  src/family_assistant/web/routers/automations_api.py
  tests/functional/web/api/test_automations_crud_api.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Defer confirm-gated tools in automation scripts to durable confirmations
  docs/user/USER_GUIDE.md
  src/family_assistant/email_intake/actions.py
  src/family_assistant/services/deferred_tool_confirmation.py
  src/family_assistant/task_worker.py
  tests/functional/automations/test_automations_execution.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Execute automation scripts under their creating profile
  alembic/versions/2026_06_10-add_automation_provenance.py
  docs/design/automation_provenance.md
  src/family_assistant/events/processor.py
  src/family_assistant/storage/events.py
  src/family_assistant/storage/repositories/events.py
  src/family_assistant/storage/repositories/schedule_automations.py
  src/family_assistant/storage/schedule_automations.py
  src/family_assistant/storage/types.py
  src/family_assistant/task_worker.py
  src/family_assistant/tools/automations.py
  tests/functional/automations/test_automations_crud.py
  tests/functional/automations/test_automations_execution.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat
