Repository werdnum/family-assistant: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt, biome-format, eslint

ruff-check:
  name: ruff-check
  entry: ruff check --fix --preview
  language: system

ruff-format:
  name: ruff-format
  entry: ruff format --preview
  language: system

basedpyright:
  name: basedpyright
  entry: basedpyright
  language: system
  pass_filenames: false

code-conformance:
  name: code-conformance
  entry: .ast-grep/check-conformance.py
  language: system
  pass_filenames: true

mdformat:
  name: mdformat
  entry: mdformat --wrap 100
  language: system

yamlfmt:
  name: yamlfmt
  language: golang
  entry: yamlfmt
  additional_dependencies:
  - github.com/google/yamlfmt/cmd/yamlfmt@v0.17.0

biome-format:
  name: biome-format
  entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx @biomejs/biome format --write "${files[@]}"' --
  language: system
  pass_filenames: true

eslint:
  name: eslint
  entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx eslint --fix "${files[@]}"' --
  language: system
  pass_filenames: true

Document that config field names decide whether a credential leaks
  AGENTS.md
  src/family_assistant/config_models.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Do not strand the profile token, and count abandoned streamed calls
  docs/design/prometheus-metrics.md
  docs/operations/MONITORING.md
  src/family_assistant/llm/call_context.py
  src/family_assistant/llm/providers/anthropic_client.py
  src/family_assistant/llm/providers/google_genai_client.py
  src/family_assistant/llm/providers/openai_client.py
  src/family_assistant/llm/utils/call_telemetry.py
  src/family_assistant/processing/llm_loop.py
  tests/unit/processing/test_llm_loop_metrics.py
  tests/unit/test_metrics.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Do not strip a bracket closing an IPv6 host during URL extraction
  src/family_assistant/config_inspection.py
  tests/unit/test_config_inspection.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

docs(design): identity-stable browser refs resolved against the live page
  docs/design/browser-ref-identity.md
Due: mdformat

docs(design): refs name a node object, allocated per conversation
  docs/design/browser-ref-identity.md
Due: mdformat

docs(design): resolver shares the walker's eligibility predicate
  docs/design/browser-ref-identity.md
Due: mdformat

Count structured-output and managed-agent spend
  docs/design/prometheus-metrics.md
  src/family_assistant/llm/messages.py
  src/family_assistant/llm/providers/anthropic_client.py
  src/family_assistant/llm/providers/google_genai_client.py
  src/family_assistant/llm/providers/openai_client.py
  src/family_assistant/observability/metrics.py
  src/family_assistant/processing/interactions_agent_service.py
  tests/unit/test_metrics.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

docs(design): allocator lives in conversation-persistent browser state
  docs/design/browser-ref-identity.md
Due: mdformat

Match credential parameter names via the field-name axis; fail closed
  docs/operations/CONFIGURATION_REFERENCE.md
  src/family_assistant/config_inspection.py
  src/family_assistant/tools/engineering.py
  src/family_assistant/tools/mcp.py
  tests/unit/test_config_inspection.py
  tests/unit/tools/test_mcp_reconnect_backoff.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Count image, embedding and confirmed-tool spend
  docs/design/prometheus-metrics.md
  docs/operations/MONITORING.md
  src/family_assistant/embeddings.py
  src/family_assistant/observability/metrics.py
  src/family_assistant/task_worker.py
  src/family_assistant/tools/image_backends.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Redact MCP env blocks; correct the claim that placeholders protect them
  docs/operations/CONFIGURATION_REFERENCE.md
  src/family_assistant/config_inspection.py
  src/family_assistant/tools/mcp.py
  tests/unit/test_config_inspection.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Redact numeric values under credential names, keep quantities readable
  src/family_assistant/config_inspection.py
  tests/unit/test_config_inspection.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Stop the tool counter claiming a success it cannot see
  docs/design/prometheus-metrics.md
  docs/operations/MONITORING.md
  src/family_assistant/observability/metrics.py
  src/family_assistant/processing/tool_execution.py
  src/family_assistant/task_worker.py
  tests/unit/test_metrics.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Close the cancellation gaps and two stale docs
  docs/design/prometheus-metrics.md
  docs/operations/MONITORING.md
  src/family_assistant/llm/providers/anthropic_client.py
  src/family_assistant/llm/providers/google_genai_client.py
  src/family_assistant/llm/providers/openai_client.py
  src/family_assistant/processing/interactions_agent_service.py
  src/family_assistant/tools/image_backends.py
  tests/unit/test_metrics.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Require opting in to the metrics endpoint, and count failed submissions
  docs/operations/CONFIGURATION_REFERENCE.md
  docs/operations/MONITORING.md
  src/family_assistant/assistant.py
  src/family_assistant/config_loader.py
  src/family_assistant/config_models.py
  src/family_assistant/llm/providers/google_genai_client.py
  src/family_assistant/observability/exporter.py
  src/family_assistant/processing/interactions_agent_service.py
  tests/unit/test_config_loader.py
  tests/unit/test_metrics.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Meter tools at the provider, and stop masking a broken duration
  src/family_assistant/assistant.py
  src/family_assistant/llm/providers/anthropic_client.py
  src/family_assistant/llm/providers/google_genai_client.py
  src/family_assistant/llm/providers/openai_client.py
  src/family_assistant/processing/interactions_agent_service.py
  src/family_assistant/processing/tool_execution.py
  src/family_assistant/task_worker.py
  src/family_assistant/tools/__init__.py
  src/family_assistant/tools/infrastructure.py
  tests/unit/test_metrics.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Count tool calls on the taint provider, not a wrapper
  src/family_assistant/assistant.py
  src/family_assistant/tools/__init__.py
  src/family_assistant/tools/infrastructure.py
  tests/unit/test_metrics.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Point the metrics curl example at a reachable target
  docs/operations/MONITORING.md
Due: mdformat

docs(design): withdraw identity-stable refs; resolve against the live page
  docs/design/browser-ref-identity.md
Due: mdformat

Count video generation; say what is not counted
  docs/design/prometheus-metrics.md
  docs/operations/MONITORING.md
  src/family_assistant/tools/video_backends.py
  tests/unit/test_metrics.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Do not count requests that never reached the provider
  src/family_assistant/processing/interactions_agent_service.py
  src/family_assistant/tools/video_backends.py
  tests/unit/test_metrics.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

docs(design): reuse refs in the page; serialise browser actions per conversation
  docs/design/browser-ref-identity.md
Due: mdformat

Type credential config fields SecretStr instead of guessing from names
  AGENTS.md
  scripts/check_mcp_servers.py
  scripts/dump_tool_registry.py
  src/family_assistant/assistant.py
  src/family_assistant/camera/reolink.py
  src/family_assistant/config_inspection.py
  src/family_assistant/config_models.py
  src/family_assistant/email_intake/security.py
  src/family_assistant/scripting/apis/keychute.py
  src/family_assistant/services/oauth_integration_state.py
  src/family_assistant/services/ucp.py
  src/family_assistant/tools/image_generation.py
  src/family_assistant/tools/mqtt.py
  src/family_assistant/tools/video_generation.py
  src/family_assistant/web/routers/debug_api.py
  src/family_assistant/web/routers/oauth_integration.py
  src/family_assistant/web/routers/webhooks.py
  tests/functional/automations/test_automations_crud.py
  tests/functional/integration/test_image_generation.py
  tests/functional/scripting/test_stored_scripts.py
  tests/functional/tools/test_execute_script.py
  tests/functional/tools/test_script_testing.py
  tests/functional/web/api/test_debug_api.py
  tests/functional/web/api/test_google_e2e.py
  tests/functional/web/api/test_google_integration.py
  tests/functional/web/api/test_mail_webhook_attachments.py
  tests/functional/web/api/test_mail_webhook_security.py
  tests/unit/calendar_config/test_profile_calendar_provider.py
  tests/unit/scripting/test_keychute_api.py
  tests/unit/services/test_oauth_credentials.py
  tests/unit/services/test_ucp_service.py
  tests/unit/test_config_inspection.py
  tests/unit/test_config_loader.py
  tests/unit/tools/test_engineering_diagnostics.py
  tests/unit/tools/test_image_generation_tools.py
  tests/unit/tools/test_mqtt_tools.py
  tests/unit/tools/test_shopping_tools.py
  tests/unit/tools/test_shopping_ucp_contract.py
  tests/unit/tools/test_video_backends.py
  tests/unit/web/test_debug_api_helpers.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

docs(design): serialiser refuses queued actions once the document is replaced
  docs/design/browser-ref-identity.md
Due: mdformat

Count agent submissions at the provider boundary; split image input
  docs/design/prometheus-metrics.md
  docs/operations/MONITORING.md
  src/family_assistant/llm/messages.py
  src/family_assistant/llm/providers/google_genai_client.py
  src/family_assistant/observability/metrics.py
  src/family_assistant/processing/interactions_agent_service.py
  src/family_assistant/tools/image_backends.py
  tests/functional/automations/test_async_delegation.py
  tests/unit/test_metrics.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

docs(design): document replacement keyed on page-reported identity, not URL
  docs/design/browser-ref-identity.md
Due: mdformat

docs(design): one document fence for every replacement path
  docs/design/browser-ref-identity.md
Due: mdformat

Bound the tool label so a bad name cannot grow the series set
  src/family_assistant/observability/metrics.py
  src/family_assistant/tools/infrastructure.py
  tests/unit/test_metrics.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

docs(design): remembered document advances at the model boundary, not per result
  docs/design/browser-ref-identity.md
Due: mdformat

Unwrap SecretStr on the paths where the declaration is lost
  src/family_assistant/__main__.py
  src/family_assistant/assistant.py
  src/family_assistant/services/oauth_credentials.py
  src/family_assistant/web/routers/oauth_integration.py
  tests/functional/web/api/test_google_integration.py
  tests/unit/calendar_config/test_profile_calendar_provider.py
  tests/unit/test_config_inspection.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

docs(design): serialise every browser operation, not only ref actions
  docs/design/browser-ref-identity.md
Due: mdformat

Rewrite the operator redaction section around SecretStr
  docs/operations/CONFIGURATION_REFERENCE.md
Due: mdformat

Fix webhook fixtures and withdraw the config-log guarantee
  AGENTS.md
  docs/operations/CONFIGURATION_REFERENCE.md
  src/family_assistant/config_models.py
  tests/functional/web/api/test_debug_api.py
  tests/functional/web/api/test_webhook_events.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Expand $VAR placeholders inside SecretStr config values
  src/family_assistant/config_loader.py
  tests/unit/test_config_inspection.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Restore the shared app's JWT service after the jwt_enabled fixture
  tests/functional/web/api/test_app_auth.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Count agent runs once, split image modalities, keep resolved models
  docs/design/prometheus-metrics.md
  docs/operations/CONFIGURATION_REFERENCE.md
  docs/operations/MONITORING.md
  src/family_assistant/config_models.py
  src/family_assistant/embeddings.py
  src/family_assistant/llm/messages.py
  src/family_assistant/llm/providers/openai_client.py
  src/family_assistant/observability/metrics.py
  src/family_assistant/processing/interactions_agent_service.py
  src/family_assistant/task_worker.py
  src/family_assistant/tools/image_backends.py
  tests/unit/test_metrics.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

ci: print failing test ids to the backend job log
  .github/workflows/ci-with-devcontainer.yml
Due: yamlfmt

Finalize replayed streams; count a cancellation once
  src/family_assistant/llm/providers/anthropic_client.py
  src/family_assistant/llm/providers/openai_client.py
  src/family_assistant/processing/interactions_agent_service.py
  src/family_assistant/task_worker.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Carry image modalities through the remaining mappers
  src/family_assistant/llm/providers/google_genai_client.py
  src/family_assistant/tools/image_backends.py
  tests/unit/test_metrics.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

test(events): stop holding condition tests to the production time budget
  tests/functional/events/test_condition_evaluator.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Path conditions:
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  basedpyright: any of: \.py$
  code-conformance: any of: \.py$
  mdformat: any of: \.(md|markdown|mdown)$, but not: (?x)^( 
  docs/python-telegram-bot-abridged\.md|
  docs/python-telegram-bot-abridged-filtered\.md
)$

  yamlfmt: any of: \.(yaml|yml)$
  biome-format: any of: ^frontend/.*\.(js|jsx|ts|tsx|json)$, but not: ^frontend/(dev-dist/|package-lock\.json$)
  eslint: any of: ^frontend/.*\.(js|jsx|ts|tsx)$
