Repository werdnum/family-assistant: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, basedpyright, mdformat, biome-format, eslint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-check
        name: ruff-check
        entry: ruff check --fix --preview
        language: system
        types: [python]
      - id: ruff-format
        name: ruff-format
        entry: ruff format --preview
        language: system
        types: [python]
  - repo: local
    hooks:
      - id: basedpyright
        name: basedpyright
        entry: basedpyright
        language: system
        types: [python]
        pass_filenames: false
  - repo: local
    hooks:
      - id: mdformat
        name: mdformat
        entry: mdformat --wrap 100
        language: system
        types: [markdown]
        exclude: "(?x)^( \n  docs/python-telegram-bot-abridged\\.md|\n  docs/python-telegram-bot-abridged-filtered\\.md\n)$\n"
  - repo: https://github.com/google/yamlfmt
    rev: v0.17.0
    hooks:
      - id: yamlfmt
  - repo: local
    hooks:
      - id: biome-format
        name: biome-format
        entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx @biomejs/biome format --write "${files[@]}"' --
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx|json)$
        pass_filenames: true
      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx eslint --fix "${files[@]}"' --
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx)$
        pass_filenames: true

fix: Make CI workflow changes trigger tests and fix path filters
  .github/workflows/ci-with-devcontainer.yml
Due: none

fix: Use robust directory copy pattern for frontend assets in CI
  .github/workflows/ci-with-devcontainer.yml
Due: none

fix: Correct CI skip logic to only skip when ALL files are docs-only
  .github/workflows/ci-with-devcontainer.yml
Due: none

fix: Add pull-requests read permission for paths-filter action
  .github/workflows/ci-with-devcontainer.yml
Due: none

fix: Revert paths-filter to v3 (correct version)
  .claude/test-verification-core.sh
  .github/workflows/ci-with-devcontainer.yml
Due: none

fix: Increase delay between messages in frontend test for CI reliability
  frontend/src/chat/__tests__/ChatApp.test.tsx
Due: biome-format, eslint

feat: Add automatic worktree setup to claude-wrapper.sh
  .devcontainer/claude-wrapper.sh
Due: none

docs: Restructure documentation with context-specific CLAUDE.md files
  .github/workflows/CLAUDE.md
  AGENTS.md
  docs/development/ast-grep-recipes.md
  scripts/CLAUDE.md
  src/family_assistant/tools/CLAUDE.md
  src/family_assistant/web/CLAUDE.md
  tests/CLAUDE.md
  tests/functional/telegram/CLAUDE.md
  tests/functional/web/CLAUDE.md
Due: mdformat

fix: Install Python project dependencies in CI container
  .devcontainer/Dockerfile.ci
Due: none

fix: Use asyncio.to_thread for Path.mkdir in async function
  src/family_assistant/indexing/ingestion.py
Due: ruff-check, ruff-format, basedpyright

refactor: Implement three-layer Docker architecture for optimal CI caching
  .claude/test-verification-core.sh
  .devcontainer/Dockerfile
  .devcontainer/Dockerfile.base
  .devcontainer/Dockerfile.ci
  .devcontainer/README.md
  .github/workflows/build-containers.yml
  .github/workflows/ci-with-devcontainer.yml
Due: mdformat

fix: Install project in editable mode before running CI tests
  .github/workflows/ci-with-devcontainer.yml
Due: none

fix: Set VIRTUAL_ENV=/venv in all CI jobs
  .github/workflows/ci-with-devcontainer.yml
Due: none

refactor: Use short commit SHA for claudecodeui pin
  .devcontainer/Dockerfile
Due: none

fix: Add uv.lock to Dockerfile.ci for proper dependency resolution
  .devcontainer/Dockerfile.ci
Due: none

fix: Use correct pytest path in CI workflow
  .github/workflows/ci-with-devcontainer.yml
Due: none

fix: Use system uv instead of /venv/bin/uv in CI
  .github/workflows/ci-with-devcontainer.yml
Due: none

fix: Remove non-existent README.md from Dockerfile.ci
  .devcontainer/Dockerfile.ci
Due: none

fix: CI test failures - async Path ops, dependency locking, and PATH
  .github/workflows/ci-with-devcontainer.yml
  src/family_assistant/tools/documents.py
Due: ruff-check, ruff-format, basedpyright

fix: Use 'uv sync --extra dev' to install package in editable mode
  .github/workflows/ci-with-devcontainer.yml
Due: none

fix: Rely on setup-workspace.sh for Python env instead of pre-installing
  .devcontainer/Dockerfile.ci
  .github/workflows/ci-with-devcontainer.yml
Due: none

fix: Add setup-workspace.sh ENTRYPOINT to CI container
  .devcontainer/Dockerfile.ci
Due: none

fix: Add explicit Python setup to CI jobs instead of ENTRYPOINT
  .devcontainer/Dockerfile.ci
  .github/workflows/ci-with-devcontainer.yml
Due: none
