Repository werdnum/family-assistant: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, basedpyright, mdformat, biome-format, eslint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-check
        name: ruff-check
        entry: ruff check --fix --preview
        language: system
        types: [python]
      - id: ruff-format
        name: ruff-format
        entry: ruff format --preview
        language: system
        types: [python]
  - repo: local
    hooks:
      - id: basedpyright
        name: basedpyright
        entry: basedpyright
        language: system
        types: [python]
        pass_filenames: false
  - repo: local
    hooks:
      - id: mdformat
        name: mdformat
        entry: mdformat --wrap 100
        language: system
        types: [markdown]
        exclude: "(?x)^( \n  docs/python-telegram-bot-abridged\\.md|\n  docs/python-telegram-bot-abridged-filtered\\.md\n)$\n"
  - repo: https://github.com/google/yamlfmt
    rev: v0.17.0
    hooks:
      - id: yamlfmt
  - repo: local
    hooks:
      - id: biome-format
        name: biome-format
        entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx @biomejs/biome format --write "${files[@]}"' --
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx|json)$
        pass_filenames: true
      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx eslint --fix "${files[@]}"' --
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx)$
        pass_filenames: true

Fix documentation navigation test and API endpoints
  frontend/src/pages/Documentation/components/DocumentationView.jsx
  tests/functional/web/test_documentation_ui.py
Due: ruff-check, ruff-format, basedpyright, biome-format, eslint

feat: Update routing configuration for Events React components
  frontend/src/pages/Events/EventsApp.jsx
  frontend/src/pages/Events/README.md
  frontend/src/pages/Events/components/EventCard.jsx
  frontend/src/pages/Events/components/EventCard.module.css
  frontend/src/pages/Events/components/EventDetail.jsx
  frontend/src/pages/Events/components/EventDetail.module.css
  frontend/src/pages/Events/components/EventFilters.jsx
  frontend/src/pages/Events/components/EventFilters.module.css
  frontend/src/pages/Events/components/EventsList.jsx
  frontend/src/pages/Events/components/EventsList.module.css
  frontend/src/pages/Events/components/EventsPagination.jsx
  frontend/src/pages/Events/components/EventsPagination.module.css
  frontend/src/shared/AppRouter.jsx
  src/family_assistant/templates/base.html.j2
  src/family_assistant/web/app_creator.py
  src/family_assistant/web/routers/events_ui.py
  src/family_assistant/web/routers/vite_pages.py
Due: ruff-check, ruff-format, basedpyright, mdformat, biome-format, eslint

docs: Update ui-convergence-plan.md with Session 2-3 completion details
  docs/design/ui-convergence-plan.md
  tests/functional/web/pages/notes_page.py
Due: ruff-check, ruff-format, basedpyright, mdformat

feat: Convert notes and tasks pages to React
  frontend/notes.html
  frontend/src/notes/NotesApp.jsx
  frontend/src/notes/components/NotesForm.jsx
  frontend/src/notes/components/NotesList.jsx
  frontend/src/notes/index.jsx
  frontend/src/tasks/TasksApp.jsx
  frontend/src/tasks/components/JsonPayloadViewer.jsx
  frontend/src/tasks/components/TaskCard.jsx
  frontend/src/tasks/components/TasksFilter.jsx
  frontend/src/tasks/components/TasksList.jsx
  frontend/src/tasks/index.jsx
  frontend/tasks.html
  tests/functional/web/test_notes_react.py
Due: ruff-check, ruff-format, basedpyright, biome-format, eslint

fix: Resolve React notes edit functionality with proper architecture
  frontend/src/notes/components/NotesForm.jsx
  src/family_assistant/storage/repositories/notes.py
  src/family_assistant/web/routers/notes_api.py
Due: ruff-check, ruff-format, basedpyright, biome-format, eslint

fix: Treat IntegrityError as non-retryable in DatabaseContext
  src/family_assistant/storage/context.py
Due: ruff-check, ruff-format, basedpyright

feat: Add PYTEST_PARALLELISM env var support to run-tests.sh
  scripts/run-tests.sh
Due: none

Implement React Router foundation infrastructure
  frontend/router.html
  frontend/src/chat/ChatPage.jsx
  frontend/src/shared/AppRouter.jsx
  frontend/src/shared/ContextPage.jsx
  frontend/src/shared/Layout.jsx
  frontend/src/shared/router-entry.jsx
  frontend/vite.config.js
  src/family_assistant/web/routers/vite_pages.py
Due: ruff-check, ruff-format, basedpyright, biome-format, eslint

fix: Migrate Tools page to React Router layout system
  frontend/src/notes/components/NotesList.jsx
  frontend/src/pages/Documents/DocumentsList.jsx
  frontend/src/tools/ToolsApp.jsx
  frontend/tools.html
  frontend/vite.config.js
  scripts/run-tests.sh
  src/family_assistant/storage/vector_search.py
  src/family_assistant/templates/base.html.j2
  src/family_assistant/templates/doc_page.html.j2
  src/family_assistant/templates/document_detail.html.j2
  src/family_assistant/templates/document_upload.html.j2
  src/family_assistant/templates/documents_list.html.j2
  src/family_assistant/templates/edit_note.html.j2
  src/family_assistant/templates/index.html.j2
  src/family_assistant/templates/message_history.html.j2
  src/family_assistant/templates/tasks.html.j2
  src/family_assistant/templates/vector_search.html.j2
  src/family_assistant/web/app_creator.py
  src/family_assistant/web/routers/documents_api.py
  src/family_assistant/web/routers/vite_pages.py
  tests/functional/web/conftest.py
  tests/functional/web/test_react_vector_search_ui.py
  tests/functional/web/test_tools_ui_playwright.py
Due: ruff-check, ruff-format, basedpyright, biome-format, eslint

fix: Fix events loading state test timing issues
  tests/functional/web/test_events_ui.py
Due: ruff-check, ruff-format, basedpyright

feat: Complete history page migration to React
  .github/workflows/build-containers.yml
  .github/workflows/ci-with-devcontainer.yml
  alembic/versions/2025_05_29-717b6a577405_add_processing_profile_to_message_.py
  alembic/versions/2025_06_08-dda18702319b_add_include_in_prompt_to_notes.py
  alembic/versions/2025_06_12-d93343aecc37_add_error_logs_table.py
  alembic/versions/2025_06_19-add_script_to_eventactiontype_enum.py
  alembic/versions/2025_07_22-5c039369c3d7_merge_heads.py
  frontend/src/pages/History/HistoryApp.jsx
  frontend/src/pages/History/components/ConversationView.jsx
  frontend/src/pages/History/components/ConversationView.module.css
  frontend/src/pages/History/components/ConversationsList.jsx
  frontend/src/pages/History/components/ConversationsList.module.css
  frontend/src/pages/History/components/HistoryFilters.jsx
  frontend/src/pages/History/components/HistoryFilters.module.css
  frontend/src/pages/History/components/HistoryPagination.jsx
  frontend/src/pages/History/components/HistoryPagination.module.css
  frontend/src/pages/History/components/MessageDisplay.jsx
  frontend/src/pages/History/components/MessageDisplay.module.css
  frontend/src/shared/AppRouter.jsx
  frontend/vite.config.js
  src/family_assistant/templates/base.html.j2
  src/family_assistant/web/app_creator.py
  src/family_assistant/web/routers/history.py
  src/family_assistant/web/routers/vite_pages.py
  tests/cassettes/llm/test_basic_streaming[google-gemini-2.5-flash-lite-preview-06-17].yaml
  tests/cassettes/llm/test_basic_streaming[openai-gpt-4.1-nano].yaml
  tests/cassettes/llm/test_litellm_streaming_with_various_models.yaml
  tests/cassettes/llm/test_streaming_content_accumulation[openai-gpt-4.1-nano].yaml
  tests/cassettes/llm/test_streaming_error_handling[openai-gpt-4.1-nano].yaml
  tests/cassettes/llm/test_streaming_reasoning_info[openai-gpt-4.1-nano].yaml
  tests/cassettes/llm/test_streaming_with_multi_turn_conversation[openai-gpt-4.1-nano].yaml
  tests/cassettes/llm/test_streaming_with_system_message[google-gemini-2.5-flash-lite-preview-06-17].yaml
  tests/cassettes/llm/test_streaming_with_system_message[openai-gpt-4.1-nano].yaml
  tests/cassettes/llm/test_streaming_with_tool_calls[google-gemini-2.5-flash-lite-preview-06-17].yaml
  tests/cassettes/llm/test_streaming_with_tool_calls[openai-gpt-4.1-nano].yaml
  tests/functional/web/pages/history_page.py
  tests/functional/web/test_history_flow.py
  tests/functional/web/test_history_ui.py
Due: ruff-check, ruff-format, basedpyright, biome-format, eslint

Convert errors pages to React and remove obsolete chat UI - Reviewed: HEAD-289faf51
  .claude/banned_commands.json
  frontend/errors.html
  frontend/package-lock.json
  frontend/package.json
  frontend/src/chat/NavHeader.jsx
  frontend/src/errors/ErrorsApp.jsx
  frontend/src/errors/components/ErrorDetail.jsx
  frontend/src/errors/components/ErrorsList.jsx
  frontend/src/errors/errors.css
  frontend/src/errors/index.jsx
  frontend/vite.config.js
  pytest.ini
  src/family_assistant/templates/chat_conversations.html.j2
  src/family_assistant/web/app_creator.py
  src/family_assistant/web/routers/chat_ui.py
  src/family_assistant/web/routers/vite_pages.py
  tests/functional/web/test_ui_endpoints.py
Due: ruff-check, ruff-format, basedpyright, biome-format, eslint

fix: Resolve test failures from React UI migration
  src/family_assistant/templates/base.html.j2
  src/family_assistant/templates/edit_note.html.j2
  src/family_assistant/web/routers/vector_search.py
  tests/functional/web/pages/notes_page.py
Due: ruff-check, ruff-format, basedpyright

docs: Update devcontainer documentation for Docker Compose setup
  .devcontainer/CLAUDE.devcontainer.md
  AGENTS.md
Due: mdformat

Add comprehensive UI convergence plan with tools-first API strategy
  docs/design/ui-convergence-plan.md
Due: mdformat

fix: Add UUID polyfill for browser compatibility
  frontend/src/chat/ChatApp.jsx
  frontend/src/chat/ChatPage.jsx
  frontend/src/utils/uuid.js
Due: biome-format, eslint

fix: Complete notes migration to centralized React Router
  src/family_assistant/web/routers/vite_pages.py
Due: ruff-check, ruff-format, basedpyright

Fix React Router ChatPage initialization order
  frontend/src/chat/ChatPage.jsx
Due: biome-format, eslint

fix: Resolve race condition in delete note test
  tests/functional/web/pages/notes_page.py
Due: ruff-check, ruff-format, basedpyright

feat: Complete Events UI migration to React with test fixes
  frontend/src/pages/Events/components/EventFilters.jsx
  src/family_assistant/web/routers/events_api.py
  tests/functional/web/test_events_ui.py
Due: ruff-check, ruff-format, basedpyright, biome-format, eslint

add qa agent
  .claude/agents/playwright-qa-tester.md
Due: mdformat

docs: Update UI convergence plan with accurate current state
  docs/design/ui-convergence-plan.md
Due: mdformat

test: Update Playwright QA testing agent and enhance UI tests
  .claude/agents/playwright-qa-tester.md
  frontend/src/custom.css
  frontend/src/shared/router-entry.jsx
  frontend/vite.config.js
  tests/functional/web/test_react_documents_ui.py
  tests/functional/web/test_tools_ui_playwright.py
Due: ruff-check, ruff-format, basedpyright, mdformat, biome-format, eslint

Reverse incorrect change of o4-mini to gpt-4o-mini
  config.yaml
Due: none

Fix Google provider configuration: resolve LiteLLM default usage issue (#50)
  config.yaml
  src/family_assistant/__main__.py
Due: ruff-check, ruff-format, basedpyright

Cache JSONEditor import in ToolsApp.jsx
  frontend/src/tools/ToolsApp.jsx
Due: biome-format, eslint

fix: Remove obsolete backend proxy rules and fix undefined variable
  frontend/src/tools/ToolsApp.jsx
  frontend/vite.config.js
Due: biome-format, eslint

add github mcp server
  .devcontainer/setup-workspace.sh
Due: none

Fix Playwright browser installation in Docker container
  Dockerfile
Due: none

feat: Add Tailwind CSS to frontend
  frontend/package-lock.json
  frontend/package.json
  frontend/postcss.config.js
  frontend/tailwind.config.js
Due: biome-format, eslint

Fix template utils test to match actual CSS build output
  tests/functional/web/test_template_utils.py
Due: ruff-check, ruff-format, basedpyright

feat: Set up shadcn/ui foundation
  docs/ux-evaluation/README.md
  docs/ux-evaluation/backend-issues-summary.md
  docs/ux-evaluation/backend-recovery-summary.md
  docs/ux-evaluation/chat-interface-analysis.md
  docs/ux-evaluation/critical-ux-improvements.md
  docs/ux-evaluation/document-upload-analysis.md
  docs/ux-evaluation/pages-list.md
  frontend/components.json
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/ui/__tests__/button.test.tsx
  frontend/src/components/ui/button.tsx
  frontend/src/components/ui/index.ts
  frontend/src/lib/utils.ts
  frontend/src/main.tsx
  frontend/src/styles/globals.css
  frontend/tsconfig.json
  frontend/tsconfig.node.json
  frontend/vite.config.js
Due: mdformat, biome-format, eslint

feat: Replace navigation with shadcn/ui components
  .claude/banned_commands.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/ui/index.ts
  frontend/src/components/ui/navigation-menu.tsx
  frontend/src/components/ui/separator.tsx
  frontend/src/components/ui/sheet.tsx
  frontend/src/shared/AppRouter.jsx
  frontend/src/shared/Layout.jsx
  frontend/src/shared/Layout.tsx
  frontend/src/shared/router-entry.jsx
Due: biome-format, eslint

Replace all HTML buttons with shadcn Button component
  frontend/src/chat/ChatApp.jsx
  frontend/src/chat/ChatPage.jsx
  frontend/src/chat/ConversationSidebar.jsx
  frontend/src/chat/Thread.jsx
  frontend/src/chat/ToolUI.jsx
  frontend/src/chat/TooltipIconButton.jsx
  frontend/src/errors/components/ErrorsList.jsx
  frontend/src/notes/components/NotesForm.jsx
  frontend/src/notes/components/NotesList.jsx
  frontend/src/pages/Documentation/components/DocumentationView.jsx
  frontend/src/pages/Documents/DocumentDetail.jsx
  frontend/src/pages/Documents/DocumentUpload.jsx
  frontend/src/pages/Documents/DocumentsList.jsx
  frontend/src/pages/EventListeners/components/EventListenerDetail.jsx
  frontend/src/pages/EventListeners/components/EventListenerForm.jsx
  frontend/src/pages/EventListeners/components/EventListenersList.jsx
  frontend/src/pages/Events/components/EventCard.jsx
  frontend/src/pages/Events/components/EventDetail.jsx
  frontend/src/pages/Events/components/EventFilters.jsx
  frontend/src/pages/Events/components/EventsList.jsx
  frontend/src/pages/Events/components/EventsPagination.jsx
  frontend/src/pages/History/components/ConversationView.jsx
  frontend/src/pages/History/components/ConversationsList.jsx
  frontend/src/pages/History/components/HistoryFilters.jsx
  frontend/src/pages/History/components/HistoryPagination.jsx
  frontend/src/pages/History/components/MessageDisplay.jsx
  frontend/src/pages/Settings/TokenManagement.jsx
  frontend/src/pages/VectorSearch/VectorSearch.jsx
  frontend/src/tasks/components/JsonPayloadViewer.jsx
  frontend/src/tasks/components/TaskCard.jsx
  frontend/src/tasks/components/TasksFilter.jsx
  frontend/src/tasks/components/TasksList.jsx
Due: biome-format, eslint

feat: Implement reusable DataTable component with shadcn/ui and Tanstack Table
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/ui/README.md
  frontend/src/components/ui/data-table.tsx
  frontend/src/components/ui/table.tsx
  frontend/src/notes/NotesApp.jsx
  frontend/src/notes/components/NotesList.jsx
  frontend/src/notes/components/NotesListWithDataTable.tsx
Due: mdformat, biome-format, eslint
