Repository werdnum/family-assistant: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, basedpyright, mdformat, biome-format, eslint

ruff-check:
  name: ruff-check
  entry: ruff check --fix --preview
  language: system

ruff-format:
  name: ruff-format
  entry: ruff format --preview
  language: system

basedpyright:
  name: basedpyright
  entry: basedpyright
  language: system
  pass_filenames: false

mdformat:
  name: mdformat
  entry: mdformat --wrap 100
  language: system

biome-format:
  name: biome-format
  entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx @biomejs/biome format --write "${files[@]}"' --
  language: system
  pass_filenames: true

eslint:
  name: eslint
  entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx eslint --fix "${files[@]}"' --
  language: system
  pass_filenames: true

Address PR feedback: code quality improvements
  src/family_assistant/llm/providers/google_genai_client.py
  src/family_assistant/tools/image_tools.py
  tests/functional/test_attachment_tools.py
Due: ruff-check, ruff-format, basedpyright

Make highlight_image fail fast on invalid regions
  src/family_assistant/tools/image_tools.py
  tests/functional/test_attachment_tools.py
Due: ruff-check, ruff-format, basedpyright

Fix highlight_image tool and add Gemini coordinate support
  src/family_assistant/llm/__init__.py
  src/family_assistant/llm/providers/google_genai_client.py
  src/family_assistant/processing.py
  src/family_assistant/tools/image_tools.py
  tests/functional/test_attachment_tools.py
Due: ruff-check, ruff-format, basedpyright

Improve test reliability and verification checks
  .claude/test-verification-core.sh
  tests/functional/web/conftest.py
  tests/functional/web/test_playwright_basic.py
Due: ruff-check, ruff-format, basedpyright

fix: Improve chat UI attachment handling and feedback
  frontend/src/chat/ChatApp.tsx
  frontend/src/chat/Thread.tsx
  frontend/src/chat/TooltipIconButton.jsx
  frontend/src/chat/__tests__/Thread.test.tsx
  frontend/src/chat/__tests__/TooltipIconButton.test.jsx
  frontend/src/chat/useStreamingResponse.js
  frontend/src/components/assistant-ui/__tests__/attachment.test.tsx
  frontend/src/components/assistant-ui/attachment.tsx
  frontend/src/components/assistant-ui/tooltip-icon-button.tsx
  frontend/src/components/ui/tooltip.tsx
  frontend/src/test/setup.js
Due: biome-format, eslint

fix: Eliminate UI endpoint test flakiness by waiting for network idle
  tests/functional/web/conftest.py
  tests/functional/web/pages/base_page.py
Due: ruff-check, ruff-format, basedpyright

refactor: Simplify provider_metadata extraction logic
  src/family_assistant/processing.py
Due: ruff-check, ruff-format, basedpyright

feat: Add support for Gemini thought signatures in provider_metadata
  src/family_assistant/llm/__init__.py
  src/family_assistant/llm/providers/google_genai_client.py
  src/family_assistant/processing.py
  tests/cassettes/llm/test_thought_signatures_with_tool_calls.yaml
  tests/cassettes/llm/test_thought_signatures_without_tool_calls.yaml
  tests/functional/test_thought_signatures.py
  tests/integration/llm/test_thought_signatures.py
Due: ruff-check, ruff-format, basedpyright

feat: Add provider_metadata field for thought signatures
  alembic/versions/2025_10_03-4e791e977f02_add_provider_metadata_to_message_history.py
  src/family_assistant/llm/__init__.py
  src/family_assistant/storage/message_history.py
  src/family_assistant/storage/repositories/message_history.py
Due: ruff-check, ruff-format, basedpyright

feat: Migrate to stable gemini-embedding-001 model
  alembic/versions/2025_10_03-6d7dd88fefad_rename_gemini_embedding_model_to_stable.py
  src/family_assistant/__main__.py
Due: ruff-check, ruff-format, basedpyright

docs: Add gemini embedding migration documentation
  docs/design/gemini-embedding-migration.md
Due: mdformat

feat: Inject attachment IDs into tool response messages
  src/family_assistant/llm/__init__.py
  src/family_assistant/processing.py
  src/family_assistant/tools/attachment_utils.py
  src/family_assistant/tools/types.py
  tests/functional/test_attachment_id_injection.py
  tests/unit/test_processing_multimodal_integration.py
Due: ruff-check, ruff-format, basedpyright

fix: Include root message in thread queries for attachment context
  src/family_assistant/storage/repositories/message_history.py
  tests/functional/telegram/test_thread_history.py
  tests/functional/test_processing_profiles.py
Due: ruff-check, ruff-format, basedpyright

feat: Implement Telegram Media Groups for consecutive images
  src/family_assistant/telegram_bot.py
  tests/functional/telegram/test_telegram_media_groups.py
Due: ruff-check, ruff-format, basedpyright

config: Increase message history limit from 3 to 10 messages
  config.yaml
Due: none

docs: Document Telegram conversational context and attachment handling
  docs/design/telegram_conversational_context.md
Due: mdformat

feat: Add conversation attachment context provider
  docs/design/telegram_conversational_context.md
  prompts.yaml
  src/family_assistant/processing.py
  src/family_assistant/services/attachment_registry.py
  tests/functional/telegram/test_thread_history.py
Due: ruff-check, ruff-format, basedpyright, mdformat

Path conditions:
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  basedpyright: any of: \.py$
  mdformat: any of: \.(md|markdown|mdown)$, but not: (?x)^( 
  docs/python-telegram-bot-abridged\.md|
  docs/python-telegram-bot-abridged-filtered\.md
)$

  biome-format: any of: ^frontend/.*\.(js|jsx|ts|tsx|json)$
  eslint: any of: ^frontend/.*\.(js|jsx|ts|tsx)$
