Repository werdnum/family-assistant: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt, biome-format, eslint

ruff-check:
  name: ruff-check
  entry: ruff check --fix --preview
  language: system

ruff-format:
  name: ruff-format
  entry: ruff format --preview
  language: system

basedpyright:
  name: basedpyright
  entry: basedpyright
  language: system
  pass_filenames: false

code-conformance:
  name: code-conformance
  entry: .ast-grep/check-conformance.py
  language: system
  pass_filenames: true

mdformat:
  name: mdformat
  entry: mdformat --wrap 100
  language: system

yamlfmt:
  name: yamlfmt
  language: golang
  entry: yamlfmt
  additional_dependencies:
  - github.com/google/yamlfmt/cmd/yamlfmt@v0.17.0

biome-format:
  name: biome-format
  entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx @biomejs/biome format --write "${files[@]}"' --
  language: system
  pass_filenames: true

eslint:
  name: eslint
  entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx eslint --fix "${files[@]}"' --
  language: system
  pass_filenames: true

Compacted turns carry no provider replay state
  docs/design/history-compaction.md
Due: mdformat

Age cap outranks recency for the newest turns
  docs/design/history-compaction.md
Due: mdformat

State compaction events as: whenever the window has to change
  docs/design/history-compaction.md
Due: mdformat

Name the active turn in the mandatory set
  docs/design/history-compaction.md
Due: mdformat

Open every web page link in the iOS app
  docs/operations/CONFIGURATION_REFERENCE.md
  docs/user/interfaces.md
  ios/FamilyAssistant/FamilyAssistant/AppRouting.swift
  ios/FamilyAssistant/FamilyAssistant/Notifications/NotificationManager.swift
  ios/FamilyAssistant/FamilyAssistant/RootTabView.swift
  ios/FamilyAssistant/FamilyAssistantTests/NotificationManagerTests.swift
  ios/FamilyAssistant/FamilyAssistantTests/RouteTests.swift
  src/family_assistant/web/app_creator.py
  src/family_assistant/web/routers/app_auth.py
  src/family_assistant/web/routers/vite_pages.py
  tests/functional/web/api/test_app_auth.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

docs: design for human-approved actions as tool-call reviewer evidence
  docs/design/approved-actions-in-tool-call-review.md
Due: mdformat

docs: limit approved-value echo to declared destination arguments
  docs/design/approved-actions-in-tool-call-review.md
Due: mdformat

docs: render declines alongside approvals; pin eval to an adjudicate cell
  docs/design/approved-actions-in-tool-call-review.md
Due: mdformat

docs: fence approval-block fields through the reviewer's serializer
  docs/design/approved-actions-in-tool-call-review.md
Due: mdformat

docs: attest the rendered prompt, not raw arguments
  docs/design/approved-actions-in-tool-call-review.md
Due: mdformat

docs: count only human-made decisions, not system cleanup rejections
  docs/design/approved-actions-in-tool-call-review.md
Due: mdformat

Count thread and pinned turns toward the minimum
  src/family_assistant/processing/history_window.py
  tests/functional/test_history_window.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Keep every turn when the minimum exceeds the history
  src/family_assistant/processing/history_window.py
  tests/unit/processing/test_history_window.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Keep turn expansion inside the conversation
  src/family_assistant/processing/history_window.py
  src/family_assistant/storage/repositories/message_history.py
  tests/functional/test_history_window.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Keep inline markdown in iOS table cells so links are tappable
  ios/FamilyAssistant/FamilyAssistant/Chat/NativeMarkdownRenderer.swift
  ios/FamilyAssistant/FamilyAssistantTests/MarkdownRendererTests.swift
Due: none

Leave image references only where a model can look again
  docs/operations/CONFIGURATION_REFERENCE.md
  src/family_assistant/processing/history_compaction.py
  src/family_assistant/processing/service.py
  tests/unit/processing/test_history_compaction.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Compact the history window only at events
  alembic/versions/2026_10_05-add_history_compaction_events.py
  defaults.yaml
  docs/operations/CONFIGURATION_REFERENCE.md
  src/family_assistant/assistant.py
  src/family_assistant/config_loader.py
  src/family_assistant/config_models.py
  src/family_assistant/processing/context.py
  src/family_assistant/processing/history_compaction.py
  src/family_assistant/processing/history_window.py
  src/family_assistant/processing/llm_loop.py
  src/family_assistant/processing/service.py
  src/family_assistant/processing/types.py
  src/family_assistant/processing/utils.py
  src/family_assistant/security/taint.py
  src/family_assistant/storage/__init__.py
  src/family_assistant/storage/database.py
  src/family_assistant/storage/history_compaction.py
  src/family_assistant/storage/repositories/__init__.py
  src/family_assistant/storage/repositories/history_compaction.py
  src/family_assistant/storage/repositories/message_history.py
  src/family_assistant/web/turn_producer.py
  tests/functional/history_window_helpers.py
  tests/functional/test_history_compaction.py
  tests/functional/test_history_window.py
  tests/unit/llm/providers/test_compacted_history_adapters.py
  tests/unit/processing/test_context_pruning.py
  tests/unit/processing/test_history_compaction.py
  tests/unit/processing/test_history_window.py
  tests/unit/processing/test_llm_loop_system_prompt_stability.py
  tests/unit/processing/test_llm_loop_tool_advertisement.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt

Keep a thinking strip through compaction and restore
  src/family_assistant/processing/history_compaction.py
  tests/unit/processing/test_history_compaction.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Never compact an image that has no id to refer back to
  src/family_assistant/processing/history_compaction.py
  tests/unit/processing/test_history_compaction.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Leave unfinished turns out of compaction events
  alembic/versions/2026_10_05-add_history_compaction_events.py
  src/family_assistant/processing/history_window.py
  src/family_assistant/storage/history_compaction.py
  src/family_assistant/storage/repositories/history_compaction.py
  tests/functional/test_history_compaction.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Record system-withdrawn confirmations apart from human decisions
  alembic/versions/2026_10_05-add_confirmation_resolved_by_system.py
  src/family_assistant/services/confirmation_service.py
  src/family_assistant/storage/confirmation_requests.py
  src/family_assistant/storage/repositories/confirmation_requests.py
  src/family_assistant/telegram/ui.py
  src/family_assistant/web/routers/chat_api.py
  tests/functional/storage/test_confirmation_requests.py
  tests/functional/telegram/test_telegram_confirmation.py
  tests/functional/web/api/test_chat_turn_control.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Show human confirmation decisions to the tool-call reviewer
  docs/design/approved-actions-in-tool-call-review.md
  src/family_assistant/services/tool_call_review.py
  src/family_assistant/tools/infrastructure.py
  tests/unit/services/test_tool_call_review.py
  tests/unit/tools/test_tool_call_review_integration.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Skip the confirmation lookup when the reviewed history has no tool calls
  src/family_assistant/tools/infrastructure.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Record the taint read's separate relevance call as a simplification
  docs/design/history-compaction.md
Due: mdformat

Rank only the turns an event decides
  src/family_assistant/processing/history_window.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Rank turns with Jev at compaction events; classify Auto with Jev
  docs/design/history-compaction.md
  docs/operations/CONFIGURATION_REFERENCE.md
  src/family_assistant/assistant.py
  src/family_assistant/config_loader.py
  src/family_assistant/config_models.py
  src/family_assistant/llm/messages.py
  src/family_assistant/llm/model_routing.py
  src/family_assistant/llm/model_selection.py
  src/family_assistant/llm/typesafe.py
  src/family_assistant/processing/history_relevance.py
  src/family_assistant/processing/history_window.py
  src/family_assistant/processing/service.py
  tests/functional/history_window_helpers.py
  tests/functional/test_history_relevance_compaction.py
  tests/functional/web/api/test_chat_model_routing.py
  tests/mocks/fake_jev.py
  tests/unit/llm/test_model_routing.py
  tests/unit/llm/test_typesafe.py
  tests/unit/processing/test_history_relevance.py
  tests/unit/test_config_inspection.py
  tests/unit/test_config_loader.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Reject partial Jev tier answers; offer system-triggered turns by their trigger
  src/family_assistant/llm/model_routing.py
  src/family_assistant/processing/history_window.py
  tests/functional/test_history_relevance_compaction.py
  tests/unit/llm/test_model_routing.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Rank against the real trigger, on every path
  src/family_assistant/config_models.py
  src/family_assistant/processing/history_window.py
  src/family_assistant/processing/service.py
  src/family_assistant/web/routers/chat_api.py
  src/family_assistant/web/turn_producer.py
  tests/functional/test_history_relevance_compaction.py
  tests/unit/test_config_loader.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Record Jev integration tests against the real endpoint
  tests/cassettes/llm/test_jev_answers_typed_questions.yaml
  tests/cassettes/llm/test_jev_chooses_an_auto_tier_with_a_probability_for_each.yaml
  tests/cassettes/llm/test_jev_ranks_the_turn_a_follow_up_continues.yaml
  tests/integration/llm/test_typesafe_integration.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, yamlfmt

Count Jev calls in LLM telemetry; refuse answers off the probability scale
  src/family_assistant/llm/typesafe.py
  tests/unit/llm/test_typesafe.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Merge the two alembic heads on main
  alembic/versions/2026_10_06-merge_compaction_confirm_heads.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Fix migration CI at merge revisions and validate queued migrations
  .github/workflows/ci-with-devcontainer.yml
  tests/functional/storage/test_statement_cancellation.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, yamlfmt

Refuse Jev choice answers that are not exactly the offered options
  src/family_assistant/llm/typesafe.py
  tests/unit/llm/test_typesafe.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Add classify() and classify_yes_no() to scripts
  docs/operations/CONFIGURATION_REFERENCE.md
  docs/user/scripting.md
  src/family_assistant/assistant.py
  src/family_assistant/processing/service.py
  src/family_assistant/scripting/apis/classify.py
  src/family_assistant/scripting/config.py
  src/family_assistant/scripting/invocation.py
  src/family_assistant/scripting/monty_engine.py
  src/family_assistant/scripting/validator.py
  src/family_assistant/task_worker.py
  tests/functional/scripting/test_classify_api.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Grade document tools by each document's provenance
  docs/design/secure-email-intake-actions.md
  src/family_assistant/tools/__init__.py
  src/family_assistant/tools/documents.py
  src/family_assistant/tools/taint_helpers.py
  tests/unit/security/test_runtime_taint.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Record note:<id> on the policy audit row of note writes
  src/family_assistant/storage/repositories/notes.py
  src/family_assistant/storage/repositories/taint_audit.py
  src/family_assistant/tools/infrastructure.py
  src/family_assistant/tools/notes.py
  src/family_assistant/tools/types.py
  tests/unit/security/test_runtime_taint.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Grade delegation status tools by each run's own taint
  docs/design/judge-gated-engineer-side-effects.md
  src/family_assistant/tools/__init__.py
  src/family_assistant/tools/services.py
  tests/functional/automations/test_async_delegation.py
  tests/functional/tools/test_defaults_tool_policy_parity.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Explain why the GitHub MCP servers stay output_untrusted
  defaults.yaml
  docs/design/engineer_profile.md
Due: mdformat, yamlfmt

Evict taint sources by tier instead of age
  src/family_assistant/security/taint.py
  tests/unit/security/test_history_taint_origin.py
  tests/unit/security/test_runtime_taint.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Path conditions:
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  basedpyright: any of: \.py$
  code-conformance: any of: \.py$
  mdformat: any of: \.(md|markdown|mdown)$, but not: (?x)^( 
  docs/python-telegram-bot-abridged\.md|
  docs/python-telegram-bot-abridged-filtered\.md
)$

  yamlfmt: any of: \.(yaml|yml)$
  biome-format: any of: ^frontend/.*\.(js|jsx|ts|tsx|json)$, but not: ^frontend/(dev-dist/|package-lock\.json$)
  eslint: any of: ^frontend/.*\.(js|jsx|ts|tsx)$
