Repository werdnum/family-assistant: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt, biome-format, eslint

ruff-check:
  name: ruff-check
  entry: ruff check --fix --preview
  language: system

ruff-format:
  name: ruff-format
  entry: ruff format --preview
  language: system

basedpyright:
  name: basedpyright
  entry: basedpyright
  language: system
  pass_filenames: false

code-conformance:
  name: code-conformance
  entry: .ast-grep/check-conformance.py
  language: system
  pass_filenames: true

mdformat:
  name: mdformat
  entry: mdformat --wrap 100
  language: system

yamlfmt:
  name: yamlfmt
  language: golang
  entry: yamlfmt
  additional_dependencies:
  - github.com/google/yamlfmt/cmd/yamlfmt@v0.17.0

biome-format:
  name: biome-format
  entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx @biomejs/biome format --write "${files[@]}"' --
  language: system
  pass_filenames: true

eslint:
  name: eslint
  entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx eslint --fix "${files[@]}"' --
  language: system
  pass_filenames: true

Address GitHub Codex review findings on PR
  docs/design/user-scoped-google-data-access.md
Due: mdformat

Address Codex review round 17: single-use OAuth state + lease draining
  docs/design/user-scoped-google-data-access.md
Due: mdformat

Make taint enforcement an operator choice, not a hard gate
  docs/design/user-scoped-google-data-access.md
Due: mdformat

Address Codex review round 16: random credential generation + status check
  docs/design/user-scoped-google-data-access.md
Due: mdformat

Address Codex review round 11: attachment owner enforcement
  docs/design/user-scoped-google-data-access.md
Due: mdformat

Address Codex review round 6: floor evaluator + tier-qualified guarantee
  docs/design/user-scoped-google-data-access.md
Due: mdformat

Address Codex review round 5: runtime plumbing details
  docs/design/user-scoped-google-data-access.md
Due: mdformat

Address Codex review round 15: aggregate max-tier + response leases
  docs/design/user-scoped-google-data-access.md
Due: mdformat

Scope PKCE claim; accept leaked-live-authorization-URL as notified residual
  docs/design/user-scoped-google-data-access.md
Due: mdformat

Simplify: drop edge-case machinery, keep load-bearing security
  docs/design/user-scoped-google-data-access.md
Due: mdformat

Address Codex review round 4: scope allowlist + session precondition
  docs/design/user-scoped-google-data-access.md
Due: mdformat

Address Codex design review round 2
  docs/design/user-scoped-google-data-access.md
Due: mdformat

Address Codex review round 10: scope-conditional tool registration
  docs/design/user-scoped-google-data-access.md
Due: mdformat

Address Codex review round 8: key-mismatch handling + per-milestone docs
  docs/design/user-scoped-google-data-access.md
Due: mdformat

Address Codex review round 12: refresh CAS + full-op owner checks
  docs/design/user-scoped-google-data-access.md
Due: mdformat

Address Codex review round 18: DB-backed OAuth flows, delivery actor, race tests
  docs/design/user-scoped-google-data-access.md
Due: mdformat

Design user-scoped Google personal data access (Gmail & Drive)
  docs/design/user-scoped-google-data-access.md
Due: mdformat

Proportionate fixes for post-simplification review findings
  docs/design/user-scoped-google-data-access.md
Due: mdformat

Bind OAuth codes to the pending flow with PKCE
  docs/design/user-scoped-google-data-access.md
Due: mdformat

Actor-bind all registry accessors; 401 evicts token and retries once
  docs/design/user-scoped-google-data-access.md
Due: mdformat

Address Codex review round 14: co-locate invocation id with finalizer
  docs/design/user-scoped-google-data-access.md
Due: mdformat

Address Codex review round 7: attachment read-back provenance
  docs/design/user-scoped-google-data-access.md
Due: mdformat

Address Codex review round 3: scope the taint-floor guarantee precisely
  docs/design/user-scoped-google-data-access.md
Due: mdformat

Address Codex design review round 1
  docs/design/user-scoped-google-data-access.md
Due: mdformat

Address Codex review round 9: require real web auth for enablement
  docs/design/user-scoped-google-data-access.md
Due: mdformat

Address Codex review round 13: cache headers, metadata route, invocation ids
  docs/design/user-scoped-google-data-access.md
Due: mdformat

Add Connected accounts settings page for Google integration
  frontend/src/pages/Settings/ConnectedAccounts.jsx
  frontend/src/pages/Settings/__tests__/ConnectedAccounts.test.jsx
  frontend/src/shared/AppRouter.jsx
  frontend/src/shared/Layout.tsx
  frontend/src/shared/navigation.ts
  frontend/src/test/mocks/handlers.ts
Due: biome-format, eslint

Gate Google integration on startup validation and taint floor
  AGENTS.md
  docs/user/USER_GUIDE.md
  prompts.yaml
  scripts/generate_credential_key.py
  src/family_assistant/assistant.py
  src/family_assistant/services/google_integration_state.py
  src/family_assistant/web/routers/google_integration.py
  tests/functional/tools/test_google_tool_advertisement.py
  tests/functional/web/api/test_google_e2e.py
  tests/functional/web/api/test_google_integration.py
  tests/unit/services/test_google_integration_state.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt

Address review: Drive download caps, disabled-state disconnect, atomic upsert
  frontend/src/pages/Settings/ConnectedAccounts.jsx
  frontend/src/pages/Settings/__tests__/ConnectedAccounts.test.jsx
  src/family_assistant/services/google_api.py
  src/family_assistant/storage/repositories/google_connections.py
  src/family_assistant/tools/google_data.py
  src/family_assistant/web/routers/google_integration.py
  tests/functional/tools/test_google_data_tools.py
  tests/functional/web/api/test_google_integration.py
  tests/unit/services/test_google_api.py
  tests/unit/storage/test_google_connections_repository.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, biome-format, eslint

Fix Google dependency wiring in worker contexts and attachment resolution transaction visibility
  src/family_assistant/processing/attachments.py
  src/family_assistant/processing/service.py
  src/family_assistant/task_worker.py
  tests/functional/tasks/test_confirmation_tool_execution.py
  tests/unit/processing/test_processing_fail_fast.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Record last_used_at on successful API use, not token refresh
  src/family_assistant/services/google_credentials.py
  src/family_assistant/tools/google_data.py
  tests/functional/web/api/test_google_e2e.py
  tests/unit/services/test_google_credentials.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Harden Google integration auth and enablement per second-look review
  docs/design/user-scoped-google-data-access.md
  docs/user/USER_GUIDE.md
  prompts.yaml
  src/family_assistant/services/google_integration_state.py
  src/family_assistant/web/dependencies.py
  src/family_assistant/web/routers/google_integration.py
  tests/functional/web/api/test_google_e2e.py
  tests/functional/web/api/test_google_integration.py
  tests/unit/services/test_google_integration_state.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt

Recover Gmail attachment filename and MIME type from part metadata
  src/family_assistant/tools/google_data.py
  tests/functional/tools/test_google_data_tools.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Thread delivery actor through send_message_to_user; fetch all Gmail metadata headers
  src/family_assistant/tools/communication.py
  src/family_assistant/tools/google_data.py
  tests/functional/attachments/test_attachment_tools.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Serve OAuth HTTP calls through the lifecycle-managed shared client
  src/family_assistant/assistant.py
  src/family_assistant/web/routers/google_integration.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Consume OAuth state on denied callbacks; take attachment MIME from part metadata
  src/family_assistant/tools/google_data.py
  src/family_assistant/web/routers/google_integration.py
  tests/functional/tools/test_google_data_tools.py
  tests/functional/web/api/test_google_e2e.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Execute generic tools API as the session user with Google context
  src/family_assistant/web/routers/tools_api.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Update workflow test for on_behalf_of_user_id delivery kwarg
  tests/functional/attachments/test_attachment_workflows.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Path conditions:
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  basedpyright: any of: \.py$
  code-conformance: any of: \.py$
  mdformat: any of: \.(md|markdown|mdown)$, but not: (?x)^( 
  docs/python-telegram-bot-abridged\.md|
  docs/python-telegram-bot-abridged-filtered\.md
)$

  yamlfmt: any of: \.(yaml|yml)$
  biome-format: any of: ^frontend/.*\.(js|jsx|ts|tsx|json)$, but not: ^frontend/(dev-dist/|package-lock\.json$)
  eslint: any of: ^frontend/.*\.(js|jsx|ts|tsx)$
