Repository werdnum/family-assistant: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, basedpyright, mdformat, biome-format, eslint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-check
        name: ruff-check
        entry: ruff check --fix --preview
        language: system
        types: [python]
      - id: ruff-format
        name: ruff-format
        entry: ruff format --preview
        language: system
        types: [python]
  - repo: local
    hooks:
      - id: basedpyright
        name: basedpyright
        entry: basedpyright
        language: system
        types: [python]
        pass_filenames: false
  - repo: local
    hooks:
      - id: mdformat
        name: mdformat
        entry: mdformat --wrap 100
        language: system
        types: [markdown]
        exclude: "(?x)^( \n  docs/python-telegram-bot-abridged\\.md|\n  docs/python-telegram-bot-abridged-filtered\\.md\n)$\n"
  - repo: https://github.com/google/yamlfmt
    rev: v0.17.0
    hooks:
      - id: yamlfmt
  - repo: local
    hooks:
      - id: biome-format
        name: biome-format
        entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx @biomejs/biome format --write "${files[@]}"' --
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx|json)$
        pass_filenames: true
      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx eslint --fix "${files[@]}"' --
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx)$
        pass_filenames: true

debug: Add extensive debug logging to trace SSE streaming pipeline
  .playwright-mcp/chat-interface-loaded.png
  .playwright-mcp/chat-page-with-attachment-button.png
  .playwright-mcp/chat-with-assistant-response.png
  .playwright-mcp/tooltip-test-complete.png
  debug_sse_test.py
  docs/design/web-file-upload-implementation.md
  frontend/eslint.config.mjs
  frontend/package-lock.json
  frontend/package.json
  frontend/src/chat/ChatApp.tsx
  frontend/src/chat/Thread.tsx
  frontend/src/chat/__tests__/attachmentAdapter.test.js
  frontend/src/chat/attachmentAdapter.js
  frontend/src/chat/useStreamingResponse.js
  frontend/src/components/assistant-ui/attachment.tsx
  frontend/src/components/assistant-ui/tooltip-icon-button.tsx
  frontend/src/components/ui/dialog.tsx
  frontend/src/components/ui/tooltip.tsx
  src/family_assistant/processing.py
  src/family_assistant/web/models.py
  src/family_assistant/web/routers/chat_api.py
  tests/functional/test_task_worker_resilience.py
  tests/functional/web/conftest.py
  tests/functional/web/pages/chat_page.py
  tests/functional/web/test_chat_api_attachments.py
  tests/functional/web/test_file_upload_functionality.py
Due: ruff-check, ruff-format, basedpyright, mdformat, biome-format, eslint

AGENTS.md updates
  AGENTS.md
Due: mdformat

Update AGENTS.md
  AGENTS.md
Due: mdformat

Fix `llm` examples in AGENTS.md
  AGENTS.md
Due: mdformat

feat: Add file upload and attachment support to web chat interface
  frontend/src/chat/ChatApp.tsx
  frontend/src/chat/DynamicToolUI.tsx
  frontend/src/chat/Thread.tsx
  frontend/src/chat/ToolConfirmationContext.tsx
  frontend/src/chat/ToolWithConfirmation.tsx
  frontend/src/chat/attachmentAdapter.js
  frontend/src/chat/types.ts
  frontend/src/components/assistant-ui/attachment.tsx
  src/family_assistant/web/routers/chat_api.py
  tests/functional/web/pages/chat_page.py
  tests/functional/web/test_file_upload_functionality.py
  tests/functional/web/test_page_object_basic.py
Due: ruff-check, ruff-format, basedpyright, biome-format, eslint

Update test_page_object_basic.py
  tests/functional/web/test_page_object_basic.py
Due: ruff-check, ruff-format, basedpyright

fix: Address PR review feedback for file upload feature
  frontend/src/chat/Thread.tsx
  frontend/src/chat/attachmentAdapter.js
  frontend/src/components/assistant-ui/attachment.tsx
  src/family_assistant/web/routers/chat_api.py
  tests/functional/web/test_file_upload_functionality.py
Due: ruff-check, ruff-format, basedpyright, biome-format, eslint

feat: Implement backend infrastructure for attachment persistence
  alembic/versions/2025_08_18-df4c339d1045_add_attachments_column_to_message_.py
  src/family_assistant/__main__.py
  src/family_assistant/assistant.py
  src/family_assistant/processing.py
  src/family_assistant/services/__init__.py
  src/family_assistant/services/attachments.py
  src/family_assistant/storage/context.py
  src/family_assistant/storage/message_history.py
  src/family_assistant/storage/repositories/message_history.py
  src/family_assistant/web/routers/api.py
  src/family_assistant/web/routers/attachments_api.py
  src/family_assistant/web/routers/chat_api.py
Due: ruff-check, ruff-format, basedpyright

fix: Fix attachment persistence across page refreshes
  .playwright-mcp/after-refresh-test.png
  .playwright-mcp/attachment-debug-after-refresh.png
  frontend/src/chat/ChatApp.tsx
  frontend/src/chat/__tests__/attachmentAdapter.test.js
  frontend/src/chat/attachmentAdapter.js
  frontend/src/components/assistant-ui/attachment.tsx
  src/family_assistant/__main__.py
  src/family_assistant/storage/repositories/message_history.py
  src/family_assistant/web/routers/attachments_api.py
  src/family_assistant/web/routers/chat_api.py
  tests/functional/web/test_file_upload_functionality.py
Due: ruff-check, ruff-format, basedpyright, biome-format, eslint

fix: Fix remaining file upload test failures
  tests/functional/web/test_file_upload_functionality.py
Due: ruff-check, ruff-format, basedpyright

fix: Fix web attachment upload key mismatch and implement telegram photo persistence
  frontend/src/pages/History/components/MessageDisplay.jsx
  frontend/src/pages/History/components/MessageDisplay.module.css
  src/family_assistant/processing.py
  src/family_assistant/services/attachments.py
  src/family_assistant/telegram_bot.py
  src/family_assistant/web/routers/attachments_api.py
  tests/functional/telegram/test_telegram_handler.py
Due: ruff-check, ruff-format, basedpyright, biome-format, eslint

fix: Pin OpenAI SDK version to fix litellm compatibility issue
  pyproject.toml
Due: none

refactor: Clean up logging and improve attachment storage efficiency
  frontend/src/chat/ChatApp.tsx
  frontend/src/chat/attachmentAdapter.js
  src/family_assistant/services/attachments.py
  src/family_assistant/web/routers/chat_api.py
  tests/functional/web/test_file_upload_functionality.py
  uv.lock
Due: ruff-check, ruff-format, basedpyright, biome-format, eslint

fix: Fix stop-feedback-hook timeout issue
  .claude/settings.json
  .claude/stop-feedback-hook.sh
Due: none

fix: Fix review-hook exit code and remove color codes
  .claude/review-hook.sh
Due: none

Fix Claude Code hook issues: timeout and exit codes (#79)
  .claude/review-hook.sh
  .claude/settings.json
  .claude/stop-feedback-hook.sh
Due: none

feat: Add test verification hook for Claude Code
  .claude/settings.json
  .claude/test-verification-hook.sh
Due: none

refactor: Simplify file exclusion regex pattern
  .claude/test-verification-hook.sh
Due: none

refactor: Integrate test verification into stop feedback hook
  .claude/stop-feedback-hook.sh
  .claude/test-verification-core.sh
  .claude/test-verification-hook.sh
Due: none

feat: Add test verification hook for Claude Code (#80)
  .claude/settings.json
  .claude/stop-feedback-hook.sh
  .claude/test-verification-core.sh
  .claude/test-verification-hook.sh
Due: none

feat: Add one shot mode for dev container
  .devcontainer/Dockerfile
  .devcontainer/oneshot-config/CLAUDE.oneshot.md
  .devcontainer/oneshot-config/settings-oneshot.json
  .devcontainer/run-oneshot.sh
  .devcontainer/setup-workspace.sh
Due: mdformat

fix: Use safe .env loading method to prevent command injection
  .devcontainer/run-oneshot.sh
Due: none

debug: Add debug output to troubleshoot directory permissions
  .devcontainer/run-oneshot.sh
  .devcontainer/setup-workspace.sh
Due: none

feat: Add configurable oneshot workspaces directory
  .devcontainer/run-oneshot.sh
Due: none

fix: Auto-clone repo and add write permissions for oneshot mode
  .devcontainer/oneshot-config/settings-oneshot.json
  .devcontainer/run-oneshot.sh
Due: none

fix: Use --permission-mode acceptEdits for oneshot autonomous operation
  .devcontainer/oneshot-config/settings-oneshot.json
  .devcontainer/run-oneshot.sh
Due: none

debug: Add extensive debugging for oneshot repo cloning
  .devcontainer/run-oneshot.sh
  .devcontainer/setup-workspace.sh
Due: none

fix: Add missing environment variables to claude service for oneshot mode
  .devcontainer/docker-compose.yml
Due: none

feat: Add FAILURE_REASON mechanism for oneshot mode
  .devcontainer/oneshot-config/CLAUDE.oneshot.md
  .devcontainer/setup-workspace.sh
Due: mdformat

fix: Use exit code 2 in oneshot stop hook to actually block exit
  .devcontainer/setup-workspace.sh
Due: none

feat: Combine all oneshot stop hook checks to show all issues at once
  .devcontainer/setup-workspace.sh
Due: none

fix: Move oneshot logic to stop-feedback-hook.sh to actually run
  .claude/stop-feedback-hook.sh
  .devcontainer/setup-workspace.sh
Due: none

debug: Add debug output to stop hook to verify oneshot mode detection
  .claude/stop-feedback-hook.sh
Due: none
