Repository werdnum/family-assistant: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt, biome-format, eslint

ruff-check:
  name: ruff-check
  entry: ruff check --fix --preview
  language: system

ruff-format:
  name: ruff-format
  entry: ruff format --preview
  language: system

basedpyright:
  name: basedpyright
  entry: basedpyright
  language: system
  pass_filenames: false

code-conformance:
  name: code-conformance
  entry: .ast-grep/check-conformance.py
  language: system
  pass_filenames: true

mdformat:
  name: mdformat
  entry: mdformat --wrap 100
  language: system

yamlfmt:
  name: yamlfmt
  language: golang
  entry: yamlfmt
  additional_dependencies:
  - github.com/google/yamlfmt/cmd/yamlfmt@v0.17.0

biome-format:
  name: biome-format
  entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx @biomejs/biome format --write "${files[@]}"' --
  language: system
  pass_filenames: true

eslint:
  name: eslint
  entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx eslint --fix "${files[@]}"' --
  language: system
  pass_filenames: true

Add create_attachment_injection to remaining mock LLM clients
  src/family_assistant/llm/__init__.py
  src/family_assistant/llm/providers/google_genai_client.py
  src/family_assistant/llm/providers/openai_client.py
  src/family_assistant/llm/retrying_client.py
  src/family_assistant/processing.py
  tests/functional/test_thought_signatures.py
  tests/mocks/mock_llm.py
  tests/unit/test_llm_multimodal_processing.py
  tests/unit/test_processing_history_formatting.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

fix: Process attachment content parts in delegation flow
  src/family_assistant/processing.py
  tests/functional/test_delegation.py
  tests/mocks/mock_llm.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

docs: Add Rule of Two security framework to AGENTS.md
  AGENTS.md
Due: mdformat

docs: Add processing profiles section to Rule of Two documentation
  AGENTS.md
Due: mdformat

Minor rewording in AGENTS.md
  AGENTS.md
Due: mdformat

feat: Standardize tool parameter display across UI with rich JSON viewer
  frontend/src/chat/ToolUI.jsx
  frontend/src/components/tools/ToolDisplay.jsx
  frontend/src/components/tools/ToolParameterViewer.jsx
  frontend/src/pages/History/components/MessageDisplay.jsx
Due: biome-format, eslint

feat: Enhance tool UIs with syntax highlighting and comprehensive automation coverage
  frontend/package-lock.json
  frontend/package.json
  frontend/src/chat/ToolUI.jsx
  src/family_assistant/tools/CLAUDE.md
Due: mdformat, biome-format, eslint

fix: Improve error handling and customizability in tool parameter display
  frontend/src/chat/ChatApp.tsx
  frontend/src/components/tools/ToolParameterViewer.jsx
  frontend/src/pages/History/components/MessageDisplay.jsx
Due: biome-format, eslint

fix: Prevent parameter duplication and switch to tree mode in ToolParameterViewer
  frontend/src/components/tools/ToolParameterViewer.jsx
Due: biome-format, eslint

fix: Restore correct package versions after rebase
  frontend/package-lock.json
  frontend/package.json
Due: biome-format

refactor: Address PR review feedback for tool parameter display
  frontend/src/chat/ChatApp.tsx
  frontend/src/components/tools/ToolDisplay.jsx
  frontend/src/components/tools/ToolParameterViewer.jsx
  frontend/src/pages/History/components/MessageDisplay.jsx
  frontend/src/utils/toolUtils.ts
Due: biome-format, eslint

fix: Fix ScriptAttachment type handling in jq_query and improve structured data support
  src/family_assistant/scripting/apis/tools.py
  src/family_assistant/scripting/engine.py
  src/family_assistant/tools/data_manipulation.py
  src/family_assistant/tools/execute_script.py
  src/family_assistant/tools/types.py
  tests/functional/test_data_manipulation_tools.py
  tests/functional/tools/test_execute_script_attachments.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

fix: Update path calculation in test_template_utils.py after file move
  tests/functional/web/ui/test_template_utils.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Path conditions:
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  basedpyright: any of: \.py$
  code-conformance: any of: \.py$
  mdformat: any of: \.(md|markdown|mdown)$, but not: (?x)^( 
  docs/python-telegram-bot-abridged\.md|
  docs/python-telegram-bot-abridged-filtered\.md
)$

  yamlfmt: any of: \.(yaml|yml)$
  biome-format: any of: ^frontend/.*\.(js|jsx|ts|tsx|json)$, but not: ^frontend/(dev-dist/|package-lock\.json$)
  eslint: any of: ^frontend/.*\.(js|jsx|ts|tsx)$
