Repository werdnum/family-assistant: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt, biome-format, eslint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-check
        name: ruff-check
        entry: ruff check --fix --preview
        language: system
        types: [python]
      - id: ruff-format
        name: ruff-format
        entry: ruff format --preview
        language: system
        types: [python]
  - repo: local
    hooks:
      - id: basedpyright
        name: basedpyright
        entry: basedpyright
        language: system
        types: [python]
        pass_filenames: false
      - id: code-conformance
        name: code-conformance
        entry: .ast-grep/check-conformance.py
        language: system
        types: [python]
        pass_filenames: true
  - repo: local
    hooks:
      - id: mdformat
        name: mdformat
        entry: mdformat --wrap 100
        language: system
        types: [markdown]
        exclude: "(?x)^( \n  docs/python-telegram-bot-abridged\\.md|\n  docs/python-telegram-bot-abridged-filtered\\.md\n)$\n"
  - repo: local
    hooks:
      - id: yamlfmt
        name: yamlfmt
        language: golang
        entry: yamlfmt
        additional_dependencies:
          - github.com/google/yamlfmt/cmd/yamlfmt@v0.17.0
        types: [yaml]
  - repo: local
    hooks:
      - id: biome-format
        name: biome-format
        entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx @biomejs/biome format --write "${files[@]}"' --
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx|json)$
        exclude: ^frontend/(dev-dist/|package-lock\.json$)
        pass_filenames: true
      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx eslint --fix "${files[@]}"' --
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx)$
        pass_filenames: true

fix(taint): record who decided, separately from whether it binds
  docs/design/executable-definition-taint.md
  src/family_assistant/security/definition_records.py
  tests/functional/automations/test_firing_resolution.py
  tests/functional/automations/test_pending_definition_verdicts.py
  tests/unit/security/test_definition_records.py
  tests/unit/tools/test_tool_call_review_integration.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

docs(design): judge-gated engineer side effects
  docs/design/judge-gated-engineer-side-effects.md
Due: mdformat

docs(design): keep every engineer state change judged, none unconditional
  docs/design/judge-gated-engineer-side-effects.md
Due: mdformat

docs(design): close the engineer's ambient inlet; scope the audit; drop the timeline
  docs/design/judge-gated-engineer-side-effects.md
Due: mdformat

docs(design): record reconnect_mcp_server at allow as an accepted trade-off
  docs/design/judge-gated-engineer-side-effects.md
Due: mdformat

docs(design): enforce the read-tier invariant as a chokepoint, not a list
  docs/design/judge-gated-engineer-side-effects.md
Due: mdformat

docs(design): record the delegating profiles' ambient inlet as a residual
  docs/design/judge-gated-engineer-side-effects.md
Due: mdformat

docs(design): keep cancel_worker_task at confirm -- the judge cannot see the task
  docs/design/judge-gated-engineer-side-effects.md
Due: mdformat

docs(design): get_automation does not restore provenance today
  docs/design/judge-gated-engineer-side-effects.md
Due: mdformat

docs(design): pilot dataset cutoff; narrow the fallback criterion
  docs/design/judge-gated-engineer-side-effects.md
Due: mdformat

docs(design): the worst-case guarantee covers flips to review only
  docs/design/judge-gated-engineer-side-effects.md
Due: mdformat

feat(security): close the engineer's trusted-tier inlets (M1)
  defaults.yaml
  docs/design/judge-gated-engineer-side-effects.md
  src/family_assistant/context_providers.py
  src/family_assistant/tools/__init__.py
  tests/functional/tools/test_defaults_tool_policy_parity.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt

fix(security): the MCP-registry diagnostics are deployment-authored
  docs/design/judge-gated-engineer-side-effects.md
  src/family_assistant/tools/__init__.py
  tests/functional/tools/test_defaults_tool_policy_parity.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Add engineer-shaped eval fixtures and M1 pin case (judge-gated engineer side effects, M2)
  src/family_assistant/eval/tool_call_review/datasets/manual/delegation_goal_smuggling.yaml
  src/family_assistant/eval/tool_call_review/datasets/manual/exfiltration_shaping.yaml
  src/family_assistant/eval/tool_call_review/datasets/manual/tool_result_injection.yaml
  tests/unit/eval/test_manual_dataset.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, yamlfmt

docs: update status for M2 in judge-gated engineer side effects
  docs/design/judge-gated-engineer-side-effects.md
Due: mdformat

Publish Gemini history-derived reviewer eval report
  docs/development/eval-results/2026-09-02-gemini-3.7-flash-history/README.md
  docs/development/eval-results/2026-09-02-gemini-3.7-flash-history/summary.json
  docs/development/eval-results/2026-09-02-gemini-3.7-flash-history/trials.jsonl
  docs/development/eval-results/README.md
Due: mdformat

Publish manual conversation-boundary eval report for M2 engineer slice
  docs/development/eval-results/2026-09-02-gemini-3.7-flash-engineer-manual/README.md
  docs/development/eval-results/2026-09-02-gemini-3.7-flash-engineer-manual/summary.json
  docs/development/eval-results/2026-09-02-gemini-3.7-flash-engineer-manual/trials.jsonl
  docs/development/eval-results/2026-09-02-gemini-3.7-flash-history/README.md
  docs/development/eval-results/README.md
  src/family_assistant/eval/tool_call_review/datasets/manual/tool_result_injection.yaml
Due: mdformat, yamlfmt

Quarantine non-sensitive read-only tools and update history eval report
  docs/development/eval-results/2026-09-02-gemini-3.7-flash-engineer-manual/README.md
  docs/development/eval-results/2026-09-02-gemini-3.7-flash-history/README.md
  docs/development/eval-results/2026-09-02-gemini-3.7-flash-history/summary.json
  docs/development/eval-results/2026-09-02-gemini-3.7-flash-history/trials.jsonl
  src/family_assistant/eval/tool_call_review/history_generation.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Rewrite M2 engineer review evaluation report with detailed threat analysis
  docs/development/eval-results/2026-09-02-gemini-3.7-flash-engineer-manual/README.md
Due: mdformat

Expand manual prompt injection eval dataset to 53 cases from public corpora
  docs/development/eval-results/2026-09-02-gemini-3.7-flash-engineer-manual/README.md
  docs/development/eval-results/2026-09-02-gemini-3.7-flash-engineer-manual/summary.json
  docs/development/eval-results/2026-09-02-gemini-3.7-flash-engineer-manual/trials.jsonl
  src/family_assistant/eval/tool_call_review/datasets/manual/argument_lobbying.yaml
  src/family_assistant/eval/tool_call_review/datasets/manual/artifact_laundering.yaml
  src/family_assistant/eval/tool_call_review/datasets/manual/boundary_forging.yaml
  src/family_assistant/eval/tool_call_review/datasets/manual/delegation_goal_smuggling.yaml
  src/family_assistant/eval/tool_call_review/datasets/manual/exfiltration_shaping.yaml
  src/family_assistant/eval/tool_call_review/datasets/manual/tool_result_injection.yaml
  src/family_assistant/eval/tool_call_review/datasets/manual/unattended_context.yaml
  tests/unit/eval/test_manual_dataset.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt

feat(security): enable judge-gated engineer side effects (M3)
  AGENTS.md
  defaults.yaml
  docs/design/engineer_profile.md
  docs/design/judge-gated-engineer-side-effects.md
  docs/user/troubleshooting.md
  tests/functional/tools/test_defaults_tool_policy_parity.py
  tests/functional/tools/test_engineer_tool_call_review.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt

test(gemini): re-record Gemini cassettes against 3.8 Flash
  tests/cassettes/gemini/functional.web.api.test_thought_signature_persistence/test_multiturn_conversation_non_streaming_preserves_thought_signatures[postgres]/mldev.json
  tests/cassettes/gemini/functional.web.api.test_thought_signature_persistence/test_multiturn_conversation_non_streaming_preserves_thought_signatures[sqlite]/mldev.json
  tests/cassettes/gemini/functional.web.api.test_thought_signature_persistence/test_multiturn_conversation_with_tool_calls_preserves_thought_signatures[postgres]/mldev.json
  tests/cassettes/gemini/functional.web.api.test_thought_signature_persistence/test_multiturn_conversation_with_tool_calls_preserves_thought_signatures[sqlite]/mldev.json
  tests/cassettes/gemini/functional.web.api.test_thought_signature_persistence/test_streaming_multiturn_with_tool_calls_reproduces_bug[postgres]/mldev.json
  tests/cassettes/gemini/functional.web.api.test_thought_signature_persistence/test_streaming_multiturn_with_tool_calls_reproduces_bug[sqlite]/mldev.json
  tests/cassettes/gemini/integration.llm.test_gemini_multimodal_integration/test_tool_image_attachment_delivered_to_gemini3/mldev.json
  tests/cassettes/gemini/integration.llm.test_shipped_model_media_input/test_media_analyst_provider_can_actually_read_audio/mldev.json
  tests/cassettes/gemini/integration.llm.test_shipped_model_media_input/test_shipped_google_model_calls_a_tool/mldev.json
  tests/cassettes/gemini/integration.llm.test_streaming/test_basic_streaming_gemini[google-gemini-3.8-flash]/mldev.json
  tests/cassettes/gemini/integration.llm.test_streaming/test_google_streaming_with_multiturns_and_tool_calls[google-gemini-3.8-flash]/mldev.json
  tests/cassettes/gemini/integration.llm.test_streaming/test_streaming_reasoning_info_gemini[google-gemini-3.8-flash]/mldev.json
  tests/cassettes/gemini/integration.llm.test_streaming/test_streaming_with_multi_turn_conversation_gemini[google-gemini-3.8-flash]/mldev.json
  tests/cassettes/gemini/integration.llm.test_streaming/test_streaming_with_system_message_gemini[google-gemini-3.7-flash]/mldev.json
  tests/cassettes/gemini/integration.llm.test_streaming/test_streaming_with_system_message_gemini[google-gemini-3.8-flash]/mldev.json
  tests/cassettes/gemini/integration.llm.test_streaming/test_streaming_with_tool_calls_gemini[google-gemini-3.8-flash]/mldev.json
  tests/cassettes/llm/test_gemini_google_search_grounding.yaml
  tests/cassettes/llm/test_gemini_url_grounding.yaml
  tests/cassettes/llm/test_shipped_default_retry_pair_completes_a_turn.yaml
Due: yamlfmt

fix(gemini): hold the tool-call-review judge and its harness on 3.7 Flash
  defaults.yaml
  docs/design/auto-tool-call-review.md
  docs/operations/CONFIGURATION_REFERENCE.md
  mtime-test-B4gHel/newfile
  mtime-test-I4BYdm/newfile
  mtime-test-k871qA/newfile
  mtime-test-ooahms/newfile
  scripts/tool_call_review_batch.py
  scripts/tool_call_review_eval.py
  scripts/tool_call_review_gemini_batch.py
  src/family_assistant/config_models.py
  src/family_assistant/eval/tool_call_review/batch.py
  src/family_assistant/eval/tool_call_review/gemini_batch.py
  tests/integration/llm/test_google_antigravity_integration.py
  tests/unit/eval/test_eval_cli.py
  tests/unit/eval/test_tool_call_review_eval.py
  tests/unit/services/test_tool_call_review.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt

docs(gemini): keep the judge runbooks and reviewer fixtures on 3.7
  docs/development/tool-call-review-batch.md
  docs/development/tool-call-review-gemini-batch.md
  tests/functional/automations/test_firing_resolution.py
  tests/functional/automations/test_pending_definition_verdicts.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Add generic rate-limit backoff for MCP tool-call errors
  src/family_assistant/tools/mcp.py
  tests/unit/tools/test_mcp_rate_limit_backoff.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

fix(mcp): replace archived Brave Search MCP server
  Dockerfile
  defaults.yaml
Due: yamlfmt

feat(taint): confirm instead of deny for tainted sandbox_network
  docs/design/runtime-taint-machinery.md
  docs/operations/CONFIGURATION_REFERENCE.md
  src/family_assistant/security/taint.py
  tests/unit/llm/test_shipped_coder_profile.py
  tests/unit/processing/test_interactions_agent_service.py
  tests/unit/security/test_runtime_taint.py
  tests/unit/tools/test_tool_call_review_integration.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

feat(engineer): allow reviewed sandboxed code execution
  AGENTS.md
  defaults.yaml
  tests/functional/tools/test_engineer_tool_call_review.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt

docs(user): note the engineer sandbox
  docs/user/confirmations-and-safety.md
  docs/user/slash-commands.md
  docs/user/troubleshooting.md
Due: mdformat

Run the engineer profile on Claude Opus 5
  defaults.yaml
  docs/operations/CONFIGURATION_REFERENCE.md
  tests/integration/llm/test_streaming.py
  tests/unit/llm/test_shipped_reasoning_config.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt

test(keychute): expect the confirm fallback on a tainted script egress
  tests/unit/scripting/test_keychute_api.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

fix(confirmation): show arguments when a tool has no renderer
  src/family_assistant/services/deferred_tool_confirmation.py
  src/family_assistant/task_worker.py
  src/family_assistant/telegram/handler.py
  src/family_assistant/tools/__init__.py
  src/family_assistant/tools/confirmation.py
  tests/unit/tools/test_generic_confirmation_renderer.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

test: expect rendered arguments in the generic confirmation prompt
  tests/functional/automations/test_async_delegation.py
  tests/unit/tools/test_worker_confirmation_renderer.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Export Prometheus metrics for LLM spend, tools and turns
  docs/design/prometheus-metrics.md
  docs/operations/CONFIGURATION_REFERENCE.md
  docs/operations/MONITORING.md
  pyproject.toml
  src/family_assistant/assistant.py
  src/family_assistant/config_models.py
  src/family_assistant/llm/call_context.py
  src/family_assistant/llm/utils/call_telemetry.py
  src/family_assistant/observability/__init__.py
  src/family_assistant/observability/exporter.py
  src/family_assistant/observability/metrics.py
  src/family_assistant/processing/llm_loop.py
  src/family_assistant/processing/tool_execution.py
  src/family_assistant/processing/types.py
  tests/unit/processing/test_llm_loop_metrics.py
  tests/unit/test_metrics.py
  uv.lock
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

docs(engineer): narrow the sandbox isolation claim
  defaults.yaml
  docs/user/confirmations-and-safety.md
  docs/user/troubleshooting.md
Due: mdformat, yamlfmt

Map METRICS_ENABLED and METRICS_PORT through the env override table
  src/family_assistant/config_loader.py
  tests/unit/test_config_loader.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Redact credentials by value shape, not just field name, in config dumps
  docs/operations/CONFIGURATION_REFERENCE.md
  src/family_assistant/config_inspection.py
  src/family_assistant/tools/engineering.py
  src/family_assistant/tools/mcp.py
  tests/unit/test_config_inspection.py
  tests/unit/tools/test_mcp_reconnect_backoff.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Count an abandoned tool call as cancelled, not as an error
  docs/design/prometheus-metrics.md
  docs/operations/MONITORING.md
  src/family_assistant/processing/tool_execution.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Preserve query-string encoding when redacting URL credentials
  src/family_assistant/config_inspection.py
  tests/unit/test_config_inspection.py
Due: ruff-check, ruff-format, basedpyright, code-conformance
