Repository werdnum/family-assistant: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, basedpyright, mdformat, biome-format, eslint

ruff-check:
  name: ruff-check
  entry: ruff check --fix --preview
  language: system

ruff-format:
  name: ruff-format
  entry: ruff format --preview
  language: system

basedpyright:
  name: basedpyright
  entry: basedpyright
  language: system
  pass_filenames: false

mdformat:
  name: mdformat
  entry: mdformat --wrap 100
  language: system

biome-format:
  name: biome-format
  entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx @biomejs/biome format --write "${files[@]}"' --
  language: system
  pass_filenames: true

eslint:
  name: eslint
  entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx eslint --fix "${files[@]}"' --
  language: system
  pass_filenames: true

docs: Document Telegram conversational context and attachment handling
  docs/design/telegram_conversational_context.md
Due: mdformat

feat: Implement Telegram Media Groups for consecutive images
  src/family_assistant/telegram_bot.py
  tests/functional/telegram/test_telegram_media_groups.py
Due: ruff-check, ruff-format, basedpyright

feat: Add conversation attachment context provider
  docs/design/telegram_conversational_context.md
  prompts.yaml
  src/family_assistant/processing.py
  src/family_assistant/services/attachment_registry.py
  tests/functional/telegram/test_thread_history.py
Due: ruff-check, ruff-format, basedpyright, mdformat

fix: Include root message in thread queries for attachment context
  src/family_assistant/storage/repositories/message_history.py
  tests/functional/telegram/test_thread_history.py
  tests/functional/test_processing_profiles.py
Due: ruff-check, ruff-format, basedpyright

config: Increase message history limit from 3 to 10 messages
  config.yaml
Due: none

fix: Resolve test flakiness in Playwright navigation tests
  tests/functional/web/conftest.py
  tests/functional/web/test_ui_endpoints_playwright.py
Due: ruff-check, ruff-format, basedpyright

Fix flaky frontend test by waiting for async ProfileSelector loading
  frontend/src/chat/__tests__/ChatApp.test.tsx
Due: biome-format, eslint

Refactor navigation test to be a true dynamic smoke test
  tests/functional/web/test_ui_endpoints_playwright.py
Due: ruff-check, ruff-format, basedpyright

fix: Telegram attachment handling with smart resizing and format preservation
  src/family_assistant/telegram_bot.py
  src/family_assistant/tools/image_tools.py
Due: ruff-check, ruff-format, basedpyright

feat: Migrate to stable gemini-embedding-001 model
  alembic/versions/2025_10_03-6d7dd88fefad_rename_gemini_embedding_model_to_stable.py
  src/family_assistant/__main__.py
Due: ruff-check, ruff-format, basedpyright

docs: Add gemini embedding migration documentation
  docs/design/gemini-embedding-migration.md
Due: mdformat

Address code review feedback: improve readability
  tests/functional/web/conftest.py
  tests/functional/web/test_ui_endpoints_playwright.py
Due: ruff-check, ruff-format, basedpyright

fix: Update highlight_image tool to use Gemini bounding box format
  src/family_assistant/tools/image_tools.py
  tests/functional/test_attachment_id_injection.py
  tests/functional/test_attachment_tools.py
Due: ruff-check, ruff-format, basedpyright

fix: Eliminate profile selector accessibility test flakiness
  tests/functional/web/test_profile_switching_ui.py
Due: ruff-check, ruff-format, basedpyright

feat: Add Telegram bot token support to devcontainer
  .devcontainer/docker-compose.yml
Due: none

feat: Support multiple attachments in ToolResult for delegation propagation
  src/family_assistant/processing.py
  src/family_assistant/tools/documents.py
  src/family_assistant/tools/home_assistant.py
  src/family_assistant/tools/image_generation.py
  src/family_assistant/tools/image_tools.py
  src/family_assistant/tools/infrastructure.py
  src/family_assistant/tools/mock_image_tools.py
  src/family_assistant/tools/services.py
  src/family_assistant/tools/types.py
  tests/functional/indexing/test_document_retrieval.py
  tests/functional/test_attachment_id_injection.py
  tests/functional/test_attachment_tools.py
  tests/functional/test_attachment_workflows.py
  tests/functional/test_delegation.py
  tests/functional/test_image_generation_integration.py
  tests/unit/test_image_generation_tools.py
  tests/unit/test_multimodal_tool_results.py
  tests/unit/test_processing_multimodal_integration.py
Due: ruff-check, ruff-format, basedpyright

feat: Support multiple attachments in ToolResult with proper MIME type propagation
  src/family_assistant/llm/__init__.py
  src/family_assistant/processing.py
  src/family_assistant/tools/services.py
  src/family_assistant/tools/types.py
  tests/functional/test_home_assistant_camera_tool.py
  tests/integration/llm/test_providers.py
  tests/mocks/mock_llm.py
  tests/unit/test_llm_multimodal_processing.py
  tests/unit/test_processing_multimodal_integration.py
Due: ruff-check, ruff-format, basedpyright

phrasing nit
  src/family_assistant/processing.py
Due: ruff-check, ruff-format, basedpyright

Path conditions:
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  basedpyright: any of: \.py$
  mdformat: any of: \.(md|markdown|mdown)$, but not: (?x)^( 
  docs/python-telegram-bot-abridged\.md|
  docs/python-telegram-bot-abridged-filtered\.md
)$

  biome-format: any of: ^frontend/.*\.(js|jsx|ts|tsx|json)$
  eslint: any of: ^frontend/.*\.(js|jsx|ts|tsx)$
