Repository werdnum/family-assistant: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt, biome-format, eslint

ruff-check:
  name: ruff-check
  entry: ruff check --fix --preview
  language: system

ruff-format:
  name: ruff-format
  entry: ruff format --preview
  language: system

basedpyright:
  name: basedpyright
  entry: basedpyright
  language: system
  pass_filenames: false

code-conformance:
  name: code-conformance
  entry: .ast-grep/check-conformance.py
  language: system
  pass_filenames: true

mdformat:
  name: mdformat
  entry: mdformat --wrap 100
  language: system

yamlfmt:
  name: yamlfmt
  language: golang
  entry: yamlfmt
  additional_dependencies:
  - github.com/google/yamlfmt/cmd/yamlfmt@v0.17.0

biome-format:
  name: biome-format
  entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx @biomejs/biome format --write "${files[@]}"' --
  language: system
  pass_filenames: true

eslint:
  name: eslint
  entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx eslint --fix "${files[@]}"' --
  language: system
  pass_filenames: true

Audit note writes that lower a note's stored provenance tier
  alembic/versions/2026_10_06-add_taint_audit_previous_tier.py
  src/family_assistant/security/note_provenance.py
  src/family_assistant/storage/repositories/notes.py
  src/family_assistant/storage/repositories/taint_audit.py
  src/family_assistant/storage/taint_audit.py
  src/family_assistant/storage/types.py
  src/family_assistant/tools/memory.py
  src/family_assistant/tools/notes.py
  tests/functional/notes/test_note_provenance_chokepoint.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Deduplicate taint sources against retained ones too
  src/family_assistant/security/taint.py
  tests/unit/security/test_history_taint_origin.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Strip provenance keys from caller-supplied document metadata
  src/family_assistant/indexing/ingestion.py
  src/family_assistant/security/taint.py
  tests/unit/security/test_runtime_taint.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Document the capped runtime_v2 exception to the window amnesty
  docs/design/runtime-taint-machinery.md
Due: mdformat

Classify the document tools in the engineer trusted-output allowlist
  tests/functional/tools/test_defaults_tool_policy_parity.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Filter calendar search and duplicate checks with Jev
  docs/design/jev-search-filtering.md
  docs/operations/CONFIGURATION_REFERENCE.md
  docs/operations/MONITORING.md
  src/family_assistant/config_models.py
  src/family_assistant/llm/candidate_filter.py
  src/family_assistant/observability/metrics.py
  src/family_assistant/tools/calendar.py
  tests/mocks/fake_jev.py
  tests/unit/llm/test_candidate_filter.py
  tests/unit/tools/test_calendar_tools.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Filter document search results with Jev
  docs/operations/CONFIGURATION_REFERENCE.md
  src/family_assistant/config_models.py
  src/family_assistant/llm/candidate_filter.py
  src/family_assistant/tools/documents.py
  tests/unit/tools/test_document_search_filter.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Record result_taint when a trusted tool re-reads a tainted source
  src/family_assistant/security/taint.py
  src/family_assistant/tools/infrastructure.py
  tests/unit/security/test_runtime_taint.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Tell the writer when a note write lowers its stored tier
  prompts.yaml
  src/family_assistant/security/note_provenance.py
  src/family_assistant/storage/repositories/notes.py
  src/family_assistant/tools/notes.py
  tests/functional/indexing/test_notes_basic.py
  tests/functional/indexing/test_notes_search.py
  tests/functional/notes/test_note_provenance_chokepoint.py
  tests/functional/notes/test_prompt_inclusion.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, yamlfmt

Pick the Telegram attachment message by content, not key presence
  tests/functional/telegram/test_telegram_video_attachments.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Keep a merged trusted_user tier on the result_taint row
  src/family_assistant/tools/infrastructure.py
  tests/unit/security/test_runtime_taint.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Bound document search's Jev pool and give the client the longest budget
  src/family_assistant/assistant.py
  src/family_assistant/tools/documents.py
  tests/unit/tools/test_document_search_filter.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Reject a non-positive search_documents limit before widening the pool
  src/family_assistant/tools/documents.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Test that unattended script runs start at their definition's tier
  tests/functional/automations/test_firing_resolution.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Tell the model to guess Keychute secret names instead of asking
  defaults.yaml
  docs/user/scripting.md
  src/family_assistant/tools/browser_autofill.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt

browser_autofill: keep no_alias terminal; drop 'ask for its name'
  src/family_assistant/tools/browser_autofill.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Record Decisions API prompting results for the review judge
  docs/design/tool-call-review-judge-tuning.md
Due: mdformat

Record the Decisions API judge evaluation
  docs/design/tool-call-review-judge-tuning.md
Due: mdformat

Run claude remote-control as an option for the claude container
  .devcontainer/Dockerfile
  .devcontainer/README.md
  .devcontainer/remote-control-daemon.sh
Due: mdformat

Ignore the per-host devcontainer compose override
  .gitignore
Due: none

Show the tool-call reviewer requests relayed by the user's agents
  docs/design/mcp-adapter.md
  src/family_assistant/security/taint.py
  src/family_assistant/services/tool_call_review.py
  src/family_assistant/web/mcp_adapter/tools.py
  src/family_assistant/web/routers/a2a_api.py
  tests/functional/web/api/test_a2a_client_integration.py
  tests/functional/web/api/test_mcp_adapter.py
  tests/unit/services/test_tool_call_review.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Record the Claude Haiku 5.5 evaluation for the review judge
  docs/design/tool-call-review-judge-tuning.md
Due: mdformat

Record that Gemini 3.7's review behaviour drifted on 8 October
  docs/design/tool-call-review-judge-tuning.md
Due: mdformat

Attribute the Gemini shift to the 3.7 alias serving 3.8
  docs/design/tool-call-review-judge-tuning.md
Due: mdformat

Record the second Haiku tuning pass against Gemini 3.8 as served
  docs/design/tool-call-review-judge-tuning.md
Due: mdformat

docs: record taint-enforce rollout status (8 Oct) and keep the Google waiver in runbook step 3
  docs/design/prompt-injection-assessment-2026-10.md
  docs/design/taint-history-epoch-amnesty.md
  docs/operations/CONFIGURATION_REFERENCE.md
Due: mdformat

Keep the attacker's goal out of InjecAgent damage envelopes
  src/family_assistant/eval/tool_call_review/adapters/injecagent.py
  tests/unit/eval/test_public_adapters.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Describe the v3 InjecAgent envelope in the eval design and row docstring
  docs/design/tool-call-review-eval.md
  src/family_assistant/eval/tool_call_review/adapters/injecagent.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Record corrected labels and the final Haiku prompt for the review judge
  docs/design/tool-call-review-judge-tuning.md
Due: mdformat

Update the review-judge decision for the move to Haiku 5.5
  docs/design/tool-call-review-judge-tuning.md
Due: mdformat

State Haiku's attack allows precisely in the judge decision
  docs/design/tool-call-review-judge-tuning.md
Due: mdformat

Test enforce-mode review escalation and timeout fallback end to end
  docs/design/prompt-injection-assessment-2026-10.md
  tests/functional/tools/test_enforce_review_escalation.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Drop the scheduling-sensitive reviewer-entered assertion from the timeout test
  tests/functional/tools/test_enforce_review_escalation.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Scope the observe-mode zeros note to taint-only reviews
  docs/design/prompt-injection-assessment-2026-10.md
Due: mdformat

Use native structured outputs for Anthropic generate_structured
  src/family_assistant/llm/providers/anthropic_client.py
  tests/cassettes/llm/test_basic_json_output[anthropic-claude-haiku-4-5-20251001].yaml
  tests/cassettes/llm/test_basic_structured_output[anthropic-claude-haiku-4-5-20251001].yaml
  tests/cassettes/llm/test_nested_structured_output[anthropic-claude-haiku-4-5-20251001].yaml
  tests/cassettes/llm/test_structured_output_with_constrained_fields[anthropic-claude-haiku-4-5-20251001].yaml
  tests/cassettes/llm/test_structured_output_with_system_message[anthropic-claude-haiku-4-5-20251001].yaml
  tests/unit/llm/providers/test_anthropic_thinking.py
  tests/unit/llm/providers/test_native_output_modes.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, yamlfmt

Retune the tool-call reviewer prompt and write the reason first
  src/family_assistant/services/tool_call_review.py
  src/family_assistant/tools/infrastructure.py
  tests/unit/eval/test_tool_call_review_batch.py
  tests/unit/eval/test_tool_call_review_gemini_batch.py
  tests/unit/processing/test_interactions_agent_service.py
  tests/unit/tools/test_tool_call_review_integration.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Move the tool-call review judge to Claude Haiku 5.5
  defaults.yaml
  docs/operations/CONFIGURATION_REFERENCE.md
  src/family_assistant/config_models.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt

Scope the test module's observe-mode claim to taint-only reviews
  tests/functional/tools/test_enforce_review_escalation.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Leave the review judge's retry primary to provider and model
  defaults.yaml
  docs/operations/CONFIGURATION_REFERENCE.md
  tests/functional/tools/test_runtime_tool_policy_cutover.py
  tests/unit/test_config_loader.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt

Record the production-client measurement and the read-broadening residual
  docs/design/tool-call-review-judge-tuning.md
Due: mdformat

Path conditions:
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  basedpyright: any of: \.py$
  code-conformance: any of: \.py$
  mdformat: any of: \.(md|markdown|mdown)$, but not: (?x)^( 
  docs/python-telegram-bot-abridged\.md|
  docs/python-telegram-bot-abridged-filtered\.md
)$

  yamlfmt: any of: \.(yaml|yml)$
  biome-format: any of: ^frontend/.*\.(js|jsx|ts|tsx|json)$, but not: ^frontend/(dev-dist/|package-lock\.json$)
  eslint: any of: ^frontend/.*\.(js|jsx|ts|tsx)$
