Repository werdnum/family-assistant: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, basedpyright, mdformat, biome-format, eslint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-check
        name: ruff-check
        entry: ruff check --fix --preview
        language: system
        types: [python]
      - id: ruff-format
        name: ruff-format
        entry: ruff format --preview
        language: system
        types: [python]
  - repo: local
    hooks:
      - id: basedpyright
        name: basedpyright
        entry: basedpyright
        language: system
        types: [python]
        pass_filenames: false
  - repo: local
    hooks:
      - id: mdformat
        name: mdformat
        entry: mdformat --wrap 100
        language: system
        types: [markdown]
        exclude: "(?x)^( \n  docs/python-telegram-bot-abridged\\.md|\n  docs/python-telegram-bot-abridged-filtered\\.md\n)$\n"
  - repo: https://github.com/google/yamlfmt
    rev: v0.17.0
    hooks:
      - id: yamlfmt
  - repo: local
    hooks:
      - id: biome-format
        name: biome-format
        entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx @biomejs/biome format --write "${files[@]}"' --
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx|json)$
        pass_filenames: true
      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx eslint --fix "${files[@]}"' --
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx)$
        pass_filenames: true

PWA: VAPID key generation script
  docs/design/pwa.md
  pyproject.toml
  scripts/generate_vapid_keys.py
  uv.lock
Due: ruff-check, ruff-format, basedpyright, mdformat

feat(pwa): Implement backend infrastructure for push notifications
  alembic/versions/2025_10_17-a7c55b979906_add_push_subscriptions_table.py
  docs/design/pwa.md
  src/family_assistant/services/push_notification.py
  src/family_assistant/storage/context.py
  src/family_assistant/storage/push_subscription.py
  src/family_assistant/storage/repositories/__init__.py
  src/family_assistant/storage/repositories/push_subscription.py
  src/family_assistant/web/app_creator.py
  src/family_assistant/web/routers/client_config.py
  src/family_assistant/web/routers/push.py
  tests/functional/conftest.py
  tests/functional/test_api_endpoints.py
  tests/functional/test_push_api.py
  tests/functional/web/test_file_upload_functionality.py
Due: ruff-check, ruff-format, basedpyright, mdformat

feat(pwa): Complete frontend push notification integration
  docs/design/pwa.md
  frontend/AGENTS.md
  frontend/src/api/__tests__/pushClient.test.ts
  frontend/src/api/pushClient.ts
  frontend/src/chat/ChatApp.tsx
  frontend/src/chat/PushNotificationButton.tsx
  frontend/src/chat/__tests__/PushNotificationButton.test.tsx
  frontend/src/sw.js
  frontend/src/test/mocks/handlers.ts
  frontend/vite.config.js
Due: mdformat, biome-format, eslint

normalise VAPID email
  src/family_assistant/services/push_notification.py
Due: ruff-check, ruff-format, basedpyright

feat(pwa): Complete WebChatInterface push notification integration
  src/family_assistant/assistant.py
  src/family_assistant/web/app_creator.py
  src/family_assistant/web/web_chat_interface.py
  tests/functional/web/test_web_chat_push_integration.py
Due: ruff-check, ruff-format, basedpyright

fix(frontend): Fix PushNotificationButton.test.tsx Notification API mocking
  frontend/src/chat/__tests__/PushNotificationButton.test.tsx
Due: biome-format, eslint

docs(pwa): Complete backend implementation documentation and environment setup
  .claude/banned_commands.json
  AGENTS.md
  docs/design/pwa.md
Due: mdformat

feat(pwa): Implement web push notification sending with pywebpush
  docs/design/pwa_backend.md
  pyproject.toml
  src/family_assistant/__main__.py
  src/family_assistant/services/push_notification.py
  src/family_assistant/storage/push_subscription.py
  src/family_assistant/storage/repositories/push_subscription.py
  tests/unit/test_push_notification_service.py
  uv.lock
Due: ruff-check, ruff-format, basedpyright, mdformat

fix(pwa): Add required Workbox imports to service worker for injectManifest strategy
  frontend/src/sw.js
Due: biome-format, eslint

feat(pwa): Read VAPID keys from environment variables
  docs/design/pwa.md
  docs/design/pwa_backend.md
  src/family_assistant/__main__.py
Due: ruff-check, ruff-format, basedpyright, mdformat

fix(pwa): Address PR review comments for push notification service
  src/family_assistant/services/push_notification.py
  src/family_assistant/storage/push_subscription.py
  src/family_assistant/web/routers/client_config.py
  tests/functional/test_push_api.py
Due: ruff-check, ruff-format, basedpyright

docs(pwa): Update backend implementation status - Tasks 7-9 complete
  docs/design/pwa_backend.md
Due: mdformat

fix(pwa): Remove redundant 'from Family Assistant' from notification titles
  src/family_assistant/web/web_chat_interface.py
  tests/functional/web/test_web_chat_push_integration.py
Due: ruff-check, ruff-format, basedpyright

feat(pwa): Add user_id to message history for push notifications
  alembic/versions/2025_10_17-974697dea951_add_user_id_to_message_history.py
  docs/design/pwa_backend.md
  src/family_assistant/processing.py
  src/family_assistant/storage/__init__.py
  src/family_assistant/storage/message_history.py
  src/family_assistant/storage/repositories/message_history.py
  src/family_assistant/tools/types.py
  src/family_assistant/web/routers/chat_api.py
  tests/functional/web/conftest.py
  tests/functional/web/test_chat_api_endpoint.py
Due: ruff-check, ruff-format, basedpyright, mdformat

docs(pwa): Add comprehensive backend implementation plan
  docs/design/pwa_backend.md
Due: mdformat

fix(pwa): Address remaining PR review comments for push notifications
  docs/design/pwa.md
  src/family_assistant/services/push_notification.py
  src/family_assistant/web/routers/client_config.py
  src/family_assistant/web/routers/push.py
Due: ruff-check, ruff-format, basedpyright, mdformat

docs(pwa): Update progress tracking and reference backend implementation details
  docs/design/pwa.md
Due: mdformat

fix(pwa): Suppress pylint broad-exception-raised warning in test
  tests/functional/web/test_web_chat_push_integration.py
Due: ruff-check, ruff-format, basedpyright

Stabilize wait_for_assistant_response timing
  tests/functional/web/pages/chat_page.py
Due: ruff-check, ruff-format, basedpyright

fix(automations): Extract duplicate automation fetching logic into helper function
  frontend/src/pages/Automations/components/AutomationsList.jsx
  src/family_assistant/storage/repositories/automations.py
  src/family_assistant/tools/automations.py
  src/family_assistant/web/routers/automations_api.py
Due: ruff-check, ruff-format, basedpyright, biome-format, eslint

feat: Pass git command to review script and simplify hook exit logic
  .claude/review-hook.py
  scripts/review-changes.py
Due: ruff-check, ruff-format, basedpyright

fix(tests): Mark flaky tests with pytest marker and remove obsolete test
  tests/CLAUDE.md
  tests/functional/test_image_generation_integration.py
  tests/functional/test_unified_automations.py
  tests/functional/web/test_file_upload_functionality.py
Due: ruff-check, ruff-format, basedpyright, mdformat

refactor(automations): Replace dict[str, Any] with Pydantic Automation model and fix issues
  frontend/src/pages/Automations/components/AutomationsList.jsx
  src/family_assistant/storage/models.py
  src/family_assistant/storage/repositories/automations.py
  src/family_assistant/tools/automations.py
  src/family_assistant/web/routers/automations_api.py
  tests/functional/storage/test_automations_repository.py
Due: ruff-check, ruff-format, basedpyright, biome-format, eslint

feat(ast-grep): Add utility script to add inline exemption comments
  .ast-grep/CLAUDE.md
  .ast-grep/add-exemptions.py
Due: ruff-check, ruff-format, basedpyright, mdformat

fix(ast-grep): Ignore unused-suppression and fix line number reporting
  .ast-grep/check-conformance.py
Due: ruff-check, ruff-format, basedpyright

test: Add exemptions for Playwright wait_for_timeout usage
  tests/functional/web/test_automations_ui.py
Due: ruff-check, ruff-format, basedpyright

fix(ast-grep): Correct AST node kind to while_statement in rules
  .ast-grep/exemptions.yml
  .ast-grep/rules/no-asyncio-sleep-in-tests.yml
  .ast-grep/rules/no-playwright-wait-for-timeout.yml
Due: none

feat(review-hook): Add ast-grep-ignore comments and improve error messages
  .ast-grep/add-exemptions.py
  .ast-grep/check-conformance.py
  .ast-grep/rules/no-dict-any.yml
  .claude/review-hook.py
  ast-grep.zip
  scripts/review-changes.py
  src/family_assistant/assistant.py
  src/family_assistant/context_providers.py
  src/family_assistant/events/home_assistant_source.py
  src/family_assistant/events/processor.py
  src/family_assistant/events/sources.py
  src/family_assistant/indexing/document_indexer.py
  src/family_assistant/indexing/email_indexer.py
  src/family_assistant/indexing/notes_indexer.py
  src/family_assistant/indexing/pipeline.py
  src/family_assistant/llm/__init__.py
  src/family_assistant/llm/providers/google_genai_client.py
  src/family_assistant/processing.py
  src/family_assistant/scripting/apis/time.py
  src/family_assistant/scripting/apis/tools.py
  src/family_assistant/storage/context.py
  src/family_assistant/task_worker.py
  src/family_assistant/tools/confirmation.py
  src/family_assistant/tools/infrastructure.py
  src/family_assistant/tools/mcp.py
  tests/functional/indexing/test_document_indexing.py
  tests/functional/indexing/test_notes_indexing.py
  tests/functional/indexing/test_reindexing.py
  tests/functional/test_task_worker_resilience.py
  tests/mocks/mock_tools_provider.py
  tests/unit/test_processing_multimodal_integration.py
Due: ruff-check, ruff-format, basedpyright
