Repository werdnum/family-assistant: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, mdformat, biome-format, eslint

ruff-check:
  name: ruff-check
  entry: ruff check --fix --preview
  language: system

ruff-format:
  name: ruff-format
  entry: ruff format --preview
  language: system

mdformat:
  name: mdformat
  entry: mdformat --wrap 100
  language: system

biome-format:
  name: biome-format
  entry: bash -c 'cd frontend && npx @biomejs/biome format --write "$@"' --
  language: system
  pass_filenames: true

eslint:
  name: eslint
  entry: bash -c 'cd frontend && npx eslint --fix "$@"' --
  language: system
  pass_filenames: true

Fix tool call display in chat UI during streaming
  AGENTS.md
  frontend/src/chat/ChatApp.jsx
  frontend/src/chat/Thread.jsx
  frontend/src/chat/ToolUI.jsx
  tests/functional/web/test_chat_ui_flow.py
Due: ruff-check, ruff-format, mdformat, biome-format, eslint

Fix frontend formatting issues
  frontend/src/chat/ChatApp.jsx
  frontend/src/chat/Thread.jsx
  frontend/src/chat/ToolUI.jsx
Due: biome-format, eslint

Add frontend linting to poe test command
  scripts/run-tests.sh
Due: none

Update build scripts and pre-commit configuration
  .pre-commit-config.yaml
Due: none

delete old file
  docs/old_bot.py
Due: ruff-check, ruff-format

Fix race condition in indexing event tests
  tests/functional/indexing/test_indexing_events.py
Due: ruff-check, ruff-format

Fix race condition in indexing event tests (#38)
  tests/functional/indexing/test_indexing_events.py
Due: ruff-check, ruff-format

Add frontend linting to poe test and update pre-commit hooks (#37)
  .pre-commit-config.yaml
  AGENTS.md
  frontend/src/chat/ChatApp.jsx
  scripts/run-tests.sh
  tests/functional/web/test_chat_ui_flow.py
Due: ruff-check, ruff-format, mdformat, biome-format, eslint

Fix tool call display in chat UI during streaming
  frontend/src/chat/ChatApp.jsx
  frontend/src/chat/Thread.jsx
  frontend/src/chat/ToolUI.jsx
Due: biome-format, eslint

Add interface-aware history configuration for web UI
  config.yaml
  src/family_assistant/__main__.py
  src/family_assistant/assistant.py
  src/family_assistant/processing.py
  tests/unit/test_processing_history_formatting.py
Due: ruff-check, ruff-format

Fix tool call display during streaming in chat UI
  .pre-commit-config.yaml
  frontend/src/chat/ChatApp.jsx
  frontend/src/chat/useStreamingResponse.js
Due: biome-format, eslint

Fix: Use 'running' status for in-progress tool calls instead of 'requires-action'
  frontend/src/chat/ChatApp.jsx
Due: biome-format, eslint

Add interface-aware history configuration for web UI (#39)
  config.yaml
  src/family_assistant/__main__.py
  src/family_assistant/assistant.py
  src/family_assistant/processing.py
  tests/unit/test_processing_history_formatting.py
Due: ruff-check, ruff-format

Fix tool call display during streaming in chat UI (#40)
  .pre-commit-config.yaml
  frontend/src/chat/ChatApp.jsx
  frontend/src/chat/useStreamingResponse.js
Due: biome-format, eslint

Update devcontainer settings and review script
  .devcontainer/settings.local.json
  scripts/review-changes.sh
Due: none

Update devcontainer settings and review script (#41)
  .devcontainer/settings.local.json
  scripts/review-changes.sh
Due: none

Redirect root path to /chat instead of showing notes
  src/family_assistant/web/routers/notes.py
  tests/functional/web/test_ui_endpoints.py
Due: ruff-check, ruff-format

Fix Playwright tests for new URL structure and expand devcontainer docs
  .devcontainer/CLAUDE.devcontainer.md
  tests/functional/web/pages/notes_page.py
  tests/functional/web/test_notes_flow.py
  tests/functional/web/test_playwright_basic.py
Due: ruff-check, ruff-format, mdformat

Fix remaining Playwright tests for URL structure changes
  tests/functional/web/test_ui_endpoints_playwright.py
Due: ruff-check, ruff-format

Fix remaining test expecting redirect to root after note save
  tests/functional/web/test_notes_flow.py
Due: ruff-check, ruff-format

Fix test_notes_page_accessible for redirect changes
  tests/functional/web/test_playwright_basic.py
Due: ruff-check, ruff-format

Add condition_script support to event listener web UI
  src/family_assistant/storage/repositories/events.py
  src/family_assistant/templates/listeners/listener_detail.html.j2
  src/family_assistant/templates/listeners/listener_edit.html.j2
  src/family_assistant/web/routers/listeners_ui.py
Due: ruff-check, ruff-format

Redirect root path to /chat instead of showing notes (#42)
  .devcontainer/CLAUDE.devcontainer.md
  src/family_assistant/web/routers/notes.py
  tests/functional/web/pages/notes_page.py
  tests/functional/web/test_notes_flow.py
  tests/functional/web/test_playwright_basic.py
  tests/functional/web/test_ui_endpoints.py
  tests/functional/web/test_ui_endpoints_playwright.py
Due: ruff-check, ruff-format, mdformat

Add condition_script support to event listener web UI (#43)
  src/family_assistant/storage/repositories/events.py
  src/family_assistant/templates/listeners/listener_detail.html.j2
  src/family_assistant/templates/listeners/listener_edit.html.j2
  src/family_assistant/web/routers/listeners_ui.py
Due: ruff-check, ruff-format

Rebuild tools UI as React app with navigation header
  frontend/package-lock.json
  frontend/package.json
  frontend/src/chat/NavHeader.jsx
  frontend/src/tools/ToolsApp.jsx
  frontend/src/tools/index.jsx
  frontend/src/tools/tools.css
  frontend/tools.html
  frontend/vite.config.js
  src/family_assistant/web/app_creator.py
  src/family_assistant/web/routers/tools_api.py
  src/family_assistant/web/routers/vite_pages.py
  tests/functional/web/test_tools_ui_playwright.py
Due: ruff-check, ruff-format, biome-format, eslint

Fix base template route reference for tools
  src/family_assistant/templates/base.html.j2
Due: none

Fix URL generation for static files in templates
  frontend/package-lock.json
  frontend/package.json
  frontend/src/main.js
  src/family_assistant/templates/document_detail.html.j2
  src/family_assistant/templates/message_history.html.j2
  src/family_assistant/templates/tasks.html.j2
  src/family_assistant/templates/tools.html.j2
  src/family_assistant/templates/vector_search.html.j2
Due: biome-format, eslint

Rebuild tools UI as React app with navigation header (#44)
  frontend/package-lock.json
  frontend/package.json
  frontend/src/chat/NavHeader.jsx
  frontend/src/main.js
  frontend/src/tools/ToolsApp.jsx
  frontend/src/tools/index.jsx
  frontend/src/tools/tools.css
  frontend/tools.html
  frontend/vite.config.js
  src/family_assistant/templates/base.html.j2
  src/family_assistant/templates/document_detail.html.j2
  src/family_assistant/templates/message_history.html.j2
  src/family_assistant/templates/tasks.html.j2
  src/family_assistant/templates/tools.html.j2
  src/family_assistant/templates/vector_search.html.j2
  src/family_assistant/web/app_creator.py
  src/family_assistant/web/routers/tools_api.py
  src/family_assistant/web/routers/vite_pages.py
  tests/functional/web/test_tools_ui_playwright.py
Due: ruff-check, ruff-format, biome-format, eslint

feat: increase content max-width from 45rem to 80rem
  frontend/src/custom.css
Due: none

fix: resolve mobile horizontal scroll with proper grid layout
  frontend/src/custom.css
Due: none

Path conditions:
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  mdformat: any of: \.(md|markdown|mdown)$, but not: (?x)^( 
  docs/python-telegram-bot-abridged\.md|
  docs/python-telegram-bot-abridged-filtered\.md
)$

  biome-format: any of: ^frontend/.*\.(js|jsx|ts|tsx|json)$
  eslint: any of: ^frontend/.*\.(js|jsx|ts|tsx)$
