Repository werdnum/family-assistant: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt, biome-format, eslint

ruff-check:
  name: ruff-check
  entry: ruff check --fix --preview
  language: system

ruff-format:
  name: ruff-format
  entry: ruff format --preview
  language: system

basedpyright:
  name: basedpyright
  entry: basedpyright
  language: system
  pass_filenames: false

code-conformance:
  name: code-conformance
  entry: .ast-grep/check-conformance.py
  language: system
  pass_filenames: true

mdformat:
  name: mdformat
  entry: mdformat --wrap 100
  language: system

yamlfmt:
  name: yamlfmt
  language: golang
  entry: yamlfmt
  additional_dependencies:
  - github.com/google/yamlfmt/cmd/yamlfmt@v0.17.0

biome-format:
  name: biome-format
  entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx @biomejs/biome format --write "${files[@]}"' --
  language: system
  pass_filenames: true

eslint:
  name: eslint
  entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx eslint --fix "${files[@]}"' --
  language: system
  pass_filenames: true

Fix the typecheck, and widen the guard past raw user ids
  frontend/src/chat/ChatApp.tsx
  frontend/src/chat/__tests__/TurnControl.test.tsx
  frontend/src/chat/useStreamingResponse.js
  src/family_assistant/web/conversation_stream_hub.py
  src/family_assistant/web/routers/chat_api.py
  tests/unit/web/test_conversation_stream_hub.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, biome-format, eslint

Recover un-echoed steers on failure, and keep retries in their conversation
  frontend/src/chat/ChatApp.tsx
  frontend/src/chat/__tests__/TurnControl.test.tsx
  frontend/src/chat/useStreamingResponse.js
Due: biome-format, eslint

Reattach a tool result its history separated from its call
  frontend/src/chat/ChatApp.tsx
  src/family_assistant/processing/service.py
  tests/unit/processing/test_unmatched_tool_calls.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, biome-format, eslint

Close the turn-guard race, and stop the adoption path losing state
  docs/api/README.md
  docs/user/attachments.md
  frontend/src/chat/__tests__/TurnControl.test.tsx
  frontend/src/chat/useStreamingResponse.js
  src/family_assistant/web/conversation_stream_hub.py
  src/family_assistant/web/routers/chat_api.py
  tests/functional/web/api/test_chat_turn_control.py
  tests/unit/web/test_conversation_stream_hub.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, biome-format, eslint

Follow an adopted turn from the steer, not from its start
  docs/api/README.md
  frontend/src/chat/__tests__/TurnControl.test.tsx
  frontend/src/chat/useStreamingResponse.js
Due: mdformat, biome-format, eslint

Resend a prompt the adopted turn was already gone for, and reconcile its tail
  frontend/src/chat/ChatApp.tsx
  frontend/src/chat/__tests__/TurnControl.test.tsx
  frontend/src/chat/useStreamingResponse.js
Due: biome-format, eslint

Resend an adopted message the turn ended without consuming
  frontend/src/chat/ChatApp.tsx
  frontend/src/chat/__tests__/TurnControl.test.tsx
  frontend/src/chat/useStreamingResponse.js
Due: biome-format, eslint

Abandon an adopted prompt the user stopped before it landed
  frontend/src/chat/__tests__/TurnControl.test.tsx
  frontend/src/chat/useStreamingResponse.js
Due: biome-format, eslint

Bind an observed steer echo to the submission it delivered
  frontend/src/chat/ChatApp.tsx
Due: biome-format, eslint

Close the duplicate-send race, and unblock CI's postgres backend job
  frontend/src/chat/ChatApp.tsx
  frontend/src/chat/__tests__/TurnControl.test.tsx
  frontend/src/chat/useStreamingResponse.js
  tests/functional/web/api/test_profiles_api.py
  tests/unit/telegram/test_batching_media_groups.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, biome-format, eslint

Pin retrying steers, and stop inferring delivery from an empty registry
  frontend/src/chat/ChatApp.tsx
  frontend/src/chat/__tests__/TurnControl.test.tsx
  frontend/src/chat/useStreamingResponse.js
Due: biome-format, eslint

Name a steer submission so its echo identifies it
  docs/api/README.md
  frontend/src/chat/ChatApp.tsx
  frontend/src/chat/__tests__/TurnControl.test.tsx
  frontend/src/chat/useStreamingResponse.js
  src/family_assistant/llm/__init__.py
  src/family_assistant/processing/llm_loop.py
  src/family_assistant/web/routers/chat_api.py
  src/family_assistant/web/turn_producer.py
  tests/functional/web/api/test_chat_turn_control.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, biome-format, eslint

Follow the commit-as-you-go cutover in the repair test
  tests/unit/processing/test_unmatched_tool_calls.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Replay a recovered kickoff ahead of the steers typed after it
  frontend/src/chat/ChatApp.tsx
  frontend/src/chat/__tests__/TurnControl.test.tsx
Due: biome-format, eslint

Settle a steer once, and only for the turn it was sent to
  docs/api/README.md
  frontend/src/chat/ChatApp.tsx
  frontend/src/chat/Thread.tsx
  frontend/src/chat/__tests__/TurnControl.test.tsx
  frontend/src/chat/useStreamingResponse.js
  src/family_assistant/web/routers/chat_api.py
  src/family_assistant/web/web_mid_turn_controller.py
  tests/functional/web/api/test_chat_turn_control.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, biome-format, eslint

Recognise a steer retry that outlives its turn
  src/family_assistant/web/conversation_stream_hub.py
  src/family_assistant/web/routers/chat_api.py
  tests/functional/web/api/test_chat_turn_control.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Hand back an adopted prompt the stream lost, and tell a retry its floor
  frontend/src/chat/ChatApp.tsx
  frontend/src/chat/__tests__/TurnControl.test.tsx
  src/family_assistant/web/conversation_stream_hub.py
  src/family_assistant/web/routers/chat_api.py
  tests/functional/web/api/test_chat_turn_control.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, biome-format, eslint

Publish a steer echo only once it is persisted, and drain on give-up
  frontend/src/chat/ChatApp.tsx
  frontend/src/chat/__tests__/TurnControl.test.tsx
  src/family_assistant/processing/service.py
  tests/unit/processing/test_processing_fail_fast.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, biome-format, eslint

Do not record a steer the turn stopped running before taking
  src/family_assistant/web/routers/chat_api.py
  tests/functional/web/api/test_chat_turn_control.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Reap attachments that no message or note references
  docs/design/attachment-orphan-reaper.md
  docs/user/attachments.md
  src/family_assistant/assistant.py
  src/family_assistant/services/attachment_registry.py
  src/family_assistant/task_worker.py
  tests/unit/attachments/test_attachment_reaper.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Reserve a hub turn for non-streaming sends
  docs/api/README.md
  docs/design/resumable_streaming.md
  src/family_assistant/web/conversation_stream_hub.py
  src/family_assistant/web/routers/chat_api.py
  tests/functional/web/api/test_chat_turn_control.py
  tests/unit/web/test_conversation_stream_hub.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Exclude referenced attachments before applying the reaper's limit
  docs/design/attachment-orphan-reaper.md
  src/family_assistant/assistant.py
  src/family_assistant/services/attachment_registry.py
  src/family_assistant/task_worker.py
  tests/unit/attachments/test_attachment_reaper.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Page the reaper's candidates instead of a subquery per row
  docs/design/attachment-orphan-reaper.md
  src/family_assistant/services/attachment_registry.py
  tests/unit/attachments/test_attachment_reaper.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Drop the send nudges the reservation's turn_ended replaces
  docs/api/README.md
  src/family_assistant/web/routers/chat_api.py
  tests/functional/web/api/test_chat_turn_control.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Run the attachment file sweep off the event loop
  src/family_assistant/services/attachment_registry.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Return a finished system task to the queue on its next occurrence
  docs/design/attachment-orphan-reaper.md
  src/family_assistant/storage/repositories/tasks.py
  tests/functional/tasks/test_system_task_recurrence.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Replace automation_creation profile with a built-in skill
  alembic/versions/2026_08_04-restamp_automation_creation_provenance.py
  defaults.yaml
  deploy/testflight-sandbox/config.yaml
  prompts.yaml
  src/family_assistant/actions.py
  src/family_assistant/skills/builtin/automation-creation.md
  src/family_assistant/task_worker.py
  tests/functional/automations/test_automations_crud.py
  tests/functional/automations/test_ops_automation_confinement.py
  tests/functional/scripting/test_script_error_notification.py
  tests/functional/storage/test_restamp_automation_creation_migration.py
  tests/functional/tools/test_builtin_skill_tool_activation.py
  tests/integration/llm/test_streaming.py
  tests/unit/processing/test_processing_fail_fast.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt

Document the automation authoring skill
  docs/design/automation-authoring-skill.md
  docs/design/automation_provenance.md
  docs/design/builtin-skills-and-convergence.md
  docs/design/processing_profiles.md
  docs/design/tool_policy_engine.md
  docs/operations/CONFIGURATION_REFERENCE.md
  docs/user/QUICK_START.md
  docs/user/automations.md
  docs/user/slash-commands.md
Due: mdformat

Point the recurring-schedule prompt guidance at the skill
  prompts.yaml
Due: yamlfmt

Re-stamp queued task payloads, and scope event wakes in the skill
  alembic/versions/2026_08_04-restamp_automation_creation_provenance.py
  docs/design/automation-authoring-skill.md
  src/family_assistant/skills/builtin/automation-creation.md
  tests/functional/storage/test_restamp_automation_creation_migration.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Forbid wake_llm from event scripts; re-stamp in-flight delegations
  alembic/versions/2026_08_04-restamp_automation_creation_provenance.py
  src/family_assistant/skills/builtin/automation-creation.md
  tests/functional/storage/test_restamp_automation_creation_migration.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Re-stamp outstanding confirmations; grant automation writes to complex_tasks
  alembic/versions/2026_08_04-restamp_automation_creation_provenance.py
  defaults.yaml
  docs/design/automation-authoring-skill.md
  tests/functional/storage/test_restamp_automation_creation_migration.py
  tests/functional/tools/test_builtin_skill_tool_activation.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt

Fix Gmail attachment mis-typing when attachmentId rotates
  src/family_assistant/tools/google_data.py
  tests/functional/tools/test_google_data_tools.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Address review: id precedence, generic MIME, stale description
  src/family_assistant/tools/google_data.py
  tests/functional/tools/test_google_data_tools.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Validate send_message_to_user targets against real conversations
  docs/user/interfaces.md
  src/family_assistant/tools/communication.py
  tests/functional/attachments/test_attachment_tools.py
  tests/functional/attachments/test_attachment_workflows.py
  tests/functional/telegram/test_telegram_send_message_tool.py
  tests/functional/tools/test_send_message_target_validation.py
  tests/helpers.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Classify taint sinks by destination, as the design intends
  docs/design/runtime-taint-machinery.md
  src/family_assistant/security/taint.py
  src/family_assistant/tools/__init__.py
  src/family_assistant/tools/infrastructure.py
  tests/unit/security/test_runtime_taint.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Restore download_media to the arbitrary-external sink
  src/family_assistant/tools/__init__.py
  tests/unit/security/test_runtime_taint.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Classify send_message_to_user as known_user_message
  docs/design/runtime-taint-machinery.md
  src/family_assistant/security/taint.py
  src/family_assistant/tools/__init__.py
  src/family_assistant/tools/metadata.py
  tests/unit/security/test_runtime_taint.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Upload web chat attachments when they are attached
  frontend/src/chat/__tests__/attachmentAdapter.test.js
  frontend/src/chat/attachmentAdapter.js
  frontend/src/components/assistant-ui/__tests__/attachment.test.tsx
  frontend/src/components/assistant-ui/attachment.tsx
  tests/functional/web/ui/test_file_upload.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, biome-format, eslint

Upload attachments at send time, not alongside the composer
  frontend/src/chat/Thread.tsx
  frontend/src/chat/__tests__/attachmentAdapter.test.js
  frontend/src/chat/attachmentAdapter.js
  frontend/src/components/assistant-ui/__tests__/attachment.test.tsx
  frontend/src/components/assistant-ui/attachment.tsx
Due: biome-format, eslint

Path conditions:
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  basedpyright: any of: \.py$
  code-conformance: any of: \.py$
  mdformat: any of: \.(md|markdown|mdown)$, but not: (?x)^( 
  docs/python-telegram-bot-abridged\.md|
  docs/python-telegram-bot-abridged-filtered\.md
)$

  yamlfmt: any of: \.(yaml|yml)$
  biome-format: any of: ^frontend/.*\.(js|jsx|ts|tsx|json)$, but not: ^frontend/(dev-dist/|package-lock\.json$)
  eslint: any of: ^frontend/.*\.(js|jsx|ts|tsx)$
