Repository werdnum/family-assistant: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, basedpyright, mdformat, biome-format, eslint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-check
        name: ruff-check
        entry: ruff check --fix --preview
        language: system
        types: [python]
      - id: ruff-format
        name: ruff-format
        entry: ruff format --preview
        language: system
        types: [python]
  - repo: local
    hooks:
      - id: basedpyright
        name: basedpyright
        entry: basedpyright
        language: system
        types: [python]
        pass_filenames: false
  - repo: local
    hooks:
      - id: mdformat
        name: mdformat
        entry: mdformat --wrap 100
        language: system
        types: [markdown]
        exclude: "(?x)^( \n  docs/python-telegram-bot-abridged\\.md|\n  docs/python-telegram-bot-abridged-filtered\\.md\n)$\n"
  - repo: https://github.com/google/yamlfmt
    rev: v0.17.0
    hooks:
      - id: yamlfmt
  - repo: local
    hooks:
      - id: biome-format
        name: biome-format
        entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx @biomejs/biome format --write "${files[@]}"' --
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx|json)$
        pass_filenames: true
      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx eslint --fix "${files[@]}"' --
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx)$
        pass_filenames: true

Add comprehensive UI convergence plan with tools-first API strategy
  docs/design/ui-convergence-plan.md
Due: mdformat

Fix formatting in UI convergence plan
  docs/design/ui-convergence-plan.md
Due: mdformat

Increase content max-width from 45rem to 80rem (#45)
  frontend/src/custom.css
Due: none

feat: add APIs for notes, tasks, events and documents
  docs/design/ui-convergence-plan.md
  src/family_assistant/web/routers/api.py
  src/family_assistant/web/routers/documents_api.py
  src/family_assistant/web/routers/events_api.py
  src/family_assistant/web/routers/notes_api.py
  src/family_assistant/web/routers/tasks_api.py
  src/family_assistant/web/routers/vector_search_api.py
  tests/functional/test_api_endpoints.py
Due: ruff-check, ruff-format, basedpyright, mdformat

Complete vector search API enhancement with comprehensive testing
  scripts/prepare_test_data.py
  src/family_assistant/web/routers/vector_search_api.py
  tests/functional/test_api_endpoints.py
  tests/functional/test_vector_search_comprehensive.py
Due: ruff-check, ruff-format, basedpyright

Claude CLI configuration in claude-wrapper.sh
  .devcontainer/claude-wrapper.sh
Due: none

fix: Fix YAML indentation in config.yaml to enable Google provider direct usage
  config.yaml
Due: none

fix: Add retry_config support to configuration merging logic
  src/family_assistant/__main__.py
Due: ruff-check, ruff-format, basedpyright

Update docker-compose.yml to match Kubernetes dev pod setup
  .devcontainer/.env.example
  .devcontainer/docker-compose.yml
Due: none

Update docker-compose.yml to match Kubernetes dev pod setup (#49)
  .devcontainer/.env.example
  .devcontainer/docker-compose.yml
Due: none

perf: Optimize React bundle sizes with code splitting
  frontend/package-lock.json
  frontend/package.json
  frontend/src/shared/AppRouter.jsx
  frontend/src/tools/ToolsApp.jsx
  frontend/vite.config.js
  src/family_assistant/web/routers/vite_pages.py
  tests/functional/web/test_react_documents_ui.py
Due: ruff-check, ruff-format, basedpyright, biome-format, eslint

feat: Migrate documentation and settings/tokens pages to React
  .devcontainer/setup-workspace.sh
  frontend/src/pages/Documentation/DocumentationApp.jsx
  frontend/src/pages/Documentation/components/DocumentationList.jsx
  frontend/src/pages/Documentation/components/DocumentationList.module.css
  frontend/src/pages/Documentation/components/DocumentationView.jsx
  frontend/src/pages/Documentation/components/DocumentationView.module.css
  src/family_assistant/web/app_creator.py
  src/family_assistant/web/routers/api_documentation.py
  src/family_assistant/web/routers/api_token_management.py
  src/family_assistant/web/routers/documentation.py
  src/family_assistant/web/routers/ui_token_management.py
  tests/functional/web/test_documentation_ui.py
  tests/functional/web/test_settings_ui.py
Due: ruff-check, ruff-format, basedpyright, biome-format, eslint

refactor: Clean up legacy UI components and migrate Errors page to React Router
  frontend/errors.html
  frontend/src/errors/ErrorsApp.jsx
  frontend/vite.config.js
  src/family_assistant/templates/error_detail.html
  src/family_assistant/templates/errors.html
  src/family_assistant/templates/events/event_detail.html.j2
  src/family_assistant/templates/events/events_list.html.j2
  src/family_assistant/templates/listeners/listener_detail.html.j2
  src/family_assistant/templates/listeners/listener_edit.html.j2
  src/family_assistant/templates/listeners/listeners_list.html.j2
  src/family_assistant/templates/partials/message_display.html
  src/family_assistant/templates/settings/api_tokens.html.j2
  src/family_assistant/web/app_creator.py
  tests/functional/web/test_react_documents_ui.py
Due: ruff-check, ruff-format, basedpyright, biome-format, eslint

test: Add functional tests for React Documents UI
  docs/design/ui-convergence-plan.md
  frontend/src/pages/Documents/DocumentUpload.jsx
  frontend/src/pages/Documents/Documents.module.css
  frontend/src/pages/Documents/DocumentsList.jsx
  frontend/src/pages/Documents/DocumentsPage.jsx
  frontend/src/shared/AppRouter.jsx
  src/family_assistant/templates/base.html.j2
  src/family_assistant/web/app_creator.py
  src/family_assistant/web/routers/documents_ui.py
  src/family_assistant/web/routers/vite_pages.py
  tests/functional/web/test_react_documents_ui.py
  tests/functional/web/test_ui_endpoints.py
Due: ruff-check, ruff-format, basedpyright, mdformat, biome-format, eslint

fix: Fix React bundle loading order issue in production builds
  frontend/router.html
  frontend/src/shared/router-entry.jsx
  frontend/vite.config.js
  tests/functional/web/test_react_documents_ui.py
Due: ruff-check, ruff-format, basedpyright, biome-format, eslint

feat: Complete Vector Search UI migration to React 🎉
  docs/design/ui-convergence-plan.md
  frontend/src/pages/VectorSearch/VectorSearch.jsx
  frontend/src/pages/VectorSearch/VectorSearch.module.css
  frontend/src/pages/VectorSearch/VectorSearchPage.jsx
  frontend/src/shared/AppRouter.jsx
  src/family_assistant/web/app_creator.py
  src/family_assistant/web/routers/vite_pages.py
  tests/functional/web/test_react_vector_search_ui.py
Due: ruff-check, ruff-format, basedpyright, mdformat, biome-format, eslint

fix: Handle empty query strings in vector search API
  src/family_assistant/web/routers/vector_search_api.py
Due: ruff-check, ruff-format, basedpyright

fix: Add missing /api/v1/context endpoint for React Router UI
  docs/design/ui-convergence-plan.md
  pyproject.toml
  src/family_assistant/web/routers/api.py
  src/family_assistant/web/routers/context_viewer.py
  tests/functional/web/conftest.py
  uv.lock
Due: ruff-check, ruff-format, basedpyright, mdformat

Add infrastructure strategy and timing recommendations to UI convergence plan
  docs/design/ui-convergence-plan.md
Due: mdformat

fix: Update review hook for improved error handling and compatibility
  .claude/review-hook.sh
Due: none

feat: Add Document Detail view to React Documents UI
  frontend/src/pages/Documents/DocumentDetail.jsx
  frontend/src/pages/Documents/Documents.module.css
  frontend/src/pages/Documents/DocumentsList.jsx
  frontend/src/pages/Documents/DocumentsPage.jsx
  src/family_assistant/web/routers/documents_api.py
  tests/functional/web/test_react_documents_ui.py
Due: ruff-check, ruff-format, basedpyright, biome-format, eslint

docs: Update UI convergence plan for completed Session 2-3
  docs/design/ui-convergence-plan.md
  frontend/src/shared/AppRouter.jsx
  frontend/src/tasks/components/JsonPayloadViewer.jsx
  frontend/vite.config.js
  src/family_assistant/web/app_creator.py
  src/family_assistant/web/routers/notes.py
  src/family_assistant/web/routers/tasks_api.py
  src/family_assistant/web/routers/tasks_ui.py
  src/family_assistant/web/routers/vite_pages.py
Due: ruff-check, ruff-format, basedpyright, mdformat, biome-format, eslint

feat: Improve review hook with automatic formatting and comprehensive linting
  scripts/format-and-lint.sh
Due: none

feat: Add React-based API token management UI
  alembic/env.py
  alembic/versions/2025_04_30-a7c55b979906_initial_revision.py
  frontend/src/pages/Settings/TokenManagement.jsx
  frontend/src/pages/Settings/TokenManagement.module.css
  frontend/src/shared/AppRouter.jsx
  src/family_assistant/web/routers/api_token_management.py
Due: ruff-check, ruff-format, basedpyright, biome-format, eslint

fix: Fix React routing configuration and UI tests
  frontend/vite.config.js
  src/family_assistant/templates/base.html.j2
  src/family_assistant/web/routers/vite_pages.py
  tests/functional/web/test_documentation_ui.py
  tests/functional/web/test_settings_ui.py
Due: ruff-check, ruff-format, basedpyright, biome-format, eslint

fix: Fix history filter test timing issues
  tests/functional/web/test_events_ui.py
  tests/functional/web/test_history_ui.py
Due: ruff-check, ruff-format, basedpyright

fix: Complete event listeners UI migration to React
  docs/python-telegram-bot-abridged-filtered.md
  frontend/src/pages/EventListeners/EventListenersApp.jsx
  frontend/src/pages/EventListeners/components/EventListenerDetail.jsx
  frontend/src/pages/EventListeners/components/EventListenerForm.jsx
  frontend/src/pages/EventListeners/components/EventListenersList.css
  frontend/src/pages/EventListeners/components/EventListenersList.jsx
  frontend/src/pages/EventListeners/components/EventListenersList.module.css
  frontend/src/shared/AppRouter.jsx
  frontend/vite.config.js
  src/family_assistant/templates/base.html.j2
  src/family_assistant/web/app_creator.py
  src/family_assistant/web/routers/api.py
  src/family_assistant/web/routers/listeners_api.py
  src/family_assistant/web/routers/listeners_ui.py
  src/family_assistant/web/routers/vite_pages.py
  tests/functional/web/test_event_listeners_ui.py
Due: ruff-check, ruff-format, basedpyright, biome-format, eslint

Update UI convergence plan with all completed backend APIs
  docs/design/ui-convergence-plan.md
Due: mdformat

Fix React UI routing and test configuration
  frontend/src/pages/Documentation/components/DocumentationList.jsx
  tests/conftest.py
  tests/functional/web/conftest.py
  tests/functional/web/test_documentation_ui.py
Due: ruff-check, ruff-format, basedpyright, biome-format, eslint

test: Skip old Jinja2 document tests after React migration
  tests/functional/web/test_documents_flow.py
Due: ruff-check, ruff-format, basedpyright

Remove obsolete Jinja2 tools UI router and template
  src/family_assistant/templates/tools.html.j2
  src/family_assistant/web/routers/tools_ui.py
Due: ruff-check, ruff-format, basedpyright

feat: add APIs for notes, tasks, events and documents (#46)
  docs/design/ui-convergence-plan.md
  scripts/prepare_test_data.py
  src/family_assistant/web/routers/api.py
  src/family_assistant/web/routers/documents_api.py
  src/family_assistant/web/routers/events_api.py
  src/family_assistant/web/routers/notes_api.py
  src/family_assistant/web/routers/tasks_api.py
  src/family_assistant/web/routers/vector_search_api.py
  tests/functional/test_api_endpoints.py
  tests/functional/test_vector_search_comprehensive.py
Due: ruff-check, ruff-format, basedpyright, mdformat

fix: Properly handle stash conflicts in review-hook.sh
  .claude/review-hook.sh
Due: none

docs: Update UI convergence plan with completed React Router foundation
  docs/design/ui-convergence-plan.md
Due: mdformat

docs: Update UI convergence plan with Events migration completion
  docs/design/ui-convergence-plan.md
Due: mdformat

fix: Complete React Router integration and resolve test failures
  .claude/agents/systematic-debugger.md
  frontend/notes.html
  frontend/src/shared/AppRouter.jsx
  frontend/tasks.html
  frontend/vite.config.js
  src/family_assistant/web/routers/vite_pages.py
Due: ruff-check, ruff-format, basedpyright, mdformat, biome-format, eslint
