Repository werdnum/family-assistant: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, basedpyright, mdformat, biome-format, eslint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-check
        name: ruff-check
        entry: ruff check --fix --preview
        language: system
        types: [python]
      - id: ruff-format
        name: ruff-format
        entry: ruff format --preview
        language: system
        types: [python]
  - repo: local
    hooks:
      - id: basedpyright
        name: basedpyright
        entry: basedpyright
        language: system
        types: [python]
        pass_filenames: false
  - repo: local
    hooks:
      - id: mdformat
        name: mdformat
        entry: mdformat --wrap 100
        language: system
        types: [markdown]
        exclude: "(?x)^( \n  docs/python-telegram-bot-abridged\\.md|\n  docs/python-telegram-bot-abridged-filtered\\.md\n)$\n"
  - repo: https://github.com/google/yamlfmt
    rev: v0.17.0
    hooks:
      - id: yamlfmt
  - repo: local
    hooks:
      - id: biome-format
        name: biome-format
        entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx @biomejs/biome format --write "${files[@]}"' --
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx|json)$
        pass_filenames: true
      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx eslint --fix "${files[@]}"' --
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx)$
        pass_filenames: true

Optimize Playwright test performance by removing route pre-loading
  tests/functional/web/conftest.py
Due: ruff-check, ruff-format, basedpyright

Remove unnecessary database cleanup from Playwright fixtures
  tests/functional/web/conftest.py
Due: ruff-check, ruff-format, basedpyright

Fix React closure race condition in handleStreamingToolCall
  debug_logs.txt
  frontend/src/chat/ChatApp.tsx
Due: biome-format, eslint

tests(web): sync tool waits across attachment tests
  tests/functional/web/test_chat_ui_attachment_response.py
Due: ruff-check, ruff-format, basedpyright

Fix timeout issue in attachment persistence test after page reload
  tests/functional/web/test_chat_ui_attachment_response.py
Due: ruff-check, ruff-format, basedpyright

Fix React race condition in tool UI rendering for CI stability
  frontend/src/chat/ChatApp.tsx
  frontend/src/chat/useStreamingResponse.js
Due: biome-format, eslint

tests(web): extend waits for multi-attachment flow
  tests/functional/web/test_chat_ui_attachment_response.py
Due: ruff-check, ruff-format, basedpyright

Clean up attachment rendering debug code and improve timeouts
  debug_logs.txt
  frontend/src/chat/AttachToResponseTool.tsx
  frontend/src/chat/ChatApp.tsx
  frontend/src/chat/useStreamingResponse.js
  tests/functional/web/pages/chat_page.py
  tests/functional/web/test_chat_ui_attachment_response.py
Due: ruff-check, ruff-format, basedpyright, biome-format, eslint

tests(web): stabilize attachment tool UI waits
  tests/functional/web/pages/chat_page.py
  tests/functional/web/test_chat_ui_attachment_response.py
Due: ruff-check, ruff-format, basedpyright

Fix AttachToResponseTool initialization race condition
  frontend/src/chat/AttachToResponseTool.tsx
Due: biome-format, eslint

Improve error handling in attachment test waits
  tests/functional/web/pages/chat_page.py
  tests/functional/web/test_chat_ui_attachment_response.py
Due: ruff-check, ruff-format, basedpyright

Add comprehensive debug logging for attachment rendering race condition
  frontend/src/chat/AttachToResponseTool.tsx
  frontend/src/chat/ChatApp.tsx
  frontend/src/chat/useStreamingResponse.js
  tests/functional/web/pages/chat_page.py
Due: ruff-check, ruff-format, basedpyright, biome-format, eslint

tests(web): stabilize attachment tool UI waits
  tests/functional/web/test_chat_ui_attachment_response.py
Due: ruff-check, ruff-format, basedpyright

Fix Playwright attachment test flakiness by improving wait semantics
  tests/functional/web/pages/chat_page.py
  tests/functional/web/test_chat_ui_attachment_response.py
Due: ruff-check, ruff-format, basedpyright

Fix flaky attachment response tests by adding shared LLM follow-up handler
  tests/functional/web/test_chat_ui_attachment_response.py
Due: ruff-check, ruff-format, basedpyright

Fix flaky attachment response tests with robust matchers and logging
  tests/functional/web/pages/chat_page.py
  tests/functional/web/test_chat_ui_attachment_response.py
  tests/mocks/mock_llm.py
Due: ruff-check, ruff-format, basedpyright

tests(web): wait for assistant response before tool UI check
  tests/functional/web/test_chat_ui_attachment_response.py
Due: ruff-check, ruff-format, basedpyright

Fix workspace paths for dev container
  .devcontainer/setup-workspace.sh
  setup.lock
Due: none

Fix paths after worktree migration
  .devcontainer/claude-wrapper.sh
Due: none

feat(ci): Improve Docker build caching in CI workflows
  .github/workflows/build-containers.yml
  .github/workflows/ci-with-devcontainer.yml
Due: none

Fix: Correct dependabot cooldown schema in dependabot.yml
  .github/dependabot.yml
Due: none
