Repository werdnum/family-assistant: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt, biome-format, eslint

ruff-check:
  name: ruff-check
  entry: ruff check --fix --preview
  language: system

ruff-format:
  name: ruff-format
  entry: ruff format --preview
  language: system

basedpyright:
  name: basedpyright
  entry: basedpyright
  language: system
  pass_filenames: false

code-conformance:
  name: code-conformance
  entry: .ast-grep/check-conformance.py
  language: system
  pass_filenames: true

mdformat:
  name: mdformat
  entry: mdformat --wrap 100
  language: system

yamlfmt:
  name: yamlfmt
  language: golang
  entry: yamlfmt
  additional_dependencies:
  - github.com/google/yamlfmt/cmd/yamlfmt@v0.17.0

biome-format:
  name: biome-format
  entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx @biomejs/biome format --write "${files[@]}"' --
  language: system
  pass_filenames: true

eslint:
  name: eslint
  entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx eslint --fix "${files[@]}"' --
  language: system
  pass_filenames: true

fix(ios): declare the voip background mode CallKit places a call through
  docs/design/ios-callkit-siri-voice.md
  ios/FamilyAssistant/FamilyAssistant/Info.plist
  ios/FamilyAssistant/FamilyAssistantTests/VoiceCallRequestCenterTests.swift
  ios/FamilyAssistant/README.md
Due: mdformat

Fix provider model snapshot extractors and refresh the snapshots
  .agents/skills/anthropic-api-dev/references/current-models.json
  .agents/skills/gemini-api-dev/references/current-models.json
  .agents/skills/openai-api-dev/references/current-models.json
  scripts/CLAUDE.md
  scripts/refresh-provider-model-skills.py
  tests/unit/test_refresh_provider_model_skills.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

style(docs): rewrap the CallKit voice docs to mdformat
  docs/design/ios-callkit-siri-voice.md
  ios/FamilyAssistant/README.md
Due: mdformat

fix(voice): file a voice transcript under the profile that held the call
  docs/user/interfaces.md
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatAPIClient.swift
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatModels.swift
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatViewModel.swift
  ios/FamilyAssistant/FamilyAssistant/RootTabView.swift
  ios/FamilyAssistant/FamilyAssistant/Voice/Calling/VoiceCallCoordinator.swift
  ios/FamilyAssistant/FamilyAssistant/Voice/Calling/VoiceCallStarter.swift
  ios/FamilyAssistant/FamilyAssistant/Voice/GeminiLiveModels.swift
  ios/FamilyAssistant/FamilyAssistant/Voice/VoiceSessionViewModel.swift
  ios/FamilyAssistant/FamilyAssistant/Voice/VoiceToolRunner.swift
  ios/FamilyAssistant/FamilyAssistantTests/EphemeralTokenTests.swift
  ios/FamilyAssistant/FamilyAssistantTests/VoiceSessionViewModelTests.swift
  src/family_assistant/web/models.py
  src/family_assistant/web/routers/chat_api.py
  src/family_assistant/web/routers/gemini_live_api.py
  tests/functional/web/api/test_voice_sessions.py
  tests/unit/web/test_gemini_live_api.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

fix(ios): resolve the voice tab's profile when a session starts
  ios/FamilyAssistant/FamilyAssistant/RootTabView.swift
  ios/FamilyAssistant/FamilyAssistant/Voice/VoiceView.swift
Due: none

Mirror provider model docs verbatim instead of parsing them
  .agents/skills/anthropic-api-dev/SKILL.md
  .agents/skills/anthropic-api-dev/references/current-models.json
  .agents/skills/anthropic-api-dev/references/current-models.md
  .agents/skills/gemini-api-dev/SKILL.md
  .agents/skills/gemini-api-dev/references/current-models.json
  .agents/skills/gemini-api-dev/references/current-models.md
  .agents/skills/openai-api-dev/SKILL.md
  .agents/skills/openai-api-dev/references/current-models.json
  .agents/skills/openai-api-dev/references/current-models.md
  .github/workflows/refresh-provider-model-skills.yml
  .pre-commit-config.yaml
  scripts/CLAUDE.md
  scripts/format-and-lint.sh
  scripts/refresh-provider-model-skills.py
  tests/unit/test_refresh_provider_model_skills.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt

Address Codex review: header URL, truncated reads, targeted lint, partial publish
  .github/workflows/refresh-provider-model-skills.yml
  scripts/CLAUDE.md
  scripts/format-and-lint.sh
  scripts/refresh-provider-model-skills.py
  tests/unit/test_refresh_provider_model_skills.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt

Move engineer onto model tiers; bump deep fallback to Claude Fable 5.1
  AGENTS.md
  defaults.yaml
  docs/operations/CONFIGURATION_REFERENCE.md
  docs/user/intelligence-levels.md
  tests/unit/llm/test_shipped_model_routing.py
  tests/unit/llm/test_shipped_model_tiers.py
  tests/unit/llm/test_shipped_reasoning_config.py
  tests/unit/test_config_loader.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt

fix(ios): recover queued steers when a conflict-adopted turn retires
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatViewModel.swift
  ios/FamilyAssistant/FamilyAssistantTests/ChatViewModelTests.swift
Due: none

Reap one-shot automations that can never fire again
  docs/user/automations.md
  src/family_assistant/assistant.py
  src/family_assistant/skills/builtin/scheduling.md
  src/family_assistant/storage/events.py
  src/family_assistant/storage/repositories/events.py
  src/family_assistant/storage/repositories/schedule_automations.py
  src/family_assistant/storage/repositories/worker_tasks.py
  src/family_assistant/task_worker.py
  src/family_assistant/tools/worker.py
  src/family_assistant/web/routers/webhooks.py
  tests/unit/services/test_stale_automation_cleanup.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

docs: propose conversation memory design
  docs/design/conversation-memory.md
Due: mdformat

Add operator amnesty for definitions predating provenance stamps
  docs/design/legacy-definition-amnesty.md
  scripts/restamp_legacy_definitions.py
  src/family_assistant/security/definition_amnesty.py
  src/family_assistant/security/definition_records.py
  src/family_assistant/services/tool_call_review.py
  src/family_assistant/storage/repositories/events.py
  src/family_assistant/storage/repositories/schedule_automations.py
  src/family_assistant/storage/repositories/scripts.py
  tests/functional/automations/test_legacy_definition_amnesty.py
  tests/unit/security/test_definition_records.py
  tests/unit/security/test_definition_resolution.py
  tests/unit/services/test_tool_call_review.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Document the legacy definition amnesty for operators
  docs/design/executable-definition-taint.md
  docs/design/legacy-definition-amnesty.md
  docs/operations/CONFIGURATION_REFERENCE.md
  scripts/CLAUDE.md
Due: mdformat

Label each listing in the amnesty command's output
  scripts/restamp_legacy_definitions.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

docs: address review on conversation memory design
  docs/design/conversation-memory.md
Due: mdformat

Decide schedule deadness at the firing that consumed the rule
  docs/user/automations.md
  src/family_assistant/storage/repositories/schedule_automations.py
  tests/unit/services/test_stale_automation_cleanup.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Clear a revoked amnesty as SQL NULL, not JSON null
  .ast-grep/rules/no-unstamped-executable-definition-write.yml
  src/family_assistant/storage/repositories/events.py
  src/family_assistant/storage/repositories/schedule_automations.py
  src/family_assistant/storage/repositories/scripts.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, yamlfmt

docs: schedule memory reviews from state, not events
  docs/design/conversation-memory.md
Due: mdformat

docs: enforce the memory taint ceiling at the write chokepoint
  docs/design/conversation-memory.md
Due: mdformat

Abandon a worker listener by the worker's timeout, not a flat week
  docs/user/automations.md
  src/family_assistant/storage/repositories/worker_tasks.py
  src/family_assistant/task_worker.py
  tests/unit/services/test_stale_automation_cleanup.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

docs: withhold globally granted tools from the memory curator
  docs/design/conversation-memory.md
Due: mdformat

Let a worker's completion land before collecting its listener
  src/family_assistant/storage/repositories/worker_tasks.py
  src/family_assistant/task_worker.py
  tests/unit/services/test_stale_automation_cleanup.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Wait on the event callback's outcome, not a fixed 0.5s
  tests/functional/automations/test_event_system_advanced.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Wait out the week whenever a worker's end was never observed
  src/family_assistant/storage/repositories/schedule_automations.py
  src/family_assistant/task_worker.py
  tests/unit/services/test_stale_automation_cleanup.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Answer the recurrence question without walking the series
  src/family_assistant/storage/repositories/schedule_automations.py
  tests/unit/services/test_stale_automation_cleanup.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Say when an overrun worker's listener is dropped, not how long after
  docs/user/automations.md
Due: mdformat

Drop the per-test PostgreSQL database with FORCE
  tests/conftest.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Drop the week from the user-facing timing, keep it as the bound
  docs/user/automations.md
Due: mdformat

docs: revise conversation memory design after author review
  docs/design/conversation-memory.md
Due: mdformat

docs: close applier bypass, define the provenance ceiling and consolidation evidence
  docs/design/conversation-memory.md
Due: mdformat

docs: all-or-nothing change sets, proposition-derived entry identity, UI edit evidence
  docs/design/conversation-memory.md
Due: mdformat

docs: apply the memory read policy at the skill registry boundary too
  docs/design/conversation-memory.md
Due: mdformat

docs: bound curator input by relevance, count every consolidation change
  docs/design/conversation-memory.md
Due: mdformat

docs: chunked reviews; every terminal outcome moves the watermark
  docs/design/conversation-memory.md
Due: mdformat

docs: size-bounded chunks, narrowed selection claim, consolidation guard verification
  docs/design/conversation-memory.md
Due: mdformat

docs: suppress an entry's whole lineage, not only its original identity
  docs/design/conversation-memory.md
Due: mdformat

docs: enablement-time watermark bootstrap; only user-authored evidence releases a suppression
  docs/design/conversation-memory.md
Due: mdformat

docs: bound consolidation input by topic partition
  docs/design/conversation-memory.md
Due: mdformat

docs: chunk on turn boundaries; consolidation is local to a partition
  docs/design/conversation-memory.md
Due: mdformat

docs: match suppressions by proposition; cap topic notes at the write chokepoint
  docs/design/conversation-memory.md
Due: mdformat

Path conditions:
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  basedpyright: any of: \.py$
  code-conformance: any of: \.py$
  mdformat: any of: \.(md|markdown|mdown)$, but not: (?x)^( 
  docs/python-telegram-bot-abridged\.md|
  docs/python-telegram-bot-abridged-filtered\.md
)$

  yamlfmt: any of: \.(yaml|yml)$
  biome-format: any of: ^frontend/.*\.(js|jsx|ts|tsx|json)$, but not: ^frontend/(dev-dist/|package-lock\.json$)
  eslint: any of: ^frontend/.*\.(js|jsx|ts|tsx)$
