Repository werdnum/family-assistant: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt, biome-format, eslint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-check
        name: ruff-check
        entry: ruff check --fix --preview
        language: system
        types: [python]
      - id: ruff-format
        name: ruff-format
        entry: ruff format --preview
        language: system
        types: [python]
  - repo: local
    hooks:
      - id: basedpyright
        name: basedpyright
        entry: basedpyright
        language: system
        types: [python]
        pass_filenames: false
      - id: code-conformance
        name: code-conformance
        entry: .ast-grep/check-conformance.py
        language: system
        types: [python]
        pass_filenames: true
  - repo: local
    hooks:
      - id: mdformat
        name: mdformat
        entry: mdformat --wrap 100
        language: system
        types: [markdown]
        exclude: "(?x)^( \n  docs/python-telegram-bot-abridged\\.md|\n  docs/python-telegram-bot-abridged-filtered\\.md\n)$\n"
  - repo: local
    hooks:
      - id: yamlfmt
        name: yamlfmt
        language: golang
        entry: yamlfmt
        additional_dependencies:
          - github.com/google/yamlfmt/cmd/yamlfmt@v0.17.0
        types: [yaml]
  - repo: local
    hooks:
      - id: biome-format
        name: biome-format
        entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx @biomejs/biome format --write "${files[@]}"' --
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx|json)$
        exclude: ^frontend/(dev-dist/|package-lock\.json$)
        pass_filenames: true
      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx eslint --fix "${files[@]}"' --
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx)$
        pass_filenames: true

fix: Use sa.literal() instead of f-string for JSONB cast in visibility filter
  src/family_assistant/storage/repositories/notes.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

fix: Enforce visibility checks in note update and delete tools
  src/family_assistant/tools/notes.py
  tests/functional/notes/test_note_visibility.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Fix Dependabot frontend groups to prevent peer dependency conflicts
  .github/dependabot.yml
Due: yamlfmt

Fix type safety issues found by ty type checker
  src/family_assistant/llm/__init__.py
  src/family_assistant/llm/providers/google_genai_client.py
  src/family_assistant/llm/request_buffer.py
  src/family_assistant/processing.py
  src/family_assistant/scripting/apis/attachments.py
  src/family_assistant/scripting/apis/tools.py
  src/family_assistant/telegram/protocols.py
  src/family_assistant/tools/schema.py
  src/family_assistant/web/routers/vector_search.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Separate @assistant-ui/* into patch-only Dependabot group
  .github/dependabot.yml
Due: yamlfmt

Add evaluation of Pydantic Monty as Starlark replacement
  docs/design/scripting/monty-evaluation.md
Due: mdformat

Add script to check persisted scripts for Monty compatibility
  scripts/check_monty_compatibility.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Add MontyEngine prototype alongside StarlarkEngine
  pyproject.toml
  src/family_assistant/scripting/__init__.py
  src/family_assistant/scripting/monty_engine.py
  tests/functional/scripting/conftest.py
  tests/functional/scripting/test_engine.py
  tests/functional/scripting/test_json_functions.py
  tests/functional/scripting/test_time_integration.py
  uv.lock
Due: ruff-check, ruff-format, basedpyright, code-conformance

Remove public sync evaluate() from both scripting engines
  src/family_assistant/events/condition_evaluator.py
  src/family_assistant/events/processor.py
  src/family_assistant/scripting/engine.py
  src/family_assistant/scripting/monty_engine.py
  tests/functional/automations/test_event_system_basic.py
  tests/functional/events/test_condition_evaluator.py
  tests/functional/scripting/test_engine.py
  tests/functional/scripting/test_json_functions.py
  tests/functional/scripting/test_time_integration.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Add direct async tool bindings to MontyEngine, bypassing sync bridge
  src/family_assistant/scripting/monty_engine.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Add default resource limits to MontyEngine (max_memory, max_recursion_depth)
  src/family_assistant/scripting/monty_engine.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

fix: Upgrade @assistant-ui/react to v0.12 with compatibility fixes
  frontend/package-lock.json
  frontend/package.json
  frontend/src/chat/Thread.tsx
  frontend/src/chat/ToolGroup.tsx
  tests/functional/web/ui/test_chat_advanced.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, biome-format, eslint

Extract ScriptConfig from StarlarkConfig for engine-neutral naming
  src/family_assistant/events/condition_evaluator.py
  src/family_assistant/scripting/__init__.py
  src/family_assistant/scripting/config.py
  src/family_assistant/scripting/engine.py
  src/family_assistant/scripting/monty_engine.py
  src/family_assistant/task_worker.py
  src/family_assistant/tools/execute_script.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Switch production code from StarlarkEngine to MontyEngine
  src/family_assistant/events/condition_evaluator.py
  src/family_assistant/scripting/monty_engine.py
  src/family_assistant/task_worker.py
  src/family_assistant/tools/execute_script.py
  tests/functional/tools/test_execute_script.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Update all Starlark references to Python across codebase
  defaults.yaml
  docs/user/FAQ.md
  docs/user/FEATURES.md
  docs/user/USER_GUIDE.md
  docs/user/data_visualization.md
  docs/user/scheduling.md
  docs/user/scripting.md
  frontend/src/chat/ToolUI.jsx
  frontend/src/pages/Automations/components/AutomationDetail.jsx
  frontend/src/pages/Automations/components/CreateEventAutomation.jsx
  frontend/src/pages/Automations/components/CreateScheduleAutomation.jsx
  frontend/src/test/toolTestData.js
  frontend/src/tool-test-bench/ToolTestBench.jsx
  src/family_assistant/processing.py
  src/family_assistant/tools/execute_script.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt, biome-format, eslint

Remove StarlarkEngine from test parameterization
  tests/functional/scripting/conftest.py
  tests/functional/scripting/example_direct_tools.py
  tests/functional/scripting/test_direct_tool_callables.py
  tests/functional/scripting/test_engine.py
  tests/functional/scripting/test_json_functions.py
  tests/functional/scripting/test_script_attachment_api.py
  tests/functional/scripting/test_script_execution_handler.py
  tests/functional/scripting/test_time_api.py
  tests/functional/scripting/test_tools_api.py
  tests/functional/scripting/test_tools_security.py
  tests/functional/scripting/test_wake_llm_complex.py
  tests/functional/tools/test_data_manipulation.py
  tests/functional/tools/test_execute_script.py
  tests/functional/tools/test_large_tool_results.py
  tests/unit/scripting/test_jq_query_deadlock.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Remove StarlarkEngine, starlark-pyo3, and dead sync bridge code
  docs/user/scripting.md
  pyproject.toml
  scripts/check_monty_compatibility.py
  src/family_assistant/scripting/__init__.py
  src/family_assistant/scripting/apis/__init__.py
  src/family_assistant/scripting/apis/attachments.py
  src/family_assistant/scripting/apis/time.py
  src/family_assistant/scripting/apis/tools.py
  src/family_assistant/scripting/config.py
  src/family_assistant/scripting/engine.py
  src/family_assistant/scripting/errors.py
  src/family_assistant/scripting/monty_engine.py
  src/family_assistant/storage/repositories/events.py
  src/family_assistant/task_worker.py
  src/family_assistant/tools/CLAUDE.md
  src/family_assistant/tools/execute_script.py
  src/family_assistant/tools/tasks.py
  src/family_assistant/web/routers/automations_api.py
  tests/functional/scripting/test_script_attachment_api.py
  uv.lock
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Fix null reference in syntax highlighter when style not yet loaded
  frontend/src/chat/ToolUI.jsx
Due: biome-format, eslint

Make streaming errors non-terminal so tool call responses aren't lost
  frontend/src/chat/ChatApp.tsx
  frontend/src/chat/__tests__/StreamingErrorRecovery.test.tsx
Due: biome-format, eslint

Fix db_context injection for Monty script tool calls
  src/family_assistant/task_worker.py
  src/family_assistant/tools/infrastructure.py
  tests/functional/scripting/test_script_execution_handler.py
  tests/unit/tools/test_tools_infrastructure.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Fix visibility_grants type mismatch: convert list to set or None
  src/family_assistant/task_worker.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Fix mobile horizontal overflow for chat code blocks
  frontend/src/chat/Thread.tsx
  frontend/src/custom.css
  frontend/src/styles/globals.css
Due: biome-format, eslint

Update voice name and enable affective dialog
  defaults.yaml
Due: yamlfmt

Fix mutmut stats collection: env clearing, async trampoline, web tests
  pyproject.toml
  tests/unit/tools/test_video_generation_tools.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Set up mutmut mutation testing infrastructure
  .gitignore
  pyproject.toml
  scripts/build-coverage-map.py
  scripts/run-mutmut.sh
  src/family_assistant/tools/data_visualization.py
  uv.lock
Due: ruff-check, ruff-format, basedpyright, code-conformance

Add alembic.ini and alembic/ to mutmut also_copy
  pyproject.toml
Due: none

Add CI workflow and scaling for mutmut mutation testing
  .github/workflows/mutation-testing.yml
  .gitignore
  pyproject.toml
  scripts/mutmut-summarize.sh
  scripts/run-mutmut.sh
Due: yamlfmt

Play pre-recorded greeting on SIP call answer for instant caller feedback
  defaults.yaml
  src/family_assistant/config_models.py
  src/family_assistant/web/models.py
  src/family_assistant/web/resources/greeting.wav
  src/family_assistant/web/routers/asterisk_live_api.py
  tests/unit/web/test_asterisk_live_api.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, yamlfmt

Add implementation plan for skills infrastructure (Phase 1 deferred + Phase 2 catalog)
  docs/design/skills-implementation-plan.md
Due: mdformat

Add skills infrastructure: frontmatter parser, file loader, and NoteRegistry
  docs/design/skills-implementation-plan.md
  src/family_assistant/skills/__init__.py
  src/family_assistant/skills/frontmatter.py
  src/family_assistant/skills/loader.py
  src/family_assistant/skills/registry.py
  src/family_assistant/skills/types.py
  tests/unit/skills/__init__.py
  tests/unit/skills/test_frontmatter.py
  tests/unit/skills/test_loader.py
  tests/unit/skills/test_registry.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Wire skills into NotesContextProvider, get_note tool, and Assistant
  src/family_assistant/assistant.py
  src/family_assistant/config_models.py
  src/family_assistant/context_providers.py
  src/family_assistant/processing.py
  src/family_assistant/tools/notes.py
  src/family_assistant/tools/types.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Add built-in skill files: Research Assistant and Meeting Notes
  src/family_assistant/skills/builtin/meeting-notes.md
  src/family_assistant/skills/builtin/research-assistant.md
Due: mdformat

Add functional tests for skill catalog and get_note file-skill fallback
  tests/functional/notes/test_get_note_skills.py
  tests/functional/notes/test_skill_catalog.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Fix pyright-lsp plugin to use official marketplace
  .claude/settings.json
Due: none

Symlink basedpyright-langserver as pyright-langserver in devcontainer
  .devcontainer/setup-workspace.sh
Due: none

Detect skills at write time via is_skill DB column instead of per-request parsing
  alembic/versions/2026_02_13-add_is_skill_to_notes.py
  src/family_assistant/assistant.py
  src/family_assistant/config_models.py
  src/family_assistant/context_providers.py
  src/family_assistant/skills/builtin/meeting-notes.md
  src/family_assistant/skills/builtin/research-assistant.md
  src/family_assistant/storage/notes.py
  src/family_assistant/storage/repositories/notes.py
  tests/functional/notes/test_skill_write_detection.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Fix retry_config not being inherited from default_profile_settings
  docs/design/llm-provider-migration-plan.md
  src/family_assistant/config_loader.py
  src/family_assistant/llm/__init__.py
  src/family_assistant/llm/retrying_client.py
  tests/unit/test_config_loader.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Update default LLM and computer use to gemini-3-flash-preview
  defaults.yaml
Due: yamlfmt

Add restricted telephone_external profile for external callers
  .agents/skills/gemini-api-dev/SKILL.md
  defaults.yaml
  scripts/generate_tts_greeting.py
  src/family_assistant/assistant.py
  src/family_assistant/config_models.py
  src/family_assistant/processing.py
  src/family_assistant/web/models.py
  src/family_assistant/web/resources/greeting_external.wav
  src/family_assistant/web/routers/asterisk_live_api.py
  tests/unit/web/test_asterisk_live_api.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt
