Repository werdnum/family-assistant: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, basedpyright, mdformat, biome-format, eslint

ruff-check:
  name: ruff-check
  entry: ruff check --fix --preview
  language: system

ruff-format:
  name: ruff-format
  entry: ruff format --preview
  language: system

basedpyright:
  name: basedpyright
  entry: basedpyright
  language: system
  pass_filenames: false

mdformat:
  name: mdformat
  entry: mdformat --wrap 100
  language: system

biome-format:
  name: biome-format
  entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx @biomejs/biome format --write "${files[@]}"' --
  language: system
  pass_filenames: true

eslint:
  name: eslint
  entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx eslint --fix "${files[@]}"' --
  language: system
  pass_filenames: true

fix: Add parens to make union types clearer.
  src/family_assistant/storage/context.py
Due: ruff-check, ruff-format, basedpyright

refactor: Improve auth module dependency injection
  src/family_assistant/assistant.py
  src/family_assistant/web/app_creator.py
  src/family_assistant/web/auth.py
  src/family_assistant/web/dependencies.py
Due: ruff-check, ruff-format, basedpyright

fix: Fix syntax error in storage/context.py
  src/family_assistant/storage/context.py
Due: ruff-check, ruff-format, basedpyright

refactor: Remove global database engine state (#62)
  .claude/review-hook.sh
  src/family_assistant/assistant.py
  src/family_assistant/events/processor.py
  src/family_assistant/events/storage.py
  src/family_assistant/storage/__init__.py
  src/family_assistant/storage/base.py
  src/family_assistant/storage/context.py
  src/family_assistant/task_worker.py
  src/family_assistant/web/app_creator.py
  src/family_assistant/web/auth.py
  src/family_assistant/web/dependencies.py
  src/family_assistant/web/routers/chat_api.py
  tests/conftest.py
  tests/functional/indexing/test_document_indexing.py
  tests/functional/indexing/test_email_indexing.py
  tests/functional/indexing/test_indexing_events.py
  tests/functional/indexing/test_indexing_pipeline.py
  tests/functional/indexing/test_notes_indexing.py
  tests/functional/indexing/test_reindexing.py
  tests/functional/scripting/example_direct_tools.py
  tests/functional/scripting/test_direct_tool_callables.py
  tests/functional/scripting/test_tools_api.py
  tests/functional/scripting/test_tools_security.py
  tests/functional/telegram/conftest.py
  tests/functional/test_calendar_confirmation.py
  tests/functional/test_event_listener_script_tools.py
  tests/functional/test_event_script_integration.py
  tests/functional/test_event_system.py
  tests/functional/test_script_execution_handler.py
  tests/functional/test_script_wake_llm.py
  tests/functional/tools/test_execute_script.py
  tests/functional/tools/test_notes_append.py
  tests/functional/web/conftest.py
  tests/functional/web/test_chat_api_endpoint.py
  tests/functional/web/test_conversation_history.py
  tests/functional/web/test_events_ui.py
  tests/unit/test_event_source_deduplication.py
Due: ruff-check, ruff-format, basedpyright

feat: Add tool confirmation feature for sensitive operations
  .claude/banned_commands.json
  frontend/src/chat/ChatApp.tsx
  frontend/src/chat/ConfirmationDialog.tsx
  frontend/src/chat/DynamicToolUI.tsx
  frontend/src/chat/Thread.tsx
  frontend/src/chat/ToolConfirmationContext.tsx
  frontend/src/chat/ToolWithConfirmation.tsx
  frontend/src/chat/useStreamingResponse.js
  frontend/src/components/ui/alert-dialog.tsx
  src/family_assistant/assistant.py
  src/family_assistant/processing.py
  src/family_assistant/tools/infrastructure.py
  src/family_assistant/web/confirmation_manager.py
  src/family_assistant/web/routers/chat_api.py
  tests/functional/web/pages/chat_page.py
  tests/functional/web/test_chat_ui_tool_confirmation_timeout.py
Due: ruff-check, ruff-format, basedpyright, biome-format, eslint

fix: Fix telegram and calendar confirmation tests after callback signature change
  src/family_assistant/assistant.py
  src/family_assistant/telegram_bot.py
  tests/functional/telegram/conftest.py
  tests/functional/telegram/test_telegram_confirmation.py
  tests/functional/test_calendar_confirmation.py
Due: ruff-check, ruff-format, basedpyright

fix: Fix tool confirmation UI and parallel execution
  config.yaml
  frontend/src/chat/ChatApp.tsx
  frontend/src/chat/DynamicToolUI.tsx
  frontend/src/chat/ToolWithConfirmation.tsx
  frontend/src/chat/useStreamingResponse.js
  src/family_assistant/processing.py
  src/family_assistant/tools/infrastructure.py
  src/family_assistant/tools/mcp.py
  src/family_assistant/web/routers/chat_api.py
  tests/functional/scripting/example_direct_tools.py
  tests/functional/scripting/test_direct_tool_callables.py
  tests/functional/scripting/test_tools_api.py
  tests/functional/web/conftest.py
  tests/functional/web/test_chat_ui_tool_confirmation.py
  tests/functional/web/test_chat_ui_tool_confirmation_timeout.py
  tests/unit/test_processing_history_formatting.py
Due: ruff-check, ruff-format, basedpyright, biome-format, eslint

feat: Change default tool confirmation timeout from 60s to 1hr
  src/family_assistant/assistant.py
  src/family_assistant/tools/infrastructure.py
  tests/functional/test_calendar_confirmation.py
  tests/functional/web/conftest.py
  tests/functional/web/test_chat_ui_tool_confirmation.py
Due: ruff-check, ruff-format, basedpyright

Configure MCP config path via environment variable for dev container
  .devcontainer/k8s/dev-pod.yaml
  mcp_config.dev.json
  mcp_config.json
  src/family_assistant/__main__.py
Due: ruff-check, ruff-format, basedpyright

Configure MCP config path via environment variable for dev container (#48)
  .devcontainer/k8s/dev-pod.yaml
  mcp_config.dev.json
  mcp_config.json
  src/family_assistant/__main__.py
Due: ruff-check, ruff-format, basedpyright

refactor: Address PR review comments for tool confirmation
  frontend/src/chat/ConfirmationDialog.tsx
  src/family_assistant/assistant.py
  src/family_assistant/processing.py
  src/family_assistant/telegram_bot.py
  src/family_assistant/web/routers/chat_api.py
Due: ruff-check, ruff-format, basedpyright, biome-format, eslint

feat: Add tool confirmation UI and infrastructure (#63)
  .claude/banned_commands.json
  config.yaml
  frontend/src/chat/ChatApp.tsx
  frontend/src/chat/DynamicToolUI.tsx
  frontend/src/chat/Thread.tsx
  frontend/src/chat/ToolConfirmationContext.tsx
  frontend/src/chat/ToolWithConfirmation.tsx
  frontend/src/chat/useStreamingResponse.js
  frontend/src/components/ui/alert-dialog.tsx
  src/family_assistant/assistant.py
  src/family_assistant/processing.py
  src/family_assistant/telegram_bot.py
  src/family_assistant/tools/infrastructure.py
  src/family_assistant/tools/mcp.py
  src/family_assistant/web/confirmation_manager.py
  src/family_assistant/web/routers/chat_api.py
  tests/functional/scripting/example_direct_tools.py
  tests/functional/scripting/test_direct_tool_callables.py
  tests/functional/scripting/test_tools_api.py
  tests/functional/telegram/conftest.py
  tests/functional/telegram/test_telegram_confirmation.py
  tests/functional/test_calendar_confirmation.py
  tests/functional/web/conftest.py
  tests/functional/web/pages/chat_page.py
  tests/functional/web/test_chat_ui_tool_confirmation.py
  tests/unit/test_processing_history_formatting.py
Due: ruff-check, ruff-format, basedpyright, biome-format, eslint

fix: Fix navigation menu text wrapping and dropdown positioning
  frontend/src/components/ui/navigation-menu.tsx
  frontend/src/shared/Layout.tsx
Due: biome-format, eslint

fix: Fix navigation menu text wrapping and dropdown positioning (#64)
  frontend/src/components/ui/navigation-menu.tsx
  frontend/src/shared/Layout.tsx
Due: biome-format, eslint

Add comprehensive architecture diagram
  AGENTS.md
  docs/architecture-diagram.md
Due: mdformat

Add comprehensive architecture diagram (#65)
  AGENTS.md
  docs/architecture-diagram.md
Due: mdformat

fix: Replace fixed timeouts with proper wait conditions to fix flaky tests
  tests/functional/web/pages/chat_page.py
  tests/functional/web/test_chat_ui_flow.py
Due: ruff-check, ruff-format, basedpyright

fix: Fix review hook stdout contamination and improve issue reporting
  .claude/review-hook.sh
Due: none

fix: Reduce send_message timeout to prevent tool confirmation test issues
  tests/functional/web/pages/chat_page.py
Due: ruff-check, ruff-format, basedpyright

fix: Restore 3-second timeout in send_message for tool confirmation tests
  tests/functional/web/pages/chat_page.py
Due: ruff-check, ruff-format, basedpyright

fix: Replace fixed timeouts with proper wait conditions to fix flaky tests (#67)
  tests/functional/web/test_chat_ui_flow.py
Due: ruff-check, ruff-format, basedpyright

test: Fix navigation dropdown positioning tests
  tests/functional/web/test_page_layout.py
Due: ruff-check, ruff-format, basedpyright

improve: Fix navigation menu item hover contrast
  frontend/src/components/ui/navigation-menu.tsx
Due: biome-format, eslint

fix: Fix navigation menu dropdown positioning and improve UX
  frontend/src/components/ui/navigation-menu.tsx
  frontend/src/shared/Layout.tsx
Due: biome-format, eslint

Update configuration and dependency files
  .claude/agents/external-research-specialist.md
  .claude/banned_commands.json
  analyze_tool_calls.py
  pyproject.toml
  uv.lock
Due: ruff-check, ruff-format, basedpyright, mdformat

fix: Fix navigation menu test failures
  tests/functional/web/test_page_layout.py
Due: ruff-check, ruff-format, basedpyright

fix: Fix navigation menu dropdown positioning and improve UX (#66)
  frontend/src/components/ui/navigation-menu.tsx
  frontend/src/shared/Layout.tsx
  tests/functional/web/test_page_layout.py
Due: ruff-check, ruff-format, basedpyright, biome-format, eslint

docs: Update user guide with recent UI improvements and features
  docs/user/USER_GUIDE.md
Due: mdformat

fix: Fix flaky navigation dropdown tests with proper wait conditions
  tests/functional/web/test_page_layout.py
Due: ruff-check, ruff-format, basedpyright

Path conditions:
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  basedpyright: any of: \.py$
  mdformat: any of: \.(md|markdown|mdown)$, but not: (?x)^( 
  docs/python-telegram-bot-abridged\.md|
  docs/python-telegram-bot-abridged-filtered\.md
)$

  biome-format: any of: ^frontend/.*\.(js|jsx|ts|tsx|json)$
  eslint: any of: ^frontend/.*\.(js|jsx|ts|tsx)$
