Repository werdnum/family-assistant: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt, biome-format, eslint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-check
        name: ruff-check
        entry: ruff check --fix --preview
        language: system
        types: [python]
      - id: ruff-format
        name: ruff-format
        entry: ruff format --preview
        language: system
        types: [python]
  - repo: local
    hooks:
      - id: basedpyright
        name: basedpyright
        entry: basedpyright
        language: system
        types: [python]
        pass_filenames: false
      - id: code-conformance
        name: code-conformance
        entry: .ast-grep/check-conformance.py
        language: system
        types: [python]
        pass_filenames: true
  - repo: local
    hooks:
      - id: mdformat
        name: mdformat
        entry: mdformat --wrap 100
        language: system
        types: [markdown]
        exclude: "(?x)^( \n  docs/python-telegram-bot-abridged\\.md|\n  docs/python-telegram-bot-abridged-filtered\\.md\n)$\n"
  - repo: local
    hooks:
      - id: yamlfmt
        name: yamlfmt
        language: golang
        entry: yamlfmt
        additional_dependencies:
          - github.com/google/yamlfmt/cmd/yamlfmt@v0.17.0
        types: [yaml]
  - repo: local
    hooks:
      - id: biome-format
        name: biome-format
        entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx @biomejs/biome format --write "${files[@]}"' --
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx|json)$
        exclude: ^frontend/(dev-dist/|package-lock\.json$)
        pass_filenames: true
      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx eslint --fix "${files[@]}"' --
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx)$
        pass_filenames: true

Restore clear-before-type per the official docs' native type handler
  src/family_assistant/tools/computer_use.py
  tests/unit/tools/test_computer_use.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Drop inherited retry_config when a profile declares its own model
  defaults.yaml
  src/family_assistant/config_loader.py
  tests/unit/test_config_loader.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, yamlfmt

Type at focus without clearing, per the reference type_text semantics
  src/family_assistant/tools/computer_use.py
  tests/unit/tools/test_computer_use.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Adapt safety tests to ToolExecutor's renamed OAuth params after rebase
  tests/unit/processing/test_tool_execution_safety_confirmation.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Address computer-use safety review feedback
  src/family_assistant/processing/tool_execution.py
  src/family_assistant/services/deferred_tool_confirmation.py
  src/family_assistant/tools/types.py
  tests/functional/tasks/test_callback_durable_confirmation.py
  tests/unit/processing/test_tool_execution_safety_confirmation.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Address video backend review feedback
  defaults.yaml
  src/family_assistant/tools/video_backends.py
  src/family_assistant/tools/video_generation.py
  tests/unit/tools/test_video_backends.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, yamlfmt

Add scoped Gmail drafts and Drive writes
  AGENTS.md
  defaults.yaml
  docs/design/user-scoped-google-data-access.md
  docs/user/USER_GUIDE.md
  frontend/src/pages/Settings/ConnectedAccounts.jsx
  frontend/src/pages/Settings/__tests__/ConnectedAccounts.test.jsx
  frontend/src/test/mocks/handlers.ts
  src/family_assistant/config_models.py
  src/family_assistant/services/api_backend.py
  src/family_assistant/services/google_provider.py
  src/family_assistant/tools/__init__.py
  src/family_assistant/tools/google_data.py
  tests/functional/tools/test_google_data_tools.py
  tests/functional/tools/test_google_tool_advertisement.py
  tests/functional/web/api/test_google_e2e.py
  tests/unit/services/test_api_backend.py
  tests/unit/services/test_oauth_integration_state.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt, biome-format, eslint

Reject unsafe draft attachment filenames
  src/family_assistant/tools/google_data.py
  tests/functional/tools/test_google_data_tools.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Offload Gmail draft encoding
  src/family_assistant/tools/google_data.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Handle Gmail address parse errors
  src/family_assistant/tools/google_data.py
  tests/functional/tools/test_google_data_tools.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Accept normalized Google tool attachments
  src/family_assistant/tools/google_data.py
  tests/functional/tools/test_google_data_tools.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Render Google write confirmations
  src/family_assistant/tools/confirmation.py
  tests/unit/tools/test_google_write_confirmation_renderers.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Serialize per-user Drive writes
  src/family_assistant/services/oauth_credentials.py
  src/family_assistant/tools/google_data.py
  tests/functional/tools/test_google_data_tools.py
  tests/unit/services/test_oauth_credentials.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Keep Google write approvals fully reviewable
  src/family_assistant/tools/confirmation.py
  tests/unit/tools/test_delegate_confirmation_renderer.py
  tests/unit/tools/test_google_write_confirmation_renderers.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Teach the engineer profile its limits and gate worker access
  defaults.yaml
  docs/design/engineer_profile.md
  docs/user/USER_GUIDE.md
Due: mdformat, yamlfmt

Add resolve_tool_policy diagnostic for per-profile policy introspection
  src/family_assistant/tools/__init__.py
  src/family_assistant/tools/engineering.py
  src/family_assistant/tools/infrastructure.py
  src/family_assistant/tools/on_demand.py
  tests/functional/tools/test_defaults_tool_policy_parity.py
  tests/unit/tools/test_engineering.py
  tests/unit/tools/test_engineering_diagnostics.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Classify bare read-only tools as read sinks
  src/family_assistant/security/taint.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Reclassify mqtt_publish as a home-local taint sink
  src/family_assistant/tools/__init__.py
  tests/unit/security/test_runtime_taint.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Render reviewable confirmations for worker spawn and cancel
  docs/design/engineer_profile.md
  src/family_assistant/tools/confirmation.py
  tests/unit/tools/test_worker_confirmation_renderer.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Guard message-history writes missing taint metadata
  src/family_assistant/storage/repositories/message_history.py
  tests/functional/storage/test_message_history.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Thread runtime taint state through out-of-band history writers
  src/family_assistant/assistant.py
  src/family_assistant/email_intake/outbound.py
  src/family_assistant/interfaces.py
  src/family_assistant/task_worker.py
  src/family_assistant/telegram/interface.py
  src/family_assistant/tools/communication.py
  src/family_assistant/web/routers/asterisk_live_api.py
  src/family_assistant/web/routers/chat_api.py
  src/family_assistant/web/routers/tools_api.py
  src/family_assistant/web/turn_producer.py
  src/family_assistant/web/web_chat_interface.py
  tests/functional/automations/test_async_delegation.py
  tests/functional/automations/test_subconversation_isolation.py
  tests/functional/tasks/test_confirmation_tool_execution.py
  tests/functional/telegram/test_telegram_send_message_tool.py
  tests/functional/web/api/test_chat_turn_control.py
  tests/functional/web/api/test_voice_sessions.py
  tests/functional/web/api/test_web_chat_interface_activity.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Fix worker lifecycle and diagnostics noise
  src/family_assistant/llm/providers/google_genai_client.py
  src/family_assistant/services/backends/kubernetes.py
  src/family_assistant/tools/infrastructure.py
  src/family_assistant/tools/worker.py
  src/family_assistant/web/routers/webhooks.py
  tests/unit/llm/test_google_genai_message_conversion.py
  tests/unit/security/test_runtime_taint.py
  tests/unit/services/backends/test_kubernetes_backend.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Add read-time taint history epoch amnesty
  defaults.yaml
  src/family_assistant/assistant.py
  src/family_assistant/security/taint.py
  src/family_assistant/storage/context.py
  src/family_assistant/storage/repositories/message_history.py
  src/family_assistant/web/routers/diagnostics_api.py
  tests/functional/web/api/test_taint_diagnostics_api.py
  tests/unit/security/test_runtime_taint.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, yamlfmt

Document taint history epoch amnesty
  AGENTS.md
  docs/design/runtime-taint-machinery.md
  docs/design/taint-history-epoch-amnesty.md
Due: mdformat

Expect taint metadata in attachment send assertions
  tests/functional/attachments/test_attachment_tools.py
  tests/functional/attachments/test_attachment_workflows.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Document MCP URL environment expansion
  config.yaml.example
  defaults.yaml
  docs/user/USER_GUIDE.md
  src/family_assistant/config_loader.py
  tests/unit/test_config_loader.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt

Keep open-world read-only MCP tools egress-classified
  src/family_assistant/security/taint.py
  src/family_assistant/tools/metadata.py
  tests/unit/security/test_runtime_taint.py
  tests/unit/tools/test_tool_metadata.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Scope cancel prompt lookup and cap total worker prompt length
  src/family_assistant/tools/confirmation.py
  tests/unit/tools/test_worker_confirmation_renderer.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Strip legacy taint echoes regardless of row timestamp
  AGENTS.md
  defaults.yaml
  docs/design/taint-history-epoch-amnesty.md
  src/family_assistant/security/taint.py
  src/family_assistant/storage/repositories/message_history.py
  tests/unit/security/test_runtime_taint.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt

Refuse malformed context_paths before worker confirmation
  src/family_assistant/tools/confirmation.py
  tests/unit/tools/test_worker_confirmation_renderer.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Taint delegation results and callback deliveries by provenance
  src/family_assistant/storage/repositories/message_history.py
  src/family_assistant/task_worker.py
  tests/functional/automations/test_async_delegation.py
  tests/functional/web/api/test_web_callback_taint.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Drop context_paths as remediation in worker prompt errors
  src/family_assistant/tools/confirmation.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Scope engineer worker guidance to what the sandbox supports
  defaults.yaml
  docs/design/engineer_profile.md
Due: mdformat, yamlfmt

State the task-directory-only sandbox scope in spawn approvals
  src/family_assistant/tools/confirmation.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Reflect that workers can clone the repo for code tasks
  defaults.yaml
  docs/design/engineer_profile.md
  src/family_assistant/tools/confirmation.py
  tests/unit/tools/test_worker_confirmation_renderer.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt

Propagate confirmed result taint to live waiters
  src/family_assistant/processing/tool_execution.py
  src/family_assistant/services/confirmation_waiters.py
  src/family_assistant/task_worker.py
  src/family_assistant/tools/types.py
  tests/functional/tasks/test_confirmation_tool_execution.py
  tests/functional/telegram/test_telegram_confirmation.py
  tests/unit/processing/test_tool_execution_safety_confirmation.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Fix worker lifecycle review findings
  src/family_assistant/services/backends/kubernetes.py
  src/family_assistant/storage/repositories/worker_tasks.py
  src/family_assistant/tools/worker.py
  src/family_assistant/web/routers/webhooks.py
  tests/functional/tools/test_worker_task_lifecycle.py
  tests/unit/services/backends/test_kubernetes_backend.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Secure worker start lifecycle callbacks
  src/family_assistant/services/backends/kubernetes.py
  src/family_assistant/tools/worker.py
  src/family_assistant/web/routers/webhooks.py
  tests/functional/web/api/test_webhook_events.py
  tests/unit/services/backends/test_kubernetes_backend.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Preserve taint across interrupted result paths
  src/family_assistant/processing/tool_execution.py
  src/family_assistant/services/confirmation_waiters.py
  src/family_assistant/storage/repositories/message_history.py
  src/family_assistant/task_worker.py
  src/family_assistant/web/routers/chat_api.py
  src/family_assistant/web/turn_producer.py
  tests/functional/storage/test_message_history.py
  tests/functional/tasks/test_confirmation_tool_execution.py
  tests/functional/web/api/test_chat_turn_control.py
  tests/unit/processing/test_tool_execution_safety_confirmation.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

fix runtime taint propagation gaps
  frontend/src/voice/types.ts
  frontend/src/voice/useGeminiLive.ts
  src/family_assistant/tools/infrastructure.py
  src/family_assistant/web/routers/chat_api.py
  src/family_assistant/web/routers/tools_api.py
  src/family_assistant/web/turn_producer.py
  tests/functional/web/api/test_chat_turn_control.py
  tests/functional/web/api/test_tools_api_taint.py
  tests/functional/web/api/test_voice_sessions.py
  tests/unit/security/test_runtime_taint.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, biome-format, eslint
