Repository werdnum/family-assistant: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt, biome-format, eslint

ruff-check:
  name: ruff-check
  entry: ruff check --fix --preview
  language: system

ruff-format:
  name: ruff-format
  entry: ruff format --preview
  language: system

basedpyright:
  name: basedpyright
  entry: basedpyright
  language: system
  pass_filenames: false

code-conformance:
  name: code-conformance
  entry: .ast-grep/check-conformance.py
  language: system
  pass_filenames: true

mdformat:
  name: mdformat
  entry: mdformat --wrap 100
  language: system

yamlfmt:
  name: yamlfmt
  language: golang
  entry: yamlfmt
  additional_dependencies:
  - github.com/google/yamlfmt/cmd/yamlfmt@v0.17.0

biome-format:
  name: biome-format
  entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx @biomejs/biome format --write "${files[@]}"' --
  language: system
  pass_filenames: true

eslint:
  name: eslint
  entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx eslint --fix "${files[@]}"' --
  language: system
  pass_filenames: true

Keep the prompt tiers disjoint and count runs delivery cannot lose
  docs/operations/MONITORING.md
  src/family_assistant/llm/messages.py
  src/family_assistant/llm/providers/google_genai_client.py
  src/family_assistant/observability/metrics.py
  src/family_assistant/task_worker.py
  src/family_assistant/tools/image_backends.py
  tests/unit/test_metrics.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Do not lose a committed run, or count one that never left
  src/family_assistant/llm/providers/google_genai_client.py
  src/family_assistant/processing/interactions_agent_service.py
  src/family_assistant/task_worker.py
  tests/unit/test_metrics.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Locate DSN passwords with SQLAlchemy's grammar, not the RFC parser
  src/family_assistant/config_inspection.py
  tests/unit/test_config_inspection.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Keep the tokens a failed video run already spent
  src/family_assistant/observability/metrics.py
  src/family_assistant/tools/video_backends.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

docs(design): only the final document's refs are handed back from a batch
  docs/design/browser-ref-identity.md
Due: mdformat

Match the raw DSN password span instead of the decoded one
  src/family_assistant/config_inspection.py
  tests/unit/test_config_inspection.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Record streamed usage as it arrives on the remaining providers
  src/family_assistant/llm/providers/google_genai_client.py
  src/family_assistant/llm/providers/openai_client.py
  src/family_assistant/tools/video_backends.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Apply the DSN grammar only to database schemes
  src/family_assistant/config_inspection.py
  tests/unit/test_config_inspection.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Keep Anthropic's streamed usage on an abandoned turn
  src/family_assistant/llm/providers/anthropic_client.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Record two accepted residuals in the design doc
  docs/design/prometheus-metrics.md
Due: mdformat

Describe the request that was actually sent on a retry
  src/family_assistant/llm/providers/google_genai_client.py
  src/family_assistant/llm/providers/openai_client.py
  src/family_assistant/observability/metrics.py
  src/family_assistant/tools/video_backends.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

docs(design): one ref, one node; numbers unique per conversation
  docs/design/browser-ref-identity.md
Due: mdformat

Count the structured-output schema as payload, not as a tool
  src/family_assistant/llm/providers/anthropic_client.py
  src/family_assistant/llm/providers/google_genai_client.py
  src/family_assistant/llm/providers/openai_client.py
  src/family_assistant/llm/utils/call_telemetry.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

docs(design): every snapshot-returning tool accepts the query filter
  docs/design/browser-ref-identity.md
Due: mdformat

Count runs that die on a poll error; keep the streamed model
  src/family_assistant/llm/providers/anthropic_client.py
  src/family_assistant/llm/providers/google_genai_client.py
  src/family_assistant/task_worker.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

docs(design): walker never allocates below the document's highest stamp; wait takes the filter
  docs/design/browser-ref-identity.md
Due: mdformat

Read the served model as the optional field it is
  src/family_assistant/tools/video_backends.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

test(ios): frame mock SSE chunks so events don't ride the EOF flush
  ios/FamilyAssistant/FamilyAssistantTests/ChatAPIClientTests.swift
  ios/FamilyAssistant/FamilyAssistantTests/ChatViewModelTests.swift
Due: none

docs: design for decoupling model tiers from processing profiles
  docs/design/model-tiers.md
Due: mdformat

docs: revise model-tier design with Auto routing and product semantics
  docs/design/model-tiers.md
Due: mdformat

docs: prompt nudges steer Auto routing within the auto range
  docs/design/model-tiers.md
Due: mdformat

docs: record prompt-nudge routing as a non-vector by construction
  docs/design/model-tiers.md
Due: mdformat

chore(deps): pin browser-handoff-service to feat/ref-identity head a08bbd44
  pyproject.toml
  uv.lock
Due: none

test(browser): cover the ref-identity contract end to end
  tests/functional/tools/test_browser_dom.py
  tests/integration/tools/test_browser_backend_integration.py
  tests/unit/processing/test_tool_execution_batch_completion.py
  tests/unit/tools/test_browser_backend.py
  tests/unit/tools/test_browser_dom.py
  tests/unit/tools/test_browser_ordering.py
  tests/unit/tools/test_computer_use.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

chore(deps): pin browser-handoff-service to feat/ref-identity head (temporary)
  pyproject.toml
  uv.lock
Due: none

docs(browser): state the ref contract in the prompt, tool descriptions and guide
  defaults.yaml
  docs/design/browser-ref-identity.md
  docs/user/browser_automation.md
Due: mdformat, yamlfmt

feat(browser): refs name one node per conversation, not one snapshot
  src/family_assistant/processing/llm_loop.py
  src/family_assistant/processing/tool_execution.py
  src/family_assistant/tools/browser_backend.py
  src/family_assistant/tools/browser_dom.py
  src/family_assistant/tools/browser_session.py
  src/family_assistant/tools/computer_use.py
  src/family_assistant/tools/types.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

fix(browser): register visual tools under their exposed names for ordering
  src/family_assistant/tools/browser_dom.py
  src/family_assistant/tools/browser_session.py
  src/family_assistant/tools/computer_use.py
  tests/unit/tools/test_browser_ordering.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

test(computer-use): give the mocked execution context no tool-call batch
  tests/integration/llm/test_google_computer_use_integration.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

fix(browser): name button inputs by their value; pin browser-handoff-service d18340cd
  pyproject.toml
  src/family_assistant/tools/browser_backend.py
  uv.lock
Due: ruff-check, ruff-format, basedpyright, code-conformance

fix(browser): a stamp carried by more than one node is no ref; pin browser-handoff-service 916475cb
  pyproject.toml
  src/family_assistant/tools/browser_backend.py
  uv.lock
Due: ruff-check, ruff-format, basedpyright, code-conformance

chore(deps): pin browser-handoff-service to main after browser-server#36 merged
  pyproject.toml
  uv.lock
Due: none

refactor(model-tiers): one chain scanner, one model resolver, one list loop
  src/family_assistant/assistant.py
  src/family_assistant/config_loader.py
  src/family_assistant/llm/model_tiers.py
  tests/unit/llm/test_model_tiers.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

test(llm): one shipped-defaults loader for the shipped-config suites
  tests/unit/__init__.py
  tests/unit/llm/__init__.py
  tests/unit/llm/conftest.py
  tests/unit/llm/test_shipped_coder_profile.py
  tests/unit/llm/test_shipped_media_handoff.py
  tests/unit/llm/test_shipped_model_tiers.py
  tests/unit/llm/test_shipped_reasoning_config.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

docs: record routing failure as a distinct outcome
  docs/design/model-tiers.md
Due: mdformat

test: pin tier resolution and the shipped tiers' effective clients
  AGENTS.md
  config.yaml.example
  docs/operations/CONFIGURATION_REFERENCE.md
  tests/unit/llm/test_model_tiers.py
  tests/unit/llm/test_shipped_model_tiers.py
  tests/unit/test_config_loader.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

feat(config): model tiers as a named model recipe
  defaults.yaml
  src/family_assistant/assistant.py
  src/family_assistant/config_loader.py
  src/family_assistant/config_models.py
  src/family_assistant/llm/model_tiers.py
  tests/unit/test_config_loader.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, yamlfmt

fix(config): resolve model-selection provenance for defaults and remote profiles
  docs/operations/CONFIGURATION_REFERENCE.md
  src/family_assistant/config_loader.py
  tests/unit/test_config_loader.py
  tests/unit/test_remote_a2a_setup.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

fix(config): drop shipped tier eligibility with the tier it qualifies
  src/family_assistant/config_loader.py
  tests/unit/test_config_loader.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

test(delegation): the durable-replay target answers the tier gate too
  tests/functional/tasks/test_confirmation_tool_execution.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Path conditions:
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  basedpyright: any of: \.py$
  code-conformance: any of: \.py$
  mdformat: any of: \.(md|markdown|mdown)$, but not: (?x)^( 
  docs/python-telegram-bot-abridged\.md|
  docs/python-telegram-bot-abridged-filtered\.md
)$

  yamlfmt: any of: \.(yaml|yml)$
  biome-format: any of: ^frontend/.*\.(js|jsx|ts|tsx|json)$, but not: ^frontend/(dev-dist/|package-lock\.json$)
  eslint: any of: ^frontend/.*\.(js|jsx|ts|tsx)$
