Repository werdnum/family-assistant: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt, biome-format, eslint

ruff-check:
  name: ruff-check
  entry: ruff check --fix --preview
  language: system

ruff-format:
  name: ruff-format
  entry: ruff format --preview
  language: system

basedpyright:
  name: basedpyright
  entry: basedpyright
  language: system
  pass_filenames: false

code-conformance:
  name: code-conformance
  entry: .ast-grep/check-conformance.py
  language: system
  pass_filenames: true

mdformat:
  name: mdformat
  entry: mdformat --wrap 100
  language: system

yamlfmt:
  name: yamlfmt
  language: golang
  entry: yamlfmt
  additional_dependencies:
  - github.com/google/yamlfmt/cmd/yamlfmt@v0.17.0

biome-format:
  name: biome-format
  entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx @biomejs/biome format --write "${files[@]}"' --
  language: system
  pass_filenames: true

eslint:
  name: eslint
  entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx eslint --fix "${files[@]}"' --
  language: system
  pass_filenames: true

feat(asterisk): add two-layer authentication for WebSocket endpoint
  src/family_assistant/web/routers/asterisk_live_api.py
  tests/functional/web/routers/__init__.py
  tests/functional/web/routers/test_asterisk_live_api.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

fix(ci): relax github app token scope to fix access issues
  .github/workflows/build-containers.yml
Due: yamlfmt

fix(web): use WebSocket instead of Request in get_live_audio_client dependency
  src/family_assistant/web/dependencies.py
  tests/functional/web/routers/test_asterisk_live_api.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

use monkeypatch to patch env vars
  frontend/package-lock.json
  tests/functional/web/routers/test_asterisk_live_api.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

f string -> regular string
  src/family_assistant/llm/retrying_client.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

fix(asterisk): decode base64 audio from Gemini Live API
  src/family_assistant/web/audio_utils.py
  src/family_assistant/web/routers/asterisk_live_api.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

fix(asterisk): use correct audio input format for Gemini Live API
  frontend/vite.config.js
  src/family_assistant/web/routers/asterisk_live_api.py
  src/family_assistant/web/voice_client.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, biome-format, eslint

fix(tests): update mock to use send_realtime_input for Gemini Live API
  tests/functional/web/routers/test_asterisk_live_api.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

feat(asterisk): delay answering until Gemini ready
  src/family_assistant/web/routers/asterisk_live_api.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

feat(voice): make Gemini Live API parameters configurable
  config.yaml
  frontend/src/voice/types.ts
  frontend/src/voice/useGeminiLive.ts
  src/family_assistant/__main__.py
  src/family_assistant/web/dependencies.py
  src/family_assistant/web/models.py
  src/family_assistant/web/routers/asterisk_live_api.py
  src/family_assistant/web/routers/gemini_live_api.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, yamlfmt, biome-format, eslint

fix(voice): use correct enum values for VAD sensitivity
  config.yaml
Due: yamlfmt

feat(voice): add telephone-specific VAD config and transcript logging
  config.yaml
  src/family_assistant/web/models.py
  src/family_assistant/web/routers/asterisk_live_api.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, yamlfmt

fix: simplify sepia filter to fix PIL type compatibility
  src/family_assistant/tools/image_backends.py
  src/family_assistant/tools/video_generation.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

fix: pin pycares to 4.x for aiodns compatibility
  pyproject.toml
  uv.lock
Due: none

fix(tests): update video generation tests for async context manager API
  tests/unit/tools/test_video_generation_tools.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

fix: pin bcrypt <5.0.0 and pycares <5.0.0, re-record gemini cassette
  pyproject.toml
  tests/cassettes/gemini/integration.llm.test_streaming/test_streaming_with_tool_calls_gemini[google-gemini-2.5-flash]/mldev.json
  uv.lock
Due: none

Path conditions:
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  basedpyright: any of: \.py$
  code-conformance: any of: \.py$
  mdformat: any of: \.(md|markdown|mdown)$, but not: (?x)^( 
  docs/python-telegram-bot-abridged\.md|
  docs/python-telegram-bot-abridged-filtered\.md
)$

  yamlfmt: any of: \.(yaml|yml)$
  biome-format: any of: ^frontend/.*\.(js|jsx|ts|tsx|json)$, but not: ^frontend/(dev-dist/|package-lock\.json$)
  eslint: any of: ^frontend/.*\.(js|jsx|ts|tsx)$
