Repository werdnum/family-assistant: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, basedpyright, mdformat, biome-format, eslint

ruff-check:
  name: ruff-check
  entry: ruff check --fix --preview
  language: system

ruff-format:
  name: ruff-format
  entry: ruff format --preview
  language: system

basedpyright:
  name: basedpyright
  entry: basedpyright
  language: system
  pass_filenames: false

mdformat:
  name: mdformat
  entry: mdformat --wrap 100
  language: system

biome-format:
  name: biome-format
  entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx @biomejs/biome format --write "${files[@]}"' --
  language: system
  pass_filenames: true

eslint:
  name: eslint
  entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx eslint --fix "${files[@]}"' --
  language: system
  pass_filenames: true

improve: enhance review hook error reporting
  .claude/review-hook.py
Due: ruff-check, ruff-format, basedpyright

fix: resolve Telegram confirmation escaping bug and remove unnecessary tool confirmation
  config.yaml
  src/family_assistant/telegram_bot.py
  tests/functional/telegram/conftest.py
  tests/functional/telegram/test_telegram_confirmation.py
Due: ruff-check, ruff-format, basedpyright

fix: correct Home Assistant electricity price thresholds and formatting
  config.yaml
Due: none

fix: ensure Home Assistant template is yamlfmt compliant
  .yamlfmt
  config.yaml
Due: none

refactor: convert Home Assistant template to block scalar format
  config.yaml
Due: none

feat: add friendly timestamp formatting to electricity prices
  config.yaml
Due: none

feat: add friendly timestamp formatting to Home Assistant electricity price template
  config.yaml
Due: none

feat: enhance review logic with Python + llm library tools
  .claude/review-hook.py
  REVIEW_GUIDELINES.md
  scripts/review-changes.py
  scripts/review-changes.sh
Due: ruff-check, ruff-format, basedpyright, mdformat

Fix up one type hint.
  src/family_assistant/events/processor.py
Due: ruff-check, ruff-format, basedpyright

feat: implement review submission via tool call to enable full tool usage
  REVIEW_GUIDELINES.md
  scripts/review-changes.py
Due: ruff-check, ruff-format, basedpyright, mdformat

fix: address code review feedback and improve robustness
  scripts/review-changes.py
Due: ruff-check, ruff-format, basedpyright

feat: add PostToolUse lint hook for real-time code quality feedback
  .claude/lint-hook.py
  .claude/settings.json
Due: ruff-check, ruff-format, basedpyright

fix: address code review feedback for lint hook
  .claude/lint-hook.py
Due: ruff-check, ruff-format, basedpyright

fix: remove NotebookEdit from lint hook since notebooks aren't supported
  .claude/lint-hook.py
Due: ruff-check, ruff-format, basedpyright

Path conditions:
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  basedpyright: any of: \.py$
  mdformat: any of: \.(md|markdown|mdown)$, but not: (?x)^( 
  docs/python-telegram-bot-abridged\.md|
  docs/python-telegram-bot-abridged-filtered\.md
)$

  biome-format: any of: ^frontend/.*\.(js|jsx|ts|tsx|json)$
  eslint: any of: ^frontend/.*\.(js|jsx|ts|tsx)$
