Repository werdnum/family-assistant: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt, biome-format, eslint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-check
        name: ruff-check
        entry: ruff check --fix --preview
        language: system
        types: [python]
      - id: ruff-format
        name: ruff-format
        entry: ruff format --preview
        language: system
        types: [python]
  - repo: local
    hooks:
      - id: basedpyright
        name: basedpyright
        entry: basedpyright
        language: system
        types: [python]
        pass_filenames: false
      - id: code-conformance
        name: code-conformance
        entry: .ast-grep/check-conformance.py
        language: system
        types: [python]
        pass_filenames: true
  - repo: local
    hooks:
      - id: mdformat
        name: mdformat
        entry: mdformat --wrap 100
        language: system
        types: [markdown]
        exclude: "(?x)^( \n  docs/python-telegram-bot-abridged\\.md|\n  docs/python-telegram-bot-abridged-filtered\\.md\n)$\n"
  - repo: local
    hooks:
      - id: yamlfmt
        name: yamlfmt
        language: golang
        entry: yamlfmt
        additional_dependencies:
          - github.com/google/yamlfmt/cmd/yamlfmt@v0.17.0
        types: [yaml]
  - repo: local
    hooks:
      - id: biome-format
        name: biome-format
        entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx @biomejs/biome format --write "${files[@]}"' --
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx|json)$
        exclude: ^frontend/(dev-dist/|package-lock\.json$)
        pass_filenames: true
      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx eslint --fix "${files[@]}"' --
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx)$
        pass_filenames: true

fix(mcp): rotate the access token in place so the grant keeps one identity
  docs/design/mcp-adapter.md
  src/family_assistant/web/mcp_adapter/oauth/provider.py
  tests/functional/web/api/test_mcp_oauth.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

fix(mcp): refuse to start with the adapter enabled and no authentication
  docs/design/mcp-adapter.md
  docs/operations/CONFIGURATION_REFERENCE.md
  src/family_assistant/assistant.py
  src/family_assistant/web/mcp_adapter/config.py
  tests/unit/web/test_mcp_adapter_config.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

docs(design): partial writes cannot promote; pending verdicts in observe mode
  docs/design/ambient-note-admission-at-write-time.md
Due: mdformat

Design: record the verified propagation result and the wire-form limit
  docs/design/antigravity-stored-egress-credentials.md
Due: mdformat

Design: settle the Bearer-on-git question by measurement
  docs/design/antigravity-stored-egress-credentials.md
Due: mdformat

fix(mcp): cap the consent form body through the shared body-limit chokepoint
  src/family_assistant/web/auth.py
  src/family_assistant/web/route_auth.py
  tests/unit/web/test_auth_mcp_tokens.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Add a client for the Interactions API credential store
  src/family_assistant/llm/antigravity_egress.py
  tests/unit/llm/test_antigravity_egress.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Route store-capable credentials through the credential store
  src/family_assistant/llm/antigravity_egress.py
  src/family_assistant/llm/providers/google_genai_client.py
  tests/unit/llm/test_antigravity_egress.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

fix(mcp): count only unexpired tokens as live when pruning registrations
  src/family_assistant/storage/oauth_clients.py
  tests/functional/web/api/test_mcp_oauth.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

fix(mcp): key consent CSRF nonces by request so parallel flows do not collide
  src/family_assistant/web/mcp_adapter/oauth/consent.py
  tests/functional/web/api/test_mcp_oauth.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

fix(mcp): make registration admission atomic
  src/family_assistant/web/mcp_adapter/oauth/provider.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

fix(mcp): register an mcp-typed chat interface for deferred deliveries
  docs/design/mcp-adapter.md
  src/family_assistant/web/app_creator.py
  src/family_assistant/web/mcp_adapter/tools.py
  src/family_assistant/web/web_chat_interface.py
  tests/functional/web/api/test_mcp_adapter.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

fix(mcp): rotate the grant before consuming its refresh token
  src/family_assistant/web/mcp_adapter/oauth/provider.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

fix(mcp): let revocation identify an expired access token
  src/family_assistant/storage/api_tokens.py
  src/family_assistant/web/mcp_adapter/oauth/provider.py
  tests/functional/web/api/test_mcp_oauth.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Rewrite as browser_autofill primitive per the bounded-damage synthesis
  docs/design/agentic-credential-autofill.md
Due: mdformat

Specify jarless session creation and per-step grant lifecycle
  docs/design/agentic-credential-autofill.md
Due: mdformat

Define the stale-jar autofill path and resumable pending approvals
  docs/design/agentic-credential-autofill.md
Due: mdformat

Fold the Keychute autofill design into authenticated-site-capabilities
  docs/design/agentic-credential-autofill.md
  docs/design/authenticated-site-capabilities.md
Due: mdformat

Scope masking to credential controls, block clipboard read-back, narrow fill origins
  docs/design/authenticated-site-capabilities.md
Due: mdformat

Move autofill release authorization into Keychute policy rows
  docs/design/authenticated-site-capabilities.md
Due: mdformat

Reconcile challenge handling and milestone sequencing with the autofill section
  docs/design/authenticated-site-capabilities.md
Due: mdformat

Pin the autofill alias per run; complete jarless confinement; fail closed on lost jarless sessions
  docs/design/authenticated-site-capabilities.md
Due: mdformat

Generalize clipboard blocking to any value transfer out of protected controls
  docs/design/authenticated-site-capabilities.md
Due: mdformat

Fix dangling word in autofill regression-test list
  docs/design/authenticated-site-capabilities.md
Due: mdformat

State read-back protection as a best-effort boundary with an explicit residual
  docs/design/authenticated-site-capabilities.md
Due: mdformat

Retain the session for every resumable parked outcome, not only human handoff
  docs/design/authenticated-site-capabilities.md
Due: mdformat

Keep explicit jar revocation as a kill switch for autofill sites
  docs/design/authenticated-site-capabilities.md
Due: mdformat

State needs_human recovery by acquisition path
  docs/design/authenticated-site-capabilities.md
Due: mdformat

Voice: acknowledge once, then work quietly
  docs/user/interfaces.md
  frontend/src/voice/types.ts
  frontend/src/voice/useGeminiLive.ts
  src/family_assistant/web/routers/gemini_live_api.py
  tests/functional/web/ui/test_voice_integration.py
  tests/unit/web/test_gemini_live_api.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, biome-format, eslint

Voice: give native clients the silence reminder too
  ios/FamilyAssistant/FamilyAssistant/Voice/GeminiLiveModels.swift
  ios/FamilyAssistant/FamilyAssistant/Voice/VoiceSessionViewModel.swift
  ios/FamilyAssistant/FamilyAssistantTests/EphemeralTokenTests.swift
  ios/FamilyAssistant/FamilyAssistantTests/VoiceSessionViewModelTests.swift
Due: none

Voice: never let the reminder gate the answer
  src/family_assistant/web/routers/gemini_live_api.py
  tests/unit/web/test_gemini_live_api.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

docs(design): one admission mechanism for notes and automations
  docs/design/ambient-note-admission-at-write-time.md
Due: mdformat

Cover the autofill tools and jar routing
  src/family_assistant/tools/authenticated_sites.py
  tests/unit/tools/test_authenticated_site_tools.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Run authenticated site tasks through the delegation system
  defaults.yaml
  src/family_assistant/storage/delegation_runs.py
  src/family_assistant/task_worker.py
  src/family_assistant/tools/__init__.py
  src/family_assistant/tools/authenticated_sites.py
  src/family_assistant/tools/services.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, yamlfmt

Document authenticated sites for users and operators
  docs/design/authenticated-site-capabilities.md
  docs/design/browser-ref-identity.md
  docs/operations/CONFIGURATION_REFERENCE.md
  docs/user/USER_GUIDE.md
  docs/user/authenticated-sites.md
Due: mdformat

Sync the walker with browser-server and mask protected controls
  docs/design/browser-ref-identity.md
  pyproject.toml
  src/family_assistant/tools/browser_autofill.py
  src/family_assistant/tools/browser_backend.py
  src/family_assistant/tools/browser_dom.py
  tests/unit/tools/test_authenticated_site_tools.py
  uv.lock
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Configure authenticated sites and create their confined sessions
  alembic/versions/2026_09_21-add_authenticated_site_result.py
  defaults.yaml
  src/family_assistant/config_models.py
  src/family_assistant/storage/delegation_runs.py
  src/family_assistant/storage/repositories/delegation_runs.py
  src/family_assistant/tools/__init__.py
  src/family_assistant/tools/authenticated_site_surface.py
  src/family_assistant/tools/browser_autofill.py
  src/family_assistant/tools/browser_backend.py
  src/family_assistant/tools/policy.py
  tests/unit/test_authenticated_site_config.py
  tests/unit/tools/test_authenticated_browser_session.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, yamlfmt

Settle an authenticated session before its run row goes terminal
  docs/design/authenticated-site-capabilities.md
  src/family_assistant/task_worker.py
  src/family_assistant/tools/authenticated_sites.py
  tests/functional/tools/test_authenticated_site_flow.py
  tests/unit/tools/test_authenticated_run_settlement.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Release an authenticated session on every failing path
  docs/user/browser_automation.md
  src/family_assistant/task_worker.py
  src/family_assistant/tools/authenticated_sites.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Exercise an authenticated site run end to end, caller turn to settled session
  tests/functional/tools/test_authenticated_site_flow.py
Due: ruff-check, ruff-format, basedpyright, code-conformance
