Repository werdnum/family-assistant: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, basedpyright, mdformat, biome-format, eslint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-check
        name: ruff-check
        entry: ruff check --fix --preview
        language: system
        types: [python]
      - id: ruff-format
        name: ruff-format
        entry: ruff format --preview
        language: system
        types: [python]
  - repo: local
    hooks:
      - id: basedpyright
        name: basedpyright
        entry: basedpyright
        language: system
        types: [python]
        pass_filenames: false
  - repo: local
    hooks:
      - id: mdformat
        name: mdformat
        entry: mdformat --wrap 100
        language: system
        types: [markdown]
        exclude: "(?x)^( \n  docs/python-telegram-bot-abridged\\.md|\n  docs/python-telegram-bot-abridged-filtered\\.md\n)$\n"
  - repo: https://github.com/google/yamlfmt
    rev: v0.17.0
    hooks:
      - id: yamlfmt
  - repo: local
    hooks:
      - id: biome-format
        name: biome-format
        entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx @biomejs/biome format --write "${files[@]}"' --
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx|json)$
        pass_filenames: true
      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx eslint --fix "${files[@]}"' --
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx)$
        pass_filenames: true

Add attachment support to delegate_to_service tool and test wake_llm with attachments
  src/family_assistant/tools/services.py
  tests/functional/test_delegation.py
  tests/functional/test_script_wake_llm.py
Due: ruff-check, ruff-format, basedpyright

Implement automatic tool attachment display with LLM override
  docs/design/multimodal-manipulation.md
  prompts.yaml
  src/family_assistant/processing.py
  src/family_assistant/tools/home_assistant.py
  src/family_assistant/tools/image_generation.py
  src/family_assistant/tools/image_tools.py
  src/family_assistant/tools/mock_image_tools.py
  tests/unit/test_processing_multimodal_integration.py
Due: ruff-check, ruff-format, basedpyright, mdformat

Add local testing plan and image highlighting tool for multimodal attachments
  docs/design/multimodal-manipulation.md
  src/family_assistant/tools/__init__.py
  src/family_assistant/tools/image_tools.py
Due: ruff-check, ruff-format, basedpyright, mdformat

Optimize Playwright test performance by removing route pre-loading
  tests/functional/web/conftest.py
Due: ruff-check, ruff-format, basedpyright

Fix ast-grep installation in devcontainer
  .devcontainer/Dockerfile
Due: none

Implement attachment sending for Telegram bot and fix ChatInteractionResult unpacking
  src/family_assistant/processing.py
  src/family_assistant/task_worker.py
  src/family_assistant/telegram_bot.py
  src/family_assistant/tools/services.py
  src/family_assistant/web/routers/chat_api.py
  tests/functional/test_calendar_integration.py
  tests/functional/test_delegation.py
  tests/functional/test_home_assistant_camera_tool.py
  tests/functional/test_home_assistant_template_tool.py
  tests/functional/test_mcp_integration.py
  tests/functional/test_note_tools.py
  tests/functional/test_processing_profiles.py
  tests/functional/test_recurring_task_timezone.py
  tests/functional/test_scheduled_script_execution.py
  tests/functional/test_smoke_callback.py
  tests/functional/test_smoke_notes.py
Due: ruff-check, ruff-format, basedpyright

fix dev container docker compose config for root as context
  .devcontainer/docker-compose.yml
Due: none

Enable Ruff ASYNC rules and resolve async lint issues
  pyproject.toml
  src/family_assistant/assistant.py
  src/family_assistant/indexing/ingestion.py
  src/family_assistant/storage/__init__.py
  src/family_assistant/tools/image_backends.py
  tests/functional/indexing/test_email_indexing.py
  tests/functional/web/test_chat_ui_attachment_response.py
  tests/unit/indexing/processors/test_network_processors.py
Due: ruff-check, ruff-format, basedpyright

Fix Telegram attachment sending
  src/family_assistant/telegram_bot.py
Due: ruff-check, ruff-format, basedpyright

Enable git worktrees support in dev container
  .devcontainer/docker-compose.yml
  .devcontainer/setup-workspace.sh
Due: none

Fix CI workflow to support worktree directory structure
  .github/workflows/ci-with-devcontainer.yml
Due: none

Improve error handling in attachment test waits
  tests/functional/web/pages/chat_page.py
  tests/functional/web/test_chat_ui_attachment_response.py
Due: ruff-check, ruff-format, basedpyright

tests(web): sync tool waits across attachment tests
  tests/functional/web/test_chat_ui_attachment_response.py
Due: ruff-check, ruff-format, basedpyright

Clean up attachment rendering debug code and improve timeouts
  debug_logs.txt
  frontend/src/chat/AttachToResponseTool.tsx
  frontend/src/chat/ChatApp.tsx
  frontend/src/chat/useStreamingResponse.js
  tests/functional/web/pages/chat_page.py
  tests/functional/web/test_chat_ui_attachment_response.py
Due: ruff-check, ruff-format, basedpyright, biome-format, eslint

Fix Playwright attachment test flakiness by improving wait semantics
  tests/functional/web/pages/chat_page.py
  tests/functional/web/test_chat_ui_attachment_response.py
Due: ruff-check, ruff-format, basedpyright

tests(web): stabilize attachment tool UI waits
  tests/functional/web/test_chat_ui_attachment_response.py
Due: ruff-check, ruff-format, basedpyright

Add comprehensive debug logging for attachment rendering race condition
  frontend/src/chat/AttachToResponseTool.tsx
  frontend/src/chat/ChatApp.tsx
  frontend/src/chat/useStreamingResponse.js
  tests/functional/web/pages/chat_page.py
Due: ruff-check, ruff-format, basedpyright, biome-format, eslint

Fix timeout issue in attachment persistence test after page reload
  tests/functional/web/test_chat_ui_attachment_response.py
Due: ruff-check, ruff-format, basedpyright

Fix React closure race condition in handleStreamingToolCall
  debug_logs.txt
  frontend/src/chat/ChatApp.tsx
Due: biome-format, eslint

Remove unnecessary database cleanup from Playwright fixtures
  tests/functional/web/conftest.py
Due: ruff-check, ruff-format, basedpyright

tests(web): extend waits for multi-attachment flow
  tests/functional/web/test_chat_ui_attachment_response.py
Due: ruff-check, ruff-format, basedpyright

Fix flaky attachment response tests with robust matchers and logging
  tests/functional/web/pages/chat_page.py
  tests/functional/web/test_chat_ui_attachment_response.py
  tests/mocks/mock_llm.py
Due: ruff-check, ruff-format, basedpyright

Fix React race condition in tool UI rendering for CI stability
  frontend/src/chat/ChatApp.tsx
  frontend/src/chat/useStreamingResponse.js
Due: biome-format, eslint

tests(web): stabilize attachment tool UI waits
  tests/functional/web/pages/chat_page.py
  tests/functional/web/test_chat_ui_attachment_response.py
Due: ruff-check, ruff-format, basedpyright

tests(web): wait for assistant response before tool UI check
  tests/functional/web/test_chat_ui_attachment_response.py
Due: ruff-check, ruff-format, basedpyright

Fix AttachToResponseTool initialization race condition
  frontend/src/chat/AttachToResponseTool.tsx
Due: biome-format, eslint

Fix flaky attachment response tests by adding shared LLM follow-up handler
  tests/functional/web/test_chat_ui_attachment_response.py
Due: ruff-check, ruff-format, basedpyright
