Repository werdnum/family-assistant: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, basedpyright, mdformat, biome-format, eslint

ruff-check:
  name: ruff-check
  entry: ruff check --fix --preview
  language: system

ruff-format:
  name: ruff-format
  entry: ruff format --preview
  language: system

basedpyright:
  name: basedpyright
  entry: basedpyright
  language: system
  pass_filenames: false

mdformat:
  name: mdformat
  entry: mdformat --wrap 100
  language: system

biome-format:
  name: biome-format
  entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx @biomejs/biome format --write "${files[@]}"' --
  language: system
  pass_filenames: true

eslint:
  name: eslint
  entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx eslint --fix "${files[@]}"' --
  language: system
  pass_filenames: true

From review: change hasattr() ? getattr() : "" to getattr(, "")
  src/family_assistant/llm/providers/google_genai_client.py
Due: ruff-check, ruff-format, basedpyright

fix: Make calendar confirmation renderer parameters optional
  src/family_assistant/tools/confirmation.py
Due: ruff-check, ruff-format, basedpyright

fix: Define ConfirmationRenderer protocol and fix calendar confirmation
  src/family_assistant/tools/confirmation.py
  src/family_assistant/tools/infrastructure.py
  tests/functional/test_calendar_confirmation.py
Due: ruff-check, ruff-format, basedpyright

fix: Correct getattr() usage in thought signature extraction
  src/family_assistant/llm/providers/google_genai_client.py
Due: ruff-check, ruff-format, basedpyright

refactor: Make confirmation renderers async and pass context
  src/family_assistant/processing.py
  src/family_assistant/telegram/handler.py
  src/family_assistant/tools/confirmation.py
  src/family_assistant/tools/infrastructure.py
  src/family_assistant/tools/types.py
  src/family_assistant/web/routers/chat_api.py
  tests/functional/test_calendar_confirmation.py
Due: ruff-check, ruff-format, basedpyright

fix(llm): Fix Gemini thought signature persistence bug
  src/family_assistant/llm/providers/google_genai_client.py
Due: ruff-check, ruff-format, basedpyright

refactor: Improve type safety and reduce code duplication in calendar confirmation
  src/family_assistant/calendar_integration.py
  src/family_assistant/tools/confirmation.py
  src/family_assistant/tools/infrastructure.py
  src/family_assistant/tools/types.py
  tests/functional/test_calendar_confirmation.py
Due: ruff-check, ruff-format, basedpyright

fix: Use standard db_engine fixture instead of postgres for event_not_found test
  tests/functional/test_calendar_confirmation.py
Due: ruff-check, ruff-format, basedpyright

feat(history): Add message details to conversation history UI
  frontend/src/pages/History/components/MessageDisplay.jsx
  frontend/src/pages/History/components/MessageDisplay.module.css
  src/family_assistant/web/routers/chat_api.py
Due: ruff-check, ruff-format, basedpyright, biome-format, eslint

fix(telegram): Fix parameter order in confirmation callback wrapper
  src/family_assistant/telegram/handler.py
Due: ruff-check, ruff-format, basedpyright

config: Allow unrestricted delegation to data_visualization profile
  config.yaml
Due: none

docs: catalog dict usage typing recommendations
  docs/design/dict-usage-typed-structures.md
Due: mdformat

fmt
  src/family_assistant/telegram/handler.py
Due: ruff-check, ruff-format, basedpyright

fix(gemini): Use correct field name for thought signature reconstruction
  src/family_assistant/llm/providers/google_genai_client.py
  tests/cassettes/llm/test_thought_signature_multiturn_with_api.yaml
  tests/integration/llm/test_thought_signatures.py
Due: ruff-check, ruff-format, basedpyright

Path conditions:
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  basedpyright: any of: \.py$
  mdformat: any of: \.(md|markdown|mdown)$, but not: (?x)^( 
  docs/python-telegram-bot-abridged\.md|
  docs/python-telegram-bot-abridged-filtered\.md
)$

  biome-format: any of: ^frontend/.*\.(js|jsx|ts|tsx|json)$
  eslint: any of: ^frontend/.*\.(js|jsx|ts|tsx)$
