Repository werdnum/family-assistant: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, basedpyright, mdformat, biome-format, eslint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-check
        name: ruff-check
        entry: ruff check --fix --preview
        language: system
        types: [python]
      - id: ruff-format
        name: ruff-format
        entry: ruff format --preview
        language: system
        types: [python]
  - repo: local
    hooks:
      - id: basedpyright
        name: basedpyright
        entry: basedpyright
        language: system
        types: [python]
        pass_filenames: false
  - repo: local
    hooks:
      - id: mdformat
        name: mdformat
        entry: mdformat --wrap 100
        language: system
        types: [markdown]
        exclude: "(?x)^( \n  docs/python-telegram-bot-abridged\\.md|\n  docs/python-telegram-bot-abridged-filtered\\.md\n)$\n"
  - repo: https://github.com/google/yamlfmt
    rev: v0.17.0
    hooks:
      - id: yamlfmt
  - repo: local
    hooks:
      - id: biome-format
        name: biome-format
        entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx @biomejs/biome format --write "${files[@]}"' --
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx|json)$
        pass_filenames: true
      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx eslint --fix "${files[@]}"' --
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx)$
        pass_filenames: true

Update types.py - formatting
  src/family_assistant/tools/types.py
Due: ruff-check, ruff-format, basedpyright

Fix syntax
  src/family_assistant/tools/types.py
Due: ruff-check, ruff-format, basedpyright

Ensure tool execution records include processing profile
  src/family_assistant/processing.py
  src/family_assistant/task_worker.py
  src/family_assistant/tools/types.py
  tests/functional/telegram/test_telegram_send_message_tool.py
Due: ruff-check, ruff-format, basedpyright

Implement CI that pushes to kubernetes via ConcourseCI webhook
  .github/workflows/build-containers.yml
  docs/design/ci-cd-design.md
Due: mdformat

Add debug logging to Dockerfile to investigate uv tool install issue
  Dockerfile
Due: none

Fix: Set UV_TOOL_DIR and UV_TOOL_BIN_DIR for appuser
  Dockerfile
Due: none

fix(ci): Improve curl error handling in webhook
  .github/workflows/build-containers.yml
Due: none

fix(ci): Correct webhook_token parameter in Concourse trigger
  .github/workflows/build-containers.yml
Due: none

Fix CI to add the "main" tag to the Docker image push, it was incorrectly removed just now
  .github/workflows/build-containers.yml
Due: none

Centralize attachment size limits in config.yaml
  docs/design/multimodal-manipulation.md
Due: mdformat

Implement configurable attachment limits across tools and services
  config.yaml
  src/family_assistant/assistant.py
  src/family_assistant/services/attachments.py
  src/family_assistant/tools/documents.py
  src/family_assistant/tools/home_assistant.py
  src/family_assistant/tools/types.py
Due: ruff-check, ruff-format, basedpyright

Prevent stash restore conflicts from leaving dirty tree
  .claude/review-hook.py
Due: ruff-check, ruff-format, basedpyright

Improve test verification error messaging
  .claude/test-verification-core.sh
Due: none

Restore unsafe fixes flag in Ruff diff
  .claude/lint-hook.py
Due: ruff-check, ruff-format, basedpyright

Enhance error message for failing tests
  .claude/test-verification-core.sh
Due: none

Enhance debug messaging in test verification script
  .claude/test-verification-core.sh
Due: none

Enhance systematic debugging guidelines
  .claude/agents/systematic-debugger.md
Due: mdformat

Move MCP server API keys to correct container in devcontainer docker-compose
  .devcontainer/docker-compose.yml
Due: none

Enhance debugging documentation for web UI issues
  .claude/agents/systematic-debugger.md
Due: mdformat

Add extra guidance to "no tests run" case
  .claude/test-verification-core.sh
Due: none
