Repository werdnum/family-assistant: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, mdformat

ruff-check:
  name: ruff-check
  entry: ruff check --fix --preview
  language: system

ruff-format:
  name: ruff-format
  entry: ruff format --preview
  language: system

mdformat:
  name: mdformat
  entry: mdformat --wrap 100
  language: system

fix: Increase wait times in test_schedule_reminder_with_follow_up to fix race condition
  tests/functional/test_smoke_callback.py
Due: ruff-check, ruff-format

docs: Add frontend development and testing details to AGENTS.md
  AGENTS.md
Due: mdformat

fix: Use task_worker_manager fixture in smoke callback tests
  tests/functional/test_smoke_callback.py
  tests/unit/tools/test_event_listener_validation.py
Due: ruff-check, ruff-format

fix: Use dependency injection for db_context in event tools
  src/family_assistant/tools/events.py
  tests/unit/tools/test_event_listener_validation.py
Due: ruff-check, ruff-format

fix: Use wait_for_tasks_to_complete utility in test_smoke_callback.py
  tests/functional/indexing/test_indexing_events.py
  tests/functional/test_smoke_callback.py
Due: ruff-check, ruff-format

fix: Use function-scoped event loop for test_test_listener_with_validation_errors
  tests/unit/tools/test_event_listener_validation.py
Due: ruff-check, ruff-format

fix: Use real database context in test_test_listener_with_validation_errors
  tests/unit/tools/test_event_listener_validation.py
Due: ruff-check, ruff-format

refactor: Create poll_for_document_ready_event helper in test_indexing_events
  tests/functional/indexing/test_indexing_events.py
Due: ruff-check, ruff-format

fix: Use dependency injection for db_context in event tools
  tests/functional/indexing/test_indexing_events.py
  tests/unit/tools/test_event_listener_validation.py
Due: ruff-check, ruff-format

Mark Playwright tests
  tests/functional/web/test_documents_flow.py
  tests/functional/web/test_enhanced_fixtures_simple.py
  tests/functional/web/test_history_flow.py
  tests/functional/web/test_notes_flow.py
  tests/functional/web/test_page_object_basic.py
  tests/functional/web/test_playwright_basic.py
  tests/functional/web/test_ui_endpoints_playwright.py
Due: ruff-check, ruff-format

Mark Playwright tests (#34)
  tests/functional/web/test_documents_flow.py
  tests/functional/web/test_enhanced_fixtures_simple.py
  tests/functional/web/test_history_flow.py
  tests/functional/web/test_notes_flow.py
  tests/functional/web/test_page_object_basic.py
  tests/functional/web/test_playwright_basic.py
  tests/functional/web/test_ui_endpoints_playwright.py
Due: ruff-check, ruff-format

fix: Use SQLAlchemy JSON operators for cross-database compatibility
  tests/functional/indexing/test_indexing_events.py
Due: ruff-check, ruff-format

fix: Use janus Queue shutdown() method with proper error handling
  src/family_assistant/events/home_assistant_source.py
  src/family_assistant/tools/events.py
Due: ruff-check, ruff-format

Add debugging fixtures for asyncio event loop hang investigation
  tests/conftest.py
  tests/functional/indexing/test_indexing_events.py
  tests/unit/tools/test_event_listener_validation.py
Due: ruff-check, ruff-format

fix: Use mock database context in event listener validation test
  tests/unit/tools/test_event_listener_validation.py
Due: ruff-check, ruff-format

fix: Add timeout to browser.close() to prevent test suite hanging
  .gitignore
  tests/conftest.py
  tests/functional/web/conftest.py
  tests/unit/tools/test_event_listener_validation.py
Due: ruff-check, ruff-format

fix: Override playwright fixture with timeout to prevent additional hanging
  .gitignore
  tests/conftest.py
  tests/functional/web/conftest.py
Due: ruff-check, ruff-format

fix: Fix race condition in indexing event tests by adding initial delay to polling
  tests/functional/indexing/test_indexing_events.py
Due: ruff-check, ruff-format

fix: Implement proper synchronization for indexing event tests
  src/family_assistant/events/indexing_source.py
  tests/functional/indexing/test_indexing_events.py
Due: ruff-check, ruff-format

fix: Update mock to match new emit_event signature returning Future
  tests/functional/indexing/test_indexing_events.py
Due: ruff-check, ruff-format

fix up linting setup for web code
  pyproject.toml
  scripts/format-and-lint.sh
Due: none

add simple api endpoint for getting all tools
  src/family_assistant/web/routers/tools_api.py
Due: ruff-check, ruff-format

Add tools UI implementations plus a "test bench" for seeing how each tool ui looks
  frontend/src/chat/Thread.jsx
  frontend/src/chat/ToolUI.jsx
  frontend/src/tool-test-bench/ToolTestBench.jsx
  frontend/src/tool-test-bench/index.jsx
  frontend/src/tool-test-bench/test-bench.css
  frontend/tool-test-bench.html
  frontend/vite.config.js
Due: none

Add banned command rule and update frontend docs
  .claude/banned_commands.json
  AGENTS.md
Due: mdformat

Add comprehensive test cases for calendar modification tools
  frontend/src/chat/ChatApp.jsx
  frontend/src/chat/Thread.jsx
  frontend/src/chat/ToolUI.jsx
  frontend/src/chat/constants.js
  frontend/src/chat/useStreamingResponse.js
  frontend/src/tool-test-bench/ToolTestBench.jsx
  frontend/src/tool-test-bench/index.jsx
Due: none

Implement utility tool UI components and test cases
  frontend/src/chat/ToolUI.jsx
  frontend/src/tool-test-bench/ToolTestBench.jsx
Due: none

Apply frontend code formatting fixes
  frontend/src/chat/ToolUI.jsx
  frontend/src/tool-test-bench/ToolTestBench.jsx
Due: none

Fix biome permission issue in CI
  .devcontainer/Dockerfile.ci
  .github/workflows/ci-with-devcontainer.yml
Due: none

configure agents
  .claude/agents/codebase-researcher.md
  .claude/agents/external-research-specialist.md
  .claude/agents/mechanical-coder.md
Due: mdformat

Add comprehensive Vitest tests for ToolUI components
  analyze_tool_calls.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/chat/__tests__/ToolUI.test.jsx
  frontend/src/test/setup.js
  frontend/src/test/toolTestData.js
  frontend/vitest.config.js
  pytest.ini
  scripts/export-tool-calls.sh
  scripts/prepare_test_data.py
  tool_calls_test_data.json
Due: ruff-check, ruff-format

auto add trailing newlines to text files
  .claude/file-formatters.json
  .claude/format-files.py
  .claude/settings.json
Due: ruff-check, ruff-format

Fix biome formatting issue in ToolUI test
  frontend/src/chat/__tests__/ToolUI.test.jsx
Due: none

Add tool UI components and comprehensive test cases (#35)
  .claude/banned_commands.json
  .devcontainer/Dockerfile.ci
  .github/workflows/ci-with-devcontainer.yml
  AGENTS.md
  analyze_tool_calls.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/chat/ChatApp.jsx
  frontend/src/chat/Thread.jsx
  frontend/src/chat/ToolUI.jsx
  frontend/src/chat/__tests__/ToolUI.test.jsx
  frontend/src/chat/constants.js
  frontend/src/chat/useStreamingResponse.js
  frontend/src/test/setup.js
  frontend/src/test/toolTestData.js
  frontend/src/tool-test-bench/ToolTestBench.jsx
  frontend/src/tool-test-bench/index.jsx
  frontend/src/tool-test-bench/test-bench.css
  frontend/tool-test-bench.html
  frontend/vite.config.js
  frontend/vitest.config.js
  pyproject.toml
  pytest.ini
  scripts/export-tool-calls.sh
  scripts/format-and-lint.sh
  scripts/prepare_test_data.py
  src/family_assistant/web/routers/tools_api.py
  tool_calls_test_data.json
Due: ruff-check, ruff-format, mdformat

Path conditions:
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  mdformat: any of: \.(md|markdown|mdown)$, but not: (?x)^( 
  docs/python-telegram-bot-abridged\.md|
  docs/python-telegram-bot-abridged-filtered\.md
)$

