Repository werdnum/family-assistant: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt, biome-format, eslint

ruff-check:
  name: ruff-check
  entry: ruff check --fix --preview
  language: system

ruff-format:
  name: ruff-format
  entry: ruff format --preview
  language: system

basedpyright:
  name: basedpyright
  entry: basedpyright
  language: system
  pass_filenames: false

code-conformance:
  name: code-conformance
  entry: .ast-grep/check-conformance.py
  language: system
  pass_filenames: true

mdformat:
  name: mdformat
  entry: mdformat --wrap 100
  language: system

yamlfmt:
  name: yamlfmt
  language: golang
  entry: yamlfmt
  additional_dependencies:
  - github.com/google/yamlfmt/cmd/yamlfmt@v0.17.0

biome-format:
  name: biome-format
  entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx @biomejs/biome format --write "${files[@]}"' --
  language: system
  pass_filenames: true

eslint:
  name: eslint
  entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx eslint --fix "${files[@]}"' --
  language: system
  pass_filenames: true

test(cassettes): re-record the request bodies the preamble change alters
  tests/cassettes/gemini/functional.web.api.test_thought_signature_persistence/test_multiturn_conversation_non_streaming_preserves_thought_signatures[postgres]/mldev.json
  tests/cassettes/gemini/functional.web.api.test_thought_signature_persistence/test_multiturn_conversation_non_streaming_preserves_thought_signatures[sqlite]/mldev.json
  tests/cassettes/gemini/functional.web.api.test_thought_signature_persistence/test_multiturn_conversation_with_tool_calls_preserves_thought_signatures[postgres]/mldev.json
  tests/cassettes/gemini/functional.web.api.test_thought_signature_persistence/test_multiturn_conversation_with_tool_calls_preserves_thought_signatures[sqlite]/mldev.json
  tests/cassettes/gemini/functional.web.api.test_thought_signature_persistence/test_streaming_multiturn_with_tool_calls_reproduces_bug[postgres]/mldev.json
  tests/cassettes/gemini/functional.web.api.test_thought_signature_persistence/test_streaming_multiturn_with_tool_calls_reproduces_bug[sqlite]/mldev.json
  tests/cassettes/llm/test_a_live_run_reads_as_pending_and_records_a_bounded_reading.yaml
  tests/cassettes/llm/test_a_real_completion_is_classified_as_carrying_a_result.yaml
  tests/cassettes/llm/test_cancellation_is_only_confirmed_by_the_providers_own_reading.yaml
  tests/cassettes/llm/test_submit_accepted_when_the_profile_configures_no_environment.yaml
  tests/cassettes/llm/test_submit_accepted_with_an_egress_allowlist_and_credential.yaml
Due: yamlfmt

Search conversations by message content on the server
  alembic/versions/2026_09_14-add_message_content_fts_index.py
  src/family_assistant/storage/message_history.py
  src/family_assistant/storage/repositories/message_history.py
  src/family_assistant/storage/types.py
  src/family_assistant/web/routers/chat_api.py
  tests/functional/storage/test_conversation_search.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Web: search chats on the server and keep focus in the search box
  docs/user/documents-and-search.md
  frontend/src/chat/ConversationSidebar.tsx
  frontend/src/chat/__tests__/ConversationSidebar.test.tsx
  frontend/src/chat/types.ts
Due: mdformat, biome-format, eslint

iOS: search chats on the server instead of filtering loaded previews
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatAPIClient.swift
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatModels.swift
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatViewModel.swift
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatViews.swift
  ios/FamilyAssistant/FamilyAssistantTests/ChatAPIClientTests.swift
Due: none

Tokenize conversation search terms the way the index does
  src/family_assistant/storage/repositories/message_history.py
  tests/functional/storage/test_conversation_search.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Address review: all search terms, all matches, honest failure notice
  frontend/src/chat/ConversationSidebar.tsx
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatAPIClient.swift
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatViews.swift
  ios/FamilyAssistant/FamilyAssistantTests/ChatAPIClientTests.swift
  prompts.yaml
  src/family_assistant/storage/repositories/message_history.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, yamlfmt, biome-format, eslint

Make confirmation prompt capacity the interface's call
  docs/design/auto-tool-call-review.md
  docs/design/confirmation-prompt-capacity.md
  docs/design/engineer_profile.md
  docs/design/ios-callkit-siri-voice.md
  docs/design/judge-gated-engineer-side-effects.md
  docs/design/profile-confined-note-writes-and-automation-approvals.md
  docs/design/risk-adjudicated-taint-enforcement.md
  docs/user/confirmations-and-safety.md
  src/family_assistant/processing/tool_execution.py
  src/family_assistant/telegram/ui.py
  src/family_assistant/tools/confirmation.py
  src/family_assistant/tools/infrastructure.py
  src/family_assistant/tools/services.py
  tests/functional/telegram/test_telegram_confirmation.py
  tests/functional/tools/test_policy_enforcing_provider.py
  tests/unit/telegram/test_confirmation_message_length.py
  tests/unit/tools/test_computer_use_safety_renderer.py
  tests/unit/tools/test_delegate_confirmation_renderer.py
  tests/unit/tools/test_delegation_policy.py
  tests/unit/tools/test_generic_confirmation_renderer.py
  tests/unit/tools/test_google_write_confirmation_renderers.py
  tests/unit/tools/test_worker_confirmation_renderer.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Put a long safety-gated payload to the approver instead of refusing it
  tests/unit/processing/test_tool_execution_safety_confirmation.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Extend interface-owned prompt capacity to named-sink confirmations
  src/family_assistant/telegram/ui.py
  src/family_assistant/tools/infrastructure.py
  tests/functional/telegram/test_telegram_confirmation.py
  tests/unit/tools/test_tool_call_review_integration.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Upgrade default Gemini Live model to gemini-3.8-live
  defaults.yaml
  ios/FamilyAssistant/FamilyAssistantTests/EphemeralTokenTests.swift
  ios/FamilyAssistant/FamilyAssistantTests/GeminiLiveCodecTests.swift
  src/family_assistant/config_models.py
  src/family_assistant/web/models.py
  tests/functional/web/ui/test_voice_integration.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, yamlfmt

Bump Gemini Omni video generation to gemini-omni-1.1-flash
  src/family_assistant/config_models.py
  src/family_assistant/tools/video_backends.py
  src/family_assistant/tools/video_generation.py
  tests/cassettes/llm/test_omni_flash_video_generation.yaml
  tests/integration/test_gemini_omni_video_generation.py
  tests/unit/tools/test_video_backends.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, yamlfmt

Re-record Omni Flash video cassette against gemini-omni-1.1-flash
  tests/cassettes/llm/test_omni_flash_video_generation.yaml
Due: yamlfmt

Keep swift-markdown out of the SwiftUI files
  .github/workflows/ios-tests.yml
  ios/FamilyAssistant/FamilyAssistant.xcodeproj/project.pbxproj
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatViews.swift
  ios/FamilyAssistant/FamilyAssistant/Chat/NativeMarkdownRenderer.swift
  ios/FamilyAssistant/FamilyAssistantTests/MarkdownRendererTests.swift
Due: yamlfmt

fix(devcontainer): follow Claude Code out of the npm prefix
  .devcontainer/claude-wrapper.sh
  .devcontainer/setup-workspace.sh
  .devcontainer/wrapper-common.sh
Due: none

Send voice activity detection to Gemini from iOS, with a car-audio block
  defaults.yaml
  docs/operations/CONFIGURATION_REFERENCE.md
  frontend/src/voice/types.ts
  ios/FamilyAssistant/FamilyAssistant/Voice/GeminiLiveClient.swift
  ios/FamilyAssistant/FamilyAssistant/Voice/GeminiLiveCodec.swift
  ios/FamilyAssistant/FamilyAssistant/Voice/GeminiLiveModels.swift
  ios/FamilyAssistant/FamilyAssistant/Voice/VoiceAudioEngine.swift
  ios/FamilyAssistant/FamilyAssistant/Voice/VoiceSessionViewModel.swift
  ios/FamilyAssistant/FamilyAssistantTests/EphemeralTokenTests.swift
  ios/FamilyAssistant/FamilyAssistantTests/GeminiLiveClientTests.swift
  ios/FamilyAssistant/FamilyAssistantTests/GeminiLiveCodecTests.swift
  ios/FamilyAssistant/FamilyAssistantTests/VoiceCallCoordinatorTests.swift
  ios/FamilyAssistant/FamilyAssistantTests/VoiceCallRequestCenterTests.swift
  ios/FamilyAssistant/FamilyAssistantTests/VoiceSessionViewModelTests.swift
  src/family_assistant/config_models.py
  src/family_assistant/web/models.py
  tests/unit/web/test_gemini_live_api.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt, biome-format, eslint

fix(devcontainer): drop the serena and scraper MCP registrations
  .devcontainer/settings.local.json
  .devcontainer/setup-workspace.sh
Due: none

Duck the iOS voice microphone while the assistant speaks
  ios/FamilyAssistant/FamilyAssistant/Voice/VoiceAudioEngine.swift
  ios/FamilyAssistant/FamilyAssistant/Voice/VoiceSessionViewModel.swift
  ios/FamilyAssistant/FamilyAssistantTests/GeminiLiveCodecTests.swift
  ios/FamilyAssistant/FamilyAssistantTests/VoiceCallCoordinatorTests.swift
  ios/FamilyAssistant/FamilyAssistantTests/VoiceCallRequestCenterTests.swift
  ios/FamilyAssistant/FamilyAssistantTests/VoiceSessionViewModelTests.swift
Due: none

Hold iOS mic ducking until assistant playback actually finishes
  ios/FamilyAssistant/FamilyAssistant/Voice/VoiceAudioEngine.swift
  ios/FamilyAssistant/FamilyAssistant/Voice/VoiceSessionViewModel.swift
  ios/FamilyAssistant/FamilyAssistantTests/GeminiLiveCodecTests.swift
  ios/FamilyAssistant/FamilyAssistantTests/VoiceCallCoordinatorTests.swift
  ios/FamilyAssistant/FamilyAssistantTests/VoiceCallRequestCenterTests.swift
  ios/FamilyAssistant/FamilyAssistantTests/VoiceSessionViewModelTests.swift
Due: none

Release mic ducking when assistant audio is heard, not consumed
  ios/FamilyAssistant/FamilyAssistant/Voice/VoiceAudioEngine.swift
Due: none

Stop waiting on discarded playback when the audio graph is rebuilt
  ios/FamilyAssistant/FamilyAssistant/Voice/VoiceAudioEngine.swift
Due: none

refresh(devcontainer): pin the toolchain, drop Gemini CLI, default to bypass
  .devcontainer/Dockerfile
  .devcontainer/Dockerfile.ci
  .devcontainer/README.md
  .devcontainer/gemini-wrapper.sh
  .devcontainer/settings.local.json
  .devcontainer/setup-workspace.sh
Due: mdformat

refresh(devcontainer): do not pin the agent CLIs
  .devcontainer/Dockerfile
  .devcontainer/setup-workspace.sh
Due: none

ci: run the tests when the image or the dependency set changes
  .github/workflows/ci-with-devcontainer.yml
Due: yamlfmt

docs(devcontainer): drop gemini from the wrapper-common header
  .devcontainer/wrapper-common.sh
Due: none

fix(devcontainer): take the uv version through a named stage
  .devcontainer/Dockerfile
  .devcontainer/Dockerfile.ci
Due: none

refresh(devcontainer): only reinstall what is actually missing
  .devcontainer/setup-workspace.sh
Due: none

test(config): isolate config-loader tests from ambient environment
  tests/unit/test_config_loader.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

test(chat): make LoadOlderMessages robust under CPU contention
  frontend/src/chat/__tests__/LoadOlderMessages.test.tsx
Due: biome-format, eslint

fix(calendar): honour each user's Google write grant; voice context gets the user
  src/family_assistant/google_calendar.py
  src/family_assistant/services/google_api.py
  src/family_assistant/tools/calendar.py
  src/family_assistant/web/routers/gemini_live_api.py
  tests/functional/tools/test_google_calendar_tools.py
  tests/unit/web/test_gemini_live_api.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

feat(calendar): per-user Google Calendar in the calendar tools and context
  src/family_assistant/assistant.py
  src/family_assistant/calendar_integration.py
  src/family_assistant/context_providers.py
  src/family_assistant/google_calendar.py
  src/family_assistant/processing/context.py
  src/family_assistant/processing/service.py
  src/family_assistant/services/oauth_integration_state.py
  src/family_assistant/tools/calendar.py
  src/family_assistant/tools/confirmation.py
  src/family_assistant/tools/types.py
  src/family_assistant/web/routers/asterisk_live_api.py
  src/family_assistant/web/routers/context_viewer.py
  src/family_assistant/web/routers/gemini_live_api.py
  tests/functional/notes/test_context_provider.py
  tests/functional/notes/test_note_visibility.py
  tests/functional/notes/test_skill_catalog.py
  tests/functional/tools/test_google_calendar_tools.py
  tests/functional/web/api/test_google_e2e.py
  tests/functional/web/api/test_google_integration.py
  tests/unit/processing/test_processing_fail_fast.py
  tests/unit/processing/test_system_prompt_cache_prefix.py
  tests/unit/processing/test_turn_context.py
  tests/unit/security/test_runtime_taint.py
  tests/unit/services/test_oauth_integration_state.py
  tests/unit/test_otel_processing_spans.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

fix(calendar): Google timezone on timed events, patch all-day switch, tighter context filter
  docs/design/google-calendar-per-user.md
  scripts/dump_tool_registry.py
  src/family_assistant/google_calendar.py
  src/family_assistant/tools/calendar.py
  tests/functional/tools/test_google_calendar_tools.py
  tests/unit/tools/test_calendar_tools.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

docs(calendar): document per-user Google Calendar
  docs/design/google-calendar-per-user.md
  docs/design/user-scoped-google-data-access.md
  docs/operations/CONFIGURATION_REFERENCE.md
  docs/user/USER_GUIDE.md
  docs/user/calendar.md
  docs/user/google-workspace.md
  prompts.yaml
Due: mdformat, yamlfmt

refactor(google): share one authenticated Google request path; add calendar scopes
  defaults.yaml
  src/family_assistant/config_models.py
  src/family_assistant/services/google_api.py
  src/family_assistant/services/google_provider.py
  src/family_assistant/services/oauth_credentials.py
  src/family_assistant/tools/google_data.py
  tests/functional/tools/test_google_data_tools.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, yamlfmt

fix(calendar): don't skip duplicate detection when Google can't be read
  src/family_assistant/tools/calendar.py
  tests/functional/tools/test_google_calendar_tools.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Store the reviewer's rationale in tool-call review audit rows
  docs/design/auto-tool-call-review.md
  docs/design/risk-adjudicated-taint-enforcement.md
  docs/operations/CONFIGURATION_REFERENCE.md
  src/family_assistant/tools/infrastructure.py
  tests/unit/tools/test_tool_call_review_integration.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Narrate voice tool calls, pin transcription language, trace tool timing
  defaults.yaml
  docs/operations/CONFIGURATION_REFERENCE.md
  frontend/src/voice/types.ts
  ios/FamilyAssistant/FamilyAssistant/Voice/GeminiLiveCodec.swift
  ios/FamilyAssistant/FamilyAssistant/Voice/GeminiLiveModels.swift
  ios/FamilyAssistant/FamilyAssistant/Voice/VoiceSessionViewModel.swift
  ios/FamilyAssistant/FamilyAssistantTests/EphemeralTokenTests.swift
  ios/FamilyAssistant/FamilyAssistantTests/GeminiLiveCodecTests.swift
  ios/FamilyAssistant/FamilyAssistantTests/VoiceSessionViewModelTests.swift
  src/family_assistant/config_models.py
  src/family_assistant/web/models.py
  src/family_assistant/web/routers/gemini_live_api.py
  tests/unit/web/test_gemini_live_api.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt, biome-format, eslint

Record an inner tool name only for call_tool
  ios/FamilyAssistant/FamilyAssistant/Voice/VoiceSessionViewModel.swift
  ios/FamilyAssistant/FamilyAssistantTests/VoiceSessionViewModelTests.swift
Due: none

Don't report a hang-up as a tool-response failure; fix queued flag
  ios/FamilyAssistant/FamilyAssistant/Voice/VoiceSessionViewModel.swift
  ios/FamilyAssistant/FamilyAssistantTests/VoiceSessionViewModelTests.swift
Due: none

Path conditions:
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  basedpyright: any of: \.py$
  code-conformance: any of: \.py$
  mdformat: any of: \.(md|markdown|mdown)$, but not: (?x)^( 
  docs/python-telegram-bot-abridged\.md|
  docs/python-telegram-bot-abridged-filtered\.md
)$

  yamlfmt: any of: \.(yaml|yml)$
  biome-format: any of: ^frontend/.*\.(js|jsx|ts|tsx|json)$, but not: ^frontend/(dev-dist/|package-lock\.json$)
  eslint: any of: ^frontend/.*\.(js|jsx|ts|tsx)$
