Repository werdnum/family-assistant: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt, biome-format, eslint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-check
        name: ruff-check
        entry: ruff check --fix --preview
        language: system
        types: [python]
      - id: ruff-format
        name: ruff-format
        entry: ruff format --preview
        language: system
        types: [python]
  - repo: local
    hooks:
      - id: basedpyright
        name: basedpyright
        entry: basedpyright
        language: system
        types: [python]
        pass_filenames: false
      - id: code-conformance
        name: code-conformance
        entry: .ast-grep/check-conformance.py
        language: system
        types: [python]
        pass_filenames: true
  - repo: local
    hooks:
      - id: mdformat
        name: mdformat
        entry: mdformat --wrap 100
        language: system
        types: [markdown]
        exclude: "(?x)^( \n  docs/python-telegram-bot-abridged\\.md|\n  docs/python-telegram-bot-abridged-filtered\\.md\n)$\n"
  - repo: local
    hooks:
      - id: yamlfmt
        name: yamlfmt
        language: golang
        entry: yamlfmt
        additional_dependencies:
          - github.com/google/yamlfmt/cmd/yamlfmt@v0.17.0
        types: [yaml]
  - repo: local
    hooks:
      - id: biome-format
        name: biome-format
        entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx @biomejs/biome format --write "${files[@]}"' --
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx|json)$
        exclude: ^frontend/(dev-dist/|package-lock\.json$)
        pass_filenames: true
      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx eslint --fix "${files[@]}"' --
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx)$
        pass_filenames: true

Gate HA actions behind a built-in skill with live discovery
  defaults.yaml
  src/family_assistant/home_assistant_wrapper.py
  src/family_assistant/skills/builtin/home-assistant-actions.md
  src/family_assistant/tools/__init__.py
  src/family_assistant/tools/home_assistant.py
  tests/cassettes/llm/test_list_actions_returns_live_catalog[postgres].yaml
  tests/cassettes/llm/test_list_actions_returns_live_catalog[sqlite].yaml
  tests/functional/home_assistant/test_call_action_tool.py
  tests/integration/home_assistant/test_call_action.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt

Gate all Home Assistant tools behind the "Home Assistant" skill
  defaults.yaml
  src/family_assistant/skills/builtin/home-assistant-actions.md
  src/family_assistant/skills/builtin/home-assistant.md
Due: mdformat, yamlfmt

Gate the homeassistant MCP server behind the Home Assistant skill too
  defaults.yaml
  src/family_assistant/processing/llm_loop.py
  src/family_assistant/skills/builtin/home-assistant.md
  src/family_assistant/skills/loader.py
  src/family_assistant/skills/types.py
  src/family_assistant/tools/notes.py
  src/family_assistant/tools/on_demand.py
  tests/unit/processing/test_llm_loop_tool_advertisement.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt

Address review: avoid kwargs collision and clamp max_results
  src/family_assistant/home_assistant_wrapper.py
  src/family_assistant/tools/home_assistant.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

async_call_action: validate HA response shape instead of swallowing
  src/family_assistant/home_assistant_wrapper.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

async_call_action: tighten HA response validation
  src/family_assistant/home_assistant_wrapper.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Update Claude model references to latest in series
  AGENTS.md
  defaults.yaml
  tests/functional/web/api/test_debug_api.py
  tests/unit/web/test_debug_api_helpers.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt

Update OpenAI and Gemini model references to April 2026 series
  defaults.yaml
  scripts/generate_tts_greeting.py
  src/family_assistant/config_models.py
  src/family_assistant/llm/retrying_client.py
  tests/functional/web/api/test_debug_api.py
  tests/unit/llm/providers/test_native_output_modes.py
  tests/unit/llm/test_google_genai_message_conversion.py
  tests/unit/test_config_loader.py
  tests/unit/web/test_debug_api_helpers.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, yamlfmt

docs: plan code-execution / ai-worker workspace unification
  docs/design/code-execution-workspace-unification.md
Due: mdformat

Decouple on-demand tool gating from the shared tools provider chain
  src/family_assistant/assistant.py
  src/family_assistant/processing/llm_loop.py
  src/family_assistant/processing/service.py
  src/family_assistant/tools/__init__.py
  src/family_assistant/tools/on_demand.py
  tests/unit/processing/test_llm_loop_tool_advertisement.py
  tests/unit/processing/test_on_demand_view_decoupling.py
  tests/unit/tools/test_on_demand.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Default add_or_update_note to include_in_prompt=false
  prompts.yaml
  src/family_assistant/tools/notes.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, yamlfmt

Fix review-changes.py falling back to no-tools mode
  scripts/review-changes.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

review-changes: track latest Gemini Pro via OpenRouter alias
  scripts/review-changes.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

review-changes: default to native Gemini API instead of OpenRouter
  scripts/review-changes.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

review-changes: bump default to gemini-3.1-pro-preview
  scripts/review-changes.py
  uv.lock
Due: ruff-check, ruff-format, basedpyright, code-conformance

Remove happy-coder from dev container
  .devcontainer/Dockerfile
  .devcontainer/docker-compose.yml
  .devcontainer/setup-workspace.sh
Due: yamlfmt

Upgrade pydantic to 2.13.3 and pydantic-monty to 0.0.17
  pyproject.toml
  src/family_assistant/scripting/monty_engine.py
  src/family_assistant/scripting/validator.py
  tests/functional/web/ui/test_events_list.py
  tests/functional/web/ui/test_history_basic.py
  uv.lock
Due: ruff-check, ruff-format, basedpyright, code-conformance

Handle cancelled durable confirmation execution
  src/family_assistant/task_worker.py
  tests/functional/tasks/test_confirmation_tool_execution.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Fix durable delegation confirmation replay
  src/family_assistant/task_worker.py
  src/family_assistant/tools/services.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Address durable confirmation review feedback
  src/family_assistant/services/confirmation_service.py
  src/family_assistant/telegram/ui.py
  src/family_assistant/tools/services.py
  src/family_assistant/web/confirmation_manager.py
  src/family_assistant/web/routers/chat_api.py
  tests/functional/telegram/test_telegram_confirmation.py
  tests/unit/web/test_confirmation_manager.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Implement durable confirmation execution
  frontend/src/chat/ChatApp.tsx
  frontend/src/chat/ToolWithConfirmation.tsx
  scripts/format-and-lint.sh
  src/family_assistant/assistant.py
  src/family_assistant/services/confirmation_service.py
  src/family_assistant/services/confirmation_waiters.py
  src/family_assistant/storage/repositories/message_history.py
  src/family_assistant/task_worker.py
  src/family_assistant/telegram/handler.py
  src/family_assistant/telegram/protocols.py
  src/family_assistant/telegram/service.py
  src/family_assistant/telegram/ui.py
  src/family_assistant/tools/infrastructure.py
  src/family_assistant/tools/types.py
  src/family_assistant/web/confirmation_manager.py
  src/family_assistant/web/routers/chat_api.py
  tests/functional/storage/test_confirmation_requests.py
  tests/functional/tasks/test_confirmation_tool_execution.py
  tests/functional/telegram/test_telegram_confirmation.py
  tests/functional/web/api/test_chat_streaming.py
  tests/functional/web/api/test_web_multimodal_to_llm.py
  tests/functional/web/conftest.py
  tests/functional/web/ui/test_attachment_processing.py
  tests/functional/web/ui/test_chat_tool_confirmation.py
  tests/functional/web/ui/test_conversation_messages.py
  tests/unit/test_otel_processing_spans.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, biome-format, eslint

Unify confirmation callback outcomes
  src/family_assistant/task_worker.py
  src/family_assistant/telegram/handler.py
  src/family_assistant/telegram/protocols.py
  src/family_assistant/telegram/service.py
  src/family_assistant/telegram/ui.py
  src/family_assistant/tools/infrastructure.py
  src/family_assistant/tools/services.py
  src/family_assistant/tools/types.py
  src/family_assistant/web/confirmation_manager.py
  src/family_assistant/web/routers/chat_api.py
  tests/functional/automations/test_delegation_basic.py
  tests/functional/automations/test_self_delegation.py
  tests/functional/calendar/test_calendar_confirmation.py
  tests/functional/telegram/test_telegram_confirmation.py
  tests/unit/tools/test_tools_infrastructure.py
  tests/unit/web/test_confirmation_manager.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Narrow Monty snapshot resume type
  src/family_assistant/scripting/monty_engine.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Apply rebased ruff formatting
  src/family_assistant/calendar_integration.py
  src/family_assistant/tools/calendar.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Address durable confirmation fallback review comments
  frontend/src/chat/ChatApp.tsx
  src/family_assistant/task_worker.py
  tests/functional/tasks/test_confirmation_tool_execution.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, biome-format, eslint

Fix durable confirmation pre-execution failure notifications
  src/family_assistant/task_worker.py
  tests/functional/tasks/test_confirmation_tool_execution.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Preserve attachment authorization errors
  src/family_assistant/web/routers/chat_api.py
  tests/functional/web/api/test_chat_attachments.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Stabilize durable confirmation CI tests
  tests/functional/telegram/helpers.py
  tests/functional/web/pages/chat_page.py
  tests/functional/web/ui/test_chat_basic.py
  tests/mocks/telegram_test_server.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Fix Monty resume exception result typing
  src/family_assistant/scripting/monty_engine.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Make AGENTS explicitly direct reviewers to REVIEW_GUIDELINES
  .github/workflows/codex-review.yml
  AGENTS.md
Due: mdformat, yamlfmt

Soften plan approval guidance wording
  AGENTS.md
Due: mdformat

Add web durable confirmation tray
  docs/user/USER_GUIDE.md
  frontend/src/chat/ChatApp.tsx
  frontend/src/chat/PendingConfirmationsTray.tsx
  frontend/src/chat/ToolConfirmationContext.tsx
  frontend/src/chat/ToolWithConfirmation.tsx
  frontend/src/chat/__tests__/ChatApp.test.tsx
  frontend/src/chat/__tests__/ErrorHandling.test.tsx
  frontend/src/chat/__tests__/PendingConfirmationsTray.test.tsx
  frontend/src/test/mocks/handlers.ts
  src/family_assistant/web/routers/chat_api.py
  tests/functional/web/api/test_chat_confirmations.py
  tests/functional/web/ui/test_history_interactions.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, biome-format, eslint

Refresh durable confirmation countdowns
  frontend/src/chat/ChatApp.tsx
  frontend/src/chat/__tests__/PendingConfirmationsTray.test.tsx
Due: biome-format, eslint

Surface durable confirmation load failures
  frontend/src/chat/ChatApp.tsx
  frontend/src/chat/PendingConfirmationsTray.tsx
  frontend/src/chat/__tests__/PendingConfirmationsTray.test.tsx
Due: biome-format, eslint

Require confirmations list in polling response
  frontend/src/chat/ChatApp.tsx
  frontend/src/chat/__tests__/PendingConfirmationsTray.test.tsx
Due: biome-format, eslint

Add branch review mode to scripts/review-changes.py
  .claude/README_HOOKS.md
  scripts/review-changes.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Fail loudly when git diff fails in review-changes.py
  scripts/review-changes.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Add unified user identity mapping
  config.yaml.example
  defaults.yaml
  docs/api/README.md
  docs/design/unified-user-identities.md
  docs/operations/CONFIGURATION_REFERENCE.md
  docs/user/USER_GUIDE.md
  src/family_assistant/assistant.py
  src/family_assistant/config_models.py
  src/family_assistant/services/user_identity.py
  src/family_assistant/telegram/handler.py
  src/family_assistant/telegram/service.py
  src/family_assistant/telegram/ui.py
  src/family_assistant/web/auth.py
  src/family_assistant/web/dependencies.py
  src/family_assistant/web/routers/api.py
  src/family_assistant/web/routers/app_auth.py
  src/family_assistant/web/routers/me_api.py
  src/family_assistant/web/routers/webhooks.py
  tests/functional/telegram/test_telegram_confirmation.py
  tests/functional/web/api/test_chat_confirmations.py
  tests/functional/web/api/test_mail_webhook_security.py
  tests/unit/services/test_user_identity.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt

Support Telegram identity env overlays
  docs/operations/CONFIGURATION_REFERENCE.md
  src/family_assistant/config_loader.py
  tests/unit/test_config_loader.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Support user identity file overlays
  docs/operations/CONFIGURATION_REFERENCE.md
  src/family_assistant/config_loader.py
  tests/unit/test_config_loader.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat
