Repository werdnum/family-assistant: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt, biome-format, eslint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-check
        name: ruff-check
        entry: ruff check --fix --preview
        language: system
        types: [python]
      - id: ruff-format
        name: ruff-format
        entry: ruff format --preview
        language: system
        types: [python]
  - repo: local
    hooks:
      - id: basedpyright
        name: basedpyright
        entry: basedpyright
        language: system
        types: [python]
        pass_filenames: false
      - id: code-conformance
        name: code-conformance
        entry: .ast-grep/check-conformance.py
        language: system
        types: [python]
        pass_filenames: true
  - repo: local
    hooks:
      - id: mdformat
        name: mdformat
        entry: mdformat --wrap 100
        language: system
        types: [markdown]
        exclude: "(?x)^( \n  docs/python-telegram-bot-abridged\\.md|\n  docs/python-telegram-bot-abridged-filtered\\.md\n)$\n"
  - repo: local
    hooks:
      - id: yamlfmt
        name: yamlfmt
        language: golang
        entry: yamlfmt
        additional_dependencies:
          - github.com/google/yamlfmt/cmd/yamlfmt@v0.17.0
        types: [yaml]
  - repo: local
    hooks:
      - id: biome-format
        name: biome-format
        entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx @biomejs/biome format --write "${files[@]}"' --
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx|json)$
        exclude: ^frontend/(dev-dist/|package-lock\.json$)
        pass_filenames: true
      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx eslint --fix "${files[@]}"' --
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx)$
        pass_filenames: true

Address Codex round 2: exact-origin confinement, keep it post-taint, interim list confirm, IdP consent, label disambiguation
  docs/design/browser-cookie-jars.md
Due: mdformat

Address Codex round: existing-session handling, save-wrapper enforcement, re-login escape, subresource-egress residual
  docs/design/browser-cookie-jars.md
Due: mdformat

Front-loaded review pass: OUTPUT_UNTRUSTED tag, confirmation TOCTOU, port, keep load confirm, live re-login
  docs/design/browser-cookie-jars.md
Due: mdformat

Address Codex round 7: explicit refresh jar_id, sink tags, enforce-mode, idempotent probes, named config flag
  docs/design/browser-cookie-jars.md
Due: mdformat

Address Codex round 8: human-save-in-place re-login, child-frame confinement, allowlist consent, probe robustness
  docs/design/browser-cookie-jars.md
Due: mdformat

fix(ios): avoid lazy stack churn while streaming chat
  docs/design/ios-chat-layout-watchdog-crash.md
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatViewModel.swift
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatViews.swift
  ios/FamilyAssistant/FamilyAssistant/UITesting/UITestConfiguration.swift
  ios/FamilyAssistant/FamilyAssistant/Voice/VoiceView.swift
  ios/FamilyAssistant/FamilyAssistantTests/ChatLayoutBudgetTests.swift
  ios/FamilyAssistant/FamilyAssistantTests/ChatViewModelTests.swift
Due: mdformat

Design classifier-routed processing profiles
  docs/design/classifier-routing-processing-profiles.md
Due: mdformat

Address classifier routing design review
  docs/design/classifier-routing-processing-profiles.md
Due: mdformat

Switch complex_tasks profile to OpenAI gpt-5.6-sol
  AGENTS.md
  defaults.yaml
Due: mdformat, yamlfmt

Pin complex_tasks retry_config primary to gpt-5.6-sol
  defaults.yaml
Due: yamlfmt

Clear complex_tasks retry_config in testflight sandbox
  deploy/testflight-sandbox/config.yaml
Due: yamlfmt

Use claude-fable-5 as cross-provider fallback for complex_tasks
  defaults.yaml
Due: yamlfmt

Provide dummy ANTHROPIC_API_KEY in container smoke test
  scripts/container-smoke-test.sh
Due: none

Add OpenAI Responses API tool support
  src/family_assistant/llm/providers/openai_client.py
  tests/cassettes/llm/test_gpt_5_6_sol_streaming_with_reasoning_and_tools.yaml
  tests/integration/llm/test_streaming.py
  tests/integration/llm/vcr_helpers.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, yamlfmt

Record Responses streams in diagnostics
  src/family_assistant/llm/providers/openai_client.py
  tests/integration/llm/test_streaming.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Preserve Responses tool continuation state
  src/family_assistant/llm/providers/openai_client.py
  src/family_assistant/processing/llm_loop.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Forward Responses storage controls
  src/family_assistant/llm/providers/openai_client.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Clarify Responses SDK type suppressions
  src/family_assistant/llm/providers/openai_client.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Preserve encrypted Responses reasoning state
  src/family_assistant/llm/providers/openai_client.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Forward Responses penalty parameters
  src/family_assistant/llm/providers/openai_client.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Preserve Responses request parameters
  src/family_assistant/llm/providers/openai_client.py
  tests/integration/llm/vcr_helpers.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Refresh Responses API live cassette
  tests/cassettes/llm/test_gpt_5_6_sol_streaming_with_reasoning_and_tools.yaml
Due: yamlfmt

Remove stale Responses cassette interaction
  tests/cassettes/llm/test_gpt_5_6_sol_streaming_with_reasoning_and_tools.yaml
Due: yamlfmt

Disable Responses storage by default
  src/family_assistant/llm/providers/openai_client.py
  tests/cassettes/llm/test_gpt_5_6_sol_streaming_with_reasoning_and_tools.yaml
Due: ruff-check, ruff-format, basedpyright, code-conformance, yamlfmt

Fix Responses continuation input status
  src/family_assistant/llm/providers/openai_client.py
  tests/unit/llm/providers/test_openai_responses_input.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Test Responses tool continuation replay
  tests/cassettes/llm/test_gpt_5_6_sol_streaming_with_reasoning_and_tools.yaml
  tests/integration/llm/test_streaming.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, yamlfmt

fix(ios): isolate chat scene lifecycle updates
  docs/design/ios-chat-layout-watchdog-crash.md
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatViews.swift
  ios/FamilyAssistant/FamilyAssistant/Voice/VoiceView.swift
  ios/FamilyAssistant/FamilyAssistantTests/ChatLayoutBudgetTests.swift
Due: mdformat

fix(ios): bound eager chat layout on exit
  docs/design/ios-chat-layout-watchdog-crash.md
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatViewModel.swift
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatViews.swift
  ios/FamilyAssistant/FamilyAssistantTests/ChatLayoutBudgetTests.swift
  ios/FamilyAssistant/FamilyAssistantTests/ChatViewModelTests.swift
Due: mdformat

fix(ios): retry deferred passive follows
  docs/design/ios-chat-layout-watchdog-crash.md
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatViews.swift
  ios/FamilyAssistant/FamilyAssistantTests/ChatLayoutBudgetTests.swift
Due: mdformat

Add proportionality and accepted-trade-offs section to review guidelines
  REVIEW_GUIDELINES.md
Due: mdformat

Add runtime taint diagnostics endpoint
  AGENTS.md
  defaults.yaml
  docs/user/USER_GUIDE.md
  src/family_assistant/storage/repositories/message_history.py
  src/family_assistant/storage/repositories/taint_audit.py
  src/family_assistant/web/routers/diagnostics_api.py
  tests/functional/web/api/test_diagnostics_readonly_token.py
  tests/functional/web/api/test_taint_diagnostics_api.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt

Document collaborative chat design
  docs/design/collaborative-chats.md
Due: mdformat

Resolve collaborative contract edge cases
  docs/design/collaborative-chats.md
Due: mdformat

Harden collaborative turn lifecycle
  docs/design/collaborative-chats.md
Due: mdformat

Clarify collaborative chat durability
  docs/design/collaborative-chats.md
Due: mdformat

Address final Codex review findings
  docs/design/collaborative-chats.md
Due: mdformat

Address collaborative chat review feedback
  docs/design/collaborative-chats.md
Due: mdformat

Persist taint metadata on every tool result
  src/family_assistant/processing/llm_loop.py
  src/family_assistant/processing/tool_execution.py
  src/family_assistant/tools/infrastructure.py
  tests/unit/processing/test_llm_loop_tool_advertisement.py
  tests/unit/processing/test_processing_multimodal_integration.py
  tests/unit/security/test_runtime_taint.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Add explicit low-bandwidth MCP sink metadata
  docs/user/USER_GUIDE.md
  src/family_assistant/security/taint.py
  src/family_assistant/tools/metadata.py
  tests/unit/security/test_runtime_taint.py
  tests/unit/tools/test_tool_metadata.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Demote legacy taint fallback logging
  src/family_assistant/storage/repositories/message_history.py
  tests/unit/security/test_runtime_taint.py
Due: ruff-check, ruff-format, basedpyright, code-conformance
