Repository werdnum/family-assistant: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, mdformat

ruff-check:
  name: ruff-check
  entry: ruff check --fix --preview
  language: system

ruff-format:
  name: ruff-format
  entry: ruff format --preview
  language: system

mdformat:
  name: mdformat
  entry: mdformat --wrap 100
  language: system

Switch from uv sync to UV pip install with correct --python
  .github/workflows/ci.yml
Due: none

Fix name of test running script
  .github/workflows/ci.yml
Due: none

Install Playwright so Playwright based tests work
  .github/workflows/ci.yml
Due: none

Fix pyright errors and update event validation
  src/family_assistant/events/home_assistant_source.py
  src/family_assistant/tools/calendar.py
  src/family_assistant/tools/event_listeners.py
  src/family_assistant/tools/events.py
  tests/unit/events/test_home_assistant_validation.py
Due: ruff-check, ruff-format

Handle old history API and revert calendar types
  src/family_assistant/events/home_assistant_source.py
  src/family_assistant/tools/calendar.py
  src/family_assistant/tools/event_listeners.py
  src/family_assistant/tools/events.py
  tests/unit/events/test_home_assistant_validation.py
Due: ruff-check, ruff-format

docs: clean up markdown formatting
  AGENTS.md
  docs/CODE_REFERENCE.md
  docs/SPECIFICATION.md
Due: mdformat

fix: address pylint warnings in subprocess PostgreSQL implementation
  tests/conftest.py
Due: ruff-check, ruff-format

fix: update devcontainer for subprocess PostgreSQL support
  .devcontainer/Dockerfile
  .devcontainer/setup-workspace.sh
Due: none

feat: add PostgreSQL 17 with pgvector to devcontainer
  .devcontainer/Dockerfile
  docs/CODE_REFERENCE.md
  tests/conftest.py
Due: ruff-check, ruff-format, mdformat

chore: update uv.lock with pytest-xdist dependency
  uv.lock
Due: none

fix: exclude scratch directory from test runs and add pytest-xdist
  pyproject.toml
  scripts/run-tests.sh
Due: none

feat: add PostgreSQL 17 with pgvector to devcontainer (#11)
  .devcontainer/Dockerfile
  .devcontainer/setup-workspace.sh
  docs/CODE_REFERENCE.md
  pyproject.toml
  scripts/run-tests.sh
  tests/conftest.py
  uv.lock
Due: ruff-check, ruff-format, mdformat

feat: add GitHub Actions workflow for container builds
  .github/workflows/build-containers.yml
Due: none

test: enable workflow on PRs for testing (build-only, no push)
  .github/workflows/build-containers.yml
Due: none

Add GitHub Actions workflow for container builds (#14)
  .github/workflows/build-containers.yml
Due: none

fix: standardize markdown formatting and document auto-formatting tools
  AGENTS.md
  REVIEW_GUIDELINES.md
  docs/SPECIFICATION.md
Due: mdformat

fix: standardize markdown formatting and document auto-formatting tools (#16)
  AGENTS.md
  REVIEW_GUIDELINES.md
  docs/SPECIFICATION.md
Due: mdformat

simplify: use subprocess PostgreSQL in CI devcontainer
  .github/workflows/ci-with-devcontainer.yml
Due: none

refactor: combine build and test workflows for devcontainer CI
  .github/workflows/ci-devcontainer.yml
  .github/workflows/ci-with-devcontainer.yml
  .github/workflows/ci.yml
Due: none

fix: use external PostgreSQL service for CI tests
  .github/workflows/ci-with-devcontainer.yml
Due: none

fix: preserve environment variables when switching to claude user
  .github/workflows/ci-with-devcontainer.yml
Due: none

fix: address code review issues in CI devcontainer workflow
  .github/workflows/ci-devcontainer.yml
Due: none

fix: remove redundant TEST_DATABASE_URL definitions
  .github/workflows/ci-with-devcontainer.yml
Due: none

fix: add required permissions for GitHub Container Registry
  .github/workflows/ci-devcontainer.yml
Due: none

feat: add CI workflow to run tests in dev container with PostgreSQL
  .github/workflows/ci-devcontainer.yml
  .github/workflows/ci.yml
Due: none

fix: skip devcontainer entrypoint in CI to avoid duplicate venv setup
  .github/workflows/ci-with-devcontainer.yml
Due: none

fix: use proper login shell for claude user to avoid permission issues
  .github/workflows/ci-with-devcontainer.yml
Due: none

fix: optimize devcontainer setup for CI
  .devcontainer/setup-workspace.sh
  .github/workflows/ci-with-devcontainer.yml
Due: none

feat: add CI-optimized Dockerfile with pre-cached dependencies
  .devcontainer/Dockerfile.ci
Due: none

feat: run CI tests in dev container with PostgreSQL support (#15)
  .devcontainer/Dockerfile.ci
  .devcontainer/setup-workspace.sh
  .github/workflows/build-containers.yml
  .github/workflows/ci-with-devcontainer.yml
  .github/workflows/ci.yml
Due: none

Path conditions:
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  mdformat: any of: \.(md|markdown|mdown)$, but not: (?x)^( 
  docs/python-telegram-bot-abridged\.md|
  docs/python-telegram-bot-abridged-filtered\.md
)$

