Repository werdnum/family-assistant: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt, biome-format, eslint

ruff-check:
  name: ruff-check
  entry: ruff check --fix --preview
  language: system

ruff-format:
  name: ruff-format
  entry: ruff format --preview
  language: system

basedpyright:
  name: basedpyright
  entry: basedpyright
  language: system
  pass_filenames: false

code-conformance:
  name: code-conformance
  entry: .ast-grep/check-conformance.py
  language: system
  pass_filenames: true

mdformat:
  name: mdformat
  entry: mdformat --wrap 100
  language: system

yamlfmt:
  name: yamlfmt
  language: golang
  entry: yamlfmt
  additional_dependencies:
  - github.com/google/yamlfmt/cmd/yamlfmt@v0.17.0

biome-format:
  name: biome-format
  entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx @biomejs/biome format --write "${files[@]}"' --
  language: system
  pass_filenames: true

eslint:
  name: eslint
  entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx eslint --fix "${files[@]}"' --
  language: system
  pass_filenames: true

Add builtin skills directory with 4 initial skills and wire builtin_dir loading
  defaults.yaml
  src/family_assistant/assistant.py
  src/family_assistant/config_models.py
  src/family_assistant/skills/builtin/browser-automation.md
  src/family_assistant/skills/builtin/camera-integration.md
  src/family_assistant/skills/builtin/image-tools.md
  src/family_assistant/skills/builtin/scheduling.md
  tests/unit/skills/test_loader.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt

feat: add get_llm_request_history tool to engineer profile
  defaults.yaml
  src/family_assistant/tools/__init__.py
  src/family_assistant/tools/engineering.py
  tests/unit/tools/test_engineering.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, yamlfmt

fix: web conversations missing full context due to tiny history limits and missing subconversation_id
  defaults.yaml
  src/family_assistant/processing.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, yamlfmt

fix: web streaming cuts off after non-fatal tool errors
  frontend/src/chat/ChatApp.tsx
  src/family_assistant/web/routers/chat_api.py
  tests/functional/web/api/test_chat_streaming.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, biome-format, eslint

fix: address PR review feedback
  frontend/src/chat/ChatApp.tsx
  tests/functional/web/api/test_chat_streaming.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, biome-format, eslint

Log warning when skills directory does not exist
  docs/design/skills-implementation-plan.md
  src/family_assistant/skills/loader.py
  tests/unit/skills/test_loader.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

fix: improve Deep Research stream error handling with typed exceptions and diagnostics
  src/family_assistant/llm/providers/google_genai_client.py
  tests/llm/test_google_deep_research.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

refactor: always raise in stream error/status handlers, let outer except handle uniformly
  src/family_assistant/llm/providers/google_genai_client.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

docs: add OpenTelemetry observability design document
  docs/design/opentelemetry-observability.md
Due: mdformat

docs: fix LoggingInstrumentor format override and add non-HTTP root spans
  docs/design/opentelemetry-observability.md
Due: mdformat

refactor: use real LLMRequestBuffer in tests instead of mocks
  tests/unit/tools/test_engineering.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

fix: use fresh DB context for note verification in streaming tools test
  tests/functional/web/api/test_chat_streaming.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

chore: update serena project config with new default settings
  .serena/project.yml
Due: yamlfmt

Move skill creation instructions from system prompt to built-in skill
  prompts.yaml
  src/family_assistant/skills/builtin/skill-creation.md
Due: mdformat, yamlfmt

docs: add skills documentation and prompt instructions (Milestone 11)
  docs/design/skills-implementation-plan.md
  docs/user/USER_GUIDE.md
  prompts.yaml
  src/family_assistant/tools/notes.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt

Fix markdown bold formatting in USER_GUIDE.md
  docs/user/USER_GUIDE.md
Due: mdformat

Ensure all LLM-facing timestamps use configured timezone instead of UTC
  src/family_assistant/tools/automations.py
  src/family_assistant/tools/calendar.py
  src/family_assistant/tools/camera.py
  src/family_assistant/tools/communication.py
  src/family_assistant/tools/events.py
  src/family_assistant/tools/home_assistant.py
  src/family_assistant/tools/workspace_files.py
  src/family_assistant/web/routers/asterisk_live_api.py
  src/family_assistant/web/routers/context_viewer.py
  src/family_assistant/web/routers/gemini_live_api.py
  tests/unit/tools/test_timezone_consistency.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Guard all astimezone() calls against naive datetimes
  src/family_assistant/tools/automations.py
  src/family_assistant/tools/calendar.py
  src/family_assistant/tools/camera.py
  src/family_assistant/tools/communication.py
  tests/unit/tools/test_timezone_consistency.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Address PR review feedback: convert structured JSON timestamps to local timezone
  src/family_assistant/tools/automations.py
  src/family_assistant/tools/events.py
  src/family_assistant/tools/home_assistant.py
  tests/unit/tools/test_timezone_consistency.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Simplify a little
  src/family_assistant/web/routers/asterisk_live_api.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Add git to production container for GitHub MCP servers
  Dockerfile
Due: none

fix: Address PR review round 2 - converter bugs, cancel race, pipeline fix
  src/family_assistant/a2a/converters.py
  src/family_assistant/processing.py
  src/family_assistant/storage/repositories/a2a_tasks.py
  tests/functional/storage/test_a2a_tasks.py
  tests/functional/web/api/test_a2a_api.py
  tests/unit/test_a2a_converters.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

feat: Add A2A (Agent-to-Agent) protocol server integration
  alembic/versions/2026_02_20-add_a2a_tasks_table.py
  src/family_assistant/a2a/__init__.py
  src/family_assistant/a2a/converters.py
  src/family_assistant/a2a/types.py
  src/family_assistant/storage/context.py
  src/family_assistant/storage/repositories/__init__.py
  src/family_assistant/storage/repositories/a2a_tasks.py
  src/family_assistant/web/app_creator.py
  src/family_assistant/web/auth.py
  src/family_assistant/web/routers/a2a_api.py
  src/family_assistant/web/routers/api.py
  tests/functional/web/api/test_a2a_api.py
  tests/unit/test_a2a_converters.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

fix: Tighten error handling in A2A protocol code
  src/family_assistant/a2a/converters.py
  src/family_assistant/web/routers/a2a_api.py
  tests/unit/test_a2a_converters.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

refactor: Migrate A2A types from custom Pydantic models to official a2a-sdk
  pyproject.toml
  src/family_assistant/a2a/converters.py
  src/family_assistant/a2a/types.py
  src/family_assistant/web/routers/a2a_api.py
  tests/functional/web/api/test_a2a_api.py
  tests/functional/web/ui/test_landing_page.py
  tests/unit/test_a2a_converters.py
  uv.lock
Due: ruff-check, ruff-format, basedpyright, code-conformance

test: Add SDK-client-based A2A functional tests
  tests/functional/web/api/test_a2a_api.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

fix: Address PR review feedback for A2A streaming consistency
  src/family_assistant/web/routers/a2a_api.py
  tests/functional/web/api/test_a2a_api.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

fix: Address PR review round 4 - DB context, cancellation, minor fixes
  src/family_assistant/processing.py
  src/family_assistant/storage/repositories/a2a_tasks.py
  src/family_assistant/web/routers/a2a_api.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

fix: Address PR review round 3 - artifact_id, ValueError handling, early return
  src/family_assistant/processing.py
  src/family_assistant/web/routers/a2a_api.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

fix: move A2A cancel events from module-level to app.state singleton
  src/family_assistant/assistant.py
  src/family_assistant/web/routers/a2a_api.py
  tests/functional/web/api/test_a2a_api.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

fix: address review round 6 - JSON-RPC spec compliance and attachment URLs
  src/family_assistant/web/routers/a2a_api.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

fix: Resolve rebase conflicts and fix unused import
  src/family_assistant/processing.py
  src/family_assistant/web/routers/asterisk_live_api.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Redesign chat UI with modern, polished styling
  frontend/src/chat/ChatApp.tsx
  frontend/src/chat/ConversationSidebar.tsx
  frontend/src/chat/Thread.tsx
  frontend/src/chat/__tests__/ChatApp.test.tsx
  frontend/src/chat/__tests__/ConversationSidebar.test.tsx
  frontend/src/chat/__tests__/ErrorHandling.test.tsx
  frontend/src/chat/__tests__/StreamingAndToolCall.test.tsx
  frontend/src/chat/__tests__/StreamingErrorRecovery.test.tsx
  frontend/src/chat/__tests__/ToolWithConfirmation.test.tsx
  frontend/src/test/utils/renderChatApp.tsx
  frontend/src/test/utils/waitHelpers.ts
  tests/functional/web/pages/chat_page.py
  tests/functional/web/ui/test_chat_basic.py
  tests/functional/web/ui/test_file_upload.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, biome-format, eslint

Update screenshots for chat UI redesign
  screenshots/desktop/chat-empty.png
  screenshots/desktop/landing-page.png
  screenshots/mobile/chat-empty.png
  screenshots/mobile/landing-page.png
Due: none

Add new screenshots from expanded test coverage
  screenshots/desktop/automations-list.png
  screenshots/desktop/chat-sidebar-open.png
  screenshots/desktop/chat-with-messages.png
  screenshots/desktop/documents-list.png
  screenshots/desktop/events-list.png
  screenshots/desktop/history-list.png
  screenshots/desktop/notes-edit-form.png
  screenshots/desktop/notes-list-with-note.png
  screenshots/desktop/settings-tokens.png
  screenshots/desktop/tools-list.png
  screenshots/desktop/vector-search-empty.png
  screenshots/desktop/voice-page.png
  screenshots/mobile/automations-list.png
  screenshots/mobile/chat-sidebar-open.png
  screenshots/mobile/chat-with-messages.png
  screenshots/mobile/documents-list.png
  screenshots/mobile/events-list.png
  screenshots/mobile/history-list.png
  screenshots/mobile/notes-edit-form.png
  screenshots/mobile/notes-list-with-note.png
  screenshots/mobile/settings-tokens.png
  screenshots/mobile/tools-list.png
  screenshots/mobile/vector-search-empty.png
  screenshots/mobile/voice-page.png
Due: none

Research: OpenClaw/NanoClaw primitives comparison with family-assistant
  docs/design/openclaw-primitives-comparison.md
Due: mdformat

Design: five proposed improvements inspired by OpenClaw/NanoClaw
  docs/design/openclaw-inspired-improvements.md
Due: mdformat

Update proposals: AI Worker Sandbox already implemented
  docs/design/openclaw-inspired-improvements.md
  docs/design/openclaw-primitives-comparison.md
Due: mdformat

Path conditions:
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  basedpyright: any of: \.py$
  code-conformance: any of: \.py$
  mdformat: any of: \.(md|markdown|mdown)$, but not: (?x)^( 
  docs/python-telegram-bot-abridged\.md|
  docs/python-telegram-bot-abridged-filtered\.md
)$

  yamlfmt: any of: \.(yaml|yml)$
  biome-format: any of: ^frontend/.*\.(js|jsx|ts|tsx|json)$, but not: ^frontend/(dev-dist/|package-lock\.json$)
  eslint: any of: ^frontend/.*\.(js|jsx|ts|tsx)$
