Repository werdnum/family-assistant: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt, biome-format, eslint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-check
        name: ruff-check
        entry: ruff check --fix --preview
        language: system
        types: [python]
      - id: ruff-format
        name: ruff-format
        entry: ruff format --preview
        language: system
        types: [python]
  - repo: local
    hooks:
      - id: basedpyright
        name: basedpyright
        entry: basedpyright
        language: system
        types: [python]
        pass_filenames: false
      - id: code-conformance
        name: code-conformance
        entry: .ast-grep/check-conformance.py
        language: system
        types: [python]
        pass_filenames: true
  - repo: local
    hooks:
      - id: mdformat
        name: mdformat
        entry: mdformat --wrap 100
        language: system
        types: [markdown]
        exclude: "(?x)^( \n  docs/python-telegram-bot-abridged\\.md|\n  docs/python-telegram-bot-abridged-filtered\\.md\n)$\n"
  - repo: local
    hooks:
      - id: yamlfmt
        name: yamlfmt
        language: golang
        entry: yamlfmt
        additional_dependencies:
          - github.com/google/yamlfmt/cmd/yamlfmt@v0.17.0
        types: [yaml]
  - repo: local
    hooks:
      - id: biome-format
        name: biome-format
        entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx @biomejs/biome format --write "${files[@]}"' --
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx|json)$
        exclude: ^frontend/(dev-dist/|package-lock\.json$)
        pass_filenames: true
      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx eslint --fix "${files[@]}"' --
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx)$
        pass_filenames: true

docs: flesh out context compaction proposal with interface analysis
  docs/design/openclaw-inspired-improvements.md
Due: mdformat

Add profile identification preamble to system prompt
  src/family_assistant/processing.py
  tests/functional/test_profile_preamble.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Refactor preamble injection into _prepend_profile_preamble and add streaming test
  src/family_assistant/processing.py
  tests/functional/test_profile_preamble.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Fix automation RRULE times to use configured timezone instead of UTC
  src/family_assistant/skills/builtin/scheduling.md
  src/family_assistant/storage/repositories/schedule_automations.py
  src/family_assistant/task_worker.py
  src/family_assistant/tools/automations.py
  src/family_assistant/web/routers/automations_api.py
  tests/functional/storage/test_automations_crud.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Address PR review: guard naive datetimes and reschedule on re-enable
  src/family_assistant/storage/repositories/automations.py
  src/family_assistant/storage/repositories/schedule_automations.py
  src/family_assistant/tools/automations.py
  src/family_assistant/web/routers/automations_api.py
  tests/functional/storage/test_automations_crud.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Add OpenTelemetry foundation and auto-instrumentation
  defaults.yaml
  pyproject.toml
  src/family_assistant/__main__.py
  src/family_assistant/config_loader.py
  src/family_assistant/config_models.py
  src/family_assistant/observability.py
  tests/unit/test_config_loader.py
  tests/unit/test_observability.py
  uv.lock
Due: ruff-check, ruff-format, basedpyright, code-conformance, yamlfmt

Sync task queue items when automations are modified or disabled
  src/family_assistant/storage/repositories/schedule_automations.py
  tests/functional/storage/test_automations_crud.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Fix three logic bugs in automation task queue sync
  tests/functional/storage/test_automations_crud.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Fix action_config equality check and rrule parsing race condition
  src/family_assistant/storage/repositories/schedule_automations.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Address PR review: instrument_app for FastAPI, validate sample rate
  src/family_assistant/__main__.py
  src/family_assistant/config_models.py
  src/family_assistant/observability.py
  tests/unit/test_observability.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Use BatchSpanProcessor for network exporters, add bypass justifications
  src/family_assistant/observability.py
  tests/unit/test_observability.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Use proper FastAPI type hint instead of Any
  src/family_assistant/observability.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Update design doc with milestone 1+2 completion status
  docs/design/opentelemetry-observability.md
Due: mdformat

Use try/finally in shutdown to ensure meter_provider cleanup
  src/family_assistant/observability.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Add OTel manual spans for LLM, tool, conversation, and task processing
  docs/design/opentelemetry-observability.md
  src/family_assistant/llm/__init__.py
  src/family_assistant/llm/providers/anthropic_client.py
  src/family_assistant/llm/providers/google_genai_client.py
  src/family_assistant/llm/retrying_client.py
  src/family_assistant/processing.py
  src/family_assistant/task_worker.py
  src/family_assistant/telegram/handler.py
  tests/unit/test_otel_llm_spans.py
  tests/unit/test_otel_processing_spans.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Remove redundant span error handling, add rate_limit_retry_failed event
  src/family_assistant/llm/__init__.py
  src/family_assistant/llm/retrying_client.py
  src/family_assistant/telegram/handler.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Clarify complex_tasks profile vs spawn_worker distinction
  AGENTS.md
  defaults.yaml
  prompts.yaml
  src/family_assistant/tools/worker.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt

Add complex_tasks processing profile using Claude Opus 4.6
  AGENTS.md
  defaults.yaml
  docs/user/USER_GUIDE.md
  prompts.yaml
Due: mdformat, yamlfmt

Add ast-grep rules to detect swallowed exceptions
  .ast-grep/exemptions.yml
  .ast-grep/rules/README.md
  .ast-grep/rules/hints/README.md
  .ast-grep/rules/hints/broad-except-swallows-errors.yml
  .ast-grep/rules/no-silent-broad-except.yml
  src/family_assistant/events/condition_evaluator.py
  src/family_assistant/events/home_assistant_source.py
  src/family_assistant/llm/__init__.py
  src/family_assistant/llm/providers/google_genai_client.py
  src/family_assistant/llm/providers/openai_client.py
  src/family_assistant/scripting/apis/time.py
  src/family_assistant/services/attachment_registry.py
  src/family_assistant/storage/base.py
  src/family_assistant/tools/calendar.py
  src/family_assistant/tools/events.py
  src/family_assistant/tools/image_tools.py
  src/family_assistant/tools/media_download.py
  src/family_assistant/tools/tasks.py
  src/family_assistant/web/routers/asterisk_live_api.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt

ci: merge upstream gemini-cli GitHub Actions improvements
  .gemini/commands/gemini-invoke.toml
  .gemini/commands/gemini-plan-execute.toml
  .gemini/commands/gemini-review.toml
  .gemini/commands/gemini-scheduled-triage.toml
  .gemini/commands/gemini-triage.toml
  .github/workflows/gemini-dispatch.yml
  .github/workflows/gemini-plan-execute.yml
  .github/workflows/gemini-review.yml
  .github/workflows/gemini-scheduled-triage.yml
  .github/workflows/gemini-triage.yml
  .gitignore
Due: yamlfmt

ci: add retry resilience settings to all Gemini CLI workflows
  .github/workflows/gemini-invoke.yml
  .github/workflows/gemini-plan-execute.yml
  .github/workflows/gemini-review.yml
  .github/workflows/gemini-scheduled-triage.yml
  .github/workflows/gemini-triage.yml
Due: yamlfmt

Fix _send_message_chunks silently swallowing exceptions
  src/family_assistant/telegram/handler.py
  tests/functional/telegram/test_telegram_handler.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Make timezone required in schedule automation repository methods
  src/family_assistant/storage/repositories/automations.py
  src/family_assistant/storage/repositories/schedule_automations.py
  src/family_assistant/tools/automations.py
  tests/functional/storage/test_automations_crud.py
  tests/functional/storage/test_automations_queries.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Fix timezone lost during config profile resolution
  src/family_assistant/config_loader.py
  src/family_assistant/storage/repositories/schedule_automations.py
  src/family_assistant/tools/types.py
  src/family_assistant/web/routers/tools_api.py
  tests/functional/attachments/test_attachment_tools.py
  tests/functional/attachments/test_attachment_workflows.py
  tests/functional/automations/test_automations_crud.py
  tests/functional/automations/test_automations_execution.py
  tests/functional/automations/test_event_system_advanced.py
  tests/functional/automations/test_event_system_basic.py
  tests/functional/home_assistant/test_history_tool.py
  tests/functional/indexing/test_document_retrieval.py
  tests/functional/indexing/test_indexing_events.py
  tests/functional/indexing/test_indexing_pipeline.py
  tests/functional/integration/test_mcp_sse_restart.py
  tests/functional/notes/test_document_visibility.py
  tests/functional/notes/test_get_note_skills.py
  tests/functional/notes/test_note_visibility.py
  tests/functional/scripting/example_direct_tools.py
  tests/functional/scripting/test_direct_tool_callables.py
  tests/functional/scripting/test_script_attachment_api.py
  tests/functional/scripting/test_tools_api.py
  tests/functional/scripting/test_tools_security.py
  tests/functional/tools/test_data_manipulation.py
  tests/functional/tools/test_engineering_database.py
  tests/functional/tools/test_execute_script.py
  tests/functional/tools/test_execute_script_attachments.py
  tests/functional/tools/test_large_tool_results.py
  tests/functional/tools/test_notes_append.py
  tests/functional/tools/test_worker_task_lifecycle.py
  tests/functional/vector_search/test_vector_storage.py
  tests/integration/home_assistant/test_tools.py
  tests/unit/attachments/test_get_attachment_info_tool.py
  tests/unit/scripting/test_jq_query_deadlock.py
  tests/unit/test_config_loader.py
  tests/unit/tools/test_camera_tools.py
  tests/unit/tools/test_engineering.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Address PR review comments on deploy docs and tests
  deploy/README.md
  tests/unit/test_observability.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Fix OTel setup to explicitly disable when not configured
  AGENTS.md
  src/family_assistant/observability.py
  tests/unit/test_observability.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Move OTel docs from AGENTS.md to deploy/README.md
  AGENTS.md
  deploy/README.md
Due: mdformat

Make json_decode tolerant of structured tool results
  docs/user/FAQ.md
  docs/user/scripting.md
  src/family_assistant/scripting/monty_engine.py
  src/family_assistant/tools/execute_script.py
  tests/functional/scripting/test_json_functions.py
  tests/functional/scripting/test_script_execution_handler.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Simplify _safe_json_decode to check for json.loads-compatible types
  src/family_assistant/scripting/monty_engine.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Notify user when automation scripts fail after exhausting retries
  docs/user/scripting.md
  src/family_assistant/storage/repositories/schedule_automations.py
  src/family_assistant/task_worker.py
  tests/functional/scripting/test_script_error_notification.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

fix: resolve CI failures from @assistant-ui/react ecosystem bump
  frontend/package-lock.json
  frontend/package.json
  frontend/src/chat/ChatApp.tsx
  frontend/src/chat/__tests__/attachmentAdapter.test.js
  frontend/src/chat/attachmentAdapter.js
  frontend/src/components/assistant-ui/__tests__/attachment.test.tsx
  frontend/src/components/assistant-ui/attachment.tsx
  frontend/src/test/patches/tapClientLookup.js
  frontend/src/test/setup.js
  frontend/vitest.config.js
Due: biome-format, eslint

Fix null handling in script error notification
  src/family_assistant/task_worker.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Upgrade pydantic-monty from 0.0.3 to 0.0.7
  docs/design/scripting/monty-evaluation.md
  docs/user/scripting.md
  pyproject.toml
  uv.lock
Due: mdformat

Add design doc for Monty engine improvements
  docs/design/scripting/monty-0.0.7-improvements.md
Due: mdformat

Add type stub generator for Monty script type checking
  src/family_assistant/scripting/type_stubs.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Simplify MontyEngine with _run_monty_async helper
  src/family_assistant/scripting/monty_engine.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Add type_check() method to MontyEngine
  src/family_assistant/scripting/__init__.py
  src/family_assistant/scripting/errors.py
  src/family_assistant/scripting/monty_engine.py
  tests/unit/scripting/test_type_checking.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Integrate type checking into validation and automation creation
  src/family_assistant/events/condition_evaluator.py
  src/family_assistant/web/routers/automations_api.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Fix condition evaluator type checking for event variable
  src/family_assistant/events/condition_evaluator.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Update automation and engineer profiles to use Claude Sonnet 4.6
  defaults.yaml
Due: yamlfmt
