Repository werdnum/family-assistant: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt, biome-format, eslint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-check
        name: ruff-check
        entry: ruff check --fix --preview
        language: system
        types: [python]
      - id: ruff-format
        name: ruff-format
        entry: ruff format --preview
        language: system
        types: [python]
  - repo: local
    hooks:
      - id: basedpyright
        name: basedpyright
        entry: basedpyright
        language: system
        types: [python]
        pass_filenames: false
      - id: code-conformance
        name: code-conformance
        entry: .ast-grep/check-conformance.py
        language: system
        types: [python]
        pass_filenames: true
  - repo: local
    hooks:
      - id: mdformat
        name: mdformat
        entry: mdformat --wrap 100
        language: system
        types: [markdown]
        exclude: "(?x)^( \n  docs/python-telegram-bot-abridged\\.md|\n  docs/python-telegram-bot-abridged-filtered\\.md\n)$\n"
  - repo: local
    hooks:
      - id: yamlfmt
        name: yamlfmt
        language: golang
        entry: yamlfmt
        additional_dependencies:
          - github.com/google/yamlfmt/cmd/yamlfmt@v0.17.0
        types: [yaml]
  - repo: local
    hooks:
      - id: biome-format
        name: biome-format
        entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx @biomejs/biome format --write "${files[@]}"' --
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx|json)$
        exclude: ^frontend/(dev-dist/|package-lock\.json$)
        pass_filenames: true
      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx eslint --fix "${files[@]}"' --
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx)$
        pass_filenames: true

Fix iOS resync stalls with bounded recovery
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatViewModel.swift
  ios/FamilyAssistant/FamilyAssistant/Chat/ResyncOrchestrator.swift
  ios/FamilyAssistant/FamilyAssistantTests/ResyncOrchestratorTests.swift
Due: none

Fix resync lifecycle fence and timeout race
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatViewModel.swift
  ios/FamilyAssistant/FamilyAssistant/Chat/ResyncOrchestrator.swift
  ios/FamilyAssistant/FamilyAssistantTests/ResyncOrchestratorTests.swift
Due: none

Flush SSE response head immediately so idle streams establish
  src/family_assistant/web/routers/chat_api.py
  tests/functional/web/api/test_resumable_streaming.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Use a heartbeat frame for the immediate flush, not a bare comment
  src/family_assistant/web/routers/chat_api.py
  tests/functional/web/api/test_resumable_streaming.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Stabilize iOS chat test harness
  ios/FamilyAssistant/FamilyAssistantTests/ChatAPIClientTests.swift
  ios/FamilyAssistant/FamilyAssistantTests/ChatLayoutBudgetTests.swift
  ios/FamilyAssistant/FamilyAssistantTests/ChatViewModelTests.swift
Due: none

Trim history-explaining comment on the follow-replace test
  ios/FamilyAssistant/FamilyAssistantTests/SyncCoordinatorTests.swift
Due: none

Mark actively-opening streams (including retries) as reconnecting
  ios/FamilyAssistant/FamilyAssistant/Chat/SyncCoordinator.swift
  ios/FamilyAssistant/FamilyAssistantTests/SyncCoordinatorTests.swift
Due: none

Add warning grace to the chat connection indicator
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatViewModel.swift
  ios/FamilyAssistant/FamilyAssistant/Chat/SyncCoordinator.swift
  ios/FamilyAssistant/FamilyAssistantTests/SyncCoordinatorTests.swift
Due: none

iOS sync M3: operation-aware error taxonomy + inline retry
  docs/design/ios-state-sync-improvements.md
  docs/user/USER_GUIDE.md
  docs/worklog/2026-07-21-ios-sync-m0-sse-audit.md
  ios/FamilyAssistant/FamilyAssistant.xcodeproj/project.pbxproj
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatAPIClient.swift
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatErrorClassifier.swift
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatViewModel.swift
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatViews.swift
  ios/FamilyAssistant/FamilyAssistant/Chat/SyncCoordinator.swift
  ios/FamilyAssistant/FamilyAssistant/Voice/VoiceToolRunner.swift
  ios/FamilyAssistant/FamilyAssistantTests/ChatAPIClientTests.swift
  ios/FamilyAssistant/FamilyAssistantTests/ChatErrorClassifierTests.swift
  ios/FamilyAssistant/FamilyAssistantTests/ChatViewModelTests.swift
  ios/FamilyAssistant/FamilyAssistantTests/EphemeralTokenTests.swift
  ios/FamilyAssistant/FamilyAssistantTests/SyncCoordinatorTests.swift
  ios/FamilyAssistant/FamilyAssistantTests/VoiceToolRunnerTests.swift
  prompts.yaml
Due: mdformat, yamlfmt

iOS sync M3: address review — retry guard + stream-auth epoch capture
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatViewModel.swift
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatViews.swift
  ios/FamilyAssistant/FamilyAssistantTests/ChatViewModelTests.swift
Due: none

iOS sync M3: full-reload reconcile for a retried persisted bubble
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatViewModel.swift
  ios/FamilyAssistant/FamilyAssistantTests/ChatViewModelTests.swift
Due: none

iOS sync M3: list-scoped conversation-refresh banner
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatViewModel.swift
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatViews.swift
  ios/FamilyAssistant/FamilyAssistantTests/ChatViewModelTests.swift
Due: none

iOS: filter transient CI spikes in the layout-budget wall-clock tests
  ios/FamilyAssistant/FamilyAssistantTests/ChatLayoutBudgetTests.swift
Due: none

iOS sync M3: clear the thread inline banner on a successful reload
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatViewModel.swift
  ios/FamilyAssistant/FamilyAssistantTests/ChatViewModelTests.swift
Due: none

docs: update iOS connection-indicator + list-refresh guide for M3/#1052
  docs/user/USER_GUIDE.md
Due: mdformat

iOS: fence stream-loop 401/403 refresh on the stream generation
  ios/FamilyAssistant/FamilyAssistant/Chat/SyncCoordinator.swift
  ios/FamilyAssistant/FamilyAssistantTests/SyncCoordinatorTests.swift
Due: none

iOS: defer following a brand-new conversation until it is server-backed
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatViewModel.swift
  ios/FamilyAssistant/FamilyAssistantTests/ChatViewModelTests.swift
Due: none

iOS: address review — gate the launch-draft follow-start on supersession
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatViewModel.swift
Due: none

iOS: address review — scope launch-draft clear to the conversation, defer resync too
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatViewModel.swift
  ios/FamilyAssistant/FamilyAssistantTests/ChatViewModelTests.swift
Due: none

docs: mirror the iOS indicator/banner update into system_prompt_docs
  prompts.yaml
Due: yamlfmt

Split frontend telemetry breadcrumbs out of the error log
  AGENTS.md
  defaults.yaml
  docs/design/ios-frontend-telemetry-lane.md
  src/family_assistant/tools/__init__.py
  src/family_assistant/tools/engineering.py
  src/family_assistant/web/frontend_telemetry.py
  src/family_assistant/web/routers/errors_api.py
  tests/functional/web/api/test_diagnostics_readonly_token.py
  tests/functional/web/api/test_frontend_errors_api.py
  tests/unit/tools/test_engineering.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt

iOS: send breadcrumbs on the info-severity telemetry lane
  ios/FamilyAssistant/FamilyAssistant/ErrorReporting/ErrorReporter.swift
  ios/FamilyAssistant/FamilyAssistantTests/ErrorReporterTests.swift
Due: none

Harden telemetry lane: untrusted taint + bounded retention
  src/family_assistant/tools/__init__.py
  src/family_assistant/web/frontend_telemetry.py
  tests/unit/tools/test_engineering.py
  tests/unit/web/test_frontend_telemetry.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Port Gemini Deep Research delegation to PollableDelegationService
  defaults.yaml
  docs/design/a2a-native-async-delegation.md
  docs/design/deep-research-pollable-delegation.md
  docs/design/gemini-deep-research-tiers.md
  docs/user/USER_GUIDE.md
  src/family_assistant/a2a/client.py
  src/family_assistant/a2a/remote_service.py
  src/family_assistant/assistant.py
  src/family_assistant/config_loader.py
  src/family_assistant/config_models.py
  src/family_assistant/llm/providers/google_genai_client.py
  src/family_assistant/processing/__init__.py
  src/family_assistant/processing/deep_research_service.py
  src/family_assistant/processing/protocol.py
  src/family_assistant/processing/types.py
  src/family_assistant/storage/repositories/delegation_runs.py
  src/family_assistant/task_worker.py
  tests/functional/automations/test_async_delegation.py
  tests/functional/web/api/test_a2a_client_integration.py
  tests/llm/test_google_deep_research.py
  tests/unit/processing/test_deep_research_service.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt

Treat unrecognized Deep Research interaction statuses as pending, not failed
  src/family_assistant/llm/providers/google_genai_client.py
  src/family_assistant/processing/deep_research_service.py
  tests/unit/processing/test_deep_research_service.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Rename Deep-Research-specific methods that are actually agent-generic
  docs/design/deep-research-pollable-delegation.md
  src/family_assistant/llm/providers/google_genai_client.py
  src/family_assistant/processing/deep_research_service.py
  tests/functional/automations/test_async_delegation.py
  tests/llm/test_google_deep_research.py
  tests/unit/processing/test_deep_research_service.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

iOS: stop flashing the connection warning on every launch
  docs/design/ios-state-sync-improvements.md
  docs/user/USER_GUIDE.md
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatViewModel.swift
  ios/FamilyAssistant/FamilyAssistant/Chat/SyncCoordinator.swift
  ios/FamilyAssistant/FamilyAssistantTests/ChatViewModelTests.swift
  ios/FamilyAssistant/FamilyAssistantTests/SyncCoordinatorTests.swift
Due: mdformat

Uninstall guardian Claude Code plugin
  .claude/README_HOOKS.md
  .claude/guardian.json
  .claude/settings.json
Due: mdformat

Trim ast-grep, frontend, and CI workflow agent docs
  .ast-grep/CLAUDE.md
  .github/workflows/CLAUDE.md
  frontend/AGENTS.md
Due: mdformat

Trim root AGENTS.md and the testing guides
  .github/workflows/CLAUDE.md
  AGENTS.md
  tests/CLAUDE.md
  tests/integration/CLAUDE.md
Due: mdformat

Trim tool, web, script, and per-area testing guides
  scripts/CLAUDE.md
  src/family_assistant/tools/CLAUDE.md
  src/family_assistant/web/CLAUDE.md
  tests/functional/automations/CLAUDE.md
  tests/functional/calendar/CLAUDE.md
  tests/functional/indexing/CLAUDE.md
  tests/functional/telegram/CLAUDE.md
  tests/functional/web/CLAUDE.md
Due: mdformat

Link the per-area test guides from tests/CLAUDE.md
  tests/CLAUDE.md
Due: mdformat

Rewrite the tools, web, and scripts READMEs
  scripts/README.md
  src/family_assistant/tools/README.md
  src/family_assistant/web/README.md
Due: mdformat

Fix and dedupe the ast-grep rule and exemption docs
  .ast-grep/EXEMPTIONS.md
  .ast-grep/rules/README.md
  .ast-grep/rules/hints/README.md
Due: mdformat

Delete the server-rendered routers and JS replaced by React
  src/family_assistant/static/js/api_token_management.js
  src/family_assistant/static/js/json_editor_copy.js
  src/family_assistant/static/js/json_editor_tool_tester.js
  src/family_assistant/static/js/message_history_filters.js
  src/family_assistant/static/js/tasks_filters.js
  src/family_assistant/web/README.md
  src/family_assistant/web/routers/errors.py
  src/family_assistant/web/routers/vector_search.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Drop file inventories and directory trees from the agent docs
  .ast-grep/CLAUDE.md
  frontend/AGENTS.md
  tests/CLAUDE.md
  tests/functional/automations/CLAUDE.md
  tests/functional/calendar/CLAUDE.md
  tests/functional/indexing/CLAUDE.md
  tests/functional/web/CLAUDE.md
  tests/integration/CLAUDE.md
Due: mdformat

Move operator configuration out of AGENTS.md into the operations reference
  AGENTS.md
  defaults.yaml
  docs/operations/CONFIGURATION_REFERENCE.md
  docs/user/USER_GUIDE.md
Due: mdformat, yamlfmt

Move guidance into the subdirectory files where it is needed
  AGENTS.md
  frontend/AGENTS.md
  src/family_assistant/tools/CLAUDE.md
  src/family_assistant/web/CLAUDE.md
Due: mdformat

Document the iOS error/telemetry lanes where they originated
  AGENTS.md
  frontend/AGENTS.md
  ios/CLAUDE.md
  src/family_assistant/web/CLAUDE.md
Due: mdformat

Install the dev container guide so it actually loads
  .devcontainer/Dockerfile
  .devcontainer/setup-workspace.sh
  AGENTS.md
Due: mdformat
