Repository werdnum/family-assistant: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt, biome-format, eslint

ruff-check:
  name: ruff-check
  entry: ruff check --fix --preview
  language: system

ruff-format:
  name: ruff-format
  entry: ruff format --preview
  language: system

basedpyright:
  name: basedpyright
  entry: basedpyright
  language: system
  pass_filenames: false

code-conformance:
  name: code-conformance
  entry: .ast-grep/check-conformance.py
  language: system
  pass_filenames: true

mdformat:
  name: mdformat
  entry: mdformat --wrap 100
  language: system

yamlfmt:
  name: yamlfmt
  language: golang
  entry: yamlfmt
  additional_dependencies:
  - github.com/google/yamlfmt/cmd/yamlfmt@v0.17.0

biome-format:
  name: biome-format
  entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx @biomejs/biome format --write "${files[@]}"' --
  language: system
  pass_filenames: true

eslint:
  name: eslint
  entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx eslint --fix "${files[@]}"' --
  language: system
  pass_filenames: true

Survive a concurrent credential create; match Authorization case-insensitively
  src/family_assistant/llm/antigravity_egress.py
  tests/unit/llm/test_antigravity_egress.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Seed taint for script automation firings from definition and payload
  docs/design/executable-definition-taint.md
  src/family_assistant/task_worker.py
  tests/functional/automations/test_firing_resolution.py
  tests/functional/tools/test_execute_script_review.py
  tests/functional/web/api/test_web_callback_taint.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Push from the coder sandbox through the GitHub API, not git
  docs/design/antigravity-stored-egress-credentials.md
  docs/operations/CONFIGURATION_REFERENCE.md
  src/family_assistant/llm/antigravity_egress.py
  src/family_assistant/llm/providers/google_genai_client.py
  src/family_assistant/llm/sandbox_helpers/__init__.py
  src/family_assistant/llm/sandbox_helpers/github_push.py
  tests/llm/test_google_antigravity.py
  tests/unit/llm/test_github_push_helper.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Handle URL-significant branch names and empty repos in the push helper
  docs/design/antigravity-stored-egress-credentials.md
  src/family_assistant/llm/sandbox_helpers/github_push.py
  tests/unit/llm/test_github_push_helper.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Mount the push helper for wildcard rules that cover the GitHub API
  src/family_assistant/llm/antigravity_egress.py
  tests/llm/test_google_antigravity.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Refuse API pushes that include Git LFS files
  docs/design/antigravity-stored-egress-credentials.md
  src/family_assistant/llm/sandbox_helpers/github_push.py
  tests/unit/llm/test_github_push_helper.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Move deep tier to gpt-6-sol and Luna profiles to gpt-6-luna
  AGENTS.md
  defaults.yaml
  docs/operations/CONFIGURATION_REFERENCE.md
  tests/unit/llm/test_shipped_model_tiers.py
  tests/unit/llm/test_shipped_reasoning_config.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt

Default OpenAI image model to gpt-image-2.5-sunburst
  src/family_assistant/config_models.py
  src/family_assistant/tools/image_backends.py
  tests/unit/tools/test_image_generation_tools.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Record that the egress proxy overwrites a sandbox-set Authorization header
  docs/design/antigravity-stored-egress-credentials.md
Due: mdformat

Record the alternatives weighed for pushing from the coder sandbox
  docs/design/antigravity-stored-egress-credentials.md
Due: mdformat

Match the GitHub host exactly in the push helper; explain a suppression
  src/family_assistant/llm/sandbox_helpers/github_push.py
  tests/functional/tasks/test_egress_credential_rotation_startup.py
  tests/unit/llm/test_github_push_helper.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Give the coder sandbox plain git through a substituted credential
  docs/design/antigravity-environment-and-credentials.md
  docs/design/antigravity-stored-egress-credentials.md
  docs/operations/CONFIGURATION_REFERENCE.md
  src/family_assistant/assistant.py
  src/family_assistant/llm/antigravity_egress.py
  src/family_assistant/llm/providers/google_genai_client.py
  src/family_assistant/llm/sandbox_helpers/__init__.py
  src/family_assistant/llm/sandbox_helpers/github_push.py
  tests/integration/llm/test_google_antigravity_integration.py
  tests/llm/test_google_antigravity.py
  tests/unit/llm/test_antigravity_egress.py
  tests/unit/llm/test_github_push_helper.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Store one git credential per domain set; require exact git hosts
  docs/design/antigravity-stored-egress-credentials.md
  docs/operations/CONFIGURATION_REFERENCE.md
  src/family_assistant/config_models.py
  src/family_assistant/llm/antigravity_egress.py
  tests/unit/llm/test_antigravity_egress.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Support the git credential on github.com only
  docs/design/antigravity-stored-egress-credentials.md
  docs/operations/CONFIGURATION_REFERENCE.md
  src/family_assistant/config_models.py
  src/family_assistant/llm/antigravity_egress.py
  src/family_assistant/llm/providers/google_genai_client.py
  tests/llm/test_google_antigravity.py
  tests/unit/llm/test_antigravity_egress.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Reject a static header that shadows a rule's credential
  src/family_assistant/config_models.py
  tests/unit/llm/test_antigravity_egress.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Draft design: judge memory provenance by authorship
  docs/design/memory-authorship-provenance.md
Due: mdformat

Bind review citations to rendered rows; defer only where review runs
  docs/design/memory-authorship-provenance.md
Due: mdformat

Draft design: adjudicate high-risk sinks regardless of turn taint
  docs/design/memory-authorship-provenance.md
  docs/design/taint-independent-sink-adjudication.md
Due: mdformat

Narrow memory requirement to the reuse model; stamp authorship at the persistence chokepoint
  docs/design/memory-authorship-provenance.md
Due: mdformat

Withdraw no-friction claim for enforce; record irreversible local sinks as out of scope
  docs/design/taint-independent-sink-adjudication.md
Due: mdformat

Deferral result promises no storage for non-self-contained requests
  docs/design/memory-authorship-provenance.md
Due: mdformat

Base sink adjudication evidence on the sink-turn classification
  docs/design/taint-independent-sink-adjudication.md
Due: mdformat

Drop the operational-data regrading: telemetry and logs carry external text
  docs/design/taint-independent-sink-adjudication.md
Due: mdformat

Replace always-adjudicate design with grading by introduced content
  docs/design/taint-grading-by-introduced-content.md
  docs/design/taint-independent-sink-adjudication.md
Due: mdformat

Add output_machine_data tag; tag the time server trusted
  defaults.yaml
  docs/operations/CONFIGURATION_REFERENCE.md
  src/family_assistant/security/taint.py
  src/family_assistant/tools/metadata.py
  tests/unit/security/test_runtime_taint.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt

Grade calendar events by content provenance; keep camera imagery external
  docs/design/taint-grading-by-introduced-content.md
Due: mdformat

Record seller-written listing titles as an accepted residual
  docs/design/taint-grading-by-introduced-content.md
Due: mdformat

Resolve conflicting output tags to the least trusted; name the time tools
  defaults.yaml
  src/family_assistant/security/taint.py
  tests/unit/security/test_runtime_taint.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, yamlfmt

Let unspecified output trust outrank machine data
  src/family_assistant/security/taint.py
  tests/unit/security/test_runtime_taint.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Grade delegation and attachment reads by the content they return
  src/family_assistant/security/taint.py
  src/family_assistant/task_worker.py
  src/family_assistant/tools/__init__.py
  src/family_assistant/tools/attachments.py
  src/family_assistant/tools/data_manipulation.py
  src/family_assistant/tools/services.py
  src/family_assistant/tools/taint_helpers.py
  tests/functional/automations/test_async_delegation.py
  tests/functional/tools/test_attachment_taint_inheritance.py
  tests/functional/tools/test_defaults_tool_policy_parity.py
  tests/unit/tools/test_delegation_policy.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Keep a confirmed delegation's taint on its result
  src/family_assistant/tools/services.py
  tests/unit/tools/test_delegation_policy.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Speak with Leda in en-AU, in a calm professional Australian register
  defaults.yaml
  docs/design/ios-voice-mode.md
  docs/operations/CONFIGURATION_REFERENCE.md
  frontend/src/voice/types.ts
  frontend/src/voice/useGeminiLive.ts
  ios/FamilyAssistant/FamilyAssistant/Voice/GeminiLiveCodec.swift
  ios/FamilyAssistant/FamilyAssistant/Voice/GeminiLiveModels.swift
  ios/FamilyAssistant/FamilyAssistantTests/EphemeralTokenTests.swift
  ios/FamilyAssistant/FamilyAssistantTests/GeminiLiveCodecTests.swift
  src/family_assistant/config_models.py
  src/family_assistant/web/models.py
  src/family_assistant/web/routers/asterisk_live_api.py
  src/family_assistant/web/routers/gemini_live_api.py
  tests/unit/web/test_gemini_live_api.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt, biome-format, eslint

Show event details in calendar confirmations behind nested providers
  src/family_assistant/tools/confirmation.py
  tests/functional/calendar/test_calendar_confirmation.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Carry calendar config on the tool execution context
  src/family_assistant/assistant.py
  src/family_assistant/processing/interactions_agent_service.py
  src/family_assistant/processing/tool_execution.py
  src/family_assistant/processing/types.py
  src/family_assistant/task_worker.py
  src/family_assistant/tools/CLAUDE.md
  src/family_assistant/tools/confirmation.py
  src/family_assistant/tools/infrastructure.py
  src/family_assistant/tools/types.py
  src/family_assistant/web/routers/asterisk_live_api.py
  src/family_assistant/web/routers/tools_api.py
  tests/functional/calendar/test_calendar_confirmation.py
  tests/functional/calendar/test_event_management.py
  tests/functional/calendar/test_integration.py
  tests/functional/web/api/test_chat_messages.py
  tests/functional/web/api/test_chat_nonstreaming_confirmation.py
  tests/functional/web/api/test_chat_streaming.py
  tests/functional/web/api/test_resumable_streaming.py
  tests/functional/web/api/test_web_multimodal_to_llm.py
  tests/functional/web/conftest.py
  tests/unit/calendar_config/test_calendar_config_from_context.py
  tests/unit/calendar_config/test_profile_calendar_provider.py
  tests/unit/processing/test_tool_execution_safety_confirmation.py
  tests/unit/tools/test_calendar_tools.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Use the script's profile calendar and fix a test fake
  src/family_assistant/task_worker.py
  tests/functional/tasks/test_confirmation_tool_execution.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

feat(taint): grade derived media outputs as trusted
  src/family_assistant/tools/__init__.py
  tests/unit/security/test_runtime_taint.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

feat(taint): grade calendar events by durable provenance
  alembic/versions/2026_09_26-add_calendar_event_provenance.py
  docs/design/taint-grading-by-introduced-content.md
  docs/user/calendar.md
  src/family_assistant/storage/__init__.py
  src/family_assistant/storage/calendar_provenance.py
  src/family_assistant/storage/database.py
  src/family_assistant/storage/repositories/__init__.py
  src/family_assistant/storage/repositories/calendar_provenance.py
  src/family_assistant/tools/__init__.py
  src/family_assistant/tools/calendar.py
  src/family_assistant/tools/calendar_provenance.py
  src/family_assistant/tools/events.py
  tests/functional/automations/test_event_taint.py
  tests/functional/calendar/test_calendar_provenance.py
  tests/functional/tools/test_google_calendar_tools.py
  tests/unit/tools/test_calendar_tools.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Use lightweight ping for MCP health checks and relax tool refresh interval
  defaults.yaml
  src/family_assistant/assistant.py
  src/family_assistant/config_models.py
  src/family_assistant/tools/mcp.py
  tests/unit/tools/test_mcp_health_check.py
  tests/unit/tools/test_mcp_reconnect_backoff.py
  tests/unit/tools/test_mcp_tool_refresh.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, yamlfmt

fix(taint): conservatively grade calendar diagnostic text
  src/family_assistant/tools/calendar.py
  src/family_assistant/tools/calendar_provenance.py
  src/family_assistant/tools/events.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Path conditions:
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  basedpyright: any of: \.py$
  code-conformance: any of: \.py$
  mdformat: any of: \.(md|markdown|mdown)$, but not: (?x)^( 
  docs/python-telegram-bot-abridged\.md|
  docs/python-telegram-bot-abridged-filtered\.md
)$

  yamlfmt: any of: \.(yaml|yml)$
  biome-format: any of: ^frontend/.*\.(js|jsx|ts|tsx|json)$, but not: ^frontend/(dev-dist/|package-lock\.json$)
  eslint: any of: ^frontend/.*\.(js|jsx|ts|tsx)$
