Repository werdnum/family-assistant: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt, biome-format, eslint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-check
        name: ruff-check
        entry: ruff check --fix --preview
        language: system
        types: [python]
      - id: ruff-format
        name: ruff-format
        entry: ruff format --preview
        language: system
        types: [python]
  - repo: local
    hooks:
      - id: basedpyright
        name: basedpyright
        entry: basedpyright
        language: system
        types: [python]
        pass_filenames: false
      - id: code-conformance
        name: code-conformance
        entry: .ast-grep/check-conformance.py
        language: system
        types: [python]
        pass_filenames: true
  - repo: local
    hooks:
      - id: mdformat
        name: mdformat
        entry: mdformat --wrap 100
        language: system
        types: [markdown]
        exclude: "(?x)^( \n  docs/python-telegram-bot-abridged\\.md|\n  docs/python-telegram-bot-abridged-filtered\\.md\n)$\n"
  - repo: local
    hooks:
      - id: yamlfmt
        name: yamlfmt
        language: golang
        entry: yamlfmt
        additional_dependencies:
          - github.com/google/yamlfmt/cmd/yamlfmt@v0.17.0
        types: [yaml]
  - repo: local
    hooks:
      - id: biome-format
        name: biome-format
        entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx @biomejs/biome format --write "${files[@]}"' --
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx|json)$
        exclude: ^frontend/(dev-dist/|package-lock\.json$)
        pass_filenames: true
      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx eslint --fix "${files[@]}"' --
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx)$
        pass_filenames: true

feat(ios): Gemini Live protocol client + ephemeral token (voice M1)
  ios/FamilyAssistant/FamilyAssistant.xcodeproj/project.pbxproj
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatAPIClient.swift
  ios/FamilyAssistant/FamilyAssistant/Voice/GeminiLiveClient.swift
  ios/FamilyAssistant/FamilyAssistant/Voice/GeminiLiveCodec.swift
  ios/FamilyAssistant/FamilyAssistant/Voice/GeminiLiveModels.swift
  ios/FamilyAssistant/FamilyAssistant/Voice/GeminiLiveSocket.swift
  ios/FamilyAssistant/FamilyAssistant/Voice/VoiceJSONValue.swift
  ios/FamilyAssistant/FamilyAssistantTests/EphemeralTokenTests.swift
  ios/FamilyAssistant/FamilyAssistantTests/GeminiLiveClientTests.swift
  ios/FamilyAssistant/FamilyAssistantTests/GeminiLiveCodecTests.swift
Due: none

feat(ios): full-duplex voice audio engine (voice M2)
  ios/FamilyAssistant/FamilyAssistant.xcodeproj/project.pbxproj
  ios/FamilyAssistant/FamilyAssistant/Voice/PCMConverter.swift
  ios/FamilyAssistant/FamilyAssistant/Voice/VoiceAudioEngine.swift
  ios/FamilyAssistant/FamilyAssistantTests/PCMConverterTests.swift
Due: none

feat(ios): voice tool runner -> /api/tools/execute (voice M4)
  ios/FamilyAssistant/FamilyAssistant.xcodeproj/project.pbxproj
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatAPIClient.swift
  ios/FamilyAssistant/FamilyAssistant/Voice/VoiceToolRunner.swift
  ios/FamilyAssistant/FamilyAssistantTests/VoiceToolRunnerTests.swift
Due: none

docs(a2a): add two-sided architecture (async server + client poll)
  docs/design/a2a-native-async-delegation.md
Due: mdformat

feat(ios): voice session view model, screen, and native route (voice M3)
  ios/FamilyAssistant/FamilyAssistant.xcodeproj/project.pbxproj
  ios/FamilyAssistant/FamilyAssistant/AppRouting.swift
  ios/FamilyAssistant/FamilyAssistant/MoreTabView.swift
  ios/FamilyAssistant/FamilyAssistant/Voice/VoiceSessionViewModel.swift
  ios/FamilyAssistant/FamilyAssistant/Voice/VoiceTranscript.swift
  ios/FamilyAssistant/FamilyAssistant/Voice/VoiceView.swift
  ios/FamilyAssistant/FamilyAssistantTests/VoiceSessionViewModelTests.swift
  ios/FamilyAssistant/FamilyAssistantTests/VoiceTranscriptTests.swift
Due: none

feat(ios): background audio, mic usage string, interruption handling (voice M5)
  ios/FamilyAssistant/FamilyAssistant/Info.plist
  ios/FamilyAssistant/FamilyAssistant/Voice/VoiceAudioEngine.swift
Due: none

feat: persist voice sessions as their own conversation (voice M6)
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatAPIClient.swift
  ios/FamilyAssistant/FamilyAssistant/Voice/VoiceSessionViewModel.swift
  ios/FamilyAssistant/FamilyAssistant/Voice/VoiceView.swift
  ios/FamilyAssistant/FamilyAssistantTests/EphemeralTokenTests.swift
  ios/FamilyAssistant/FamilyAssistantTests/VoiceSessionViewModelTests.swift
  src/family_assistant/web/models.py
  src/family_assistant/web/routers/chat_api.py
  tests/functional/web/api/test_voice_sessions.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

fix(ios): address voice-mode review findings
  ios/FamilyAssistant/FamilyAssistant/AppRouting.swift
  ios/FamilyAssistant/FamilyAssistant/Voice/VoiceSessionViewModel.swift
  ios/FamilyAssistant/FamilyAssistantTests/RouteTests.swift
  src/family_assistant/web/routers/chat_api.py
  tests/functional/web/api/test_voice_sessions.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

docs(ios): mark voice-mode design as implemented
  docs/design/ios-voice-mode.md
Due: mdformat

test(web): serialize frontend build across pytest-xdist workers
  .gitignore
  pyproject.toml
  tests/functional/web/conftest.py
  uv.lock
Due: ruff-check, ruff-format, basedpyright, code-conformance

feat(a2a): async message/send via blocking=false (server side)
  src/family_assistant/assistant.py
  src/family_assistant/web/routers/a2a_api.py
  tests/functional/web/api/test_a2a_api.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

fix(ios): address Codex review on voice session start-up
  ios/FamilyAssistant/FamilyAssistant/Voice/VoiceSessionViewModel.swift
  ios/FamilyAssistant/FamilyAssistantTests/VoiceSessionViewModelTests.swift
Due: none

fix: address second Codex review pass on voice mode
  ios/FamilyAssistant/FamilyAssistant/Voice/GeminiLiveClient.swift
  ios/FamilyAssistant/FamilyAssistant/Voice/VoiceAudioEngine.swift
  ios/FamilyAssistant/FamilyAssistant/Voice/VoiceSessionViewModel.swift
  ios/FamilyAssistant/FamilyAssistantTests/GeminiLiveClientTests.swift
  ios/FamilyAssistant/FamilyAssistantTests/VoiceSessionViewModelTests.swift
  src/family_assistant/web/routers/chat_api.py
  tests/functional/web/api/test_voice_sessions.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

fix(ios): harden voice mode (xhigh review)
  ios/FamilyAssistant/FamilyAssistant/AppRouting.swift
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatAPIClient.swift
  ios/FamilyAssistant/FamilyAssistant/MoreTabView.swift
  ios/FamilyAssistant/FamilyAssistant/Voice/VoiceAudioEngine.swift
  ios/FamilyAssistant/FamilyAssistant/Voice/VoiceSessionViewModel.swift
  ios/FamilyAssistant/FamilyAssistantTests/VoiceSessionViewModelTests.swift
Due: none

feat(a2a): native async delegation — client submit-then-poll
  alembic/versions/2026_06_20-e909ea33321b_add_async_remote_columns_to_delegation_.py
  src/family_assistant/a2a/client.py
  src/family_assistant/a2a/remote_service.py
  src/family_assistant/assistant.py
  src/family_assistant/processing/__init__.py
  src/family_assistant/processing/protocol.py
  src/family_assistant/processing/types.py
  src/family_assistant/storage/delegation_runs.py
  src/family_assistant/storage/repositories/delegation_runs.py
  src/family_assistant/task_worker.py
  src/family_assistant/web/routers/a2a_api.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

test(a2a): cover native async delegation
  tests/functional/automations/test_async_delegation.py
  tests/functional/storage/test_delegation_runs.py
  tests/functional/web/api/test_a2a_api.py
  tests/functional/web/api/test_a2a_client_integration.py
  tests/mocks/mock_llm.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

docs(a2a): mark native async delegation implemented; user guide note
  docs/design/a2a-native-async-delegation.md
  docs/user/USER_GUIDE.md
Due: mdformat

fix(a2a): claim queued->running before remote submit
  src/family_assistant/a2a/remote_service.py
  src/family_assistant/storage/repositories/delegation_runs.py
  src/family_assistant/task_worker.py
  tests/functional/storage/test_delegation_runs.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

fix(a2a): address Codex review (durability + error handling)
  src/family_assistant/a2a/client.py
  src/family_assistant/storage/repositories/delegation_runs.py
  src/family_assistant/task_worker.py
  src/family_assistant/web/routers/a2a_api.py
  tests/functional/automations/test_async_delegation.py
  tests/functional/storage/test_delegation_runs.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

fix(a2a): CAS terminal transition so a poll can't resurrect a reaped run
  src/family_assistant/storage/repositories/delegation_runs.py
  src/family_assistant/task_worker.py
  tests/functional/storage/test_delegation_runs.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

fix(a2a): persist remote task id before submit; cap from configured timeout
  docs/design/a2a-native-async-delegation.md
  src/family_assistant/a2a/remote_service.py
  src/family_assistant/assistant.py
  src/family_assistant/config_models.py
  src/family_assistant/processing/protocol.py
  src/family_assistant/storage/repositories/delegation_runs.py
  src/family_assistant/task_worker.py
  tests/functional/automations/test_async_delegation.py
  tests/functional/storage/test_delegation_runs.py
  tests/functional/web/api/test_a2a_client_integration.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

fix(a2a): idempotent submit/resubmit + reconcile remote id
  src/family_assistant/config_models.py
  src/family_assistant/storage/repositories/delegation_runs.py
  src/family_assistant/task_worker.py
  src/family_assistant/web/routers/a2a_api.py
  tests/functional/automations/test_async_delegation.py
  tests/functional/web/api/test_a2a_api.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

fix(a2a): reconcile ambiguous submit errors
  src/family_assistant/task_worker.py
  tests/functional/automations/test_async_delegation.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

feat(a2a): reap stale server task rows lost to a restart
  docs/design/a2a-native-async-delegation.md
  src/family_assistant/assistant.py
  src/family_assistant/storage/repositories/a2a_tasks.py
  src/family_assistant/task_worker.py
  tests/functional/storage/test_a2a_tasks.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

fix(a2a): probe on submit failure
  src/family_assistant/storage/repositories/a2a_tasks.py
  src/family_assistant/task_worker.py
  src/family_assistant/web/routers/a2a_api.py
  tests/functional/automations/test_async_delegation.py
  tests/functional/storage/test_a2a_tasks.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

fix(a2a): classify transient vs permanent errors
  docs/design/a2a-native-async-delegation.md
  src/family_assistant/a2a/client.py
  src/family_assistant/assistant.py
  src/family_assistant/storage/repositories/a2a_tasks.py
  src/family_assistant/task_worker.py
  tests/functional/automations/test_async_delegation.py
  tests/functional/storage/test_a2a_tasks.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

fix(delegation): re-submit on remote task-not-found instead of failing
  docs/design/a2a-native-async-delegation.md
  src/family_assistant/a2a/client.py
  src/family_assistant/task_worker.py
  tests/functional/automations/test_async_delegation.py
  tests/functional/web/api/test_a2a_client_integration.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

fix(a2a): classify deterministic local client errors as permanent
  src/family_assistant/a2a/client.py
  tests/unit/a2a_client/test_a2a_client.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

fix(a2a): don't send a client-supplied task id on async submit (spec §3.4.2)
  docs/design/a2a-native-async-delegation.md
  src/family_assistant/a2a/remote_service.py
  src/family_assistant/processing/protocol.py
  src/family_assistant/storage/repositories/delegation_runs.py
  src/family_assistant/task_worker.py
  tests/functional/automations/test_async_delegation.py
  tests/functional/web/api/test_a2a_client_integration.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

test(web): fix flaky invalid-attachment error test
  tests/functional/web/ui/test_chat_attachments.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

fix(a2a): classify discovery 4xx as permanent; persist terminal on shutdown-cancel
  src/family_assistant/a2a/client.py
  src/family_assistant/web/routers/a2a_api.py
  tests/functional/web/api/test_a2a_api.py
  tests/unit/a2a_client/test_a2a_client.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

fix(web): keep tool calls from vanishing when text streams after them
  frontend/src/chat/ChatApp.tsx
Due: biome-format, eslint

fix(delegation): poll once before timing out a remote delegation
  src/family_assistant/task_worker.py
  tests/functional/automations/test_async_delegation.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Revert "fix(web): keep tool calls from vanishing when text streams after them"
  frontend/src/chat/ChatApp.tsx
Due: biome-format, eslint

style: apply ruff --preview formatting to satisfy CI lint
  tests/functional/web/ui/test_chat_attachments.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

test(web): use dict[str, object] to satisfy no-dict-any conformance
  tests/functional/web/ui/test_chat_attachments.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Enable ruff preview via config for editor-hook/CI consistency
  .pre-commit-config.yaml
  REVIEW_GUIDELINES.md
  pyproject.toml
  scripts/format-and-lint.sh
  scripts/run-tests.sh
Due: mdformat, yamlfmt

fix(web): re-commit finalized tool turns so the tool call doesn't vanish
  frontend/src/chat/ChatApp.tsx
Due: biome-format, eslint

fix(delegation): recover stuck null-id remote submits
  docs/design/a2a-native-async-delegation.md
  src/family_assistant/a2a/client.py
  src/family_assistant/a2a/remote_service.py
  src/family_assistant/assistant.py
  src/family_assistant/processing/types.py
  src/family_assistant/task_worker.py
  tests/functional/automations/test_async_delegation.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

fix(a2a): make task idempotency atomic
  src/family_assistant/storage/repositories/a2a_tasks.py
  src/family_assistant/web/routers/a2a_api.py
  tests/functional/storage/test_a2a_tasks.py
  tests/functional/web/api/test_a2a_api.py
Due: ruff-check, ruff-format, basedpyright, code-conformance
