Repository werdnum/family-assistant: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt, biome-format, eslint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-check
        name: ruff-check
        entry: ruff check --fix --preview
        language: system
        types: [python]
      - id: ruff-format
        name: ruff-format
        entry: ruff format --preview
        language: system
        types: [python]
  - repo: local
    hooks:
      - id: basedpyright
        name: basedpyright
        entry: basedpyright
        language: system
        types: [python]
        pass_filenames: false
      - id: code-conformance
        name: code-conformance
        entry: .ast-grep/check-conformance.py
        language: system
        types: [python]
        pass_filenames: true
  - repo: local
    hooks:
      - id: mdformat
        name: mdformat
        entry: mdformat --wrap 100
        language: system
        types: [markdown]
        exclude: "(?x)^( \n  docs/python-telegram-bot-abridged\\.md|\n  docs/python-telegram-bot-abridged-filtered\\.md\n)$\n"
  - repo: local
    hooks:
      - id: yamlfmt
        name: yamlfmt
        language: golang
        entry: yamlfmt
        additional_dependencies:
          - github.com/google/yamlfmt/cmd/yamlfmt@v0.17.0
        types: [yaml]
  - repo: local
    hooks:
      - id: biome-format
        name: biome-format
        entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx @biomejs/biome format --write "${files[@]}"' --
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx|json)$
        exclude: ^frontend/(dev-dist/|package-lock\.json$)
        pass_filenames: true
      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx eslint --fix "${files[@]}"' --
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx)$
        pass_filenames: true

fix(ios): give chat bubbles a single converging width
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatViews.swift
Due: none

fix(ios): render only a recent window of chat bubbles
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatViewModel.swift
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatViews.swift
  ios/FamilyAssistant/FamilyAssistant/UITesting/UITestConfiguration.swift
  ios/FamilyAssistant/FamilyAssistantTests/ChatViewModelTests.swift
Due: none

docs(ios): add chat-thread layout watchdog fix screenshots
  docs/design/native-ios-chat-screenshots/watchdog-fix-conversation-list.png
  docs/design/native-ios-chat-screenshots/watchdog-fix-load-earlier.png
  docs/design/native-ios-chat-screenshots/watchdog-fix-markdown-thread.png
Due: none

fix(ios): skip chat-thread layout whenever the scene is not active
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatViews.swift
  ios/FamilyAssistant/FamilyAssistantTests/NotificationManagerTests.swift
Due: none

feat(ios): add chat streaming drop telemetry + regression tests
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatViewModel.swift
  ios/FamilyAssistant/FamilyAssistantTests/ChatViewModelTests.swift
Due: none

fix(ios): address Codex review on stream-drop telemetry
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatViewModel.swift
  ios/FamilyAssistant/FamilyAssistantTests/ChatViewModelTests.swift
Due: none

Harden delegation run lifecycle: claim guard, recovery sweep, API/iOS notifications
  src/family_assistant/storage/repositories/delegation_runs.py
  src/family_assistant/task_worker.py
  tests/functional/automations/test_async_delegation.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Decouple delegation state machine from the worker transaction
  alembic/versions/2026_06_07-add_delegation_runs_table.py
  docs/design/async_delegation_robustness.md
  src/family_assistant/services/attachment_registry.py
  src/family_assistant/storage/delegation_runs.py
  src/family_assistant/storage/repositories/delegation_runs.py
  src/family_assistant/task_worker.py
  src/family_assistant/tools/services.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

feat(delegation): add async_delegation_enabled kill switch
  docs/design/async_delegation_robustness.md
  src/family_assistant/config_models.py
  src/family_assistant/tools/services.py
  tests/functional/automations/test_async_delegation.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Don't record failed delegation notifications as delivered
  docs/design/async_delegation_robustness.md
  src/family_assistant/task_worker.py
  tests/functional/automations/test_async_delegation.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Harden delegation reaper after self-review
  alembic/versions/2026_06_07-add_delegation_runs_table.py
  docs/design/async_delegation_robustness.md
  src/family_assistant/storage/delegation_runs.py
  src/family_assistant/storage/repositories/delegation_runs.py
  src/family_assistant/task_worker.py
  tests/functional/automations/test_async_delegation.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Validate delegation attachments against committed state; add stale-run reaper
  src/family_assistant/assistant.py
  src/family_assistant/task_worker.py
  src/family_assistant/tools/services.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Persist decision-only confirmation mode durably
  alembic/versions/2026_06_12-add_confirmation_decision_only.py
  src/family_assistant/services/confirmation_service.py
  src/family_assistant/storage/confirmation_requests.py
  src/family_assistant/storage/repositories/confirmation_requests.py
  src/family_assistant/telegram/ui.py
  src/family_assistant/web/web_confirmation_ui_manager.py
  tests/functional/storage/test_confirmation_requests.py
  tests/functional/telegram/test_telegram_confirmation.py
  tests/unit/web/test_chat_confirmation_decision_only.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

fix(delegation): stop duplicate notifications and attachment loss on inline path
  src/family_assistant/tools/services.py
  tests/functional/automations/test_async_delegation.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Re-parent delegation migration onto main head after rebase
  alembic/versions/2026_06_07-add_delegation_runs_table.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Preserve confirmations for async delegation
  src/family_assistant/task_worker.py
  tests/functional/automations/test_async_delegation.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Add durable web ConfirmationUIManager for background runs (C7)
  src/family_assistant/assistant.py
  src/family_assistant/web/turn_producer.py
  src/family_assistant/web/web_confirmation_ui_manager.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Fix async delegation confirmation review issues
  src/family_assistant/services/confirmation_service.py
  src/family_assistant/services/confirmation_wait.py
  src/family_assistant/services/confirmation_waiters.py
  src/family_assistant/storage/repositories/confirmation_requests.py
  src/family_assistant/task_worker.py
  src/family_assistant/telegram/protocols.py
  src/family_assistant/telegram/service.py
  src/family_assistant/telegram/ui.py
  src/family_assistant/web/routers/chat_api.py
  src/family_assistant/web/web_confirmation_ui_manager.py
  tests/functional/automations/test_async_delegation.py
  tests/functional/email_intake/test_email_actions.py
  tests/functional/storage/test_confirmation_requests.py
  tests/unit/services/test_confirmation_wait.py
  tests/unit/web/test_chat_confirmation_decision_only.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Register delegation handlers and stream hub in the worker pool builder
  src/family_assistant/assistant.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Test delegation robustness fixes; register delegation handlers by default
  tests/conftest.py
  tests/functional/automations/test_async_delegation.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Collapse triplicated subconversation filter; finalize design notes
  docs/design/async_delegation_robustness.md
  src/family_assistant/storage/repositories/message_history.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Implement async profile delegation
  alembic/versions/2026_06_07-add_delegation_runs_table.py
  defaults.yaml
  docs/user/USER_GUIDE.md
  prompts.yaml
  src/family_assistant/config_models.py
  src/family_assistant/storage/__init__.py
  src/family_assistant/storage/context.py
  src/family_assistant/storage/delegation_runs.py
  src/family_assistant/storage/repositories/__init__.py
  src/family_assistant/storage/repositories/delegation_runs.py
  src/family_assistant/storage/repositories/message_history.py
  src/family_assistant/task_worker.py
  src/family_assistant/tools/__init__.py
  src/family_assistant/tools/services.py
  tests/conftest.py
  tests/functional/automations/test_async_delegation.py
  tests/functional/automations/test_delegation_basic.py
  tests/functional/automations/test_delegation_workflows.py
  tests/functional/automations/test_self_delegation.py
  tests/functional/automations/test_subconversation_isolation.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt

fix(delegation): run delegate_to_service synchronously inside scripts
  docs/design/async_delegation_robustness.md
  src/family_assistant/tools/execute_script.py
  src/family_assistant/tools/services.py
  src/family_assistant/tools/types.py
  tests/functional/automations/test_async_delegation.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

fix(delegation): mark in_script in MontyEngine so scheduled scripts are covered
  src/family_assistant/scripting/monty_engine.py
  src/family_assistant/tools/execute_script.py
  tests/functional/scripting/test_direct_tool_callables.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

fix(ios): resume the chat token stream across mid-turn drops
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatViewModel.swift
  ios/FamilyAssistant/FamilyAssistantTests/ChatViewModelTests.swift
Due: none

fix(ios): don't abandon a quiet but still-running turn on resume
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatViewModel.swift
  ios/FamilyAssistant/FamilyAssistantTests/ChatViewModelTests.swift
Due: none

docs(ios): design for chat live resilience (M1 SSE-independent catch-up + M2 token follow)
  docs/design/ios-chat-live-resilience.md
Due: mdformat

fix(ios): catch up chat history independent of SSE health
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatViewModel.swift
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatViews.swift
  ios/FamilyAssistant/FamilyAssistantTests/ChatViewModelTests.swift
Due: none

feat(ios): stream live tokens on the always-on follow loop
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatViewModel.swift
  ios/FamilyAssistant/FamilyAssistantTests/ChatViewModelTests.swift
Due: none

docs(user): describe iOS chat self-healing + live mid-turn streaming
  docs/user/USER_GUIDE.md
Due: mdformat

fix(ios): address review findings on live-follow token streaming
  docs/design/ios-chat-live-resilience.md
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatViewModel.swift
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatViews.swift
  ios/FamilyAssistant/FamilyAssistantTests/ChatViewModelTests.swift
Due: mdformat

test(ios): cover remaining live-follow review regressions
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatViewModel.swift
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatViews.swift
  ios/FamilyAssistant/FamilyAssistantTests/ChatViewModelTests.swift
Due: none

fix(ios): order, resume, and empty-thread gaps in live-follow streaming
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatViewModel.swift
  ios/FamilyAssistant/FamilyAssistantTests/ChatViewModelTests.swift
Due: none

fix(ios): address self-review findings on live-follow streaming
  docs/design/ios-chat-live-resilience.md
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatViewModel.swift
  ios/FamilyAssistant/FamilyAssistantTests/ChatViewModelTests.swift
Due: mdformat

feat(chat-api): expose turn_id on conversation messages
  src/family_assistant/web/routers/chat_api.py
  tests/functional/web/ui/test_conversation_messages.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

test(chat-api): cover legacy branch and turn-reply turn_id
  tests/functional/web/ui/test_conversation_messages.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

feat(ios): reconcile live-follow bubbles to persisted rows by turn_id
  docs/design/ios-chat-live-resilience.md
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatModels.swift
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatViewModel.swift
  ios/FamilyAssistant/FamilyAssistantTests/ChatViewModelTests.swift
Due: mdformat

fix(delegation): steer the model to wait for async results instead of polling
  docs/design/asynchronous-profile-delegation.md
  prompts.yaml
  src/family_assistant/tools/services.py
  tests/functional/automations/test_async_delegation.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt

docs(ios): design for native voice mode (Gemini Live, direct transport)
  docs/design/ios-voice-mode.md
Due: mdformat

docs(a2a): plan native async delegation for the A2A path
  docs/design/a2a-native-async-delegation.md
Due: mdformat
