Repository werdnum/family-assistant: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt, biome-format, eslint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-check
        name: ruff-check
        entry: ruff check --fix --preview
        language: system
        types: [python]
      - id: ruff-format
        name: ruff-format
        entry: ruff format --preview
        language: system
        types: [python]
  - repo: local
    hooks:
      - id: basedpyright
        name: basedpyright
        entry: basedpyright
        language: system
        types: [python]
        pass_filenames: false
      - id: code-conformance
        name: code-conformance
        entry: .ast-grep/check-conformance.py
        language: system
        types: [python]
        pass_filenames: true
  - repo: local
    hooks:
      - id: mdformat
        name: mdformat
        entry: mdformat --wrap 100
        language: system
        types: [markdown]
        exclude: "(?x)^( \n  docs/python-telegram-bot-abridged\\.md|\n  docs/python-telegram-bot-abridged-filtered\\.md\n)$\n"
  - repo: local
    hooks:
      - id: yamlfmt
        name: yamlfmt
        language: golang
        entry: yamlfmt
        additional_dependencies:
          - github.com/google/yamlfmt/cmd/yamlfmt@v0.17.0
        types: [yaml]
  - repo: local
    hooks:
      - id: biome-format
        name: biome-format
        entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx @biomejs/biome format --write "${files[@]}"' --
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx|json)$
        exclude: ^frontend/(dev-dist/|package-lock\.json$)
        pass_filenames: true
      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx eslint --fix "${files[@]}"' --
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx)$
        pass_filenames: true

Make UCP shopping tools available in complex_tasks profile
  defaults.yaml
  tests/functional/tools/test_defaults_tool_policy_parity.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, yamlfmt

Allow delegation to/from engineer profile with confirmation
  AGENTS.md
  defaults.yaml
  docs/design/engineer_profile.md
  tests/functional/tools/test_defaults_tool_policy_parity.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt

Fix UCP cart-response parsing and accept same-site/platform endpoints
  defaults.yaml
  docs/design/ucp-cart-response-and-cross-origin-endpoints.md
  docs/user/USER_GUIDE.md
  src/family_assistant/config_models.py
  src/family_assistant/services/ucp.py
  src/family_assistant/skills/builtin/shopping.md
  src/family_assistant/tools/browser_dom.py
  src/family_assistant/tools/shopping.py
  tests/unit/services/test_ucp_service.py
  tests/unit/tools/test_browser_dom.py
  tests/unit/tools/test_shopping_tools.py
  tests/unit/tools/test_shopping_ucp_contract.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt

Tighten engineer delegation gates per review
  defaults.yaml
  docs/design/engineer_profile.md
  src/family_assistant/tools/confirmation.py
  tests/functional/tools/test_defaults_tool_policy_parity.py
  tests/unit/tools/test_delegate_confirmation_renderer.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt

Address Codex review: trust ordering, malformed ports, IP/private hosts
  src/family_assistant/services/ucp.py
  tests/unit/services/test_ucp_service.py
  tests/unit/tools/test_shopping_ucp_contract.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Resolve same-site against a vendored current Public Suffix List
  docs/design/ucp-cart-response-and-cross-origin-endpoints.md
  pyproject.toml
  src/family_assistant/data/public_suffix_list.dat
  src/family_assistant/services/ucp.py
  tests/unit/services/test_ucp_service.py
  uv.lock
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Bound and block over-length delegation confirmation requests
  docs/design/engineer_profile.md
  src/family_assistant/tools/confirmation.py
  src/family_assistant/tools/services.py
  tests/unit/tools/test_delegate_confirmation_renderer.py
  tests/unit/tools/test_delegation_policy.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Mark test_attachment_response_flow flaky (CI timing)
  tests/functional/web/ui/test_chat_attachments.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Restrict same-site/trusted-suffix trust to the default HTTPS port
  src/family_assistant/services/ucp.py
  tests/unit/services/test_ucp_service.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Scope delegation length cap to confirm-gated hand-offs only
  src/family_assistant/tools/confirmation.py
  src/family_assistant/tools/infrastructure.py
  src/family_assistant/tools/services.py
  tests/functional/tools/test_policy_enforcing_provider.py
  tests/unit/tools/test_delegate_confirmation_renderer.py
  tests/unit/tools/test_delegation_policy.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Address review: top-level import, cast over ignore, Telegram length
  src/family_assistant/telegram/ui.py
  src/family_assistant/tools/infrastructure.py
  tests/functional/tools/test_policy_enforcing_provider.py
  tests/unit/telegram/test_confirmation_message_length.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Mark the script-error-notification tests flaky (CI logging race)
  tests/functional/scripting/test_script_error_notification.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

test: extend CI rerun net to postgres Playwright and the async-delegation flake
  tests/conftest.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

test: fix read-skew flake in nested async-delegation wake assertion
  tests/functional/automations/test_subconversation_isolation.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

fix(ios): bound per-message chat layout to dodge the scene-update watchdog
  docs/design/ios-chat-layout-watchdog-crash.md
  docs/user/USER_GUIDE.md
  ios/FamilyAssistant/FamilyAssistant.xcodeproj/project.pbxproj
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatViews.swift
  ios/FamilyAssistant/FamilyAssistant/UITesting/UITestConfiguration.swift
  ios/FamilyAssistant/FamilyAssistantTests/ChatLayoutBudgetTests.swift
  ios/FamilyAssistant/FamilyAssistantUITests/FamilyAssistantUITests.swift
Due: mdformat

feat(web): reuse the main composer for steering instead of a separate box
  docs/user/USER_GUIDE.md
  frontend/src/chat/ChatApp.tsx
  frontend/src/chat/Thread.tsx
  frontend/src/chat/__tests__/ChatApp.test.tsx
  frontend/src/chat/__tests__/TurnControl.test.tsx
  frontend/src/chat/chatControls.ts
  tests/functional/web/ui/test_chat_stop_steer.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, biome-format, eslint

fix(web): make the Steer action a non-submit button
  frontend/src/chat/Thread.tsx
  frontend/src/chat/__tests__/TurnControl.test.tsx
Due: biome-format, eslint

fix(ios): address Codex review on the layout-budget renderer
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatViews.swift
  ios/FamilyAssistant/FamilyAssistant/UITesting/UITestConfiguration.swift
  ios/FamilyAssistant/FamilyAssistantTests/ChatLayoutBudgetTests.swift
  ios/FamilyAssistant/FamilyAssistantUITests/FamilyAssistantUITests.swift
Due: none

fix(web): guard IME Enter and don't block the steer fallback turn
  frontend/src/chat/ChatApp.tsx
  frontend/src/chat/Thread.tsx
  frontend/src/chat/__tests__/TurnControl.test.tsx
Due: biome-format, eslint

fix(web): block attachments during steer and clear composer on convo switch
  frontend/src/chat/ChatApp.tsx
  frontend/src/chat/Thread.tsx
  frontend/src/chat/__tests__/TurnControl.test.tsx
Due: biome-format, eslint

fix(ios): distinguish pageable vs permanent truncation in the chat renderer
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatViews.swift
  ios/FamilyAssistant/FamilyAssistantTests/ChatLayoutBudgetTests.swift
Due: none

Add iOS long-press copy for whole message and conversation ID
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatViews.swift
Due: none

feat(ios): reuse the main composer for steering instead of a separate box
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatViewModel.swift
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatViews.swift
  ios/FamilyAssistant/FamilyAssistantTests/ChatViewModelTests.swift
Due: none

fix(config): deep-merge tools_config and declare MCP on-demand at the server
  config.yaml.example
  defaults.yaml
  docs/design/tools_config_inheritance.md
  src/family_assistant/assistant.py
  src/family_assistant/config_loader.py
  src/family_assistant/config_models.py
  src/family_assistant/tools/CLAUDE.md
  src/family_assistant/tools/README.md
  tests/unit/test_config_loader.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt

fix(ios): clear the composer when a steer is accepted, matching web
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatViewModel.swift
  ios/FamilyAssistant/FamilyAssistantTests/ChatViewModelTests.swift
Due: none

Merge profile tools config with defaults
  src/family_assistant/config_loader.py
  tests/unit/test_config_loader.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Add REST-transport support to the UCP shopping client
  docs/design/ucp-cart-response-and-cross-origin-endpoints.md
  docs/user/USER_GUIDE.md
  src/family_assistant/services/ucp.py
  src/family_assistant/tools/browser_dom.py
  src/family_assistant/tools/shopping.py
  tests/data/ucp/2026-04-08/SOURCE.md
  tests/data/ucp/2026-04-08/rest.openapi.json
  tests/unit/services/test_ucp_service.py
  tests/unit/tools/test_shopping_ucp_contract.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Make jq_query and read_text_attachment available in all profiles
  AGENTS.md
  defaults.yaml
  tests/functional/tools/test_defaults_tool_policy_parity.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt

Send required Request-Id/Idempotency-Key headers on REST calls
  src/family_assistant/tools/shopping.py
  tests/unit/tools/test_shopping_ucp_contract.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Surface script print() output back to the assistant
  docs/user/scripting.md
  src/family_assistant/scripting/monty_engine.py
  src/family_assistant/tools/execute_script.py
  tests/functional/scripting/test_engine.py
  tests/functional/tools/test_execute_script.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Capture script print() output per-execution and bound its size
  docs/user/scripting.md
  src/family_assistant/scripting/monty_engine.py
  src/family_assistant/tools/execute_script.py
  tests/functional/scripting/test_engine.py
  tests/functional/tools/test_execute_script.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Update Gemini thought-signature cassettes for execute_script changes
  tests/cassettes/gemini/functional.web.api.test_thought_signature_persistence/test_multiturn_conversation_non_streaming_preserves_thought_signatures[postgres]/mldev.json
  tests/cassettes/gemini/functional.web.api.test_thought_signature_persistence/test_multiturn_conversation_non_streaming_preserves_thought_signatures[sqlite]/mldev.json
  tests/cassettes/gemini/functional.web.api.test_thought_signature_persistence/test_multiturn_conversation_with_tool_calls_preserves_thought_signatures[postgres]/mldev.json
  tests/cassettes/gemini/functional.web.api.test_thought_signature_persistence/test_multiturn_conversation_with_tool_calls_preserves_thought_signatures[sqlite]/mldev.json
  tests/cassettes/gemini/functional.web.api.test_thought_signature_persistence/test_streaming_multiturn_with_tool_calls_reproduces_bug[postgres]/mldev.json
  tests/cassettes/gemini/functional.web.api.test_thought_signature_persistence/test_streaming_multiturn_with_tool_calls_reproduces_bug[sqlite]/mldev.json
Due: none

fix(ios): keep a conversation's profile so follow-ups don't lose history
  docs/user/USER_GUIDE.md
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatViewModel.swift
  ios/FamilyAssistant/FamilyAssistantTests/ChatViewModelTests.swift
Due: mdformat

Bound script output by characters and skip empty print chunks
  src/family_assistant/scripting/monty_engine.py
  tests/functional/scripting/test_engine.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

fix(ios): block sending while a conversation's history loads
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatViewModel.swift
  ios/FamilyAssistant/FamilyAssistantTests/ChatViewModelTests.swift
Due: none

fix(web): adopt a conversation's profile when reopening it
  docs/user/USER_GUIDE.md
  frontend/src/chat/ChatApp.tsx
  frontend/src/chat/__tests__/ChatApp.test.tsx
  frontend/src/chat/types.ts
Due: mdformat, biome-format, eslint

fix(ios): clear loading gate on new conversation so deep-link auto-send fires
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatViewModel.swift
  ios/FamilyAssistant/FamilyAssistantTests/ChatViewModelTests.swift
Due: none

fix(web): resolve adopted profile server-side, independent of page limit
  frontend/src/chat/ChatApp.tsx
  frontend/src/chat/__tests__/ChatApp.test.tsx
  frontend/src/chat/types.ts
  src/family_assistant/storage/repositories/message_history.py
  src/family_assistant/web/routers/chat_api.py
  tests/functional/storage/test_message_history_querying.py
  tests/functional/web/api/test_chat_attachments.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, biome-format, eslint
