Repository werdnum/family-assistant: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, basedpyright, mdformat, biome-format, eslint

ruff-check:
  name: ruff-check
  entry: ruff check --fix --preview
  language: system

ruff-format:
  name: ruff-format
  entry: ruff format --preview
  language: system

basedpyright:
  name: basedpyright
  entry: basedpyright
  language: system
  pass_filenames: false

mdformat:
  name: mdformat
  entry: mdformat --wrap 100
  language: system

biome-format:
  name: biome-format
  entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx @biomejs/biome format --write "${files[@]}"' --
  language: system
  pass_filenames: true

eslint:
  name: eslint
  entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx eslint --fix "${files[@]}"' --
  language: system
  pass_filenames: true

Update AGENTS.md
  AGENTS.md
Due: mdformat

fix: Resolve Playwright test race conditions
  tests/functional/web/conftest.py
  tests/functional/web/pages/chat_page.py
  tests/functional/web/test_file_upload_functionality.py
  tests/functional/web/test_ui_endpoints_playwright.py
Due: ruff-check, ruff-format, basedpyright

fix: Make lint hook silent when all checks pass
  .claude/lint-hook.py
Due: ruff-check, ruff-format, basedpyright

refactor: Use list comprehension with walrus operator
  .claude/lint-hook.py
Due: ruff-check, ruff-format, basedpyright

feat: Add ast-grep hints mechanism for code quality suggestions
  .ast-grep/CLAUDE.md
  .ast-grep/check-hints.py
  .ast-grep/rules/hints/README.md
  .ast-grep/rules/hints/async-magic-mock.yml
  .ast-grep/rules/hints/test-mocking-guideline.yml
  .ast-grep/test-rules.py
  .ast-grep/tests/hints/async-magic-mock-negative.py
  .ast-grep/tests/hints/async-magic-mock-positive.py
  .ast-grep/tests/hints/test-mocking-guideline-negative.py
  .ast-grep/tests/hints/test-mocking-guideline-positive.py
  .claude/banned_commands.json
  .claude/lint-hook.py
  .pylintrc
  pyproject.toml
  tests/test_hints_demo.py
Due: ruff-check, ruff-format, basedpyright, mdformat

fix: Resolve lint errors from ruff 0.14.0 and basedpyright 1.31.6 updates
  contrib/scrape_mcp.py
  src/family_assistant/__init__.py
  tests/functional/indexing/test_document_retrieval.py
  tests/functional/telegram/test_telegram_slash_commands.py
  tests/functional/web/test_file_upload_functionality.py
Due: ruff-check, ruff-format, basedpyright

fix: Remove unused logging import
  src/family_assistant/__init__.py
Due: ruff-check, ruff-format, basedpyright

feat: Rename callback management tools to action management tools
  config.yaml
  src/family_assistant/tools/__init__.py
  src/family_assistant/tools/tasks.py
  tests/functional/test_action_management.py
  tests/functional/test_smoke_callback.py
Due: ruff-check, ruff-format, basedpyright

Update review script
  .gitignore
  pyproject.toml
  scripts/review-changes.py
  uv.lock
Due: ruff-check, ruff-format, basedpyright

refactor: Use cache key for review acknowledgments
  .claude/review-hook.py
  scripts/review-changes.py
Due: ruff-check, ruff-format, basedpyright

refactor: Update tool icon mapping to use automation tools
  frontend/src/chat/toolIconMapping.ts
Due: biome-format, eslint

docs: Add Phase 8 and Phase 9 to progress summary
  docs/design/unified-automations.md
Due: mdformat

docs: Mark Phase 8 complete in unified automations design
  docs/design/unified-automations.md
Due: mdformat

fix: Handle datetime/string types in automations API router
  src/family_assistant/web/routers/automations_api.py
Due: ruff-check, ruff-format, basedpyright

docs: Update unified automations plan with current progress
  docs/design/unified-automations.md
Due: mdformat

feat: Remove old event listener tools (Phase 2 cleanup)
  config.yaml
  src/family_assistant/tools/__init__.py
  src/family_assistant/tools/event_listeners.py
  tests/CLAUDE.md
  tests/functional/events/test_script_conditions_integration.py
  tests/functional/test_event_listener_crud.py
  tests/functional/test_event_listener_script_tools.py
  tests/functional/test_event_listener_validation.py
  tests/functional/test_event_script_integration.py
  tests/functional/test_image_generation_integration.py
  tests/unit/tools/test_event_listener_validation.py
Due: ruff-check, ruff-format, basedpyright, mdformat

feat: Implement unified automations API while preserving old event listeners API
  src/family_assistant/storage/repositories/automations.py
  src/family_assistant/storage/repositories/schedule_automations.py
  src/family_assistant/tools/automations.py
  src/family_assistant/web/routers/api.py
  src/family_assistant/web/routers/automations_api.py
  tests/functional/web/test_enhanced_fixtures_simple.py
Due: ruff-check, ruff-format, basedpyright

feat: Add schedule automation lifecycle support to task worker
  src/family_assistant/task_worker.py
Due: ruff-check, ruff-format, basedpyright

feat: Add unified automation tools and fix flaky Playwright tests
  src/family_assistant/tools/__init__.py
  src/family_assistant/tools/automations.py
  tests/functional/web/pages/notes_page.py
  tests/functional/web/test_file_upload_functionality.py
Due: ruff-check, ruff-format, basedpyright

config: Enable unified automation tools in default profile
  config.yaml
Due: none

refactor: Implement Phase 11 datetime normalization at repository layer
  docs/design/unified-automations.md
  src/family_assistant/storage/datetime_utils.py
  src/family_assistant/storage/events.py
  src/family_assistant/storage/repositories/automations.py
  src/family_assistant/storage/repositories/events.py
  src/family_assistant/storage/repositories/schedule_automations.py
  src/family_assistant/storage/types.py
  src/family_assistant/tools/automations.py
  src/family_assistant/web/routers/automations_api.py
  tests/functional/storage/test_automations_repository.py
Due: ruff-check, ruff-format, basedpyright, mdformat

docs: Add unified automations design document
  docs/design/unified-automations.md
Due: mdformat

docs: Update Implementation Checklist for Phase 6 completion
  docs/design/unified-automations.md
Due: mdformat

feat: Implement database-level pagination for AutomationsRepository
  src/family_assistant/storage/repositories/automations.py
Due: ruff-check, ruff-format, basedpyright

refactor: Move automations repository tests to functional tests
  docs/design/unified-automations.md
  tests/functional/storage/test_automations_repository.py
Due: ruff-check, ruff-format, basedpyright, mdformat

docs: Mark Phase 7 complete in unified automations design
  docs/design/unified-automations.md
  docs/user/USER_GUIDE.md
  docs/user/scripting.md
  prompts.yaml
Due: mdformat

docs: Mark Phase 8 complete in unified automations design
  docs/design/unified-automations.md
  src/family_assistant/web/app_creator.py
Due: ruff-check, ruff-format, basedpyright, mdformat

docs: Update unified automations design doc to reflect Phase 6 completion
  docs/design/unified-automations.md
Due: mdformat

Path conditions:
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  basedpyright: any of: \.py$
  mdformat: any of: \.(md|markdown|mdown)$, but not: (?x)^( 
  docs/python-telegram-bot-abridged\.md|
  docs/python-telegram-bot-abridged-filtered\.md
)$

  biome-format: any of: ^frontend/.*\.(js|jsx|ts|tsx|json)$
  eslint: any of: ^frontend/.*\.(js|jsx|ts|tsx)$
