Repository werdnum/family-assistant: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt, biome-format, eslint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-check
        name: ruff-check
        entry: ruff check --fix --preview
        language: system
        types: [python]
      - id: ruff-format
        name: ruff-format
        entry: ruff format --preview
        language: system
        types: [python]
  - repo: local
    hooks:
      - id: basedpyright
        name: basedpyright
        entry: basedpyright
        language: system
        types: [python]
        pass_filenames: false
      - id: code-conformance
        name: code-conformance
        entry: .ast-grep/check-conformance.py
        language: system
        types: [python]
        pass_filenames: true
  - repo: local
    hooks:
      - id: mdformat
        name: mdformat
        entry: mdformat --wrap 100
        language: system
        types: [markdown]
        exclude: "(?x)^( \n  docs/python-telegram-bot-abridged\\.md|\n  docs/python-telegram-bot-abridged-filtered\\.md\n)$\n"
  - repo: local
    hooks:
      - id: yamlfmt
        name: yamlfmt
        language: golang
        entry: yamlfmt
        additional_dependencies:
          - github.com/google/yamlfmt/cmd/yamlfmt@v0.17.0
        types: [yaml]
  - repo: local
    hooks:
      - id: biome-format
        name: biome-format
        entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx @biomejs/biome format --write "${files[@]}"' --
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx|json)$
        exclude: ^frontend/(dev-dist/|package-lock\.json$)
        pass_filenames: true
      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx eslint --fix "${files[@]}"' --
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx)$
        pass_filenames: true

Reword null-attachment hint and rebase legacy relative email paths
  src/family_assistant/assistant.py
  src/family_assistant/services/attachment_registry.py
  src/family_assistant/tools/documents.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

EmbeddingDispatchProcessor honors chunk_index_offset
  src/family_assistant/indexing/processors/dispatch_processors.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Own-by-source_type delete; sync indexing_task_id; happy-path e2e test
  src/family_assistant/services/attachment_registry.py
  src/family_assistant/tools/documents.py
  tests/functional/web/api/test_mail_webhook_attachments.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Dedupe duplicate attachment filenames; make null-id hint tool-agnostic
  src/family_assistant/tools/documents.py
  src/family_assistant/web/routers/webhooks.py
  tests/functional/web/api/test_mail_webhook_attachments.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Portable relative email attachment paths; stream backfill migration
  alembic/versions/2026_04_23-backfill_email_attachment_ids.py
  src/family_assistant/indexing/email_indexer.py
  src/family_assistant/web/routers/webhooks.py
  tests/functional/web/api/test_mail_webhook_attachments.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Scope idx_attachment_source to non-email; resolve paths without registry
  alembic/versions/2026_04_24-scope_idx_attachment_source_non_email.py
  src/family_assistant/assistant.py
  src/family_assistant/indexing/email_indexer.py
  src/family_assistant/storage/base.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Fail visibly on unresolvable email attachment paths instead of guessing
  src/family_assistant/indexing/email_indexer.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Serve original filename; shrink revision id to fit alembic varchar(32)
  alembic/versions/2026_04_24-scope_idx_attachment_source_non_email.py
  src/family_assistant/web/routers/attachments_api.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Require AttachmentRegistry on EmailIndexer; verify path before registering
  src/family_assistant/assistant.py
  src/family_assistant/indexing/email_indexer.py
  tests/functional/indexing/test_email_advanced.py
  tests/functional/indexing/test_email_attachments.py
  tests/functional/indexing/test_email_basic.py
  tests/functional/web/api/test_mail_webhook_attachments.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Clear stale attachment_id on missing file; sync reindex task id
  src/family_assistant/indexing/email_indexer.py
  src/family_assistant/tools/documents.py
  tests/functional/web/api/test_mail_webhook_attachments.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Tolerate malformed attachment_info entries on read + index paths
  src/family_assistant/indexing/email_indexer.py
  src/family_assistant/storage/email.py
  src/family_assistant/tools/documents.py
  tests/unit/storage/test_parse_attachment_infos.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Reorder scope index migration; preserve raw attachment_info on rewrites
  alembic/versions/2026_04_23-backfill_email_attachment_ids.py
  alembic/versions/2026_04_24-scope_idx_attachment_source_non_email.py
  src/family_assistant/indexing/email_indexer.py
  src/family_assistant/services/attachment_registry.py
  src/family_assistant/storage/email.py
  tests/functional/web/api/test_mail_webhook_attachments.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Normalize attachment_storage_path; gate stored_path to email only
  src/family_assistant/assistant.py
  src/family_assistant/config_models.py
  src/family_assistant/services/attachment_registry.py
  tests/unit/attachments/test_external_storage_path.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Anchor relative storage paths to config-file dir, not cwd
  src/family_assistant/config_models.py
  tests/unit/test_app_config_storage_path.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Normalize yaml paths at ctx entry; persist absolute path on no-config fallback
  src/family_assistant/config_models.py
  src/family_assistant/web/routers/webhooks.py
  tests/unit/web/test_select_email_attachment_base.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Fail loudly when /webhook/mail runs without an attached app config
  src/family_assistant/web/routers/webhooks.py
  tests/functional/web/api/test_mail_webhook_attachments.py
  tests/unit/web/test_select_email_attachment_base.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Make get_full_document_content wording tool-agnostic; gate ids on registry
  src/family_assistant/tools/documents.py
  tests/unit/tools/test_format_email_attachments_text.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Drop registry_available branching from format_email_attachments_text
  src/family_assistant/tools/documents.py
  tests/unit/tools/test_format_email_attachments_text.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Escape LIKE wildcards in reindex_email lookup; skip raw-save when dir unset
  src/family_assistant/tools/documents.py
  src/family_assistant/web/routers/webhooks.py
  tests/functional/web/api/test_mail_webhook_attachments.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Scope attachment_storage_path check to emails with attachments; heal dangling ids
  src/family_assistant/indexing/email_indexer.py
  src/family_assistant/web/routers/webhooks.py
  tests/functional/web/api/test_mail_webhook_attachments.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Retarget auto reviews and tighten their guidance
  .gemini/commands/gemini-review.toml
  .github/workflows/codex-review.yml
  .github/workflows/gemini-dispatch.yml
  .github/workflows/gemini-review.yml
  REVIEW_GUIDELINES.md
Due: mdformat, yamlfmt

Port upstream review tactics; add CI-pass assumption and linter-bypass rule
  .gemini/commands/gemini-review.toml
  .github/workflows/codex-review.yml
  REVIEW_GUIDELINES.md
Due: mdformat, yamlfmt

Require a reviewer-written change summary; scope no-explainer to inline only
  .gemini/commands/gemini-review.toml
  .github/workflows/codex-review.yml
  REVIEW_GUIDELINES.md
Due: mdformat, yamlfmt

Pin Gemini review default to gemini-3.1-pro-preview
  .github/workflows/gemini-review.yml
Due: yamlfmt

Stop overriding Gemini model when var is unset; always upload artifacts
  .github/workflows/gemini-review.yml
Due: yamlfmt

Trust the workspace for the Gemini CLI
  .github/workflows/gemini-invoke.yml
  .github/workflows/gemini-plan-execute.yml
  .github/workflows/gemini-review.yml
  .github/workflows/gemini-scheduled-triage.yml
  .github/workflows/gemini-triage.yml
Due: yamlfmt

Rename Codex on-demand trigger; anchor head SHA to workflow_run
  .github/workflows/codex-review.yml
Due: yamlfmt

Harden confirmation execution notifications
  src/family_assistant/task_worker.py
  tests/functional/tasks/test_confirmation_tool_execution.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Add confirmation execution task handler
  src/family_assistant/assistant.py
  src/family_assistant/storage/repositories/message_history.py
  src/family_assistant/task_worker.py
  tests/functional/tasks/test_confirmation_tool_execution.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Deduplicate tool definitions in CompositeToolsProvider
  src/family_assistant/assistant.py
  src/family_assistant/tools/infrastructure.py
  tests/unit/tools/test_tools_infrastructure.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Fail startup hard when duplicate tool names are detected
  src/family_assistant/assistant.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Remove unused Playwright MCP server, drop tool dedup
  Dockerfile
  defaults.yaml
  src/family_assistant/assistant.py
  src/family_assistant/tools/infrastructure.py
  tests/unit/tools/test_tools_infrastructure.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, yamlfmt

Make attachment metadata harder for the model to mimic
  prompts.yaml
  src/family_assistant/processing/service.py
  src/family_assistant/processing/utils.py
  src/family_assistant/tools/attachments.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, yamlfmt

Update Gemini review prompts for github-mcp-server v0.27.0 API
  .gemini/commands/gemini-invoke.toml
  .gemini/commands/gemini-plan-execute.toml
  .gemini/commands/gemini-review.toml
Due: none

Rename Gemini prompts so the action stops clobbering them
  .gemini/commands/fa-invoke.toml
  .gemini/commands/fa-plan-execute.toml
  .gemini/commands/fa-review.toml
  .github/workflows/gemini-invoke.yml
  .github/workflows/gemini-plan-execute.yml
  .github/workflows/gemini-review.yml
Due: yamlfmt

Bump pull-requests permission so /codex-review can ack the comment
  .github/workflows/codex-review.yml
Due: yamlfmt

Use source profile for confirmation execution
  src/family_assistant/task_worker.py
  tests/functional/tasks/test_confirmation_tool_execution.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Let OpenAI choose image dimensions via size="auto"
  src/family_assistant/tools/image_backends.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Add call_home_assistant_action tool
  defaults.yaml
  docs/user/USER_GUIDE.md
  src/family_assistant/home_assistant_wrapper.py
  src/family_assistant/tools/__init__.py
  src/family_assistant/tools/home_assistant.py
  tests/cassettes/llm/test_call_action_turns_on_input_boolean[postgres].yaml
  tests/cassettes/llm/test_call_action_turns_on_input_boolean[sqlite].yaml
  tests/cassettes/llm/test_call_action_unknown_action_returns_error[postgres].yaml
  tests/cassettes/llm/test_call_action_unknown_action_returns_error[sqlite].yaml
  tests/functional/home_assistant/test_call_action_tool.py
  tests/integration/home_assistant/test_call_action.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt

Address PR review feedback on call_home_assistant_action
  src/family_assistant/tools/home_assistant.py
  tests/functional/home_assistant/test_call_action_tool.py
Due: ruff-check, ruff-format, basedpyright, code-conformance
