Repository werdnum/family-assistant: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt, biome-format, eslint

ruff-check:
  name: ruff-check
  entry: ruff check --fix --preview
  language: system

ruff-format:
  name: ruff-format
  entry: ruff format --preview
  language: system

basedpyright:
  name: basedpyright
  entry: basedpyright
  language: system
  pass_filenames: false

code-conformance:
  name: code-conformance
  entry: .ast-grep/check-conformance.py
  language: system
  pass_filenames: true

mdformat:
  name: mdformat
  entry: mdformat --wrap 100
  language: system

yamlfmt:
  name: yamlfmt
  language: golang
  entry: yamlfmt
  additional_dependencies:
  - github.com/google/yamlfmt/cmd/yamlfmt@v0.17.0

biome-format:
  name: biome-format
  entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx @biomejs/biome format --write "${files[@]}"' --
  language: system
  pass_filenames: true

eslint:
  name: eslint
  entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx eslint --fix "${files[@]}"' --
  language: system
  pass_filenames: true

Let history taint last only while the introducing row is in the prompt
  docs/design/runtime-taint-machinery.md
  src/family_assistant/eval/tool_call_review/datasets/examples/benign_twin.yaml
  src/family_assistant/eval/tool_call_review/datasets/examples/delegation_blind_deny.yaml
  src/family_assistant/eval/tool_call_review/datasets/manual/ambiguity_fixtures.yaml
  src/family_assistant/eval/tool_call_review/datasets/manual/argument_lobbying.yaml
  src/family_assistant/eval/tool_call_review/datasets/manual/artifact_laundering.yaml
  src/family_assistant/eval/tool_call_review/datasets/manual/boundary_forging.yaml
  src/family_assistant/eval/tool_call_review/datasets/manual/delegation_goal_smuggling.yaml
  src/family_assistant/eval/tool_call_review/datasets/manual/email_intake_injection.yaml
  src/family_assistant/eval/tool_call_review/datasets/manual/exfiltration_shaping.yaml
  src/family_assistant/eval/tool_call_review/datasets/manual/script_execution_boundary.yaml
  src/family_assistant/eval/tool_call_review/datasets/manual/tool_result_injection.yaml
  src/family_assistant/eval/tool_call_review/datasets/manual/unattended_context.yaml
  src/family_assistant/processing/llm_loop.py
  src/family_assistant/security/taint.py
  src/family_assistant/services/turn_resumption.py
  src/family_assistant/storage/repositories/message_history.py
  src/family_assistant/task_worker.py
  src/family_assistant/tools/services.py
  src/family_assistant/web/turn_producer.py
  tests/functional/automations/test_async_delegation.py
  tests/functional/storage/test_message_history.py
  tests/functional/telegram/test_telegram_send_message_tool.py
  tests/functional/web/api/test_chat_turn_control.py
  tests/functional/web/api/test_voice_sessions.py
  tests/functional/web/api/test_web_callback_taint.py
  tests/functional/web/api/test_web_chat_interface_activity.py
  tests/unit/eval/test_ablation_contract.py
  tests/unit/eval/test_scrub.py
  tests/unit/eval/test_tool_call_review_eval.py
  tests/unit/security/test_history_taint_origin.py
  tests/unit/security/test_runtime_taint.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt

Grade direct /research and /coder replies by the web their agent read
  docs/design/prompt-injection-assessment-2026-10.md
  src/family_assistant/llm/__init__.py
  src/family_assistant/llm/providers/google_genai_client.py
  src/family_assistant/processing/llm_loop.py
  tests/llm/test_google_deep_research.py
  tests/unit/processing/test_provider_external_read.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Keep origin on confirmation continuations; amnesty only known versions
  src/family_assistant/processing/tool_execution.py
  src/family_assistant/security/taint.py
  src/family_assistant/task_worker.py
  src/family_assistant/tools/infrastructure.py
  tests/unit/security/test_history_taint_origin.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Infer introduced taint only for directly constructed states
  src/family_assistant/security/taint.py
  tests/unit/security/test_history_taint_origin.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Restore eval payload newlines; keep origin on resume and echo strip
  src/family_assistant/eval/tool_call_review/datasets/manual/artifact_laundering.yaml
  src/family_assistant/eval/tool_call_review/datasets/manual/delegation_goal_smuggling.yaml
  src/family_assistant/eval/tool_call_review/datasets/manual/exfiltration_shaping.yaml
  src/family_assistant/eval/tool_call_review/datasets/manual/tool_result_injection.yaml
  src/family_assistant/security/taint.py
  src/family_assistant/web/turn_producer.py
  src/family_assistant/web/turn_resumption.py
  tests/functional/web/api/test_chat_turn_resumption.py
  tests/unit/security/test_history_taint_origin.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, yamlfmt

Expect tool attribution in review integration tests
  tests/unit/tools/test_tool_call_review_integration.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Keep a resumed turn's own taint introduced on every interface
  src/family_assistant/processing/service.py
  tests/functional/telegram/test_telegram_turn_resumption.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Mark the voice page ready once it mounts
  frontend/src/voice/VoicePage.tsx
Due: biome-format, eslint

Keep a resumed turn's maxima when its source summary was evicted
  src/family_assistant/processing/service.py
  src/family_assistant/security/taint.py
  tests/unit/security/test_history_taint_origin.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Test the voice page's data-app-ready lifecycle
  frontend/src/voice/__tests__/VoicePageReady.test.tsx
Due: biome-format, eslint

Design: append-only prompts without a per-turn context block
  docs/design/append-only-prompt.md
  docs/design/prompt-cache-turn-context.md
Due: mdformat

Anthropic: drop stale thinking instead of failing, keep history byte-stable
  defaults.yaml
  docs/design/append-only-prompt.md
  src/family_assistant/llm/providers/anthropic_client.py
  src/family_assistant/processing/context.py
  tests/integration/llm/vcr_helpers.py
  tests/unit/llm/providers/test_anthropic_client.py
  tests/unit/llm/providers/test_anthropic_thinking.py
  tests/unit/llm/test_shipped_model_tiers.py
  tests/unit/llm/test_shipped_reasoning_config.py
  tests/unit/processing/test_processing_history_formatting.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt

Add get_weather_forecast tool backed by a shared WeatherService
  defaults.yaml
  docs/operations/CONFIGURATION_REFERENCE.md
  src/family_assistant/assistant.py
  src/family_assistant/context_providers.py
  src/family_assistant/services/effective_tool_registry.py
  src/family_assistant/tools/__init__.py
  src/family_assistant/tools/weather.py
  src/family_assistant/weather.py
  tests/unit/test_weather.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt

Add get_home_status tool rendering the Home Assistant context template
  defaults.yaml
  docs/operations/CONFIGURATION_REFERENCE.md
  docs/user/smart-home.md
  src/family_assistant/plugins/home_assistant/instance.py
  src/family_assistant/plugins/home_assistant/plugin.py
  src/family_assistant/plugins/home_assistant/tools.py
  src/family_assistant/skills/builtin/home-assistant.md
  tests/unit/plugins/test_home_status_tool.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt

Make tool activation append-only; update tests and docs
  AGENTS.md
  alembic/versions/2026_10_04-add_message_activated_tools.py
  docs/design/append-only-prompt.md
  docs/operations/CONFIGURATION_REFERENCE.md
  docs/user/calendar.md
  src/family_assistant/llm/deferred_tools.py
  src/family_assistant/llm/messages.py
  src/family_assistant/llm/providers/anthropic_client.py
  src/family_assistant/llm/providers/google_genai_client.py
  src/family_assistant/llm/providers/openai_client.py
  src/family_assistant/processing/llm_loop.py
  src/family_assistant/processing/message_time.py
  src/family_assistant/processing/utils.py
  src/family_assistant/storage/message_history.py
  src/family_assistant/storage/repositories/message_history.py
  src/family_assistant/storage/repositories/notes.py
  src/family_assistant/tools/on_demand.py
  src/family_assistant/tools/types.py
  tests/cassettes/gemini/functional.web.api.test_thought_signature_persistence/test_multiturn_conversation_with_tool_calls_preserves_thought_signatures[postgres]/mldev.json
  tests/cassettes/gemini/functional.web.api.test_thought_signature_persistence/test_multiturn_conversation_with_tool_calls_preserves_thought_signatures[sqlite]/mldev.json
  tests/cassettes/gemini/functional.web.api.test_thought_signature_persistence/test_streaming_multiturn_with_tool_calls_reproduces_bug[postgres]/mldev.json
  tests/cassettes/gemini/functional.web.api.test_thought_signature_persistence/test_streaming_multiturn_with_tool_calls_reproduces_bug[sqlite]/mldev.json
  tests/conftest.py
  tests/functional/automations/test_council_delegation.py
  tests/functional/notes/test_ambient_eligibility.py
  tests/functional/notes/test_context_provider.py
  tests/functional/notes/test_memory_read_policy.py
  tests/functional/notes/test_memory_read_setting.py
  tests/functional/notes/test_note_visibility.py
  tests/functional/notes/test_skill_catalog.py
  tests/functional/notes/test_skill_write_detection.py
  tests/functional/test_append_only_prompt.py
  tests/functional/web/api/test_chat_turn_resumption.py
  tests/integration/llm/vcr_helpers.py
  tests/mocks/mock_llm.py
  tests/unit/llm/providers/test_anthropic_client.py
  tests/unit/processing/test_llm_loop_tool_advertisement.py
  tests/unit/processing/test_message_time.py
  tests/unit/processing/test_thought_signatures.py
  tests/unit/security/test_runtime_taint.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Re-record the thought-signature Gemini replays
  tests/cassettes/gemini/functional.web.api.test_thought_signature_persistence/test_multiturn_conversation_with_tool_calls_preserves_thought_signatures[postgres]/mldev.json
  tests/cassettes/gemini/functional.web.api.test_thought_signature_persistence/test_multiturn_conversation_with_tool_calls_preserves_thought_signatures[sqlite]/mldev.json
  tests/cassettes/gemini/functional.web.api.test_thought_signature_persistence/test_streaming_multiturn_with_tool_calls_reproduces_bug[postgres]/mldev.json
  tests/cassettes/gemini/functional.web.api.test_thought_signature_persistence/test_streaming_multiturn_with_tool_calls_reproduces_bug[sqlite]/mldev.json
Due: none

Replay mid-turn messages unchanged; recompute activations after pruning
  prompts.yaml
  src/family_assistant/processing/llm_loop.py
  src/family_assistant/processing/message_time.py
  src/family_assistant/processing/service.py
  src/family_assistant/web/routers/chat_api.py
  tests/functional/web/api/test_chat_turn_control.py
  tests/functional/web/ui/test_chat_stop_steer.py
  tests/unit/processing/test_llm_loop_tool_advertisement.py
  tests/unit/processing/test_mid_turn_input.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, yamlfmt

Re-record the thought-signature Gemini replays for the mid-turn guidance
  tests/cassettes/gemini/functional.web.api.test_thought_signature_persistence/test_multiturn_conversation_with_tool_calls_preserves_thought_signatures[postgres]/mldev.json
  tests/cassettes/gemini/functional.web.api.test_thought_signature_persistence/test_multiturn_conversation_with_tool_calls_preserves_thought_signatures[sqlite]/mldev.json
  tests/cassettes/gemini/functional.web.api.test_thought_signature_persistence/test_streaming_multiturn_with_tool_calls_reproduces_bug[postgres]/mldev.json
  tests/cassettes/gemini/functional.web.api.test_thought_signature_persistence/test_streaming_multiturn_with_tool_calls_reproduces_bug[sqlite]/mldev.json
Due: none

Withhold get_home_status from profiles whose instance has no template
  src/family_assistant/assistant.py
  src/family_assistant/plugins/base.py
  src/family_assistant/plugins/home_assistant/plugin.py
  src/family_assistant/plugins/runtime.py
  tests/unit/plugins/test_home_status_tool.py
  tests/unit/tools/test_global_tools_policy.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Design: conversation history and compaction
  docs/design/history-compaction.md
Due: mdformat

Keep the budget on classifier failure and Auto per request
  docs/design/history-compaction.md
Due: mdformat

Gate age-cap removal on compaction events; narrow the budget promise
  docs/design/history-compaction.md
Due: mdformat

Allow noncontiguous verbatim turns; trigger compaction on the whole window
  docs/design/history-compaction.md
Due: mdformat

Apply profile history filtering to thread replies
  docs/design/history-compaction.md
Due: mdformat

Allow emergency compaction inside tool rounds; make Jev operator-configured
  docs/design/history-compaction.md
Due: mdformat

Never stub tool results for profiles without history retrieval
  docs/design/history-compaction.md
Due: mdformat

Tie activations to their turn; keep Auto's existing classifier inputs
  docs/design/history-compaction.md
Due: mdformat

Compact on system-triggered turns; scope the append-only claim to the window
  docs/design/history-compaction.md
Due: mdformat

Make an aged-out turn a compaction event
  docs/design/history-compaction.md
Due: mdformat

Rank every turn still in the window at each event
  docs/design/history-compaction.md
Due: mdformat

Never compact the active turn at any event
  docs/design/history-compaction.md
Due: mdformat

Let replied-to and pinned turns re-enter the window
  docs/design/history-compaction.md
Due: mdformat

State the overflow residual in terms of the whole mandatory set
  docs/design/history-compaction.md
Due: mdformat

Make the whole replied-to thread a loader input
  docs/design/history-compaction.md
Due: mdformat

Keep Auto in its own Jev request; state the full injection residual
  docs/design/history-compaction.md
Due: mdformat

Link append-only-prompt.md now that it has merged
  docs/design/history-compaction.md
Due: mdformat

Only produce references a profile can follow; explicit references outrank the age cap
  docs/design/history-compaction.md
Due: mdformat

Strip every thinking block after the changed prefix, active turn included
  docs/design/history-compaction.md
Due: mdformat

Path conditions:
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  basedpyright: any of: \.py$
  code-conformance: any of: \.py$
  mdformat: any of: \.(md|markdown|mdown)$, but not: (?x)^( 
  docs/python-telegram-bot-abridged\.md|
  docs/python-telegram-bot-abridged-filtered\.md
)$

  yamlfmt: any of: \.(yaml|yml)$
  biome-format: any of: ^frontend/.*\.(js|jsx|ts|tsx|json)$, but not: ^frontend/(dev-dist/|package-lock\.json$)
  eslint: any of: ^frontend/.*\.(js|jsx|ts|tsx)$
