Repository werdnum/family-assistant: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt, biome-format, eslint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-check
        name: ruff-check
        entry: ruff check --fix --preview
        language: system
        types: [python]
      - id: ruff-format
        name: ruff-format
        entry: ruff format --preview
        language: system
        types: [python]
  - repo: local
    hooks:
      - id: basedpyright
        name: basedpyright
        entry: basedpyright
        language: system
        types: [python]
        pass_filenames: false
      - id: code-conformance
        name: code-conformance
        entry: .ast-grep/check-conformance.py
        language: system
        types: [python]
        pass_filenames: true
  - repo: local
    hooks:
      - id: mdformat
        name: mdformat
        entry: mdformat --wrap 100
        language: system
        types: [markdown]
        exclude: "(?x)^( \n  docs/python-telegram-bot-abridged\\.md|\n  docs/python-telegram-bot-abridged-filtered\\.md\n)$\n"
  - repo: local
    hooks:
      - id: yamlfmt
        name: yamlfmt
        language: golang
        entry: yamlfmt
        additional_dependencies:
          - github.com/google/yamlfmt/cmd/yamlfmt@v0.17.0
        types: [yaml]
  - repo: local
    hooks:
      - id: biome-format
        name: biome-format
        entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx @biomejs/biome format --write "${files[@]}"' --
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx|json)$
        exclude: ^frontend/(dev-dist/|package-lock\.json$)
        pass_filenames: true
      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx eslint --fix "${files[@]}"' --
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx)$
        pass_filenames: true

fix: Add authentication to diagnostics export endpoint
  src/family_assistant/web/routers/diagnostics_api.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

feat: Add diagnostics links to error messages
  frontend/src/chat/ChatApp.tsx
  frontend/src/components/ErrorBoundary.tsx
  frontend/src/pages/Documents/DocumentUpload.jsx
  frontend/src/pages/VectorSearch/VectorSearch.jsx
  frontend/src/tasks/components/TasksList.jsx
  frontend/src/utils/diagnosticsUrl.ts
  tests/CLAUDE.md
Due: mdformat, biome-format, eslint

feat: Add diagnostics export API with LLM request ring buffer
  alembic/versions/2026_02_01-c7b6ea1d14f4_add_timezone_to_error_logs_timestamp_.py
  src/family_assistant/llm/__init__.py
  src/family_assistant/llm/request_buffer.py
  src/family_assistant/storage/error_logs.py
  src/family_assistant/web/routers/api.py
  src/family_assistant/web/routers/diagnostics_api.py
  tests/functional/web/api/test_diagnostics_api.py
  tests/unit/llm/test_request_buffer.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

docs: Refine Agent Skills design with hybrid activation model
  docs/design/agent-skills-integration.md
Due: mdformat

docs: Add Agent Skills integration design document
  docs/design/agent-skills-integration.md
Due: mdformat

feat: Add screenshot capture throughout Playwright test suite
  screenshots/README.md
  screenshots/desktop/automations.png
  screenshots/desktop/chat-empty.png
  screenshots/desktop/context.png
  screenshots/desktop/documentation.png
  screenshots/desktop/documents.png
  screenshots/desktop/errors.png
  screenshots/desktop/events.png
  screenshots/desktop/history.png
  screenshots/desktop/landing-page.png
  screenshots/desktop/notes-add-form.png
  screenshots/desktop/notes-empty.png
  screenshots/desktop/notes-list.png
  screenshots/desktop/settings.png
  screenshots/desktop/tasks.png
  screenshots/desktop/tools.png
  screenshots/desktop/vector-search.png
  screenshots/desktop/voice.png
  screenshots/mobile/automations.png
  screenshots/mobile/chat-empty.png
  screenshots/mobile/context.png
  screenshots/mobile/documentation.png
  screenshots/mobile/documents.png
  screenshots/mobile/errors.png
  screenshots/mobile/events.png
  screenshots/mobile/history.png
  screenshots/mobile/landing-page.png
  screenshots/mobile/notes-add-form.png
  screenshots/mobile/notes-empty.png
  screenshots/mobile/notes-list.png
  screenshots/mobile/settings.png
  screenshots/mobile/tasks.png
  screenshots/mobile/tools.png
  screenshots/mobile/vector-search.png
  screenshots/mobile/voice.png
  tests/conftest.py
  tests/functional/web/CLAUDE.md
  tests/functional/web/conftest.py
  tests/functional/web/ui/test_chat_basic.py
  tests/functional/web/ui/test_landing_page.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

feat: Add comprehensive screenshot coverage across all major UI tests
  tests/functional/web/ui/test_automations_ui.py
  tests/functional/web/ui/test_documents_ui.py
  tests/functional/web/ui/test_events_list.py
  tests/functional/web/ui/test_history_basic.py
  tests/functional/web/ui/test_notes_flow.py
  tests/functional/web/ui/test_settings_ui.py
  tests/functional/web/ui/test_tools_ui.py
  tests/functional/web/ui/test_vector_search_ui.py
  tests/functional/web/ui/test_voice_integration.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

docs: Embed screenshots in user-facing documentation
  docs/user/FEATURES.md
  docs/user/QUICK_START.md
  docs/user/USER_GUIDE.md
Due: mdformat

docs: Add screenshots to main README
  README.md
Due: mdformat

docs: Add skill discovery, bundling, and notes-v2 status to design
  docs/design/agent-skills-integration.md
Due: mdformat

fix: Restore viewport after screenshot capture and use pytest rootpath
  tests/functional/web/conftest.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Use Pydantic and TypedDict for type-safe scan_camera_frames
  src/family_assistant/tools/camera.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Add Render one-click deployment support
  README.md
  docs/deployment/RENDER_DEPLOYMENT.md
  docs/operations/GETTING_STARTED.md
  render.yaml
Due: mdformat, yamlfmt

feat: Add structured output support to LLMInterface
  src/family_assistant/llm/__init__.py
  src/family_assistant/llm/base.py
  src/family_assistant/llm/retrying_client.py
  tests/functional/integration/test_thought_signatures.py
  tests/integration/llm/test_structured_output.py
  tests/mocks/mock_llm.py
  tests/unit/processing/test_processing_history_formatting.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

fix: Simplify JSON extraction in structured output fallback
  src/family_assistant/llm/__init__.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Use LLM structured output for scan_camera_frames
  src/family_assistant/tools/camera.py
  tests/unit/tools/test_camera_tools.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Update design doc to reflect structured output usage
  docs/design/parallel-image-scanning.md
Due: mdformat

feat: Add one-shot LLM call utilities for scripts
  src/family_assistant/llm/one_shot.py
  tests/unit/llm/test_one_shot.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

fix: Resolve transaction isolation bug in script attachment reads
  src/family_assistant/config_models.py
  src/family_assistant/processing.py
  src/family_assistant/scripting/apis/attachments.py
  tests/functional/tools/test_large_tool_results.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

fix: Use gemini-3-flash-preview as default model
  src/family_assistant/llm/one_shot.py
  tests/unit/llm/test_one_shot.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

fix: Improve diagnostics by recording LLM requests and filtering noise
  src/family_assistant/llm/providers/google_genai_client.py
  src/family_assistant/llm/providers/openai_client.py
  src/family_assistant/utils/logging_handler.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Improve scan_camera_frames tool documentation and granularity
  docs/design/parallel-image-scanning.md
  src/family_assistant/tools/camera.py
  tests/unit/tools/test_camera_tools.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Add scan_camera_frames tool for parallel image scanning
  defaults.yaml
  docs/design/parallel-image-scanning.md
  prompts.yaml
  src/family_assistant/tools/__init__.py
  src/family_assistant/tools/camera.py
  tests/unit/tools/test_camera_tools.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt

Update design doc to reflect rate limiting and model changes
  docs/design/parallel-image-scanning.md
Due: mdformat

Remove outdated model name examples from tool description
  docs/design/parallel-image-scanning.md
  src/family_assistant/tools/camera.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat
