Repository werdnum/family-assistant: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt, biome-format, eslint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-check
        name: ruff-check
        entry: ruff check --fix --preview
        language: system
        types: [python]
      - id: ruff-format
        name: ruff-format
        entry: ruff format --preview
        language: system
        types: [python]
  - repo: local
    hooks:
      - id: basedpyright
        name: basedpyright
        entry: basedpyright
        language: system
        types: [python]
        pass_filenames: false
      - id: code-conformance
        name: code-conformance
        entry: .ast-grep/check-conformance.py
        language: system
        types: [python]
        pass_filenames: true
  - repo: local
    hooks:
      - id: mdformat
        name: mdformat
        entry: mdformat --wrap 100
        language: system
        types: [markdown]
        exclude: "(?x)^( \n  docs/python-telegram-bot-abridged\\.md|\n  docs/python-telegram-bot-abridged-filtered\\.md\n)$\n"
  - repo: local
    hooks:
      - id: yamlfmt
        name: yamlfmt
        language: golang
        entry: yamlfmt
        additional_dependencies:
          - github.com/google/yamlfmt/cmd/yamlfmt@v0.17.0
        types: [yaml]
  - repo: local
    hooks:
      - id: biome-format
        name: biome-format
        entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx @biomejs/biome format --write "${files[@]}"' --
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx|json)$
        exclude: ^frontend/(dev-dist/|package-lock\.json$)
        pass_filenames: true
      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx eslint --fix "${files[@]}"' --
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx)$
        pass_filenames: true

preserve taint on confirmation setup failures
  src/family_assistant/task_worker.py
  tests/functional/tasks/test_confirmation_tool_execution.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Fix AttributeError on list-valued JSON Schema type in Gemini tool conversion
  src/family_assistant/llm/providers/google_genai_client.py
  tests/unit/llm/providers/test_google_genai_tool_conversion.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

route voice tools through profile taint policy
  frontend/src/voice/useGeminiLive.ts
  src/family_assistant/web/routers/tools_api.py
  tests/functional/web/api/test_tools_api_taint.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, biome-format, eslint

Make JSON Schema list-typed fields honest to the type checker
  src/family_assistant/llm/providers/google_genai_client.py
  src/family_assistant/tools/types.py
  src/family_assistant/web/routers/gemini_live_api.py
  tests/unit/llm/providers/test_google_genai_tool_conversion.py
  tests/unit/web/test_gemini_live_api.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Preserve nullable array item types in Gemini tool conversion
  src/family_assistant/llm/providers/google_genai_client.py
  tests/unit/llm/providers/test_google_genai_tool_conversion.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

preserve live taint across stopped turns
  frontend/src/voice/VoicePage.tsx
  src/family_assistant/processing/llm_loop.py
  src/family_assistant/processing/service.py
  src/family_assistant/web/routers/chat_api.py
  src/family_assistant/web/turn_producer.py
  tests/functional/web/api/test_chat_turn_control.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, biome-format, eslint

Only emit nullable on Gemini schema when the field is actually nullable
  src/family_assistant/llm/providers/google_genai_client.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

isolate profiled direct tool execution
  src/family_assistant/web/routers/tools_api.py
  tests/functional/web/api/test_tools_api_taint.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

thread taint through native voice tools
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatAPIClient.swift
  ios/FamilyAssistant/FamilyAssistant/Voice/VoiceSessionViewModel.swift
  ios/FamilyAssistant/FamilyAssistant/Voice/VoiceToolRunner.swift
  ios/FamilyAssistant/FamilyAssistantTests/VoiceSessionViewModelTests.swift
  ios/FamilyAssistant/FamilyAssistantTests/VoiceToolRunnerTests.swift
  src/family_assistant/web/routers/tools_api.py
  tests/functional/web/api/test_tools_api_taint.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

fix voice test executor return
  ios/FamilyAssistant/FamilyAssistantTests/VoiceSessionViewModelTests.swift
Due: none

use configured default for web voice
  frontend/src/voice/VoicePage.tsx
  frontend/src/voice/__tests__/VoicePage.test.ts
Due: biome-format, eslint

keep voice taint out of tool payloads
  frontend/src/voice/useGeminiLive.ts
  ios/FamilyAssistant/FamilyAssistant/Voice/VoiceToolRunner.swift
  ios/FamilyAssistant/FamilyAssistantTests/VoiceToolRunnerTests.swift
  src/family_assistant/processing/context.py
  tests/functional/web/ui/test_voice_integration.py
  tests/unit/processing/test_processing_history_formatting.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, biome-format, eslint

update native voice result fixture
  ios/FamilyAssistant/FamilyAssistantTests/VoiceSessionViewModelTests.swift
Due: none

allow voice notes tool in web tests
  tests/functional/web/conftest.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

stabilize voice cancellation test
  ios/FamilyAssistant/FamilyAssistant/Voice/VoiceSessionViewModel.swift
  ios/FamilyAssistant/FamilyAssistantTests/VoiceSessionViewModelTests.swift
Due: none

Normalize OpenAI Responses tool arguments
  src/family_assistant/llm/providers/openai_client.py
  tests/unit/llm/providers/test_openai_responses_input.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Fix confirmation fingerprint outage by removing the vestigial guard
  alembic/versions/2026_07_19-drop_confirmation_approval_fingerprint.py
  docs/design/runtime-taint-machinery.md
  src/family_assistant/services/confirmation_service.py
  src/family_assistant/services/deferred_tool_confirmation.py
  src/family_assistant/storage/confirmation_requests.py
  src/family_assistant/storage/repositories/confirmation_requests.py
  src/family_assistant/task_worker.py
  src/family_assistant/telegram/ui.py
  src/family_assistant/web/routers/chat_api.py
  src/family_assistant/web/web_confirmation_ui_manager.py
  tests/functional/email_intake/test_email_actions.py
  tests/functional/tasks/test_confirmation_tool_execution.py
  tests/functional/telegram/test_telegram_confirmation.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Shorten migration revision id to fit alembic_version(32)
  alembic/versions/2026_07_19-drop_approval_fingerprint.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Add iOS state sync improvement design
  docs/design/ios-state-sync-improvements.md
Due: mdformat

Add inert foreground-reconnect-gate finding to iOS sync design
  docs/design/ios-state-sync-improvements.md
Due: mdformat

Fix PostgreSQL-only schema drift in migrations
  alembic/versions/2025_08_25-6daf0237b0ba_initial_schema.py
  alembic/versions/2026_07_21-a2a_tasks_json_to_jsonb.py
  alembic/versions/2026_07_21-add_tasks_original_task_id_index.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Make init_db fail fast on non-transient errors
  src/family_assistant/storage/__init__.py
  tests/unit/storage/test_init_db_retry.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Run alembic migration tests against PostgreSQL
  pyproject.toml
  tests/test_alembic.py
  uv.lock
Due: ruff-check, ruff-format, basedpyright, code-conformance

Make new migrations idempotent for create_all-built databases
  alembic/versions/2026_07_21-a2a_tasks_json_to_jsonb.py
  alembic/versions/2026_07_21-add_tasks_original_task_id_index.py
  tests/functional/storage/test_migration_idempotency.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Address review: marker, cast, and downgrade drift
  alembic/versions/2026_07_21-a2a_tasks_json_to_jsonb.py
  alembic/versions/2026_07_21-add_tasks_original_task_id_index.py
  tests/test_alembic.py
  tests/unit/storage/test_init_db_retry.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Honor --db selection in alembic tests
  tests/test_alembic.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Retry bare connection timeouts during init_db
  src/family_assistant/storage/__init__.py
  tests/unit/storage/test_init_db_retry.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Add front-door SSE heartbeat audit script and findings (iOS sync M0)
  docs/worklog/2026-07-21-ios-sync-m0-sse-audit.md
  scripts/audit-sse-heartbeats.sh
Due: mdformat

Add reason-tagged Chat.alertPresented telemetry (iOS sync M0)
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatViewModel.swift
  ios/FamilyAssistant/FamilyAssistant/ErrorReporting/ErrorReporter.swift
  ios/FamilyAssistant/FamilyAssistantTests/ChatViewModelTests.swift
Due: none

Require full-window heartbeat cadence for audit PASS
  scripts/audit-sse-heartbeats.sh
Due: none

Anchor audit PASS on heartbeats; verify LAN resolution
  scripts/audit-sse-heartbeats.sh
Due: none

fix(ios): tag queued-stop failure alerts as stop_turn_failed
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatViewModel.swift
  ios/FamilyAssistant/FamilyAssistantTests/ChatViewModelTests.swift
Due: none

Round-trip owner aliases through the canonicalizer
  src/family_assistant/services/user_identity.py
  tests/unit/services/test_user_identity.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Make iOS state-sync M4 server surfaces correct (ownership pagination, heartbeat DI)
  src/family_assistant/services/user_identity.py
  src/family_assistant/storage/repositories/message_history.py
  src/family_assistant/web/conversation_stream_hub.py
  src/family_assistant/web/routers/chat_api.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Attribute un-normalized stored owner ids in the list filter
  src/family_assistant/storage/repositories/message_history.py
  src/family_assistant/web/routers/chat_api.py
  tests/functional/web/api/test_resumable_streaming.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Wait on heartbeat emissions instead of fixed sleeps
  src/family_assistant/web/routers/chat_api.py
  tests/functional/web/api/test_resumable_streaming.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Add M4 HTTP-level tests: pagination ownership, activity stream, heartbeats, active_turns
  tests/functional/web/api/test_resumable_streaming.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Add threat-model gate, cost/benefit gate, and behaviour-altitude principle to review/dev guidelines
  AGENTS.md
  REVIEW_GUIDELINES.md
Due: mdformat

Decode active_turns in ChatConversationMessagesResponse (iOS)
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatModels.swift
  ios/FamilyAssistant/FamilyAssistantTests/ChatAPIClientTests.swift
Due: none
