Repository werdnum/family-assistant: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt, biome-format, eslint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-check
        name: ruff-check
        entry: ruff check --fix --preview
        language: system
        types: [python]
      - id: ruff-format
        name: ruff-format
        entry: ruff format --preview
        language: system
        types: [python]
  - repo: local
    hooks:
      - id: basedpyright
        name: basedpyright
        entry: basedpyright
        language: system
        types: [python]
        pass_filenames: false
      - id: code-conformance
        name: code-conformance
        entry: .ast-grep/check-conformance.py
        language: system
        types: [python]
        pass_filenames: true
  - repo: local
    hooks:
      - id: mdformat
        name: mdformat
        entry: mdformat --wrap 100
        language: system
        types: [markdown]
        exclude: "(?x)^( \n  docs/python-telegram-bot-abridged\\.md|\n  docs/python-telegram-bot-abridged-filtered\\.md\n)$\n"
  - repo: local
    hooks:
      - id: yamlfmt
        name: yamlfmt
        language: golang
        entry: yamlfmt
        additional_dependencies:
          - github.com/google/yamlfmt/cmd/yamlfmt@v0.17.0
        types: [yaml]
  - repo: local
    hooks:
      - id: biome-format
        name: biome-format
        entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx @biomejs/biome format --write "${files[@]}"' --
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx|json)$
        exclude: ^frontend/(dev-dist/|package-lock\.json$)
        pass_filenames: true
      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx eslint --fix "${files[@]}"' --
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx)$
        pass_filenames: true

Design: commit-as-you-go database access
  docs/design/db-commit-as-you-go.md
Due: mdformat

iOS: recover lost turn handles before steering
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatAPIClient.swift
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatViewModel.swift
  ios/FamilyAssistant/FamilyAssistantTests/ChatAPIClientTests.swift
  ios/FamilyAssistant/FamilyAssistantTests/ChatViewModelTests.swift
Due: none

Address Codex review on commit-as-you-go design
  docs/design/db-commit-as-you-go.md
Due: mdformat

Incorporate maintainer review round on commit-as-you-go design
  docs/design/db-commit-as-you-go.md
Due: mdformat

Restructure to a single cutover per maintainer decision
  docs/design/db-commit-as-you-go.md
Due: mdformat

iOS: preserve composer edits during turn recovery
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatViewModel.swift
  ios/FamilyAssistant/FamilyAssistantTests/ChatAPIClientTests.swift
  ios/FamilyAssistant/FamilyAssistantTests/ChatViewModelTests.swift
Due: none

Address second Codex round: engine topology, call-tree audit, three worklist gaps
  docs/design/db-commit-as-you-go.md
Due: mdformat

iOS: preserve queued controls during turn adoption
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatViewModel.swift
  ios/FamilyAssistant/FamilyAssistantTests/ChatViewModelTests.swift
Due: none

iOS: roll back failed recovered steer summary
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatViewModel.swift
  ios/FamilyAssistant/FamilyAssistantTests/ChatViewModelTests.swift
Due: none

Address third Codex round: guard inheritance, token issuance, callback delivery
  docs/design/db-commit-as-you-go.md
Due: mdformat

iOS: roll back rejected send when stop wins
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatViewModel.swift
  ios/FamilyAssistant/FamilyAssistantTests/ChatViewModelTests.swift
Due: none

iOS: release recovered turn when steer finishes
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatViewModel.swift
  ios/FamilyAssistant/FamilyAssistantTests/ChatViewModelTests.swift
Due: none

M0: route every engine through the factory, and instrument it
  .ast-grep/exemptions.yml
  .ast-grep/rules/README.md
  .ast-grep/rules/no-raw-create-async-engine.yml
  .ast-grep/tests/conformance/no-raw-create-async-engine-negative.py
  .ast-grep/tests/conformance/no-raw-create-async-engine-positive.py
  src/family_assistant/storage/base.py
  src/family_assistant/storage/instrumentation.py
  tests/conftest.py
  tests/functional/storage/test_message_history.py
  tests/functional/web/conftest.py
  tests/unit/storage/test_instrumentation.py
  tests/unit/storage/test_message_history_live_updates.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt

M0 review fixes: report parked transactions, declare greenlet
  .ast-grep/rules/no-raw-create-async-engine.yml
  .ast-grep/tests/conformance/no-raw-create-async-engine-positive.py
  pyproject.toml
  src/family_assistant/storage/instrumentation.py
  tests/conftest.py
  tests/functional/storage/test_message_history.py
  tests/functional/web/conftest.py
  tests/unit/storage/test_instrumentation.py
  tests/unit/storage/test_message_history_live_updates.py
  uv.lock
Due: ruff-check, ruff-format, basedpyright, code-conformance, yamlfmt

Address Codex review: three more read-then-write sequences
  .lint-budget.toml
  src/family_assistant/services/attachment_registry.py
  src/family_assistant/storage/repositories/schedule_automations.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Fire commit callbacks after the commit, and two more atomicity fixes
  src/family_assistant/indexing/notes_indexer.py
  src/family_assistant/services/attachment_registry.py
  src/family_assistant/storage/database.py
  src/family_assistant/task_worker.py
  tests/functional/storage/test_commit_as_you_go.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Enforce the parked-transaction invariant; report connection leaks
  src/family_assistant/storage/base.py
  tests/conftest.py
  tests/functional/storage/test_message_history.py
  tests/functional/web/conftest.py
  tests/unit/storage/test_message_history_live_updates.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Address code review of the cutover
  .ast-grep/exemptions.yml
  .ast-grep/rules/README.md
  .ast-grep/rules/no-raw-transaction-management.yml
  .ast-grep/tests/conformance/no-raw-transaction-management-negative.py
  .ast-grep/tests/conformance/no-raw-transaction-management-positive.py
  .lint-budget.toml
  docs/design/db-commit-as-you-go.md
  src/family_assistant/events/processor.py
  src/family_assistant/indexing/message_history_indexer.py
  src/family_assistant/storage/api_tokens.py
  src/family_assistant/storage/repositories/notes.py
  src/family_assistant/storage/repositories/schedule_automations.py
  src/family_assistant/task_worker.py
  src/family_assistant/tools/engineering.py
  src/family_assistant/utils/logging_handler.py
  src/family_assistant/web/routers/app_auth.py
  src/family_assistant/web/routers/chat_api.py
  tests/conftest.py
  tests/functional/automations/test_async_delegation.py
  tests/functional/storage/test_message_history.py
  tests/functional/storage/test_migration_idempotency.py
  tests/functional/tasks/test_task_worker_pool.py
  tests/functional/test_error_logging.py
  tests/functional/test_ios_push_api.py
  tests/functional/test_push_api.py
  tests/functional/web/api/test_tools_api_taint.py
  tests/functional/web/ui/test_chat_attachments.py
  tests/unit/storage/test_instrumentation.py
  tests/unit/storage/test_message_history_live_updates.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt

Resume callback retries at delivery instead of rerunning the turn
  src/family_assistant/storage/repositories/message_history.py
  src/family_assistant/task_worker.py
  tests/functional/web/api/test_web_callback_taint.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Revert the notes-reindex reordering: it raced the replacement writer
  src/family_assistant/indexing/notes_indexer.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Resume delegation wakes at delivery instead of re-waking the profile
  src/family_assistant/task_worker.py
  tests/functional/automations/test_async_delegation.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Make four commit-as-you-go seams atomic
  src/family_assistant/storage/repositories/message_history.py
  src/family_assistant/storage/repositories/schedule_automations.py
  src/family_assistant/web/web_chat_interface.py
  tests/functional/storage/test_automations_crud.py
  tests/functional/storage/test_message_history_querying.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Record the accepted residual on the delegation wake checkpoint
  src/family_assistant/task_worker.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Absorb duplicate emails without aborting the caller's transaction
  src/family_assistant/storage/repositories/email.py
  tests/functional/storage/test_email_storage.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Surface a failed event listener instead of logging past it
  src/family_assistant/events/processor.py
  tests/functional/automations/test_event_system_advanced.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Stop entering the Database handle in the sync attachment API
  src/family_assistant/scripting/apis/attachments.py
  tests/functional/attachments/test_attachment_tools.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Commit an ingested document with the task that will index it
  src/family_assistant/indexing/ingestion.py
  tests/functional/indexing/test_document_retrieval.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Process an event's listeners as one unit, not one each
  src/family_assistant/events/processor.py
  src/family_assistant/events/storage.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Give action task ids a suffix the clock cannot collide on
  src/family_assistant/actions.py
  tests/functional/automations/test_event_system_advanced.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Keep the debug event row out of the listeners' transaction
  src/family_assistant/events/processor.py
  tests/functional/automations/test_event_system_advanced.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Treat a missing delivery id as a failed callback send
  src/family_assistant/task_worker.py
  tests/functional/web/api/test_web_callback_taint.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Read the turn's initial state before committing its prompt
  src/family_assistant/web/routers/chat_api.py
  tests/functional/web/api/test_chat_streaming.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Let a message-history write failure look like one
  src/family_assistant/storage/repositories/message_history.py
  tests/functional/storage/test_message_history_querying.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Report the persisted task when a cancel beats a blocking A2A send
  src/family_assistant/web/routers/a2a_api.py
  tests/functional/web/api/test_a2a_api.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Retry only the failures a replay can safely fix
  src/family_assistant/storage/database.py
  tests/unit/storage/test_sanitization.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Run one turn at a time per conversation
  docs/api/README.md
  src/family_assistant/web/routers/chat_api.py
  tests/functional/web/api/test_chat_turn_control.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Deliver a refused send to the turn that refused it
  docs/api/README.md
  frontend/src/chat/__tests__/TurnControl.test.tsx
  frontend/src/chat/useStreamingResponse.js
  src/family_assistant/web/routers/chat_api.py
  tests/functional/web/api/test_chat_turn_control.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, biome-format, eslint

Answer the tool calls a turn abandoned, instead of replaying a gap
  src/family_assistant/processing/service.py
  tests/unit/processing/test_unmatched_tool_calls.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Hold adopted output until the echo, and recover the prompt on failure
  frontend/src/chat/ChatApp.tsx
  frontend/src/chat/__tests__/TurnControl.test.tsx
  frontend/src/chat/useStreamingResponse.js
Due: biome-format, eslint
