Repository werdnum/family-assistant: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt, biome-format, eslint

ruff-check:
  name: ruff-check
  entry: ruff check --fix --preview
  language: system

ruff-format:
  name: ruff-format
  entry: ruff format --preview
  language: system

basedpyright:
  name: basedpyright
  entry: basedpyright
  language: system
  pass_filenames: false

code-conformance:
  name: code-conformance
  entry: .ast-grep/check-conformance.py
  language: system
  pass_filenames: true

mdformat:
  name: mdformat
  entry: mdformat --wrap 100
  language: system

yamlfmt:
  name: yamlfmt
  language: golang
  entry: yamlfmt
  additional_dependencies:
  - github.com/google/yamlfmt/cmd/yamlfmt@v0.17.0

biome-format:
  name: biome-format
  entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx @biomejs/biome format --write "${files[@]}"' --
  language: system
  pass_filenames: true

eslint:
  name: eslint
  entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx eslint --fix "${files[@]}"' --
  language: system
  pass_filenames: true

Switch event_handler profile to Gemini 3 Flash
  defaults.yaml
Due: yamlfmt

Add automatic cleanup of completed one-time automations after 24 hours
  src/family_assistant/assistant.py
  src/family_assistant/storage/repositories/events.py
  src/family_assistant/task_worker.py
  tests/unit/services/test_completed_automation_cleanup.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Address PR #667 review feedback
  src/family_assistant/assistant.py
  src/family_assistant/task_worker.py
  tests/unit/services/test_completed_automation_cleanup.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Fix test failures in Claude Code Web environment
  frontend/src/components/assistant-ui/attachment.tsx
  tests/functional/web/api/test_chat_streaming.py
  tests/integration/llm/test_google_computer_use_integration.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, biome-format, eslint

Remove dead default branch in attachment type switch
  frontend/src/components/assistant-ui/attachment.tsx
Due: biome-format, eslint

Use AND semantics for match_conditions + condition_script
  frontend/src/pages/Automations/components/AutomationDetail.jsx
  frontend/src/pages/Automations/components/CreateEventAutomation.jsx
  frontend/src/test/mocks/handlers.ts
  src/family_assistant/events/processor.py
  tests/unit/events/test_event_match_conditions.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, biome-format, eslint

Address PR review: template literal placeholders and JSON object validation
  frontend/src/pages/Automations/components/CreateEventAutomation.jsx
Due: biome-format, eslint

Handle empty LLM responses by re-prompting once
  src/family_assistant/processing.py
  tests/unit/processing/test_empty_response_retry.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Validate message history before database insertion
  src/family_assistant/llm/__init__.py
  src/family_assistant/llm/messages.py
  src/family_assistant/storage/repositories/message_history.py
  tests/unit/llm/test_message_validation.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

refactor: add typed MessageAttachmentMetadata and MessageReasoningInfo TypedDicts
  src/family_assistant/llm/messages.py
  src/family_assistant/processing.py
  src/family_assistant/storage/repositories/message_history.py
  src/family_assistant/task_worker.py
  src/family_assistant/telegram/handler.py
  src/family_assistant/tools/communication.py
  src/family_assistant/web/models.py
  src/family_assistant/web/routers/chat_api.py
  src/family_assistant/web/web_chat_interface.py
  tests/functional/attachments/test_llm_image_handling.py
  tests/functional/calendar/test_reminders.py
  tests/functional/telegram/test_thread_history.py
  tests/functional/web/ui/test_chat_push_integration.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

refactor: migrate direct add_message callers to use typed LLMMessage
  docs/design/refactor-add-message-to-accept-llmmessage.md
  src/family_assistant/processing.py
  src/family_assistant/storage/repositories/message_history.py
  tests/functional/web/ui/test_conversations_list.py
  tests/unit/storage/test_message_history_live_updates.py
  tests/unit/storage/test_message_history_notifier_integration.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Add design doc for eliminating message dicts from processing pipeline
  docs/design/eliminate-message-dicts.md
Due: mdformat

Fix list content serialization and restore test attachments
  src/family_assistant/storage/repositories/message_history.py
  tests/functional/telegram/test_thread_history.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Validate message history: yield typed LLMMessage, delete add() shim, return int
  src/family_assistant/processing.py
  src/family_assistant/storage/message_history.py
  src/family_assistant/storage/repositories/message_history.py
  src/family_assistant/web/web_chat_interface.py
  tests/functional/storage/test_message_history.py
  tests/functional/telegram/test_thread_history.py
  tests/integration/llm/test_google_computer_use_integration.py
  tests/unit/processing/test_processing_multimodal_integration.py
  tests/unit/storage/test_message_history_notifier_integration.py
  tests/unit/test_otel_processing_spans.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Fix json.dumps crash on Pydantic ContentPart models in add_message
  src/family_assistant/storage/repositories/message_history.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Remove dead _validate_message method and its tests
  src/family_assistant/storage/repositories/message_history.py
  tests/unit/llm/test_message_validation.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Update tests/integration/llm/test_google_computer_use_integration.py
  tests/integration/llm/test_google_computer_use_integration.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Bump timeout
  tests/functional/web/api/test_chat_streaming.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Handle empty LLM response in process_message_stream gracefully
  src/family_assistant/processing.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Decompose processing.py monolith into a processing/ package
  src/family_assistant/processing.py
  src/family_assistant/processing/__init__.py
  src/family_assistant/processing/attachments.py
  src/family_assistant/processing/context.py
  src/family_assistant/processing/llm_loop.py
  src/family_assistant/processing/service.py
  src/family_assistant/processing/tool_execution.py
  src/family_assistant/processing/types.py
  src/family_assistant/processing/utils.py
  src/family_assistant/web/routers/context_viewer.py
  src/family_assistant/web/routers/gemini_live_api.py
  tests/functional/calendar/test_event_management.py
  tests/functional/calendar/test_integration.py
  tests/functional/telegram/test_thread_history.py
  tests/functional/tools/test_large_tool_results.py
  tests/unit/processing/test_attachment_selection.py
  tests/unit/processing/test_processing_history_formatting.py
  tests/unit/processing/test_processing_multimodal_integration.py
  tests/unit/test_otel_processing_spans.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Remove unnecessary fallbacks and property shims from processing package
  src/family_assistant/assistant.py
  src/family_assistant/processing/context.py
  src/family_assistant/processing/service.py
  src/family_assistant/processing/tool_execution.py
  src/family_assistant/web/routers/asterisk_live_api.py
  src/family_assistant/web/routers/automations_api.py
  src/family_assistant/web/routers/context_viewer.py
  src/family_assistant/web/routers/gemini_live_api.py
  tests/functional/telegram/test_telegram_send_message_tool.py
  tests/unit/processing/test_processing_history_formatting.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Milestone 1: Replace dict[str, Any] with proper types for reasoning_info chain
  src/family_assistant/llm/__init__.py
  src/family_assistant/llm/messages.py
  src/family_assistant/llm/providers/anthropic_client.py
  src/family_assistant/llm/providers/google_genai_client.py
  src/family_assistant/llm/providers/openai_client.py
  src/family_assistant/processing/llm_loop.py
  src/family_assistant/processing/service.py
  src/family_assistant/processing/tool_execution.py
  src/family_assistant/processing/types.py
  src/family_assistant/web/routers/chat_api.py
  tests/functional/attachments/test_llm_image_handling.py
  tests/functional/integration/test_thought_signatures.py
  tests/functional/web/api/test_chat_streaming.py
  tests/mocks/mock_llm.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Milestone 3: Replace dict[str, Any] with SDK types in LLM providers
  src/family_assistant/llm/__init__.py
  src/family_assistant/llm/providers/anthropic_client.py
  src/family_assistant/llm/providers/google_genai_client.py
  src/family_assistant/llm/providers/openai_client.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Milestones 5+6+7: Replace dict[str, Any] with typed dicts for task payloads, events, and attachments
  src/family_assistant/assistant.py
  src/family_assistant/events/condition_evaluator.py
  src/family_assistant/events/home_assistant_source.py
  src/family_assistant/events/processor.py
  src/family_assistant/events/storage.py
  src/family_assistant/indexing/tasks.py
  src/family_assistant/scripting/apis/attachments.py
  src/family_assistant/services/attachment_registry.py
  src/family_assistant/storage/types.py
  src/family_assistant/task_worker.py
  tests/functional/home_assistant/test_reconnection.py
  tests/functional/indexing/test_indexing_events.py
  tests/functional/storage/test_automations_crud.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Milestones 4+8+9: Replace dict[str, Any] with typed dicts for user messages, message history, and scripting
  src/family_assistant/llm/__init__.py
  src/family_assistant/llm/providers/anthropic_client.py
  src/family_assistant/llm/providers/google_genai_client.py
  src/family_assistant/llm/providers/openai_client.py
  src/family_assistant/llm/retrying_client.py
  src/family_assistant/scripting/apis/attachments.py
  src/family_assistant/scripting/monty_engine.py
  src/family_assistant/storage/message_history.py
  src/family_assistant/storage/repositories/message_history.py
  src/family_assistant/storage/types.py
  src/family_assistant/task_worker.py
  src/family_assistant/web/routers/chat_api.py
  tests/functional/integration/test_thought_signatures.py
  tests/mocks/mock_llm.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Milestones 10+11+12: Replace dict[str, Any] with typed dicts for storage repos, web layer, indexing, and recording/playback
  src/family_assistant/context_providers.py
  src/family_assistant/indexing/document_indexer.py
  src/family_assistant/indexing/email_indexer.py
  src/family_assistant/indexing/ingestion.py
  src/family_assistant/indexing/notes_indexer.py
  src/family_assistant/indexing/pipeline.py
  src/family_assistant/indexing/processors/dispatch_processors.py
  src/family_assistant/indexing/processors/llm_processors.py
  src/family_assistant/indexing/types.py
  src/family_assistant/llm/__init__.py
  src/family_assistant/storage/events.py
  src/family_assistant/storage/repositories/automations.py
  src/family_assistant/storage/repositories/error_logs.py
  src/family_assistant/storage/repositories/events.py
  src/family_assistant/storage/repositories/schedule_automations.py
  src/family_assistant/storage/repositories/worker_tasks.py
  src/family_assistant/storage/types.py
  src/family_assistant/tools/automations.py
  src/family_assistant/tools/documents.py
  src/family_assistant/web/app_creator.py
  src/family_assistant/web/auth.py
  src/family_assistant/web/confirmation_manager.py
  src/family_assistant/web/models.py
  src/family_assistant/web/routers/automations_api.py
  src/family_assistant/web/routers/chat_api.py
  src/family_assistant/web/routers/debug_api.py
  src/family_assistant/web/routers/diagnostics_api.py
  src/family_assistant/web/routers/documents_api.py
  src/family_assistant/web/routers/events_api.py
  src/family_assistant/web/routers/push.py
  src/family_assistant/web/routers/tools_api.py
  src/family_assistant/web/routers/vector_search.py
  src/family_assistant/web/routers/webhooks.py
  tests/functional/indexing/test_document_retrieval.py
  tests/functional/indexing/test_indexing_events.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Fix real bugs found by type checking: not-found returns, ToolCallResponseItem, thought_summaries
  docs/development/type-issues-found.md
  src/family_assistant/llm/providers/google_genai_client.py
  src/family_assistant/storage/repositories/automations.py
  src/family_assistant/storage/repositories/events.py
  src/family_assistant/storage/repositories/schedule_automations.py
  src/family_assistant/web/models.py
  src/family_assistant/web/routers/automations_api.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Fix review feedback: deduplicate EmbeddingMetadata, make WorkerTaskDict.id NotRequired
  src/family_assistant/indexing/tasks.py
  src/family_assistant/indexing/types.py
  src/family_assistant/storage/repositories/worker_tasks.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Use strict content_hash field access with realistic test data
  src/family_assistant/indexing/tasks.py
  tests/functional/indexing/test_indexing_events.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Use cast instead of assert for type narrowing in HA source
  src/family_assistant/events/home_assistant_source.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Add processing module cleanup analysis doc
  docs/design/processing-module-cleanup.md
Due: mdformat

docs: consolidate processing cleanup backlog findings
  docs/design/processing-cleanup-backlog.md
Due: mdformat

docs: fix PR-added finding attribution tags
  docs/design/processing-cleanup-backlog.md
Due: mdformat

docs: normalize nested bullet formatting in backlog
  docs/design/processing-cleanup-backlog.md
Due: mdformat

processing: harden error handling and align sync/stream behavior
  frontend/src/components/assistant-ui/__tests__/attachment.test.tsx
  src/family_assistant/processing/attachments.py
  src/family_assistant/processing/context.py
  src/family_assistant/processing/llm_loop.py
  src/family_assistant/processing/service.py
  src/family_assistant/processing/tool_execution.py
  src/family_assistant/processing/utils.py
  tests/unit/processing/test_error_messages.py
  tests/unit/processing/test_processing_fail_fast.py
  tests/unit/processing/test_processing_multimodal_integration.py
  tests/unit/test_otel_processing_spans.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, biome-format, eslint

processing: preserve tool_call_id in parallel error path
  src/family_assistant/processing/llm_loop.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

processing: preserve traceback for parallel tool failures
  src/family_assistant/processing/llm_loop.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

processing phase 2: harden attachment and type contracts
  frontend/src/components/assistant-ui/__tests__/attachment.test.tsx
  src/family_assistant/assistant.py
  src/family_assistant/processing/__init__.py
  src/family_assistant/processing/attachments.py
  src/family_assistant/processing/context.py
  src/family_assistant/processing/llm_loop.py
  src/family_assistant/processing/service.py
  src/family_assistant/processing/tool_execution.py
  src/family_assistant/processing/types.py
  src/family_assistant/processing/utils.py
  src/family_assistant/web/routers/asterisk_live_api.py
  tests/functional/automations/test_delegation_basic.py
  tests/functional/web/api/test_thought_signature_persistence.py
  tests/unit/processing/test_attachment_selection.py
  tests/unit/processing/test_error_messages.py
  tests/unit/processing/test_large_result_fail_fast.py
  tests/unit/processing/test_processing_multimodal_integration.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, biome-format, eslint

Path conditions:
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  basedpyright: any of: \.py$
  code-conformance: any of: \.py$
  mdformat: any of: \.(md|markdown|mdown)$, but not: (?x)^( 
  docs/python-telegram-bot-abridged\.md|
  docs/python-telegram-bot-abridged-filtered\.md
)$

  yamlfmt: any of: \.(yaml|yml)$
  biome-format: any of: ^frontend/.*\.(js|jsx|ts|tsx|json)$, but not: ^frontend/(dev-dist/|package-lock\.json$)
  eslint: any of: ^frontend/.*\.(js|jsx|ts|tsx)$
