Repository werdnum/family-assistant: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt, biome-format, eslint

ruff-check:
  name: ruff-check
  entry: ruff check --fix --preview
  language: system

ruff-format:
  name: ruff-format
  entry: ruff format --preview
  language: system

basedpyright:
  name: basedpyright
  entry: basedpyright
  language: system
  pass_filenames: false

code-conformance:
  name: code-conformance
  entry: .ast-grep/check-conformance.py
  language: system
  pass_filenames: true

mdformat:
  name: mdformat
  entry: mdformat --wrap 100
  language: system

yamlfmt:
  name: yamlfmt
  language: golang
  entry: yamlfmt
  additional_dependencies:
  - github.com/google/yamlfmt/cmd/yamlfmt@v0.17.0

biome-format:
  name: biome-format
  entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx @biomejs/biome format --write "${files[@]}"' --
  language: system
  pass_filenames: true

eslint:
  name: eslint
  entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx eslint --fix "${files[@]}"' --
  language: system
  pass_filenames: true

fix chat tool hover layout
  deploy/testflight-sandbox/README.md
  docs/design/ios-chat-layout-watchdog-crash.md
  docs/design/ios-chat-live-resilience.md
  docs/design/ios-voice-mode.md
  docs/design/ios_testflight_delivery.md
  frontend/src/chat/ChatApp.tsx
  frontend/src/chat/Thread.tsx
  frontend/src/chat/__tests__/ChatApp.test.tsx
  frontend/src/chat/__tests__/Thread.test.tsx
  screenshots/desktop/chat-tool-call-hover-before.png
  scripts/format-and-lint.sh
  tests/functional/tasks/test_task_worker_pool.py
  tests/functional/web/ui/test_notes_flow.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, biome-format, eslint

Fix schedule automation rescheduling after failures
  src/family_assistant/assistant.py
  src/family_assistant/storage/repositories/schedule_automations.py
  src/family_assistant/storage/repositories/tasks.py
  src/family_assistant/task_worker.py
  tests/conftest.py
  tests/functional/storage/test_automations_crud.py
  tests/functional/tasks/test_task_worker_resilience.py
  tests/functional/web/ui/test_chat_attachments.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Loosen test-before-commit admonition in AGENTS.md
  AGENTS.md
Due: mdformat

Clarify CI is the full-suite backstop in AGENTS.md
  AGENTS.md
Due: mdformat

fix(web): resume dropped reply streams
  docs/design/web-chat-stream-resume.md
  frontend/src/chat/ChatApp.tsx
  frontend/src/chat/__tests__/ResumableStreaming.test.tsx
  frontend/src/chat/__tests__/StreamingErrorRecovery.test.tsx
  frontend/src/chat/types.ts
  frontend/src/chat/useStreamingResponse.js
Due: mdformat, biome-format, eslint

fix(web): keep tool-only rows unconfirmed after stream give-up
  frontend/src/chat/ChatApp.tsx
  frontend/src/chat/__tests__/ResumableStreaming.test.tsx
Due: biome-format, eslint

fix(web): resolve stream reconcile review findings
  frontend/src/chat/ChatApp.tsx
  frontend/src/chat/__tests__/ResumableStreaming.test.tsx
  frontend/src/chat/types.ts
  frontend/src/chat/useStreamingResponse.js
  src/family_assistant/web/routers/chat_api.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, biome-format, eslint

test(web): make stream review tests deterministic
  frontend/src/chat/__tests__/ResumableStreaming.test.tsx
  tests/functional/web/ui/test_chat_attachments.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, biome-format, eslint

fix(web): preserve running spinner during reconcile
  frontend/src/chat/ChatApp.tsx
  frontend/src/chat/__tests__/ResumableStreaming.test.tsx
Due: biome-format, eslint

Handle Shopify UCP error responses
  src/family_assistant/tools/shopping.py
  tests/unit/tools/test_shopping_tools.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Add UCP shopping client prerequisites
  defaults.yaml
  docs/design/ucp-client-prerequisites.md
  docs/user/USER_GUIDE.md
  frontend/src/chat/AttachToResponseTool.tsx
  pyproject.toml
  src/family_assistant/config_loader.py
  src/family_assistant/config_models.py
  src/family_assistant/services/ucp.py
  src/family_assistant/skills/builtin/shopping.md
  src/family_assistant/tools/__init__.py
  src/family_assistant/tools/metadata.py
  src/family_assistant/tools/shopping.py
  src/family_assistant/web/app_creator.py
  src/family_assistant/web/routers/ucp.py
  tests/functional/tools/test_defaults_tool_policy_parity.py
  tests/functional/web/pages/chat_page.py
  tests/functional/web/ui/test_chat_attachments.py
  tests/unit/services/test_ucp_service.py
  tests/unit/tools/test_shopping_tools.py
  tests/unit/web/test_ucp_profile.py
  uv.lock
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt, biome-format, eslint

Tighten UCP profile and cart validation
  src/family_assistant/config_models.py
  src/family_assistant/services/ucp.py
  src/family_assistant/tools/shopping.py
  tests/unit/services/test_ucp_service.py
  tests/unit/tools/test_shopping_tools.py
  tests/unit/web/test_ucp_profile.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Fix UCP profile validation gaps
  src/family_assistant/config_models.py
  src/family_assistant/services/ucp.py
  tests/unit/services/test_ucp_service.py
  tests/unit/web/test_ucp_profile.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Validate Shopify checkout handoff outcomes
  src/family_assistant/tools/shopping.py
  tests/unit/tools/test_shopping_tools.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Make PWA manifest and service worker paths public
  src/family_assistant/web/auth.py
  tests/unit/web/test_auth_public_paths.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Drop /manifest.json from public paths
  src/family_assistant/web/auth.py
  tests/unit/web/test_auth_public_paths.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Wake source profile on delegation completion
  alembic/versions/2026_06_24-add_internal_message_history_flag.py
  alembic/versions/2026_06_24-add_source_subconversation_to_delegation_runs.py
  docs/user/USER_GUIDE.md
  prompts.yaml
  src/family_assistant/processing/service.py
  src/family_assistant/storage/delegation_runs.py
  src/family_assistant/storage/message_history.py
  src/family_assistant/storage/repositories/delegation_runs.py
  src/family_assistant/storage/repositories/message_history.py
  src/family_assistant/storage/types.py
  src/family_assistant/task_worker.py
  src/family_assistant/tools/services.py
  src/family_assistant/web/routers/diagnostics_api.py
  tests/functional/automations/test_async_delegation.py
  tests/functional/automations/test_subconversation_isolation.py
  tests/functional/storage/test_message_history_querying.py
  tests/functional/web/ui/test_conversation_messages.py
  tests/functional/web/ui/test_conversations_list.py
  tests/unit/processing/test_processing_history_formatting.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt

Add per-profile tool inventory for diagnosing tool bloat
  AGENTS.md
  defaults.yaml
  src/family_assistant/tool_inventory.py
  src/family_assistant/tools/__init__.py
  src/family_assistant/tools/engineering.py
  src/family_assistant/web/routers/debug_api.py
  tests/functional/web/api/test_debug_profile_tools.py
  tests/unit/test_tool_inventory.py
  tests/unit/tools/test_engineering.py
  tests/unit/tools/test_engineering_diagnostics.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt

Share inventory serialization between endpoint and engineer tool
  src/family_assistant/tool_inventory.py
  src/family_assistant/tools/engineering.py
  src/family_assistant/web/routers/debug_api.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Address Codex review: catalog cost, source split, collisions
  src/family_assistant/tool_inventory.py
  tests/functional/web/api/test_debug_profile_tools.py
  tests/unit/test_tool_inventory.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Address Codex round 2: catalog by source, drop meta from all-activated
  src/family_assistant/tool_inventory.py
  tests/unit/test_tool_inventory.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Make shopping tools merchant-agnostic and rename to ucp_*
  defaults.yaml
  src/family_assistant/skills/builtin/shopping.md
  src/family_assistant/tools/__init__.py
  src/family_assistant/tools/shopping.py
  tests/functional/tools/test_defaults_tool_policy_parity.py
  tests/unit/tools/test_shopping_tools.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt

Add merchant UCP profile discovery service
  docs/design/ucp-client-prerequisites.md
  src/family_assistant/services/ucp.py
  tests/unit/services/test_ucp_service.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Document merchant-agnostic UCP shopping in the user guide
  docs/user/USER_GUIDE.md
Due: mdformat

Auto-detect UCP shopping support while browsing
  src/family_assistant/tools/browser_dom.py
  src/family_assistant/tools/browser_session.py
  tests/unit/tools/test_browser_dom.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Address review: validate endpoint host, justify test suppressions
  src/family_assistant/services/ucp.py
  tests/unit/services/test_ucp_service.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Address review: guard UCP probe against SSRF, probe after navigation
  docs/design/ucp-client-prerequisites.md
  src/family_assistant/tools/browser_dom.py
  tests/unit/tools/test_browser_dom.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Harden UCP detection: sanitize hints, restrict endpoints, gate on URL change
  docs/design/ucp-client-prerequisites.md
  src/family_assistant/services/ucp.py
  src/family_assistant/tools/browser_dom.py
  src/family_assistant/tools/browser_session.py
  src/family_assistant/tools/shopping.py
  tests/unit/tools/test_browser_dom.py
  tests/unit/tools/test_shopping_tools.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Address review: robust UCP endpoint selection and single resolution
  docs/design/ucp-client-prerequisites.md
  src/family_assistant/services/ucp.py
  src/family_assistant/tools/shopping.py
  tests/unit/services/test_ucp_service.py
  tests/unit/tools/test_browser_dom.py
  tests/unit/tools/test_shopping_tools.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Drop private-address guard from the UCP browser probe
  docs/design/ucp-client-prerequisites.md
  src/family_assistant/tools/browser_dom.py
  tests/unit/tools/test_browser_dom.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Address review: tolerate malformed endpoints, check signing before discovery
  src/family_assistant/services/ucp.py
  src/family_assistant/tools/shopping.py
  tests/unit/services/test_ucp_service.py
  tests/unit/tools/test_shopping_tools.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Address review: undecodable profiles and same-origin hint gating
  src/family_assistant/services/ucp.py
  src/family_assistant/tools/browser_dom.py
  src/family_assistant/tools/shopping.py
  tests/unit/services/test_ucp_service.py
  tests/unit/tools/test_browser_dom.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Address review: validate signing key material before checkout discovery
  src/family_assistant/services/ucp.py
  src/family_assistant/tools/shopping.py
  tests/unit/tools/test_shopping_tools.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Fix async delegation wakeup test flake
  tests/functional/automations/test_subconversation_isolation.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Add cancel/interrupt/steer controls to the web chat
  frontend/src/chat/ChatApp.tsx
  frontend/src/chat/Thread.tsx
  frontend/src/chat/chatControls.ts
  frontend/src/chat/useStreamingResponse.js
  src/family_assistant/web/conversation_stream_hub.py
  src/family_assistant/web/routers/chat_api.py
  src/family_assistant/web/turn_producer.py
  src/family_assistant/web/web_mid_turn_controller.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, biome-format, eslint

Fix assistant attachment history rendering
  frontend/src/chat/ChatApp.tsx
  frontend/src/chat/__tests__/ChatApp.test.tsx
Due: biome-format, eslint

Test cancel/steer endpoints, document them, handle cancelled in reconcile
  docs/user/USER_GUIDE.md
  frontend/src/chat/ChatApp.tsx
  frontend/src/chat/Thread.tsx
  frontend/src/chat/__tests__/TurnControl.test.tsx
  src/family_assistant/web/routers/chat_api.py
  tests/functional/web/api/test_chat_turn_control.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, biome-format, eslint

Track the live turn before the kickoff POST returns
  frontend/src/chat/useStreamingResponse.js
Due: biome-format, eslint

Address Codex review: reject confirmations on stop, preserve steer text, persist raw
  frontend/src/chat/ChatApp.tsx
  frontend/src/chat/Thread.tsx
  frontend/src/chat/chatControls.ts
  src/family_assistant/processing/llm_loop.py
  src/family_assistant/web/routers/chat_api.py
  tests/functional/web/api/test_chat_turn_control.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, biome-format, eslint

Address Codex round 2: propagate confirmation-rejection failures, recover lost steers
  frontend/src/chat/ChatApp.tsx
  frontend/src/chat/__tests__/TurnControl.test.tsx
  frontend/src/chat/useStreamingResponse.js
  src/family_assistant/web/routers/chat_api.py
  tests/functional/web/api/test_chat_turn_control.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, biome-format, eslint

Path conditions:
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  basedpyright: any of: \.py$
  code-conformance: any of: \.py$
  mdformat: any of: \.(md|markdown|mdown)$, but not: (?x)^( 
  docs/python-telegram-bot-abridged\.md|
  docs/python-telegram-bot-abridged-filtered\.md
)$

  yamlfmt: any of: \.(yaml|yml)$
  biome-format: any of: ^frontend/.*\.(js|jsx|ts|tsx|json)$, but not: ^frontend/(dev-dist/|package-lock\.json$)
  eslint: any of: ^frontend/.*\.(js|jsx|ts|tsx)$
