Repository werdnum/family-assistant: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, basedpyright, mdformat, biome-format, eslint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-check
        name: ruff-check
        entry: ruff check --fix --preview
        language: system
        types: [python]
      - id: ruff-format
        name: ruff-format
        entry: ruff format --preview
        language: system
        types: [python]
  - repo: local
    hooks:
      - id: basedpyright
        name: basedpyright
        entry: basedpyright
        language: system
        types: [python]
        pass_filenames: false
  - repo: local
    hooks:
      - id: mdformat
        name: mdformat
        entry: mdformat --wrap 100
        language: system
        types: [markdown]
        exclude: "(?x)^( \n  docs/python-telegram-bot-abridged\\.md|\n  docs/python-telegram-bot-abridged-filtered\\.md\n)$\n"
  - repo: https://github.com/google/yamlfmt
    rev: v0.17.0
    hooks:
      - id: yamlfmt
  - repo: local
    hooks:
      - id: biome-format
        name: biome-format
        entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx @biomejs/biome format --write "${files[@]}"' --
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx|json)$
        pass_filenames: true
      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx eslint --fix "${files[@]}"' --
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx)$
        pass_filenames: true

refactor: Optimize CI and improve conformance documentation
  .ast-grep/EXEMPTIONS.md
  .ast-grep/exemptions.yml
  .github/workflows/ci-with-devcontainer.yml
  AGENTS.md
Due: mdformat

fix: Split uv sync to preserve Docker cache and fix CI build
  Dockerfile
Due: none

fix: Add missing exemptions for conftest.py files
  .ast-grep/exemptions.yml
Due: none

feat: Add code conformance checking with ast-grep
  .ast-grep/EXEMPTIONS.md
  .ast-grep/check-conformance.py
  .ast-grep/exemptions.yml
  .ast-grep/rules/README.md
  .ast-grep/rules/no-asyncio-sleep-in-tests.yml
  .ast-grep/rules/no-playwright-wait-for-timeout.yml
  .ast-grep/rules/no-time-sleep-in-tests.yml
  .claude/lint-hook.py
  .pre-commit-config.yaml
  docs/development/ast-grep-recipes.md
  scripts/audit-conformance-exemptions.sh
  scripts/check-conformance.sh
  scripts/format-and-lint.sh
  sgconfig.yml
  src/family_assistant/web/routers/chat_api.py
Due: ruff-check, ruff-format, basedpyright, mdformat

fix: Fix race condition in react_documents tests by waiting for all tasks
  .claude/check_banned_commands.py
  tests/functional/web/test_react_documents_ui.py
Due: ruff-check, ruff-format, basedpyright

fix: Remove networkidle waits and fix race conditions in Playwright tests
  tests/functional/web/conftest.py
  tests/functional/web/pages/base_page.py
  tests/functional/web/pages/events_page.py
  tests/functional/web/test_chat_ui_attachment_response.py
  tests/functional/web/test_events_ui.py
  tests/functional/web/test_history_ui.py
  tests/functional/web/test_live_message_updates.py
  tests/functional/web/test_page_layout.py
  tests/functional/web/test_playwright_basic.py
  tests/functional/web/test_profile_switching_ui.py
  tests/functional/web/test_tools_ui_playwright.py
Due: ruff-check, ruff-format, basedpyright

feat: Add Dockerfile build verification to CI and skip test requirement for Dockerfile-only changes
  .claude/test-verification-core.sh
  .github/workflows/ci-with-devcontainer.yml
Due: none

fix: Replace arbitrary waits with condition-based waits in Playwright tests
  .ast-grep/exemptions.yml
  .ast-grep/rules/no-asyncio-sleep-in-tests.yml
  .ast-grep/rules/no-playwright-wait-for-timeout.yml
  tests/functional/web/pages/base_page.py
  tests/functional/web/pages/chat_page.py
  tests/functional/web/test_event_listeners_ui.py
  tests/functional/web/test_history_ui.py
  tests/functional/web/test_tool_call_grouping.py
  tests/functional/web/test_tools_ui_playwright.py
Due: ruff-check, ruff-format, basedpyright

fix: Increase build-main-container timeout to 120 minutes and add GHA cache
  .github/workflows/ci-with-devcontainer.yml
Due: none

refactor: Remove unnecessary fallback reload in notes page test
  tests/functional/web/pages/notes_page.py
Due: ruff-check, ruff-format, basedpyright

feat: Use CPU-only torch to reduce image size
  .github/workflows/build-containers.yml
  pyproject.toml
  uv.lock
Due: none

chore: Update GitHub Actions workflows
  .github/workflows/gemini-dispatch.yml
  .github/workflows/gemini-invoke.yml
  .github/workflows/gemini-review.yml
  .github/workflows/gemini-scheduled-triage.yml
  .github/workflows/gemini-triage.yml
Due: none

fix: Handle ToolResult attachments in script tool execution
  config.yaml
  src/family_assistant/scripting/apis/tools.py
  src/family_assistant/scripting/engine.py
  tests/functional/test_script_wake_llm.py
Due: ruff-check, ruff-format, basedpyright

Update AGENTS.md
  AGENTS.md
Due: mdformat
