Repository werdnum/family-assistant: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt, biome-format, eslint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-check
        name: ruff-check
        entry: ruff check --fix --preview
        language: system
        types: [python]
      - id: ruff-format
        name: ruff-format
        entry: ruff format --preview
        language: system
        types: [python]
  - repo: local
    hooks:
      - id: basedpyright
        name: basedpyright
        entry: basedpyright
        language: system
        types: [python]
        pass_filenames: false
      - id: code-conformance
        name: code-conformance
        entry: .ast-grep/check-conformance.py
        language: system
        types: [python]
        pass_filenames: true
  - repo: local
    hooks:
      - id: mdformat
        name: mdformat
        entry: mdformat --wrap 100
        language: system
        types: [markdown]
        exclude: "(?x)^( \n  docs/python-telegram-bot-abridged\\.md|\n  docs/python-telegram-bot-abridged-filtered\\.md\n)$\n"
  - repo: local
    hooks:
      - id: yamlfmt
        name: yamlfmt
        language: golang
        entry: yamlfmt
        additional_dependencies:
          - github.com/google/yamlfmt/cmd/yamlfmt@v0.17.0
        types: [yaml]
  - repo: local
    hooks:
      - id: biome-format
        name: biome-format
        entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx @biomejs/biome format --write "${files[@]}"' --
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx|json)$
        exclude: ^frontend/(dev-dist/|package-lock\.json$)
        pass_filenames: true
      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx eslint --fix "${files[@]}"' --
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx)$
        pass_filenames: true

feat(worker): Add worker backend protocol and tools (Milestone 2)
  src/family_assistant/services/backends/__init__.py
  src/family_assistant/services/backends/docker.py
  src/family_assistant/services/backends/kubernetes.py
  src/family_assistant/services/backends/mock.py
  src/family_assistant/services/worker_backend.py
  src/family_assistant/tools/__init__.py
  src/family_assistant/tools/worker.py
  src/family_assistant/web/routers/webhooks.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

review suggested edit
  tests/functional/web/ui/test_chat_basic.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

fix: Use retry pattern for SQLite transaction visibility in web UI tests
  tests/functional/web/ui/conftest.py
  tests/functional/web/ui/test_conversation_messages.py
  tests/functional/web/ui/test_conversations_list.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

fix: Increase wait_for_condition timeout and check message count
  tests/functional/web/ui/conftest.py
  tests/functional/web/ui/test_conversations_list.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

refactor: Use get_running_loop() instead of deprecated get_event_loop()
  tests/functional/web/ui/conftest.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Add error handling guidelines documentation
  AGENTS.md
  REVIEW_GUIDELINES.md
  docs/development/error-handling.md
Due: mdformat

Clarify that logging alone is still a silent failure
  REVIEW_GUIDELINES.md
Due: mdformat

Use native installer for Claude Code in dev container
  .devcontainer/Dockerfile
Due: none

feat: Reduce Playwright detectability using rebrowser-playwright
  pyproject.toml
  src/family_assistant/tools/computer_use.py
  src/family_assistant/utils/scraping.py
  src/family_assistant/utils/stealth_browser.py
  uv.lock
Due: ruff-check, ruff-format, basedpyright, code-conformance

feat: Validate empty user input in LLM layer
  src/family_assistant/llm/__init__.py
  src/family_assistant/llm/providers/google_genai_client.py
  src/family_assistant/llm/providers/openai_client.py
  tests/unit/llm/test_empty_input_validation.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

refactor: Make mock LLM inherit from BaseLLMClient for validation
  tests/mocks/mock_llm.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

fix: Make stealth browser timezone/locale configurable and ensure consistent UA
  src/family_assistant/utils/scraping.py
  src/family_assistant/utils/stealth_browser.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Revert "Fix CI test failures: rename TestDocument to avoid Pytest collection warning"
  REVIEW_GUIDELINES.md
  alembic/versions/2025_01_25-add_worker_tasks_table.py
  alembic/versions/2025_01_28-add_callback_token_to_worker_tasks.py
  defaults.yaml
  frontend/src/chat/ChatApp.tsx
  src/family_assistant/config_loader.py
  src/family_assistant/config_models.py
  src/family_assistant/services/backends/__init__.py
  src/family_assistant/services/backends/docker.py
  src/family_assistant/services/backends/kubernetes.py
  src/family_assistant/services/backends/mock.py
  src/family_assistant/services/worker_backend.py
  src/family_assistant/storage/context.py
  src/family_assistant/storage/repositories/__init__.py
  src/family_assistant/storage/repositories/worker_tasks.py
  src/family_assistant/task_worker.py
  src/family_assistant/tools/__init__.py
  src/family_assistant/tools/worker.py
  src/family_assistant/tools/workspace_files.py
  src/family_assistant/utils/__init__.py
  src/family_assistant/utils/workspace.py
  src/family_assistant/web/routers/webhooks.py
  tests/functional/test_api_endpoints.py
  tests/functional/vector_search/test_vector_search.py
  tests/functional/web/ui/conftest.py
  tests/functional/web/ui/test_chat_basic.py
  tests/functional/web/ui/test_conversation_messages.py
  tests/functional/web/ui/test_conversations_list.py
  tests/unit/services/backends/test_docker_backend.py
  tests/unit/services/backends/test_kubernetes_backend.py
  tests/unit/services/test_worker_task_cleanup.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt, biome-format, eslint

Revert "Refactor file path resolution to use project root constant"
  src/family_assistant/constants.py
  src/family_assistant/web/app_creator.py
  src/family_assistant/web/routers/vite_pages.py
  src/family_assistant/web/template_utils.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Add telegram-test-api integration for realistic Telegram bot testing
  frontend/package-lock.json
  frontend/package.json
  src/family_assistant/config_models.py
  src/family_assistant/telegram/service.py
  tests/conftest.py
  tests/functional/telegram/helpers.py
  tests/functional/telegram/test_telegram_test_api.py
  tests/mocks/telegram_test_server.py
  tests/mocks/telegram_test_server_runner.js
Due: ruff-check, ruff-format, basedpyright, code-conformance, biome-format

Fix Telegram test flakiness with realistic server synchronization
  .serena/project.yml
  src/family_assistant/telegram/handler.py
  tests/functional/telegram/conftest.py
  tests/functional/telegram/test_message_history_limit.py
  tests/functional/telegram/test_telegram_confirmation.py
  tests/functional/telegram/test_telegram_handler.py
  tests/functional/telegram/test_telegram_send_message_tool.py
  tests/functional/telegram/test_telegram_slash_commands.py
  tests/functional/telegram/test_telegram_test_api.py
  tests/mocks/telegram_test_server.py
  tests/mocks/telegram_test_server_runner.js
Due: ruff-check, ruff-format, basedpyright, code-conformance, yamlfmt

Fix CI failure: Symlink node_modules for backend tests
  .github/workflows/ci-with-devcontainer.yml
Due: yamlfmt

test: increase wait_for_condition default timeout to 10s to fix CI flakiness
  tests/functional/web/ui/conftest.py
Due: ruff-check, ruff-format, basedpyright, code-conformance
