Repository werdnum/family-assistant: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt, biome-format, eslint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-check
        name: ruff-check
        entry: ruff check --fix --preview
        language: system
        types: [python]
      - id: ruff-format
        name: ruff-format
        entry: ruff format --preview
        language: system
        types: [python]
  - repo: local
    hooks:
      - id: basedpyright
        name: basedpyright
        entry: basedpyright
        language: system
        types: [python]
        pass_filenames: false
      - id: code-conformance
        name: code-conformance
        entry: .ast-grep/check-conformance.py
        language: system
        types: [python]
        pass_filenames: true
  - repo: local
    hooks:
      - id: mdformat
        name: mdformat
        entry: mdformat --wrap 100
        language: system
        types: [markdown]
        exclude: "(?x)^( \n  docs/python-telegram-bot-abridged\\.md|\n  docs/python-telegram-bot-abridged-filtered\\.md\n)$\n"
  - repo: local
    hooks:
      - id: yamlfmt
        name: yamlfmt
        language: golang
        entry: yamlfmt
        additional_dependencies:
          - github.com/google/yamlfmt/cmd/yamlfmt@v0.17.0
        types: [yaml]
  - repo: local
    hooks:
      - id: biome-format
        name: biome-format
        entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx @biomejs/biome format --write "${files[@]}"' --
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx|json)$
        exclude: ^frontend/(dev-dist/|package-lock\.json$)
        pass_filenames: true
      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx eslint --fix "${files[@]}"' --
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx)$
        pass_filenames: true

Design: bridge cookie is the only credential channel; mount gated on first bridge attempt
  docs/design/jwt-edge-auth.md
Due: mdformat

Bridge endpoint reports disabled state instead of erroring
  src/family_assistant/web/routers/app_auth.py
  tests/functional/web/api/test_app_auth.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Classify the Asterisk live WebSocket as a scoped custom-auth route
  src/family_assistant/web/route_auth.py
  tests/unit/web/test_api_middleware_enforcement.py
  tests/unit/web/test_route_auth.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Design: scoped class covers custom-auth transports (Asterisk WebSocket)
  docs/design/jwt-edge-auth.md
Due: mdformat

Revalidate token-bound sessions before granting the error lane
  src/family_assistant/web/jwt_tokens.py
  src/family_assistant/web/routers/errors_api.py
  tests/unit/web/test_jwt_tokens.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Design: bridge 401 routes into the central re-authentication transition
  docs/design/jwt-edge-auth.md
Due: mdformat

Lint: fixed-width coordinate helper public, session check lifted from try block
  src/family_assistant/web/jwt_tokens.py
  src/family_assistant/web/routers/errors_api.py
  tests/unit/web/test_jwt_tokens.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Error intake honors all supported API credential headers
  src/family_assistant/web/routers/errors_api.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Validate JWT TTL at startup, before any exchange can half-mutate state
  src/family_assistant/web/jwt_tokens.py
  tests/unit/web/test_jwt_tokens.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Reject browser-token bridge when session authentication is disabled
  src/family_assistant/web/routers/app_auth.py
  tests/functional/web/api/test_app_auth.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Fix milestone-to-repo mapping (iOS is M4, here; deployment is M5)
  docs/design/jwt-edge-auth.md
Due: mdformat

Prune expired browser-session token rows when minting a replacement
  src/family_assistant/web/routers/app_auth.py
  tests/functional/web/api/test_app_auth.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Do not persist JWT bearer authentication into a session
  src/family_assistant/web/auth.py
  tests/unit/web/test_api_middleware_enforcement.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Refresh reuses the backing token row in JWT mode; bridge extends reused row expiry
  src/family_assistant/web/routers/app_auth.py
  tests/functional/web/api/test_app_auth.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Extend a reused refresh parent row through the new JWT lifetime
  src/family_assistant/web/routers/app_auth.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Enforce the error-intake body cap while streaming, before buffering
  src/family_assistant/web/routers/errors_api.py
  tests/functional/web/api/test_frontend_errors_api.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Normalize naive SQLite token expiry before comparison in bearer/JWT auth
  src/family_assistant/web/auth.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Narrow the scoped debug exemption to the readonly-token inventory route
  src/family_assistant/web/route_auth.py
  tests/unit/web/test_api_middleware_enforcement.py
  tests/unit/web/test_route_auth.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Bind token-session cookies to the minting JWT's expiry
  src/family_assistant/web/auth.py
  src/family_assistant/web/routers/app_auth.py
  tests/unit/web/test_api_middleware_enforcement.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Extend the backing row through an upgraded JWT's lifetime
  src/family_assistant/web/routers/app_auth.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Cap request bodies on unauthenticated bootstrap/public API routes
  src/family_assistant/web/app_creator.py
  src/family_assistant/web/auth.py
  src/family_assistant/web/route_auth.py
  tests/unit/web/test_api_middleware_enforcement.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Keep consumers gated until the bridge succeeds or reports an expired session
  frontend/src/api/__tests__/browserTokenClient.test.ts
  frontend/src/api/browserTokenClient.ts
  frontend/src/shared/SessionBridgeGate.jsx
  frontend/src/shared/__tests__/SessionBridgeGate.test.tsx
Due: biome-format, eslint

Gate mounting on the bridge attempt and retry transient failures with backoff
  frontend/src/api/__tests__/browserTokenClient.test.ts
  frontend/src/api/browserTokenClient.ts
  frontend/src/chat/index.jsx
  frontend/src/shared/SessionBridgeGate.jsx
  frontend/src/shared/__tests__/SessionBridgeGate.test.tsx
  frontend/src/shared/router-entry.jsx
Due: biome-format, eslint

Refresh the browser JWT cookie via the session bridge on load and near expiry
  frontend/src/api/__tests__/browserTokenClient.test.ts
  frontend/src/api/browserTokenClient.ts
  frontend/src/chat/index.jsx
  frontend/src/shared/router-entry.jsx
  frontend/src/test/mocks/handlers.ts
Due: biome-format, eslint

Route bridge 401s into the central re-authentication transition
  frontend/src/api/browserTokenClient.ts
  frontend/src/shared/SessionBridgeGate.jsx
  frontend/src/shared/__tests__/SessionBridgeGate.test.tsx
Due: biome-format, eslint

Always schedule the next near-expiry refresh, even for very short TTLs
  frontend/src/api/browserTokenClient.ts
Due: biome-format, eslint

Treat a missing bridge endpoint as feature-disabled, not transient
  frontend/src/api/__tests__/browserTokenClient.test.ts
  frontend/src/api/browserTokenClient.ts
Due: biome-format, eslint

Gate keeps a lifetime settlement listener; every session-expired routes into re-auth
  frontend/src/shared/SessionBridgeGate.jsx
  frontend/src/shared/__tests__/SessionBridgeGate.test.tsx
Due: biome-format, eslint

Playwright: ignore the optional bridge endpoint's 404 console line
  tests/functional/web/conftest.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Handle the bridge's enabled:false response
  frontend/src/api/__tests__/browserTokenClient.test.ts
  frontend/src/api/browserTokenClient.ts
Due: biome-format, eslint

Never shorten or impose expiry on non-expiring rows during JWT upgrade
  src/family_assistant/web/routers/app_auth.py
  tests/functional/web/api/test_app_auth.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Finish JWT session review fixes
  src/family_assistant/web/auth.py
  src/family_assistant/web/dependencies.py
  src/family_assistant/web/routers/app_auth.py
  tests/functional/web/api/test_app_auth.py
  tests/unit/web/test_api_middleware_enforcement.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Surface terminal browser bridge failures
  frontend/src/api/__tests__/browserTokenClient.test.ts
  frontend/src/api/browserTokenClient.ts
  frontend/src/shared/SessionBridgeGate.jsx
  frontend/src/shared/__tests__/SessionBridgeGate.test.tsx
Due: biome-format, eslint

Report disabled browser bridge without session auth
  src/family_assistant/web/routers/app_auth.py
  tests/functional/web/api/test_app_auth.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Keep ready UI mounted after bridge denial
  frontend/src/shared/SessionBridgeGate.jsx
  frontend/src/shared/__tests__/SessionBridgeGate.test.tsx
Due: biome-format, eslint

Harden JWT bridge credential boundaries
  docs/operations/CONFIGURATION_REFERENCE.md
  src/family_assistant/storage/base.py
  src/family_assistant/web/auth.py
  src/family_assistant/web/jwt_tokens.py
  src/family_assistant/web/routers/app_auth.py
  src/family_assistant/web/routers/errors_api.py
  tests/functional/web/api/test_app_auth.py
  tests/functional/web/api/test_frontend_errors_api.py
  tests/unit/web/test_api_middleware_enforcement.py
  tests/unit/web/test_jwt_tokens.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Document fail-closed API route classification
  docs/operations/CONFIGURATION_REFERENCE.md
  src/family_assistant/web/CLAUDE.md
Due: mdformat

Correct rate limiter saturation documentation
  src/family_assistant/web/routers/errors_api.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Address JWT auth review findings
  docs/operations/CONFIGURATION_REFERENCE.md
  src/family_assistant/web/app_creator.py
  src/family_assistant/web/auth.py
  src/family_assistant/web/dependencies.py
  src/family_assistant/web/jwt_tokens.py
  src/family_assistant/web/route_auth.py
  src/family_assistant/web/routers/app_auth.py
  src/family_assistant/web/routers/errors_api.py
  tests/functional/web/api/test_app_auth.py
  tests/functional/web/api/test_frontend_errors_api.py
  tests/functional/web/conftest.py
  tests/unit/web/test_jwt_tokens.py
  tests/unit/web/test_route_auth.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Handle streamed auth walls reliably
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatAPIClient.swift
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatViewModel.swift
  ios/FamilyAssistant/FamilyAssistantTests/ChatAPIClientTests.swift
  ios/FamilyAssistant/FamilyAssistantTests/ChatViewModelTests.swift
Due: none
