Repository werdnum/family-assistant: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt, biome-format, eslint

ruff-check:
  name: ruff-check
  entry: ruff check --fix --preview
  language: system

ruff-format:
  name: ruff-format
  entry: ruff format --preview
  language: system

basedpyright:
  name: basedpyright
  entry: basedpyright
  language: system
  pass_filenames: false

code-conformance:
  name: code-conformance
  entry: .ast-grep/check-conformance.py
  language: system
  pass_filenames: true

mdformat:
  name: mdformat
  entry: mdformat --wrap 100
  language: system

yamlfmt:
  name: yamlfmt
  language: golang
  entry: yamlfmt
  additional_dependencies:
  - github.com/google/yamlfmt/cmd/yamlfmt@v0.17.0

biome-format:
  name: biome-format
  entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx @biomejs/biome format --write "${files[@]}"' --
  language: system
  pass_filenames: true

eslint:
  name: eslint
  entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx eslint --fix "${files[@]}"' --
  language: system
  pass_filenames: true

Address review: report attempt counts on failed turns
  docs/design/opentelemetry-observability.md
  src/family_assistant/llm/retrying_client.py
  tests/unit/test_otel_llm_spans.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Count a rate-limit retry after its backoff, not before
  src/family_assistant/llm/retrying_client.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Do not record a short-stopped Responses run as a success
  src/family_assistant/llm/providers/openai_client.py
  tests/unit/llm/providers/test_resolved_model_telemetry.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Carry the resolved model through recorded playback
  src/family_assistant/llm/__init__.py
  tests/unit/llm/test_structured_output_api.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Keep the provider's ids on a failed Responses stream
  src/family_assistant/llm/providers/openai_client.py
  tests/unit/llm/providers/test_resolved_model_telemetry.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Omit the reasoning size when it was not measured
  docs/design/opentelemetry-observability.md
  src/family_assistant/llm/utils/call_telemetry.py
  tests/unit/llm/test_call_telemetry.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Emit attempt events for streamed retries and fallbacks
  src/family_assistant/llm/retrying_client.py
  tests/unit/test_otel_llm_spans.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Run the default assistant on Gemini 3.7 Flash with Terra as fallback
  AGENTS.md
  defaults.yaml
  docs/design/automation-authoring-skill.md
  docs/operations/CONFIGURATION_REFERENCE.md
  tests/integration/llm/test_shipped_model_media_input.py
  tests/unit/llm/test_shipped_media_handoff.py
  tests/unit/test_config_loader.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt

Record each LLM call's timing and model with its message
  docs/design/opentelemetry-observability.md
  src/family_assistant/llm/messages.py
  src/family_assistant/llm/providers/anthropic_client.py
  src/family_assistant/llm/providers/google_genai_client.py
  src/family_assistant/llm/providers/openai_client.py
  src/family_assistant/llm/utils/call_telemetry.py
  src/family_assistant/processing/llm_loop.py
  src/family_assistant/processing/service.py
  tests/functional/test_per_call_reasoning_info.py
  tests/unit/llm/providers/test_resolved_model_telemetry.py
  tests/unit/llm/test_call_telemetry.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Carry the attachment description across a Gemini-to-Terra fallback
  src/family_assistant/llm/__init__.py
  src/family_assistant/llm/providers/google_genai_client.py
  src/family_assistant/llm/providers/openai_client.py
  tests/cassettes/gemini/integration.llm.test_shipped_model_media_input/test_shipped_google_model_calls_a_tool/mldev.json
  tests/cassettes/llm/test_shipped_default_retry_pair_completes_a_turn.yaml
  tests/integration/llm/test_shipped_model_media_input.py
  tests/unit/llm/test_shipped_media_handoff.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, yamlfmt

Build the Gemini attachment injection from provider-neutral parts
  defaults.yaml
  src/family_assistant/llm/providers/google_genai_client.py
  tests/unit/llm/test_llm_multimodal_processing.py
  tests/unit/llm/test_shipped_media_handoff.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, yamlfmt

Leave the injection in the primary's own format on the fallback path
  defaults.yaml
  src/family_assistant/llm/providers/google_genai_client.py
  tests/unit/llm/test_llm_multimodal_processing.py
  tests/unit/llm/test_shipped_media_handoff.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, yamlfmt

State Antigravity's default sandbox instead of omitting it
  src/family_assistant/llm/providers/google_genai_client.py
  tests/llm/test_google_antigravity.py
  tests/llm/test_google_deep_research.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Cover the Antigravity submit path with a replayed integration test
  tests/cassettes/llm/test_submit_accepted_when_the_profile_configures_no_environment.yaml
  tests/cassettes/llm/test_submit_accepted_with_an_egress_allowlist_and_credential.yaml
  tests/integration/CLAUDE.md
  tests/integration/llm/test_google_antigravity_integration.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt

Add iOS conversation sharing controls
  docs/design/conversation-share-links.md
  docs/user/interfaces.md
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatAPIClient.swift
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatViewModel.swift
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatViews.swift
  ios/FamilyAssistant/FamilyAssistant/Chat/SharedConversationView.swift
  ios/FamilyAssistant/FamilyAssistant/UITesting/UITestConfiguration.swift
  ios/FamilyAssistant/FamilyAssistantTests/ChatAPIClientTests.swift
  ios/FamilyAssistant/FamilyAssistantTests/ChatViewModelTests.swift
  ios/FamilyAssistant/FamilyAssistantUITests/FamilyAssistantUITests.swift
Due: mdformat

Handle rejected share mutations
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatAPIClient.swift
  ios/FamilyAssistant/FamilyAssistantTests/ChatAPIClientTests.swift
Due: none

Preserve concurrently refreshed credentials
  ios/FamilyAssistant/FamilyAssistant/Auth/AuthManager.swift
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatAPIClient.swift
  ios/FamilyAssistant/FamilyAssistantTests/ChatAPIClientTests.swift
Due: none

Use dedicated reauthentication for sharing
  ios/FamilyAssistant/FamilyAssistant/Chat/SharedConversationView.swift
  ios/FamilyAssistant/FamilyAssistantTests/ChatAPIClientTests.swift
Due: none

Add a full-screen lightbox for chat image attachments
  docs/user/attachments.md
  frontend/src/chat/AssistantResponseImages.tsx
  frontend/src/chat/__tests__/ChatApp.test.tsx
  frontend/src/components/assistant-ui/attachment.tsx
  frontend/src/components/ui/__tests__/image-lightbox.test.tsx
  frontend/src/components/ui/image-lightbox.tsx
  tests/functional/web/ui/test_chat_attachments.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, biome-format, eslint

Fix lightbox backdrop dismissal and zoomed scroll reach
  frontend/src/components/ui/__tests__/image-lightbox.test.tsx
  frontend/src/components/ui/image-lightbox.tsx
Due: biome-format, eslint

Accept any file type as an attachment
  defaults.yaml
  docs/user/attachments.md
  frontend/src/chat/__tests__/attachmentAdapter.test.js
  frontend/src/chat/attachmentAdapter.js
  frontend/src/components/assistant-ui/attachment.tsx
  frontend/src/notes/components/AttachmentUpload.tsx
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatAPIClient.swift
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatModels.swift
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatViews.swift
  ios/FamilyAssistant/FamilyAssistantTests/ChatViewModelTests.swift
  prompts.yaml
  src/family_assistant/config_models.py
  src/family_assistant/services/attachment_registry.py
  src/family_assistant/tools/google_data.py
  src/family_assistant/web/routers/attachments_api.py
  src/family_assistant/web/routers/chat_api.py
  tests/functional/attachments/test_attachment_types.py
  tests/functional/web/api/test_attachment_owner_scoping.py
  tests/functional/web/api/test_chat_attachments.py
  tests/unit/llm/test_shipped_media_handoff.py
  tests/unit/test_config_loader.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt, biome-format, eslint

Cover the unusual file type in the UI upload test
  tests/functional/web/ui/test_file_upload.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Decide history replay by MIME type, not by the stored label
  src/family_assistant/llm/content_parts.py
  src/family_assistant/services/attachment_registry.py
  src/family_assistant/storage/repositories/message_history.py
  src/family_assistant/web/routers/attachments_api.py
  tests/functional/attachments/test_attachment_types.py
  tests/functional/attachments/test_history_attachment_replay.py
  tests/functional/web/api/test_attachment_owner_scoping.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Name the media Anthropic cannot read instead of dropping it
  src/family_assistant/llm/providers/anthropic_client.py
  src/family_assistant/storage/repositories/message_history.py
  tests/unit/llm/test_shipped_media_handoff.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Add design doc: JWT-based edge auth for native clients
  docs/design/jwt-edge-auth.md
Due: mdformat

Revise JWT edge auth design after review: fail-closed backend, unconditional edge JWT, all-Bearer clients
  docs/design/jwt-edge-auth.md
Due: mdformat

Address second review round: cookie-delivered JWT for browsers, enumerated bootstrap route set, diagnostics pass-through
  docs/design/jwt-edge-auth.md
Due: mdformat

Third review round: SameSite=Lax bridge cookie for OAuth callback returns; backend-published route classification as single source of truth
  docs/design/jwt-edge-auth.md
Due: mdformat

Refresh API tokens at a lifetime-proportional threshold
  ios/FamilyAssistant/FamilyAssistant/Auth/AuthManager.swift
  ios/FamilyAssistant/FamilyAssistantTests/AuthManagerTests.swift
Due: none

Detect edge authentication walls instead of failing to decode HTML
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatAPIClient.swift
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatErrorClassifier.swift
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatViewModel.swift
  ios/FamilyAssistant/FamilyAssistant/Notes/NotesAPIClient.swift
  ios/FamilyAssistant/FamilyAssistantTests/ChatAPIClientTests.swift
  ios/FamilyAssistant/FamilyAssistantTests/ChatErrorClassifierTests.swift
  ios/FamilyAssistant/FamilyAssistantTests/NotesAPIClientTests.swift
Due: none

Fail-closed /api auth classification, JWT access tokens, and abuse controls for error intake
  src/family_assistant/web/app_creator.py
  src/family_assistant/web/auth.py
  src/family_assistant/web/jwt_tokens.py
  src/family_assistant/web/models.py
  src/family_assistant/web/route_auth.py
  src/family_assistant/web/routers/app_auth.py
  src/family_assistant/web/routers/errors_api.py
  tests/functional/web/api/test_app_auth.py
  tests/functional/web/api/test_frontend_errors_api.py
  tests/unit/web/test_api_middleware_enforcement.py
  tests/unit/web/test_jwt_tokens.py
  tests/unit/web/test_route_auth.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Design: specify server-side abuse controls for public error intake
  docs/design/jwt-edge-auth.md
Due: mdformat

ErrorReporter attaches the current Bearer token to reports
  ios/FamilyAssistant/FamilyAssistant/Auth/AuthManager.swift
  ios/FamilyAssistant/FamilyAssistant/ErrorReporting/ErrorReporter.swift
  ios/FamilyAssistant/FamilyAssistant/FamilyAssistantApp.swift
  ios/FamilyAssistant/FamilyAssistantTests/ErrorReporterTests.swift
Due: none

Document JWT access-token configuration and error-intake abuse controls
  docs/api/README.md
  docs/operations/CONFIGURATION_REFERENCE.md
Due: mdformat

Type the classification and JWKS documents; satisfy conformance rules
  src/family_assistant/web/jwt_tokens.py
  src/family_assistant/web/route_auth.py
  tests/functional/web/api/test_app_auth.py
  tests/unit/web/test_api_middleware_enforcement.py
  tests/unit/web/test_jwt_tokens.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Exempt attachment downloads from auth-wall sniffing; sniff the voice tool path
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatAPIClient.swift
  ios/FamilyAssistant/FamilyAssistantTests/ChatAPIClientTests.swift
  ios/FamilyAssistant/FamilyAssistantTests/VoiceToolRunnerTests.swift
Due: none

Address review: JWKS endpoint, X-API-Token middleware auth, session-bound bearer sessions, OAuth callback exemption
  src/family_assistant/web/auth.py
  src/family_assistant/web/dependencies.py
  src/family_assistant/web/route_auth.py
  src/family_assistant/web/routers/app_auth.py
  tests/functional/web/api/test_app_auth.py
  tests/unit/web/test_api_middleware_enforcement.py
  tests/unit/web/test_route_auth.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Design: OAuth return targets are no-JWT routes (cookie may expire mid-consent)
  docs/design/jwt-edge-auth.md
Due: mdformat

Carry the auth-wall explanation onto the conversation-list banner
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatViewModel.swift
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatViews.swift
  ios/FamilyAssistant/FamilyAssistantTests/ChatViewModelTests.swift
Due: none

Address second review round: JWT identity classification, hardened bridge and bounded intake limiter
  src/family_assistant/web/dependencies.py
  src/family_assistant/web/jwt_tokens.py
  src/family_assistant/web/routers/app_auth.py
  src/family_assistant/web/routers/errors_api.py
  tests/functional/web/api/test_app_auth.py
  tests/functional/web/api/test_frontend_errors_api.py
  tests/unit/web/test_jwt_tokens.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Path conditions:
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  basedpyright: any of: \.py$
  code-conformance: any of: \.py$
  mdformat: any of: \.(md|markdown|mdown)$, but not: (?x)^( 
  docs/python-telegram-bot-abridged\.md|
  docs/python-telegram-bot-abridged-filtered\.md
)$

  yamlfmt: any of: \.(yaml|yml)$
  biome-format: any of: ^frontend/.*\.(js|jsx|ts|tsx|json)$, but not: ^frontend/(dev-dist/|package-lock\.json$)
  eslint: any of: ^frontend/.*\.(js|jsx|ts|tsx)$
