Repository werdnum/family-assistant: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt, biome-format, eslint

ruff-check:
  name: ruff-check
  entry: ruff check --fix --preview
  language: system

ruff-format:
  name: ruff-format
  entry: ruff format --preview
  language: system

basedpyright:
  name: basedpyright
  entry: basedpyright
  language: system
  pass_filenames: false

code-conformance:
  name: code-conformance
  entry: .ast-grep/check-conformance.py
  language: system
  pass_filenames: true

mdformat:
  name: mdformat
  entry: mdformat --wrap 100
  language: system

yamlfmt:
  name: yamlfmt
  language: golang
  entry: yamlfmt
  additional_dependencies:
  - github.com/google/yamlfmt/cmd/yamlfmt@v0.17.0

biome-format:
  name: biome-format
  entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx @biomejs/biome format --write "${files[@]}"' --
  language: system
  pass_filenames: true

eslint:
  name: eslint
  entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx eslint --fix "${files[@]}"' --
  language: system
  pass_filenames: true

Fix git credential helper to extract token from JSON output
  .claude/guardian.json
  .devcontainer/setup-git-auth.sh
Due: none

fix: Separate export from assignment to catch failures (SC2155)
  .devcontainer/setup-git-auth.sh
Due: none

feat(worker): Add cleanup handler and improve type safety
  src/family_assistant/storage/repositories/worker_tasks.py
  src/family_assistant/task_worker.py
  src/family_assistant/tools/worker.py
  tests/unit/services/test_worker_task_cleanup.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

feat(worker): Implement Kubernetes backend for production deployments (Milestone 4)
  src/family_assistant/services/backends/kubernetes.py
  tests/unit/services/backends/test_kubernetes_backend.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

feat(worker): Add worker backend protocol and tools (Milestone 2)
  src/family_assistant/services/backends/__init__.py
  src/family_assistant/services/backends/docker.py
  src/family_assistant/services/backends/kubernetes.py
  src/family_assistant/services/backends/mock.py
  src/family_assistant/services/worker_backend.py
  src/family_assistant/tools/__init__.py
  src/family_assistant/tools/worker.py
  src/family_assistant/web/routers/webhooks.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

feat(worker): Implement Docker backend for local development (Milestone 3)
  src/family_assistant/services/backends/docker.py
  src/family_assistant/services/worker_backend.py
  src/family_assistant/tools/worker.py
  tests/unit/services/backends/test_docker_backend.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

feat: Add AI Worker Sandbox foundation (Milestone 1)
  alembic/versions/2025_01_25-add_worker_tasks_table.py
  defaults.yaml
  src/family_assistant/config_loader.py
  src/family_assistant/config_models.py
  src/family_assistant/storage/context.py
  src/family_assistant/storage/repositories/__init__.py
  src/family_assistant/storage/repositories/worker_tasks.py
  src/family_assistant/tools/__init__.py
  src/family_assistant/tools/workspace_files.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, yamlfmt

chore: Export workspace utilities from utils module
  src/family_assistant/utils/__init__.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

refactor: Extract workspace utilities to shared module
  src/family_assistant/config_models.py
  src/family_assistant/tools/worker.py
  src/family_assistant/tools/workspace_files.py
  src/family_assistant/utils/workspace.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

test: Mark flaky SQLite tests with reruns
  tests/functional/web/ui/test_conversation_messages.py
  tests/functional/web/ui/test_conversations_list.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

fix: Use configurable resource limits in Kubernetes and Docker backends
  src/family_assistant/config_models.py
  src/family_assistant/services/backends/docker.py
  src/family_assistant/services/backends/kubernetes.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

security: Implement filesystem isolation and callback token verification
  alembic/versions/2025_01_28-add_callback_token_to_worker_tasks.py
  src/family_assistant/services/backends/docker.py
  src/family_assistant/services/backends/kubernetes.py
  src/family_assistant/services/backends/mock.py
  src/family_assistant/services/worker_backend.py
  src/family_assistant/storage/repositories/worker_tasks.py
  src/family_assistant/tools/worker.py
  src/family_assistant/web/routers/webhooks.py
  tests/unit/services/backends/test_docker_backend.py
  tests/unit/services/backends/test_kubernetes_backend.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

feat: Add configurable webhook URL for AI workers
  src/family_assistant/config_models.py
  src/family_assistant/tools/worker.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Path conditions:
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  basedpyright: any of: \.py$
  code-conformance: any of: \.py$
  mdformat: any of: \.(md|markdown|mdown)$, but not: (?x)^( 
  docs/python-telegram-bot-abridged\.md|
  docs/python-telegram-bot-abridged-filtered\.md
)$

  yamlfmt: any of: \.(yaml|yml)$
  biome-format: any of: ^frontend/.*\.(js|jsx|ts|tsx|json)$, but not: ^frontend/(dev-dist/|package-lock\.json$)
  eslint: any of: ^frontend/.*\.(js|jsx|ts|tsx)$
