Repository werdnum/family-assistant: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt, biome-format, eslint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-check
        name: ruff-check
        entry: ruff check --fix --preview
        language: system
        types: [python]
      - id: ruff-format
        name: ruff-format
        entry: ruff format --preview
        language: system
        types: [python]
  - repo: local
    hooks:
      - id: basedpyright
        name: basedpyright
        entry: basedpyright
        language: system
        types: [python]
        pass_filenames: false
      - id: code-conformance
        name: code-conformance
        entry: .ast-grep/check-conformance.py
        language: system
        types: [python]
        pass_filenames: true
  - repo: local
    hooks:
      - id: mdformat
        name: mdformat
        entry: mdformat --wrap 100
        language: system
        types: [markdown]
        exclude: "(?x)^( \n  docs/python-telegram-bot-abridged\\.md|\n  docs/python-telegram-bot-abridged-filtered\\.md\n)$\n"
  - repo: local
    hooks:
      - id: yamlfmt
        name: yamlfmt
        language: golang
        entry: yamlfmt
        additional_dependencies:
          - github.com/google/yamlfmt/cmd/yamlfmt@v0.17.0
        types: [yaml]
  - repo: local
    hooks:
      - id: biome-format
        name: biome-format
        entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx @biomejs/biome format --write "${files[@]}"' --
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx|json)$
        exclude: ^frontend/(dev-dist/|package-lock\.json$)
        pass_filenames: true
      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx eslint --fix "${files[@]}"' --
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx)$
        pass_filenames: true

Refuse a persisted model selection with an unhashable source or outcome
  src/family_assistant/llm/model_selection.py
  tests/unit/llm/test_model_selection.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Give the container smoke test a dummy OpenRouter key
  scripts/container-smoke-test.sh
Due: none

Strengthen, decouple and deflake frontend unit tests and the MSW test setup
  frontend/src/api/__tests__/errorClient.test.ts
  frontend/src/api/__tests__/pushClient.test.ts
  frontend/src/chat/__tests__/ChatApp.test.tsx
  frontend/src/chat/__tests__/ConversationSidebar.test.tsx
  frontend/src/chat/__tests__/DynamicToolUI.test.tsx
  frontend/src/chat/__tests__/ErrorHandling.test.tsx
  frontend/src/chat/__tests__/LoadOlderMessages.test.tsx
  frontend/src/chat/__tests__/PushNotificationButton.test.tsx
  frontend/src/chat/__tests__/ResumableStreaming.test.tsx
  frontend/src/chat/__tests__/StreamingAndToolCall.test.tsx
  frontend/src/chat/__tests__/StreamingErrorRecovery.test.tsx
  frontend/src/chat/__tests__/ToolGroup.test.tsx
  frontend/src/chat/__tests__/ToolWithConfirmation.test.tsx
  frontend/src/chat/__tests__/TurnControl.test.tsx
  frontend/src/chat/__tests__/useNotifications.test.tsx
  frontend/src/components/__tests__/ErrorBoundary.test.tsx
  frontend/src/components/assistant-ui/__tests__/attachment.test.tsx
  frontend/src/components/ui/__tests__/button.test.tsx
  frontend/src/notes/components/__tests__/AttachmentPreview.test.tsx
  frontend/src/notes/components/__tests__/AttachmentUpload.test.tsx
  frontend/src/test/setup.js
  frontend/src/voice/__tests__/VoicePage.test.ts
Due: biome-format, eslint

Strengthen, decouple and deflake automation, task-worker and storage tests
  tests/functional/automations/test_async_delegation.py
  tests/functional/automations/test_automations_crud.py
  tests/functional/automations/test_automations_execution.py
  tests/functional/automations/test_definition_records.py
  tests/functional/automations/test_delegation_basic.py
  tests/functional/automations/test_delegation_fail_forward.py
  tests/functional/automations/test_delegation_reconciliation.py
  tests/functional/automations/test_delegation_workflows.py
  tests/functional/automations/test_event_system_advanced.py
  tests/functional/automations/test_event_system_basic.py
  tests/functional/automations/test_firing_resolution.py
  tests/functional/automations/test_ops_automation_confinement.py
  tests/functional/automations/test_scheduled_script_execution.py
  tests/functional/automations/test_self_delegation.py
  tests/functional/storage/test_automations_crud.py
  tests/functional/storage/test_automations_queries.py
  tests/functional/storage/test_confirmation_requests.py
  tests/functional/storage/test_message_history.py
  tests/functional/storage/test_message_history_querying.py
  tests/functional/storage/test_statement_cancellation.py
  tests/functional/tasks/test_callback_definition_records.py
  tests/functional/tasks/test_callback_durable_confirmation.py
  tests/functional/tasks/test_recurring_task_failure.py
  tests/functional/tasks/test_system_task_recurrence.py
  tests/functional/tasks/test_task_priority_inheritance.py
  tests/functional/tasks/test_task_queue_metrics.py
  tests/functional/tasks/test_task_race_condition.py
  tests/functional/tasks/test_task_worker_pool.py
  tests/functional/tasks/test_task_worker_resilience.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Strengthen, decouple and deflake web API and router tests
  tests/functional/web/api/test_a2a_api.py
  tests/functional/web/api/test_a2a_client_integration.py
  tests/functional/web/api/test_app_auth.py
  tests/functional/web/api/test_automations_execution_api.py
  tests/functional/web/api/test_chat_attachments.py
  tests/functional/web/api/test_chat_messages.py
  tests/functional/web/api/test_chat_nonstreaming_confirmation.py
  tests/functional/web/api/test_chat_streaming.py
  tests/functional/web/api/test_chat_turn_control.py
  tests/functional/web/api/test_debug_api.py
  tests/functional/web/api/test_diagnostics_api.py
  tests/functional/web/api/test_endpoints.py
  tests/functional/web/api/test_frontend_errors_api.py
  tests/functional/web/api/test_google_e2e.py
  tests/functional/web/api/test_mail_webhook_attachments.py
  tests/functional/web/api/test_profiles_api.py
  tests/functional/web/api/test_resumable_streaming.py
  tests/functional/web/api/test_thought_signature_persistence.py
  tests/functional/web/api/test_version_api.py
  tests/functional/web/api/test_web_callback_taint.py
  tests/functional/web/api/test_webhook_events.py
  tests/functional/web/routers/test_asterisk_live_api.py
  tests/functional/web/routers/test_privacy_policy.py
  tests/functional/web/test_cancel_on_disconnect.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Narrow the Asterisk pre-connect flush test to what it covers
  tests/unit/web/test_asterisk_live_api.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Strengthen, decouple and deflake Playwright UI tests and page objects
  tests/functional/web/pages/base_page.py
  tests/functional/web/pages/chat_page.py
  tests/functional/web/pages/events_page.py
  tests/functional/web/pages/history_page.py
  tests/functional/web/pages/notes_page.py
  tests/functional/web/ui/test_attachment_processing.py
  tests/functional/web/ui/test_chat_advanced.py
  tests/functional/web/ui/test_chat_attachments.py
  tests/functional/web/ui/test_chat_basic.py
  tests/functional/web/ui/test_chat_push_integration.py
  tests/functional/web/ui/test_chat_tool_confirmation.py
  tests/functional/web/ui/test_conversations_list.py
  tests/functional/web/ui/test_documentation_ui.py
  tests/functional/web/ui/test_documents_ui.py
  tests/functional/web/ui/test_enhanced_fixtures.py
  tests/functional/web/ui/test_events_detail.py
  tests/functional/web/ui/test_events_list.py
  tests/functional/web/ui/test_file_upload.py
  tests/functional/web/ui/test_frontend_error_reporting.py
  tests/functional/web/ui/test_history_basic.py
  tests/functional/web/ui/test_history_interactions.py
  tests/functional/web/ui/test_live_message_updates.py
  tests/functional/web/ui/test_notes_flow.py
  tests/functional/web/ui/test_notes_react.py
  tests/functional/web/ui/test_notes_ui.py
  tests/functional/web/ui/test_page_layout.py
  tests/functional/web/ui/test_page_object_basic.py
  tests/functional/web/ui/test_pdf_upload.py
  tests/functional/web/ui/test_playwright_basic.py
  tests/functional/web/ui/test_profile_switching.py
  tests/functional/web/ui/test_settings_ui.py
  tests/functional/web/ui/test_template_utils.py
  tests/functional/web/ui/test_tool_call_grouping.py
  tests/functional/web/ui/test_tools_ui.py
  tests/functional/web/ui/test_vector_search_ui.py
  tests/functional/web/ui/test_voice_integration.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Strengthen vector search ranking assertion
  tests/functional/web/ui/test_events_detail.py
  tests/functional/web/ui/test_vector_search_ui.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Clarify image test context and type-safe provider replacement
  tests/functional/integration/test_image_generation.py
  tests/functional/telegram/test_telegram_confirmation.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Assert invalid script input names are ignored, as main now does
  tests/functional/scripting/test_validator.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Seed trusted-user messages in UI tests that persist history
  tests/functional/web/ui/test_chat_push_integration.py
  tests/functional/web/ui/test_history_basic.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Return a valid SDK interaction from Antigravity test helper
  tests/llm/test_google_antigravity.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Refuse a web chat send whose attachment upload failed
  frontend/src/chat/ChatApp.tsx
  frontend/src/chat/__tests__/ErrorHandling.test.tsx
  frontend/src/components/assistant-ui/__tests__/attachment.test.tsx
Due: biome-format, eslint

Read runtime part status for web chat tool group expansion
  frontend/src/chat/ToolGroup.tsx
  frontend/src/chat/__tests__/ChatApp.test.tsx
Due: biome-format, eslint

Remove dead pre-Gemini audio buffer from Asterisk router
  src/family_assistant/web/routers/asterisk_live_api.py
  tests/unit/web/test_asterisk_live_api.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Resolve named Vega datasets in nested views
  src/family_assistant/tools/data_visualization.py
  tests/unit/tools/test_data_visualization_tools.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Surface original error when Anthropic stream setup fails
  src/family_assistant/llm/providers/anthropic_client.py
  tests/unit/llm/providers/test_anthropic_client.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Fix history total count and Home Assistant event labels
  frontend/src/pages/Events/components/EventCard.jsx
  frontend/src/pages/Events/components/EventDetail.jsx
  frontend/src/pages/Events/components/EventFilters.jsx
  frontend/src/pages/Events/components/__tests__/EventCard.test.jsx
  frontend/src/pages/Events/eventSources.js
  frontend/src/pages/History/components/ConversationsList.jsx
  frontend/src/pages/History/components/__tests__/ConversationsList.test.jsx
  tests/functional/web/ui/test_events_detail.py
  tests/functional/web/ui/test_history_interactions.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, biome-format, eslint

End the stream span when Anthropic telemetry setup fails
  src/family_assistant/llm/providers/anthropic_client.py
  tests/unit/llm/providers/test_anthropic_client.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Count processing sibling tasks before declaring a document ready
  src/family_assistant/indexing/tasks.py
  src/family_assistant/storage/repositories/tasks.py
  src/family_assistant/storage/tasks.py
  src/family_assistant/task_worker.py
  src/family_assistant/tools/types.py
  tests/functional/indexing/test_indexing_events.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Let a delegated run wait for the delegations it starts itself
  src/family_assistant/storage/delegation_runs.py
  src/family_assistant/storage/repositories/delegation_runs.py
  src/family_assistant/task_worker.py
  tests/functional/automations/test_subconversation_isolation.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Add a council of models: council profile, member profile and skill
  defaults.yaml
  docs/design/asynchronous-profile-delegation.md
  docs/design/council.md
  docs/operations/CONFIGURATION_REFERENCE.md
  docs/user/USER_GUIDE.md
  docs/user/council.md
  docs/user/intelligence-levels.md
  docs/user/slash-commands.md
  prompts.yaml
  src/family_assistant/skills/builtin/council-deliberation.md
  tests/functional/automations/test_council_delegation.py
  tests/unit/config/test_shipped_council_profiles.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt

Decide document readiness at the task's done-commit
  docs/design/indexing-events.md
  src/family_assistant/indexing/tasks.py
  src/family_assistant/task_worker.py
  src/family_assistant/tools/types.py
  tests/functional/indexing/test_indexing_events.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Reach the council only by delegation and withhold global tools
  defaults.yaml
  docs/design/council.md
  docs/user/council.md
  docs/user/slash-commands.md
  src/family_assistant/skills/builtin/council-deliberation.md
  tests/unit/config/test_shipped_council_profiles.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt

Let woken turns end without messaging the user
  docs/design/quiet-turns.md
  docs/user/automations.md
  docs/user/scheduling.md
  src/family_assistant/llm/messages.py
  src/family_assistant/processing/llm_loop.py
  src/family_assistant/processing/quiet_turn.py
  src/family_assistant/processing/service.py
  src/family_assistant/processing/types.py
  src/family_assistant/skills/builtin/automation-creation.md
  src/family_assistant/storage/repositories/message_history.py
  src/family_assistant/task_worker.py
  tests/functional/tasks/test_quiet_turns.py
  tests/functional/tasks/test_task_worker_resilience.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Seat GPT-6 Astra on the council in place of Sol
  defaults.yaml
  docs/design/council.md
  docs/operations/CONFIGURATION_REFERENCE.md
  docs/user/council.md
  tests/functional/automations/test_council_delegation.py
  tests/unit/config/test_shipped_council_profiles.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt

Offer a quiet end on the final pass; fail empty reminders first
  src/family_assistant/processing/llm_loop.py
  src/family_assistant/task_worker.py
  tests/functional/tasks/test_quiet_turns.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Replay earlier continuation wakes as history, not instructions
  src/family_assistant/processing/service.py
  src/family_assistant/storage/delegation_runs.py
  src/family_assistant/storage/repositories/message_history.py
  src/family_assistant/task_worker.py
  tests/functional/automations/test_council_delegation.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Park a run and queue its continuation in one transaction
  docs/design/council.md
  src/family_assistant/task_worker.py
  tests/functional/automations/test_async_delegation.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Count only a run's own children, not its predecessor's
  src/family_assistant/storage/repositories/delegation_runs.py
  src/family_assistant/task_worker.py
  tests/functional/storage/test_delegation_runs.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

List the delegations a conversation is waiting on
  docs/design/quiet-turns.md
  src/family_assistant/storage/repositories/delegation_runs.py
  src/family_assistant/web/routers/chat_api.py
  tests/functional/web/api/test_pending_delegations_api.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Leave out delegations whose delivery gave up
  src/family_assistant/storage/repositories/delegation_runs.py
  tests/functional/web/api/test_pending_delegations_api.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

fix(mcp): return long turns through a follow-up tool instead of one blocking call
  docs/design/mcp-adapter.md
  docs/operations/CONFIGURATION_REFERENCE.md
  docs/user/connecting-claude.md
  src/family_assistant/config_models.py
  src/family_assistant/web/mcp_adapter/server.py
  src/family_assistant/web/mcp_adapter/tools.py
  src/family_assistant/web/mcp_adapter/turns.py
  tests/functional/web/api/test_mcp_adapter.py
  tests/unit/web/test_mcp_pending_turns.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

docs(mcp): say a restart stops a running MCP request
  docs/user/connecting-claude.md
Due: mdformat

refactor(mcp): collect long replies by conversation_id instead of turn_id
  docs/design/mcp-adapter.md
  docs/operations/CONFIGURATION_REFERENCE.md
  src/family_assistant/web/mcp_adapter/server.py
  src/family_assistant/web/mcp_adapter/tools.py
  src/family_assistant/web/mcp_adapter/turns.py
  src/family_assistant/web/routers/chat_api.py
  tests/functional/web/api/test_mcp_adapter.py
  tests/unit/web/test_mcp_pending_turns.py
  tests/unit/web/test_mcp_running_turns.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

fix(mcp): check ownership before reporting a running turn; don't blame restarts
  docs/design/mcp-adapter.md
  docs/user/connecting-claude.md
  src/family_assistant/web/mcp_adapter/tools.py
  tests/functional/web/api/test_mcp_adapter.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat
