Repository werdnum/family-assistant: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt, biome-format, eslint

ruff-check:
  name: ruff-check
  entry: ruff check --fix --preview
  language: system

ruff-format:
  name: ruff-format
  entry: ruff format --preview
  language: system

basedpyright:
  name: basedpyright
  entry: basedpyright
  language: system
  pass_filenames: false

code-conformance:
  name: code-conformance
  entry: .ast-grep/check-conformance.py
  language: system
  pass_filenames: true

mdformat:
  name: mdformat
  entry: mdformat --wrap 100
  language: system

yamlfmt:
  name: yamlfmt
  language: golang
  entry: yamlfmt
  additional_dependencies:
  - github.com/google/yamlfmt/cmd/yamlfmt@v0.17.0

biome-format:
  name: biome-format
  entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx @biomejs/biome format --write "${files[@]}"' --
  language: system
  pass_filenames: true

eslint:
  name: eslint
  entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx eslint --fix "${files[@]}"' --
  language: system
  pass_filenames: true

Stabilize landing page query Playwright test
  tests/functional/web/ui/test_landing_page.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Retry GHCR login in devcontainer CI
  .github/actions/docker-login-retry/action.yml
  .github/workflows/ci-with-devcontainer.yml
Due: yamlfmt

Keep GHCR credentials after retry login
  .github/actions/docker-login-retry/action.yml
Due: yamlfmt

Document browser credential broker design
  docs/design/browser-credential-broker.md
Due: mdformat

Install each dev-container npm tool independently
  .devcontainer/setup-workspace.sh
Due: none

Wrap gemini and codex CLIs in the same venv-loading wrapper as claude
  .devcontainer/Dockerfile
  .devcontainer/claude-wrapper.sh
  .devcontainer/codex-wrapper.sh
  .devcontainer/gemini-wrapper.sh
  .devcontainer/setup-workspace.sh
  .devcontainer/wrapper-common.sh
Due: none

Use `git rev-parse` to detect repo in wrapper auto-pull
  .devcontainer/wrapper-common.sh
Due: none

Redirect app auth callback to custom URL scheme for local iOS testing
  src/family_assistant/web/routers/app_auth.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Use Universal Link redirect only when AASA env vars are configured
  src/family_assistant/web/routers/app_auth.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Fix auth session retention and add app logo
  ios/FamilyAssistant/FamilyAssistant/Assets.xcassets/Logo.imageset/Contents.json
  ios/FamilyAssistant/FamilyAssistant/Assets.xcassets/Logo.imageset/logo.png
  ios/FamilyAssistant/FamilyAssistant/Auth/AuthManager.swift
  ios/FamilyAssistant/FamilyAssistant/Auth/SetupView.swift
Due: none

Add Xcode scheme and build instructions
  ios/FamilyAssistant/.gitignore
  ios/FamilyAssistant/FamilyAssistant.xcodeproj/xcshareddata/xcschemes/FamilyAssistant.xcscheme
  ios/FamilyAssistant/README.md
Due: mdformat

Add iOS app with WKWebView wrapper and PKCE auth flow
  ios/FamilyAssistant/FamilyAssistant.xcodeproj/project.pbxproj
  ios/FamilyAssistant/FamilyAssistant/Assets.xcassets/AccentColor.colorset/Contents.json
  ios/FamilyAssistant/FamilyAssistant/Assets.xcassets/AppIcon.appiconset/Contents.json
  ios/FamilyAssistant/FamilyAssistant/Assets.xcassets/Contents.json
  ios/FamilyAssistant/FamilyAssistant/Auth/AuthManager.swift
  ios/FamilyAssistant/FamilyAssistant/Auth/KeychainHelper.swift
  ios/FamilyAssistant/FamilyAssistant/Auth/SetupView.swift
  ios/FamilyAssistant/FamilyAssistant/ContentView.swift
  ios/FamilyAssistant/FamilyAssistant/FamilyAssistantApp.swift
  ios/FamilyAssistant/FamilyAssistant/Info.plist
  ios/FamilyAssistant/FamilyAssistant/WebView/WebViewContainer.swift
  ios/FamilyAssistant/FamilyAssistant/WebView/WebViewToolbar.swift
  ios/FamilyAssistant/README.md
Due: mdformat

Clear auth state when launch session bootstrap fails
  ios/FamilyAssistant/FamilyAssistant/Auth/AuthManager.swift
  ios/FamilyAssistant/FamilyAssistant/ContentView.swift
Due: none

Distinguish transient refresh failures from auth rejection
  ios/FamilyAssistant/FamilyAssistant/Auth/AuthManager.swift
Due: none

Add design doc for email attachment access in email_intake profile
  docs/design/email-attachment-access.md
Due: mdformat

Confirm no schema change needed for email document_id plumbing
  docs/design/email-attachment-access.md
Due: mdformat

docs: design warm browser session handoff service
  docs/design/warm-browser-session-handoff.md
Due: mdformat

Gate web view on bootstrap, retry session bridge on transient refresh
  ios/FamilyAssistant/FamilyAssistant/Auth/AuthManager.swift
  ios/FamilyAssistant/FamilyAssistant/Auth/KeychainHelper.swift
  ios/FamilyAssistant/FamilyAssistant/ContentView.swift
Due: none

WIP: implement email_intake attachment access
  src/family_assistant/email_intake/actions.py
  src/family_assistant/email_intake/attachment_registration.py
  src/family_assistant/indexing/email_indexer.py
  src/family_assistant/tools/__init__.py
  src/family_assistant/tools/attachments.py
  src/family_assistant/web/routers/webhooks.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Wire email_intake profile and tests for attachment access
  defaults.yaml
  tests/functional/attachments/test_attachment_tools.py
  tests/functional/email_intake/test_email_actions.py
  tests/functional/web/api/test_mail_webhook_attachments.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, yamlfmt

USER_GUIDE: note that forwarded email attachments are now readable
  docs/user/USER_GUIDE.md
Due: mdformat

Reduce runtime image vulnerability surface
  Dockerfile
Due: none

Install Playwright devcontainer deps explicitly
  .devcontainer/Dockerfile
Due: none

Upgrade default Gemini Flash model to gemini-3.5-flash
  defaults.yaml
  src/family_assistant/llm/one_shot.py
  src/family_assistant/scripting/apis/llm.py
  src/family_assistant/tools/execute_script.py
  tests/cassettes/llm/test_gemini_google_search_grounding.yaml
  tests/cassettes/llm/test_gemini_url_grounding.yaml
  tests/functional/scripting/test_llm_api.py
  tests/functional/web/api/test_debug_api.py
  tests/functional/web/api/test_thought_signature_persistence.py
  tests/integration/llm/test_gemini_multimodal_integration.py
  tests/integration/llm/test_providers.py
  tests/integration/llm/test_streaming.py
  tests/unit/llm/providers/test_google_genai_multimodal_functions.py
  tests/unit/llm/providers/test_native_output_modes.py
  tests/unit/llm/test_google_genai_tool_call_events.py
  tests/unit/llm/test_one_shot.py
  tests/unit/web/test_debug_api_helpers.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, yamlfmt

Rename Gemini SDK replay directories and update embedded URLs
  .claude/bash-guard.json
  docs/user/scripting.md
  tests/cassettes/gemini/functional.web.api.test_thought_signature_persistence/test_multiturn_conversation_non_streaming_preserves_thought_signatures[postgres]/mldev.json
  tests/cassettes/gemini/functional.web.api.test_thought_signature_persistence/test_multiturn_conversation_non_streaming_preserves_thought_signatures[sqlite]/mldev.json
  tests/cassettes/gemini/functional.web.api.test_thought_signature_persistence/test_multiturn_conversation_with_tool_calls_preserves_thought_signatures[postgres]/mldev.json
  tests/cassettes/gemini/functional.web.api.test_thought_signature_persistence/test_multiturn_conversation_with_tool_calls_preserves_thought_signatures[sqlite]/mldev.json
  tests/cassettes/gemini/functional.web.api.test_thought_signature_persistence/test_streaming_multiturn_with_tool_calls_reproduces_bug[postgres]/mldev.json
  tests/cassettes/gemini/functional.web.api.test_thought_signature_persistence/test_streaming_multiturn_with_tool_calls_reproduces_bug[sqlite]/mldev.json
  tests/cassettes/gemini/integration.llm.test_streaming/test_basic_streaming_gemini[google-gemini-3.5-flash]/mldev.json
  tests/cassettes/gemini/integration.llm.test_streaming/test_google_streaming_pydantic_validation_reproducer/mldev.json
  tests/cassettes/gemini/integration.llm.test_streaming/test_google_streaming_with_multiturns_and_tool_calls[google-gemini-3.5-flash]/mldev.json
  tests/cassettes/gemini/integration.llm.test_streaming/test_streaming_reasoning_info_gemini[google-gemini-3.5-flash]/mldev.json
  tests/cassettes/gemini/integration.llm.test_streaming/test_streaming_with_multi_turn_conversation_gemini[google-gemini-3.5-flash]/mldev.json
  tests/cassettes/gemini/integration.llm.test_streaming/test_streaming_with_system_message_gemini[google-gemini-3.5-flash]/mldev.json
  tests/cassettes/gemini/integration.llm.test_streaming/test_streaming_with_tool_calls_gemini[google-gemini-3.5-flash]/mldev.json
Due: mdformat

Add Antigravity CLI (agy) to dev container image
  .devcontainer/Dockerfile
  .devcontainer/README.md
Due: mdformat

Soften email intake UX and extend confirmation lifetime
  defaults.yaml
  docs/user/USER_GUIDE.md
  src/family_assistant/email_intake/actions.py
  tests/functional/email_intake/test_email_actions.py
  tests/functional/telegram/test_telegram_confirmation.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt

Tighten LaTeX normalization to address review feedback
  src/family_assistant/utils/text_normalization.py
  src/family_assistant/web/routers/chat_api.py
  tests/unit/utils/test_text_normalization.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Skip LaTeX normalization on tool-call assistant messages
  src/family_assistant/processing/service.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Convert LaTeX math markup in assistant replies to Unicode
  src/family_assistant/processing/service.py
  src/family_assistant/utils/text_normalization.py
  src/family_assistant/web/routers/chat_api.py
  tests/unit/utils/__init__.py
  tests/unit/utils/test_text_normalization.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Preserve code spans and buffer streaming text for LaTeX normalization
  src/family_assistant/utils/text_normalization.py
  src/family_assistant/web/routers/chat_api.py
  tests/unit/utils/test_text_normalization.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Make streaming dollar-tracking math-aware
  src/family_assistant/utils/text_normalization.py
  tests/unit/utils/test_text_normalization.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Rework streaming safe-split as a single nested scan
  src/family_assistant/utils/text_normalization.py
  tests/unit/utils/test_text_normalization.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Handle split $$...$$ display math in streaming scan
  src/family_assistant/utils/text_normalization.py
  tests/unit/utils/test_text_normalization.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Allow inline math with surrounding whitespace
  src/family_assistant/utils/text_normalization.py
  tests/unit/utils/test_text_normalization.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Recognize multi-backtick code spans in normalizer and streaming scan
  src/family_assistant/utils/text_normalization.py
  tests/unit/utils/test_text_normalization.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Defer trailing dollar in stream and flush normalizer on errors
  src/family_assistant/utils/text_normalization.py
  src/family_assistant/web/routers/chat_api.py
  tests/unit/utils/test_text_normalization.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Make streaming scan code-span-aware for math constructs
  src/family_assistant/utils/text_normalization.py
  tests/unit/utils/test_text_normalization.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Enforce exact backtick length when matching code spans
  src/family_assistant/utils/text_normalization.py
  tests/unit/utils/test_text_normalization.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Path conditions:
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  basedpyright: any of: \.py$
  code-conformance: any of: \.py$
  mdformat: any of: \.(md|markdown|mdown)$, but not: (?x)^( 
  docs/python-telegram-bot-abridged\.md|
  docs/python-telegram-bot-abridged-filtered\.md
)$

  yamlfmt: any of: \.(yaml|yml)$
  biome-format: any of: ^frontend/.*\.(js|jsx|ts|tsx|json)$, but not: ^frontend/(dev-dist/|package-lock\.json$)
  eslint: any of: ^frontend/.*\.(js|jsx|ts|tsx)$
