Repository werdnum/family-assistant: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt, biome-format, eslint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-check
        name: ruff-check
        entry: ruff check --fix --preview
        language: system
        types: [python]
      - id: ruff-format
        name: ruff-format
        entry: ruff format --preview
        language: system
        types: [python]
  - repo: local
    hooks:
      - id: basedpyright
        name: basedpyright
        entry: basedpyright
        language: system
        types: [python]
        pass_filenames: false
      - id: code-conformance
        name: code-conformance
        entry: .ast-grep/check-conformance.py
        language: system
        types: [python]
        pass_filenames: true
  - repo: local
    hooks:
      - id: mdformat
        name: mdformat
        entry: mdformat --wrap 100
        language: system
        types: [markdown]
        exclude: "(?x)^( \n  docs/python-telegram-bot-abridged\\.md|\n  docs/python-telegram-bot-abridged-filtered\\.md\n)$\n"
  - repo: local
    hooks:
      - id: yamlfmt
        name: yamlfmt
        language: golang
        entry: yamlfmt
        additional_dependencies:
          - github.com/google/yamlfmt/cmd/yamlfmt@v0.17.0
        types: [yaml]
  - repo: local
    hooks:
      - id: biome-format
        name: biome-format
        entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx @biomejs/biome format --write "${files[@]}"' --
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx|json)$
        exclude: ^frontend/(dev-dist/|package-lock\.json$)
        pass_filenames: true
      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx eslint --fix "${files[@]}"' --
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx)$
        pass_filenames: true

Offload HTML conversion; store Gmail attachments under Gmail-reported names
  src/family_assistant/tools/google_data.py
  tests/functional/tools/test_google_data_tools.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Mark paged search results partial; normalize attachment extensions to MIME
  src/family_assistant/tools/google_data.py
  tests/functional/tools/test_google_data_tools.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Serve /settings/accounts SPA route; honor forwarded proto in redirect URI
  src/family_assistant/web/routers/google_integration.py
  src/family_assistant/web/routers/vite_pages.py
  tests/functional/web/api/test_endpoints.py
  tests/functional/web/api/test_google_integration.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Make Google tool results LLM-visible
  src/family_assistant/tools/google_data.py
  tests/functional/tools/test_google_data_tools.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Propagate ownership to large results derived from owned attachments
  src/family_assistant/processing/tool_execution.py
  tests/unit/processing/test_large_result_fail_fast.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Scope the FA adapter for browser-server saved sessions
  docs/design/browser-cookie-jars.md
  docs/design/browser-saved-sessions-fa-scoping.md
Due: mdformat

Plan companion browser-server changes instead of FA workarounds
  docs/design/browser-saved-sessions-fa-scoping.md
Due: mdformat

Address Codex review findings on the scoping doc
  docs/design/browser-saved-sessions-fa-scoping.md
Due: mdformat

Address Codex round-2 findings on the scoping doc
  docs/design/browser-saved-sessions-fa-scoping.md
Due: mdformat

Address Codex round-3 findings on the scoping doc
  docs/design/browser-saved-sessions-fa-scoping.md
Due: mdformat

Address Codex round-4 findings on the scoping doc
  docs/design/browser-saved-sessions-fa-scoping.md
Due: mdformat

Address Codex round-5 finding: pre-confirmation canonicalization
  docs/design/browser-saved-sessions-fa-scoping.md
Due: mdformat

Address Codex round-6 findings on the scoping doc
  docs/design/browser-saved-sessions-fa-scoping.md
Due: mdformat

Address Codex round-7 findings on the scoping doc
  docs/design/browser-saved-sessions-fa-scoping.md
Due: mdformat

Fix Home Assistant action catalog parsing
  pyproject.toml
  tests/unit/test_home_assistant_wrapper.py
  uv.lock
Due: ruff-check, ruff-format, basedpyright, code-conformance

Address ultracode review findings on the OAuth extraction
  docs/design/user-scoped-google-data-access.md
  src/family_assistant/services/oauth_integration_state.py
  src/family_assistant/tools/google_data.py
  tests/functional/tools/test_google_data_tools.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Invalidate tool caches when an MCP server (re)connects
  src/family_assistant/tools/infrastructure.py
  src/family_assistant/tools/mcp.py
  src/family_assistant/tools/on_demand.py
  tests/functional/integration/test_mcp_sse_restart.py
  tests/unit/tools/test_mcp_tool_filtering.py
  tests/unit/tools/test_on_demand.py
  tests/unit/tools/test_tools_infrastructure.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Dedupe advertised tools by name; justify test type-ignore
  src/family_assistant/tools/infrastructure.py
  tests/unit/tools/test_mcp_tool_filtering.py
  tests/unit/tools/test_tools_infrastructure.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Use monkeypatch instead of silencing the type checker in reconnect test
  tests/unit/tools/test_mcp_tool_filtering.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Treat blank resume_delegation_id as absent
  src/family_assistant/tools/services.py
  tests/functional/automations/test_async_delegation.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Require same user to resume a delegation
  src/family_assistant/tools/services.py
  tests/functional/automations/test_async_delegation.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Address review: serialize resumes and surface resume in confirmation
  src/family_assistant/storage/repositories/delegation_runs.py
  src/family_assistant/tools/confirmation.py
  src/family_assistant/tools/services.py
  tests/functional/automations/test_async_delegation.py
  tests/unit/tools/test_delegate_confirmation_renderer.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Add resumable profile delegation via resume_delegation_id
  docs/design/asynchronous-profile-delegation.md
  docs/user/USER_GUIDE.md
  prompts.yaml
  src/family_assistant/tools/services.py
  tests/functional/automations/test_async_delegation.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt

Harden resume: atomic active-subconversation claim + source-profile check
  alembic/versions/2026_07_18-add_delegation_active_subconversation_unique.py
  docs/design/asynchronous-profile-delegation.md
  src/family_assistant/storage/delegation_runs.py
  src/family_assistant/tools/services.py
  tests/functional/automations/test_async_delegation.py
  tests/functional/storage/test_delegation_runs.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Fix migration head; harden resume source-subconv + sync path
  alembic/versions/2026_07_18-add_delegation_active_subconversation_unique.py
  docs/design/asynchronous-profile-delegation.md
  src/family_assistant/tools/services.py
  tests/functional/automations/test_async_delegation.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Install gcloud CLI in devcontainer/k8s-agent image
  .devcontainer/Dockerfile
Due: none

Key tool advertisement off the descriptor execution resolves to
  src/family_assistant/tools/infrastructure.py
  tests/unit/tools/test_tools_infrastructure.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Log tool name collisions at ERROR instead of dropping silently
  src/family_assistant/tools/infrastructure.py
  tests/unit/tools/test_tools_infrastructure.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Default video generation to Gemini Omni Flash instead of Veo
  defaults.yaml
  docs/user/FEATURES.md
  docs/user/USER_GUIDE.md
  src/family_assistant/config_models.py
  src/family_assistant/tools/video_generation.py
  tests/unit/tools/test_video_backends.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt

Address codex round 6: informed safety approvals
  src/family_assistant/tools/confirmation.py
  tests/unit/tools/test_computer_use_safety_renderer.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Address codex round 5: pending deferrals must not claim consent
  src/family_assistant/processing/tool_execution.py
  src/family_assistant/task_worker.py
  tests/unit/processing/test_tool_execution_safety_confirmation.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Cover RemoteBrowserBackend explicit degradation for unsupported actions
  tests/integration/tools/test_browser_backend_integration.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Address codex review: fail-closed safety decisions, boolean acknowledgement
  docs/design/gemini-computer-use-native.md
  src/family_assistant/processing/tool_execution.py
  tests/unit/processing/test_tool_execution_safety_confirmation.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Wire native Gemini computer use into the visual browser profile
  AGENTS.md
  defaults.yaml
  docs/design/gemini-computer-use-native.md
  docs/design/secure-email-intake-actions.md
  docs/user/USER_GUIDE.md
  docs/user/browser_automation.md
  src/family_assistant/assistant.py
  src/family_assistant/config_loader.py
  src/family_assistant/config_models.py
  src/family_assistant/llm/providers/google_genai_client.py
  src/family_assistant/processing/tool_execution.py
  src/family_assistant/skills/builtin/browser-automation.md
  src/family_assistant/tools/__init__.py
  src/family_assistant/tools/browser_backend.py
  src/family_assistant/tools/computer_use.py
  src/family_assistant/tools/computer_use_names.py
  src/family_assistant/tools/confirmation.py
  src/family_assistant/tools/infrastructure.py
  tests/integration/llm/test_google_computer_use_integration.py
  tests/unit/llm/test_google_computer_use_client.py
  tests/unit/processing/test_tool_execution_safety_confirmation.py
  tests/unit/tools/test_computer_use.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt

Address codex round 7: acknowledge failed durable attempts; document names
  docs/design/gemini-computer-use-native.md
  src/family_assistant/processing/tool_execution.py
  tests/unit/processing/test_tool_execution_safety_confirmation.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Address codex round 4: completed outcomes, payload bounds, scoping, timeout
  src/family_assistant/processing/tool_execution.py
  src/family_assistant/processing/types.py
  src/family_assistant/task_worker.py
  src/family_assistant/tools/confirmation.py
  tests/unit/processing/test_tool_execution_safety_confirmation.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Address codex round 3: ack on approved-but-failed actions, no real sleeps
  src/family_assistant/processing/tool_execution.py
  tests/unit/processing/test_tool_execution_safety_confirmation.py
  tests/unit/tools/test_computer_use.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Address codex round 2: malformed decisions, durable path, type semantics
  docs/design/gemini-computer-use-native.md
  src/family_assistant/processing/tool_execution.py
  src/family_assistant/task_worker.py
  src/family_assistant/tools/computer_use.py
  tests/unit/processing/test_tool_execution_safety_confirmation.py
  tests/unit/tools/test_computer_use.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Address Codex PR review: never mutate the ToolCallItem's arguments
  src/family_assistant/processing/tool_execution.py
  tests/unit/processing/test_tool_execution_safety_confirmation.py
Due: ruff-check, ruff-format, basedpyright, code-conformance
