Repository werdnum/family-assistant: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt, biome-format, eslint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-check
        name: ruff-check
        entry: ruff check --fix --preview
        language: system
        types: [python]
      - id: ruff-format
        name: ruff-format
        entry: ruff format --preview
        language: system
        types: [python]
  - repo: local
    hooks:
      - id: basedpyright
        name: basedpyright
        entry: basedpyright
        language: system
        types: [python]
        pass_filenames: false
      - id: code-conformance
        name: code-conformance
        entry: .ast-grep/check-conformance.py
        language: system
        types: [python]
        pass_filenames: true
  - repo: local
    hooks:
      - id: mdformat
        name: mdformat
        entry: mdformat --wrap 100
        language: system
        types: [markdown]
        exclude: "(?x)^( \n  docs/python-telegram-bot-abridged\\.md|\n  docs/python-telegram-bot-abridged-filtered\\.md\n)$\n"
  - repo: local
    hooks:
      - id: yamlfmt
        name: yamlfmt
        language: golang
        entry: yamlfmt
        additional_dependencies:
          - github.com/google/yamlfmt/cmd/yamlfmt@v0.17.0
        types: [yaml]
  - repo: local
    hooks:
      - id: biome-format
        name: biome-format
        entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx @biomejs/biome format --write "${files[@]}"' --
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx|json)$
        exclude: ^frontend/(dev-dist/|package-lock\.json$)
        pass_filenames: true
      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx eslint --fix "${files[@]}"' --
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx)$
        pass_filenames: true

refactor: Remove nonfunctional reload_config_handler
  src/family_assistant/__main__.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

fix: Address code review feedback for config loading
  src/family_assistant/config_loader.py
  tests/unit/test_config_loader.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

refactor: Extract config loading into dedicated module
  src/family_assistant/__main__.py
  src/family_assistant/config_loader.py
  tests/functional/test_include_system_docs.py
  tests/unit/test_config_loader.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

fix: Update test to use defaults.yaml instead of config.yaml
  tests/functional/telegram/test_slash_command_validation.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

docs: add comprehensive documentation for all personas
  CONTRIBUTING.md
  README.md
  docs/api/README.md
  docs/deployment/PRODUCTION_DEPLOYMENT.md
  docs/operations/BACKUP_RECOVERY.md
  docs/operations/CONFIGURATION_REFERENCE.md
  docs/operations/MONITORING.md
  docs/operations/RUNBOOKS.md
  docs/user/FAQ.md
  docs/user/FEATURES.md
  docs/user/QUICK_START.md
  docs/user/USER_GUIDE.md
  docs/user/browser_automation.md
  docs/user/camera_integration.md
  docs/user/image_tools.md
Due: mdformat

fix: Update Pydantic models to use ConfigDict instead of deprecated Config class
  pytest.ini
  src/family_assistant/storage/email.py
  src/family_assistant/storage/models.py
  src/family_assistant/web/models.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

fix: Improve Gemini multimodal test to verify model sees image
  tests/integration/llm/test_gemini_multimodal_integration.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

fix: Replace real credentials with placeholders in secrets template
  deploy/secrets.yaml
Due: yamlfmt

fix: Resolve test failures and timeouts in poe test
  frontend/src/chat/__tests__/DynamicToolUI.test.tsx
  frontend/src/chat/__tests__/StreamingAndToolCall.test.tsx
  frontend/src/chat/__tests__/ToolWithConfirmation.test.tsx
  tests/integration/llm/test_google_deep_research_integration.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, biome-format, eslint

fix: Improve test reliability and handle LLM API quota errors
  .devcontainer/docker-compose.yml
  frontend/src/chat/__tests__/ErrorHandling.test.tsx
  tests/functional/web/api/test_thought_signature_persistence.py
  tests/integration/llm/test_gemini_multimodal_integration.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, yamlfmt, biome-format, eslint

Revert "fix: Improve test reliability and handle LLM API quota errors"
  tests/functional/web/api/test_thought_signature_persistence.py
  tests/integration/llm/test_gemini_multimodal_integration.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

fix: Skip llm_integration tests by default in poe test
  pytest.ini
Due: none

fix: Improve LLM integration tests
  tests/functional/web/api/test_thought_signature_persistence.py
  tests/integration/llm/test_gemini_multimodal_integration.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

fix: Improve test_navigation_dropdowns_open_and_position stability
  tests/functional/web/ui/test_page_layout.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

perf: Optimize UI test run time with session-scoped fixtures
  tests/functional/web/conftest.py
  tests/functional/web/ui/test_chat_basic.py
  tests/functional/web/ui/test_documents_ui.py
  tests/functional/web/ui/test_events_detail.py
  tests/functional/web/ui/test_events_list.py
  tests/functional/web/ui/test_history_basic.py
  tests/functional/web/ui/test_history_interactions.py
  tests/functional/web/ui/test_notes_flow.py
  tests/functional/web/ui/test_notes_react.py
  tests/functional/web/ui/test_playwright_basic.py
  tests/functional/web/ui/test_profile_switching.py
  tests/functional/web/ui/test_vector_search_ui.py
  tests/functional/web/ui/test_voice_integration.py
  tests/unit/tools/test_video_generation_tools.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

feat: Add download_media tool using yt-dlp
  defaults.yaml
  pyproject.toml
  src/family_assistant/tools/__init__.py
  src/family_assistant/tools/media_download.py
  tests/unit/tools/test_media_download_tools.py
  uv.lock
Due: ruff-check, ruff-format, basedpyright, code-conformance, yamlfmt

fix: Address PR review comments for download_media tool
  src/family_assistant/tools/media_download.py
  tests/unit/tools/test_media_download_tools.py
Due: ruff-check, ruff-format, basedpyright, code-conformance
