Repository werdnum/family-assistant: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt, biome-format, eslint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-check
        name: ruff-check
        entry: ruff check --fix --preview
        language: system
        types: [python]
      - id: ruff-format
        name: ruff-format
        entry: ruff format --preview
        language: system
        types: [python]
  - repo: local
    hooks:
      - id: basedpyright
        name: basedpyright
        entry: basedpyright
        language: system
        types: [python]
        pass_filenames: false
      - id: code-conformance
        name: code-conformance
        entry: .ast-grep/check-conformance.py
        language: system
        types: [python]
        pass_filenames: true
  - repo: local
    hooks:
      - id: mdformat
        name: mdformat
        entry: mdformat --wrap 100
        language: system
        types: [markdown]
        exclude: "(?x)^( \n  docs/python-telegram-bot-abridged\\.md|\n  docs/python-telegram-bot-abridged-filtered\\.md\n)$\n"
  - repo: local
    hooks:
      - id: yamlfmt
        name: yamlfmt
        language: golang
        entry: yamlfmt
        additional_dependencies:
          - github.com/google/yamlfmt/cmd/yamlfmt@v0.17.0
        types: [yaml]
  - repo: local
    hooks:
      - id: biome-format
        name: biome-format
        entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx @biomejs/biome format --write "${files[@]}"' --
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx|json)$
        exclude: ^frontend/(dev-dist/|package-lock\.json$)
        pass_filenames: true
      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx eslint --fix "${files[@]}"' --
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx)$
        pass_filenames: true

fix: normalize otlp http observability endpoints
  deploy/README.md
  src/family_assistant/observability.py
  tests/unit/test_observability.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Add design doc for A2A client profile delegation
  docs/design/a2a-client-profile-delegation.md
Due: mdformat

Address review nits and resolve open questions
  docs/design/a2a-client-profile-delegation.md
Due: mdformat

Address second round of review comments
  docs/design/a2a-client-profile-delegation.md
Due: mdformat

Add attachment size limit and detailed test scenarios
  docs/design/a2a-client-profile-delegation.md
Due: mdformat

Integrate with existing A2A server infrastructure
  docs/design/a2a-client-profile-delegation.md
Due: mdformat

Fix taskId mapping, FilePart consistency, and message fallback
  docs/design/a2a-client-profile-delegation.md
Due: mdformat

Add FilePart support, empty-result guard, and lazy discovery
  docs/design/a2a-client-profile-delegation.md
Due: mdformat

Add mqtt_publish tool for publishing JSON to MQTT topics
  defaults.yaml
  pyproject.toml
  src/family_assistant/config_loader.py
  src/family_assistant/config_models.py
  src/family_assistant/tools/__init__.py
  src/family_assistant/tools/mqtt.py
  tests/unit/tools/test_mqtt_tools.py
  uv.lock
Due: ruff-check, ruff-format, basedpyright, code-conformance, yamlfmt

Apply auto-formatting fixes from linter
  src/family_assistant/tools/CLAUDE.md
  src/family_assistant/tools/README.md
  src/family_assistant/web/CLAUDE.md
  tests/CLAUDE.md
  tests/functional/automations/CLAUDE.md
  tests/functional/calendar/CLAUDE.md
  tests/functional/indexing/CLAUDE.md
  tests/functional/indexing/test_email_advanced.py
  tests/functional/indexing/test_email_attachments.py
  tests/functional/indexing/test_email_basic.py
  tests/functional/indexing/test_reindexing.py
  tests/functional/telegram/CLAUDE.md
  tests/functional/test_push_api.py
  tests/integration/CLAUDE.md
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Address PR review comments for mqtt_publish tool
  src/family_assistant/config_loader.py
  src/family_assistant/tools/mqtt.py
  tests/unit/tools/test_mqtt_tools.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Broaden mqtt_publish payload to accept any JSON value
  src/family_assistant/tools/mqtt.py
  tests/unit/tools/test_mqtt_tools.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Remove silent coercion of non-JSON values in mqtt_publish
  src/family_assistant/tools/mqtt.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Fix docs code examples and add MQTT timeout handling
  src/family_assistant/tools/CLAUDE.md
  src/family_assistant/tools/README.md
  src/family_assistant/tools/mqtt.py
  tests/unit/tools/test_mqtt_tools.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Fix horizontal page overflow when expanding task payloads
  frontend/src/components/tools/ToolParameterViewer.jsx
  frontend/src/tasks/components/JsonPayloadViewer.jsx
  frontend/src/tasks/components/TaskCard.module.css
Due: biome-format, eslint

Use rich JSON editor by default in JsonPayloadViewer
  frontend/src/tasks/components/JsonPayloadViewer.jsx
Due: biome-format, eslint

Fix race conditions and restore pre fallback for large payloads
  frontend/src/tasks/components/JsonPayloadViewer.jsx
Due: biome-format, eslint

Memoize large payload check and add JsonPayloadViewer tests
  frontend/src/tasks/components/JsonPayloadViewer.jsx
  frontend/src/tasks/components/__tests__/JsonPayloadViewer.test.jsx
Due: biome-format, eslint

Add mqtt_publish tool to event_handler profile
  defaults.yaml
Due: yamlfmt

Add mqtt_publish tool to default_assistant profile
  defaults.yaml
Due: yamlfmt

Add config model and metadata support for on-demand tool activation
  src/family_assistant/config_models.py
  src/family_assistant/tools/__init__.py
  src/family_assistant/tools/metadata.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Integrate on-demand tool activation into LLM streaming loop
  src/family_assistant/processing/llm_loop.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Wire OnDemandAwareToolsProvider into assistant provider chain
  src/family_assistant/assistant.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Add OnDemandAwareToolsProvider and activate_tools meta-tool definition
  src/family_assistant/tools/__init__.py
  src/family_assistant/tools/on_demand.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Add skills auto-activation of on-demand tools
  src/family_assistant/processing/llm_loop.py
  src/family_assistant/skills/loader.py
  src/family_assistant/skills/types.py
  src/family_assistant/tools/notes.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Configure on-demand tools in default profile
  defaults.yaml
Due: yamlfmt

Add unit tests for on-demand tool activation
  tests/unit/tools/test_on_demand.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Hide on-demand tool details behind generic abstractions
  src/family_assistant/processing/llm_loop.py
  src/family_assistant/tools/__init__.py
  src/family_assistant/tools/infrastructure.py
  src/family_assistant/tools/on_demand.py
  tests/functional/tools/test_defaults_tool_policy_parity.py
  tests/unit/tools/test_on_demand.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Fix mdformat whitespace in code examples
  src/family_assistant/tools/CLAUDE.md
  src/family_assistant/tools/README.md
Due: mdformat

Address PR review on on-demand tool activation
  src/family_assistant/assistant.py
  src/family_assistant/tools/on_demand.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Address second round of PR review on on-demand activation
  src/family_assistant/processing/llm_loop.py
  src/family_assistant/tools/on_demand.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Make on-demand catalog and activation confirmation-aware
  src/family_assistant/processing/llm_loop.py
  src/family_assistant/tools/infrastructure.py
  src/family_assistant/tools/on_demand.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Make on-demand activation state turn-local
  src/family_assistant/processing/llm_loop.py
  src/family_assistant/tools/on_demand.py
  tests/unit/tools/test_on_demand.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Parse activate_tools arguments from JSON string in LLM loop
  src/family_assistant/processing/llm_loop.py
  tests/unit/processing/test_llm_loop_tool_advertisement.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Address Gemini review on on-demand activation
  src/family_assistant/tools/on_demand.py
  tests/functional/automations/test_delegation_basic.py
  tests/functional/automations/test_subconversation_isolation.py
  tests/functional/telegram/test_telegram_confirmation.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Add regression coverage for on-demand auto-activation paths
  tests/unit/processing/test_llm_loop_tool_advertisement.py
  tests/unit/tools/test_on_demand.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Compose on-demand catalog through generic system prompt collector
  src/family_assistant/processing/llm_loop.py
  src/family_assistant/tools/infrastructure.py
  src/family_assistant/tools/on_demand.py
  tests/unit/tools/test_on_demand.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Harden on-demand skill auto-activation and reserve meta-tool name
  src/family_assistant/processing/llm_loop.py
  src/family_assistant/tools/on_demand.py
  tests/unit/processing/test_llm_loop_tool_advertisement.py
  tests/unit/tools/test_on_demand.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Split disable_apis into per-API enable flags
  docs/design/scripting/monty-evaluation.md
  src/family_assistant/events/condition_evaluator.py
  src/family_assistant/scripting/config.py
  src/family_assistant/scripting/monty_engine.py
  src/family_assistant/scripting/validator.py
  tests/functional/events/test_condition_evaluator.py
  tests/functional/scripting/test_llm_api.py
  tests/functional/scripting/test_validator.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Disable tools_*/attachment_* in event-condition validator
  src/family_assistant/events/condition_evaluator.py
  tests/functional/events/test_condition_evaluator.py
Due: ruff-check, ruff-format, basedpyright, code-conformance
