Repository werdnum/family-assistant: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt, biome-format, eslint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-check
        name: ruff-check
        entry: ruff check --fix --preview
        language: system
        types: [python]
      - id: ruff-format
        name: ruff-format
        entry: ruff format --preview
        language: system
        types: [python]
  - repo: local
    hooks:
      - id: basedpyright
        name: basedpyright
        entry: basedpyright
        language: system
        types: [python]
        pass_filenames: false
      - id: code-conformance
        name: code-conformance
        entry: .ast-grep/check-conformance.py
        language: system
        types: [python]
        pass_filenames: true
  - repo: local
    hooks:
      - id: mdformat
        name: mdformat
        entry: mdformat --wrap 100
        language: system
        types: [markdown]
        exclude: "(?x)^( \n  docs/python-telegram-bot-abridged\\.md|\n  docs/python-telegram-bot-abridged-filtered\\.md\n)$\n"
  - repo: local
    hooks:
      - id: yamlfmt
        name: yamlfmt
        language: golang
        entry: yamlfmt
        additional_dependencies:
          - github.com/google/yamlfmt/cmd/yamlfmt@v0.17.0
        types: [yaml]
  - repo: local
    hooks:
      - id: biome-format
        name: biome-format
        entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx @biomejs/biome format --write "${files[@]}"' --
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx|json)$
        exclude: ^frontend/(dev-dist/|package-lock\.json$)
        pass_filenames: true
      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx eslint --fix "${files[@]}"' --
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx)$
        pass_filenames: true

Never attribute a fallback to the judge, and refuse a missing config file
  scripts/tool_call_review_eval.py
  src/family_assistant/eval/tool_call_review/report.py
  src/family_assistant/eval/tool_call_review/scoring.py
  tests/unit/eval/test_eval_cli.py
  tests/unit/eval/test_tool_call_review_eval.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Read the source database without migrating it; reject repaired taint metadata
  docs/design/tool-call-review-eval.md
  scripts/extract_review_history.py
  src/family_assistant/eval/tool_call_review/schema.py
  tests/unit/eval/test_history_extraction.py
  tests/unit/eval/test_tool_call_review_eval.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Stop writing to the read database; check every taint-bearing field
  docs/development/review-eval-history-extraction.md
  scripts/build_public_corpus_cases.py
  scripts/extract_review_history.py
  src/family_assistant/eval/tool_call_review/schema.py
  src/family_assistant/storage/base.py
  tests/unit/eval/test_history_extraction.py
  tests/unit/eval/test_public_adapters.py
  tests/unit/eval/test_tool_call_review_eval.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Reject repeated keys in case files; group instability by reviewer input
  src/family_assistant/eval/tool_call_review/__init__.py
  src/family_assistant/eval/tool_call_review/loader.py
  src/family_assistant/eval/tool_call_review/report.py
  src/family_assistant/eval/tool_call_review/scoring.py
  tests/unit/eval/test_tool_call_review_eval.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Withhold the bound for unstable evidence; keep prose out of case identifiers
  src/family_assistant/eval/tool_call_review/report.py
  src/family_assistant/eval/tool_call_review/schema.py
  tests/unit/eval/test_tool_call_review_eval.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Decide "no bound" and "why skipped" in one place each
  scripts/tool_call_review_eval.py
  src/family_assistant/eval/tool_call_review/__init__.py
  src/family_assistant/eval/tool_call_review/loader.py
  src/family_assistant/eval/tool_call_review/report.py
  src/family_assistant/eval/tool_call_review/runner.py
  src/family_assistant/eval/tool_call_review/scoring.py
  tests/unit/eval/test_tool_call_review_eval.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Open the source database read-only; measure usability per input
  scripts/extract_review_history.py
  src/family_assistant/eval/tool_call_review/scoring.py
  tests/unit/eval/test_history_extraction.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Fail the run instead of recording a fallback
  docs/design/tool-call-review-eval.md
  docs/development/review-eval-history-extraction.md
  scripts/tool_call_review_eval.py
  src/family_assistant/eval/tool_call_review/__init__.py
  src/family_assistant/eval/tool_call_review/report.py
  src/family_assistant/eval/tool_call_review/runner.py
  src/family_assistant/eval/tool_call_review/scoring.py
  tests/unit/eval/test_tool_call_review_eval.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Close the placeholder vocabulary; make mode=ro actually apply
  scripts/extract_review_history.py
  src/family_assistant/eval/tool_call_review/loader.py
  src/family_assistant/eval/tool_call_review/scrub.py
  tests/unit/eval/test_history_extraction.py
  tests/unit/eval/test_scrub.py
  tests/unit/eval/test_tool_call_review_eval.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Digest free-form operator config in stamps; fix the stale scoring contract
  docs/design/tool-call-review-eval.md
  src/family_assistant/eval/tool_call_review/report.py
  tests/unit/eval/test_eval_cli.py
  tests/unit/eval/test_tool_call_review_eval.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Refuse a non-empty template output directory
  docs/development/review-eval-history-extraction.md
  scripts/extract_review_history.py
  tests/unit/eval/test_history_extraction.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Skip unreadable stored tool calls; add --since to history extraction
  docs/development/review-eval-history-extraction.md
  scripts/extract_review_history.py
  src/family_assistant/storage/repositories/message_history.py
  tests/functional/storage/test_message_history_querying.py
  tests/unit/eval/test_history_extraction.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Convert an offset --since to UTC, not just a naive one
  scripts/extract_review_history.py
  tests/unit/eval/test_history_extraction.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Skip a stored tool call with no arguments, don't invent ""
  src/family_assistant/storage/repositories/message_history.py
  tests/functional/storage/test_message_history_querying.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Resolve a deployment's MCP tools via a registry snapshot
  docs/design/tool-call-review-eval.md
  docs/development/review-eval-history-extraction.md
  pyproject.toml
  scripts/dump_tool_registry.py
  scripts/extract_review_history.py
  scripts/tool_call_review_eval.py
  src/family_assistant/eval/tool_call_review/registry_snapshot.py
  tests/unit/eval/test_history_extraction.py
  tests/unit/eval/test_registry_snapshot.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Close three ways the snapshot could still lose a tool
  scripts/dump_tool_registry.py
  scripts/tool_call_review_eval.py
  src/family_assistant/eval/tool_call_review/registry_snapshot.py
  tests/unit/eval/test_eval_cli.py
  tests/unit/eval/test_registry_snapshot.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

State the rule instead of listing the fields that need it
  docs/development/review-eval-history-extraction.md
  scripts/dump_tool_registry.py
  src/family_assistant/eval/tool_call_review/registry_snapshot.py
  src/family_assistant/eval/tool_call_review/report.py
  src/family_assistant/eval/tool_call_review/runner.py
  tests/unit/eval/test_registry_snapshot.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Require a named overlay to exist; record the naming residual
  docs/design/tool-call-review-eval.md
  scripts/dump_tool_registry.py
  tests/unit/eval/test_registry_snapshot.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Guard the overlay a deployment actually names; validate definitions
  scripts/dump_tool_registry.py
  src/family_assistant/eval/tool_call_review/registry_snapshot.py
  tests/unit/eval/test_registry_snapshot.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Support A2A v1 and v0.3 clients
  config.yaml.example
  docs/design/a2a-client-profile-delegation.md
  docs/operations/CONFIGURATION_REFERENCE.md
  pyproject.toml
  src/family_assistant/a2a/client.py
  src/family_assistant/a2a/result_converter.py
  src/family_assistant/a2a/types.py
  tests/functional/web/api/test_a2a_api.py
  tests/functional/web/api/test_a2a_client_integration.py
  tests/unit/a2a_client/test_a2a_client.py
  uv.lock
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

refactor: reduce complexity in core workflows
  .lint-budget.toml
  src/family_assistant/assistant.py
  src/family_assistant/indexing/processors/network_processors.py
  src/family_assistant/storage/vector_search.py
  src/family_assistant/tools/services.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

feat(telegram): support Telegram Bot API 10.1 rich messages with graceful fallback
  src/family_assistant/telegram/handler.py
  src/family_assistant/telegram/interface.py
  src/family_assistant/telegram/rich_messages.py
  tests/unit/telegram/test_rich_messages.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

refactor(telegram): make sendRichMessage the default path for all markdown messages
  src/family_assistant/telegram/rich_messages.py
  tests/unit/telegram/test_rich_messages.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

fix(telegram): resolve basedpyright type issues and code conformance checks in rich_messages
  src/family_assistant/telegram/rich_messages.py
  tests/unit/telegram/test_rich_messages.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

docs: add review scope discipline
  AGENTS.md
  REVIEW_GUIDELINES.md
Due: mdformat

docs: clarify test failure scope
  AGENTS.md
Due: mdformat

Use deployment-effective tool registry in eval dumps
  docs/design/tool-call-review-eval.md
  docs/development/review-eval-history-extraction.md
  scripts/dump_tool_registry.py
  src/family_assistant/assistant.py
  src/family_assistant/services/effective_tool_registry.py
  tests/unit/eval/test_registry_snapshot.py
  tests/unit/services/test_effective_tool_registry.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

fix(telegram): restrict rich message fallback to compatibility rejections and add documentation
  docs/user/interfaces.md
  prompts.yaml
  src/family_assistant/telegram/handler.py
  src/family_assistant/telegram/interface.py
  src/family_assistant/telegram/rich_messages.py
  tests/unit/telegram/test_rich_messages.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt

fix(telegram): initialize sent_assistant_message variable in handler process_batch
  docs/api/README.md
  docs/design/jwt-edge-auth.md
  docs/design/omnigent-delegation.md
  src/family_assistant/telegram/handler.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

feat(review): propagate the originating user request across delegation
  docs/design/auto-tool-call-review.md
  docs/user/confirmations-and-safety.md
  src/family_assistant/eval/tool_call_review/datasets/manual/delegation_goal_smuggling.yaml
  src/family_assistant/eval/tool_call_review/schema.py
  src/family_assistant/services/tool_call_review.py
  src/family_assistant/task_worker.py
  src/family_assistant/tools/services.py
  tests/functional/automations/test_async_delegation.py
  tests/unit/services/test_tool_call_review.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt

test(eval): count the two delegated-run cases in the manual dataset
  tests/unit/eval/test_manual_dataset.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Add private history-derived eval generation pipeline
  docs/design/review-eval-history-generation.md
  docs/development/review-eval-history-extraction.md
  scripts/generate_review_history_cases.py
  src/family_assistant/eval/tool_call_review/history_generation.py
  tests/unit/eval/test_history_generation.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Pin public corpus source revisions
  scripts/CLAUDE.md
  scripts/fetch_review_eval_corpora.sh
  tests/unit/eval/test_public_corpus_fetch.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Reject symlinked private corpus roots
  scripts/fetch_review_eval_corpora.sh
  tests/unit/eval/test_public_corpus_fetch.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Reject indistinguishable history case twins
  docs/design/review-eval-history-generation.md
  docs/development/review-eval-history-extraction.md
  src/family_assistant/eval/tool_call_review/history_generation.py
  tests/unit/eval/test_history_generation.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Match browser ablation action kinds
  docs/design/tool-call-review-corpus-ablation.md
  src/family_assistant/eval/tool_call_review/adapters/casebuild.py
  src/family_assistant/eval/tool_call_review/loader.py
  src/family_assistant/eval/tool_call_review/schema.py
  tests/unit/eval/test_ablation_contract.py
  tests/unit/eval/test_public_adapters.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Fail closed on unresolved history sink metadata
  docs/design/review-eval-history-generation.md
  docs/development/review-eval-history-extraction.md
  scripts/generate_review_history_cases.py
  src/family_assistant/eval/tool_call_review/history_generation.py
  tests/unit/eval/test_history_generation.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Validate generated history sink consistency
  docs/development/review-eval-history-extraction.md
  src/family_assistant/eval/tool_call_review/history_generation.py
  tests/unit/eval/test_history_generation.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Constrain public corpus ablation artifacts
  docs/design/tool-call-review-corpus-ablation.md
  scripts/CLAUDE.md
  scripts/build_public_corpus_cases.py
  src/family_assistant/eval/tool_call_review/loader.py
  tests/unit/eval/test_ablation_contract.py
  tests/unit/eval/test_public_adapters.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat
