Repository werdnum/family-assistant: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, basedpyright, mdformat, biome-format, eslint

ruff-check:
  name: ruff-check
  entry: ruff check --fix --preview
  language: system

ruff-format:
  name: ruff-format
  entry: ruff format --preview
  language: system

basedpyright:
  name: basedpyright
  entry: basedpyright
  language: system
  pass_filenames: false

mdformat:
  name: mdformat
  entry: mdformat --wrap 100
  language: system

biome-format:
  name: biome-format
  entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx @biomejs/biome format --write "${files[@]}"' --
  language: system
  pass_filenames: true

eslint:
  name: eslint
  entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx eslint --fix "${files[@]}"' --
  language: system
  pass_filenames: true

fix: CI test failures - async Path ops, dependency locking, and PATH
  .github/workflows/ci-with-devcontainer.yml
  src/family_assistant/tools/documents.py
Due: ruff-check, ruff-format, basedpyright

fix: Use 'uv sync --extra dev' to install package in editable mode
  .github/workflows/ci-with-devcontainer.yml
Due: none

fix: Add setup-workspace.sh ENTRYPOINT to CI container
  .devcontainer/Dockerfile.ci
Due: none

fix: Set VIRTUAL_ENV=/venv in all CI jobs
  .github/workflows/ci-with-devcontainer.yml
Due: none

fix: Add uv.lock to Dockerfile.ci for proper dependency resolution
  .devcontainer/Dockerfile.ci
Due: none

fix: Install project in editable mode before running CI tests
  .github/workflows/ci-with-devcontainer.yml
Due: none

fix: Rely on setup-workspace.sh for Python env instead of pre-installing
  .devcontainer/Dockerfile.ci
  .github/workflows/ci-with-devcontainer.yml
Due: none

refactor: Use short commit SHA for claudecodeui pin
  .devcontainer/Dockerfile
Due: none

fix: Add explicit Python setup to CI jobs instead of ENTRYPOINT
  .devcontainer/Dockerfile.ci
  .github/workflows/ci-with-devcontainer.yml
Due: none

fix: Use correct pytest path in CI workflow
  .github/workflows/ci-with-devcontainer.yml
Due: none

fix: Use system uv instead of /venv/bin/uv in CI
  .github/workflows/ci-with-devcontainer.yml
Due: none

fix: Install Python project dependencies in CI container
  .devcontainer/Dockerfile.ci
Due: none

refactor: Implement three-layer Docker architecture for optimal CI caching
  .claude/test-verification-core.sh
  .devcontainer/Dockerfile
  .devcontainer/Dockerfile.base
  .devcontainer/Dockerfile.ci
  .devcontainer/README.md
  .github/workflows/build-containers.yml
  .github/workflows/ci-with-devcontainer.yml
Due: mdformat

fix: Resolve test flakiness by implementing FastAPI app factory pattern
  src/family_assistant/assistant.py
  src/family_assistant/web/app_creator.py
  tests/functional/web/conftest.py
  tests/functional/web/test_conversation_history.py
Due: ruff-check, ruff-format, basedpyright

fix(hooks): Add fallback strategy for stale transcript detection
  .claude/test-verification-core.sh
Due: none

docs: Add design document for FastAPI app factory pattern
  docs/design/fastapi-app-factory-pattern.md
Due: mdformat

design: Calendar duplicate prevention with pluggable similarity strategies
  docs/design/calendar-duplicate-prevention.md
Due: mdformat

test: Add comprehensive functional tests for similarity-based calendar search
  tests/functional/test_calendar_integration.py
Due: ruff-check, ruff-format, basedpyright

fix: Add type: ignore for sentence_transformers imports in CI
  src/family_assistant/similarity.py
Due: ruff-check, ruff-format, basedpyright

refactor: Change calendar duplicate detection to pre-warning approach
  docs/design/calendar-duplicate-prevention.md
  src/family_assistant/similarity.py
  src/family_assistant/tools/calendar.py
  tests/functional/test_calendar_integration.py
Due: ruff-check, ruff-format, basedpyright, mdformat

feat: Add calendar duplicate detection with similarity-based warnings
  src/family_assistant/tools/calendar.py
  tests/functional/test_calendar_integration.py
Due: ruff-check, ruff-format, basedpyright

feat: Add similarity-based search to calendar events tool
  src/family_assistant/tools/calendar.py
Due: ruff-check, ruff-format, basedpyright

feat: Add duplicate detection with warnings for calendar events
  Dockerfile
  prompts.yaml
  src/family_assistant/tools/calendar.py
Due: ruff-check, ruff-format, basedpyright

fix: Use pyright: ignore syntax for basedpyright
  src/family_assistant/similarity.py
Due: ruff-check, ruff-format, basedpyright

design: Update calendar duplicate prevention to use warnings instead of hard blocks
  docs/design/calendar-duplicate-prevention.md
Due: mdformat

feat: Implement pluggable similarity strategies for calendar duplicate detection
  src/family_assistant/__main__.py
  src/family_assistant/similarity.py
Due: ruff-check, ruff-format, basedpyright

fix: Disable duplicate detection in non-duplicate-detection tests
  tests/functional/test_calendar_integration.py
Due: ruff-check, ruff-format, basedpyright

Path conditions:
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  basedpyright: any of: \.py$
  mdformat: any of: \.(md|markdown|mdown)$, but not: (?x)^( 
  docs/python-telegram-bot-abridged\.md|
  docs/python-telegram-bot-abridged-filtered\.md
)$

  biome-format: any of: ^frontend/.*\.(js|jsx|ts|tsx|json)$
  eslint: any of: ^frontend/.*\.(js|jsx|ts|tsx)$
