Repository werdnum/family-assistant: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt, biome-format, eslint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-check
        name: ruff-check
        entry: ruff check --fix --preview
        language: system
        types: [python]
      - id: ruff-format
        name: ruff-format
        entry: ruff format --preview
        language: system
        types: [python]
  - repo: local
    hooks:
      - id: basedpyright
        name: basedpyright
        entry: basedpyright
        language: system
        types: [python]
        pass_filenames: false
      - id: code-conformance
        name: code-conformance
        entry: .ast-grep/check-conformance.py
        language: system
        types: [python]
        pass_filenames: true
  - repo: local
    hooks:
      - id: mdformat
        name: mdformat
        entry: mdformat --wrap 100
        language: system
        types: [markdown]
        exclude: "(?x)^( \n  docs/python-telegram-bot-abridged\\.md|\n  docs/python-telegram-bot-abridged-filtered\\.md\n)$\n"
  - repo: local
    hooks:
      - id: yamlfmt
        name: yamlfmt
        language: golang
        entry: yamlfmt
        additional_dependencies:
          - github.com/google/yamlfmt/cmd/yamlfmt@v0.17.0
        types: [yaml]
  - repo: local
    hooks:
      - id: biome-format
        name: biome-format
        entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx @biomejs/biome format --write "${files[@]}"' --
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx|json)$
        exclude: ^frontend/(dev-dist/|package-lock\.json$)
        pass_filenames: true
      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx eslint --fix "${files[@]}"' --
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx)$
        pass_filenames: true

fix(mcp): collect replies older than a day
  src/family_assistant/web/routers/chat_api.py
  tests/functional/web/api/test_mcp_adapter.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Show pending delegations above the iOS chat composer
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatAPIClient.swift
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatErrorClassifier.swift
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatModels.swift
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatViewModel.swift
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatViews.swift
  ios/FamilyAssistant/FamilyAssistant/UITesting/UITestConfiguration.swift
  ios/FamilyAssistant/FamilyAssistantTests/ChatAPIClientTests.swift
  ios/FamilyAssistant/FamilyAssistantTests/ChatErrorClassifierTests.swift
  ios/FamilyAssistant/FamilyAssistantTests/ChatViewModelTests.swift
Due: none

Keep profile display names as they were
  frontend/src/chat/__tests__/PendingDelegations.test.tsx
  frontend/src/chat/profileNames.ts
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatModels.swift
  ios/FamilyAssistant/FamilyAssistantTests/ChatViewModelTests.swift
Due: biome-format, eslint

Send pending-delegation times with a UTC offset
  src/family_assistant/web/routers/chat_api.py
  tests/functional/web/api/test_pending_delegations_api.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Document the pending delegations chip
  docs/design/quiet-turns.md
  docs/user/interfaces.md
Due: mdformat

Show pending delegations above the web chat composer
  frontend/src/chat/ChatApp.tsx
  frontend/src/chat/PendingDelegationsChip.tsx
  frontend/src/chat/ProfileSelector.tsx
  frontend/src/chat/Thread.tsx
  frontend/src/chat/__tests__/PendingDelegations.test.tsx
  frontend/src/chat/chatControls.ts
  frontend/src/chat/profileNames.ts
  frontend/src/chat/usePendingDelegations.ts
  frontend/src/test/mocks/handlers.ts
  tests/functional/web/ui/test_pending_delegations_ui.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, biome-format, eslint

Taint: classify read-only worker tools as reads, warn on uncovered MCP tool_metadata
  src/family_assistant/security/taint.py
  src/family_assistant/tools/mcp.py
  src/family_assistant/tools/metadata.py
  tests/unit/security/test_runtime_taint.py
  tests/unit/tools/test_tool_metadata.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Judge tool calls argument by argument against the trusted request
  defaults.yaml
  docs/design/tool-call-review-judge-tuning.md
  src/family_assistant/config_models.py
  src/family_assistant/services/tool_call_review.py
  tests/unit/services/test_tool_call_review.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt

Add wildcard read-only sensitive MCP sink regression test
  src/family_assistant/security/taint.py
  tests/unit/security/test_runtime_taint.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Record that the review judge targets tail risk, not nuisance
  docs/design/tool-call-review-judge-tuning.md
Due: mdformat

Include the review prompt in the reviewer revision
  src/family_assistant/services/tool_call_review.py
  src/family_assistant/tools/infrastructure.py
  tests/unit/services/test_tool_call_review.py
  tests/unit/tools/test_tool_call_review_integration.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Don't offer AI worker tools when ai_worker_config is disabled
  src/family_assistant/services/effective_tool_registry.py
  tests/unit/eval/test_registry_snapshot.py
  tests/unit/services/test_effective_tool_registry.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Taint: local delegations are not egress; browser page reads are reads
  docs/design/interactions-agent-taint-and-attachments.md
  src/family_assistant/assistant.py
  src/family_assistant/security/taint.py
  tests/unit/security/test_runtime_taint.py
  tests/unit/test_delegation_sink_class.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Say worker guidance applies only when the worker tools are offered
  defaults.yaml
  prompts.yaml
Due: yamlfmt

Taint: keep MCP browser tools as egress; document worker tag
  docs/operations/CONFIGURATION_REFERENCE.md
  src/family_assistant/security/taint.py
  tests/unit/security/test_runtime_taint.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Taint: browser page reads are local, not sensitive reads
  src/family_assistant/security/taint.py
  src/family_assistant/tools/__init__.py
  tests/unit/security/test_runtime_taint.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Taint: treat retry-chain Interactions agents as external delegates
  src/family_assistant/assistant.py
  tests/unit/test_delegation_sink_class.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Taint: a signed-in browser session's results are private data
  src/family_assistant/tools/browser_backend.py
  tests/integration/tools/test_authenticated_site_integration.py
  tests/unit/tools/test_authenticated_site_boundaries.py
  tests/unit/tools/test_authenticated_site_tools.py
  tests/unit/tools/test_browser_backend.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Test: allow current-page browser reads in the confined read inventory
  tests/functional/tools/test_defaults_tool_policy_parity.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Taint: classify a profile's inherited default model too
  src/family_assistant/assistant.py
  tests/unit/test_delegation_sink_class.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Taint: reading worker results is a sensitive read
  src/family_assistant/tools/__init__.py
  tests/unit/security/test_runtime_taint.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Taint: a delegate's sensitive reads come back with its result
  src/family_assistant/security/taint.py
  src/family_assistant/storage/repositories/message_history.py
  src/family_assistant/tools/services.py
  tests/functional/storage/test_message_history.py
  tests/unit/security/test_runtime_taint.py
  tests/unit/tools/test_delegation_policy.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Docs: delegated results carry the delegate's sensitive reads
  docs/design/interactions-agent-taint-and-attachments.md
Due: mdformat

Cover plugin context providers in the engineer provenance check
  tests/functional/tools/test_defaults_tool_policy_parity.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Leave out a Home Assistant instance with no URL instead of failing startup
  docs/operations/CONFIGURATION_REFERENCE.md
  src/family_assistant/plugins/base.py
  src/family_assistant/plugins/home_assistant/plugin.py
  src/family_assistant/plugins/runtime.py
  tests/unit/plugins/test_plugins.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Migrate the legacy Home Assistant event source switch
  docs/operations/CONFIGURATION_REFERENCE.md
  src/family_assistant/plugins/config.py
  tests/unit/plugins/test_plugins.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Merge main and update a new test to the plugins parameter
  tests/unit/tools/test_delegation_policy.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Check profile plugin selections at startup, after environment overrides
  src/family_assistant/assistant.py
  src/family_assistant/config_models.py
  tests/unit/plugins/test_plugins.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Check remote profiles' plugin selections too; record the migration's scope
  docs/design/plugin-architecture.md
  src/family_assistant/assistant.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Give the remote A2A setup test's stand-in assistant a plugin runtime
  tests/unit/test_remote_a2a_setup.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Let the engineer wait across restarts with self-scheduled callbacks
  defaults.yaml
  docs/design/engineer_profile.md
  docs/user/troubleshooting.md
  prompts.yaml
  tests/functional/tools/test_defaults_tool_policy_parity.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt

Remove the legacy Home Assistant config migration
  docs/design/plugin-architecture.md
  docs/operations/CONFIGURATION_REFERENCE.md
  src/family_assistant/config_models.py
  src/family_assistant/plugins/config.py
  tests/unit/plugins/test_plugins.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Review-gate the engineer's callbacks and drop its cancel grant
  AGENTS.md
  defaults.yaml
  docs/design/engineer_profile.md
  docs/user/troubleshooting.md
  tests/functional/tools/test_defaults_tool_policy_parity.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt

Fix Home Assistant event source calling methods its client lacks
  src/family_assistant/plugins/home_assistant/client.py
  src/family_assistant/plugins/home_assistant/events.py
  src/family_assistant/plugins/home_assistant/instance.py
  tests/functional/home_assistant/test_reconnection.py
  tests/unit/events/test_home_assistant_validation.py
  tests/unit/test_home_assistant_wrapper.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Give the shared workspace path a home outside the worker config
  defaults.yaml
  src/family_assistant/assistant.py
  src/family_assistant/config_loader.py
  src/family_assistant/config_models.py
  src/family_assistant/task_worker.py
  src/family_assistant/tools/worker.py
  src/family_assistant/utils/workspace.py
  tests/functional/notes/test_ambient_admission.py
  tests/functional/tools/test_engineer_tool_call_review.py
  tests/functional/tools/test_worker_task_lifecycle.py
  tests/unit/tools/test_timezone_consistency.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, yamlfmt

Keep config values out of validation errors
  src/family_assistant/config_models.py
  tests/unit/plugins/test_reolink_plugin.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Don't promise worker removal leaves the workspace alone
  docs/design/plugin-architecture.md
  src/family_assistant/plugins/ai_workers/tasks.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat
