Repository werdnum/family-assistant: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, basedpyright, mdformat, biome-format, eslint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-check
        name: ruff-check
        entry: ruff check --fix --preview
        language: system
        types: [python]
      - id: ruff-format
        name: ruff-format
        entry: ruff format --preview
        language: system
        types: [python]
  - repo: local
    hooks:
      - id: basedpyright
        name: basedpyright
        entry: basedpyright
        language: system
        types: [python]
        pass_filenames: false
  - repo: local
    hooks:
      - id: mdformat
        name: mdformat
        entry: mdformat --wrap 100
        language: system
        types: [markdown]
        exclude: "(?x)^( \n  docs/python-telegram-bot-abridged\\.md|\n  docs/python-telegram-bot-abridged-filtered\\.md\n)$\n"
  - repo: https://github.com/google/yamlfmt
    rev: v0.17.0
    hooks:
      - id: yamlfmt
  - repo: local
    hooks:
      - id: biome-format
        name: biome-format
        entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx @biomejs/biome format --write "${files[@]}"' --
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx|json)$
        pass_filenames: true
      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx eslint --fix "${files[@]}"' --
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx)$
        pass_filenames: true

Fix conversation history filtering: support all interface types and comprehensive filters (#53)
  .devcontainer/Dockerfile.ci
  .github/workflows/ci-with-devcontainer.yml
  CLAUDE.local.md
  frontend/src/custom.css
  frontend/src/pages/History/components/ConversationsList.jsx
  frontend/src/pages/History/components/HistoryFilters.jsx
  frontend/src/pages/VectorSearch/VectorSearch.module.css
  src/family_assistant/storage/repositories/message_history.py
  src/family_assistant/web/routers/chat_api.py
  tests/functional/web/test_conversation_history.py
  tests/functional/web/test_history_ui.py
  tests/functional/web/test_ui_endpoints_playwright.py
Due: ruff-check, ruff-format, basedpyright, mdformat, biome-format, eslint

Enhance CI debugging: add JSON reports and comprehensive troubleshooting guide
  .devcontainer/docker-compose.yml
  .github/workflows/ci-with-devcontainer.yml
  .gitignore
  AGENTS.md
  tests/functional/web/test_history_ui.py
Due: ruff-check, ruff-format, basedpyright, mdformat

Enhance CI debugging: add JSON reports and comprehensive troubleshooting guide (#55)
  .devcontainer/docker-compose.yml
  .github/workflows/ci-with-devcontainer.yml
  .gitignore
  AGENTS.md
  tests/functional/web/test_history_ui.py
Due: ruff-check, ruff-format, basedpyright, mdformat

fix: Fix CI test flake in conversation switching test
  frontend/src/chat/ChatApp.tsx
  tests/functional/web/pages/chat_page.py
  tests/functional/web/test_chat_ui_flow.py
Due: ruff-check, ruff-format, basedpyright, biome-format, eslint

refactor: Replace fixed timeouts with proper wait conditions in tests
  tests/functional/web/pages/chat_page.py
  tests/functional/web/test_chat_ui_flow.py
Due: ruff-check, ruff-format, basedpyright

fix: Resolve race condition with dynamic imports in Playwright tests
  .devcontainer/Dockerfile.ci
  .gitignore
  tests/functional/web/conftest.py
Due: ruff-check, ruff-format, basedpyright

Fix dynamic import race conditions for DocumentationApp and other routes
  frontend/src/pages/Documentation/components/DocumentationList.jsx
  tests/functional/web/conftest.py
Due: ruff-check, ruff-format, basedpyright, biome-format, eslint

Fix parallel test race conditions and improve test stability
  tests/functional/web/conftest.py
  tests/functional/web/test_ui_endpoints_playwright.py
Due: ruff-check, ruff-format, basedpyright

Fix checkbox state change test in events filter UI
  tests/functional/web/test_events_ui.py
Due: ruff-check, ruff-format, basedpyright

Add CI=true env var and improve frontend asset detection logging
  .github/workflows/ci-with-devcontainer.yml
  tests/functional/web/conftest.py
Due: ruff-check, ruff-format, basedpyright

Fix CI test flake in conversation switching test (#57)
  .devcontainer/Dockerfile.ci
  .github/workflows/ci-with-devcontainer.yml
  .gitignore
  frontend/src/chat/ChatApp.tsx
  frontend/src/pages/Documentation/components/DocumentationList.jsx
  tests/functional/web/conftest.py
  tests/functional/web/pages/chat_page.py
  tests/functional/web/test_chat_ui_flow.py
  tests/functional/web/test_events_ui.py
  tests/functional/web/test_ui_endpoints_playwright.py
Due: ruff-check, ruff-format, basedpyright, biome-format, eslint

Optimize frontend bundling
  frontend/src/errors/ErrorsApp.jsx
  frontend/src/main.tsx
  frontend/src/shared/AppRouter.jsx
  frontend/src/shared/router-entry.jsx
  frontend/src/tools/ToolsApp.jsx
  frontend/vite.config.js
Due: biome-format, eslint

Optimize frontend bundling (#56)
  frontend/src/errors/ErrorsApp.jsx
  frontend/src/main.tsx
  frontend/src/shared/AppRouter.jsx
  frontend/src/shared/router-entry.jsx
  frontend/src/tools/ToolsApp.jsx
  frontend/vite.config.js
Due: biome-format, eslint

Add OpenAI and OpenRouter API keys to docker-compose command
  .devcontainer/docker-compose.yml
Due: none

Add restart: always to dev container setup
  .devcontainer/docker-compose.yml
Due: none

Modernize all forms with shadcn-ui components
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/ui/alert.tsx
  frontend/src/components/ui/checkbox.tsx
  frontend/src/components/ui/radio-group.tsx
  frontend/src/components/ui/select.tsx
  frontend/src/components/ui/switch.tsx
  frontend/src/components/ui/textarea.tsx
  frontend/src/notes/components/NotesForm.jsx
  frontend/src/pages/Documents/DocumentUpload.jsx
  frontend/src/pages/EventListeners/components/EventListenerForm.jsx
  frontend/src/pages/Events/components/EventFilters.jsx
  frontend/src/pages/Events/components/EventFilters.module.css
  frontend/src/pages/History/components/HistoryFilters.jsx
  frontend/src/pages/Settings/TokenManagement.jsx
  frontend/src/pages/VectorSearch/VectorSearch.jsx
  tests/functional/web/pages/events_page.py
  tests/functional/web/pages/notes_page.py
  tests/functional/web/test_events_ui.py
Due: ruff-check, ruff-format, basedpyright, biome-format, eslint

Fix navigation menu positioning and overflow issues
  frontend/src/components/ui/navigation-menu.tsx
  frontend/src/shared/Layout.tsx
Due: biome-format, eslint

Fix History UI shadcn-ui Select component issues
  frontend/src/pages/History/components/HistoryFilters.jsx
  tests/functional/web/pages/history_page.py
  tests/functional/web/test_history_ui.py
Due: ruff-check, ruff-format, basedpyright, biome-format, eslint

Fix History UI tests with better wait strategies
  tests/functional/web/pages/history_page.py
  tests/functional/web/test_history_ui.py
Due: ruff-check, ruff-format, basedpyright

fix(tests): Improve robustness of UI tests
  tests/functional/web/test_history_ui.py
  tests/functional/web/test_react_vector_search_ui.py
Due: ruff-check, ruff-format, basedpyright

Fix UI forms and navigation menu issues (#58)
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/ui/alert.tsx
  frontend/src/components/ui/checkbox.tsx
  frontend/src/components/ui/navigation-menu.tsx
  frontend/src/components/ui/radio-group.tsx
  frontend/src/components/ui/select.tsx
  frontend/src/components/ui/switch.tsx
  frontend/src/components/ui/textarea.tsx
  frontend/src/notes/components/NotesForm.jsx
  frontend/src/pages/Documents/DocumentUpload.jsx
  frontend/src/pages/EventListeners/components/EventListenerForm.jsx
  frontend/src/pages/Events/components/EventFilters.jsx
  frontend/src/pages/Events/components/EventFilters.module.css
  frontend/src/pages/History/components/HistoryFilters.jsx
  frontend/src/pages/Settings/TokenManagement.jsx
  frontend/src/pages/VectorSearch/VectorSearch.jsx
  frontend/src/shared/Layout.tsx
  tests/functional/web/pages/events_page.py
  tests/functional/web/pages/history_page.py
  tests/functional/web/pages/notes_page.py
  tests/functional/web/test_events_ui.py
  tests/functional/web/test_history_ui.py
  tests/functional/web/test_react_vector_search_ui.py
Due: ruff-check, ruff-format, basedpyright, biome-format, eslint

fix: Fix flaky test_conversation_persistence_and_switching test
  tests/functional/web/pages/chat_page.py
  tests/functional/web/test_chat_ui_flow.py
Due: ruff-check, ruff-format, basedpyright

fix: Fix flaky test_conversation_persistence_and_switching test (#59)
  tests/functional/web/pages/chat_page.py
  tests/functional/web/test_chat_ui_flow.py
Due: ruff-check, ruff-format, basedpyright

fix: Fix flaky tests and VCR configuration
  tests/conftest.py
  tests/functional/indexing/test_email_indexing.py
  tests/functional/indexing/test_reindexing.py
Due: ruff-check, ruff-format, basedpyright

Update review hook to support Bypass-Review pattern and return JSON
  .claude/review-hook.sh
Due: none

add gemini app
  .github/workflows/gemini-cli.yml
  .github/workflows/gemini-issue-automated-triage.yml
  .github/workflows/gemini-issue-scheduled-triage.yml
  .github/workflows/gemini-pr-review.yml
Due: none

fix: Fix flaky tests and VCR configuration (#60)
  tests/conftest.py
  tests/functional/indexing/test_email_indexing.py
  tests/functional/indexing/test_reindexing.py
Due: ruff-check, ruff-format, basedpyright

Update review hook to support Bypass-Review pattern and return JSON (#61)
  .claude/review-hook.sh
Due: none

refactor: Remove global database engine state
  .claude/review-hook.sh
  src/family_assistant/assistant.py
  src/family_assistant/events/processor.py
  src/family_assistant/events/storage.py
  src/family_assistant/storage/__init__.py
  src/family_assistant/storage/base.py
  src/family_assistant/storage/context.py
  src/family_assistant/task_worker.py
  src/family_assistant/web/app_creator.py
  src/family_assistant/web/auth.py
  src/family_assistant/web/dependencies.py
  src/family_assistant/web/routers/chat_api.py
  tests/conftest.py
  tests/functional/indexing/test_document_indexing.py
  tests/functional/indexing/test_email_indexing.py
  tests/functional/indexing/test_indexing_events.py
  tests/functional/indexing/test_indexing_pipeline.py
  tests/functional/indexing/test_notes_indexing.py
  tests/functional/indexing/test_reindexing.py
  tests/functional/scripting/example_direct_tools.py
  tests/functional/scripting/test_direct_tool_callables.py
  tests/functional/scripting/test_tools_api.py
  tests/functional/scripting/test_tools_security.py
  tests/functional/telegram/conftest.py
  tests/functional/test_calendar_confirmation.py
  tests/functional/test_event_listener_script_tools.py
  tests/functional/test_event_script_integration.py
  tests/functional/test_event_system.py
  tests/functional/test_script_execution_handler.py
  tests/functional/test_script_wake_llm.py
  tests/functional/tools/test_execute_script.py
  tests/functional/tools/test_notes_append.py
  tests/functional/web/conftest.py
  tests/functional/web/test_chat_api_endpoint.py
  tests/functional/web/test_conversation_history.py
  tests/functional/web/test_events_ui.py
  tests/unit/test_event_source_deduplication.py
Due: ruff-check, ruff-format, basedpyright
