Repository werdnum/family-assistant: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt, biome-format, eslint

ruff-check:
  name: ruff-check
  entry: ruff check --fix --preview
  language: system

ruff-format:
  name: ruff-format
  entry: ruff format --preview
  language: system

basedpyright:
  name: basedpyright
  entry: basedpyright
  language: system
  pass_filenames: false

code-conformance:
  name: code-conformance
  entry: .ast-grep/check-conformance.py
  language: system
  pass_filenames: true

mdformat:
  name: mdformat
  entry: mdformat --wrap 100
  language: system

yamlfmt:
  name: yamlfmt
  language: golang
  entry: yamlfmt
  additional_dependencies:
  - github.com/google/yamlfmt/cmd/yamlfmt@v0.17.0

biome-format:
  name: biome-format
  entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx @biomejs/biome format --write "${files[@]}"' --
  language: system
  pass_filenames: true

eslint:
  name: eslint
  entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx eslint --fix "${files[@]}"' --
  language: system
  pass_filenames: true

Fix slash command, delegate policy, and test basename collisions
  defaults.yaml
  docs/user/browser_automation.md
  src/family_assistant/skills/builtin/browser-automation.md
  tests/functional/tools/__init__.py
  tests/unit/tools/__init__.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt

Address PR feedback on local DKIM/DMARC verification
  src/family_assistant/email_intake/authentication.py
  src/family_assistant/email_intake/security.py
  src/family_assistant/web/routers/webhooks.py
  tests/unit/test_email_authentication.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Verify DKIM/SPF/DMARC locally instead of trusting Mailgun headers
  alembic/versions/2026_04_21-add_email_auth_results.py
  defaults.yaml
  docs/design/local-email-authentication.md
  docs/operations/CONFIGURATION_REFERENCE.md
  pyproject.toml
  src/family_assistant/config_models.py
  src/family_assistant/email_intake/authentication.py
  src/family_assistant/email_intake/security.py
  src/family_assistant/storage/email.py
  src/family_assistant/web/routers/webhooks.py
  tests/functional/telegram/helpers.py
  tests/functional/web/api/test_mail_webhook_security.py
  tests/mocks/email_auth.py
  uv.lock
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt

Expose inbound email webhook at /webhook/mail/mime alias
  docs/operations/CONFIGURATION_REFERENCE.md
  src/family_assistant/web/routers/webhooks.py
  tests/functional/web/api/test_mail_webhook_security.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Fail open for permissive inbound email auth evaluation
  src/family_assistant/email_intake/security.py
  tests/functional/web/api/test_mail_webhook_security.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Trust only the topmost Received and X-Mailgun-Sending-Ip header
  src/family_assistant/email_intake/authentication.py
  tests/unit/test_email_authentication.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Address PR review feedback on browser_dom
  defaults.yaml
  src/family_assistant/tools/browser_dom.py
  src/family_assistant/tools/browser_session.py
  tests/unit/tools/test_browser_dom.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, yamlfmt

Cover the SPF-aligned DMARC path in webhook tests
  tests/functional/web/api/test_mail_webhook_security.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Add Gemini Deep Research Max tier alongside the regular tier
  defaults.yaml
  docs/design/gemini-deep-research-tiers.md
  docs/user/USER_GUIDE.md
  src/family_assistant/llm/providers/google_genai_client.py
  src/family_assistant/web/routers/chat_api.py
  tests/llm/test_google_deep_research.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt

Support multi-ID aria-labelledby in DOM walker
  src/family_assistant/tools/browser_dom.py
  tests/functional/tools/test_browser_dom.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Invalidate DOM refs on Computer Use actions
  src/family_assistant/tools/computer_use.py
  tests/functional/tools/test_browser_dom.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Add OpenAI gpt-image-1 as alternative image generation backend
  src/family_assistant/config_loader.py
  src/family_assistant/config_models.py
  src/family_assistant/tools/image_backends.py
  src/family_assistant/tools/image_generation.py
  tests/unit/tools/test_image_generation_tools.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Make image backend configurable, update model to gpt-image-2
  src/family_assistant/config_models.py
  src/family_assistant/tools/image_backends.py
  src/family_assistant/tools/image_generation.py
  tests/unit/tools/test_image_generation_tools.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Address review: auto-detect backend when unconfigured, add error path tests
  src/family_assistant/tools/image_generation.py
  tests/unit/tools/test_image_generation_tools.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Inject style into prompt instead of mapping to quality parameter
  src/family_assistant/tools/image_backends.py
  tests/unit/tools/test_image_generation_tools.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Clear DOM refs even when browser_exec JS throws
  src/family_assistant/tools/browser_dom.py
  tests/functional/tools/test_browser_dom.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Add GET /api/debug/profiles to dump full processing profile config
  src/family_assistant/web/routers/debug_api.py
  tests/functional/web/api/test_debug_api.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Require auth on /api/debug/profiles and strengthen redaction
  src/family_assistant/web/routers/debug_api.py
  tests/functional/web/api/test_debug_api.py
  tests/unit/web/test_debug_api_helpers.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Upload attachments eagerly so the UI stops lying about progress
  frontend/src/chat/__tests__/attachmentAdapter.test.js
  frontend/src/chat/attachmentAdapter.js
  tests/functional/web/ui/test_file_upload.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, biome-format, eslint

Address Codex review: abort in-flight uploads, fail-loud on bad send
  frontend/src/chat/__tests__/attachmentAdapter.test.js
  frontend/src/chat/attachmentAdapter.js
  tests/functional/web/ui/test_file_upload.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, biome-format, eslint

Fix abort-race orphan: keep fetch alive, flip a cancel flag
  frontend/src/chat/__tests__/attachmentAdapter.test.js
  frontend/src/chat/attachmentAdapter.js
Due: biome-format, eslint

Dump operator-layer fields and gate /profiles via is_debug_authorized
  src/family_assistant/web/routers/debug_api.py
  tests/functional/web/api/test_debug_api.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Cover default_profile_settings operator layer; assert inherited fields
  src/family_assistant/web/routers/debug_api.py
  tests/functional/web/api/test_debug_api.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Fix runtime model introspection; fail closed without real auth
  src/family_assistant/web/routers/debug_api.py
  tests/functional/web/api/test_debug_api.py
  tests/unit/web/test_debug_api_helpers.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Handle RetryingLLMClient shape in runtime introspection
  src/family_assistant/web/routers/debug_api.py
  tests/functional/web/api/test_debug_api.py
  tests/unit/web/test_debug_api_helpers.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Gate resolve_live_llm_fallback_model on fallback_client presence
  src/family_assistant/web/routers/debug_api.py
  tests/functional/web/api/test_debug_api.py
  tests/unit/web/test_debug_api_helpers.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Fix delete regression and surface legacy-email hint
  src/family_assistant/services/attachment_registry.py
  src/family_assistant/tools/documents.py
  tests/unit/attachments/test_external_storage_path.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Move email attachment registration to indexer; fix read/delete issues
  src/family_assistant/indexing/email_indexer.py
  src/family_assistant/services/attachment_registry.py
  src/family_assistant/tools/documents.py
  src/family_assistant/web/routers/webhooks.py
  tests/functional/web/api/test_mail_webhook_attachments.py
  tests/unit/attachments/test_external_storage_path.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Register email attachments in AttachmentRegistry and surface IDs to the LLM
  src/family_assistant/indexing/types.py
  src/family_assistant/services/attachment_registry.py
  src/family_assistant/storage/email.py
  src/family_assistant/tools/data_manipulation.py
  src/family_assistant/tools/documents.py
  src/family_assistant/web/routers/attachments_api.py
  src/family_assistant/web/routers/webhooks.py
  tests/functional/web/api/test_mail_webhook_attachments.py
  tests/unit/attachments/test_external_storage_path.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Address review: dedup registrations, delete-integrity, metadata, reindex
  src/family_assistant/indexing/email_indexer.py
  src/family_assistant/services/attachment_registry.py
  src/family_assistant/tools/documents.py
  src/family_assistant/web/routers/attachments_api.py
  tests/functional/web/api/test_mail_webhook_attachments.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Enforce email attachment uniqueness at the DB level
  alembic/versions/2026_04_23-add_email_attachment_unique_idx.py
  src/family_assistant/indexing/email_indexer.py
  src/family_assistant/storage/base.py
  src/family_assistant/tools/documents.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Add reindex_email write tool; stop leaking mailbox paths
  defaults.yaml
  src/family_assistant/tools/__init__.py
  src/family_assistant/tools/documents.py
  src/family_assistant/web/routers/attachments_api.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, yamlfmt

Enforce visibility_grants in reindex_email_tool
  src/family_assistant/tools/documents.py
  tests/functional/web/api/test_mail_webhook_attachments.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Fix Postgres-aborted-tx, extend external path support, soften contract
  src/family_assistant/indexing/email_indexer.py
  src/family_assistant/processing/attachments.py
  src/family_assistant/services/attachment_registry.py
  src/family_assistant/tools/documents.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Prevent content_chunk collisions across email attachments; stop leaking mailbox paths via tools
  src/family_assistant/indexing/email_indexer.py
  src/family_assistant/indexing/processors/text_processors.py
  src/family_assistant/services/attachment_registry.py
  tests/functional/web/api/test_mail_webhook_attachments.py
  tests/unit/processing/test_processing_fail_fast.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Widen attachment_metadata.source_id to Text; clarify read-only docstring
  alembic/versions/2026_04_23-widen_attachment_source_id.py
  src/family_assistant/storage/base.py
  src/family_assistant/tools/documents.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Bounded hash key for email dedup; backfill legacy attachment IDs
  alembic/versions/2026_04_23-backfill_email_attachment_ids.py
  alembic/versions/2026_04_23-email_attachment_identity_hash.py
  src/family_assistant/indexing/email_indexer.py
  src/family_assistant/services/attachment_registry.py
  src/family_assistant/storage/base.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Reorder migrations: hash column before backfill; insert created_at
  alembic/versions/2026_04_23-backfill_email_attachment_ids.py
  alembic/versions/2026_04_23-email_attachment_identity_hash.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Make attachment paths cwd-independent
  src/family_assistant/services/attachment_registry.py
  src/family_assistant/web/routers/webhooks.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Fail loudly instead of silently dropping attachments
  src/family_assistant/indexing/email_indexer.py
  src/family_assistant/services/attachment_registry.py
  src/family_assistant/tools/data_manipulation.py
  src/family_assistant/tools/documents.py
  src/family_assistant/web/routers/attachments_api.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Path conditions:
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  basedpyright: any of: \.py$
  code-conformance: any of: \.py$
  mdformat: any of: \.(md|markdown|mdown)$, but not: (?x)^( 
  docs/python-telegram-bot-abridged\.md|
  docs/python-telegram-bot-abridged-filtered\.md
)$

  yamlfmt: any of: \.(yaml|yml)$
  biome-format: any of: ^frontend/.*\.(js|jsx|ts|tsx|json)$, but not: ^frontend/(dev-dist/|package-lock\.json$)
  eslint: any of: ^frontend/.*\.(js|jsx|ts|tsx)$
