Repository werdnum/family-assistant: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt, biome-format, eslint

ruff-check:
  name: ruff-check
  entry: ruff check --fix --preview
  language: system

ruff-format:
  name: ruff-format
  entry: ruff format --preview
  language: system

basedpyright:
  name: basedpyright
  entry: basedpyright
  language: system
  pass_filenames: false

code-conformance:
  name: code-conformance
  entry: .ast-grep/check-conformance.py
  language: system
  pass_filenames: true

mdformat:
  name: mdformat
  entry: mdformat --wrap 100
  language: system

yamlfmt:
  name: yamlfmt
  language: golang
  entry: yamlfmt
  additional_dependencies:
  - github.com/google/yamlfmt/cmd/yamlfmt@v0.17.0

biome-format:
  name: biome-format
  entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx @biomejs/biome format --write "${files[@]}"' --
  language: system
  pass_filenames: true

eslint:
  name: eslint
  entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx eslint --fix "${files[@]}"' --
  language: system
  pass_filenames: true

Remove rate limiting, add configurable model for scan_camera_frames
  src/family_assistant/tools/camera.py
  tests/unit/tools/test_camera_tools.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Use LLM structured output for scan_camera_frames
  src/family_assistant/tools/camera.py
  tests/unit/tools/test_camera_tools.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Use Pydantic and TypedDict for type-safe scan_camera_frames
  src/family_assistant/tools/camera.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

feat: Add MonkeyType type inference workflow
  .gitignore
  AGENTS.md
  pyproject.toml
  uv.lock
Due: mdformat

fix: Filter MonkeyType apply to family_assistant package only
  pyproject.toml
Due: none

Fix Asterisk Live streaming and tooling
  docs/asterisk-issue-repro.md
  src/family_assistant/web/routers/asterisk_live_api.py
  tests/unit/web/test_asterisk_live_api.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

fix: guard ducking and stabilize deep research test
  src/family_assistant/web/routers/asterisk_live_api.py
  tests/integration/llm/test_google_deep_research_integration.py
  tests/unit/web/test_asterisk_live_api.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

docs: Unify notes-v2 and Agent Skills into single coherent design
  docs/design/agent-skills-integration.md
Due: mdformat

docs: Add access control layer separating visibility from security
  docs/design/agent-skills-integration.md
Due: mdformat

docs: Replace per-note ACLs with classification/clearance model
  docs/design/agent-skills-integration.md
Due: mdformat

feat: Add llm() and llm_json() to Starlark scripting API
  docs/user/scripting.md
  src/family_assistant/scripting/apis/llm.py
  src/family_assistant/scripting/engine.py
  src/family_assistant/tools/execute_script.py
  tests/functional/scripting/test_llm_api.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

docs: Replace hierarchy levels with label-based visibility model
  docs/design/agent-skills-integration.md
Due: mdformat

docs: Move visibility_labels from frontmatter to database column
  docs/design/agent-skills-integration.md
Due: mdformat

docs: Confine frontmatter to Agent Skills format, all metadata in DB
  docs/design/agent-skills-integration.md
Due: mdformat

docs: Drop per-profile prompt overrides, simplify to two checks
  docs/design/agent-skills-integration.md
Due: mdformat

docs: Skills use progressive disclosure, reactive by default
  docs/design/agent-skills-integration.md
Due: mdformat

feat: Migrate config loading to pydantic-settings with deep merge
  pyproject.toml
  src/family_assistant/config_loader.py
  src/family_assistant/config_models.py
  src/family_assistant/config_sources.py
  tests/unit/test_config_loader.py
  uv.lock
Due: ruff-check, ruff-format, basedpyright, code-conformance

docs: Add Agent Skills integration design document
  docs/design/agent-skills-integration.md
Due: mdformat

docs: Refine Agent Skills design with hybrid activation model
  docs/design/agent-skills-integration.md
Due: mdformat

docs: Add skill discovery, bundling, and notes-v2 status to design
  docs/design/agent-skills-integration.md
Due: mdformat

Fix type safety issues found by ty type checker
  src/family_assistant/llm/__init__.py
  src/family_assistant/llm/providers/google_genai_client.py
  src/family_assistant/llm/request_buffer.py
  src/family_assistant/processing.py
  src/family_assistant/scripting/apis/attachments.py
  src/family_assistant/scripting/apis/tools.py
  src/family_assistant/telegram/protocols.py
  src/family_assistant/tools/schema.py
  src/family_assistant/web/routers/vector_search.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

feat: Propagate visibility labels to documents table for SQL-level filtering
  alembic/versions/2026_02_07-add_visibility_labels_to_documents.py
  src/family_assistant/indexing/email_indexer.py
  src/family_assistant/indexing/ingestion.py
  src/family_assistant/indexing/notes_indexer.py
  src/family_assistant/storage/notes.py
  src/family_assistant/storage/vector.py
  src/family_assistant/storage/vector_search.py
  src/family_assistant/tools/documents.py
  tests/functional/indexing/test_indexing_events.py
  tests/functional/indexing/test_indexing_pipeline.py
  tests/functional/notes/test_document_visibility.py
  tests/functional/test_api_endpoints.py
  tests/functional/vector_search/test_vector_search.py
  tests/functional/vector_search/test_vector_storage.py
  tests/unit/indexing/processors/test_network_processors.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

feat: Add visibility labels for profile-based note access control
  alembic/versions/2026_02_06-add_visibility_labels_to_notes.py
  defaults.yaml
  src/family_assistant/assistant.py
  src/family_assistant/config_loader.py
  src/family_assistant/config_models.py
  src/family_assistant/context_providers.py
  src/family_assistant/indexing/notes_indexer.py
  src/family_assistant/processing.py
  src/family_assistant/storage/notes.py
  src/family_assistant/storage/repositories/notes.py
  src/family_assistant/tools/documents.py
  src/family_assistant/tools/notes.py
  src/family_assistant/tools/types.py
  src/family_assistant/tools/workspace_files.py
  src/family_assistant/web/routers/notes_api.py
  tests/functional/automations/test_automations_execution.py
  tests/functional/automations/test_scheduled_script_execution.py
  tests/functional/indexing/test_notes_basic.py
  tests/functional/notes/test_context_provider.py
  tests/functional/notes/test_note_visibility.py
  tests/functional/notes/test_prompt_inclusion.py
  tests/functional/scripting/test_script_execution_handler.py
  tests/functional/scripting/test_wake_llm_basic.py
  tests/functional/tools/test_notes_append.py
  tests/functional/web/api/test_chat_messages.py
  tests/functional/web/api/test_chat_streaming.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, yamlfmt

docs: Update design doc with implementation status for visibility labels
  docs/design/agent-skills-integration.md
Due: mdformat

refactor: Make visibility_grants a required parameter on NotesRepository queries
  src/family_assistant/indexing/notes_indexer.py
  src/family_assistant/storage/repositories/notes.py
  src/family_assistant/tools/notes.py
  src/family_assistant/tools/workspace_files.py
  src/family_assistant/web/routers/notes_api.py
  tests/functional/automations/test_automations_execution.py
  tests/functional/automations/test_scheduled_script_execution.py
  tests/functional/indexing/test_notes_basic.py
  tests/functional/notes/test_context_provider.py
  tests/functional/notes/test_note_visibility.py
  tests/functional/notes/test_prompt_inclusion.py
  tests/functional/scripting/test_script_execution_handler.py
  tests/functional/scripting/test_wake_llm_basic.py
  tests/functional/tools/test_notes_append.py
  tests/functional/web/api/test_chat_messages.py
  tests/functional/web/api/test_chat_streaming.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

fix: Disable pylint W2604 globally (conflicts with ruff UP047 PEP 695)
  .pylintrc
  src/family_assistant/tools/infrastructure.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Path conditions:
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  basedpyright: any of: \.py$
  code-conformance: any of: \.py$
  mdformat: any of: \.(md|markdown|mdown)$, but not: (?x)^( 
  docs/python-telegram-bot-abridged\.md|
  docs/python-telegram-bot-abridged-filtered\.md
)$

  yamlfmt: any of: \.(yaml|yml)$
  biome-format: any of: ^frontend/.*\.(js|jsx|ts|tsx|json)$, but not: ^frontend/(dev-dist/|package-lock\.json$)
  eslint: any of: ^frontend/.*\.(js|jsx|ts|tsx)$
