Repository werdnum/family-assistant: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt, biome-format, eslint

ruff-check:
  name: ruff-check
  entry: ruff check --fix --preview
  language: system

ruff-format:
  name: ruff-format
  entry: ruff format --preview
  language: system

basedpyright:
  name: basedpyright
  entry: basedpyright
  language: system
  pass_filenames: false

code-conformance:
  name: code-conformance
  entry: .ast-grep/check-conformance.py
  language: system
  pass_filenames: true

mdformat:
  name: mdformat
  entry: mdformat --wrap 100
  language: system

yamlfmt:
  name: yamlfmt
  language: golang
  entry: yamlfmt
  additional_dependencies:
  - github.com/google/yamlfmt/cmd/yamlfmt@v0.17.0

biome-format:
  name: biome-format
  entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx @biomejs/biome format --write "${files[@]}"' --
  language: system
  pass_filenames: true

eslint:
  name: eslint
  entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx eslint --fix "${files[@]}"' --
  language: system
  pass_filenames: true

docs: pin authenticated browser delegation to the configured visual profile
  docs/design/authenticated-site-capabilities.md
Due: mdformat

Address Codex review: echo is a signal, fallbacks are per-cell
  docs/design/auto-tool-call-review.md
Due: mdformat

Address Codex review: enforce deployments migrate explicitly
  docs/design/auto-tool-call-review.md
Due: mdformat

Note enforce-deployment migration is defence in depth only
  docs/design/auto-tool-call-review.md
Due: mdformat

docs: inline delegation lifecycle, mechanical tool set for browser workers
  docs/design/authenticated-site-capabilities.md
Due: mdformat

Address Codex review: fallback merge and non-blocking shadow
  docs/design/auto-tool-call-review.md
Due: mdformat

docs: per-run session binding, terminal human handoff
  docs/design/authenticated-site-capabilities.md
Due: mdformat

Address Codex review: unattended runs get trusted intent from trigger definitions
  docs/design/auto-tool-call-review.md
Due: mdformat

Reconcile no-channel confirm verdicts with the deferral rules
  docs/design/auto-tool-call-review.md
Due: mdformat

docs: session ownership follows the delegation tree instead of inline-only
  docs/design/authenticated-site-capabilities.md
Due: mdformat

docs: fail closed on lost lease for jar-bound sessions
  docs/design/authenticated-site-capabilities.md
Due: mdformat

Address Codex review: trigger definitions fail closed without provenance
  docs/design/auto-tool-call-review.md
Due: mdformat

Carry A2A response files on every path, and fail loudly when one cannot be sent
  docs/design/a2a-attachment-transfer.md
  src/family_assistant/a2a/attachments.py
  src/family_assistant/assistant.py
  src/family_assistant/web/routers/a2a_api.py
  tests/functional/web/api/test_a2a_api.py
  tests/unit/test_a2a_attachments.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

docs: make the session, not the run, durable across human handoff
  docs/design/authenticated-site-capabilities.md
Due: mdformat

Design auto tool-call review system
  docs/design/auto-tool-call-review.md
Due: mdformat

Resolve remaining auto-review design feedback
  docs/design/auto-tool-call-review.md
Due: mdformat

Make inline bytes the only A2A attachment transfer, and claim streaming tasks first
  docs/design/a2a-attachment-transfer.md
  src/family_assistant/a2a/attachments.py
  src/family_assistant/web/routers/a2a_api.py
  tests/unit/test_a2a_attachments.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Report the real reason on an undeliverable A2A response, and validate files as a set
  src/family_assistant/a2a/attachments.py
  src/family_assistant/web/routers/a2a_api.py
  tests/functional/web/api/test_a2a_api.py
  tests/unit/test_a2a_attachments.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Finalize a claimed A2A task when preparing its message fails
  docs/design/a2a-attachment-transfer.md
  src/family_assistant/web/routers/a2a_api.py
  tests/functional/web/api/test_a2a_api.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Finalize the task on any response-attachment failure, and document file transfer
  docs/user/interfaces.md
  src/family_assistant/tools/services.py
  src/family_assistant/web/routers/a2a_api.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Record A2A provenance on files received from a peer
  docs/design/a2a-attachment-transfer.md
  src/family_assistant/a2a/attachments.py
  src/family_assistant/a2a/result_converter.py
  src/family_assistant/web/routers/a2a_api.py
  tests/unit/test_a2a_attachments.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Clean up a partially stored A2A message instead of relying on a reaper that skips it
  docs/design/a2a-attachment-transfer.md
  src/family_assistant/a2a/attachments.py
  tests/unit/test_a2a_attachments.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Keep a returned file's real taint, and hold inbound media to the registry's limit
  docs/design/a2a-attachment-transfer.md
  src/family_assistant/a2a/attachments.py
  src/family_assistant/a2a/remote_service.py
  src/family_assistant/a2a/result_converter.py
  tests/unit/test_a2a_attachments.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Apply the multimodal limit only to files a peer sends, not files it returns
  docs/design/a2a-attachment-transfer.md
  src/family_assistant/a2a/attachments.py
  tests/unit/test_a2a_attachments.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Address Codex review: three internal-consistency fixes
  docs/design/auto-tool-call-review.md
Due: mdformat

Address Codex review: exemption discharges only the taint layer
  docs/design/auto-tool-call-review.md
Due: mdformat

docs: validate effective jar origin set, typed resume handle for handoff
  docs/design/authenticated-site-capabilities.md
Due: mdformat

docs: exchange the handback token server-side
  docs/design/authenticated-site-capabilities.md
Due: mdformat

docs: resume handle in tool signature, handoff cycle in validation plan
  docs/design/authenticated-site-capabilities.md
Due: mdformat

docs: persist typed results on the run record for backgrounded tasks
  docs/design/authenticated-site-capabilities.md
Due: mdformat

docs: run the semantic-to-visual hop inline within the owning run
  docs/design/authenticated-site-capabilities.md
Due: mdformat

Simplify review authorization and fix deferred semantics
  docs/design/auto-tool-call-review.md
  docs/operations/CONFIGURATION_REFERENCE.md
  src/family_assistant/processing/service.py
  src/family_assistant/security/taint.py
  src/family_assistant/services/deferred_tool_confirmation.py
  src/family_assistant/tools/infrastructure.py
  src/family_assistant/tools/types.py
  tests/functional/storage/test_statement_cancellation.py
  tests/unit/processing/test_interactions_agent_service.py
  tests/unit/processing/test_tool_execution_safety_confirmation.py
  tests/unit/security/test_runtime_taint.py
  tests/unit/services/test_deferred_tool_confirmation.py
  tests/unit/tools/test_delegation_policy.py
  tests/unit/tools/test_tool_call_review_integration.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Path conditions:
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  basedpyright: any of: \.py$
  code-conformance: any of: \.py$
  mdformat: any of: \.(md|markdown|mdown)$, but not: (?x)^( 
  docs/python-telegram-bot-abridged\.md|
  docs/python-telegram-bot-abridged-filtered\.md
)$

  yamlfmt: any of: \.(yaml|yml)$
  biome-format: any of: ^frontend/.*\.(js|jsx|ts|tsx|json)$, but not: ^frontend/(dev-dist/|package-lock\.json$)
  eslint: any of: ^frontend/.*\.(js|jsx|ts|tsx)$
