Repository werdnum/family-assistant: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt, biome-format, eslint

ruff-check:
  name: ruff-check
  entry: ruff check --fix --preview
  language: system

ruff-format:
  name: ruff-format
  entry: ruff format --preview
  language: system

basedpyright:
  name: basedpyright
  entry: basedpyright
  language: system
  pass_filenames: false

code-conformance:
  name: code-conformance
  entry: .ast-grep/check-conformance.py
  language: system
  pass_filenames: true

mdformat:
  name: mdformat
  entry: mdformat --wrap 100
  language: system

yamlfmt:
  name: yamlfmt
  language: golang
  entry: yamlfmt
  additional_dependencies:
  - github.com/google/yamlfmt/cmd/yamlfmt@v0.17.0

biome-format:
  name: biome-format
  entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx @biomejs/biome format --write "${files[@]}"' --
  language: system
  pass_filenames: true

eslint:
  name: eslint
  entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx eslint --fix "${files[@]}"' --
  language: system
  pass_filenames: true

Move review guidelines into a review-guidelines skill
  .agents/skills/review-guidelines/SKILL.md
  .agents/skills/review-guidelines/agents/openai.yaml
  .agents/skills/review-guidelines/references/review-guidelines.md
  .claude/skills/review-guidelines
  .github/workflows/gemini-review.yml
  AGENTS.md
  docs/design/ios-state-sync-improvements.md
  scripts/review-changes.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt

Drop the stale Gemini GitHub automation
  .agents/skills/review-guidelines/SKILL.md
  .gemini/commands/fa-invoke.toml
  .gemini/commands/fa-plan-execute.toml
  .gemini/commands/fa-review.toml
  .gemini/commands/gemini-scheduled-triage.toml
  .gemini/commands/gemini-triage.toml
  .github/workflows/CLAUDE.md
  .github/workflows/gemini-dispatch.yml
  .github/workflows/gemini-invoke.yml
  .github/workflows/gemini-plan-execute.yml
  .github/workflows/gemini-review.yml
  .github/workflows/gemini-triage.yml
  .gitignore
Due: mdformat, yamlfmt

Fix error-handling links in the relocated review guidelines
  .agents/skills/review-guidelines/references/review-guidelines.md
Due: mdformat

Resume Telegram turns after a restart or crash
  src/family_assistant/assistant.py
  src/family_assistant/processing/service.py
  src/family_assistant/services/turn_resumption.py
  src/family_assistant/telegram/handler.py
  src/family_assistant/telegram/turn_resumption.py
  src/family_assistant/web/turn_resumption.py
  tests/functional/tasks/test_turn_resumption.py
  tests/functional/telegram/test_telegram_turn_resumption.py
  tests/unit/processing/test_processing_fail_fast.py
  tests/unit/telegram/test_typing_notifications.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Document Telegram turn resumption
  docs/design/turn-resumption-across-restarts.md
  docs/operations/CONFIGURATION_REFERENCE.md
  docs/user/interfaces.md
Due: mdformat

Claim the chat before resuming, keep the turn's tier, resend tool attachments
  src/family_assistant/services/turn_resumption.py
  src/family_assistant/storage/repositories/message_history.py
  src/family_assistant/telegram/handler.py
  src/family_assistant/web/turn_resumption.py
  tests/functional/telegram/test_telegram_turn_resumption.py
  tests/functional/web/api/test_chat_turn_resumption.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Free a resumed turn's chat on early failure; mark delivery after attachments
  src/family_assistant/telegram/handler.py
  tests/functional/telegram/test_telegram_turn_resumption.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Only offer user-facing profiles in the profile picker
  defaults.yaml
  docs/operations/CONFIGURATION_REFERENCE.md
  docs/user/slash-commands.md
  frontend/src/chat/ProfileSelector.tsx
  frontend/src/chat/__tests__/ProfileSelector.test.tsx
  frontend/src/chat/profilesContext.tsx
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatModels.swift
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatViewModel.swift
  ios/FamilyAssistant/FamilyAssistantTests/ChatAPIClientTests.swift
  src/family_assistant/assistant.py
  src/family_assistant/config_loader.py
  src/family_assistant/config_models.py
  src/family_assistant/processing/types.py
  src/family_assistant/web/routers/chat_api.py
  tests/functional/web/conftest.py
  tests/unit/test_config_loader.py
  tests/unit/web/test_profiles_api.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt, biome-format, eslint

Send the interrupted marker when a turn's resume attempts run out
  src/family_assistant/services/turn_resumption.py
  tests/functional/tasks/test_turn_resumption.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Add October 2026 prompt-injection assessment and direction
  docs/design/prompt-injection-assessment-2026-10.md
Due: mdformat

Revise assessment after review: keep browser egress adjudicated, drop unexpressible sandbox ceiling
  docs/design/prompt-injection-assessment-2026-10.md
Due: mdformat

Add milestone to stop re-baking history taint into new turns
  docs/design/prompt-injection-assessment-2026-10.md
Due: mdformat

Mention the propagation-rule correction in the status line
  docs/design/prompt-injection-assessment-2026-10.md
Due: mdformat

Let tag hygiene succeed by keeping a justified tag
  docs/design/prompt-injection-assessment-2026-10.md
Due: mdformat

State the risk-stratification test and add the cut-back milestone
  docs/design/prompt-injection-assessment-2026-10.md
Due: mdformat

Correct the ambient-write gate's status: wired, not yet exercised
  docs/design/prompt-injection-assessment-2026-10.md
Due: mdformat

Tighten three verifications after review
  docs/design/prompt-injection-assessment-2026-10.md
Due: mdformat

Note the admission gate's ten days of production exposure
  docs/design/prompt-injection-assessment-2026-10.md
Due: mdformat

Record that the definition creation gate sits on an audit cell
  docs/design/prompt-injection-assessment-2026-10.md
Due: mdformat

Reorder the work plan: facts, attribution, signal fix, then enforce
  docs/design/prompt-injection-assessment-2026-10.md
Due: mdformat

Persist an introduced-tier floor, drop the restamp claim, scope the gate test
  docs/design/prompt-injection-assessment-2026-10.md
Due: mdformat

Exempt pre-flip corrections from the freeze, assign the definition sink by chokepoint
  docs/design/prompt-injection-assessment-2026-10.md
Due: mdformat

Hold the flip to a post-fix ceiling; keep machine-reviewed rows in the reviewer view
  docs/design/prompt-injection-assessment-2026-10.md
Due: mdformat

Make the tier collapse a read-time mapping and give the cut-back a tolerance
  docs/design/prompt-injection-assessment-2026-10.md
Due: mdformat

Adjudicate executable-definition writes so their creation gate runs
  docs/design/runtime-taint-machinery.md
  docs/operations/CONFIGURATION_REFERENCE.md
  src/family_assistant/security/taint.py
  src/family_assistant/tools/__init__.py
  src/family_assistant/tools/metadata.py
  tests/unit/security/test_runtime_taint.py
  tests/unit/tools/test_tool_call_review_integration.py
  tests/unit/tools/test_tool_metadata.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Keep one operator map from gated sinks to review or confirm after the cut
  docs/design/prompt-injection-assessment-2026-10.md
Due: mdformat

Keep human-direct through the tier collapse; state the legacy row fallback
  docs/design/prompt-injection-assessment-2026-10.md
Due: mdformat

Let the operator map express deny and cover ambient admission; verify untagged writers fail closed
  docs/design/prompt-injection-assessment-2026-10.md
Due: mdformat

Record the memory diagnosis: the curator sees 6 percent of assistant rows
  docs/design/prompt-injection-assessment-2026-10.md
Due: mdformat

Keep the human-direct version guard through the collapse; let the operator map cover every sink
  docs/design/prompt-injection-assessment-2026-10.md
Due: mdformat

Condition the operator map on unreviewed external content; clean-turn floors live in static policy
  docs/design/prompt-injection-assessment-2026-10.md
Due: mdformat

Match the definition-sink chokepoint to what PR #1342 builds
  docs/design/prompt-injection-assessment-2026-10.md
Due: mdformat

Keep sink resolution for every class the operator map can name
  docs/design/prompt-injection-assessment-2026-10.md
Due: mdformat

Derive the definition-writer set from the stamping chokepoint, not gate readers
  docs/design/prompt-injection-assessment-2026-10.md
Due: mdformat

Drop the operator taint dial from the cut-back
  docs/design/prompt-injection-assessment-2026-10.md
Due: mdformat

Derive definition writers from stamping entry points, not gate readers
  docs/operations/CONFIGURATION_REFERENCE.md
  src/family_assistant/plugins/ai_workers/tools.py
  tests/unit/tools/test_tool_metadata.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Document spawn_worker under the sandbox_network sink it resolves to
  docs/operations/CONFIGURATION_REFERENCE.md
Due: mdformat

Drop the handback-aware browser egress split from the contingent list
  docs/design/prompt-injection-assessment-2026-10.md
Due: mdformat

Attribute remote delegation result taint and record tag hygiene outcome
  docs/design/prompt-injection-assessment-2026-10.md
  src/family_assistant/tools/services.py
  tests/functional/automations/test_async_delegation.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Make the taint audit attributable
  alembic/versions/2026_10_03-add_taint_audit_result_tier.py
  src/family_assistant/a2a/remote_service.py
  src/family_assistant/assistant.py
  src/family_assistant/processing/interactions_agent_service.py
  src/family_assistant/processing/protocol.py
  src/family_assistant/security/taint.py
  src/family_assistant/security/taint_audit.py
  src/family_assistant/storage/repositories/taint_audit.py
  src/family_assistant/storage/taint_audit.py
  src/family_assistant/storage/types.py
  src/family_assistant/task_worker.py
  src/family_assistant/tools/infrastructure.py
  src/family_assistant/web/routers/diagnostics_api.py
  tests/functional/automations/test_async_delegation.py
  tests/functional/storage/test_confirmation_requests.py
  tests/unit/processing/test_interactions_agent_service.py
  tests/unit/security/test_runtime_taint.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Path conditions:
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  basedpyright: any of: \.py$
  code-conformance: any of: \.py$
  mdformat: any of: \.(md|markdown|mdown)$, but not: (?x)^( 
  docs/python-telegram-bot-abridged\.md|
  docs/python-telegram-bot-abridged-filtered\.md
)$

  yamlfmt: any of: \.(yaml|yml)$
  biome-format: any of: ^frontend/.*\.(js|jsx|ts|tsx|json)$, but not: ^frontend/(dev-dist/|package-lock\.json$)
  eslint: any of: ^frontend/.*\.(js|jsx|ts|tsx)$
