Repository werdnum/family-assistant: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt, biome-format, eslint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-check
        name: ruff-check
        entry: ruff check --fix --preview
        language: system
        types: [python]
      - id: ruff-format
        name: ruff-format
        entry: ruff format --preview
        language: system
        types: [python]
  - repo: local
    hooks:
      - id: basedpyright
        name: basedpyright
        entry: basedpyright
        language: system
        types: [python]
        pass_filenames: false
      - id: code-conformance
        name: code-conformance
        entry: .ast-grep/check-conformance.py
        language: system
        types: [python]
        pass_filenames: true
  - repo: local
    hooks:
      - id: mdformat
        name: mdformat
        entry: mdformat --wrap 100
        language: system
        types: [markdown]
        exclude: "(?x)^( \n  docs/python-telegram-bot-abridged\\.md|\n  docs/python-telegram-bot-abridged-filtered\\.md\n)$\n"
  - repo: local
    hooks:
      - id: yamlfmt
        name: yamlfmt
        language: golang
        entry: yamlfmt
        additional_dependencies:
          - github.com/google/yamlfmt/cmd/yamlfmt@v0.17.0
        types: [yaml]
  - repo: local
    hooks:
      - id: biome-format
        name: biome-format
        entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx @biomejs/biome format --write "${files[@]}"' --
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx|json)$
        exclude: ^frontend/(dev-dist/|package-lock\.json$)
        pass_filenames: true
      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx eslint --fix "${files[@]}"' --
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx)$
        pass_filenames: true

fix: Resolve thought signature handling and type safety issues
  src/family_assistant/llm/providers/google_genai_client.py
  src/family_assistant/storage/repositories/message_history.py
  src/family_assistant/web/routers/chat_api.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

cleanup: Remove all debug logging from thought signature implementation
  src/family_assistant/llm/providers/google_genai_client.py
  src/family_assistant/llm/providers/google_types.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

fix: Use typed models for tool calls throughout, remove backwards compatibility code
  src/family_assistant/llm/providers/google_genai_client.py
  tests/unit/llm/test_google_genai_message_conversion.py
  tests/unit/llm/test_google_genai_tool_call_events.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

fix: Enforce type safety for thought signature handling
  frontend/package-lock.json
  scripts/wait-for-backend.sh
  src/family_assistant/llm/__init__.py
  src/family_assistant/llm/messages.py
  src/family_assistant/llm/providers/google_genai_client.py
  src/family_assistant/llm/providers/google_types.py
  src/family_assistant/llm/tool_call.py
  src/family_assistant/processing.py
  src/family_assistant/storage/repositories/message_history.py
  tests/cassettes/llm/test_multiturn_conversation_non_streaming_with_vcr_preserves_thought_signatures[postgres].yaml
  tests/cassettes/llm/test_multiturn_conversation_non_streaming_with_vcr_preserves_thought_signatures[sqlite].yaml
  tests/cassettes/llm/test_multiturn_conversation_with_tool_calls_preserves_thought_signatures[postgres].yaml
  tests/cassettes/llm/test_multiturn_conversation_with_tool_calls_via_http_api[postgres].yaml
  tests/cassettes/llm/test_multiturn_conversation_with_tool_calls_via_http_api[sqlite].yaml
  tests/cassettes/llm/test_thought_signature_multiturn_with_api.yaml
  tests/cassettes/llm/test_thought_signatures_with_tool_calls.yaml
  tests/cassettes/llm/test_thought_signatures_without_tool_calls.yaml
  tests/cassettes/llm/test_tool_call_provider_metadata_survives_database_storage[postgres].yaml
  tests/cassettes/llm/test_tool_call_provider_metadata_survives_database_storage[sqlite].yaml
  tests/functional/web/api/test_thought_signature_persistence.py
  tests/integration/llm/test_thought_signatures.py
  tests/unit/llm/test_google_genai_message_conversion.py
  tests/unit/llm/test_google_genai_tool_call_events.py
  tests/unit/processing/test_message_conversion.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, yamlfmt

fix: Use skip validator for function calls without thought signatures
  src/family_assistant/llm/providers/google_genai_client.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

cleanup: Remove debug logging for thought signature detection
  src/family_assistant/processing.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

fix: Properly deserialize provider_metadata in tool calls from database
  src/family_assistant/llm/google_types.py
  src/family_assistant/llm/messages.py
  src/family_assistant/llm/providers/google_genai_client.py
  src/family_assistant/processing.py
  src/family_assistant/storage/repositories/message_history.py
  tests/integration/llm/test_thought_signatures.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

refactor: Eliminate message_to_dict() - use typed messages throughout
  src/family_assistant/llm/__init__.py
  src/family_assistant/llm/messages.py
  src/family_assistant/llm/providers/google_genai_client.py
  src/family_assistant/llm/providers/openai_client.py
  src/family_assistant/processing.py
  src/family_assistant/storage/repositories/message_history.py
  tests/integration/llm/test_streaming.py
  tests/integration/llm/test_thought_signatures.py
  tests/unit/llm/test_llm_multimodal_processing.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

fix: Eliminate wasteful serialize-deserialize cycle for tool calls in processing loop
  src/family_assistant/processing.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

fix: Preserve thought signatures as typed objects throughout processing loop
  src/family_assistant/processing.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

fix: Add proper serialization at database boundary for thought signatures
  docs/development/llm-integration-testing.md
  src/family_assistant/storage/repositories/message_history.py
  tests/cassettes/llm/test_basic_streaming[openai-gpt-4.1-nano].yaml
  tests/cassettes/llm/test_streaming_content_accumulation[openai-gpt-4.1-nano].yaml
  tests/cassettes/llm/test_streaming_error_handling[openai-gpt-4.1-nano].yaml
  tests/cassettes/llm/test_streaming_reasoning_info[openai-gpt-4.1-nano].yaml
  tests/cassettes/llm/test_streaming_with_multi_turn_conversation[openai-gpt-4.1-nano].yaml
  tests/cassettes/llm/test_streaming_with_system_message[openai-gpt-4.1-nano].yaml
  tests/cassettes/llm/test_streaming_with_tool_calls[openai-gpt-4.1-nano].yaml
  tests/integration/CLAUDE.md
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt

Use exec in subshells to ensure npm processes are directly killable
  scripts/run-tests.sh
Due: none

Fix signal handling in run-tests.sh to prevent orphaned processes
  scripts/run-tests.sh
Due: none

Apply suggestions from code review
  scripts/run-tests.sh
Due: none
