Repository werdnum/family-assistant: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt, biome-format, eslint

ruff-check:
  name: ruff-check
  entry: ruff check --fix --preview
  language: system

ruff-format:
  name: ruff-format
  entry: ruff format --preview
  language: system

basedpyright:
  name: basedpyright
  entry: basedpyright
  language: system
  pass_filenames: false

code-conformance:
  name: code-conformance
  entry: .ast-grep/check-conformance.py
  language: system
  pass_filenames: true

mdformat:
  name: mdformat
  entry: mdformat --wrap 100
  language: system

yamlfmt:
  name: yamlfmt
  language: golang
  entry: yamlfmt
  additional_dependencies:
  - github.com/google/yamlfmt/cmd/yamlfmt@v0.17.0

biome-format:
  name: biome-format
  entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx @biomejs/biome format --write "${files[@]}"' --
  language: system
  pass_filenames: true

eslint:
  name: eslint
  entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx eslint --fix "${files[@]}"' --
  language: system
  pass_filenames: true

Fix gh-wrapper implementation -- use correct env vars and flags, and extract token from jq
  .devcontainer/gh-wrapper
Due: none

Fix: Keep React in entry bundle to prevent app initialization failures
  frontend/vite.config.js
Due: biome-format, eslint

Fix CI: Update cassette with thoughtSignature and add strict model test
  tests/cassettes/gemini/integration.llm.test_streaming/test_google_streaming_with_multiturns_and_tool_calls[google-gemini-2.5-flash]/mldev.json
  tests/cassettes/llm/test_gemini_multiturn_without_thought_signature[google-gemini-3-pro-preview].yaml
  tests/integration/llm/test_tool_calling.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, yamlfmt

Fix CI: Update pydantic validation reproducer cassette with thoughtSignature
  tests/cassettes/gemini/integration.llm.test_streaming/test_google_streaming_pydantic_validation_reproducer/mldev.json
Due: none

Fix: Image attachments not sent to LLM due to missing data URI conversion
  src/family_assistant/processing.py
  tests/integration/llm/test_image_handling.py
  tests/unit/llm/test_google_genai_tool_call_events.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Refactor: Move LLM image handling test to functional category
  tests/functional/attachments/test_llm_image_handling.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

refactor(web): replace scipy with soxr for asterisk audio resampling
  pyproject.toml
  src/family_assistant/web/routers/asterisk_live_api.py
  uv.lock
Due: ruff-check, ruff-format, basedpyright, code-conformance

Removed some unnecessary comments
  src/family_assistant/storage/__init__.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

fix(web): reset resamplers on asterisk re-configuration
  src/family_assistant/web/routers/asterisk_live_api.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

fix(web): correct linear interpolation resampling and reduce log spam
  src/family_assistant/web/routers/asterisk_live_api.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

refactor(web): simplify resampler and move to audio_utils module
  src/family_assistant/web/audio_utils.py
  src/family_assistant/web/routers/asterisk_live_api.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

fix: mark recurring task failure test as postgres-only
  tests/functional/tasks/test_recurring_task_failure.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

fix(tests): resolve recurring task failure test flakiness on SQLite
  tests/functional/tasks/test_recurring_task_failure.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

feat(asterisk): add two-layer authentication for WebSocket endpoint
  src/family_assistant/web/routers/asterisk_live_api.py
  tests/functional/web/routers/__init__.py
  tests/functional/web/routers/test_asterisk_live_api.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Path conditions:
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  basedpyright: any of: \.py$
  code-conformance: any of: \.py$
  mdformat: any of: \.(md|markdown|mdown)$, but not: (?x)^( 
  docs/python-telegram-bot-abridged\.md|
  docs/python-telegram-bot-abridged-filtered\.md
)$

  yamlfmt: any of: \.(yaml|yml)$
  biome-format: any of: ^frontend/.*\.(js|jsx|ts|tsx|json)$, but not: ^frontend/(dev-dist/|package-lock\.json$)
  eslint: any of: ^frontend/.*\.(js|jsx|ts|tsx)$
