Repository werdnum/family-assistant: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt, biome-format, eslint

ruff-check:
  name: ruff-check
  entry: ruff check --fix --preview
  language: system

ruff-format:
  name: ruff-format
  entry: ruff format --preview
  language: system

basedpyright:
  name: basedpyright
  entry: basedpyright
  language: system
  pass_filenames: false

code-conformance:
  name: code-conformance
  entry: .ast-grep/check-conformance.py
  language: system
  pass_filenames: true

mdformat:
  name: mdformat
  entry: mdformat --wrap 100
  language: system

yamlfmt:
  name: yamlfmt
  language: golang
  entry: yamlfmt
  additional_dependencies:
  - github.com/google/yamlfmt/cmd/yamlfmt@v0.17.0

biome-format:
  name: biome-format
  entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx @biomejs/biome format --write "${files[@]}"' --
  language: system
  pass_filenames: true

eslint:
  name: eslint
  entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx eslint --fix "${files[@]}"' --
  language: system
  pass_filenames: true

Keep sent messages' ids stable across chat reloads
  frontend/src/chat/ChatApp.tsx
  frontend/src/chat/__tests__/ChatApp.test.tsx
Due: biome-format, eslint

Leave a clipped turn's ids alone on reload
  frontend/src/chat/ChatApp.tsx
  frontend/src/chat/__tests__/ChatApp.test.tsx
Due: biome-format, eslint

Read review-blocked and declined-delegation results as not run
  src/family_assistant/tools/infrastructure.py
  src/family_assistant/tools/outcomes.py
  src/family_assistant/tools/services.py
  tests/unit/tools/test_tool_outcomes.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Polish chat approval cards and the pending-approvals tray
  docs/user/confirmations-and-safety.md
  frontend/src/chat/ChatApp.tsx
  frontend/src/chat/ConfirmationCard.tsx
  frontend/src/chat/PendingConfirmationsTray.tsx
  frontend/src/chat/ToolConfirmationContext.tsx
  frontend/src/chat/ToolWithConfirmation.tsx
  frontend/src/chat/__tests__/ErrorHandling.test.tsx
  frontend/src/chat/__tests__/PendingConfirmationsTray.test.tsx
  frontend/src/chat/__tests__/ToolWithConfirmation.test.tsx
  frontend/src/styles/globals.css
  src/family_assistant/web/routers/chat_api.py
  tests/functional/web/api/test_chat_confirmations.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, biome-format, eslint

Render web confirmation prompts like every other interface
  frontend/src/chat/ConfirmationCard.tsx
  frontend/src/chat/__tests__/PendingConfirmationsTray.test.tsx
  src/family_assistant/services/deferred_tool_confirmation.py
  src/family_assistant/task_worker.py
  src/family_assistant/telegram/handler.py
  src/family_assistant/tools/confirmation.py
  src/family_assistant/web/routers/chat_api.py
  src/family_assistant/web/turn_producer.py
  src/family_assistant/web/web_confirmation_ui_manager.py
  tests/unit/tools/test_render_tool_confirmation.py
  tests/unit/web/test_web_confirmation_ui_manager.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, biome-format, eslint

Design: resume in-progress turns across server restarts
  docs/design/turn-resumption-across-restarts.md
Due: mdformat

Resume web streaming turns after a restart or crash
  src/family_assistant/assistant.py
  src/family_assistant/processing/service.py
  src/family_assistant/services/turn_resumption.py
  src/family_assistant/storage/repositories/message_history.py
  src/family_assistant/storage/repositories/tasks.py
  src/family_assistant/web/app_creator.py
  src/family_assistant/web/conversation_stream_hub.py
  src/family_assistant/web/routers/chat_api.py
  src/family_assistant/web/turn_producer.py
  src/family_assistant/web/turn_resumption.py
  src/family_assistant/web/web_mid_turn_controller.py
  tests/functional/tasks/test_turn_resumption.py
  tests/functional/web/api/test_chat_turn_resumption.py
  tests/unit/test_shutdown_forwarding_server.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Document turn resumption for users and operators
  deploy/deployment.yaml
  docs/operations/CONFIGURATION_REFERENCE.md
  docs/user/interfaces.md
Due: mdformat, yamlfmt

Replay the whole interrupted turn and keep its routed tier on resume
  src/family_assistant/llm/model_selection.py
  src/family_assistant/processing/service.py
  src/family_assistant/storage/repositories/message_history.py
  src/family_assistant/web/turn_resumption.py
  tests/functional/web/api/test_chat_turn_resumption.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Grade execute_script results by what the script read
  src/family_assistant/tools/__init__.py
  tests/functional/tools/test_execute_script_review.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Require an output trust tag on every registered tool
  src/family_assistant/tools/__init__.py
  src/family_assistant/tools/metadata.py
  tests/unit/tools/test_tool_metadata.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Resume a turn on its remaining budget, with context after its opening prompt
  src/family_assistant/processing/llm_loop.py
  src/family_assistant/processing/service.py
  tests/functional/web/api/test_chat_turn_resumption.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Charge scripts for attachment metadata they see
  src/family_assistant/scripting/apis/attachments.py
  src/family_assistant/tools/execute_script.py
  tests/functional/tools/test_execute_script_attachments.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Mark operator-configured MCP tags without an output tag unspecified
  src/family_assistant/tools/metadata.py
  tests/unit/tools/test_tool_metadata.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Redesign the automations pages
  frontend/src/components/layout/PageHeader.tsx
  frontend/src/components/ui/native-select.tsx
  frontend/src/pages/Automations/automationFormat.js
  frontend/src/pages/Automations/automationFormat.test.js
  frontend/src/pages/Automations/components/AutomationDetail.jsx
  frontend/src/pages/Automations/components/AutomationsList.jsx
  frontend/src/pages/Automations/components/AutomationsList.module.css
  frontend/src/pages/Automations/components/CreateEventAutomation.jsx
  frontend/src/pages/Automations/components/CreateScheduleAutomation.jsx
  tests/functional/web/ui/test_automations_ui.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, biome-format, eslint

Polish the remaining ancillary pages
  frontend/src/errors/components/ErrorsList.jsx
  frontend/src/errors/components/ErrorsList.module.css
  frontend/src/pages/Events/components/EventFilters.module.css
  frontend/src/styles/globals.css
  frontend/src/tasks/components/TasksFilter.jsx
  frontend/src/tasks/components/TasksFilter.module.css
  frontend/src/tasks/components/TasksList.jsx
Due: biome-format, eslint

Don't summarise daily-interval weekday rules as weekly
  frontend/src/pages/Automations/automationFormat.js
  frontend/src/pages/Automations/automationFormat.test.js
Due: biome-format, eslint

Let a resume that fails before launch be retried
  src/family_assistant/web/turn_resumption.py
  tests/functional/web/api/test_chat_turn_resumption.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Rebuild a resumed turn's attachment content parts
  src/family_assistant/web/routers/chat_api.py
  src/family_assistant/web/turn_producer.py
  src/family_assistant/web/turn_resumption.py
  tests/functional/web/api/test_chat_turn_resumption.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Record what a resumed turn does not rebuild
  docs/design/turn-resumption-across-restarts.md
Due: mdformat

Authenticate iOS embedded pages through the API JWT boundary
  docs/design/ios-embedded-web-auth.md
  docs/design/jwt-edge-auth.md
  docs/operations/CONFIGURATION_REFERENCE.md
  docs/user/interfaces.md
  frontend/embedded.html
  frontend/package.json
  frontend/src/shared/AppRouter.jsx
  frontend/src/shared/Layout.tsx
  frontend/src/shared/NavigationSheet.tsx
  frontend/src/shared/__tests__/embeddedNavigation.test.ts
  frontend/src/shared/embeddedNavigation.ts
  frontend/src/shared/router-entry.jsx
  frontend/vite.config.js
  ios/FamilyAssistant/FamilyAssistant/AppRouting.swift
  ios/FamilyAssistant/FamilyAssistant/Auth/AuthManager.swift
  ios/FamilyAssistant/FamilyAssistant/WebView/WebDestinationView.swift
  ios/FamilyAssistant/FamilyAssistant/WebView/WebViewContainer.swift
  ios/FamilyAssistant/FamilyAssistantTests/AuthManagerTests.swift
  ios/FamilyAssistant/FamilyAssistantTests/RouteTests.swift
  ios/FamilyAssistant/README.md
  prompts.yaml
  src/family_assistant/web/app_creator.py
  src/family_assistant/web/auth.py
  src/family_assistant/web/routers/api.py
  src/family_assistant/web/routers/app_auth.py
  src/family_assistant/web/routers/embedded_pages.py
  tests/functional/web/api/test_embedded_pages.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt, biome-format, eslint

Contain long tool sample text in the test bench
  frontend/src/tool-test-bench/test-bench.css
Due: none

Clear browser credentials on logout and revalidate embedded sessions
  ios/FamilyAssistant/FamilyAssistant/Auth/AuthManager.swift
  ios/FamilyAssistant/FamilyAssistantTests/AuthManagerTests.swift
  src/family_assistant/web/auth.py
  tests/functional/web/api/test_embedded_pages.py
  tests/unit/web/test_auth_allowlist.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Keep the voice page background at least viewport height
  frontend/src/voice/VoicePage.tsx
  tests/functional/web/ui/test_ui_page_audit.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, biome-format, eslint

Preserve coder results across malformed Interactions polls
  docs/user/interfaces.md
  src/family_assistant/llm/providers/google_genai_client.py
  src/family_assistant/tools/services.py
  tests/cassettes/llm/test_poll_delivers_report_with_a_credential_bound_environment.yaml
  tests/functional/automations/test_async_delegation.py
  tests/integration/llm/test_google_antigravity_integration.py
  tests/llm/test_google_deep_research.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt

Keep schema and parsing failures non-retryable
  docs/user/interfaces.md
  src/family_assistant/llm/providers/google_genai_client.py
  src/family_assistant/tools/services.py
  tests/functional/automations/test_async_delegation.py
  tests/llm/test_google_deep_research.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Clear stale clipboard errors when retrying token copy
  frontend/src/pages/Settings/TokenManagement.jsx
  frontend/src/pages/Settings/__tests__/TokenManagement.test.jsx
Due: biome-format, eslint

Give native embedded pages a dedicated authenticated app namespace
  docs/design/ios-embedded-web-auth.md
  docs/design/jwt-edge-auth.md
  docs/operations/CONFIGURATION_REFERENCE.md
  frontend/src/shared/__tests__/embeddedNavigation.test.ts
  frontend/src/shared/embeddedNavigation.ts
  frontend/vite.config.js
  ios/FamilyAssistant/FamilyAssistant/AppRouting.swift
  ios/FamilyAssistant/FamilyAssistantTests/AuthManagerTests.swift
  ios/FamilyAssistant/FamilyAssistantTests/RouteTests.swift
  ios/FamilyAssistant/README.md
  src/family_assistant/web/app_creator.py
  src/family_assistant/web/auth.py
  src/family_assistant/web/route_auth.py
  src/family_assistant/web/routers/api.py
  src/family_assistant/web/routers/app_auth.py
  src/family_assistant/web/routers/embedded_pages.py
  tests/functional/web/api/test_embedded_pages.py
  tests/unit/web/test_auth_allowlist.py
  tests/unit/web/test_route_auth.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, biome-format, eslint

Revert "Authenticate iOS embedded web pages through the API JWT boundary"
  docs/design/ios-embedded-web-auth.md
  docs/design/jwt-edge-auth.md
  docs/operations/CONFIGURATION_REFERENCE.md
  docs/user/interfaces.md
  frontend/embedded.html
  frontend/package.json
  frontend/src/shared/AppRouter.jsx
  frontend/src/shared/Layout.tsx
  frontend/src/shared/NavigationSheet.tsx
  frontend/src/shared/__tests__/embeddedNavigation.test.ts
  frontend/src/shared/embeddedNavigation.ts
  frontend/src/shared/router-entry.jsx
  frontend/vite.config.js
  ios/FamilyAssistant/FamilyAssistant/AppRouting.swift
  ios/FamilyAssistant/FamilyAssistant/Auth/AuthManager.swift
  ios/FamilyAssistant/FamilyAssistant/WebView/WebDestinationView.swift
  ios/FamilyAssistant/FamilyAssistant/WebView/WebViewContainer.swift
  ios/FamilyAssistant/FamilyAssistantTests/AuthManagerTests.swift
  ios/FamilyAssistant/FamilyAssistantTests/RouteTests.swift
  ios/FamilyAssistant/README.md
  prompts.yaml
  src/family_assistant/web/app_creator.py
  src/family_assistant/web/auth.py
  src/family_assistant/web/routers/api.py
  src/family_assistant/web/routers/app_auth.py
  src/family_assistant/web/routers/embedded_pages.py
  tests/functional/web/api/test_embedded_pages.py
  tests/unit/web/test_auth_allowlist.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt, biome-format, eslint

Route list retries and action refreshes through cancellable effects
  frontend/src/pages/Events/components/EventsList.jsx
  frontend/src/pages/History/components/ConversationsList.jsx
  frontend/src/shared/__tests__/listRequestRetries.test.jsx
  frontend/src/tasks/components/TasksList.jsx
Due: biome-format, eslint

Fix missing result taint on script preparation errors
  src/family_assistant/tools/infrastructure.py
  tests/functional/storage/test_message_history.py
  tests/unit/tools/test_tool_call_review_integration.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Import stored script provenance before preparation errors
  src/family_assistant/scripting/invocation.py
  src/family_assistant/tools/infrastructure.py
  tests/unit/tools/test_tool_call_review_integration.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Record descendant provenance as closure artifacts load
  src/family_assistant/scripting/invocation.py
  src/family_assistant/security/script_closure.py
  tests/functional/tools/test_execute_script_review.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Add artifact review confirmations and a stored script editor
  docs/user/confirmations-and-safety.md
  docs/user/scripting.md
  frontend/src/notes/components/NotesListWithDataTable.tsx
  frontend/src/pages/Artifacts/ArtifactConfirmation.jsx
  frontend/src/pages/Artifacts/ArtifactReviewPage.jsx
  frontend/src/pages/Artifacts/ArtifactReviewPage.test.jsx
  frontend/src/pages/Automations/components/AutomationDetail.jsx
  frontend/src/pages/Scripts/ScriptsPage.jsx
  frontend/src/pages/Scripts/ScriptsPage.test.jsx
  frontend/src/shared/AppRouter.jsx
  frontend/src/shared/Layout.tsx
  frontend/src/shared/navigation.ts
  src/family_assistant/security/note_provenance.py
  src/family_assistant/storage/database.py
  src/family_assistant/storage/repositories/__init__.py
  src/family_assistant/storage/repositories/artifact_review.py
  src/family_assistant/tools/stored_scripts.py
  src/family_assistant/web/routers/api.py
  src/family_assistant/web/routers/artifact_review_api.py
  src/family_assistant/web/routers/scripts_api.py
  src/family_assistant/web/routers/vite_pages.py
  tests/functional/web/api/test_artifact_review_api.py
  tests/functional/web/api/test_scripts_api.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, biome-format, eslint

Mark artifact and script pages ready after loading
  frontend/src/pages/Artifacts/ArtifactReviewPage.jsx
  frontend/src/pages/Scripts/ScriptsPage.jsx
Due: biome-format, eslint

Keep confirmation available for uncured prior approvals
  frontend/src/pages/Artifacts/ArtifactConfirmation.jsx
  frontend/src/pages/Artifacts/ArtifactReviewPage.test.jsx
  tests/functional/web/api/test_artifact_review_api.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, biome-format, eslint

Preserve trusted note tiers and filter script review loads
  frontend/src/pages/Artifacts/ArtifactConfirmation.jsx
  frontend/src/pages/Scripts/ScriptsPage.jsx
  frontend/src/pages/Scripts/ScriptsPage.test.jsx
  src/family_assistant/security/note_provenance.py
  src/family_assistant/storage/repositories/artifact_review.py
  src/family_assistant/web/routers/artifact_review_api.py
  tests/functional/web/api/test_artifact_review_api.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, biome-format, eslint

Fix stale facts in agent instruction files; drop Serena memories
  .serena/memories/code_style_and_conventions.md
  .serena/memories/development_guidelines.md
  .serena/memories/project_overview.md
  .serena/memories/suggested_commands.md
  .serena/memories/task_completion_checklist.md
  AGENTS.md
  ios/CLAUDE.md
  src/family_assistant/tools/CLAUDE.md
  src/family_assistant/web/CLAUDE.md
  tests/CLAUDE.md
  tests/functional/automations/CLAUDE.md
  tests/functional/calendar/CLAUDE.md
  tests/functional/telegram/CLAUDE.md
Due: mdformat

Path conditions:
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  basedpyright: any of: \.py$
  code-conformance: any of: \.py$
  mdformat: any of: \.(md|markdown|mdown)$, but not: (?x)^( 
  docs/python-telegram-bot-abridged\.md|
  docs/python-telegram-bot-abridged-filtered\.md
)$

  yamlfmt: any of: \.(yaml|yml)$
  biome-format: any of: ^frontend/.*\.(js|jsx|ts|tsx|json)$, but not: ^frontend/(dev-dist/|package-lock\.json$)
  eslint: any of: ^frontend/.*\.(js|jsx|ts|tsx)$
