Repository werdnum/family-assistant: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, basedpyright, mdformat, biome-format, eslint

ruff-check:
  name: ruff-check
  entry: ruff check --fix --preview
  language: system

ruff-format:
  name: ruff-format
  entry: ruff format --preview
  language: system

basedpyright:
  name: basedpyright
  entry: basedpyright
  language: system
  pass_filenames: false

mdformat:
  name: mdformat
  entry: mdformat --wrap 100
  language: system

biome-format:
  name: biome-format
  entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx @biomejs/biome format --write "${files[@]}"' --
  language: system
  pass_filenames: true

eslint:
  name: eslint
  entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx eslint --fix "${files[@]}"' --
  language: system
  pass_filenames: true

Remove unnecessary frontend/dev-dist from git tracking
  .gitignore
  frontend/dev-dist/registerSW.js
  frontend/dev-dist/sw.js
  frontend/dev-dist/workbox-54d0af47.js
Due: biome-format, eslint

feat(pwa): Implement initial PWA infrastructure
  .pre-commit-config.yaml
  docs/design/pwa.md
  frontend/dev-dist/registerSW.js
  frontend/dev-dist/sw.js
  frontend/dev-dist/workbox-54d0af47.js
  frontend/eslint.config.mjs
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/public/apple-touch-icon.png
  frontend/public/badge.png
  frontend/public/pwa-192x192.png
  frontend/public/pwa-512x512.png
  frontend/vite.config.js
  pyproject.toml
Due: mdformat, biome-format, eslint

Fix file extension regexp
  frontend/vite.config.js
Due: biome-format, eslint

feat(pwa): Add user_id to message history for push notifications
  alembic/versions/2025_10_17-974697dea951_add_user_id_to_message_history.py
  docs/design/pwa_backend.md
  src/family_assistant/processing.py
  src/family_assistant/storage/__init__.py
  src/family_assistant/storage/message_history.py
  src/family_assistant/storage/repositories/message_history.py
  src/family_assistant/tools/types.py
  src/family_assistant/web/routers/chat_api.py
  tests/functional/web/conftest.py
  tests/functional/web/test_chat_api_endpoint.py
Due: ruff-check, ruff-format, basedpyright, mdformat

feat(pwa): Implement backend infrastructure for push notifications
  alembic/versions/2025_10_17-a7c55b979906_add_push_subscriptions_table.py
  docs/design/pwa.md
  src/family_assistant/services/push_notification.py
  src/family_assistant/storage/context.py
  src/family_assistant/storage/push_subscription.py
  src/family_assistant/storage/repositories/__init__.py
  src/family_assistant/storage/repositories/push_subscription.py
  src/family_assistant/web/app_creator.py
  src/family_assistant/web/routers/client_config.py
  src/family_assistant/web/routers/push.py
  tests/functional/conftest.py
  tests/functional/test_api_endpoints.py
  tests/functional/test_push_api.py
  tests/functional/web/test_file_upload_functionality.py
Due: ruff-check, ruff-format, basedpyright, mdformat

feat(pwa): Read VAPID keys from environment variables
  docs/design/pwa.md
  docs/design/pwa_backend.md
  src/family_assistant/__main__.py
Due: ruff-check, ruff-format, basedpyright, mdformat

docs(pwa): Add comprehensive backend implementation plan
  docs/design/pwa_backend.md
Due: mdformat

PWA: VAPID key generation script
  docs/design/pwa.md
  pyproject.toml
  scripts/generate_vapid_keys.py
  uv.lock
Due: ruff-check, ruff-format, basedpyright, mdformat

feat(pwa): Complete WebChatInterface push notification integration
  src/family_assistant/assistant.py
  src/family_assistant/web/app_creator.py
  src/family_assistant/web/web_chat_interface.py
  tests/functional/web/test_web_chat_push_integration.py
Due: ruff-check, ruff-format, basedpyright

docs(pwa): Update progress tracking and reference backend implementation details
  docs/design/pwa.md
Due: mdformat

docs(pwa): Update backend implementation status - Tasks 7-9 complete
  docs/design/pwa_backend.md
Due: mdformat

fix(pwa): Suppress pylint broad-exception-raised warning in test
  tests/functional/web/test_web_chat_push_integration.py
Due: ruff-check, ruff-format, basedpyright

docs(pwa): Complete backend implementation documentation and environment setup
  .claude/banned_commands.json
  AGENTS.md
  docs/design/pwa.md
Due: mdformat

feat(pwa): Implement web push notification sending with pywebpush
  docs/design/pwa_backend.md
  pyproject.toml
  src/family_assistant/__main__.py
  src/family_assistant/services/push_notification.py
  src/family_assistant/storage/push_subscription.py
  src/family_assistant/storage/repositories/push_subscription.py
  tests/unit/test_push_notification_service.py
  uv.lock
Due: ruff-check, ruff-format, basedpyright, mdformat

feat(pwa): Complete frontend push notification integration
  docs/design/pwa.md
  frontend/AGENTS.md
  frontend/src/api/__tests__/pushClient.test.ts
  frontend/src/api/pushClient.ts
  frontend/src/chat/ChatApp.tsx
  frontend/src/chat/PushNotificationButton.tsx
  frontend/src/chat/__tests__/PushNotificationButton.test.tsx
  frontend/src/sw.js
  frontend/src/test/mocks/handlers.ts
  frontend/vite.config.js
Due: mdformat, biome-format, eslint

fix(frontend): Fix PushNotificationButton.test.tsx Notification API mocking
  frontend/src/chat/__tests__/PushNotificationButton.test.tsx
Due: biome-format, eslint

fix(pwa): Add required Workbox imports to service worker for injectManifest strategy
  frontend/src/sw.js
Due: biome-format, eslint

fix(pwa): Remove redundant 'from Family Assistant' from notification titles
  src/family_assistant/web/web_chat_interface.py
  tests/functional/web/test_web_chat_push_integration.py
Due: ruff-check, ruff-format, basedpyright

fmt
  src/family_assistant/telegram/__init__.py
  src/family_assistant/telegram/batching.py
  src/family_assistant/telegram/handler.py
  src/family_assistant/telegram/interface.py
  src/family_assistant/telegram/protocols.py
  src/family_assistant/telegram/service.py
  src/family_assistant/telegram/ui.py
Due: ruff-check, ruff-format, basedpyright

normalise VAPID email
  src/family_assistant/services/push_notification.py
Due: ruff-check, ruff-format, basedpyright

fix(pwa): Address PR review comments for push notification service
  src/family_assistant/services/push_notification.py
  src/family_assistant/storage/push_subscription.py
  src/family_assistant/telegram/__init__.py
  src/family_assistant/telegram/batching.py
  src/family_assistant/telegram/handler.py
  src/family_assistant/telegram/interface.py
  src/family_assistant/telegram/protocols.py
  src/family_assistant/telegram/service.py
  src/family_assistant/telegram/ui.py
  src/family_assistant/web/routers/client_config.py
  tests/functional/test_push_api.py
Due: ruff-check, ruff-format, basedpyright

fix(pwa): Address remaining PR review comments for push notifications
  docs/design/pwa.md
  src/family_assistant/services/push_notification.py
  src/family_assistant/web/routers/client_config.py
  src/family_assistant/web/routers/push.py
Due: ruff-check, ruff-format, basedpyright, mdformat

fix(pwa): Address PR review comments for push notification service
  src/family_assistant/services/push_notification.py
  src/family_assistant/storage/push_subscription.py
  src/family_assistant/web/routers/client_config.py
  tests/functional/test_push_api.py
Due: ruff-check, ruff-format, basedpyright

Path conditions:
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  basedpyright: any of: \.py$
  mdformat: any of: \.(md|markdown|mdown)$, but not: (?x)^( 
  docs/python-telegram-bot-abridged\.md|
  docs/python-telegram-bot-abridged-filtered\.md
)$

  biome-format: any of: ^frontend/.*\.(js|jsx|ts|tsx|json)$
  eslint: any of: ^frontend/.*\.(js|jsx|ts|tsx)$
