Repository werdnum/family-assistant: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, mdformat

ruff-check:
  name: ruff-check
  entry: ruff check --fix --preview
  language: system

ruff-format:
  name: ruff-format
  entry: ruff format --preview
  language: system

mdformat:
  name: mdformat
  entry: mdformat --wrap 100
  language: system

add hook enforcing minimum timeouts on pytest and poe test
  .claude/check_banned_commands.py
Due: ruff-check, ruff-format

fmt
  REVIEW_GUIDELINES.md
Due: mdformat

Add family-assistant-dev.andrewgarrett.dev to allowed hosts for vite
  frontend/vite.config.js
Due: none

feat: implement React-based chat interface with Vite integration
  docs/design/chat-ui.md
  frontend/chat.html
  frontend/package-lock.json
  frontend/package.json
  frontend/src/chat/ChatApp.jsx
  frontend/src/chat/chat.css
  frontend/src/chat/index.jsx
  pytest.ini
  src/family_assistant/assistant.py
  src/family_assistant/static/dist/.vite/manifest.json
  src/family_assistant/static/dist/assets/chat-Ct7c2BaJ.css
  src/family_assistant/static/dist/assets/chat-DKL-jpPA.js
  src/family_assistant/static/dist/assets/chat-legacy-DS5ESSff.js
  src/family_assistant/static/dist/assets/main-D2rt6i_Y.js
  src/family_assistant/static/dist/assets/main-DUd7RoNs.js
  src/family_assistant/static/dist/assets/main-legacy-6Xe16Eq_.js
  src/family_assistant/static/dist/assets/main-legacy-BO4rHymF.js
  src/family_assistant/static/dist/assets/modulepreload-polyfill-B5Qt9EMX.js
  src/family_assistant/static/dist/assets/modulepreload-polyfill-legacy-CnvmjJHj.js
  src/family_assistant/static/dist/assets/polyfills-legacy-B93rlMtN.js
  src/family_assistant/static/dist/assets/polyfills-legacy-Cy-2yVk8.js
  src/family_assistant/static/dist/chat.html
  src/family_assistant/static/dist/index.html
  src/family_assistant/templates/base.html.j2
  src/family_assistant/templates/chat_conversations.html.j2
  src/family_assistant/web/app_creator.py
  src/family_assistant/web/routers/chat_ui.py
  src/family_assistant/web/template_utils.py
  tests/conftest.py
  tests/functional/web/conftest.py
  tests/functional/web/pages/base_page.py
  tests/functional/web/test_page_object_basic.py
  tests/functional/web/test_template_utils.py
  tests/functional/web/test_ui_endpoints.py
Due: ruff-check, ruff-format, mdformat

fix: update banned commands check to avoid false positives
  .claude/check_banned_commands.py
Due: ruff-check, ruff-format

fix: improve dev server setup for realistic testing environment
  pyproject.toml
  src/family_assistant/processing.py
  src/family_assistant/templates/base.html.j2
  src/family_assistant/web/routers/chat_api.py
  src/family_assistant/web/template_utils.py
Due: ruff-check, ruff-format

feat: style React chat UI to match app design
  frontend/src/chat/ChatApp.jsx
  frontend/src/chat/NavHeader.jsx
  frontend/src/chat/chat.css
  frontend/src/chat/index.jsx
  frontend/vite.config.js
Due: none

chore: add development database files to gitignore
  .gitignore
Due: none

improvement: make review hook less strict for minor issues
  .claude/review-hook.sh
Due: none

docs: update chat-ui.md with recent styling and dev experience improvements
  docs/design/chat-ui.md
Due: mdformat

fix: update tests to match new manifest structure and success messages
  src/family_assistant/static/dist/.vite/manifest.json
  src/family_assistant/static/dist/assets/chat-CQeaflpr.js
  src/family_assistant/static/dist/assets/chat-Ct7c2BaJ.css
  src/family_assistant/static/dist/assets/chat-DKL-jpPA.js
  src/family_assistant/static/dist/assets/chat-legacy-CxFcs_Ak.js
  src/family_assistant/static/dist/assets/chat-legacy-DS5ESSff.js
  src/family_assistant/static/dist/assets/chat-rsEK0Xlf.css
  src/family_assistant/static/dist/assets/custom-BFKWx-jO.js
  src/family_assistant/static/dist/assets/custom-DjKsuK_1.css
  src/family_assistant/static/dist/assets/custom-legacy-BA68xdvr.js
  src/family_assistant/static/dist/assets/main-D2rt6i_Y.js
  src/family_assistant/static/dist/assets/main-DxyOEoRQ.js
  src/family_assistant/static/dist/assets/main-legacy-BO4rHymF.js
  src/family_assistant/static/dist/assets/main-legacy-B_bUuxkO.js
  src/family_assistant/static/dist/assets/modulepreload-polyfill-legacy-CnvmjJHj.js
  src/family_assistant/static/dist/chat.html
  src/family_assistant/static/dist/index.html
  src/family_assistant/web/template_utils.py
  tests/functional/web/test_documents_flow.py
  tests/functional/web/test_template_utils.py
Due: ruff-check, ruff-format

chore: remove unnecessary Playwright connectivity test
  tests/functional/web/test_minimal_playwright.py
Due: ruff-check, ruff-format

feat: add hupper for auto-reload support in development
  pyproject.toml
Due: none

chore: update uv.lock for hupper and watchdog dependencies
  uv.lock
Due: none

fix: Address performance and logic issues in conversation history
  frontend/src/chat/ChatApp.jsx
  frontend/src/chat/ConversationSidebar.css
  frontend/src/chat/ConversationSidebar.jsx
  frontend/src/chat/chat.css
  src/family_assistant/storage/repositories/message_history.py
  src/family_assistant/web/routers/chat_api.py
Due: ruff-check, ruff-format

fix: Resolve type checking errors in conversation history
  src/family_assistant/static/dist/.vite/manifest.json
  src/family_assistant/static/dist/assets/chat-CQeaflpr.js
  src/family_assistant/static/dist/assets/chat-legacy-CxFcs_Ak.js
  src/family_assistant/static/dist/assets/chat-rsEK0Xlf.css
  src/family_assistant/static/dist/chat.html
  src/family_assistant/storage/repositories/message_history.py
  src/family_assistant/web/routers/chat_api.py
Due: ruff-check, ruff-format

feat: Add comprehensive test coverage for conversation history
  .gitignore
  src/family_assistant/storage/repositories/message_history.py
  src/family_assistant/web/routers/chat_api.py
  tests/functional/web/test_conversation_history.py
Due: ruff-check, ruff-format

feat: Improve React chat UI styling and layout
  frontend/src/chat/ChatApp.jsx
  frontend/src/chat/ConversationSidebar.css
  frontend/src/chat/ConversationSidebar.jsx
  frontend/src/chat/NavHeader.jsx
  frontend/src/chat/chat.css
Due: none

fix: Remove horizontal scrolling issue in chat UI
  frontend/chat.html
  frontend/src/chat/ConversationSidebar.css
  frontend/src/chat/chat.css
Due: none

feat: Improve chat UI layout and visual cohesion
  frontend/src/chat/ChatApp.jsx
  frontend/src/chat/ConversationSidebar.css
  frontend/src/chat/chat.css
Due: none

fix: Add interface_type parameter to chat API for proper conversation tracking
  frontend/src/chat/ChatApp.jsx
  src/family_assistant/web/models.py
  src/family_assistant/web/routers/chat_api.py
Due: ruff-check, ruff-format

chore: Remove build artifacts from git tracking
  src/family_assistant/static/dist/.vite/manifest.json
  src/family_assistant/static/dist/assets/custom-BFKWx-jO.js
  src/family_assistant/static/dist/assets/custom-DjKsuK_1.css
  src/family_assistant/static/dist/assets/custom-legacy-BA68xdvr.js
  src/family_assistant/static/dist/assets/main-DxyOEoRQ.js
  src/family_assistant/static/dist/assets/main-legacy-B_bUuxkO.js
  src/family_assistant/static/dist/assets/polyfills-legacy-Cy-2yVk8.js
  src/family_assistant/static/dist/chat.html
  src/family_assistant/static/dist/index.html
Due: none

test: Fix web API tests to use correct profile ID for mock LLM
  tests/functional/web/conftest.py
  tests/functional/web/test_conversation_history.py
Due: ruff-check, ruff-format

test: Remove performance benchmark test from conversation history tests
  tests/functional/web/test_conversation_history.py
Due: ruff-check, ruff-format

fix: Pre-build frontend assets in CI to avoid npm permission issues
  .devcontainer/Dockerfile.ci
  .github/workflows/ci-with-devcontainer.yml
Due: none

fix path for copying built assets in CI Dockerfile.
  .devcontainer/Dockerfile.ci
Due: none

fix: Fix type annotation for RuleBasedMockLLMClient rules
  tests/mocks/mock_llm.py
Due: ruff-check, ruff-format

feat: Enhance chat UI with beautiful assistant-ui components
  frontend/package-lock.json
  frontend/package.json
  frontend/src/chat/ChatApp.jsx
  frontend/src/chat/MarkdownText.jsx
  frontend/src/chat/Thread.jsx
  frontend/src/chat/TooltipIconButton.jsx
  frontend/src/chat/chat.css
  frontend/src/chat/index.jsx
  frontend/src/chat/thread.css
  frontend/src/chat/utils.js
Due: none

fix: Handle tool messages properly in chat UI to prevent blank page
  frontend/src/chat/ChatApp.jsx
  frontend/src/chat/MarkdownText.jsx
Due: none

feat: Add comprehensive Playwright end-to-end tests for chat UI
  frontend/src/chat/ConversationSidebar.jsx
  frontend/src/chat/Thread.jsx
  tests/functional/web/conftest.py
  tests/functional/web/pages/chat_page.py
  tests/functional/web/test_chat_ui_flow.py
Due: ruff-check, ruff-format

style: Add trailing comma for consistency
  tests/functional/web/pages/chat_page.py
Due: ruff-check, ruff-format

Enhance chat UI with beautiful assistant-ui components and fix tool message handling (#32)
  frontend/package-lock.json
  frontend/package.json
  frontend/src/chat/ChatApp.jsx
  frontend/src/chat/ConversationSidebar.jsx
  frontend/src/chat/MarkdownText.jsx
  frontend/src/chat/Thread.jsx
  frontend/src/chat/TooltipIconButton.jsx
  frontend/src/chat/chat.css
  frontend/src/chat/index.jsx
  frontend/src/chat/thread.css
  frontend/src/chat/utils.js
  tests/functional/web/conftest.py
  tests/functional/web/pages/chat_page.py
  tests/functional/web/test_chat_ui_flow.py
Due: ruff-check, ruff-format

fix(claude): prevent stop hook loop on quota errors
  .claude/settings.json
  .claude/stop-feedback-hook.sh
Due: none

fix(review-hook): Handle multi-line commit messages
  .claude/review-hook.sh
Due: none

Path conditions:
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  mdformat: any of: \.(md|markdown|mdown)$, but not: (?x)^( 
  docs/python-telegram-bot-abridged\.md|
  docs/python-telegram-bot-abridged-filtered\.md
)$

