Repository werdnum/family-assistant: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt, biome-format, eslint

ruff-check:
  name: ruff-check
  entry: ruff check --fix --preview
  language: system

ruff-format:
  name: ruff-format
  entry: ruff format --preview
  language: system

basedpyright:
  name: basedpyright
  entry: basedpyright
  language: system
  pass_filenames: false

code-conformance:
  name: code-conformance
  entry: .ast-grep/check-conformance.py
  language: system
  pass_filenames: true

mdformat:
  name: mdformat
  entry: mdformat --wrap 100
  language: system

yamlfmt:
  name: yamlfmt
  language: golang
  entry: yamlfmt
  additional_dependencies:
  - github.com/google/yamlfmt/cmd/yamlfmt@v0.17.0

biome-format:
  name: biome-format
  entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx @biomejs/biome format --write "${files[@]}"' --
  language: system
  pass_filenames: true

eslint:
  name: eslint
  entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx eslint --fix "${files[@]}"' --
  language: system
  pass_filenames: true

Add property-based tests; align persisted/streamed normalization
  pyproject.toml
  src/family_assistant/utils/text_normalization.py
  tests/unit/utils/test_text_normalization_properties.py
  uv.lock
Due: ruff-check, ruff-format, basedpyright, code-conformance

Disallow math constructs spanning across code spans in streaming scan
  src/family_assistant/utils/text_normalization.py
  tests/unit/utils/test_text_normalization_properties.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Move hypothesis from dependency-groups to optional-dependencies
  pyproject.toml
  uv.lock
Due: none

Replace regex normalizer with a hand-rolled tokenizer
  src/family_assistant/utils/text_normalization.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Flush LaTeX normalizer at per-turn done boundaries
  src/family_assistant/web/routers/chat_api.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Fix remote_a2a config silently dropped during profile resolution
  src/family_assistant/config_loader.py
  tests/unit/test_config_loader.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Add end-to-end test for remote_a2a config through load_config()
  tests/unit/test_config_loader.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Fold remote_a2a e2e test into test_service_profiles_resolved
  tests/unit/test_config_loader.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Add static binary fallback for GNU Parallel installation
  scripts/install-parallel.sh
  scripts/setup-workspace.sh
Due: none

Auto-install GNU Parallel in setup-workspace.sh
  scripts/setup-workspace.sh
Due: none

fix: use SDK client for remote A2A tasks
  src/family_assistant/a2a/client.py
  tests/unit/a2a_client/test_a2a_client.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

chore: finish remote A2A polling validation
  src/family_assistant/a2a/client.py
  tests/unit/a2a_client/test_a2a_client.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Fix CVE-2026-48710: Starlette Host header authentication bypass
  pyproject.toml
  src/family_assistant/web/auth.py
  src/family_assistant/web/routers/context_viewer.py
  src/family_assistant/web/routers/documents_api.py
  src/family_assistant/web/routers/errors.py
  src/family_assistant/web/routers/vector_search.py
  uv.lock
Due: ruff-check, ruff-format, basedpyright, code-conformance

Add opt-in rootless Podman worker security context
  defaults.yaml
  src/family_assistant/config_models.py
  src/family_assistant/services/backends/kubernetes.py
  tests/unit/services/backends/test_kubernetes_backend.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, yamlfmt

Keep default capability drop for rootless Podman workers
  src/family_assistant/services/backends/kubernetes.py
  tests/unit/services/backends/test_kubernetes_backend.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Add optional browser-server backend for browser tools
  defaults.yaml
  docs/design/browser-server-integration.md
  docs/user/browser_automation.md
  src/family_assistant/config_loader.py
  src/family_assistant/config_models.py
  src/family_assistant/tools/__init__.py
  src/family_assistant/tools/browser_backend.py
  src/family_assistant/tools/browser_dom.py
  tests/unit/tools/test_browser_backend.py
  tests/unit/tools/test_browser_dom.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt

Add integration tests for RemoteBrowserBackend against real browser-server
  tests/integration/tools/__init__.py
  tests/integration/tools/conftest.py
  tests/integration/tools/test_browser_backend_integration.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Fix lint errors in browser integration tests and DOM module
  src/family_assistant/tools/browser_dom.py
  tests/integration/tools/conftest.py
  tests/integration/tools/test_browser_backend_integration.py
  tests/unit/tools/test_browser_backend.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Remove pytest.skip from conftest; rely on importorskip in test module
  tests/integration/tools/conftest.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Document visual delegation limitation for remote backend
  src/family_assistant/tools/browser_backend.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Route visual Computer Use profile through remote browser session
  defaults.yaml
  src/family_assistant/tools/browser_backend.py
  src/family_assistant/tools/computer_use.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, yamlfmt

Wrap exec code for remote backend evaluate()
  src/family_assistant/tools/browser_backend.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Add Kata Podman worker profile
  defaults.yaml
  src/family_assistant/config_models.py
  src/family_assistant/services/backends/kubernetes.py
  tests/unit/services/backends/test_kubernetes_backend.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, yamlfmt

Add browser_claim_handback tool for HITL session resumption
  defaults.yaml
  src/family_assistant/tools/__init__.py
  src/family_assistant/tools/browser_backend.py
  src/family_assistant/tools/browser_dom.py
  tests/integration/tools/test_browser_backend_integration.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, yamlfmt

Fix unit tests: update request_handoff callers to use allow_resume bool
  tests/unit/tools/test_browser_backend.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Recover browser sessions after server eviction
  pyproject.toml
  src/family_assistant/tools/browser_backend.py
  tests/integration/tools/conftest.py
  tests/integration/tools/test_browser_backend_integration.py
  tests/unit/tools/test_browser_backend.py
  uv.lock
Due: ruff-check, ruff-format, basedpyright, code-conformance

Recover the browser backend from expired sessions automatically
  pyproject.toml
  src/family_assistant/tools/browser_backend.py
  tests/integration/tools/test_browser_backend_integration.py
  uv.lock
Due: ruff-check, ruff-format, basedpyright, code-conformance

Point browser-handoff-service back at main after fix merged
  pyproject.toml
  uv.lock
Due: none

Use adaptive pytest in backend CI
  .github/workflows/ci-with-devcontainer.yml
Due: yamlfmt

Constrain message history vector access
  src/family_assistant/storage/vector_search.py
  src/family_assistant/tools/infrastructure.py
  tests/functional/storage/test_message_history_querying.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Preserve access in message history hydration
  src/family_assistant/storage/repositories/message_history.py
  src/family_assistant/tools/communication.py
  tests/functional/storage/test_message_history_querying.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Add message history querying
  docs/user/USER_GUIDE.md
  prompts.yaml
  src/family_assistant/assistant.py
  src/family_assistant/indexing/message_history_indexer.py
  src/family_assistant/storage/repositories/message_history.py
  src/family_assistant/tools/communication.py
  tests/functional/storage/test_message_history_querying.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt

Include current system history in same user queries
  src/family_assistant/storage/repositories/message_history.py
  src/family_assistant/tools/communication.py
  tests/functional/storage/test_message_history_querying.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Protect indexed message history access
  src/family_assistant/storage/repositories/message_history.py
  src/family_assistant/storage/vector_search.py
  src/family_assistant/tools/documents.py
  tests/functional/storage/test_message_history_querying.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Tighten message history query access
  src/family_assistant/storage/repositories/message_history.py
  src/family_assistant/tools/communication.py
  tests/functional/storage/test_message_history_querying.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Address message history review findings
  src/family_assistant/storage/repositories/message_history.py
  src/family_assistant/storage/vector_search.py
  src/family_assistant/tools/communication.py
  tests/functional/storage/test_message_history_querying.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Protect message history document APIs
  src/family_assistant/assistant.py
  src/family_assistant/indexing/message_history_indexer.py
  src/family_assistant/web/routers/documents_api.py
  src/family_assistant/web/routers/vector_search.py
  src/family_assistant/web/routers/vector_search_api.py
  tests/functional/storage/test_message_history_querying.py
  tests/functional/web/api/test_documents_api_security.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Fix semantic history embedding injection
  src/family_assistant/tools/infrastructure.py
  tests/functional/storage/test_message_history_querying.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Allow structured history without embeddings
  src/family_assistant/tools/infrastructure.py
  tests/functional/storage/test_message_history_querying.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Search history tool calls on Postgres
  src/family_assistant/storage/repositories/message_history.py
  tests/functional/storage/test_message_history_querying.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Path conditions:
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  basedpyright: any of: \.py$
  code-conformance: any of: \.py$
  mdformat: any of: \.(md|markdown|mdown)$, but not: (?x)^( 
  docs/python-telegram-bot-abridged\.md|
  docs/python-telegram-bot-abridged-filtered\.md
)$

  yamlfmt: any of: \.(yaml|yml)$
  biome-format: any of: ^frontend/.*\.(js|jsx|ts|tsx|json)$, but not: ^frontend/(dev-dist/|package-lock\.json$)
  eslint: any of: ^frontend/.*\.(js|jsx|ts|tsx)$
