Repository werdnum/family-assistant: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt, biome-format, eslint

ruff-check:
  name: ruff-check
  entry: ruff check --fix --preview
  language: system

ruff-format:
  name: ruff-format
  entry: ruff format --preview
  language: system

basedpyright:
  name: basedpyright
  entry: basedpyright
  language: system
  pass_filenames: false

code-conformance:
  name: code-conformance
  entry: .ast-grep/check-conformance.py
  language: system
  pass_filenames: true

mdformat:
  name: mdformat
  entry: mdformat --wrap 100
  language: system

yamlfmt:
  name: yamlfmt
  language: golang
  entry: yamlfmt
  additional_dependencies:
  - github.com/google/yamlfmt/cmd/yamlfmt@v0.17.0

biome-format:
  name: biome-format
  entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx @biomejs/biome format --write "${files[@]}"' --
  language: system
  pass_filenames: true

eslint:
  name: eslint
  entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx eslint --fix "${files[@]}"' --
  language: system
  pass_filenames: true

Centralize path resolution, eliminating fragile deep __file__ traversals
  docs/development/technical-debt-catalog.md
  src/family_assistant/paths.py
  src/family_assistant/storage/__init__.py
  src/family_assistant/web/app_creator.py
  src/family_assistant/web/routers/asterisk_live_api.py
  src/family_assistant/web/routers/vite_pages.py
  src/family_assistant/web/template_utils.py
  tests/unit/test_paths.py
  tests/unit/web/test_asterisk_live_api.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Increase maxSessionTurns in Gemini PR review from 25 to 100
  .github/workflows/gemini-review.yml
Due: yamlfmt

feat: Add engineer processing profile for application debugging
  AGENTS.md
  defaults.yaml
  docs/design/engineer_profile.md
  docs/user/USER_GUIDE.md
  pyproject.toml
  src/family_assistant/tools/__init__.py
  src/family_assistant/tools/engineering.py
  tests/unit/tools/test_engineering.py
  uv.lock
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt

Fix 3 review issues: PostgreSQL READ ONLY, ripgrep injection, TOCTOU race
  src/family_assistant/tools/engineering.py
  tests/functional/tools/test_engineering_database.py
  tests/unit/tools/test_engineering.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Address review feedback: OOM fix, negative limit, result cap; use real DB tests
  src/family_assistant/tools/engineering.py
  tests/functional/tools/test_engineering_database.py
  tests/unit/tools/test_engineering.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Add ripgrep to production Dockerfile for engineer source code search
  Dockerfile
Due: none

fix: Address PR review round 2 - converter bugs, cancel race, pipeline fix
  src/family_assistant/a2a/converters.py
  src/family_assistant/processing.py
  src/family_assistant/storage/repositories/a2a_tasks.py
  tests/functional/storage/test_a2a_tasks.py
  tests/functional/web/api/test_a2a_api.py
  tests/unit/test_a2a_converters.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

fix: Tighten error handling in A2A protocol code
  src/family_assistant/a2a/converters.py
  src/family_assistant/web/routers/a2a_api.py
  tests/unit/test_a2a_converters.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

refactor: Migrate A2A types from custom Pydantic models to official a2a-sdk
  pyproject.toml
  src/family_assistant/a2a/converters.py
  src/family_assistant/a2a/types.py
  src/family_assistant/web/routers/a2a_api.py
  tests/functional/web/api/test_a2a_api.py
  tests/functional/web/ui/test_landing_page.py
  tests/unit/test_a2a_converters.py
  uv.lock
Due: ruff-check, ruff-format, basedpyright, code-conformance

feat: Add A2A (Agent-to-Agent) protocol server integration
  alembic/versions/2026_02_20-add_a2a_tasks_table.py
  src/family_assistant/a2a/__init__.py
  src/family_assistant/a2a/converters.py
  src/family_assistant/a2a/types.py
  src/family_assistant/storage/context.py
  src/family_assistant/storage/repositories/__init__.py
  src/family_assistant/storage/repositories/a2a_tasks.py
  src/family_assistant/web/app_creator.py
  src/family_assistant/web/auth.py
  src/family_assistant/web/routers/a2a_api.py
  src/family_assistant/web/routers/api.py
  tests/functional/web/api/test_a2a_api.py
  tests/unit/test_a2a_converters.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

fix: Address PR review round 3 - artifact_id, ValueError handling, early return
  src/family_assistant/processing.py
  src/family_assistant/web/routers/a2a_api.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

test: Add SDK-client-based A2A functional tests
  tests/functional/web/api/test_a2a_api.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

fix: Address PR review feedback for A2A streaming consistency
  src/family_assistant/web/routers/a2a_api.py
  tests/functional/web/api/test_a2a_api.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

fix: Address PR review round 4 - DB context, cancellation, minor fixes
  src/family_assistant/processing.py
  src/family_assistant/storage/repositories/a2a_tasks.py
  src/family_assistant/web/routers/a2a_api.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

fix: show specific error for Telegram file size limit
  src/family_assistant/telegram/handler.py
  tests/functional/telegram/test_file_too_big.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

chore: gitignore .claude/worktrees/
  .gitignore
Due: none

fix: install frontend deps in run-tests.sh for worktrees
  scripts/run-tests.sh
Due: none

fix: update mock target from ExtBot to Bot for get_file
  tests/functional/telegram/test_file_too_big.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

fix: use get_text() for large tool result size check
  src/family_assistant/processing.py
  tests/functional/tools/test_large_tool_results.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Clarify comment: explain data=None clears memory for stored attachment
  src/family_assistant/processing.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

fix: streaming 429 retry, typed exceptions, and user-friendly error messages
  src/family_assistant/llm/base.py
  src/family_assistant/llm/providers/google_genai_client.py
  src/family_assistant/llm/retrying_client.py
  src/family_assistant/processing.py
  tests/unit/llm/providers/test_google_genai_error_mapping.py
  tests/unit/llm/test_retrying_client_streaming.py
  tests/unit/processing/test_error_messages.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Address PR review feedback: streaming retry tracking, retry_after=0, error type mapping
  src/family_assistant/llm/retrying_client.py
  src/family_assistant/processing.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Fix context pruning: skip short/already-truncated messages, prevent retry after partial stream
  src/family_assistant/processing.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

fix: address PR review comments for context pruning
  src/family_assistant/processing.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

fix: prune context on ContextLengthError before giving up
  src/family_assistant/processing.py
  tests/unit/processing/test_context_pruning.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Fix tool ID scan for trailing UserMessage, update docstring, add test
  src/family_assistant/processing.py
  tests/unit/processing/test_context_pruning.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Fix flaky asterisk live API pacing test
  tests/unit/web/test_asterisk_live_api.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

fix: move DB context ownership into process_stream() for streaming SSE
  src/family_assistant/web/routers/chat_api.py
  tests/functional/web/api/test_chat_streaming.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Address remaining review comments on tool policy engine design
  docs/design/tool_policy_engine.md
Due: mdformat

Use trust_unspecified tag instead of configurable fallback
  docs/design/tool_policy_engine.md
Due: mdformat

Address PR review comments on tool policy engine design
  docs/design/tool_policy_engine.md
Due: mdformat

Make MCP untagged tool fallback configurable
  docs/design/tool_policy_engine.md
Due: mdformat

Add Tool Policy Engine design document
  docs/design/tool_policy_engine.md
Due: mdformat

Address review comments on tool policy engine design
  docs/design/tool_policy_engine.md
Due: mdformat

Use TYPE_CHECKING for proper type annotations on lazy-import helpers
  src/family_assistant/tools/video_generation.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

fix: prevent xdist worker crashes in video generation tests
  src/family_assistant/tools/video_generation.py
  tests/unit/tools/test_video_generation_tools.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

fix: raise error on attachment parts with missing registry, keep image_url in content
  src/family_assistant/processing.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

refactor: collapse redundant image_url branch into else
  src/family_assistant/processing.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Update skills implementation plan with current status and next milestones
  docs/design/skills-implementation-plan.md
Due: mdformat

Add design doc for built-in skills and include_system_docs convergence
  docs/design/builtin-skills-and-convergence.md
Due: mdformat

Path conditions:
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  basedpyright: any of: \.py$
  code-conformance: any of: \.py$
  mdformat: any of: \.(md|markdown|mdown)$, but not: (?x)^( 
  docs/python-telegram-bot-abridged\.md|
  docs/python-telegram-bot-abridged-filtered\.md
)$

  yamlfmt: any of: \.(yaml|yml)$
  biome-format: any of: ^frontend/.*\.(js|jsx|ts|tsx|json)$, but not: ^frontend/(dev-dist/|package-lock\.json$)
  eslint: any of: ^frontend/.*\.(js|jsx|ts|tsx)$
