Repository werdnum/family-assistant: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, basedpyright, mdformat, biome-format, eslint

ruff-check:
  name: ruff-check
  entry: ruff check --fix --preview
  language: system

ruff-format:
  name: ruff-format
  entry: ruff format --preview
  language: system

basedpyright:
  name: basedpyright
  entry: basedpyright
  language: system
  pass_filenames: false

mdformat:
  name: mdformat
  entry: mdformat --wrap 100
  language: system

biome-format:
  name: biome-format
  entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx @biomejs/biome format --write "${files[@]}"' --
  language: system
  pass_filenames: true

eslint:
  name: eslint
  entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx eslint --fix "${files[@]}"' --
  language: system
  pass_filenames: true

Add extra guidance to "no tests run" case
  .claude/test-verification-core.sh
Due: none

Restore unsafe fixes flag in Ruff diff
  .claude/lint-hook.py
Due: ruff-check, ruff-format, basedpyright

Optimize container builds for reduced GitHub Actions minutes
  .devcontainer/Dockerfile
  .devcontainer/Dockerfile.ci
  .github/workflows/build-containers.yml
  .github/workflows/ci-with-devcontainer.yml
Due: none

Fix CI by using uv sync to respect lock file
  .devcontainer/setup-workspace.sh
  .devcontainer/test-container-simple.sh
  .devcontainer/test-in-container.sh
Due: none

Fix CI container build by pushing base image to registry
  .github/workflows/ci-with-devcontainer.yml
Due: none

Fix CI dependency installation by using --extra dev instead of --dev
  .devcontainer/setup-workspace.sh
Due: none

Fix CI container registry permissions and test verification
  .claude/test-verification-core.sh
  .github/workflows/ci-with-devcontainer.yml
Due: none

Implement attachment API for Starlark scripts with integration tests
  scripts/README.md
  src/family_assistant/scripting/apis/attachments.py
  src/family_assistant/scripting/engine.py
  src/family_assistant/tools/execute_script.py
  tests/functional/test_script_attachment_api.py
Due: ruff-check, ruff-format, basedpyright, mdformat

Implement multimodal attachment registry with proper authentication
  REVIEW_GUIDELINES.md
  alembic/versions/2025_09_22-9ead44a79229_add_attachment_metadata_table_for_.py
  docs/design/multimodal-manipulation.md
  src/family_assistant/services/attachment_registry.py
  src/family_assistant/storage/base.py
  src/family_assistant/web/dependencies.py
  src/family_assistant/web/models.py
  src/family_assistant/web/routers/attachments_api.py
  src/family_assistant/web/routers/chat_api.py
  tests/functional/web/conftest.py
  tests/functional/web/test_chat_api_attachments.py
  tests/functional/web/test_chat_attachment_processing.py
Due: ruff-check, ruff-format, basedpyright, mdformat

Implement automatic tool attachment display with LLM override
  docs/design/multimodal-manipulation.md
  prompts.yaml
  src/family_assistant/processing.py
  src/family_assistant/tools/home_assistant.py
  src/family_assistant/tools/image_generation.py
  src/family_assistant/tools/image_tools.py
  src/family_assistant/tools/mock_image_tools.py
  tests/unit/test_processing_multimodal_integration.py
Due: ruff-check, ruff-format, basedpyright, mdformat

Implement unified attachment API for scripts with tools.execute integration
  docs/design/multimodal-manipulation.md
  src/family_assistant/processing.py
  src/family_assistant/scripting/apis/tools.py
  src/family_assistant/scripting/engine.py
  src/family_assistant/task_worker.py
  src/family_assistant/tools/types.py
Due: ruff-check, ruff-format, basedpyright, mdformat

Harden attachment access control in delegate_to_service tool
  src/family_assistant/tools/services.py
  tests/functional/test_delegation.py
Due: ruff-check, ruff-format, basedpyright

Fix attachment processing to use proper ScriptAttachment objects
  src/family_assistant/scripting/apis/attachments.py
  src/family_assistant/scripting/apis/tools.py
  src/family_assistant/tools/attachment_utils.py
  src/family_assistant/tools/communication.py
  src/family_assistant/tools/image_tools.py
  src/family_assistant/tools/infrastructure.py
  src/family_assistant/tools/mock_image_tools.py
Due: ruff-check, ruff-format, basedpyright

Fix multimodal attachment handling by providing LLM with attachment IDs
  prompts.yaml
  src/family_assistant/processing.py
Due: ruff-check, ruff-format, basedpyright

Implement ScriptAttachment wrapper with security and filename fixes
  src/family_assistant/scripting/apis/attachments.py
  src/family_assistant/scripting/apis/tools.py
  src/family_assistant/tools/attachments.py
  src/family_assistant/tools/image_tools.py
  src/family_assistant/tools/mock_image_tools.py
  tests/functional/test_attachment_tools.py
Due: ruff-check, ruff-format, basedpyright

Fix AttachToResponseTool for existing conversations without enriched attachment metadata
  frontend/src/chat/AttachToResponseTool.tsx
  tests/functional/web/test_chat_ui_attachment_response.py
Due: ruff-check, ruff-format, basedpyright, biome-format, eslint

Fix image generation - properly decode Base64 image data from Gemini
  src/family_assistant/tools/image_backends.py
  src/family_assistant/tools/image_generation.py
Due: ruff-check, ruff-format, basedpyright

Implement Camera → Annotate → Response workflow test with mock tools
  src/family_assistant/tools/__init__.py
  src/family_assistant/tools/communication.py
  src/family_assistant/tools/mock_image_tools.py
  tests/functional/test_attachment_workflows.py
Due: ruff-check, ruff-format, basedpyright

Implement tool-based attachment rendering for attach_to_response
  frontend/src/chat/AttachToResponseTool.tsx
  frontend/src/chat/ChatApp.tsx
  frontend/src/chat/ToolUI.jsx
  frontend/src/chat/ToolWithConfirmation.tsx
  frontend/src/chat/__tests__/StreamingAndToolCall.test.tsx
  frontend/src/chat/useStreamingResponse.js
  frontend/src/components/assistant-ui/attachment.tsx
  src/family_assistant/processing.py
  src/family_assistant/tools/attachment_utils.py
  src/family_assistant/web/routers/chat_api.py
  tests/functional/web/conftest.py
  tests/functional/web/test_chat_ui_attachment_response.py
  tests/functional/web/test_chat_ui_flow.py
Due: ruff-check, ruff-format, basedpyright, biome-format, eslint

Add local testing plan and image highlighting tool for multimodal attachments
  docs/design/multimodal-manipulation.md
  src/family_assistant/tools/__init__.py
  src/family_assistant/tools/image_tools.py
Due: ruff-check, ruff-format, basedpyright, mdformat

Add Event → Script → Camera → Wake LLM workflow test
  tests/functional/test_attachment_workflows.py
Due: ruff-check, ruff-format, basedpyright

Fix highlight_image tool error and attachment parameter processing
  src/family_assistant/tools/attachment_utils.py
  src/family_assistant/tools/infrastructure.py
  tests/unit/test_tools_infrastructure.py
Due: ruff-check, ruff-format, basedpyright

Implement multimodal attachment support and refactor ProcessingService
  src/family_assistant/assistant.py
  src/family_assistant/interfaces.py
  src/family_assistant/processing.py
  src/family_assistant/scripting/apis/attachments.py
  src/family_assistant/scripting/apis/tools.py
  src/family_assistant/scripting/engine.py
  src/family_assistant/task_worker.py
  src/family_assistant/telegram_bot.py
  src/family_assistant/tools/__init__.py
  src/family_assistant/tools/attachments.py
  src/family_assistant/tools/communication.py
  src/family_assistant/tools/services.py
  src/family_assistant/web/routers/chat_api.py
  test_output.log
  tests/functional/test_attachment_tools.py
  tests/functional/test_calendar_integration.py
  tests/functional/test_delegation.py
  tests/functional/test_home_assistant_camera_tool.py
  tests/functional/test_home_assistant_template_tool.py
  tests/functional/test_mcp_integration.py
  tests/functional/test_note_tools.py
  tests/functional/test_processing_profiles.py
  tests/functional/test_recurring_task_timezone.py
  tests/functional/test_scheduled_script_execution.py
  tests/functional/test_script_attachment_api.py
  tests/functional/test_smoke_callback.py
  tests/functional/test_smoke_notes.py
Due: ruff-check, ruff-format, basedpyright

Remove temporary test file
  test_simple_tool_call.py
Due: ruff-check, ruff-format, basedpyright

Enhance attachment display with image previews and download links
  frontend/src/chat/AttachToResponseTool.tsx
Due: biome-format, eslint

Fix attachment display issue in web UI
  frontend/src/chat/AttachToResponseTool.tsx
  frontend/src/test/mocks/handlers.ts
  test_simple_tool_call.py
  tests/functional/web/test_chat_ui_attachment_response.py
Due: ruff-check, ruff-format, basedpyright, biome-format, eslint

Fix lint errors and add migration for attachment foreign key
  alembic/versions/2025_09_24-f2e47092d2be_add_foreign_key_constraint_for_message_.py
  src/family_assistant/storage/base.py
Due: ruff-check, ruff-format, basedpyright

Fix User Image workflow test for code review compliance
  tests/functional/test_attachment_workflows.py
Due: ruff-check, ruff-format, basedpyright

Complete multimodal attachment manipulation implementation
  config.yaml
  docs/design/multimodal-manipulation.md
  docs/user/USER_GUIDE.md
  src/family_assistant/scripting/apis/tools.py
  src/family_assistant/tools/__init__.py
  src/family_assistant/tools/communication.py
  src/family_assistant/tools/infrastructure.py
  tests/functional/scripting/test_direct_tool_callables.py
  tests/functional/scripting/test_tools_api.py
  tests/unit/test_attachment_schema_translation.py
  tests/unit/test_attachment_security_boundaries.py
  tests/unit/test_get_attachment_info_tool.py
Due: ruff-check, ruff-format, basedpyright, mdformat

Path conditions:
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  basedpyright: any of: \.py$
  mdformat: any of: \.(md|markdown|mdown)$, but not: (?x)^( 
  docs/python-telegram-bot-abridged\.md|
  docs/python-telegram-bot-abridged-filtered\.md
)$

  biome-format: any of: ^frontend/.*\.(js|jsx|ts|tsx|json)$
  eslint: any of: ^frontend/.*\.(js|jsx|ts|tsx)$
