Repository werdnum/family-assistant: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt, biome-format, eslint

ruff-check:
  name: ruff-check
  entry: ruff check --fix --preview
  language: system

ruff-format:
  name: ruff-format
  entry: ruff format --preview
  language: system

basedpyright:
  name: basedpyright
  entry: basedpyright
  language: system
  pass_filenames: false

code-conformance:
  name: code-conformance
  entry: .ast-grep/check-conformance.py
  language: system
  pass_filenames: true

mdformat:
  name: mdformat
  entry: mdformat --wrap 100
  language: system

yamlfmt:
  name: yamlfmt
  language: golang
  entry: yamlfmt
  additional_dependencies:
  - github.com/google/yamlfmt/cmd/yamlfmt@v0.17.0

biome-format:
  name: biome-format
  entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx @biomejs/biome format --write "${files[@]}"' --
  language: system
  pass_filenames: true

eslint:
  name: eslint
  entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx eslint --fix "${files[@]}"' --
  language: system
  pass_filenames: true

Epoch-fence ordinary (near-expiry) refreshes too
  ios/FamilyAssistant/FamilyAssistant/Auth/AuthManager.swift
Due: none

Surface a global sign-in-again prompt on terminal auth failure
  ios/FamilyAssistant/FamilyAssistant/ContentView.swift
Due: none

Recheck cancellation on a failed forced refresh in turn-start retry
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatViewModel.swift
Due: none

Add dedicated send-suspend path for iOS background policy
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatViewModel.swift
  ios/FamilyAssistant/FamilyAssistant/Chat/SyncCoordinator.swift
  ios/FamilyAssistant/FamilyAssistantTests/ChatViewModelTests.swift
  ios/FamilyAssistant/FamilyAssistantTests/SyncCoordinatorTests.swift
Due: none

Apply background policy in the sync coordinator (4.3)
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatViewModel.swift
  ios/FamilyAssistant/FamilyAssistant/Chat/SyncCoordinator.swift
  ios/FamilyAssistant/FamilyAssistantTests/ChatViewModelTests.swift
  ios/FamilyAssistant/FamilyAssistantTests/SyncCoordinatorTests.swift
Due: none

iOS sync M2: ResyncOrchestrator coalesced foreground resync (4.4)
  ios/FamilyAssistant/FamilyAssistant.xcodeproj/project.pbxproj
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatViewModel.swift
  ios/FamilyAssistant/FamilyAssistant/Chat/ResyncOrchestrator.swift
  ios/FamilyAssistant/FamilyAssistant/Chat/SyncCoordinator.swift
  ios/FamilyAssistant/FamilyAssistantTests/ResyncOrchestratorTests.swift
  ios/FamilyAssistant/FamilyAssistantTests/SyncCoordinatorTests.swift
Due: none

iOS sync M2: subscribe-then-buffer resync ordering (4.4 steps 3/5/6)
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatViewModel.swift
  ios/FamilyAssistant/FamilyAssistant/Chat/ResyncOrchestrator.swift
  ios/FamilyAssistant/FamilyAssistantTests/ChatViewModelTests.swift
  ios/FamilyAssistant/FamilyAssistantTests/ResyncOrchestratorTests.swift
Due: none

iOS sync M2: foreground reattachment end-to-end (§4.3)
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatViewModel.swift
  ios/FamilyAssistant/FamilyAssistant/Chat/ResyncOrchestrator.swift
  ios/FamilyAssistant/FamilyAssistant/Chat/SyncCoordinator.swift
  ios/FamilyAssistant/FamilyAssistantTests/ChatViewModelTests.swift
  ios/FamilyAssistant/FamilyAssistantTests/ResyncOrchestratorTests.swift
Due: none

iOS sync M2: reachability recovery + push-hint refresh (§4.4/§4.6)
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatViewModel.swift
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatViews.swift
  ios/FamilyAssistant/FamilyAssistant/Chat/ResyncOrchestrator.swift
  ios/FamilyAssistant/FamilyAssistant/Chat/SyncCoordinator.swift
  ios/FamilyAssistant/FamilyAssistant/Notifications/AppDelegate.swift
  ios/FamilyAssistant/FamilyAssistant/Notifications/NotificationManager.swift
  ios/FamilyAssistant/FamilyAssistantTests/ChatViewModelTests.swift
  ios/FamilyAssistant/FamilyAssistantTests/NotificationManagerTests.swift
  ios/FamilyAssistant/FamilyAssistantTests/ResyncOrchestratorTests.swift
  ios/FamilyAssistant/FamilyAssistantTests/SyncCoordinatorTests.swift
Due: none

Restore steer/stop mode when reattaching a still-running suspended turn
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatViewModel.swift
  ios/FamilyAssistant/FamilyAssistantTests/ChatViewModelTests.swift
Due: none

iOS sync M2: route re-auth recovery through the coalesced resync
  ios/FamilyAssistant/FamilyAssistant/Chat/SyncCoordinator.swift
  ios/FamilyAssistant/FamilyAssistantTests/SyncCoordinatorTests.swift
Due: none

iOS sync M2: scriptable UI-test streams + scene-wiring XCUITests (§6.2)
  ios/FamilyAssistant/FamilyAssistant.xcodeproj/project.pbxproj
  ios/FamilyAssistant/FamilyAssistant/UITesting/UITestConfiguration.swift
  ios/FamilyAssistant/FamilyAssistantUITests/ChatSceneWiringUITests.swift
Due: none

Fix resync supersede/auth-strand/selection-switch races (F2/F3/F4)
  ios/FamilyAssistant/FamilyAssistant/Chat/ResyncOrchestrator.swift
  ios/FamilyAssistant/FamilyAssistantTests/ResyncOrchestratorTests.swift
Due: none

Preserve suspended send end-to-end; silence resync/push refresh (F1/F5)
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatViewModel.swift
  ios/FamilyAssistant/FamilyAssistantTests/ChatViewModelTests.swift
Due: none

Fix: resolve remaining conflict markers in tests
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatViewModel.swift
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatViews.swift
  ios/FamilyAssistant/FamilyAssistant/Chat/ResyncOrchestrator.swift
  ios/FamilyAssistant/FamilyAssistantTests/ChatViewModelTests.swift
  ios/FamilyAssistant/FamilyAssistantTests/ResyncOrchestratorTests.swift
  ios/FamilyAssistant/FamilyAssistantTests/SyncCoordinatorTests.swift
Due: none

Fix: add missing protocol methods to test delegates
  ios/FamilyAssistant/FamilyAssistantTests/SyncCoordinatorTests.swift
Due: none

Fix: remove conversationID argument from runResync() call
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatViewModel.swift
Due: none

Fix SyncCoordinatorTests for M1 centralized-auth init and 3-tuple helper
  ios/FamilyAssistant/FamilyAssistantTests/SyncCoordinatorTests.swift
Due: none

iOS sync M2: guard active-send resync merge and overlapping send
  docs/design/ios-state-sync-improvements.md
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatViewModel.swift
  ios/FamilyAssistant/FamilyAssistantTests/ChatViewModelTests.swift
Due: mdformat

iOS sync M2: close remaining active-send/resync interleavings
  docs/design/ios-state-sync-improvements.md
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatViewModel.swift
  ios/FamilyAssistant/FamilyAssistant/Chat/ResyncOrchestrator.swift
  ios/FamilyAssistant/FamilyAssistantTests/ChatViewModelTests.swift
Due: mdformat

iOS sync M2: tear down resync on deinit, fix POST-suspend error, push-hint mount
  docs/design/ios-state-sync-improvements.md
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatViewModel.swift
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatViews.swift
  ios/FamilyAssistant/FamilyAssistant/Chat/ResyncOrchestrator.swift
  ios/FamilyAssistant/FamilyAssistantTests/ChatViewModelTests.swift
Due: mdformat

iOS sync M2: remove orphaned suspend placeholder, drain reattach follow-ups
  docs/design/ios-state-sync-improvements.md
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatViewModel.swift
  ios/FamilyAssistant/FamilyAssistantTests/ChatViewModelTests.swift
Due: mdformat

iOS sync M2: fix resync TOCTOU, remove the suspended-send block machinery
  docs/design/ios-state-sync-improvements.md
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatViewModel.swift
  ios/FamilyAssistant/FamilyAssistantTests/ChatViewModelTests.swift
Due: mdformat

iOS sync M2: guard wrong-thread merge and stale reattach marker
  docs/design/ios-state-sync-improvements.md
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatViewModel.swift
  ios/FamilyAssistant/FamilyAssistantTests/ChatViewModelTests.swift
Due: mdformat

iOS sync M2: capture self weakly in queued resync/refresh effects
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatViewModel.swift
Due: none

iOS sync M2: weak self in updateSelection's selectConversation task
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatViewModel.swift
Due: none

Add iOS sync-churn diagnostic telemetry (observational only)
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatViewModel.swift
  ios/FamilyAssistant/FamilyAssistant/Chat/PathMonitoring.swift
  ios/FamilyAssistant/FamilyAssistant/Chat/ResyncOrchestrator.swift
  ios/FamilyAssistant/FamilyAssistant/Chat/SyncCoordinator.swift
  ios/FamilyAssistant/FamilyAssistantTests/SyncCoordinatorTests.swift
Due: none

Label background teardown as `background`, not `foreground` (codex P2)
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatViewModel.swift
  ios/FamilyAssistant/FamilyAssistant/Chat/SyncCoordinator.swift
  ios/FamilyAssistant/FamilyAssistantTests/ChatViewModelTests.swift
Due: none

Stabilize iOS tests and make them merge-blocking
  .github/workflows/ios-tests.yml
  ios/FamilyAssistant/FamilyAssistant/Auth/AuthManager.swift
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatAPIClient.swift
  ios/FamilyAssistant/FamilyAssistant/FamilyAssistantApp.swift
  ios/FamilyAssistant/FamilyAssistantTests/AuthManagerTests.swift
  ios/FamilyAssistant/FamilyAssistantTests/ChatAPIClientTests.swift
Due: yamlfmt

Gate required CI on iOS tests
  .github/workflows/ci-with-devcontainer.yml
  .github/workflows/ios-tests.yml
Due: yamlfmt

Isolate reusable iOS workflow concurrency
  .github/workflows/ios-tests.yml
Due: yamlfmt

Run merge-blocking iOS tests only for iOS changes
  .github/workflows/ci-with-devcontainer.yml
Due: yamlfmt

Exercise iOS workflow changes in required CI
  .github/workflows/ci-with-devcontainer.yml
Due: yamlfmt

Exercise iOS tests when caller CI changes
  .github/workflows/ci-with-devcontainer.yml
Due: yamlfmt

Defer iOS chat sync side effects until bootstrap (fix VM recreation storm)
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatViewModel.swift
  ios/FamilyAssistant/FamilyAssistant/Chat/SyncCoordinator.swift
  ios/FamilyAssistant/FamilyAssistantTests/ChatViewModelTests.swift
  ios/FamilyAssistant/FamilyAssistantTests/SyncCoordinatorTests.swift
Due: none

Never surface a cancelled operation as a modal (fix CI flake)
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatViewModel.swift
  ios/FamilyAssistant/FamilyAssistantTests/ChatViewModelTests.swift
Due: none

Forward configured timezone to remote browser-server
  src/family_assistant/tools/browser_backend.py
  tests/unit/tools/test_browser_backend.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Apply configured timezone to local Playwright browser session
  src/family_assistant/tools/browser_session.py
  tests/unit/tools/test_browser_session.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Justify SLF001 private-access suppression in browser backend test
  tests/unit/tools/test_browser_backend.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Move resync lifecycle guard and preserve overflow diagnostics
  ios/FamilyAssistant/FamilyAssistant/Chat/ResyncOrchestrator.swift
  ios/FamilyAssistant/FamilyAssistant/Chat/SyncCoordinator.swift
  ios/FamilyAssistant/FamilyAssistantTests/ResyncOrchestratorTests.swift
  ios/FamilyAssistant/FamilyAssistantTests/SyncCoordinatorTests.swift
Due: none

Path conditions:
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  basedpyright: any of: \.py$
  code-conformance: any of: \.py$
  mdformat: any of: \.(md|markdown|mdown)$, but not: (?x)^( 
  docs/python-telegram-bot-abridged\.md|
  docs/python-telegram-bot-abridged-filtered\.md
)$

  yamlfmt: any of: \.(yaml|yml)$
  biome-format: any of: ^frontend/.*\.(js|jsx|ts|tsx|json)$, but not: ^frontend/(dev-dist/|package-lock\.json$)
  eslint: any of: ^frontend/.*\.(js|jsx|ts|tsx)$
