Repository werdnum/family-assistant: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt, biome-format, eslint

ruff-check:
  name: ruff-check
  entry: ruff check --fix --preview
  language: system

ruff-format:
  name: ruff-format
  entry: ruff format --preview
  language: system

basedpyright:
  name: basedpyright
  entry: basedpyright
  language: system
  pass_filenames: false

code-conformance:
  name: code-conformance
  entry: .ast-grep/check-conformance.py
  language: system
  pass_filenames: true

mdformat:
  name: mdformat
  entry: mdformat --wrap 100
  language: system

yamlfmt:
  name: yamlfmt
  language: golang
  entry: yamlfmt
  additional_dependencies:
  - github.com/google/yamlfmt/cmd/yamlfmt@v0.17.0

biome-format:
  name: biome-format
  entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx @biomejs/biome format --write "${files[@]}"' --
  language: system
  pass_filenames: true

eslint:
  name: eslint
  entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx eslint --fix "${files[@]}"' --
  language: system
  pass_filenames: true

fix(ios): repair voice audio feedback
  docs/user/USER_GUIDE.md
  frontend/src/voice/StatusIndicator.tsx
  frontend/src/voice/VoicePage.tsx
  frontend/src/voice/audioUtils.ts
  frontend/src/voice/types.ts
  frontend/src/voice/useAudioCapture.ts
  frontend/src/voice/useAudioPlayback.ts
  frontend/src/voice/useGeminiLive.ts
  ios/FamilyAssistant/FamilyAssistant/Voice/GeminiLiveClient.swift
  ios/FamilyAssistant/FamilyAssistant/Voice/GeminiLiveCodec.swift
  ios/FamilyAssistant/FamilyAssistant/Voice/VoiceAudioEngine.swift
  ios/FamilyAssistant/FamilyAssistant/Voice/VoiceSessionViewModel.swift
  ios/FamilyAssistant/FamilyAssistant/Voice/VoiceView.swift
  ios/FamilyAssistant/FamilyAssistantTests/GeminiLiveClientTests.swift
  ios/FamilyAssistant/FamilyAssistantTests/GeminiLiveCodecTests.swift
  ios/FamilyAssistant/FamilyAssistantTests/VoiceSessionViewModelTests.swift
  ios/FamilyAssistant/FamilyAssistantUITests/FamilyAssistantUITests.swift
  prompts.yaml
  tests/functional/web/ui/test_voice_integration.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt, biome-format, eslint

feat(ios): add share sheet attachments
  docs/user/USER_GUIDE.md
  ios/FamilyAssistant/FamilyAssistant/AppRouting.swift
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatViewModel.swift
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatViews.swift
  ios/FamilyAssistant/FamilyAssistant/ContentView.swift
  ios/FamilyAssistant/FamilyAssistant/FamilyAssistantApp.swift
  ios/FamilyAssistant/FamilyAssistant/Info.plist
  ios/FamilyAssistant/FamilyAssistantTests/ChatViewModelTests.swift
  ios/FamilyAssistant/FamilyAssistantTests/RouteTests.swift
  prompts.yaml
Due: mdformat, yamlfmt

feat(ios): add share sheet attachments (#977)
  docs/user/USER_GUIDE.md
  ios/FamilyAssistant/FamilyAssistant/AppRouting.swift
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatViewModel.swift
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatViews.swift
  ios/FamilyAssistant/FamilyAssistant/ContentView.swift
  ios/FamilyAssistant/FamilyAssistant/FamilyAssistantApp.swift
  ios/FamilyAssistant/FamilyAssistant/Info.plist
  ios/FamilyAssistant/FamilyAssistantTests/ChatViewModelTests.swift
  ios/FamilyAssistant/FamilyAssistantTests/RouteTests.swift
  prompts.yaml
Due: mdformat, yamlfmt

Add native iOS voice shortcuts
  docs/user/USER_GUIDE.md
  ios/FamilyAssistant/FamilyAssistant/AppRouting.swift
  ios/FamilyAssistant/FamilyAssistant/ContentView.swift
  ios/FamilyAssistant/FamilyAssistant/Info.plist
  ios/FamilyAssistant/FamilyAssistant/Intents/IntentSupport.swift
  ios/FamilyAssistant/FamilyAssistant/MoreTabView.swift
  ios/FamilyAssistant/FamilyAssistant/Notifications/AppDelegate.swift
  ios/FamilyAssistant/FamilyAssistant/RootTabView.swift
  ios/FamilyAssistant/FamilyAssistantTests/AppIntentsTests.swift
  ios/FamilyAssistant/FamilyAssistantTests/RouteTests.swift
  ios/FamilyAssistant/README.md
  prompts.yaml
Due: mdformat, yamlfmt

Fix native voice tab restart
  ios/FamilyAssistant/FamilyAssistant/Voice/VoiceView.swift
  ios/FamilyAssistant/FamilyAssistantUITests/FamilyAssistantUITests.swift
Due: none

Wire voice tab close action
  ios/FamilyAssistant/FamilyAssistant/RootTabView.swift
  ios/FamilyAssistant/FamilyAssistant/Voice/VoiceView.swift
Due: none

[codex] Add native iOS voice shortcuts (#976)
  docs/user/USER_GUIDE.md
  ios/FamilyAssistant/FamilyAssistant/AppRouting.swift
  ios/FamilyAssistant/FamilyAssistant/ContentView.swift
  ios/FamilyAssistant/FamilyAssistant/Info.plist
  ios/FamilyAssistant/FamilyAssistant/Intents/IntentSupport.swift
  ios/FamilyAssistant/FamilyAssistant/MoreTabView.swift
  ios/FamilyAssistant/FamilyAssistant/Notifications/AppDelegate.swift
  ios/FamilyAssistant/FamilyAssistant/RootTabView.swift
  ios/FamilyAssistant/FamilyAssistant/Voice/VoiceView.swift
  ios/FamilyAssistant/FamilyAssistantTests/AppIntentsTests.swift
  ios/FamilyAssistant/FamilyAssistantTests/RouteTests.swift
  ios/FamilyAssistant/FamilyAssistantUITests/FamilyAssistantUITests.swift
  ios/FamilyAssistant/README.md
  prompts.yaml
Due: mdformat, yamlfmt

style: reformat markdown to satisfy mdformat --wrap 100
  .claude/README_HOOKS.md
  docs/design/ios-chat-layout-watchdog-crash.md
Due: mdformat

Upgrade google-genai SDK
  pyproject.toml
  src/family_assistant/llm/providers/google_genai_client.py
  tests/llm/test_google_deep_research.py
  uv.lock
Due: ruff-check, ruff-format, basedpyright, code-conformance

style: reformat markdown to satisfy mdformat --wrap 100 (#981)
  .claude/README_HOOKS.md
  docs/design/ios-chat-layout-watchdog-crash.md
Due: mdformat

Upgrade google-genai SDK (#980)
  pyproject.toml
  src/family_assistant/llm/providers/google_genai_client.py
  tests/llm/test_google_deep_research.py
  uv.lock
Due: ruff-check, ruff-format, basedpyright, code-conformance

feat(media): add Nano Banana Lite image and Gemini Omni Flash video models
  defaults.yaml
  docs/user/USER_GUIDE.md
  src/family_assistant/config_models.py
  src/family_assistant/tools/image_backends.py
  src/family_assistant/tools/image_generation.py
  src/family_assistant/tools/video_backends.py
  src/family_assistant/tools/video_generation.py
  tests/unit/tools/test_image_generation_tools.py
  tests/unit/tools/test_video_backends.py
  tests/unit/tools/test_video_generation_tools.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt

refactor(video): dedupe Veo duration-forcing, base64 off event loop
  src/family_assistant/tools/video_backends.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

test(image): real replay-mode integration test for Nano Banana Lite
  src/family_assistant/tools/image_backends.py
  tests/cassettes/gemini/integration.test_gemini_image_generation/test_generate_image_nano_banana_lite/mldev.json
  tests/integration/test_gemini_image_generation.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

feat(video): wire Omni Flash to the 2.x Interactions API + real replay test
  src/family_assistant/tools/video_backends.py
  src/family_assistant/tools/video_generation.py
  tests/cassettes/llm/test_omni_flash_video_generation.yaml
  tests/integration/test_gemini_omni_video_generation.py
  tests/unit/tools/test_video_backends.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, yamlfmt

fix(video): narrow _is_veo_model instead of suppressing union-attr
  src/family_assistant/tools/video_generation.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

fix(ucp): resolve checkout-only merchants that omit the services block
  docs/design/ucp-cart-response-and-cross-origin-endpoints.md
  docs/user/USER_GUIDE.md
  src/family_assistant/services/ucp.py
  src/family_assistant/tools/shopping.py
  tests/unit/services/test_ucp_service.py
  tests/unit/tools/test_shopping_ucp_contract.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

fix(ucp): probe input subpath during discovery; drop the Shopify fallback
  docs/design/ucp-cart-response-and-cross-origin-endpoints.md
  docs/design/ucp-client-prerequisites.md
  docs/user/USER_GUIDE.md
  src/family_assistant/services/ucp.py
  src/family_assistant/tools/shopping.py
  tests/unit/services/test_ucp_service.py
  tests/unit/tools/test_shopping_tools.py
  tests/unit/tools/test_shopping_ucp_contract.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

fix(ucp): address Codex review — root fallback, subpath binds, no guessed base
  docs/design/ucp-cart-response-and-cross-origin-endpoints.md
  src/family_assistant/services/ucp.py
  tests/unit/services/test_ucp_service.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

fix(ucp): treat a non-UCP 2xx probe as a miss and continue to the root
  src/family_assistant/services/ucp.py
  tests/unit/services/test_ucp_service.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

test(ios): stabilize chat-layout budget and APNs registration tests
  ios/FamilyAssistant/FamilyAssistantTests/ChatLayoutBudgetTests.swift
  ios/FamilyAssistant/FamilyAssistantTests/NotificationManagerTests.swift
Due: none

fix(ios): add live voice debug harness
  ios/FamilyAssistant/FamilyAssistant/Auth/KeychainHelper.swift
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatAPIClient.swift
  ios/FamilyAssistant/FamilyAssistant/UITesting/UITestConfiguration.swift
  ios/FamilyAssistant/FamilyAssistant/Voice/GeminiLiveCodec.swift
  ios/FamilyAssistant/FamilyAssistant/Voice/VoiceAudioEngine.swift
  ios/FamilyAssistant/FamilyAssistant/Voice/VoiceView.swift
  ios/FamilyAssistant/FamilyAssistantTests/EphemeralTokenTests.swift
  ios/FamilyAssistant/FamilyAssistantTests/GeminiLiveClientTests.swift
  ios/FamilyAssistant/FamilyAssistantTests/GeminiLiveCodecTests.swift
Due: none

Guard simulator voice mic startup
  ios/FamilyAssistant/FamilyAssistant/Voice/VoiceAudioEngine.swift
  ios/FamilyAssistant/FamilyAssistantTests/VoiceSessionViewModelTests.swift
Due: none

Fix simulator voice audio harness cancellation
  docs/design/ios-voice-mode.md
  ios/FamilyAssistant/FamilyAssistant.xcodeproj/project.pbxproj
  ios/FamilyAssistant/FamilyAssistant/Voice/VoiceAudioEngine.swift
  ios/FamilyAssistant/FamilyAssistantTests/SimulatorVoiceAudioIOTests.swift
Due: mdformat

chore: baseline new ruff preview rules
  pyproject.toml
  src/family_assistant/llm/providers/anthropic_client.py
  src/family_assistant/llm/providers/google_genai_client.py
  src/family_assistant/llm/retrying_client.py
  src/family_assistant/processing/service.py
  src/family_assistant/web/dependencies.py
  src/family_assistant/web/routers/a2a_api.py
  tests/functional/conftest.py
  tests/functional/test_api_endpoints.py
  tests/functional/vector_search/test_vector_search.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

fix: handle assistant-ui react update
  frontend/src/chat/ToolGroup.tsx
  frontend/src/chat/attachmentAdapter.js
Due: biome-format, eslint

fix: load test conftest in adaptive pytest collection
  scripts/run_pytest_adaptive.py
  tests/unit/test_run_pytest_adaptive.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

fix: collapse completed attachment tool groups
  frontend/src/chat/ChatApp.tsx
  frontend/src/chat/ToolGroup.tsx
Due: biome-format, eslint

ci: load test conftest for playwright jobs
  .github/workflows/ci-with-devcontainer.yml
Due: yamlfmt

docs: design for profile-confined note writes and ops automation
  docs/design/profile-confined-note-writes-and-automation-approvals.md
Due: mdformat

docs: rely on destination quarantine for unattended ticket filing
  docs/design/profile-confined-note-writes-and-automation-approvals.md
Due: mdformat

feat(notes): enforce visibility confinement at the repository layer
  .ast-grep/exemptions.yml
  .ast-grep/rules/no-unconstrained-note-write-policy.yml
  src/family_assistant/assistant.py
  src/family_assistant/config_models.py
  src/family_assistant/processing/tool_execution.py
  src/family_assistant/processing/types.py
  src/family_assistant/storage/repositories/notes.py
  src/family_assistant/task_worker.py
  src/family_assistant/tools/confirmation.py
  src/family_assistant/tools/notes.py
  src/family_assistant/tools/types.py
  src/family_assistant/tools/workspace_files.py
  src/family_assistant/web/routers/asterisk_live_api.py
  src/family_assistant/web/routers/notes_api.py
  tests/functional/indexing/test_notes_basic.py
  tests/functional/indexing/test_notes_search.py
  tests/functional/notes/test_context_provider.py
  tests/functional/notes/test_get_note_skills.py
  tests/functional/notes/test_note_visibility.py
  tests/functional/notes/test_note_write_policy.py
  tests/functional/notes/test_prompt_inclusion.py
  tests/functional/notes/test_skill_catalog.py
  tests/functional/notes/test_skill_write_detection.py
  tests/functional/scripting/test_script_execution_handler.py
  tests/functional/tools/test_script_testing.py
  tests/functional/web/ui/test_notes_ui.py
  tests/unit/web/test_asterisk_live_api.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, yamlfmt

feat(automations): confined ops diagnostics profile and wake_llm guard
  defaults.yaml
  docs/user/USER_GUIDE.md
  src/family_assistant/actions.py
  src/family_assistant/config_loader.py
  src/family_assistant/storage/models.py
  src/family_assistant/tools/automations.py
  src/family_assistant/tools/engineering.py
  src/family_assistant/tools/tasks.py
  tests/functional/automations/test_ops_automation_confinement.py
  tests/functional/tools/test_engineering_database.py
  tests/unit/tools/test_ops_automation_policy.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt

test: add new note-visibility fields to confirmation test fake config
  tests/functional/tasks/test_confirmation_tool_execution.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

fix(automations): close script wake_llm escape via allow_wake_llm capability
  defaults.yaml
  docs/design/profile-confined-note-writes-and-automation-approvals.md
  src/family_assistant/actions.py
  src/family_assistant/assistant.py
  src/family_assistant/config_loader.py
  src/family_assistant/config_models.py
  src/family_assistant/processing/tool_execution.py
  src/family_assistant/processing/types.py
  src/family_assistant/task_worker.py
  src/family_assistant/tools/automations.py
  src/family_assistant/tools/tasks.py
  src/family_assistant/tools/types.py
  tests/functional/automations/test_ops_automation_confinement.py
  tests/functional/tasks/test_confirmation_tool_execution.py
  tests/unit/tools/test_ops_automation_policy.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt

docs: add Rule of Two prompt-injection risk posture assessment
  AGENTS.md
  docs/design/rule-of-two-risk-posture.md
Due: mdformat

fix(ops-automation): tighten diagnostics reads and transcript writer (Codex P2s)
  defaults.yaml
  docs/design/profile-confined-note-writes-and-automation-approvals.md
  src/family_assistant/web/routers/asterisk_live_api.py
  tests/unit/tools/test_ops_automation_policy.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt

fix(wake_llm): run woken turns under the intended profile, not default (F0)
  defaults.yaml
  docs/design/profile-confined-note-writes-and-automation-approvals.md
  src/family_assistant/actions.py
  src/family_assistant/events/processor.py
  src/family_assistant/storage/repositories/schedule_automations.py
  src/family_assistant/task_worker.py
  src/family_assistant/tools/tasks.py
  tests/functional/automations/test_event_system_advanced.py
  tests/functional/automations/test_ops_automation_confinement.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt

fix(ios): survive AVAudioEngine configuration changes in voice mode
  docs/design/ios-voice-mode.md
  ios/FamilyAssistant/FamilyAssistant/Voice/VoiceAudioEngine.swift
  ios/FamilyAssistant/FamilyAssistant/Voice/VoiceSessionViewModel.swift
  ios/FamilyAssistant/FamilyAssistantTests/VoiceSessionViewModelTests.swift
Due: mdformat

fix(ios): recreate audio objects on media-services reset
  ios/FamilyAssistant/FamilyAssistant/Voice/VoiceAudioEngine.swift
Due: none

Path conditions:
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  basedpyright: any of: \.py$
  code-conformance: any of: \.py$
  mdformat: any of: \.(md|markdown|mdown)$, but not: (?x)^( 
  docs/python-telegram-bot-abridged\.md|
  docs/python-telegram-bot-abridged-filtered\.md
)$

  yamlfmt: any of: \.(yaml|yml)$
  biome-format: any of: ^frontend/.*\.(js|jsx|ts|tsx|json)$, but not: ^frontend/(dev-dist/|package-lock\.json$)
  eslint: any of: ^frontend/.*\.(js|jsx|ts|tsx)$
