Repository werdnum/family-assistant: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt, biome-format, eslint

ruff-check:
  name: ruff-check
  entry: ruff check --fix --preview
  language: system

ruff-format:
  name: ruff-format
  entry: ruff format --preview
  language: system

basedpyright:
  name: basedpyright
  entry: basedpyright
  language: system
  pass_filenames: false

code-conformance:
  name: code-conformance
  entry: .ast-grep/check-conformance.py
  language: system
  pass_filenames: true

mdformat:
  name: mdformat
  entry: mdformat --wrap 100
  language: system

yamlfmt:
  name: yamlfmt
  language: golang
  entry: yamlfmt
  additional_dependencies:
  - github.com/google/yamlfmt/cmd/yamlfmt@v0.17.0

biome-format:
  name: biome-format
  entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx @biomejs/biome format --write "${files[@]}"' --
  language: system
  pass_filenames: true

eslint:
  name: eslint
  entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx eslint --fix "${files[@]}"' --
  language: system
  pass_filenames: true

Update design document with finalized typed approach
  docs/design/scripting/script-attachment-propagation.md
Due: mdformat

Implement script attachment propagation with proper types
  src/family_assistant/scripting/apis/attachments.py
  src/family_assistant/scripting/apis/tools.py
  src/family_assistant/scripting/engine.py
  src/family_assistant/tools/execute_script.py
  tests/functional/test_script_attachment_api.py
  tests/functional/tools/test_execute_script.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Fix: Remove return statements from top-level Starlark examples
  docs/user/data_visualization.md
  prompts.yaml
  src/family_assistant/scripting/apis/tools.py
  src/family_assistant/scripting/engine.py
  src/family_assistant/tools/execute_script.py
  tests/functional/tools/test_execute_script_attachments.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt

Fix: Use text/plain mime_type in attachment propagation tests
  tests/functional/tools/test_execute_script_attachments.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Fix: Use UUID strings for Starlark compatibility and proper mime_type fetching
  src/family_assistant/scripting/apis/attachments.py
  src/family_assistant/scripting/apis/tools.py
  src/family_assistant/scripting/engine.py
  src/family_assistant/tools/execute_script.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Fix: Extract attachment IDs from dicts with 'id' field and ensure consistent dict structure
  src/family_assistant/scripting/apis/attachments.py
  src/family_assistant/scripting/apis/tools.py
  src/family_assistant/scripting/engine.py
  src/family_assistant/tools/execute_script.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

docs: Document dict-based attachment API in scripts
  docs/design/scripting/script-attachment-propagation.md
  docs/user/scripting.md
  src/family_assistant/tools/execute_script.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

fix: Update tests for dict-based attachment API
  tests/functional/test_script_attachment_api.py
  tests/functional/test_script_wake_llm.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Fix code conformance: Replace dict[str, Any] with typed ContentPart
  src/family_assistant/llm/__init__.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

refactor: Address code review feedback
  src/family_assistant/scripting/apis/attachments.py
  src/family_assistant/tools/execute_script.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Fix: Pass conversation_id to automation toggle endpoint
  frontend/src/pages/Automations/components/AutomationsList.jsx
  src/family_assistant/web/routers/automations_api.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, biome-format, eslint

Refactor: Remove unnecessary conversation_id security checks from automation endpoints
  frontend/src/pages/Automations/components/AutomationDetail.jsx
  frontend/src/pages/Automations/components/AutomationsList.jsx
  src/family_assistant/web/routers/automations_api.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, biome-format, eslint

Test: Update frontend tests to match conversation_id removal
  frontend/src/pages/Automations/components/AutomationDetail.test.jsx
  frontend/src/test/mocks/handlers.ts
Due: biome-format, eslint

Add design document for script attachment propagation
  docs/design/scripting/script-attachment-propagation.md
Due: mdformat

fix: Process attachment content parts in delegation flow
  src/family_assistant/processing.py
  tests/functional/test_delegation.py
  tests/mocks/mock_llm.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Path conditions:
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  basedpyright: any of: \.py$
  code-conformance: any of: \.py$
  mdformat: any of: \.(md|markdown|mdown)$, but not: (?x)^( 
  docs/python-telegram-bot-abridged\.md|
  docs/python-telegram-bot-abridged-filtered\.md
)$

  yamlfmt: any of: \.(yaml|yml)$
  biome-format: any of: ^frontend/.*\.(js|jsx|ts|tsx|json)$, but not: ^frontend/(dev-dist/|package-lock\.json$)
  eslint: any of: ^frontend/.*\.(js|jsx|ts|tsx)$
