Repository werdnum/family-assistant: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt, biome-format, eslint

ruff-check:
  name: ruff-check
  entry: ruff check --fix --preview
  language: system

ruff-format:
  name: ruff-format
  entry: ruff format --preview
  language: system

basedpyright:
  name: basedpyright
  entry: basedpyright
  language: system
  pass_filenames: false

code-conformance:
  name: code-conformance
  entry: .ast-grep/check-conformance.py
  language: system
  pass_filenames: true

mdformat:
  name: mdformat
  entry: mdformat --wrap 100
  language: system

yamlfmt:
  name: yamlfmt
  language: golang
  entry: yamlfmt
  additional_dependencies:
  - github.com/google/yamlfmt/cmd/yamlfmt@v0.17.0

biome-format:
  name: biome-format
  entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx @biomejs/biome format --write "${files[@]}"' --
  language: system
  pass_filenames: true

eslint:
  name: eslint
  entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx eslint --fix "${files[@]}"' --
  language: system
  pass_filenames: true

Tell email-intake prompt about automatic indexing
  src/family_assistant/email_intake/actions.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Drop link-indexing guarantee from email-intake prompt
  src/family_assistant/email_intake/actions.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Slim email-intake addition to the forward-for-indexing shortcut
  src/family_assistant/email_intake/actions.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Don't drop link-only indexing forwards in the shortcut
  src/family_assistant/email_intake/actions.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Add Streamable HTTP transport support for MCP servers
  config.yaml.example
  defaults.yaml
  src/family_assistant/tools/mcp.py
  src/family_assistant/tools/types.py
  tests/functional/integration/test_mcp_integration.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, yamlfmt

Raise mcp floor to 1.8.0 for Streamable HTTP transport
  pyproject.toml
  uv.lock
Due: none

Fix web chat recovery after tool stream errors
  frontend/src/chat/ChatApp.tsx
  frontend/src/chat/__tests__/StreamingErrorRecovery.test.tsx
  frontend/src/chat/types.ts
  tests/functional/web/ui/test_chat_stream_error_recovery.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, biome-format, eslint

Make stream recovery test deterministic
  frontend/src/chat/__tests__/StreamingErrorRecovery.test.tsx
Due: biome-format, eslint

Design asynchronous profile delegation
  docs/design/asynchronous-profile-delegation.md
Due: mdformat

Clarify async delegation versus spawn worker
  docs/design/asynchronous-profile-delegation.md
Due: mdformat

Bump max_iterations: default_assistant to 25, advanced profiles to 100
  AGENTS.md
  defaults.yaml
Due: mdformat, yamlfmt

Add iOS app icon and device signing settings
  ios/FamilyAssistant/FamilyAssistant.xcodeproj/project.pbxproj
  ios/FamilyAssistant/FamilyAssistant/Assets.xcassets/AppIcon.appiconset/AppIcon.png
  ios/FamilyAssistant/FamilyAssistant/Assets.xcassets/AppIcon.appiconset/Contents.json
  ios/FamilyAssistant/FamilyAssistant/Info.plist
Due: none

Add iOS APNs device token storage and config
  alembic/versions/2026_06_06-add_ios_push_tokens_table.py
  docs/design/ios_push_notifications.md
  src/family_assistant/config_loader.py
  src/family_assistant/config_models.py
  src/family_assistant/storage/__init__.py
  src/family_assistant/storage/context.py
  src/family_assistant/storage/ios_push_token.py
  src/family_assistant/storage/repositories/__init__.py
  src/family_assistant/storage/repositories/ios_push_token.py
  tests/unit/storage/test_ios_push_token_repository.py
  tests/unit/test_config_loader.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Add APNs sender service and notification dispatcher
  pyproject.toml
  src/family_assistant/services/apns.py
  src/family_assistant/services/notification_dispatcher.py
  tests/unit/services/test_apns_service.py
  tests/unit/services/test_notification_dispatcher.py
  uv.lock
Due: ruff-check, ruff-format, basedpyright, code-conformance

Add iOS push token registration endpoints
  src/family_assistant/web/app_creator.py
  src/family_assistant/web/routers/ios_push.py
  tests/functional/test_ios_push_api.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Integrate notification dispatch at four send points
  src/family_assistant/assistant.py
  src/family_assistant/services/confirmation_service.py
  src/family_assistant/services/notification_targets.py
  src/family_assistant/task_worker.py
  src/family_assistant/web/routers/webhooks.py
  src/family_assistant/web/web_chat_interface.py
  tests/functional/test_ios_notification_send_points.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Document iOS push notifications
  AGENTS.md
  docs/user/USER_GUIDE.md
Due: mdformat

Align ios_push_tokens migration DDL with the model
  alembic/versions/2026_06_06-add_ios_push_tokens_table.py
  docs/design/ios_push_notifications.md
  src/family_assistant/assistant.py
  src/family_assistant/services/confirmation_service.py
  src/family_assistant/services/notification_targets.py
  src/family_assistant/services/notifier.py
  src/family_assistant/task_worker.py
  src/family_assistant/web/app_creator.py
  src/family_assistant/web/routers/webhooks.py
  src/family_assistant/web/web_chat_interface.py
  tests/functional/test_ios_notification_send_points.py
  tests/functional/web/ui/test_chat_push_integration.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Address PR review: APNs token retention and key-path errors
  docs/design/ios_push_notifications.md
  src/family_assistant/assistant.py
  src/family_assistant/services/apns.py
  tests/unit/services/test_apns_service.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Add native iOS notification registration
  docs/user/USER_GUIDE.md
  ios/FamilyAssistant/FamilyAssistant.xcodeproj/project.pbxproj
  ios/FamilyAssistant/FamilyAssistant/Auth/AuthManager.swift
  ios/FamilyAssistant/FamilyAssistant/ContentView.swift
  ios/FamilyAssistant/FamilyAssistant/FamilyAssistant.entitlements
  ios/FamilyAssistant/FamilyAssistant/FamilyAssistantApp.swift
  ios/FamilyAssistant/FamilyAssistant/Notifications/AppDelegate.swift
  ios/FamilyAssistant/FamilyAssistant/Notifications/NotificationManager.swift
  ios/FamilyAssistant/FamilyAssistant/WebView/WebViewContainer.swift
  ios/FamilyAssistant/FamilyAssistant/WebView/WebViewToolbar.swift
  ios/FamilyAssistant/README.md
  prompts.yaml
Due: mdformat, yamlfmt

Align iOS push contract with the client: token key + interactive payloads
  docs/design/ios_push_notifications.md
  src/family_assistant/services/apns.py
  src/family_assistant/services/confirmation_service.py
  src/family_assistant/services/notification_dispatcher.py
  src/family_assistant/services/notification_targets.py
  src/family_assistant/services/notifier.py
  src/family_assistant/services/push_notification.py
  src/family_assistant/task_worker.py
  src/family_assistant/web/routers/ios_push.py
  src/family_assistant/web/routers/webhooks.py
  src/family_assistant/web/web_chat_interface.py
  tests/functional/test_ios_notification_send_points.py
  tests/functional/test_ios_push_api.py
  tests/functional/web/ui/test_chat_push_integration.py
  tests/unit/services/test_apns_service.py
  tests/unit/services/test_notification_dispatcher.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Stabilize frontend chat tests
  frontend/src/chat/ToolGroup.tsx
  frontend/src/test/setup.js
  tests/functional/web/pages/chat_page.py
  tests/unit/test_app_config_storage_path.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, biome-format, eslint

Dispatch notification channels sequentially on the shared DB context
  src/family_assistant/services/notification_dispatcher.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Do not prune APNs tokens on topic/bundle mismatch
  src/family_assistant/services/apns.py
  tests/unit/services/test_apns_service.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Commit confirmation before notifying; make token upsert atomic
  src/family_assistant/services/confirmation_service.py
  src/family_assistant/storage/repositories/ios_push_token.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Serialize Web Push metadata with the service worker's camelCase keys
  src/family_assistant/services/notifier.py
  src/family_assistant/services/push_notification.py
  tests/unit/services/test_push_notification_service.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Use a SQLite-safe created_at default in the ios_push_tokens migration
  alembic/versions/2026_06_06-add_ios_push_tokens_table.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Refresh iOS auth before notification requests
  ios/FamilyAssistant/FamilyAssistant/Auth/AuthManager.swift
  ios/FamilyAssistant/FamilyAssistant/Notifications/NotificationManager.swift
Due: none

Reject scheme-relative iOS notification paths
  ios/FamilyAssistant/FamilyAssistant/Notifications/NotificationManager.swift
Due: none

Address web chat users by name instead of "API User"
  docs/design/unified-user-identities.md
  docs/operations/CONFIGURATION_REFERENCE.md
  src/family_assistant/config_models.py
  src/family_assistant/services/user_identity.py
  src/family_assistant/web/dependencies.py
  src/family_assistant/web/routers/chat_api.py
  src/family_assistant/web/routers/me_api.py
  tests/unit/services/test_user_identity.py
  tests/unit/web/test_chat_api_helpers.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Fix two load-induced flakes that fail poe test
  frontend/src/test/setup.js
  tests/functional/web/ui/test_chat_attachments.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, biome-format, eslint

Skip stale token "name" claim when deriving chat user name
  src/family_assistant/web/routers/chat_api.py
  tests/unit/web/test_chat_api_helpers.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Add native iOS notes screens
  docs/user/USER_GUIDE.md
  ios/FamilyAssistant/FamilyAssistant.xcodeproj/project.pbxproj
  ios/FamilyAssistant/FamilyAssistant/AppRouting.swift
  ios/FamilyAssistant/FamilyAssistant/AppSettingsMenu.swift
  ios/FamilyAssistant/FamilyAssistant/ContentView.swift
  ios/FamilyAssistant/FamilyAssistant/Notes/NoteDetailView.swift
  ios/FamilyAssistant/FamilyAssistant/Notes/NoteEditorView.swift
  ios/FamilyAssistant/FamilyAssistant/Notes/NotesAPIClient.swift
  ios/FamilyAssistant/FamilyAssistant/Notes/NotesListView.swift
  ios/FamilyAssistant/FamilyAssistant/Notes/NotesRootView.swift
  ios/FamilyAssistant/FamilyAssistant/WebView/WebViewContainer.swift
  ios/FamilyAssistant/FamilyAssistant/WebView/WebViewToolbar.swift
  ios/FamilyAssistant/README.md
  prompts.yaml
Due: mdformat, yamlfmt

Fix native iOS notes handoff
  ios/FamilyAssistant/FamilyAssistant.xcodeproj/project.pbxproj
  ios/FamilyAssistant/FamilyAssistant.xcodeproj/xcshareddata/xcschemes/FamilyAssistant.xcscheme
  ios/FamilyAssistant/FamilyAssistant/Notes/NoteDetailView.swift
  ios/FamilyAssistant/FamilyAssistant/WebView/WebViewContainer.swift
  ios/FamilyAssistant/FamilyAssistantTests/NotesModelTests.swift
  ios/FamilyAssistant/FamilyAssistantTests/RouteTests.swift
Due: none

Surface native notes operation errors
  ios/FamilyAssistant/FamilyAssistant/Notes/NoteDetailView.swift
  ios/FamilyAssistant/FamilyAssistant/Notes/NotesListView.swift
Due: none

ci: run iOS unit tests on macOS when ios/ changes
  .github/workflows/ci-with-devcontainer.yml
  .github/workflows/ios-tests.yml
  ios/FamilyAssistant/README.md
Due: mdformat, yamlfmt

ci: use macos-26 runner and resolve simulator dynamically
  .github/workflows/ios-tests.yml
  ios/FamilyAssistant/README.md
Due: mdformat, yamlfmt

ci: make has_code_changes exclusions actually gate (predicate-quantifier: every)
  .github/workflows/ci-with-devcontainer.yml
Due: yamlfmt

Fix macOS test runner environment
  frontend/package.json
  frontend/scripts/clean-dist.mjs
  frontend/src/test/setup.js
  frontend/vite.config.js
  scripts/run-tests.sh
  scripts/run_pytest_adaptive.py
  tests/unit/test_app_config_storage_path.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, biome-format, eslint

Add iOS UI and backend-boundary tests
  ios/FamilyAssistant/FamilyAssistant.xcodeproj/project.pbxproj
  ios/FamilyAssistant/FamilyAssistant.xcodeproj/xcshareddata/xcschemes/FamilyAssistant.xcscheme
  ios/FamilyAssistant/FamilyAssistant/FamilyAssistantApp.swift
  ios/FamilyAssistant/FamilyAssistant/Notifications/NotificationManager.swift
  ios/FamilyAssistant/FamilyAssistant/UITesting/UITestConfiguration.swift
  ios/FamilyAssistant/FamilyAssistantTests/AuthManagerTests.swift
  ios/FamilyAssistant/FamilyAssistantTests/NotesAPIClientTests.swift
  ios/FamilyAssistant/FamilyAssistantTests/NotificationManagerTests.swift
  ios/FamilyAssistant/FamilyAssistantTests/RouteTests.swift
  ios/FamilyAssistant/FamilyAssistantUITests/FamilyAssistantUITests.swift
Due: none

Path conditions:
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  basedpyright: any of: \.py$
  code-conformance: any of: \.py$
  mdformat: any of: \.(md|markdown|mdown)$, but not: (?x)^( 
  docs/python-telegram-bot-abridged\.md|
  docs/python-telegram-bot-abridged-filtered\.md
)$

  yamlfmt: any of: \.(yaml|yml)$
  biome-format: any of: ^frontend/.*\.(js|jsx|ts|tsx|json)$, but not: ^frontend/(dev-dist/|package-lock\.json$)
  eslint: any of: ^frontend/.*\.(js|jsx|ts|tsx)$
