Repository werdnum/family-assistant: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt, biome-format, eslint

ruff-check:
  name: ruff-check
  entry: ruff check --fix --preview
  language: system

ruff-format:
  name: ruff-format
  entry: ruff format --preview
  language: system

basedpyright:
  name: basedpyright
  entry: basedpyright
  language: system
  pass_filenames: false

code-conformance:
  name: code-conformance
  entry: .ast-grep/check-conformance.py
  language: system
  pass_filenames: true

mdformat:
  name: mdformat
  entry: mdformat --wrap 100
  language: system

yamlfmt:
  name: yamlfmt
  language: golang
  entry: yamlfmt
  additional_dependencies:
  - github.com/google/yamlfmt/cmd/yamlfmt@v0.17.0

biome-format:
  name: biome-format
  entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx @biomejs/biome format --write "${files[@]}"' --
  language: system
  pass_filenames: true

eslint:
  name: eslint
  entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx eslint --fix "${files[@]}"' --
  language: system
  pass_filenames: true

fix(model-tiers): check every tier a profile can run on, not just its default
  frontend/src/chat/__tests__/ChatApp.test.tsx
  src/family_assistant/llm/model_tiers.py
  tests/unit/llm/test_model_tiers.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, biome-format, eslint

feat(web): share one profile fetch across the chat header and thread
  frontend/src/chat/ProfileSelector.tsx
  frontend/src/chat/Thread.tsx
  frontend/src/chat/profilesContext.tsx
  frontend/src/chat/types.ts
  frontend/src/test/mocks/handlers.ts
Due: biome-format, eslint

feat(telegram): per-message tier commands, on the conversation's own profile
  src/family_assistant/telegram/handler.py
  src/family_assistant/telegram/service.py
  tests/functional/telegram/test_telegram_model_tier_commands.py
  tests/unit/telegram/test_command_registration.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

refactor(model-tiers): one client path, one gate, one place to stamp a tier
  docs/user/intelligence-levels.md
  prompts.yaml
  src/family_assistant/a2a/remote_service.py
  src/family_assistant/assistant.py
  src/family_assistant/llm/model_selection.py
  src/family_assistant/llm/utils/call_telemetry.py
  src/family_assistant/processing/protocol.py
  src/family_assistant/processing/service.py
  src/family_assistant/storage/repositories/delegation_runs.py
  src/family_assistant/tools/services.py
  tests/functional/automations/test_async_delegation.py
  tests/functional/tasks/test_confirmation_tool_execution.py
  tests/integration/llm/test_google_computer_use_integration.py
  tests/mocks/mock_llm.py
  tests/unit/llm/test_model_selection.py
  tests/unit/llm/test_shipped_model_tiers.py
  tests/unit/processing/test_interactions_agent_service.py
  tests/unit/processing/test_llm_loop_metrics.py
  tests/unit/processing/test_mid_turn_input.py
  tests/unit/test_config_loader.py
  tests/unit/test_metrics.py
  tests/unit/tools/test_delegation_policy.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt

docs: intelligence levels, for users, operators and the assistant itself
  AGENTS.md
  docs/operations/CONFIGURATION_REFERENCE.md
  docs/user/USER_GUIDE.md
  docs/user/intelligence-levels.md
  docs/user/slash-commands.md
  prompts.yaml
Due: mdformat, yamlfmt

feat(delegation): a model_tier argument, admitted by the target and persisted
  alembic/versions/2026_09_05-d7065490c04e_add_model_selection_to_delegation_runs.py
  defaults.yaml
  src/family_assistant/a2a/remote_service.py
  src/family_assistant/assistant.py
  src/family_assistant/llm/call_context.py
  src/family_assistant/llm/model_selection.py
  src/family_assistant/processing/llm_loop.py
  src/family_assistant/processing/protocol.py
  src/family_assistant/processing/service.py
  src/family_assistant/processing/types.py
  src/family_assistant/storage/delegation_runs.py
  src/family_assistant/storage/repositories/delegation_runs.py
  src/family_assistant/task_worker.py
  src/family_assistant/tools/confirmation.py
  src/family_assistant/tools/services.py
  tests/functional/automations/test_async_delegation.py
  tests/functional/tools/test_large_tool_results.py
  tests/unit/llm/test_model_selection.py
  tests/unit/llm/test_shipped_prompts_name_no_models.py
  tests/unit/processing/test_processing_fail_fast.py
  tests/unit/test_metrics.py
  tests/unit/tools/test_delegate_confirmation_renderer.py
  tests/unit/tools/test_delegation_policy.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, yamlfmt

fix(telegram): one spelling of a slash command, and no word the bot already owns
  docs/operations/CONFIGURATION_REFERENCE.md
  src/family_assistant/config_models.py
  src/family_assistant/telegram/commands.py
  src/family_assistant/telegram/handler.py
  src/family_assistant/telegram/service.py
  tests/functional/telegram/test_telegram_model_tier_commands.py
  tests/unit/telegram/test_command_registration.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

feat(web): choose the model tier for a request, and say what served it
  src/family_assistant/web/models.py
  src/family_assistant/web/routers/chat_api.py
  src/family_assistant/web/turn_producer.py
  tests/functional/web/api/test_chat_model_tiers.py
  tests/mocks/mock_llm.py
  tests/unit/llm/test_shipped_model_tiers.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

feat(web): choose an intelligence tier for the next message
  frontend/src/chat/ChatApp.tsx
  frontend/src/chat/IntelligenceSelector.tsx
  frontend/src/chat/useStreamingResponse.js
Due: biome-format, eslint

feat(config): auto-selectable tiers and per-tier slash commands
  defaults.yaml
  src/family_assistant/config_loader.py
  src/family_assistant/config_models.py
  src/family_assistant/llm/model_tiers.py
  tests/unit/llm/test_model_tiers.py
  tests/unit/test_config_loader.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, yamlfmt

feat(web): show the model tier in history message details
  frontend/src/pages/History/components/MessageDisplay.jsx
Due: biome-format, eslint

feat(observability): record the tier a call ran at, beside the profile
  src/family_assistant/llm/messages.py
  src/family_assistant/llm/providers/google_genai_client.py
  src/family_assistant/llm/utils/call_telemetry.py
  src/family_assistant/observability/metrics.py
  src/family_assistant/processing/interactions_agent_service.py
  tests/unit/test_metrics.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

fix(telegram): a slash command takes the chat's turn slot like any other message
  docs/user/interfaces.md
  docs/user/slash-commands.md
  src/family_assistant/telegram/handler.py
  tests/functional/telegram/test_slash_command_turn_coordination.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

feat(processing): the model-selection envelope and its admission gate
  src/family_assistant/processing/model_selection.py
  tests/unit/processing/test_model_selection.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

refactor(model-tiers): the run's client reaches the tools, and one attribution object
  docs/design/model-tiers.md
  src/family_assistant/llm/providers/google_genai_client.py
  src/family_assistant/llm/utils/call_telemetry.py
  src/family_assistant/observability/metrics.py
  src/family_assistant/processing/interactions_agent_service.py
  src/family_assistant/processing/llm_loop.py
  src/family_assistant/processing/tool_execution.py
  src/family_assistant/task_worker.py
  src/family_assistant/telegram/handler.py
  src/family_assistant/telegram/service.py
  src/family_assistant/tools/camera.py
  src/family_assistant/tools/types.py
  src/family_assistant/web/routers/asterisk_live_api.py
  src/family_assistant/web/routers/tools_api.py
  tests/functional/tasks/test_confirmation_tool_execution.py
  tests/functional/telegram/test_telegram_model_tier_commands.py
  tests/unit/conftest.py
  tests/unit/llm/test_shipped_coder_profile.py
  tests/unit/llm/test_shipped_media_handoff.py
  tests/unit/llm/test_shipped_model_tiers.py
  tests/unit/processing/test_tool_run_client.py
  tests/unit/telegram/test_command_registration.py
  tests/unit/test_metrics.py
  tests/unit/tools/test_camera_tools.py
  tests/unit/tools/test_delegation_policy.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

test(web): cover intelligence tier selection and the tier badge
  frontend/src/chat/ChatApp.tsx
  frontend/src/chat/Thread.tsx
  frontend/src/chat/__tests__/ChatApp.test.tsx
  frontend/src/chat/__tests__/IntelligenceSelector.test.tsx
  frontend/src/chat/__tests__/TurnControl.test.tsx
Due: biome-format, eslint

test(model-tiers): a tier with no client built fails as the defect it is
  tests/unit/processing/test_processing_fail_fast.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

test(web): pin the tier fields through history serialisation
  tests/functional/web/api/test_chat_model_tiers.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

feat(processing): bind a run to its tier's client instead of mutating the service
  src/family_assistant/a2a/remote_service.py
  src/family_assistant/assistant.py
  src/family_assistant/llm/call_context.py
  src/family_assistant/processing/attachments.py
  src/family_assistant/processing/llm_loop.py
  src/family_assistant/processing/protocol.py
  src/family_assistant/processing/service.py
  src/family_assistant/processing/types.py
  tests/functional/automations/test_delegation_basic.py
  tests/functional/calendar/test_event_management.py
  tests/functional/tools/test_large_tool_results.py
  tests/unit/processing/test_attachment_selection.py
  tests/unit/processing/test_interactions_agent_service.py
  tests/unit/processing/test_large_result_fail_fast.py
  tests/unit/processing/test_llm_loop_system_prompt_stability.py
  tests/unit/processing/test_processing_fail_fast.py
  tests/unit/processing/test_tool_execution_safety_confirmation.py
  tests/unit/test_otel_processing_spans.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

test: supply provider keys where clients are built, and follow the new head
  tests/functional/storage/test_statement_cancellation.py
  tests/unit/llm/test_shipped_model_tiers.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Add watchOS voice app and watch-face complications
  .github/workflows/ios-tests.yml
  docs/design/watchos-voice.md
  docs/user/interfaces.md
  ios/FamilyAssistant/FamilyAssistant.xcodeproj/project.pbxproj
  ios/FamilyAssistant/FamilyAssistant.xcodeproj/xcshareddata/xcschemes/FamilyAssistantWatch.xcscheme
  ios/FamilyAssistant/FamilyAssistant/Assets.xcassets/AppIcon.appiconset/Contents.json
  ios/FamilyAssistant/FamilyAssistant/Auth/AuthManager.swift
  ios/FamilyAssistant/FamilyAssistant/ErrorReporting/ErrorReporter.swift
  ios/FamilyAssistant/FamilyAssistant/Voice/GeminiLiveClient.swift
  ios/FamilyAssistant/FamilyAssistant/Voice/VoiceAudioEngine.swift
  ios/FamilyAssistant/FamilyAssistant/Voice/VoiceSessionViewModel.swift
  ios/FamilyAssistant/FamilyAssistantTests/GeminiLiveClientTests.swift
  ios/FamilyAssistant/FamilyAssistantTests/RouteTests.swift
  ios/FamilyAssistant/FamilyAssistantTests/VoiceSessionViewModelTests.swift
  ios/FamilyAssistant/FamilyAssistantWatch/Info.plist
  ios/FamilyAssistant/FamilyAssistantWatch/NetworkGeminiLiveSocket.swift
  ios/FamilyAssistant/FamilyAssistantWatch/WatchVoiceApp.swift
  ios/FamilyAssistant/FamilyAssistantWatch/WatchVoiceView.swift
  ios/FamilyAssistant/FamilyAssistantWatchComplications/Info.plist
  ios/FamilyAssistant/FamilyAssistantWatchComplications/VoiceComplication.swift
  ios/FamilyAssistant/README.md
  ios/FamilyAssistant/WatchShared/WatchVoiceLaunch.swift
  prompts.yaml
Due: mdformat, yamlfmt

Match local network policy and keep watch transcripts ephemeral
  docs/design/watchos-voice.md
  docs/user/interfaces.md
  ios/FamilyAssistant/FamilyAssistantWatch/Info.plist
  ios/FamilyAssistant/FamilyAssistantWatch/WatchVoiceView.swift
  prompts.yaml
Due: mdformat, yamlfmt

Finish watch voice sessions cleanly on normal WebSocket close
  ios/FamilyAssistant/FamilyAssistant/Voice/GeminiLiveClient.swift
  ios/FamilyAssistant/FamilyAssistant/Voice/GeminiLiveSocket.swift
  ios/FamilyAssistant/FamilyAssistantTests/GeminiLiveClientTests.swift
  ios/FamilyAssistant/FamilyAssistantWatch/NetworkGeminiLiveSocket.swift
Due: none

Set up watch voice through the paired iPhone
  docs/design/watchos-voice.md
  docs/user/interfaces.md
  ios/FamilyAssistant/FamilyAssistant.xcodeproj/project.pbxproj
  ios/FamilyAssistant/FamilyAssistant/Auth/AuthManager.swift
  ios/FamilyAssistant/FamilyAssistant/FamilyAssistantApp.swift
  ios/FamilyAssistant/FamilyAssistantTests/AuthManagerTests.swift
  ios/FamilyAssistant/FamilyAssistantWatch/WatchVoiceApp.swift
  ios/FamilyAssistant/FamilyAssistantWatch/WatchVoiceView.swift
  ios/FamilyAssistant/README.md
  ios/FamilyAssistant/WatchShared/WatchAuthentication.swift
  prompts.yaml
  src/family_assistant/web/routers/app_auth.py
  tests/functional/web/api/test_app_auth.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt

Preserve watch credential identity through token refresh
  src/family_assistant/web/routers/app_auth.py
  tests/functional/web/api/test_app_auth.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Clarify inherited watch refresh-token deadline
  docs/design/watchos-voice.md
  tests/functional/web/api/test_app_auth.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Report native voice connection stages and socket diagnostics
  docs/design/voice-connection-diagnostics.md
  docs/user/interfaces.md
  ios/FamilyAssistant/FamilyAssistant/Voice/GeminiLiveClient.swift
  ios/FamilyAssistant/FamilyAssistant/Voice/GeminiLiveSocket.swift
  ios/FamilyAssistant/FamilyAssistant/Voice/VoiceSessionViewModel.swift
  ios/FamilyAssistant/FamilyAssistantTests/ErrorReporterTests.swift
  ios/FamilyAssistant/FamilyAssistantTests/GeminiLiveClientTests.swift
  ios/FamilyAssistant/FamilyAssistantTests/VoiceSessionViewModelTests.swift
  ios/FamilyAssistant/FamilyAssistantWatch/NetworkGeminiLiveSocket.swift
  prompts.yaml
Due: mdformat, yamlfmt

Avoid late startup success diagnostics after termination
  ios/FamilyAssistant/FamilyAssistant/Voice/GeminiLiveClient.swift
  ios/FamilyAssistant/FamilyAssistant/Voice/VoiceSessionViewModel.swift
  ios/FamilyAssistant/FamilyAssistantTests/VoiceSessionViewModelTests.swift
Due: none

feat(ios): intelligence (model tier) selection in Chat
  docs/design/ios-model-tier-selection.md
  docs/user/intelligence-levels.md
  docs/user/interfaces.md
  ios/FamilyAssistant/FamilyAssistant/Chat/ActiveTurnSession.swift
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatAPIClient.swift
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatModels.swift
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatViewModel.swift
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatViews.swift
  ios/FamilyAssistant/FamilyAssistantTests/ChatAPIClientTests.swift
  ios/FamilyAssistant/FamilyAssistantTests/ChatViewModelTests.swift
Due: mdformat

fix(ios): no tier selection while a turn is running
  docs/design/ios-model-tier-selection.md
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatViewModel.swift
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatViews.swift
  ios/FamilyAssistant/FamilyAssistantTests/ChatViewModelTests.swift
Due: mdformat

Reach on-demand tools from voice via search_tools/call_tool
  defaults.yaml
  docs/design/voice-mode-on-demand-tools.md
  docs/operations/CONFIGURATION_REFERENCE.md
  docs/user/interfaces.md
  src/family_assistant/config_models.py
  src/family_assistant/processing/service.py
  src/family_assistant/tools/__init__.py
  src/family_assistant/tools/live_meta.py
  src/family_assistant/tools/on_demand.py
  src/family_assistant/web/live_tools.py
  src/family_assistant/web/models.py
  src/family_assistant/web/routers/asterisk_live_api.py
  src/family_assistant/web/routers/gemini_live_api.py
  src/family_assistant/web/routers/tools_api.py
  tests/functional/web/api/test_tools_api_live_meta.py
  tests/unit/tools/test_live_meta_tools.py
  tests/unit/web/test_gemini_live_api.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt

Point the iOS voice design doc at the meta-tool path
  docs/design/ios-voice-mode.md
Due: mdformat

Record the tool-count motivation in the voice on-demand design
  docs/design/voice-mode-on-demand-tools.md
Due: mdformat

Say what the voice eager tool set costs, and how to shrink it
  docs/design/voice-mode-on-demand-tools.md
Due: mdformat

Address Codex review on the voice meta-tools
  docs/design/voice-mode-on-demand-tools.md
  src/family_assistant/tools/live_meta.py
  src/family_assistant/tools/on_demand.py
  tests/unit/tools/test_live_meta_tools.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Carry only names in the voice tool catalog
  docs/design/voice-mode-on-demand-tools.md
  src/family_assistant/tools/live_meta.py
  src/family_assistant/tools/on_demand.py
  tests/unit/tools/test_live_meta_tools.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Check reserved names before intercepting a meta-tool call
  src/family_assistant/tools/live_meta.py
  src/family_assistant/tools/on_demand.py
  tests/unit/tools/test_live_meta_tools.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Fail the boot on a shadowed meta-tool name, not the call
  src/family_assistant/assistant.py
  src/family_assistant/web/routers/asterisk_live_api.py
  tests/functional/web/routers/test_asterisk_live_api.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

fix(indexing): stop re-embedding message history that is already indexed
  docs/design/message-history-indexing-idempotency.md
  docs/operations/MONITORING.md
  docs/user/documents-and-search.md
  src/family_assistant/assistant.py
  src/family_assistant/indexing/message_history_indexer.py
  src/family_assistant/observability/metrics.py
  src/family_assistant/storage/repositories/message_history.py
  src/family_assistant/storage/repositories/tasks.py
  src/family_assistant/storage/vector.py
  src/family_assistant/tools/communication.py
  tests/functional/storage/test_message_history_querying.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

docs(design): propose due-time ordering and priority lanes for the task queue
  docs/design/task-queue-priority-lanes.md
Due: mdformat

Path conditions:
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  basedpyright: any of: \.py$
  code-conformance: any of: \.py$
  mdformat: any of: \.(md|markdown|mdown)$, but not: (?x)^( 
  docs/python-telegram-bot-abridged\.md|
  docs/python-telegram-bot-abridged-filtered\.md
)$

  yamlfmt: any of: \.(yaml|yml)$
  biome-format: any of: ^frontend/.*\.(js|jsx|ts|tsx|json)$, but not: ^frontend/(dev-dist/|package-lock\.json$)
  eslint: any of: ^frontend/.*\.(js|jsx|ts|tsx)$
