Repository werdnum/family-assistant: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt, biome-format, eslint

ruff-check:
  name: ruff-check
  entry: ruff check --fix --preview
  language: system

ruff-format:
  name: ruff-format
  entry: ruff format --preview
  language: system

basedpyright:
  name: basedpyright
  entry: basedpyright
  language: system
  pass_filenames: false

code-conformance:
  name: code-conformance
  entry: .ast-grep/check-conformance.py
  language: system
  pass_filenames: true

mdformat:
  name: mdformat
  entry: mdformat --wrap 100
  language: system

yamlfmt:
  name: yamlfmt
  language: golang
  entry: yamlfmt
  additional_dependencies:
  - github.com/google/yamlfmt/cmd/yamlfmt@v0.17.0

biome-format:
  name: biome-format
  entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx @biomejs/biome format --write "${files[@]}"' --
  language: system
  pass_filenames: true

eslint:
  name: eslint
  entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx eslint --fix "${files[@]}"' --
  language: system
  pass_filenames: true

Advertise a pinned grant by asking the question execution will ask
  src/family_assistant/tools/policy.py
  tests/unit/tools/test_tool_policy.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Reclaim a handed-back authenticated session without relaying a token
  docs/design/authenticated-site-capabilities.md
  docs/user/authenticated-sites.md
  pyproject.toml
  src/family_assistant/tools/authenticated_sites.py
  src/family_assistant/tools/browser_backend.py
  tests/integration/tools/test_browser_backend_integration.py
  tests/unit/tools/test_authenticated_site_boundaries.py
  uv.lock
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Keep conditional advertisement to authored policy layers
  src/family_assistant/tools/policy.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Close five ways an authenticated run could escape its session
  src/family_assistant/config_models.py
  src/family_assistant/tools/authenticated_sites.py
  src/family_assistant/tools/browser_backend.py
  src/family_assistant/tools/services.py
  tests/unit/tools/test_authenticated_site_boundaries.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Exercise authenticated sessions against the real browser-server
  docs/operations/CONFIGURATION_REFERENCE.md
  pyproject.toml
  tests/integration/tools/test_authenticated_site_integration.py
  uv.lock
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

docs(design): enforce the note-write chokepoint with a conformance rule
  docs/design/ambient-note-admission-at-write-time.md
Due: mdformat

docs(design): the judge reviews the resolved ambient material
  docs/design/ambient-note-admission-at-write-time.md
Due: mdformat

fix: publish authenticated run bindings before waking workers
  docs/user/authenticated-sites.md
  pyproject.toml
  src/family_assistant/task_worker.py
  src/family_assistant/tools/authenticated_sites.py
  src/family_assistant/tools/services.py
  tests/functional/tools/test_authenticated_site_flow.py
  tests/unit/tools/test_authenticated_run_settlement.py
  uv.lock
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

fix: constrain authenticated handback and clear terminal approvals
  defaults.yaml
  docs/user/authenticated-sites.md
  src/family_assistant/tools/authenticated_site_surface.py
  src/family_assistant/tools/browser_autofill.py
  src/family_assistant/tools/browser_backend.py
  tests/integration/tools/test_authenticated_site_integration.py
  tests/unit/test_authenticated_site_config.py
  tests/unit/tools/test_authenticated_site_tools.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt

test: pin reviewed browser service confinement fixes
  pyproject.toml
  uv.lock
Due: none

fix: settle stale authenticated runs and reject unbounded global grants
  docs/operations/CONFIGURATION_REFERENCE.md
  pyproject.toml
  src/family_assistant/config_models.py
  src/family_assistant/storage/repositories/delegation_runs.py
  src/family_assistant/task_worker.py
  tests/unit/test_authenticated_site_config.py
  tests/unit/tools/test_authenticated_run_settlement.py
  uv.lock
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

fix: atomically settle authenticated results and rotate terminal fill keys
  pyproject.toml
  src/family_assistant/storage/repositories/delegation_runs.py
  src/family_assistant/task_worker.py
  src/family_assistant/tools/authenticated_sites.py
  src/family_assistant/tools/browser_autofill.py
  tests/unit/tools/test_authenticated_run_settlement.py
  tests/unit/tools/test_authenticated_site_tools.py
  uv.lock
Due: ruff-check, ruff-format, basedpyright, code-conformance

fix: validate resume ownership and settle expired browser sessions
  defaults.yaml
  docs/user/authenticated-sites.md
  pyproject.toml
  src/family_assistant/tools/authenticated_sites.py
  src/family_assistant/tools/browser_backend.py
  src/family_assistant/tools/services.py
  tests/functional/tools/test_authenticated_site_flow.py
  uv.lock
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt

test: pin browser service live handback authorization fix
  pyproject.toml
  uv.lock
Due: none

fix: validate operator grants and scope site discovery to callers
  docs/operations/CONFIGURATION_REFERENCE.md
  docs/user/authenticated-sites.md
  src/family_assistant/config_models.py
  src/family_assistant/processing/service.py
  src/family_assistant/tools/authenticated_site_surface.py
  src/family_assistant/tools/authenticated_sites.py
  tests/functional/tools/test_authenticated_site_flow.py
  tests/unit/test_authenticated_site_config.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

test: pin browser service pending-target and expiry fixes
  pyproject.toml
  uv.lock
Due: none

Preserve authenticated outcomes across background delivery and refusal
  docs/operations/CONFIGURATION_REFERENCE.md
  pyproject.toml
  src/family_assistant/assistant.py
  src/family_assistant/config_models.py
  src/family_assistant/task_worker.py
  src/family_assistant/tools/authenticated_site_results.py
  src/family_assistant/tools/authenticated_sites.py
  src/family_assistant/tools/browser_autofill.py
  src/family_assistant/tools/browser_backend.py
  src/family_assistant/tools/policy.py
  tests/functional/automations/test_async_delegation.py
  tests/functional/tools/test_authenticated_site_flow.py
  tests/unit/test_authenticated_site_config.py
  tests/unit/tools/test_authenticated_browser_session.py
  tests/unit/tools/test_authenticated_site_tools.py
  tests/unit/tools/test_tool_policy.py
  uv.lock
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Preserve failed handoff outcomes and honor global exclusion patterns
  pyproject.toml
  src/family_assistant/tools/authenticated_site_surface.py
  src/family_assistant/tools/authenticated_sites.py
  src/family_assistant/tools/browser_backend.py
  src/family_assistant/tools/browser_dom.py
  tests/functional/tools/test_authenticated_site_flow.py
  tests/unit/test_authenticated_site_config.py
  uv.lock
Due: ruff-check, ruff-format, basedpyright, code-conformance

Retain observed password rejection when remote reporting fails
  pyproject.toml
  src/family_assistant/tools/browser_autofill.py
  tests/functional/tools/test_authenticated_site_flow.py
  uv.lock
Due: ruff-check, ruff-format, basedpyright, code-conformance

Advertise authenticated sites only when the task tool is available
  defaults.yaml
  pyproject.toml
  src/family_assistant/processing/service.py
  tests/functional/tools/test_authenticated_site_flow.py
  uv.lock
Due: ruff-check, ruff-format, basedpyright, code-conformance, yamlfmt

Validate authenticated session state and preserve newer run ownership
  pyproject.toml
  src/family_assistant/config_models.py
  src/family_assistant/tools/authenticated_sites.py
  tests/functional/tools/test_authenticated_site_flow.py
  tests/unit/test_authenticated_site_config.py
  tests/unit/tools/test_authenticated_run_settlement.py
  uv.lock
Due: ruff-check, ruff-format, basedpyright, code-conformance

Track authenticated browser failures at the shared operation boundary
  pyproject.toml
  src/family_assistant/tools/authenticated_sites.py
  src/family_assistant/tools/browser_backend.py
  src/family_assistant/tools/browser_dom.py
  src/family_assistant/tools/browser_session.py
  tests/functional/tools/test_authenticated_site_flow.py
  tests/unit/tools/test_authenticated_site_tools.py
  uv.lock
Due: ruff-check, ruff-format, basedpyright, code-conformance

Require local authenticated browser roles and preserve historical outcomes
  pyproject.toml
  src/family_assistant/config_models.py
  src/family_assistant/tools/authenticated_sites.py
  tests/functional/tools/test_authenticated_site_flow.py
  tests/unit/test_authenticated_site_config.py
  uv.lock
Due: ruff-check, ruff-format, basedpyright, code-conformance

Keep ordinary drags available and finish authenticated session checks
  defaults.yaml
  docs/design/authenticated-site-capabilities.md
  pyproject.toml
  src/family_assistant/tools/authenticated_sites.py
  src/family_assistant/tools/browser_backend.py
  tests/functional/tools/test_authenticated_site_flow.py
  tests/unit/tools/test_authenticated_browser_session.py
  tests/unit/tools/test_authenticated_site_tools.py
  uv.lock
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt

Allow visual drags through authenticated tool policy
  defaults.yaml
  src/family_assistant/tools/authenticated_site_surface.py
  tests/unit/test_authenticated_site_config.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, yamlfmt

Request Keychute autofill on demand from ordinary browser profiles
  defaults.yaml
  docs/design/authenticated-site-capabilities.md
  docs/design/on-demand-browser-autofill.md
  docs/operations/CONFIGURATION_REFERENCE.md
  docs/user/authenticated-sites.md
  docs/user/browser_automation.md
  pyproject.toml
  src/family_assistant/tools/browser_autofill.py
  src/family_assistant/tools/browser_backend.py
  tests/integration/tools/test_authenticated_site_integration.py
  tests/integration/tools/test_browser_backend_integration.py
  tests/unit/test_authenticated_site_config.py
  tests/unit/tools/test_authenticated_site_tools.py
  uv.lock
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt

Document the Keychute approval-link configuration
  docs/operations/CONFIGURATION_REFERENCE.md
Due: mdformat

Pin the reviewed browser-server autofill contract
  pyproject.toml
  uv.lock
Due: none

Preserve local browser tools and update runtime autofill guidance
  defaults.yaml
  docs/user/browser_automation.md
  pyproject.toml
  src/family_assistant/skills/builtin/browser-automation.md
  src/family_assistant/tools/browser_dom.py
  tests/unit/test_authenticated_site_config.py
  uv.lock
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt

Discard an ordinary browser session after a rejected password
  docs/design/on-demand-browser-autofill.md
  docs/user/authenticated-sites.md
  src/family_assistant/tools/browser_autofill.py
  src/family_assistant/tools/browser_backend.py
  tests/integration/tools/test_authenticated_site_integration.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Separate credential browsing from JavaScript-capable ordinary sessions
  defaults.yaml
  docs/design/on-demand-browser-autofill.md
  docs/operations/CONFIGURATION_REFERENCE.md
  docs/user/authenticated-sites.md
  docs/user/browser_automation.md
  pyproject.toml
  src/family_assistant/config_models.py
  src/family_assistant/skills/builtin/browser-automation.md
  src/family_assistant/tools/browser_autofill.py
  src/family_assistant/tools/browser_backend.py
  src/family_assistant/tools/browser_dom.py
  tests/integration/tools/test_authenticated_site_integration.py
  tests/integration/tools/test_browser_backend_integration.py
  tests/unit/test_authenticated_site_config.py
  tests/unit/tools/test_browser_backend.py
  uv.lock
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt

docs(design): one machine_reviewed tier, one synchronous review
  docs/design/ambient-note-admission-at-write-time.md
Due: mdformat

docs(design): review changes reuse, not authorship; imports go through the gate
  docs/design/ambient-note-admission-at-write-time.md
Due: mdformat

docs(design): reviewer channel for ambient notes, attachment taint on read, demotion ungated
  docs/design/ambient-note-admission-at-write-time.md
Due: mdformat

docs(design): keep the reviewed source in ambient turns; old cured records resolve as before
  docs/design/ambient-note-admission-at-write-time.md
Due: mdformat

docs(design): tighten three statements
  docs/design/ambient-note-admission-at-write-time.md
Due: mdformat

docs(design): say which part of Issue 3 survives
  docs/design/runtime-taint-enforcement-operational-findings.md
Due: mdformat

docs(design): retained material carries its taint into the gate; supersede stale sections
  docs/design/ambient-note-admission-at-write-time.md
  docs/design/runtime-taint-enforcement-operational-findings.md
Due: mdformat

docs(design): confirmation admits; null provenance is external
  docs/design/ambient-note-admission-at-write-time.md
Due: mdformat

docs(design): scope the operational-findings supersession precisely
  docs/design/runtime-taint-enforcement-operational-findings.md
Due: mdformat

Path conditions:
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  basedpyright: any of: \.py$
  code-conformance: any of: \.py$
  mdformat: any of: \.(md|markdown|mdown)$, but not: (?x)^( 
  docs/python-telegram-bot-abridged\.md|
  docs/python-telegram-bot-abridged-filtered\.md
)$

  yamlfmt: any of: \.(yaml|yml)$
  biome-format: any of: ^frontend/.*\.(js|jsx|ts|tsx|json)$, but not: ^frontend/(dev-dist/|package-lock\.json$)
  eslint: any of: ^frontend/.*\.(js|jsx|ts|tsx)$
