Repository werdnum/family-assistant: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt, biome-format, eslint

ruff-check:
  name: ruff-check
  entry: ruff check --fix --preview
  language: system

ruff-format:
  name: ruff-format
  entry: ruff format --preview
  language: system

basedpyright:
  name: basedpyright
  entry: basedpyright
  language: system
  pass_filenames: false

code-conformance:
  name: code-conformance
  entry: .ast-grep/check-conformance.py
  language: system
  pass_filenames: true

mdformat:
  name: mdformat
  entry: mdformat --wrap 100
  language: system

yamlfmt:
  name: yamlfmt
  language: golang
  entry: yamlfmt
  additional_dependencies:
  - github.com/google/yamlfmt/cmd/yamlfmt@v0.17.0

biome-format:
  name: biome-format
  entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx @biomejs/biome format --write "${files[@]}"' --
  language: system
  pass_filenames: true

eslint:
  name: eslint
  entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx eslint --fix "${files[@]}"' --
  language: system
  pass_filenames: true

test: make task polling and reconnect checks deterministic
  tests/functional/home_assistant/test_reconnection.py
  tests/functional/scripting/test_script_error_notification.py
  tests/functional/storage/test_task_completion_wait.py
  tests/helpers.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

test: keep browser shards small and schedule them first
  scripts/CLAUDE.md
  scripts/run_pytest_adaptive.py
  tests/conftest.py
  tests/unit/test_run_pytest_adaptive.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

docs: record test-runtime measurements and scheduling tradeoffs
  docs/development/test-suite-performance.md
Due: mdformat

docs: record full-suite validation results
  docs/development/test-suite-performance.md
Due: mdformat

fix(watch): open voice over the transport watchOS actually permits
  docs/design/watchos-voice.md
  docs/user/interfaces.md
  ios/FamilyAssistant/FamilyAssistant.xcodeproj/project.pbxproj
  ios/FamilyAssistant/FamilyAssistant/Voice/GeminiLiveClient.swift
  ios/FamilyAssistant/FamilyAssistantWatch/NetworkGeminiLiveSocket.swift
Due: mdformat

Refuse an attachment argument resolution would silently drop
  src/family_assistant/tools/mcp.py
  src/family_assistant/tools/mcp_attachments.py
  tests/unit/tools/test_mcp_attachment_parameters.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Add attachment plumbing to MCP tools
  defaults.yaml
  docs/operations/CONFIGURATION_REFERENCE.md
  src/family_assistant/config_models.py
  src/family_assistant/tools/mcp.py
  src/family_assistant/tools/mcp_attachments.py
  src/family_assistant/tools/types.py
  tests/unit/tools/test_mcp_attachment_parameters.py
  tests/unit/tools/test_mcp_tool_refresh.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt

Drop the type suppression from the temp-directory test
  tests/unit/tools/test_mcp_attachment_parameters.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Keep array cardinality and report failed temp cleanup
  src/family_assistant/tools/mcp_attachments.py
  tests/unit/tools/test_mcp_attachment_parameters.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Address Codex review on MCP attachment plumbing
  docs/operations/CONFIGURATION_REFERENCE.md
  src/family_assistant/tools/mcp.py
  src/family_assistant/tools/mcp_attachments.py
  tests/unit/tools/test_mcp_attachment_parameters.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Name and write a materialised attachment on one thread hop
  src/family_assistant/tools/mcp_attachments.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Accept the dicts the script API hands attachments around in
  src/family_assistant/tools/mcp.py
  src/family_assistant/tools/mcp_attachments.py
  tests/unit/tools/test_mcp_attachment_parameters.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

lint: make the CI lint job enforce the same pylint result as poe test
  .pylintrc
  pyproject.toml
  scripts/format-and-lint.sh
  tests/unit/eval/test_tool_call_review_batch.py
  tests/unit/eval/test_tool_call_review_gemini_batch.py
  tests/unit/processing/test_llm_loop_metrics.py
  tests/unit/processing/test_llm_loop_tool_advertisement.py
  tests/unit/processing/test_on_demand_view_decoupling.py
  tests/unit/processing/test_processing_fail_fast.py
  tests/unit/processing/test_tool_run_client.py
  tests/unit/test_lint_pipeline_alignment.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Refuse a wrapper that names no attachments
  src/family_assistant/tools/mcp_attachments.py
  tests/unit/tools/test_mcp_attachment_parameters.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

test(lint): recognize pylint's equals and attached option forms
  tests/unit/test_lint_pipeline_alignment.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

lint: route both entry points through one pylint invocation
  scripts/CLAUDE.md
  scripts/README.md
  scripts/format-and-lint.sh
  scripts/run-pylint.sh
  scripts/run-tests.sh
  tests/unit/test_lint_pipeline_alignment.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

docs(watch): update iOS structure notes and diagnostics for URLSession transport
  docs/design/voice-connection-diagnostics.md
  docs/design/watchos-voice.md
  docs/user/interfaces.md
  ios/FamilyAssistant/README.md
  prompts.yaml
Due: mdformat, yamlfmt

Drop the server's parameter description, and let the operator write one
  defaults.yaml
  docs/operations/CONFIGURATION_REFERENCE.md
  src/family_assistant/config_models.py
  src/family_assistant/tools/mcp.py
  src/family_assistant/tools/mcp_attachments.py
  tests/unit/tools/test_mcp_attachment_parameters.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt

Keep a resolved attachment's provenance at the taint gate
  src/family_assistant/tools/infrastructure.py
  tests/unit/tools/test_mcp_attachment_parameters.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Generalise the block from attachments to parameter overrides
  defaults.yaml
  docs/operations/CONFIGURATION_REFERENCE.md
  src/family_assistant/config_models.py
  src/family_assistant/tools/mcp.py
  src/family_assistant/tools/mcp_attachments.py
  src/family_assistant/tools/types.py
  tests/unit/tools/test_mcp_attachment_parameters.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt

Decide a parameter's cardinality once, from its schema
  src/family_assistant/tools/mcp.py
  src/family_assistant/tools/mcp_attachments.py
  tests/unit/tools/test_mcp_attachment_parameters.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

feat(ios): start a voice session from Siri, as a call
  docs/design/ios-callkit-siri-voice.md
  docs/user/interfaces.md
  ios/FamilyAssistant/FamilyAssistant.xcodeproj/project.pbxproj
  ios/FamilyAssistant/FamilyAssistant/FamilyAssistant.entitlements
  ios/FamilyAssistant/FamilyAssistant/FamilyAssistantApp.swift
  ios/FamilyAssistant/FamilyAssistant/Info.plist
  ios/FamilyAssistant/FamilyAssistant/Intents/AskAssistantIntent.swift
  ios/FamilyAssistant/FamilyAssistant/Intents/IntentSupport.swift
  ios/FamilyAssistant/FamilyAssistant/Notifications/AppDelegate.swift
  ios/FamilyAssistant/FamilyAssistant/Voice/Calling/AssistantCallDonation.swift
  ios/FamilyAssistant/FamilyAssistant/Voice/Calling/CallKitSurface.swift
  ios/FamilyAssistant/FamilyAssistant/Voice/Calling/VoiceCallCoordinator.swift
  ios/FamilyAssistant/FamilyAssistant/Voice/Calling/VoiceCallRequestCenter.swift
  ios/FamilyAssistant/FamilyAssistant/Voice/Calling/VoiceCallStarter.swift
  ios/FamilyAssistant/FamilyAssistant/Voice/VoiceAudioActivation.swift
  ios/FamilyAssistant/FamilyAssistant/Voice/VoiceAudioEngine.swift
  ios/FamilyAssistant/FamilyAssistant/Voice/VoiceHandsFreeAccess.swift
  ios/FamilyAssistant/FamilyAssistant/Voice/VoiceView.swift
  ios/FamilyAssistant/FamilyAssistantTests/AppIntentsTests.swift
  ios/FamilyAssistant/FamilyAssistantTests/VoiceAudioActivationTests.swift
  ios/FamilyAssistant/FamilyAssistantTests/VoiceCallCoordinatorTests.swift
  ios/FamilyAssistant/FamilyAssistantTests/VoiceCallRequestCenterTests.swift
  ios/FamilyAssistant/FamilyAssistantTests/VoiceHandsFreeAccessTests.swift
Due: mdformat

fix(ios): mute the microphone when the call screen says to
  ios/FamilyAssistant/FamilyAssistant/Voice/Calling/CallKitSurface.swift
  ios/FamilyAssistant/FamilyAssistant/Voice/Calling/VoiceCallCoordinator.swift
  ios/FamilyAssistant/FamilyAssistantTests/VoiceCallCoordinatorTests.swift
  ios/FamilyAssistant/FamilyAssistantTests/VoiceCallRequestCenterTests.swift
Due: none

fix(ios): cancel a session startup that outlives its call
  ios/FamilyAssistant/FamilyAssistant/Voice/Calling/VoiceCallCoordinator.swift
  ios/FamilyAssistant/FamilyAssistantTests/VoiceCallCoordinatorTests.swift
Due: none

fix(ios): configure the call's audio category before fulfilling the start action
  docs/design/ios-callkit-siri-voice.md
  ios/FamilyAssistant/FamilyAssistant/Voice/Calling/VoiceCallCoordinator.swift
  ios/FamilyAssistant/FamilyAssistant/Voice/VoiceAudioEngine.swift
  ios/FamilyAssistant/FamilyAssistantTests/VoiceCallCoordinatorTests.swift
  ios/FamilyAssistant/FamilyAssistantTests/VoiceCallRequestCenterTests.swift
  ios/FamilyAssistant/FamilyAssistantTests/VoiceSessionViewModelTests.swift
Due: mdformat

fix(ios): stand the Voice tab aside while a call is running
  docs/design/ios-callkit-siri-voice.md
  ios/FamilyAssistant/FamilyAssistant/FamilyAssistantApp.swift
  ios/FamilyAssistant/FamilyAssistant/Voice/Calling/VoiceCallStarter.swift
  ios/FamilyAssistant/FamilyAssistant/Voice/VoiceView.swift
  ios/FamilyAssistant/FamilyAssistantTests/VoiceCallRequestCenterTests.swift
Due: mdformat

test(ios): assert on a handled phase change, not on a 5 ms delay
  ios/FamilyAssistant/FamilyAssistant/Voice/Calling/VoiceCallCoordinator.swift
  ios/FamilyAssistant/FamilyAssistantTests/VoiceCallCoordinatorTests.swift
Due: none

fix(ios): call the assistant by the app's own name
  docs/design/ios-callkit-siri-voice.md
  docs/user/interfaces.md
  ios/FamilyAssistant/FamilyAssistant/Voice/Calling/AssistantCallDonation.swift
  ios/FamilyAssistant/FamilyAssistant/Voice/Calling/VoiceCallCoordinator.swift
Due: mdformat

fix(ios): declare that an assistant call cannot be held
  ios/FamilyAssistant/FamilyAssistant/Voice/Calling/CallKitSurface.swift
  ios/FamilyAssistant/FamilyAssistant/Voice/Calling/VoiceCallCoordinator.swift
  ios/FamilyAssistant/FamilyAssistantTests/VoiceCallCoordinatorTests.swift
  ios/FamilyAssistant/FamilyAssistantTests/VoiceCallRequestCenterTests.swift
Due: none

fix(ios): call whoever the start-call intent names, or nobody
  ios/FamilyAssistant/FamilyAssistant/Notifications/AppDelegate.swift
  ios/FamilyAssistant/FamilyAssistant/Voice/Calling/VoiceCallRequestCenter.swift
  ios/FamilyAssistant/FamilyAssistantTests/VoiceCallRequestCenterTests.swift
Due: none

fix(ios): donate the callable handle to whoever is signed in
  ios/FamilyAssistant/FamilyAssistant/FamilyAssistantApp.swift
  ios/FamilyAssistant/FamilyAssistant/Voice/Calling/AssistantCallDonation.swift
  ios/FamilyAssistant/FamilyAssistant/Voice/VoiceView.swift
  ios/FamilyAssistant/FamilyAssistantTests/VoiceCallRequestCenterTests.swift
Due: none

docs(ios): the call is not holdable, and the handle is not tab-scoped
  docs/design/ios-callkit-siri-voice.md
Due: mdformat

fix(ios): end a running call when the user signs out
  ios/FamilyAssistant/FamilyAssistant/FamilyAssistantApp.swift
  ios/FamilyAssistant/FamilyAssistant/Voice/Calling/VoiceCallStarter.swift
  ios/FamilyAssistant/FamilyAssistantTests/VoiceCallRequestCenterTests.swift
Due: none

fix(frontend): migrate to @assistant-ui/react 0.15 useAui and useAuiState
  frontend/src/chat/AssistantResponseImages.tsx
  frontend/src/chat/ChatApp.tsx
  frontend/src/chat/Thread.tsx
  frontend/src/chat/ToolGroup.tsx
  frontend/src/components/assistant-ui/attachment.tsx
  frontend/src/test/setup.js
Due: biome-format, eslint

docs(ios): the extension declares, the app calls
  docs/design/ios-callkit-siri-voice.md
  ios/FamilyAssistant/README.md
Due: mdformat

fix(ios): declare the calling intent where Siri actually looks for it
  ios/FamilyAssistant/CallShared/AssistantCallHandle.swift
  ios/FamilyAssistant/FamilyAssistant.xcodeproj/project.pbxproj
  ios/FamilyAssistant/FamilyAssistant/Voice/Calling/AssistantCallDonation.swift
  ios/FamilyAssistant/FamilyAssistant/Voice/Calling/VoiceCallCoordinator.swift
  ios/FamilyAssistant/FamilyAssistant/Voice/Calling/VoiceCallRequestCenter.swift
  ios/FamilyAssistant/FamilyAssistantIntents/FamilyAssistantIntents.entitlements
  ios/FamilyAssistant/FamilyAssistantIntents/Info.plist
  ios/FamilyAssistant/FamilyAssistantIntents/IntentHandler.swift
  ios/FamilyAssistant/FamilyAssistantIntents/StartCallIntentHandler.swift
  ios/FamilyAssistant/FamilyAssistantTests/VoiceCallCoordinatorTests.swift
  ios/FamilyAssistant/FamilyAssistantTests/VoiceCallRequestCenterTests.swift
Due: none

fix(ios): an assistant call has one destination
  docs/design/ios-callkit-siri-voice.md
  ios/FamilyAssistant/CallShared/AssistantCallHandle.swift
  ios/FamilyAssistant/FamilyAssistantIntents/StartCallIntentHandler.swift
  ios/FamilyAssistant/FamilyAssistantTests/VoiceCallRequestCenterTests.swift
Due: mdformat

fix(ios): a declared Siri intent needs an example phrase
  ios/FamilyAssistant/FamilyAssistant.xcodeproj/project.pbxproj
  ios/FamilyAssistant/FamilyAssistant/en.lproj/AppIntentVocabulary.plist
  ios/FamilyAssistant/README.md
Due: mdformat

fix(ios): the Siri call path says where it stopped
  docs/design/ios-callkit-siri-voice.md
  ios/FamilyAssistant/CallShared/AssistantCallHandle.swift
  ios/FamilyAssistant/FamilyAssistant.xcodeproj/project.pbxproj
  ios/FamilyAssistant/FamilyAssistant/Notifications/AppDelegate.swift
  ios/FamilyAssistant/FamilyAssistant/Voice/Calling/VoiceCallRequestCenter.swift
  ios/FamilyAssistant/FamilyAssistant/Voice/Calling/VoiceCallStarter.swift
  ios/FamilyAssistant/FamilyAssistant/Voice/Calling/VoiceCallTelemetry.swift
  ios/FamilyAssistant/FamilyAssistantIntents/StartCallIntentHandler.swift
  ios/FamilyAssistant/FamilyAssistantTests/RouteTests.swift
  ios/FamilyAssistant/FamilyAssistantTests/VoiceCallRequestCenterTests.swift
Due: mdformat

fix(ios): say a call started where that is known
  docs/design/ios-callkit-siri-voice.md
  ios/FamilyAssistant/FamilyAssistant/Voice/Calling/VoiceCallCoordinator.swift
  ios/FamilyAssistant/FamilyAssistant/Voice/Calling/VoiceCallStarter.swift
  ios/FamilyAssistant/FamilyAssistant/Voice/Calling/VoiceCallTelemetry.swift
  ios/FamilyAssistant/FamilyAssistantTests/VoiceCallCoordinatorTests.swift
  ios/FamilyAssistant/FamilyAssistantTests/VoiceCallRequestCenterTests.swift
Due: mdformat

Path conditions:
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  basedpyright: any of: \.py$
  code-conformance: any of: \.py$
  mdformat: any of: \.(md|markdown|mdown)$, but not: (?x)^( 
  docs/python-telegram-bot-abridged\.md|
  docs/python-telegram-bot-abridged-filtered\.md
)$

  yamlfmt: any of: \.(yaml|yml)$
  biome-format: any of: ^frontend/.*\.(js|jsx|ts|tsx|json)$, but not: ^frontend/(dev-dist/|package-lock\.json$)
  eslint: any of: ^frontend/.*\.(js|jsx|ts|tsx)$
