Repository werdnum/family-assistant: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt, biome-format, eslint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-check
        name: ruff-check
        entry: ruff check --fix --preview
        language: system
        types: [python]
      - id: ruff-format
        name: ruff-format
        entry: ruff format --preview
        language: system
        types: [python]
  - repo: local
    hooks:
      - id: basedpyright
        name: basedpyright
        entry: basedpyright
        language: system
        types: [python]
        pass_filenames: false
      - id: code-conformance
        name: code-conformance
        entry: .ast-grep/check-conformance.py
        language: system
        types: [python]
        pass_filenames: true
  - repo: local
    hooks:
      - id: mdformat
        name: mdformat
        entry: mdformat --wrap 100
        language: system
        types: [markdown]
        exclude: "(?x)^( \n  docs/python-telegram-bot-abridged\\.md|\n  docs/python-telegram-bot-abridged-filtered\\.md\n)$\n"
  - repo: local
    hooks:
      - id: yamlfmt
        name: yamlfmt
        language: golang
        entry: yamlfmt
        additional_dependencies:
          - github.com/google/yamlfmt/cmd/yamlfmt@v0.17.0
        types: [yaml]
  - repo: local
    hooks:
      - id: biome-format
        name: biome-format
        entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx @biomejs/biome format --write "${files[@]}"' --
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx|json)$
        exclude: ^frontend/(dev-dist/|package-lock\.json$)
        pass_filenames: true
      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx eslint --fix "${files[@]}"' --
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx)$
        pass_filenames: true

fix: use DOWNLOAD instead of FLV for Reolink frame extraction
  src/family_assistant/camera/reolink.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

fix(camera): switch VOD streaming from FLV/HTTP to RTMP protocol
  src/family_assistant/camera/reolink.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

fix: add final iteration instruction when thought signatures present
  src/family_assistant/processing.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

feat: add wait-for-server.sh script for health check polling
  scripts/wait-for-server.sh
  tests/CLAUDE.md
Due: mdformat

fix(camera): switch to PLAYBACK streaming and fix timezone/port handling
  src/family_assistant/camera/reolink.py
  src/family_assistant/config_models.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

feat: automatic attachment selection for high-volume tool results
  docs/design/multimodal-manipulation.md
  src/family_assistant/config_models.py
  src/family_assistant/llm/providers/google_genai_client.py
  src/family_assistant/processing.py
  tests/unit/llm/providers/test_google_genai_tool_choice.py
  tests/unit/processing/test_attachment_selection.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

fix: use last N attachments in fallback (not first N)
  src/family_assistant/processing.py
  tests/unit/processing/test_attachment_selection.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

fix: use most recent user query for attachment selection
  src/family_assistant/processing.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

fix: address PR review comments for camera implementation
  pyproject.toml
  src/family_assistant/camera/reolink.py
  uv.lock
Due: ruff-check, ruff-format, basedpyright, code-conformance

fix: improve camera implementation with test fixes and type safety
  config.yaml
  src/family_assistant/__main__.py
  src/family_assistant/assistant.py
  src/family_assistant/camera/reolink.py
  src/family_assistant/tools/camera.py
  tests/unit/tools/test_camera_tools.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, yamlfmt

feat: add camera tools and camera_backend infrastructure
  config.yaml
  prompts.yaml
  pyproject.toml
  src/family_assistant/assistant.py
  src/family_assistant/processing.py
  src/family_assistant/task_worker.py
  src/family_assistant/tools/__init__.py
  src/family_assistant/tools/camera.py
  src/family_assistant/tools/types.py
  src/family_assistant/web/routers/tools_api.py
  tests/functional/attachments/test_attachment_tools.py
  tests/functional/attachments/test_attachment_workflows.py
  tests/functional/automations/test_automations_crud.py
  tests/functional/automations/test_automations_execution.py
  tests/functional/automations/test_event_system_advanced.py
  tests/functional/automations/test_event_system_basic.py
  tests/functional/calendar/test_calendar_confirmation.py
  tests/functional/calendar/test_event_management.py
  tests/functional/home_assistant/test_history_tool.py
  tests/functional/indexing/test_document_retrieval.py
  tests/functional/indexing/test_indexing_events.py
  tests/functional/indexing/test_indexing_pipeline.py
  tests/functional/integration/test_mcp_sse_restart.py
  tests/functional/scripting/example_direct_tools.py
  tests/functional/scripting/test_direct_tool_callables.py
  tests/functional/scripting/test_script_attachment_api.py
  tests/functional/scripting/test_tools_api.py
  tests/functional/scripting/test_tools_security.py
  tests/functional/tools/test_data_manipulation.py
  tests/functional/tools/test_execute_script.py
  tests/functional/tools/test_execute_script_attachments.py
  tests/functional/tools/test_notes_append.py
  tests/functional/vector_search/test_vector_storage.py
  tests/integration/home_assistant/test_tools.py
  tests/unit/attachments/test_get_attachment_info_tool.py
  tests/unit/calendar_config/test_calendar_config_from_context.py
  tests/unit/scripting/test_jq_query_deadlock.py
  tests/unit/tools/test_camera_tools.py
  tests/unit/tools/test_tools_infrastructure.py
  uv.lock
Due: ruff-check, ruff-format, basedpyright, code-conformance, yamlfmt

refactor: make reolink dependencies regular instead of optional
  pyproject.toml
  src/family_assistant/camera/reolink.py
  uv.lock
Due: ruff-check, ruff-format, basedpyright, code-conformance

fix(camera): use curl for VOD download to bypass TLS issues
  src/family_assistant/camera/reolink.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

fix: improve camera frame extraction reliability and tools API
  frontend/src/chat/ToolUI.jsx
  frontend/src/chat/__tests__/ToolUI.test.jsx
  src/family_assistant/camera/reolink.py
  src/family_assistant/tools/camera.py
  src/family_assistant/web/routers/tools_api.py
  tests/unit/tools/test_camera_tools.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, biome-format, eslint

fix: properly merge max_iterations and prompts.yaml service_profiles into profile config
  src/family_assistant/__main__.py
  tests/unit/test_config_loading.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

docs: document thought signature behavior findings
  docs/development/gemini-thought-signatures.md
  src/family_assistant/processing.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

fix: add warning when camera search dates are more than 30 days old
  src/family_assistant/tools/camera.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

feat(camera): add live snapshot capability for connectivity testing
  src/family_assistant/camera/fake.py
  src/family_assistant/camera/protocol.py
  src/family_assistant/camera/reolink.py
  src/family_assistant/tools/__init__.py
  src/family_assistant/tools/camera.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

feat: add environment variable support for Reolink camera configuration
  Dockerfile
  config.yaml
  src/family_assistant/camera/reolink.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, yamlfmt

fix: add session validation and retry logic for camera frame extraction
  src/family_assistant/camera/reolink.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

fix: update camera_analyst profile configuration
  config.yaml
  prompts.yaml
Due: yamlfmt

fix: remove --extra reolink from Dockerfile
  Dockerfile
Due: none
