Repository werdnum/family-assistant: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt, biome-format, eslint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-check
        name: ruff-check
        entry: ruff check --fix --preview
        language: system
        types: [python]
      - id: ruff-format
        name: ruff-format
        entry: ruff format --preview
        language: system
        types: [python]
  - repo: local
    hooks:
      - id: basedpyright
        name: basedpyright
        entry: basedpyright
        language: system
        types: [python]
        pass_filenames: false
      - id: code-conformance
        name: code-conformance
        entry: .ast-grep/check-conformance.py
        language: system
        types: [python]
        pass_filenames: true
  - repo: local
    hooks:
      - id: mdformat
        name: mdformat
        entry: mdformat --wrap 100
        language: system
        types: [markdown]
        exclude: "(?x)^( \n  docs/python-telegram-bot-abridged\\.md|\n  docs/python-telegram-bot-abridged-filtered\\.md\n)$\n"
  - repo: local
    hooks:
      - id: yamlfmt
        name: yamlfmt
        language: golang
        entry: yamlfmt
        additional_dependencies:
          - github.com/google/yamlfmt/cmd/yamlfmt@v0.17.0
        types: [yaml]
  - repo: local
    hooks:
      - id: biome-format
        name: biome-format
        entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx @biomejs/biome format --write "${files[@]}"' --
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx|json)$
        exclude: ^frontend/(dev-dist/|package-lock\.json$)
        pass_filenames: true
      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx eslint --fix "${files[@]}"' --
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx)$
        pass_filenames: true

feat(notes): review ambient note writes at the write
  src/family_assistant/security/ambient_admission.py
  src/family_assistant/security/note_provenance.py
  src/family_assistant/security/taint.py
  src/family_assistant/services/tool_call_review.py
  src/family_assistant/storage/repositories/notes.py
  src/family_assistant/tools/infrastructure.py
  src/family_assistant/tools/notes.py
  src/family_assistant/tools/workspace_files.py
  tests/functional/notes/test_ambient_admission.py
  tests/functional/telegram/test_telegram_confirmation.py
  tests/unit/security/test_runtime_taint.py
  tests/unit/services/test_tool_call_review.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

feat(taint): reviewed definitions and ambient notes in the reviewer's bands
  src/family_assistant/context_providers.py
  src/family_assistant/security/definition_records.py
  src/family_assistant/services/tool_call_review.py
  src/family_assistant/task_worker.py
  src/family_assistant/tools/infrastructure.py
  tests/functional/automations/test_firing_resolution.py
  tests/functional/automations/test_legacy_definition_amnesty.py
  tests/functional/notes/test_reviewer_ambient_context.py
  tests/functional/tools/test_execute_script_review.py
  tests/unit/security/test_definition_resolution.py
  tests/unit/services/test_tool_call_review.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

docs: document ambient note admission and the machine_reviewed tier
  docs/design/ambient-note-admission-at-write-time.md
  docs/design/runtime-taint-machinery.md
  docs/operations/CONFIGURATION_REFERENCE.md
  docs/user/notes-and-skills.md
  prompts.yaml
  src/family_assistant/tools/notes.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt

fix(notes): make the revision check and the rollout restamp atomic
  src/family_assistant/security/note_restamp.py
  src/family_assistant/storage/repositories/notes.py
  tests/functional/notes/test_note_provenance_chokepoint.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

docs: update documentation and built-in skill for Keychute credential browsing
  docs/user/authenticated-sites.md
  docs/user/browser_automation.md
  docs/user/slash-commands.md
  src/family_assistant/skills/builtin/browser-automation.md
Due: mdformat

fix(taint): stamp and read script attachments with provenance; slim the title query
  src/family_assistant/scripting/apis/attachments.py
  src/family_assistant/storage/repositories/notes.py
  tests/functional/scripting/test_script_attachment_api.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

docs: address review feedback on Keychute credential browsing updates
  defaults.yaml
  docs/design/on-demand-browser-autofill.md
  docs/user/authenticated-sites.md
  docs/user/browser_automation.md
  src/family_assistant/tools/browser_autofill.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt

Add native voice action handoff to Chat and push notifications
  defaults.yaml
  docs/design/voice-action-handoff.md
  docs/user/interfaces.md
  frontend/src/sw.js
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatAPIClient.swift
  ios/FamilyAssistant/FamilyAssistant/Notifications/NotificationManager.swift
  ios/FamilyAssistant/FamilyAssistant/Voice/VoiceSessionViewModel.swift
  ios/FamilyAssistant/FamilyAssistant/Voice/VoiceToolRunner.swift
  ios/FamilyAssistant/FamilyAssistant/Voice/VoiceTranscript.swift
  ios/FamilyAssistant/FamilyAssistantTests/EphemeralTokenTests.swift
  ios/FamilyAssistant/FamilyAssistantTests/NotificationManagerTests.swift
  ios/FamilyAssistant/FamilyAssistantTests/VoiceSessionViewModelTests.swift
  ios/FamilyAssistant/FamilyAssistantTests/VoiceToolRunnerTests.swift
  ios/FamilyAssistant/FamilyAssistantWatch/WatchVoiceView.swift
  src/family_assistant/services/notifier.py
  src/family_assistant/tools/__init__.py
  src/family_assistant/tools/communication.py
  src/family_assistant/web/models.py
  src/family_assistant/web/routers/chat_api.py
  src/family_assistant/web/routers/tools_api.py
  src/family_assistant/web/web_chat_interface.py
  tests/functional/web/api/test_voice_sessions.py
  tests/unit/services/test_apns_service.py
  tests/unit/services/test_push_notification_service.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt, biome-format, eslint

Allow voice handoff in complex sessions
  defaults.yaml
  tests/unit/tools/test_voice_handoff_policy.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, yamlfmt

Normalize voice transcript times before saving
  docs/design/voice-action-handoff.md
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatAPIClient.swift
  ios/FamilyAssistant/FamilyAssistantTests/EphemeralTokenTests.swift
  src/family_assistant/web/models.py
  src/family_assistant/web/routers/chat_api.py
  tests/functional/web/api/test_voice_sessions.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Allow WebFetch and WebSearch without approval prompts
  .claude/settings.json
Due: none

Stop taint source totals compounding across message history
  src/family_assistant/security/taint.py
  tests/unit/security/test_runtime_taint.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Evaluate schedule automations from a stored recurrence anchor
  alembic/versions/2026_09_24-add_schedule_recurrence_anchor.py
  docs/user/scheduling.md
  src/family_assistant/skills/builtin/scheduling.md
  src/family_assistant/storage/repositories/schedule_automations.py
  src/family_assistant/storage/schedule_automations.py
  src/family_assistant/storage/types.py
  tests/functional/storage/test_automations_crud.py
  tests/functional/storage/test_schedule_recurrence_anchor_migration.py
  tests/unit/services/test_stale_automation_cleanup.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Cap COUNT so each advance's walk from the series start stays short
  docs/user/scheduling.md
  src/family_assistant/storage/repositories/schedule_automations.py
  tests/functional/storage/test_automations_crud.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

feat(mcp): sign MCP clients in with an external authorization server
  docs/design/mcp-adapter.md
  docs/operations/CONFIGURATION_REFERENCE.md
  docs/user/connecting-claude.md
  src/family_assistant/config_models.py
  src/family_assistant/web/auth.py
  src/family_assistant/web/mcp_adapter/config.py
  src/family_assistant/web/mcp_adapter/oauth/consent.py
  src/family_assistant/web/mcp_adapter/oauth/routes.py
  src/family_assistant/web/mcp_external_tokens.py
  tests/functional/web/api/test_mcp_external_auth.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Read the COUNT cap from the parsed rule
  src/family_assistant/storage/repositories/schedule_automations.py
  tests/functional/storage/test_automations_crud.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Take COUNT from dateutil's parsed rule instead of matching text
  src/family_assistant/storage/repositories/schedule_automations.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Document why merged taint totals are a lower bound
  src/family_assistant/security/taint.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Refuse recurrence sets, whose COUNT the anchor choice cannot see
  src/family_assistant/storage/repositories/schedule_automations.py
  tests/functional/storage/test_automations_crud.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Let reviewed scripts cover sandbox calls and model results
  docs/design/auto-tool-call-review.md
  docs/design/script-execution-review-boundary.md
  docs/operations/CONFIGURATION_REFERENCE.md
  docs/user/scripting.md
  src/family_assistant/scripting/invocation.py
  src/family_assistant/scripting/monty_engine.py
  src/family_assistant/services/tool_call_review.py
  src/family_assistant/tools/execute_script.py
  src/family_assistant/tools/infrastructure.py
  tests/cassettes/gemini/functional.web.api.test_thought_signature_persistence/test_multiturn_conversation_non_streaming_preserves_thought_signatures[postgres]/mldev.json
  tests/cassettes/gemini/functional.web.api.test_thought_signature_persistence/test_multiturn_conversation_non_streaming_preserves_thought_signatures[sqlite]/mldev.json
  tests/cassettes/gemini/functional.web.api.test_thought_signature_persistence/test_multiturn_conversation_with_tool_calls_preserves_thought_signatures[postgres]/mldev.json
  tests/cassettes/gemini/functional.web.api.test_thought_signature_persistence/test_multiturn_conversation_with_tool_calls_preserves_thought_signatures[sqlite]/mldev.json
  tests/cassettes/gemini/functional.web.api.test_thought_signature_persistence/test_streaming_multiturn_with_tool_calls_reproduces_bug[postgres]/mldev.json
  tests/cassettes/gemini/functional.web.api.test_thought_signature_persistence/test_streaming_multiturn_with_tool_calls_reproduces_bug[sqlite]/mldev.json
  tests/functional/tools/test_execute_script_review.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Review external destinations chosen after a model result
  docs/design/auto-tool-call-review.md
  docs/design/script-execution-review-boundary.md
  docs/user/scripting.md
  src/family_assistant/scripting/invocation.py
  src/family_assistant/scripting/monty_engine.py
  src/family_assistant/services/tool_call_review.py
  src/family_assistant/tools/infrastructure.py
  tests/functional/tools/test_execute_script_review.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

fix(mcp): throttle key-set refetches and 404 the consent page for signed-out callers
  src/family_assistant/web/auth.py
  src/family_assistant/web/mcp_adapter/config.py
  src/family_assistant/web/mcp_adapter/oauth/consent.py
  src/family_assistant/web/mcp_adapter/oauth/routes.py
  src/family_assistant/web/mcp_external_tokens.py
  tests/functional/web/api/test_mcp_external_auth.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

test(auth): hand get_user_from_api_token a real request
  tests/functional/web/api/test_app_auth.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

fix(mcp): serialize signing-key lookups so a cold cache is fetched once
  src/family_assistant/web/mcp_external_tokens.py
  tests/functional/web/api/test_mcp_external_auth.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Narrow script approval after any model-backed result
  docs/design/auto-tool-call-review.md
  docs/design/script-execution-review-boundary.md
  docs/operations/CONFIGURATION_REFERENCE.md
  docs/user/scripting.md
  src/family_assistant/services/tool_call_review.py
  src/family_assistant/tools/execute_script.py
  src/family_assistant/tools/infrastructure.py
  tests/cassettes/gemini/functional.web.api.test_thought_signature_persistence/test_multiturn_conversation_non_streaming_preserves_thought_signatures[postgres]/mldev.json
  tests/cassettes/gemini/functional.web.api.test_thought_signature_persistence/test_multiturn_conversation_non_streaming_preserves_thought_signatures[sqlite]/mldev.json
  tests/cassettes/gemini/functional.web.api.test_thought_signature_persistence/test_multiturn_conversation_with_tool_calls_preserves_thought_signatures[postgres]/mldev.json
  tests/cassettes/gemini/functional.web.api.test_thought_signature_persistence/test_multiturn_conversation_with_tool_calls_preserves_thought_signatures[sqlite]/mldev.json
  tests/cassettes/gemini/functional.web.api.test_thought_signature_persistence/test_streaming_multiturn_with_tool_calls_reproduces_bug[postgres]/mldev.json
  tests/cassettes/gemini/functional.web.api.test_thought_signature_persistence/test_streaming_multiturn_with_tool_calls_reproduces_bug[sqlite]/mldev.json
  tests/functional/tools/test_execute_script_review.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

fix(mcp): refuse a malformed authorization-server URL at startup
  src/family_assistant/config_models.py
  tests/unit/config/test_mcp_external_authorization_server.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Check mapping keys and ambient admission in script approval
  docs/design/script-execution-review-boundary.md
  src/family_assistant/tools/infrastructure.py
  tests/functional/notes/test_ambient_admission.py
  tests/functional/tools/test_execute_script_review.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

fix(mcp): refuse an issuer the metadata would rewrite; document Claude Code disconnect
  docs/user/connecting-claude.md
  src/family_assistant/config_models.py
  tests/unit/config/test_mcp_external_authorization_server.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Let a child script review decide its unreviewed caller
  src/family_assistant/tools/infrastructure.py
  tests/functional/tools/test_execute_script_review.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Let a review inside a bound child decide its unreviewed parent
  src/family_assistant/scripting/invocation.py
  src/family_assistant/services/tool_call_review.py
  src/family_assistant/tools/infrastructure.py
  tests/functional/tools/test_execute_script_review.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Carry a caller's model output into child script scopes
  src/family_assistant/scripting/invocation.py
  tests/functional/tools/test_execute_script_review.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Link audit rows in a bound child to the approving review
  src/family_assistant/scripting/invocation.py
  src/family_assistant/tools/infrastructure.py
  tests/functional/tools/test_execute_script_review.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Read sandbox literals from the whole bound program
  src/family_assistant/scripting/invocation.py
  tests/functional/tools/test_execute_script_review.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Document first-review program approval as best effort
  docs/design/script-execution-review-boundary.md
Due: mdformat

Design: record the verified propagation result and the wire-form limit
  docs/design/antigravity-stored-egress-credentials.md
Due: mdformat

Design: settle the Bearer-on-git question by measurement
  docs/design/antigravity-stored-egress-credentials.md
Due: mdformat

Route store-capable credentials through the credential store
  src/family_assistant/llm/antigravity_egress.py
  src/family_assistant/llm/providers/google_genai_client.py
  tests/unit/llm/test_antigravity_egress.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Add a client for the Interactions API credential store
  src/family_assistant/llm/antigravity_egress.py
  tests/unit/llm/test_antigravity_egress.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Rotate the stored egress credential on a recurring system task
  src/family_assistant/assistant.py
  src/family_assistant/llm/antigravity_egress.py
  tests/unit/llm/test_antigravity_egress.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Document stored egress credential rotation
  docs/design/antigravity-environment-and-credentials.md
  docs/design/antigravity-stored-egress-credentials.md
  docs/operations/CONFIGURATION_REFERENCE.md
  tests/functional/tasks/test_egress_credential_rotation_startup.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat
