Repository werdnum/family-assistant: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, basedpyright, mdformat, biome-format, eslint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-check
        name: ruff-check
        entry: ruff check --fix --preview
        language: system
        types: [python]
      - id: ruff-format
        name: ruff-format
        entry: ruff format --preview
        language: system
        types: [python]
  - repo: local
    hooks:
      - id: basedpyright
        name: basedpyright
        entry: basedpyright
        language: system
        types: [python]
        pass_filenames: false
  - repo: local
    hooks:
      - id: mdformat
        name: mdformat
        entry: mdformat --wrap 100
        language: system
        types: [markdown]
        exclude: "(?x)^( \n  docs/python-telegram-bot-abridged\\.md|\n  docs/python-telegram-bot-abridged-filtered\\.md\n)$\n"
  - repo: https://github.com/google/yamlfmt
    rev: v0.17.0
    hooks:
      - id: yamlfmt
  - repo: local
    hooks:
      - id: biome-format
        name: biome-format
        entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx @biomejs/biome format --write "${files[@]}"' --
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx|json)$
        pass_filenames: true
      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx eslint --fix "${files[@]}"' --
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx)$
        pass_filenames: true

fix(frontend): Prevent empty assistant message during streaming
  frontend/src/chat/ChatApp.tsx
Due: biome-format, eslint

Fix syntax error introduced by suggested change
  frontend/src/chat/ChatApp.tsx
Due: biome-format, eslint

fix(frontend): Add dark mode support to tools page
  frontend/src/tools/tools.css
Due: none

feat(scripting): Add attachment_create() function for Starlark scripts
  src/family_assistant/scripting/apis/attachments.py
  src/family_assistant/scripting/engine.py
  tests/functional/test_script_attachment_api.py
Due: ruff-check, ruff-format, basedpyright

feat: Add Home Assistant state history download tool
  config.yaml
  src/family_assistant/home_assistant_wrapper.py
  src/family_assistant/tools/__init__.py
  src/family_assistant/tools/home_assistant.py
  tests/functional/test_home_assistant_history_tool.py
Due: ruff-check, ruff-format, basedpyright

Update explanation for --no-verify command restriction
  .claude/banned_commands.json
Due: none

Enhance test verification script with reminders
  .claude/test-verification-core.sh
Due: none

fix: Address code review feedback
  src/family_assistant/tools/home_assistant.py
  tests/functional/test_home_assistant_history_tool.py
Due: ruff-check, ruff-format, basedpyright

Add Vega/Vega-Lite visualization tool for creating data charts
  config.yaml
  docs/user/USER_GUIDE.md
  prompts.yaml
  pyproject.toml
  src/family_assistant/tools/__init__.py
  src/family_assistant/tools/data_visualization.py
  tests/unit/test_data_visualization_tools.py
  uv.lock
Due: ruff-check, ruff-format, basedpyright, mdformat

Fix CSV parsing to handle newlines in quoted fields
  src/family_assistant/tools/data_visualization.py
Due: ruff-check, ruff-format, basedpyright

Clean up data_visualization profile configuration
  config.yaml
Due: none

refactor: Move data visualization guidance to dedicated profile
  config.yaml
  docs/user/USER_GUIDE.md
  docs/user/data_visualization.md
  prompts.yaml
Due: mdformat

feat: Enhance data_visualization profile with Home Assistant tools
  config.yaml
Due: none

fix: Update tools execute API call to match backend endpoint
  frontend/src/tools/ToolsApp.jsx
Due: biome-format, eslint

feat: Enhance data_visualization profile with Vega docs and tool restriction
  config.yaml
  docs/user/data_visualization.md
  docs/user/vega_lite_reference.md
Due: mdformat

fix(llm): Fix Gemini thought signature persistence bug
  src/family_assistant/llm/providers/google_genai_client.py
Due: ruff-check, ruff-format, basedpyright
