Repository werdnum/family-assistant: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt, biome-format, eslint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-check
        name: ruff-check
        entry: ruff check --fix --preview
        language: system
        types: [python]
      - id: ruff-format
        name: ruff-format
        entry: ruff format --preview
        language: system
        types: [python]
  - repo: local
    hooks:
      - id: basedpyright
        name: basedpyright
        entry: basedpyright
        language: system
        types: [python]
        pass_filenames: false
      - id: code-conformance
        name: code-conformance
        entry: .ast-grep/check-conformance.py
        language: system
        types: [python]
        pass_filenames: true
  - repo: local
    hooks:
      - id: mdformat
        name: mdformat
        entry: mdformat --wrap 100
        language: system
        types: [markdown]
        exclude: "(?x)^( \n  docs/python-telegram-bot-abridged\\.md|\n  docs/python-telegram-bot-abridged-filtered\\.md\n)$\n"
  - repo: local
    hooks:
      - id: yamlfmt
        name: yamlfmt
        language: golang
        entry: yamlfmt
        additional_dependencies:
          - github.com/google/yamlfmt/cmd/yamlfmt@v0.17.0
        types: [yaml]
  - repo: local
    hooks:
      - id: biome-format
        name: biome-format
        entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx @biomejs/biome format --write "${files[@]}"' --
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx|json)$
        exclude: ^frontend/(dev-dist/|package-lock\.json$)
        pass_filenames: true
      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx eslint --fix "${files[@]}"' --
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx)$
        pass_filenames: true

fix: add final iteration instruction when thought signatures present
  src/family_assistant/processing.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

fix(camera): switch to PLAYBACK streaming and fix timezone/port handling
  src/family_assistant/camera/reolink.py
  src/family_assistant/config_models.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

feat: add Reolink camera backend implementation
  src/family_assistant/camera/__init__.py
  src/family_assistant/camera/fake.py
  src/family_assistant/camera/protocol.py
  src/family_assistant/camera/reolink.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

feat: add wait-for-server.sh script for health check polling
  scripts/wait-for-server.sh
  tests/CLAUDE.md
Due: mdformat

feat: add Tool UI renderings for camera tools
  frontend/src/chat/ToolUI.jsx
Due: biome-format, eslint

Add pyright LSP to Claude Code plugins
  .claude/settings.json
Due: none

fix: improve camera frame extraction reliability and tools API
  frontend/src/chat/ToolUI.jsx
  frontend/src/chat/__tests__/ToolUI.test.jsx
  src/family_assistant/camera/reolink.py
  src/family_assistant/tools/camera.py
  src/family_assistant/web/routers/tools_api.py
  tests/unit/tools/test_camera_tools.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, biome-format, eslint

fix: add warning when camera search dates are more than 30 days old
  src/family_assistant/tools/camera.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

fix: camera tools now use local timezone instead of UTC
  src/family_assistant/tools/camera.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

fix: use DOWNLOAD instead of FLV for Reolink frame extraction
  src/family_assistant/camera/reolink.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

refactor: migrate camera config to Pydantic typed models
  src/family_assistant/assistant.py
  src/family_assistant/camera/reolink.py
  src/family_assistant/config_models.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

feat: add environment variable support for Reolink camera configuration
  Dockerfile
  config.yaml
  src/family_assistant/camera/reolink.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, yamlfmt

perf: parallelize camera frame extraction and add prefer_download option
  src/family_assistant/camera/reolink.py
  src/family_assistant/config_models.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

fix: properly merge max_iterations and prompts.yaml service_profiles into profile config
  src/family_assistant/__main__.py
  tests/unit/test_config_loading.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

fix: update camera_analyst profile configuration
  config.yaml
  prompts.yaml
Due: yamlfmt

fix: add session validation and retry logic for camera frame extraction
  src/family_assistant/camera/reolink.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

build: add ffmpeg to Docker image for camera frame extraction
  Dockerfile
Due: none

Fix devcontainer setup and add Reolink support
  .devcontainer/Dockerfile
  .devcontainer/docker-compose.yml
  .devcontainer/setup-workspace.sh
Due: yamlfmt

style: apply updated ruff formatting rules
  src/family_assistant/__main__.py
  src/family_assistant/context_providers.py
  src/family_assistant/processing.py
  src/family_assistant/storage/repositories/email.py
  src/family_assistant/storage/vector.py
  src/family_assistant/task_worker.py
  src/family_assistant/tools/attachment_utils.py
  tests/functional/telegram/test_telegram_handler.py
  tests/functional/web/ui/test_settings_ui.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Fix PostgreSQL null byte encoding error and inappropriate retry
  src/family_assistant/storage/context.py
  src/family_assistant/storage/message_history.py
  tests/unit/storage/test_sanitization.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Fix GoogleGenAIClient Computer Use integration and add E2E test
  src/family_assistant/llm/providers/google_genai_client.py
  tests/integration/llm/test_google_computer_use_integration.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Fix Computer Use tools to return ToolResult with URL for Gemini API
  src/family_assistant/llm/providers/google_genai_client.py
  src/family_assistant/tools/computer_use.py
  tests/integration/llm/test_google_computer_use_integration.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Fix code review issues in computer_use.py
  src/family_assistant/tools/computer_use.py
Due: ruff-check, ruff-format, basedpyright, code-conformance
