Repository werdnum/family-assistant: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt, biome-format, eslint

ruff-check:
  name: ruff-check
  entry: ruff check --fix --preview
  language: system

ruff-format:
  name: ruff-format
  entry: ruff format --preview
  language: system

basedpyright:
  name: basedpyright
  entry: basedpyright
  language: system
  pass_filenames: false

code-conformance:
  name: code-conformance
  entry: .ast-grep/check-conformance.py
  language: system
  pass_filenames: true

mdformat:
  name: mdformat
  entry: mdformat --wrap 100
  language: system

yamlfmt:
  name: yamlfmt
  language: golang
  entry: yamlfmt
  additional_dependencies:
  - github.com/google/yamlfmt/cmd/yamlfmt@v0.17.0

biome-format:
  name: biome-format
  entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx @biomejs/biome format --write "${files[@]}"' --
  language: system
  pass_filenames: true

eslint:
  name: eslint
  entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx eslint --fix "${files[@]}"' --
  language: system
  pass_filenames: true

docs(design): name the execution context as the source of inherited task priority
  docs/design/task-queue-priority-lanes.md
Due: mdformat

docs(design): add incident evidence and a due-latency signal to the task queue proposal
  docs/design/task-queue-priority-lanes.md
Due: mdformat

docs(design): add enqueue, processing and queue-state metrics to the task queue proposal
  docs/design/task-queue-priority-lanes.md
Due: mdformat

Route startup config logging through central redact_sensitive_config
  src/family_assistant/config_loader.py
  src/family_assistant/config_models.py
  tests/unit/test_config_loader.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

fix(indexing): drive the backfill from the corpus, and stop it jumping the queue
  docs/design/message-history-indexing-idempotency.md
  src/family_assistant/indexing/message_history_indexer.py
  src/family_assistant/storage/repositories/tasks.py
  src/family_assistant/storage/vector.py
  tests/functional/storage/test_message_history_querying.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

docs(design): keep parking handlers off the reserved task worker
  docs/design/task-queue-priority-lanes.md
Due: mdformat

docs(design): record the upgrade-time classification of the shared task type
  docs/design/task-queue-priority-lanes.md
Due: mdformat

feat(tasks): order the queue by due time instead of NULLS FIRST
  src/family_assistant/storage/repositories/tasks.py
  tests/functional/tasks/test_task_queue_ordering.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Omit whole-config startup logging on validation failures
  src/family_assistant/config_loader.py
  src/family_assistant/config_models.py
  tests/unit/test_config_loader.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

refactor(tasks): fold the legacy enqueue path into the repository
  src/family_assistant/actions.py
  src/family_assistant/indexing/processors/dispatch_processors.py
  src/family_assistant/storage/repositories/schedule_automations.py
  src/family_assistant/storage/tasks.py
  src/family_assistant/task_worker.py
  src/family_assistant/tools/tasks.py
  tests/functional/automations/test_ops_automation_confinement.py
  tests/functional/scripting/test_script_error_notification.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

feat(observability): add task queue metrics and sample them from the pool monitor
  docs/operations/MONITORING.md
  src/family_assistant/assistant.py
  src/family_assistant/observability/metrics.py
  src/family_assistant/storage/repositories/tasks.py
  src/family_assistant/task_worker.py
  tests/functional/tasks/test_task_queue_metrics.py
  tests/functional/tasks/test_task_queue_ordering.py
  tests/functional/tasks/test_task_worker_resilience.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

fix(observability): count tasks the worker rejects before dispatch
  docs/operations/MONITORING.md
  src/family_assistant/observability/metrics.py
  src/family_assistant/task_worker.py
  tests/functional/tasks/test_task_queue_metrics.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

feat(tasks): give every task a priority lane column
  alembic/versions/2026_09_07-add_task_priority.py
  src/family_assistant/storage/tasks.py
  src/family_assistant/storage/types.py
  tests/functional/storage/test_task_priority_migration.py
  tests/unit/test_otel_processing_spans.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

docs(monitoring): read the task queue metrics per lane
  docs/operations/MONITORING.md
  frontend/src/tasks/components/TaskCard.jsx
  src/family_assistant/web/routers/tasks_api.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, biome-format, eslint

docs(monitoring): give the fallback due-latency query a SQLite form
  docs/operations/MONITORING.md
Due: mdformat

feat(model-tiers): Auto routing, recording what it would choose
  defaults.yaml
  prompts.yaml
  src/family_assistant/assistant.py
  src/family_assistant/config_loader.py
  src/family_assistant/config_models.py
  src/family_assistant/llm/messages.py
  src/family_assistant/llm/model_routing.py
  src/family_assistant/llm/model_selection.py
  src/family_assistant/llm/model_tiers.py
  src/family_assistant/llm/utils/call_telemetry.py
  src/family_assistant/observability/metrics.py
  src/family_assistant/processing/service.py
  src/family_assistant/processing/types.py
  src/family_assistant/task_worker.py
  src/family_assistant/web/routers/chat_api.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, yamlfmt

test(model-tiers): the router's failure modes, and what shadow mode ships
  src/family_assistant/llm/model_routing.py
  src/family_assistant/llm/model_selection.py
  tests/unit/llm/test_model_routing.py
  tests/unit/llm/test_model_selection.py
  tests/unit/llm/test_shipped_model_routing.py
  tests/unit/test_config_loader.py
  tests/unit/test_metrics.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

test(model-tiers): the classifier a deployment actually builds at startup
  tests/unit/llm/test_shipped_model_routing.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

docs(model-tiers): what Auto is, and what shadow mode records
  AGENTS.md
  docs/operations/CONFIGURATION_REFERENCE.md
Due: mdformat

test(model-tiers): Auto through a whole turn, in both modes
  tests/functional/web/api/test_chat_model_routing.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

docs(model-tiers): what shadow mode costs, and where tier order comes from
  docs/operations/CONFIGURATION_REFERENCE.md
  prompts.yaml
Due: mdformat, yamlfmt

fix(model-tiers): a superseded tier takes its routing policy with it
  src/family_assistant/config_loader.py
  tests/unit/test_config_loader.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

fix(model-tiers): a prompt the classifier cannot render is a boot failure
  src/family_assistant/assistant.py
  src/family_assistant/llm/call_context.py
  src/family_assistant/llm/model_routing.py
  tests/unit/llm/test_model_routing.py
  tests/unit/llm/test_shipped_model_routing.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

docs(model-tiers): worker-started runs are never routed
  docs/design/model-tiers.md
Due: mdformat

fix: route an enqueued delegation on the history and attachments it will have
  src/family_assistant/processing/service.py
  src/family_assistant/tools/services.py
  tests/functional/automations/test_async_delegation.py
  tests/functional/web/api/test_chat_model_routing.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

feat(model-tiers): route where the run is created, on the whole conversation
  src/family_assistant/a2a/remote_service.py
  src/family_assistant/processing/protocol.py
  src/family_assistant/processing/service.py
  src/family_assistant/storage/repositories/message_history.py
  src/family_assistant/task_worker.py
  src/family_assistant/tools/services.py
  src/family_assistant/web/routers/chat_api.py
  tests/functional/automations/test_async_delegation.py
  tests/functional/tasks/test_callback_durable_confirmation.py
  tests/functional/web/api/test_chat_model_routing.py
  tests/functional/web/api/test_web_callback_taint.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

refactor(model-tiers): freezing is a property of the envelope
  src/family_assistant/llm/messages.py
  src/family_assistant/llm/model_selection.py
  src/family_assistant/llm/model_tiers.py
  tests/unit/llm/test_model_selection.py
  tests/unit/tools/test_delegation_policy.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

test(model-tiers): the shipped router builds without ambient provider keys
  tests/unit/conftest.py
  tests/unit/llm/test_shipped_model_routing.py
  tests/unit/llm/test_shipped_model_tiers.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

fix(model-tiers): record the decision on a turn that failed, and read the ask
  src/family_assistant/llm/model_routing.py
  src/family_assistant/processing/service.py
  src/family_assistant/web/turn_producer.py
  tests/functional/web/api/test_chat_model_routing.py
  tests/unit/llm/test_model_routing.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

fix(model-tiers): decide "nobody wrote this" and "what file is this" once
  docs/design/model-tiers.md
  src/family_assistant/a2a/remote_service.py
  src/family_assistant/processing/protocol.py
  src/family_assistant/processing/service.py
  src/family_assistant/task_worker.py
  src/family_assistant/tools/services.py
  tests/functional/tasks/test_callback_durable_confirmation.py
  tests/functional/web/api/test_chat_model_routing.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

test(storage): point the migration-ceiling test at the new head
  tests/functional/storage/test_statement_cancellation.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

feat(tasks): reserve worker capacity for the interactive lane
  src/family_assistant/assistant.py
  src/family_assistant/config_models.py
  src/family_assistant/storage/repositories/tasks.py
  src/family_assistant/task_worker.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

test(tasks): cover the reserved workers on both backends
  tests/functional/tasks/test_task_worker_pool.py
  tests/unit/test_task_handler_budgets.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

docs(tasks): document the general and reserved worker pool
  docs/design/multi-task-worker-pool.md
  docs/design/task-queue-priority-lanes.md
  docs/operations/CONFIGURATION_REFERENCE.md
Due: mdformat

feat(mcp): ship the Meshy AI 3D-generation MCP server
  Dockerfile
  defaults.yaml
  docs/operations/CONFIGURATION_REFERENCE.md
  docs/user/3d-models.md
  docs/user/USER_GUIDE.md
Due: mdformat, yamlfmt

docs(config): state the parked-run capacity caveat rather than a deadlock
  docs/operations/CONFIGURATION_REFERENCE.md
Due: mdformat

test: avoid production retry delays in frontend streaming tests
  frontend/AGENTS.md
  frontend/src/chat/__tests__/ChatApp.test.tsx
  frontend/src/chat/__tests__/ResumableStreaming.test.tsx
Due: mdformat, biome-format, eslint

test: amortize pytest startup with module-preserving adaptive shards
  scripts/CLAUDE.md
  scripts/run_pytest_adaptive.py
  scripts/run_pytest_shard.py
  tests/unit/test_run_pytest_adaptive.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

test: reuse SQLite schemas and remove redundant fixture work
  docs/development/test-suite-performance.md
  tests/CLAUDE.md
  tests/conftest.py
  tests/functional/storage/test_database_fixture_isolation.py
  tests/functional/web/conftest.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

Path conditions:
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  basedpyright: any of: \.py$
  code-conformance: any of: \.py$
  mdformat: any of: \.(md|markdown|mdown)$, but not: (?x)^( 
  docs/python-telegram-bot-abridged\.md|
  docs/python-telegram-bot-abridged-filtered\.md
)$

  yamlfmt: any of: \.(yaml|yml)$
  biome-format: any of: ^frontend/.*\.(js|jsx|ts|tsx|json)$, but not: ^frontend/(dev-dist/|package-lock\.json$)
  eslint: any of: ^frontend/.*\.(js|jsx|ts|tsx)$
