Repository werdnum/family-assistant: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, basedpyright, mdformat, biome-format, eslint

ruff-check:
  name: ruff-check
  entry: ruff check --fix --preview
  language: system

ruff-format:
  name: ruff-format
  entry: ruff format --preview
  language: system

basedpyright:
  name: basedpyright
  entry: basedpyright
  language: system
  pass_filenames: false

mdformat:
  name: mdformat
  entry: mdformat --wrap 100
  language: system

biome-format:
  name: biome-format
  entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx @biomejs/biome format --write "${files[@]}"' --
  language: system
  pass_filenames: true

eslint:
  name: eslint
  entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx eslint --fix "${files[@]}"' --
  language: system
  pass_filenames: true

Fix review hook JSON schema for ask permission
  .claude/review-hook.sh
Due: none

Update review hook to use recommended hookSpecificOutput format
  .claude/review-hook.sh
Due: none

Remove GitHub MCP server from Dev container
  .devcontainer/setup-workspace.sh
Due: none

Fix chat UI action bar flickering and layout shifts
  alembic/versions/2025_08_25-6daf0237b0ba_initial_schema.py
  frontend/src/chat/Thread.tsx
  src/family_assistant/storage/__init__.py
Due: ruff-check, ruff-format, basedpyright, biome-format, eslint

Fix review hook exit codes and show actual sentinel values
  .claude/review-hook.sh
Due: none

Fix Playwright browser installation in CI Dockerfile
  .devcontainer/Dockerfile.ci
Due: none

Fix Playwright browser installation path in CI
  .devcontainer/Dockerfile.ci
Due: none

Add debugging to understand Playwright browser installation paths
  .devcontainer/Dockerfile.ci
  .devcontainer/setup-workspace.sh
Due: none

Pin Playwright to 1.55.0 and optimize browser installation
  .devcontainer/Dockerfile
  .devcontainer/Dockerfile.ci
  pyproject.toml
  uv.lock
Due: none

Fix CI Dockerfile to use npx instead of /venv for playwright
  .devcontainer/Dockerfile.ci
Due: none

fix regexp
  .claude/review-hook.sh
Due: none

Remove debugging output from Playwright installation
  .devcontainer/Dockerfile.ci
  .devcontainer/setup-workspace.sh
Due: none

Fix review hook bypass logic and exit codes (#93)
  .claude/review-hook.sh
  .devcontainer/Dockerfile
  .devcontainer/Dockerfile.ci
  .devcontainer/setup-workspace.sh
  pyproject.toml
  uv.lock
Due: none

chore: expand dependabot coverage
  .github/dependabot.yml
Due: none

chore: check dependencies daily
  .github/dependabot.yml
Due: none

chore: check dependencies daily (#96)
  .github/dependabot.yml
Due: none

Skip Gemini PR reviews for Dependabot PRs
  .github/workflows/gemini-pr-review.yml
Due: none

test: broaden chat app coverage
  frontend/src/chat/__tests__/ChatApp.test.tsx
  frontend/src/chat/__tests__/ConversationSidebar.test.tsx
  frontend/src/chat/__tests__/ToolWithConfirmation.test.tsx
  frontend/src/test/setup.js
Due: biome-format, eslint

Add chat UI testing strategy and ToolWithConfirmation timer fix
  docs/design/chat-ui-testing-strategy.md
  frontend/src/chat/ToolWithConfirmation.tsx
Due: mdformat, biome-format, eslint

feat: implement realistic chat UI tests with MSW
  frontend/package-lock.json
  frontend/package.json
  frontend/src/chat/__tests__/ChatApp.test.tsx
  frontend/src/chat/__tests__/attachmentAdapter.test.js
  frontend/src/test/mocks/handlers.ts
  frontend/src/test/setup.js
  frontend/src/test/utils/renderChatApp.tsx
Due: biome-format, eslint

feat: comprehensive ChatApp test coverage expansion
  frontend/src/chat/__tests__/ChatApp.test.tsx
  frontend/src/chat/__tests__/ConversationSidebar.test.tsx
  frontend/src/chat/__tests__/ErrorHandling.test.tsx
  frontend/src/chat/__tests__/ToolWithConfirmation.test.tsx
Due: biome-format, eslint

fix: correct test handler endpoints and add missing timeout
  frontend/src/chat/__tests__/ErrorHandling.test.tsx
  frontend/src/test/mocks/handlers.ts
Due: biome-format, eslint

fix: improve timeout handling in ToolWithConfirmation
  frontend/src/chat/ToolWithConfirmation.tsx
Due: biome-format, eslint

fix: update devcontainer settings and remove throttle_backspaces wrapper
  .devcontainer/claude-wrapper.sh
  .devcontainer/settings.local.json
Due: none

Path conditions:
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  basedpyright: any of: \.py$
  mdformat: any of: \.(md|markdown|mdown)$, but not: (?x)^( 
  docs/python-telegram-bot-abridged\.md|
  docs/python-telegram-bot-abridged-filtered\.md
)$

  biome-format: any of: ^frontend/.*\.(js|jsx|ts|tsx|json)$
  eslint: any of: ^frontend/.*\.(js|jsx|ts|tsx)$
