Repository werdnum/family-assistant: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, basedpyright, mdformat, biome-format, eslint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-check
        name: ruff-check
        entry: ruff check --fix --preview
        language: system
        types: [python]
      - id: ruff-format
        name: ruff-format
        entry: ruff format --preview
        language: system
        types: [python]
  - repo: local
    hooks:
      - id: basedpyright
        name: basedpyright
        entry: basedpyright
        language: system
        types: [python]
        pass_filenames: false
  - repo: local
    hooks:
      - id: mdformat
        name: mdformat
        entry: mdformat --wrap 100
        language: system
        types: [markdown]
        exclude: "(?x)^( \n  docs/python-telegram-bot-abridged\\.md|\n  docs/python-telegram-bot-abridged-filtered\\.md\n)$\n"
  - repo: https://github.com/google/yamlfmt
    rev: v0.17.0
    hooks:
      - id: yamlfmt
  - repo: local
    hooks:
      - id: biome-format
        name: biome-format
        entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx @biomejs/biome format --write "${files[@]}"' --
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx|json)$
        pass_filenames: true
      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx eslint --fix "${files[@]}"' --
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx)$
        pass_filenames: true

Remove attachment_list from script API for security
  docs/design/multimodal-manipulation.md
  src/family_assistant/scripting/apis/tools.py
  src/family_assistant/scripting/engine.py
  src/family_assistant/tools/attachments.py
  src/family_assistant/tools/execute_script.py
  tests/functional/test_script_attachment_api.py
Due: ruff-check, ruff-format, basedpyright, mdformat

Consolidate AttachmentService into AttachmentRegistry and fix tool attachment persistence
  src/family_assistant/assistant.py
  src/family_assistant/processing.py
  src/family_assistant/scripting/apis/attachments.py
  src/family_assistant/scripting/engine.py
  src/family_assistant/services/__init__.py
  src/family_assistant/services/attachment_registry.py
  src/family_assistant/services/attachments.py
  src/family_assistant/task_worker.py
  src/family_assistant/telegram_bot.py
  src/family_assistant/tools/attachment_utils.py
  src/family_assistant/tools/attachments.py
  src/family_assistant/tools/communication.py
  src/family_assistant/tools/event_listeners.py
  src/family_assistant/tools/services.py
  src/family_assistant/tools/types.py
  src/family_assistant/web/dependencies.py
  src/family_assistant/web/routers/attachments_api.py
  src/family_assistant/web/routers/chat_api.py
  tests/conftest.py
  tests/functional/test_attachment_tools.py
  tests/functional/test_attachment_workflows.py
  tests/functional/test_delegation.py
  tests/functional/test_script_attachment_api.py
  tests/functional/test_script_wake_llm.py
  tests/functional/web/conftest.py
  tests/functional/web/test_chat_attachment_processing.py
  tests/functional/web/test_chat_ui_attachment_response.py
  tests/unit/test_attachment_security_boundaries.py
  tests/unit/test_get_attachment_info_tool.py
  tests/unit/test_processing_history_formatting.py
  tests/unit/test_processing_multimodal_integration.py
Due: ruff-check, ruff-format, basedpyright

Fix image generation issues and enable highlight tool
  config.yaml
  prompts.yaml
Due: none

remove duplicate comment
  tests/functional/test_smoke_callback.py
Due: ruff-check, ruff-format, basedpyright

Refactor image generation tools to use dependency injection
  config.yaml
  src/family_assistant/tools/__init__.py
  src/family_assistant/tools/image_backends.py
  src/family_assistant/tools/image_generation.py
  tests/functional/test_image_generation_integration.py
  tests/unit/test_image_generation_tools.py
Due: ruff-check, ruff-format, basedpyright

add fk for message id from attachments table
  src/family_assistant/storage/base.py
Due: ruff-check, ruff-format, basedpyright

Fix duplicate attach_to_response calls
  src/family_assistant/processing.py
  src/family_assistant/tools/attachments.py
  tests/functional/test_attachment_tools.py
Due: ruff-check, ruff-format, basedpyright

Remove redundant attachment_send function from script API
  docs/design/multimodal-manipulation.md
  src/family_assistant/scripting/engine.py
  src/family_assistant/tools/execute_script.py
  tests/functional/test_script_attachment_api.py
Due: ruff-check, ruff-format, basedpyright, mdformat

Enable attach_to_response tool in default profile
  config.yaml
Due: none

Add attachment support to delegate_to_service tool and test wake_llm with attachments
  src/family_assistant/tools/services.py
  tests/functional/test_delegation.py
  tests/functional/test_script_wake_llm.py
Due: ruff-check, ruff-format, basedpyright

Optimize dependabot configuration to reduce PR volume
  .github/dependabot.yml
Due: none

Fix flaky test_attachment_response_flow by handling LLM follow-up calls
  tests/functional/web/test_chat_ui_attachment_response.py
Due: ruff-check, ruff-format, basedpyright

Fix attachment response tests by using correct UI selectors
  tests/functional/web/test_chat_ui_attachment_response.py
Due: ruff-check, ruff-format, basedpyright

Fix AttachToResponseTool for existing conversations without enriched attachment metadata
  frontend/src/chat/AttachToResponseTool.tsx
  tests/functional/web/test_chat_ui_attachment_response.py
Due: ruff-check, ruff-format, basedpyright, biome-format, eslint

Implement automatic tool attachment display with LLM override
  docs/design/multimodal-manipulation.md
  prompts.yaml
  src/family_assistant/processing.py
  src/family_assistant/tools/home_assistant.py
  src/family_assistant/tools/image_generation.py
  src/family_assistant/tools/image_tools.py
  src/family_assistant/tools/mock_image_tools.py
  tests/unit/test_processing_multimodal_integration.py
Due: ruff-check, ruff-format, basedpyright, mdformat

Fix attachment processing to use proper ScriptAttachment objects
  src/family_assistant/scripting/apis/attachments.py
  src/family_assistant/scripting/apis/tools.py
  src/family_assistant/tools/attachment_utils.py
  src/family_assistant/tools/communication.py
  src/family_assistant/tools/image_tools.py
  src/family_assistant/tools/infrastructure.py
  src/family_assistant/tools/mock_image_tools.py
Due: ruff-check, ruff-format, basedpyright

Implement Camera → Annotate → Response workflow test with mock tools
  src/family_assistant/tools/__init__.py
  src/family_assistant/tools/communication.py
  src/family_assistant/tools/mock_image_tools.py
  tests/functional/test_attachment_workflows.py
Due: ruff-check, ruff-format, basedpyright

Harden attachment access control in delegate_to_service tool
  src/family_assistant/tools/services.py
  tests/functional/test_delegation.py
Due: ruff-check, ruff-format, basedpyright

Remove temporary test file
  test_simple_tool_call.py
Due: ruff-check, ruff-format, basedpyright

Fix attachment display issue in web UI
  frontend/src/chat/AttachToResponseTool.tsx
  frontend/src/test/mocks/handlers.ts
  test_simple_tool_call.py
  tests/functional/web/test_chat_ui_attachment_response.py
Due: ruff-check, ruff-format, basedpyright, biome-format, eslint

Fix image generation - properly decode Base64 image data from Gemini
  src/family_assistant/tools/image_backends.py
  src/family_assistant/tools/image_generation.py
Due: ruff-check, ruff-format, basedpyright

Add Event → Script → Camera → Wake LLM workflow test
  tests/functional/test_attachment_workflows.py
Due: ruff-check, ruff-format, basedpyright

Implement multimodal attachment support and refactor ProcessingService
  src/family_assistant/assistant.py
  src/family_assistant/interfaces.py
  src/family_assistant/processing.py
  src/family_assistant/scripting/apis/attachments.py
  src/family_assistant/scripting/apis/tools.py
  src/family_assistant/scripting/engine.py
  src/family_assistant/task_worker.py
  src/family_assistant/telegram_bot.py
  src/family_assistant/tools/__init__.py
  src/family_assistant/tools/attachments.py
  src/family_assistant/tools/communication.py
  src/family_assistant/tools/services.py
  src/family_assistant/web/routers/chat_api.py
  test_output.log
  tests/functional/test_attachment_tools.py
  tests/functional/test_calendar_integration.py
  tests/functional/test_delegation.py
  tests/functional/test_home_assistant_camera_tool.py
  tests/functional/test_home_assistant_template_tool.py
  tests/functional/test_mcp_integration.py
  tests/functional/test_note_tools.py
  tests/functional/test_processing_profiles.py
  tests/functional/test_recurring_task_timezone.py
  tests/functional/test_scheduled_script_execution.py
  tests/functional/test_script_attachment_api.py
  tests/functional/test_smoke_callback.py
  tests/functional/test_smoke_notes.py
Due: ruff-check, ruff-format, basedpyright

Implement attachment API for Starlark scripts with integration tests
  scripts/README.md
  src/family_assistant/scripting/apis/attachments.py
  src/family_assistant/scripting/engine.py
  src/family_assistant/tools/execute_script.py
  tests/functional/test_script_attachment_api.py
Due: ruff-check, ruff-format, basedpyright, mdformat

Fix lint errors and add migration for attachment foreign key
  alembic/versions/2025_09_24-f2e47092d2be_add_foreign_key_constraint_for_message_.py
  src/family_assistant/storage/base.py
Due: ruff-check, ruff-format, basedpyright

Fix User Image workflow test for code review compliance
  tests/functional/test_attachment_workflows.py
Due: ruff-check, ruff-format, basedpyright

Fix highlight_image tool error and attachment parameter processing
  src/family_assistant/tools/attachment_utils.py
  src/family_assistant/tools/infrastructure.py
  tests/unit/test_tools_infrastructure.py
Due: ruff-check, ruff-format, basedpyright

Implement tool-based attachment rendering for attach_to_response
  frontend/src/chat/AttachToResponseTool.tsx
  frontend/src/chat/ChatApp.tsx
  frontend/src/chat/ToolUI.jsx
  frontend/src/chat/ToolWithConfirmation.tsx
  frontend/src/chat/__tests__/StreamingAndToolCall.test.tsx
  frontend/src/chat/useStreamingResponse.js
  frontend/src/components/assistant-ui/attachment.tsx
  src/family_assistant/processing.py
  src/family_assistant/tools/attachment_utils.py
  src/family_assistant/web/routers/chat_api.py
  tests/functional/web/conftest.py
  tests/functional/web/test_chat_ui_attachment_response.py
  tests/functional/web/test_chat_ui_flow.py
Due: ruff-check, ruff-format, basedpyright, biome-format, eslint
