Repository werdnum/family-assistant: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt, biome-format, eslint

ruff-check:
  name: ruff-check
  entry: ruff check --fix --preview
  language: system

ruff-format:
  name: ruff-format
  entry: ruff format --preview
  language: system

basedpyright:
  name: basedpyright
  entry: basedpyright
  language: system
  pass_filenames: false

code-conformance:
  name: code-conformance
  entry: .ast-grep/check-conformance.py
  language: system
  pass_filenames: true

mdformat:
  name: mdformat
  entry: mdformat --wrap 100
  language: system

yamlfmt:
  name: yamlfmt
  language: golang
  entry: yamlfmt
  additional_dependencies:
  - github.com/google/yamlfmt/cmd/yamlfmt@v0.17.0

biome-format:
  name: biome-format
  entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx @biomejs/biome format --write "${files[@]}"' --
  language: system
  pass_filenames: true

eslint:
  name: eslint
  entry: bash -c 'cd frontend && files=(); for f in "$@"; do files+=("${f#frontend/}"); done && npx eslint --fix "${files[@]}"' --
  language: system
  pass_filenames: true

fix(ios): harden voice watchdog stall escalation and interruption end
  docs/design/ios-voice-mode.md
  ios/FamilyAssistant/FamilyAssistant/Voice/VoiceAudioEngine.swift
  ios/FamilyAssistant/FamilyAssistantTests/VoiceSessionViewModelTests.swift
Due: mdformat

fix(read_error_logs): gate extra_data, not tracebacks
  defaults.yaml
  docs/design/profile-confined-note-writes-and-automation-approvals.md
  src/family_assistant/tools/engineering.py
  tests/functional/tools/test_engineering_database.py
  tests/unit/tools/test_ops_automation_policy.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt

docs(design): situate note-write confinement in the provenance/taint roadmap
  docs/design/profile-confined-note-writes-and-automation-approvals.md
Due: mdformat

docs: add July 2026 project assessment; retire stale FUTURE_PLANS
  docs/FUTURE_PLANS.md
  docs/design/project-assessment-2026-07.md
Due: mdformat

fix(automations): confine script error notifications to the script's profile
  src/family_assistant/task_worker.py
  tests/functional/scripting/test_script_error_notification.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

fix(automations): guard schedule_future_callback and wake_llm updates
  src/family_assistant/tools/automations.py
  src/family_assistant/tools/tasks.py
  tests/functional/automations/test_ops_automation_confinement.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

fix(notes): refuse confined updates to notes outside the write confinement
  src/family_assistant/storage/repositories/notes.py
  src/family_assistant/tools/confirmation.py
  tests/functional/notes/test_note_write_policy.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

fix(web): thread profile confinement into live/API tool contexts
  src/family_assistant/web/routers/asterisk_live_api.py
  src/family_assistant/web/routers/tools_api.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

fix(engineering): reject non-boolean include_extra_data values
  src/family_assistant/tools/engineering.py
  tests/functional/tools/test_engineering_database.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

fix(profiles): quarantine event_handler notes; confirm complex ops delegation
  defaults.yaml
  docs/user/USER_GUIDE.md
  tests/unit/tools/test_ops_automation_policy.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat, yamlfmt

docs: justify lazy notes-repository imports; update design doc
  docs/design/profile-confined-note-writes-and-automation-approvals.md
  src/family_assistant/tools/notes.py
  src/family_assistant/tools/types.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

fix(automations): enforce wake confinement and profile context at execution time
  src/family_assistant/task_worker.py
  tests/functional/automations/test_ops_automation_confinement.py
  tests/functional/tasks/test_callback_durable_confirmation.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

fix(telephony): re-stamp transcript labels on title collisions
  src/family_assistant/web/routers/asterisk_live_api.py
  tests/unit/web/test_asterisk_live_api.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

fix(engineering): always bound the read_error_logs recency window
  docs/design/profile-confined-note-writes-and-automation-approvals.md
  src/family_assistant/tools/engineering.py
  tests/functional/tools/test_engineering_database.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

test: drop startup sleeps from the new notification tests
  tests/functional/scripting/test_script_error_notification.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

fix(events): refuse wake_llm listeners from wake-banned origin profiles
  src/family_assistant/assistant.py
  src/family_assistant/events/processor.py
  tests/functional/automations/test_ops_automation_confinement.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

fix(notes): enforce the write policy atomically with the upsert
  docs/design/profile-confined-note-writes-and-automation-approvals.md
  src/family_assistant/storage/repositories/notes.py
  tests/functional/notes/test_note_write_policy.py
Due: ruff-check, ruff-format, basedpyright, code-conformance, mdformat

fix(web): restore markdown formatting in chat messages
  frontend/src/chat/__tests__/MarkdownText.test.jsx
  frontend/src/styles/globals.css
Due: biome-format, eslint

fix(web): keep markdown blockquotes and tables usable on mobile and in bubbles
  frontend/src/styles/globals.css
Due: none

Add markdown styling and comprehensive MarkdownText tests (#996)
  frontend/src/chat/__tests__/MarkdownText.test.jsx
  frontend/src/styles/globals.css
Due: biome-format, eslint

docs: design runtime taint machinery
  docs/design/runtime-taint-machinery.md
Due: mdformat

fix(ios): stop auto-submitting the first word typed at launch
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatViewModel.swift
  ios/FamilyAssistant/FamilyAssistantTests/ChatViewModelTests.swift
Due: none

docs: add July 2026 project assessment; retire stale FUTURE_PLANS (#994)
  docs/FUTURE_PLANS.md
  docs/design/project-assessment-2026-07.md
Due: mdformat

Log taint dry-run "would enforce" decisions at ERROR level
  src/family_assistant/tools/infrastructure.py
  tests/unit/security/test_runtime_taint.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Fix runtime taint review gaps
  src/family_assistant/context_providers.py
  src/family_assistant/indexing/notes_indexer.py
  src/family_assistant/processing/context.py
  src/family_assistant/processing/service.py
  src/family_assistant/security/taint.py
  src/family_assistant/storage/notes.py
  src/family_assistant/task_worker.py
  src/family_assistant/tools/communication.py
  src/family_assistant/tools/notes.py
  src/family_assistant/tools/taint_helpers.py
  tests/functional/tasks/test_confirmation_tool_execution.py
  tests/functional/tasks/test_task_worker_resilience.py
  tests/unit/processing/test_processing_fail_fast.py
  tests/unit/security/test_runtime_taint.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Address runtime taint review gaps
  src/family_assistant/a2a/remote_service.py
  src/family_assistant/context_providers.py
  src/family_assistant/processing/protocol.py
  src/family_assistant/security/taint.py
  src/family_assistant/task_worker.py
  src/family_assistant/telegram/protocols.py
  src/family_assistant/telegram/service.py
  src/family_assistant/telegram/ui.py
  src/family_assistant/tools/infrastructure.py
  tests/functional/automations/test_async_delegation.py
  tests/functional/email_intake/test_email_actions.py
  tests/functional/telegram/test_telegram_confirmation.py
  tests/functional/web/api/test_a2a_client_integration.py
  tests/unit/security/test_runtime_taint.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Fix runtime taint review gaps
  alembic/versions/2026_07_06-add_message_history_taint_metadata.py
  src/family_assistant/llm/messages.py
  src/family_assistant/processing/service.py
  src/family_assistant/security/taint.py
  src/family_assistant/storage/repositories/message_history.py
  src/family_assistant/telegram/handler.py
  src/family_assistant/telegram/ui.py
  src/family_assistant/tools/infrastructure.py
  src/family_assistant/tools/notes.py
  src/family_assistant/web/routers/a2a_api.py
  src/family_assistant/web/routers/chat_api.py
  src/family_assistant/web/web_confirmation_ui_manager.py
  tests/functional/telegram/test_telegram_confirmation.py
  tests/functional/web/api/test_a2a_client_integration.py
  tests/unit/security/test_runtime_taint.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

Clarify deferred taint read broadening
  docs/design/runtime-taint-machinery.md
Due: mdformat

Record taint for completed confirmations
  src/family_assistant/tools/infrastructure.py
  tests/unit/security/test_runtime_taint.py
Due: ruff-check, ruff-format, basedpyright, code-conformance

fix(ios): stop chat auto-follow from yanking a scrolled-up reader (watchdog)
  docs/design/ios-chat-layout-watchdog-crash.md
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatViewModel.swift
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatViews.swift
  ios/FamilyAssistant/FamilyAssistant/Voice/VoiceView.swift
  ios/FamilyAssistant/FamilyAssistantTests/ChatLayoutBudgetTests.swift
  ios/FamilyAssistant/FamilyAssistantTests/ChatViewModelTests.swift
Due: mdformat

fix(ios): deliver externally opened URLs past the custom scene delegate
  ios/FamilyAssistant/FamilyAssistant/AppRouting.swift
  ios/FamilyAssistant/FamilyAssistant/FamilyAssistantApp.swift
  ios/FamilyAssistant/FamilyAssistant/Notifications/AppDelegate.swift
  ios/FamilyAssistant/FamilyAssistantTests/RouteTests.swift
Due: none

fix(ios): stop double-encoding deep-link query strings
  ios/FamilyAssistant/FamilyAssistant/Notifications/NotificationManager.swift
  ios/FamilyAssistant/FamilyAssistantTests/NotificationManagerTests.swift
Due: none

feat(ios): paste copied images into the chat composer
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatViews.swift
  ios/FamilyAssistant/FamilyAssistantTests/ChatViewModelTests.swift
Due: none

test(ios): end-to-end coverage for share-in and paste flows
  docs/user/USER_GUIDE.md
  ios/FamilyAssistant/FamilyAssistant/UITesting/UITestConfiguration.swift
  ios/FamilyAssistant/FamilyAssistantUITests/FamilyAssistantUITests.swift
Due: mdformat

docs: teach the assistant about the iOS composer paste button
  prompts.yaml
Due: yamlfmt

fix(ios): force-follow local sends explicitly; make sticky tests deterministic
  docs/design/ios-chat-layout-watchdog-crash.md
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatViewModel.swift
  ios/FamilyAssistant/FamilyAssistant/Chat/ChatViews.swift
  ios/FamilyAssistant/FamilyAssistantTests/ChatLayoutBudgetTests.swift
  ios/FamilyAssistant/FamilyAssistantTests/ChatViewModelTests.swift
Due: mdformat

Design FA integration for browser-server cookie jars
  docs/design/browser-cookie-jars.md
Due: mdformat

Note jars keep session data (cookies + storage), not just cookies
  docs/design/browser-cookie-jars.md
Due: mdformat

Address Codex review: interim egress gating, confirm forget, taint-gate list, guard invalidate
  docs/design/browser-cookie-jars.md
Due: mdformat

Path conditions:
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  basedpyright: any of: \.py$
  code-conformance: any of: \.py$
  mdformat: any of: \.(md|markdown|mdown)$, but not: (?x)^( 
  docs/python-telegram-bot-abridged\.md|
  docs/python-telegram-bot-abridged-filtered\.md
)$

  yamlfmt: any of: \.(yaml|yml)$
  biome-format: any of: ^frontend/.*\.(js|jsx|ts|tsx|json)$, but not: ^frontend/(dev-dist/|package-lock\.json$)
  eslint: any of: ^frontend/.*\.(js|jsx|ts|tsx)$
